[2021-03-09 11:22] rohank2502 opened #316 "Concept of Pointer To an Array !!"
As I have raised an issue for adding content on pointers i will also like to make contribution regarding the array pointer. Will explain the basic idea behind the concept in my own words !! I will start working on the issue once i get assigned for it.

[2021-03-09 11:23] chitrasingla opened #317 "Repeating and missing number"
Hey !!
I am interested in this project as GSSOC '21 participant.
And I would add the problem - find the repeating and missing number in C++.

@tarun26091999  Please assign me with this issue.
Thanks.

[2021-03-09 11:23] rohank2502 commented on #315
I will start working on it once i am assigned to it.

[2021-03-09 11:25] chitrasingla opened #318 "[GSSOC'21] Adding more 2D array problems"
Hey !!
I am interested in this project as GSSOC '21 participant.
And I would add some of the solved questions/examples for 2D arrays like finding transpose of a matrix, rotate the matrix anticlockwise.

Please assign me with this issue.
Thanks.

[2021-03-09 11:26] tejasimangale commented on #310
Hi, I would like to take up this issue using java as a part of Gssoc 2021

[2021-03-09 11:28] srisatya1197 commented on #318
I want to contribute to adding more 2d array problems issue. Please assign me this task as a part of GSSoC'21

[2021-03-09 11:43] Suhanii1214 commented on #254
Hey there everyone!!
I am very excited to work on this issue. I want to add code for insertion and deletion in an array using Java as a part of GSSOC'21.
Could you please assign this issue to me.
Thankyou!!

[2021-03-09 11:43] rohank2502 commented on #318
This issue is opened by a GSSOC participant itself @chitrasingla  Read the issue please

[2021-03-09 11:48] Suhanii1214 commented on #250
Hello!!
I am a java developer and I would like to contribute to this issue using Java as a part of GSSOC'21
Thankyou!!

[2021-03-09 11:49] Siddharth1006 commented on #270
I would like to solve this issue. I am confident with Sliding window algorithm in C++. I have used this algorithm many times.
If you can then please assign the above issue to me. Would love to work on it!

[2021-03-09 11:56] AasthaGoyalgit commented on #314
Hey!!

I am interested in this issue for adding dp problems  as a GSSOC'21 participant .
I'll be glad to work on this issue.

Thanks!!

[2021-03-09 11:57] aanchalrakheja commented on #311
Hey!! I would like to know more about the problem and contribute to it.

[2021-03-09 12:01] AasthaGoyalgit commented on #262
Hey!!

I am interested in this issue for applying merge sort on linked list in java as a GSSOC'21 participant .
I'll be glad to work on this issue.

Thanks!!

[2021-03-09 12:02] Siddharth1006 commented on #285
Hello! My name is Siddharth S. I am a C++ competitive programmer!
Many other participants have already mentioned algorithms they would like to work on. I would be more than comfortable to work on those above algorithms .
Also , if you are ok, then I can work on the same algorithms and couple of my own **using STL** and if **any other participant is comfortable, he/she can take work on the same alg

[2021-03-09 12:04] AasthaGoyalgit commented on #193
Hey!!

I am interested in this issue for reversing a linkedlist in java as a GSSOC'21 participant .
I'll be glad to work on this issue.

Thanks!!

[2021-03-09 12:06] AasthaGoyalgit commented on #152
Hey!!

I am interested in this issue in java as a GSSOC'21 participant .
I'll be glad to work on this issue.

Thanks!!

[2021-03-09 12:07] Suvraneel opened #320 "Luhn's Algorithm"
## 🚀 Feature

Luhn's Algorithm in CPP language

## Assignment
[C++]
Hello maintainers!
As a participant/CA for GSSOC '21,
I wish to contribute & resolve this issue with proper indentation, comments & sample I/O in C++.
Kindly assign me these issues under GSSOC '21...

## Pitch
This simple algorithm validates credit cards.

[2021-03-09 12:10] AasthaGoyalgit commented on #103
Hey!!

I am interested in this issue in java problems as a GSSOC'21 participant .
I'll be glad to work on this issue.

Thanks!!

[2021-03-09 12:10] Naman-12911 commented on #165
Hello sir, I am a participant of GSSOC.
I can solve this issue easily because I solved it in practice section.
please assign me this issue

[2021-03-09 12:11] AasthaGoyalgit commented on #59
Hey!!

I am interested in this issue in java problems as a GSSOC'21 participant .
I'll be glad to work on this issue.

Thanks!!

[2021-03-09 12:13] AasthaGoyalgit commented on #318
Hey!!

I am interested in this issue in java problems as a GSSOC'21 participant .
I'll be glad to work on this issue.

Thanks!!

[2021-03-09 12:15] aaadddiii opened #321 "construction of binary Tree from it's inorder and preorder traversals"
Hi,
I would like this in c++. It is a classic problem in data structures and is asked in many coding interviews
I am a participant of GSSoC'21 and would like to contribute in this repo.

[2021-03-09 12:25] shriya030 opened #322 "[GSSOC'21] Adding dynamic Programming problems"
I see that there are no dynamic programming problems in the repo so I want to add problems to it. I am a GSSOC'21 participant and would like to work on this issue. Please assign me this issue.

[2021-03-09 12:29] aaadddiii opened #323 "Iterative algorithm for preorder inorder and postorder traversal of binary tree"
Hi,
I would like this in c++. It is a classic problem in data structures and is asked in many coding interviews
I am a participant of GSSoC'21 and would like to contribute in this repo.

[2021-03-09 12:46] tarun26091999 commented on #124
do them in C++ and raise seprate PR for every algorithm. Also go through the guidelines before raising the PR.

[2021-03-09 12:48] AakankshaShah opened #324 "I"

[2021-03-09 12:48] #324 closed

[2021-03-09 12:49] AakankshaShah opened #325 "New Subtopic for mathematics"

[2021-03-09 12:50] AakankshaShah commented on #325
I would like to work on this under GSSOC'21 participant

[2021-03-09 12:54] anotherwebguy commented on #323
I would like to work on this issue under gssoc'21, plz assign this to me

[2021-03-09 12:57] Zeo-shark commented on #305
I am GSSoC '21 Participant and I would love to work for this issue in java as well as Python. I have a good hold over java and python and I know intermediates of Data Structures and their implementation. I feel that I am fit for this issue.

[2021-03-09 13:07] tarun26091999 commented on #248
do BFS and DFS in python, raise separate PRs.

[2021-03-09 13:12] RuchiGitHu opened #327 "Username_Validator"
This Issue is for validating username. During the sign-in or sign-up situation this issue take place to validate the username.
This will follow some policies as mentioned below.

- The username consists of  8 to 30 characters.
- The username can only contain alphanumeric characters and underscores (_).
- The first character of the username must be an alphabetic character.

This code will return a

[2021-03-09 13:15] tarun26091999 commented on #291
@divya1509 @Mahima0405 @guruc-134 write separate codes for height and diameter.

[2021-03-09 13:16] RuchiGitHu commented on #327
Hi @nakul-19 @rudrakshi99 @plazzy99, I want to work on this issue.
Please assign this to me. I will use java language to solve this issue....
Looking forward to contribute here under GSSOC 21.

[2021-03-09 13:17] Na2001 opened #328 "Array problems in java"
Hey!!
I'm a Gssoc participant. I can do solved problems on array.Can you assign me this.

[2021-03-09 13:19] MukulKolpe commented on #328
Hey, I am interested to solve this issue. Can you please assign it to me?

[2021-03-09 13:25] mgncodes commented on #42
Hello! I'd like to add solutions to some famous backtracking problems in Python 3 as a part of GSSoC '21. Please assign this issue.
@noob-26

[2021-03-09 13:25] Swetha126 commented on #124
Hey I am a GSSOC'21 participant.
I would like to code the following in Python along with time complexity and appropriate comments :
 1. Time sort
 2. Quick sort
 3. Merge sort
 4. Insertion sort
 5. Bubble sort
 6. Heap sort
Please assign me this issue

[2021-03-09 13:29] tanishq-arya opened #330 "Implement Queue using Array"
Hi, I'm a GSSOC'21 participant.

IDEA: I would like to implement Queues using Arrays
LANGUAGE: C++

I will surely mention working in comments in the code. Please assign me this issue.

[2021-03-09 13:34] MaitriDA commented on #157
Hey..
I am GSSOC'21 Participant. I am good at C++, I would like to contribute to the problem. Please assign this issue to me. I will explain the code using proper comments and also provide some examples

[2021-03-09 13:35] vedant-jain03 commented on #330
Hello
I want to contributed in this issue.
I will code using c++,python and c with good code flow with comments

[2021-03-09 13:37] vedant-jain03 commented on #189
@tarun26091999 thankyou for assigning I have started work on this.

[2021-03-09 13:38] vedant-jain03 commented on #244
@tarun26091999 thankyou for assigning me this issue. I wanted to know that in which language I should go ahead

[2021-03-09 13:39] neha030 commented on #124
I am a GSSOC'21 participant and want to work on it.
I can give the code in C++ with proper indentation, comment and description.
1.Bubble sort
2.merge sort
3.quick sort
4.Insertion sort
5.Selection sort
please assign me this task.

[2021-03-09 13:41] MaitriDA commented on #124
Hey I am a GSSOC'21 participant.
I would like to work on this problems. I am skilled in C++. I will make sure that the code works well with almost all the type of number array. I will give proper comments. Please assign this issue to me

[2021-03-09 13:43] tanyalava commented on #276
I am a  GSSOC'21 participant and I would really like to contribute to recursion algorithms  in C++ . Looking forward to the contribution.

[2021-03-09 13:44] MaitriDA commented on #318
Hey.
I am GSSOC'21 participant and skilled in C++. I would like to work on this problems. I will try to add more problems so that anyone who practice this problems will enhance his/her 2D array concept. Please assign me this issue

[2021-03-09 13:49] tanyalava commented on #183
I am a GSSOC'21 participant and I would really like to contribute to this algorithm . I will use C++ and will cover it in steps involving recursion , memoization and dynamic programming Looking forward to the contribution.

[2021-03-09 13:52] neha030 commented on #144
I am GSSOC'2021 participant. I want to work on this issue.
I can provide a C++ code with proper indentation ,comments and description.
1.inorder traversal
2.preorder traversal
3.postorder traversal

[2021-03-09 14:07] aish2002 opened #332 "Binary search Tree (No. of leaf nodes and Sorting)"
I'm a GSSoC'21 Participant. I can implement the following operations in binary search tree in C++

1. Insertion of nodes
2. Sorting using BST
3.  Count the number of leaf nodes.

Kindly assign this to me

[2021-03-09 14:08] neha030 commented on #152
I am GSSOC'2021 participant. I want to work on this issue.
I can provide a C++ code with proper indentation ,comments and description.
1.deletion  from end, beginning ,any position.
2.sort a linked list.
3.add new node  from end, beginning ,any position.
4.count no. of nodes.
5.reverse a linked list.

[2021-03-09 14:09] Na2001 commented on #330
Hey , can I do this using c.Please assign this to me.

[2021-03-09 14:11] aish2002 opened #333 "Sparse Matrix Representation"
I would like to implement Sparse Matrix Representation using Linked list in C++ as part of GSSoC'21

[2021-03-09 14:19] neha030 commented on #282
I am a GSSOC'21 participant and work on this issue.
I can provide the code in C++ with proper indentation comments and description.
please assign me the work.

[2021-03-09 14:28] neha030 commented on #262
I am a GSSOC'21 participant and work on this issue.
I can provide the code in C++ with proper indentation comments and description.
please assign me the work.

[2021-03-09 14:30] Coder-Srinivas commented on #321
I would like to implement the above problem in Java. I would write clean and neat code and add comments at regular intervals. Please assign me this issue as a part of GSSoC 2021.

[2021-03-09 14:31] rahulsrivastava1 commented on #332
Hey, i am a gsoc'21 participant. I can solve this particular issue.
that is no.of leaf nodes and also sorting in BST
kindly assign me to this!

[2021-03-09 14:32] rahulsrivastava1 commented on #330
hey i want to contribute in this particular issue.kindly assign me to this.

[2021-03-09 14:33] Aarti002 commented on #321
hey @aaadddiii can i take this issue as gssoc'21 participant i would like to write code in python  plzz assign this to me i would also put some comments to make my code more clearer  to understand, thank you!

[2021-03-09 14:36] rahulsrivastava1 commented on #251
Hi i am a Gssoc'21 participant. I want to contribute for this issue.
i can code in c++ using stack  to solve this issue i.e., balance paranthesis.
kindly assign me to this!

[2021-03-09 14:37] Aarti002 commented on #318
hey , i'm gssoc'21 participant can i take this issue i'm gonna use python and will try to pick out some serious issue faced by a competitive programmer for beginners.
Thank u!

[2021-03-09 14:37] rahulsrivastava1 commented on #98
i can do this .
please assign this to me.

[2021-03-09 14:39] Aarti002 commented on #317
hello, i'm a gssoc'21 participant can contribute some interesting array problems of  different levels .
Thanks!

[2021-03-09 14:40] Tanya170620 commented on #251
Hi!
I am GSSoC '21 participant and  I would like to contribute to balanced paranthesis issue in C++. It would be great if you could assign this issue  to me.
Thank You.

[2021-03-09 14:41] Aarti002 commented on #314
hey!
i'm a gssoc'21 participant can i contribute some dp problems with its solution in c++.
Thanks!!

[2021-03-09 14:42] kirtijha014 commented on #51
Hello maintainers!
As a participant  for GSSOC '21,
I wish to contribute & resolve this issue with proper indentation, comments & sample I/O in C or C++, or Java
Kindly assign me these issues under GSSOC '21

[2021-03-09 14:46] Swetha126 commented on #333
Hey! I am a GSSOC'21 participant
I would like to code for Sparse Matrix Representation using arrays in C++ and Python.
Please assign me this issue.

[2021-03-09 14:49] Riya764 commented on #328
Hey, I am interested to solve this issue. Can you please assign it to me?

[2021-03-09 14:50] Riya764 commented on #322
Hey, I am interested to solve this issue. Can you please assign it to me?

[2021-03-09 14:50] rahulsrivastava1 commented on #310
Hi, I would like to take up this issue using cpp as a part of Gssoc 2021

[2021-03-09 14:52] rahulsrivastava1 commented on #333
Hey i would like to work on this issue . can you assign me?

[2021-03-09 14:59] Ayushisood commented on #321
Hii @tarun26091999
I would like to contribute to this task as i am good with c++ data structures.
Kindly assign the task to me.

[2021-03-09 15:07] Ayushisood opened #338 "I can add Greedy Algorithm in the Algo-Tree"
Hey @tarun26091999
I can add Greedy Algorithm as i am very much familiar with data structures.
Kindly assign this task to me so as to i can contribute to it as a GSSOC'21 participant

[2021-03-09 15:08] SrinivasRedyy221 commented on #169
hello im a GSSOC'21 participant can solve it using c++.
please assign me is issue.

[2021-03-09 15:15] SwarnimaShishodia commented on #323
Hi I would like to solve this problem using C++

[2021-03-09 15:19] jeelnathani commented on #322
hello, I would like to contribute on dynamic programming problems such as 0-1 knapsack problem. Can you assign it to me?

[2021-03-09 15:21] anish-cpu commented on #217
Hi, I would like to implement this solution using Python. I will make sure my code is self-explanatory with meaningful variable names and comments. I would request you to add me as assignee for this task.

[2021-03-09 15:23] Alleny244 opened #340 "Garbage Collector in java (Dynamic Memory management)"
Java program to demonstrate the use of garbage collector. This is a important concept in dynamic memory allocation in java .
Being a part of the GSSOC'21, I would like to implement this in java .Please do assign this to me

[2021-03-09 15:27] Alleny244 opened #341 "Calculator using Swing in java"
To implement a java program that works as a simple calculator.  Properly arranged  buttons for digits and does
the '+', ' - ','*',' %'  operations properly. There is  a text field to display the result. Any possible exceptions
like divide by zero is handled Java Swing is used.

Being a part of the GSSOC'21, I would like to implement this in java .Please do assign this  to me

[2021-03-09 15:32] pallavidhere23 commented on #338
I am a GSSOC'2021 participant. Please assign me this work.I am good at C++,C,Java and python.Also good at algorithm and data structures.I will write programmes with detailed explanation and proper commenting.

[2021-03-09 15:35] banshita209 commented on #134
I would like to implement the fractional knapsack problem in java.

So kindly assign it to me so that a can contribute to GSSOC 21

[2021-03-09 15:36] pallavidhere23 commented on #317
I am a GSSOC'2021 participant. Please assign me this work.I am good at C++,C,Java and python.Also good at algorithm and data structures.I will write programmes with detailed explanation and proper commenting.

[2021-03-09 15:36] pallavidhere23 commented on #312
I am a GSSOC'2021 participant. Please assign me this work.I am good at C++,C,Java and python.Also good at algorithm and data structures.I will write programmes with detailed explanation and proper commenting.

[2021-03-09 15:37] pallavidhere23 commented on #305
I am a GSSOC'2021 participant. Please assign me this work.I am good at C++,C,Java and python.Also good at algorithm and data structures.I will write programmes with detailed explanation and proper commenting.

[2021-03-09 15:37] Alleny244 opened #343 "Sparse matrix in Java"
Program to efficiently represent a sparse matrix

Being a part of the GSSOC'21, I would like to implement this in java .Please do assign this to me

[2021-03-09 15:38] pallavidhere23 commented on #300
I am a GSSOC'2021 participant. Please assign me this work.I am good at C++,C,Java and python.Also good at algorithm and data structures.I will write programmes with detailed explanation and proper commenting.

[2021-03-09 15:38] pallavidhere23 commented on #285
I am a GSSOC'2021 participant. Please assign me this work.I am good at C++,C,Java and python.Also good at algorithm and data structures.I will write programmes with detailed explanation and proper commenting.

[2021-03-09 15:39] pallavidhere23 commented on #272
I am a GSSOC'2021 participant. Please assign me this work.I am good at C++,C,Java and python.Also good at algorithm and data structures.I will write programmes with detailed explanation and proper commenting.

[2021-03-09 15:40] #343 closed

[2021-03-09 15:40] pallavidhere23 commented on #251
I am a GSSOC'2021 participant. Please assign me this work.I am good at C++,C,Java and python.Also good at algorithm and data structures.I will write programmes with detailed explanation and proper commenting.

[2021-03-09 15:40] pallavidhere23 commented on #250
I am a GSSOC'2021 participant. Please assign me this work.I am good at C++,C,Java and python.Also good at algorithm and data structures.I will write programmes with detailed explanation and proper commenting.

[2021-03-09 15:41] pallavidhere23 commented on #248
I am a GSSOC'2021 participant. Please assign me this work.I am good at C++,C,Java and python.Also good at algorithm and data structures.I will write programmes with detailed explanation and proper commenting.

[2021-03-09 15:41] Alleny244 opened #345 "first-fit, best-fit and worst-fit memory allocations (Dynamic Memory Allocation)"
To Simulate first-fit, best-fit and worst-fit memory allocations in java.

Being a part of the GSSOC'21, I would like to implement this in java .Please do assign this to me

[2021-03-09 15:41] rudrakshi99 commented on #272
@matrix2131 mentions the language also.

[2021-03-09 15:42] pallavidhere23 commented on #220
I am a GSSOC'2021 participant. Please assign me this work.I am good at C++,C,Java and python.Also good at algorithm and data structures.I will write programmes with detailed explanation and proper commenting.

[2021-03-09 15:42] jeelnathani commented on #302
hello, I am GSSOC'21 participant and I would like to contribute on this. I can code in python. My all concepts are very much clear

[2021-03-09 15:43] yjaiswal05 commented on #328
Hey, I am interested to solve this issue. Can you please assign it to me?

I can write following programs in java :

1. Write a Java program to sort a numeric array and a string array.
2. Write a Java program to sum values of an array.
3. Write a Java program to calculate the average value of array elements.
4. Write a Java program to reverse an array of integer values.
5. Write a Java program to

[2021-03-09 15:43] kushal13112001 commented on #51
I am a GSSOC'21 participant and would like to contribute python code to this issue. Please assign me this issue.I will provide the best and understandable code

[2021-03-09 15:44] rudrakshi99 commented on #251
Already assigned.

[2021-03-09 15:44] #251 closed

[2021-03-09 15:46] Alleny244 opened #346 "Palindrome checker using Doubly Linked List"
To create a Doubly Linked List from a string taking each character from the string and to  Check if the
 given string is palindrome in java

Being a part of the GSSOC'21, I would like to implement this in java .Please do assign this to me

[2021-03-09 15:46] kushal13112001 commented on #152
I am GSSOC'2021 participant. I want to work on this issue.
I can provide a Python code with proper indentation ,comments and description.
1.deletion from end, beginning ,any position.
2.sort a linked list.
3.add new node from end, beginning ,any position.
4.count no. of nodes.
5.reverse a linked list.

[2021-03-09 15:48] rudrakshi99 commented on #312
@Vish-github Which algorithm will you use?

[2021-03-09 15:48] kanganabhargava commented on #322
I also want to contribute.

[2021-03-09 15:50] kanganabhargava commented on #302
I have a sound knowledge of Cpp and Data Structures. I can also contribute.

[2021-03-09 15:51] kanganabhargava commented on #321
I am GSSOC participant. I have a sound knowledge of Data Structures and Algorithms and Cpp. I want to contribute to this.

[2021-03-09 15:52] Vish-github commented on #312
i'll use the concept of hashing.
count the occurences of each element and store in a seperate count array or use Hashmap (unordered_map) from STL.

[2021-03-09 15:53] kanganabhargava opened #347 "Want to add problems on arrays and strings."
I want to add more problems on arrays and strings.

[2021-03-09 15:54] anshika-anku commented on #315
I would like to work on the concept of the pointer. I am well aware of this topic and have a good command of it. I'll make sure to explain it as simply as possible in my own language. Kindly assign this task to me.
thank you!

[2021-03-09 15:57] rohank2502 commented on #315
I am the one who is asking for permission !

[2021-03-09 16:00] japneetbhatia opened #348 "(GSSOC'21) Operations on Binary Tree"
I want to add some basic functions like:
1. Finding Size of Binary Tree
2. Finding Height of Binary Tree
3. Finding Minimum and Maximum element in Binary Tree
4. Find data in Binary Tree
Language : java

[2021-03-09 16:01] japneetbhatia commented on #348
Please assign this issue to me for GSSOC'21

[2021-03-09 16:01] Suvraneel opened #349 "Graphics Programs in C"
## Feature

Graphics & Animation Programs utilising a simple primitive header (graphics.h) in C language...
Includes :
1. Moving Car
2. Traffic Lights
3. Ball bouncing off edges of screen.

## Assignment
Hello maintainers!
As a participant/CA for GSSOC '21,
I wish to contribute & resolve this issue with proper indentation, comments & sample I/O in C.
Kindly assign me these issues under GSSOC '21..

[2021-03-09 16:22] vidhya001 opened #351 "Pims Algorithm in C++"
Hey, I am Vidhya, a GSSOC'21 participant.
I would like to implement the algorithm for the PRIMS AlGORITHM in C++ with neat explanatory code and test cases

@tarun26091999 @plazzy99 @rudrakshi99 Please assign me this issue

[2021-03-09 16:23] AbhignaSowgandhika02 commented on #347
I would like to add clean and easy to understand python code on arrays and strings. Please assign me for the same.

[2021-03-09 16:25] AbhignaSowgandhika02 commented on #328
I would like to add array problems in java and python too, if possible. I will add clean and neat code. Please assign me for the same.

[2021-03-09 16:25] srividhya14 commented on #345
To simulate best-fit, first-fit and worst fit memory allocations in C++.
I am a GSSOC 21 participant. Requesting  to allow me to implement this

[2021-03-09 16:26] itsIapetus commented on #351
I would like to work on this in Python under GSSoC'21, kindly assign it to me. Thank you

[2021-03-09 16:28] mgncodes commented on #42
Hi, I have made a PR with the solution for N-queens problem for this issue #350 . Kindly do the needful.
@rudrakshi99

[2021-03-09 16:30] Alleny244 opened #352 "User-Defined Exceptions"
A Java program that shows how to create a user-defined exception.
Being a part of the GSSOC'21, I would like to implement this in java .Please do assign this to me

[2021-03-09 16:32] Alleny244 opened #354 "Fibonacci Search"
Adding Fibonacci Search under Search Section in java
Being a part of the GSSOC'21, I would like to implement this in java .Please do assign this to me

[2021-03-09 16:33] FireQueen-3010 opened #355 "Coin Change (Greedy Approach)"
Hey, I am Diksha, a GSSOC'21 participant.
I would like to implement the algorithm for **Coin Change**(greedy approach) in Java.

@tarun26091999 @plazzy99 @rudrakshi99 Please assign me this issue

[2021-03-09 16:38] #349 closed

[2021-03-09 16:39] Alleny244 opened #356 "Matrix Transpose"
Java program to display the transpose of a given matrix.
Being a part of the GSSOC'21, I would like to implement this in java .Please do assign this to me

[2021-03-09 16:40] Op-panda commented on #354
Being a part of GSSOC'21 ,I would like to work on this problem. I will be implementing this in CPP. I will be explaining the problem with comments.  please assign this to me.

[2021-03-09 16:40] Alleny244 opened #357 "MultiThreading"
Write a Java program to create two threads: One for displaying all odd number between 1
and 100 and second thread for displaying all even numbers between 1 and 100.

[2021-03-09 16:42] FireQueen-3010 opened #358 "[GSSOC'21] Inverting a Tree"
Inverting a binary tree such that left subtree and right subtree are swapped and the children are also recursively inverted.
Being a part of the GSSOC'21, I would like to implement this in java. Please do assign this to me.

[2021-03-09 16:45] ritika656 commented on #356
As a particiapnt of GSSOC iwould like to implement this project in c++ kindly assign me this .
tanspose of a given matrix.

[2021-03-09 16:46] AbhignaSowgandhika02 opened #360 "Circular Linked List"
Hello, I am GSSOC'21 participant and would like to add clean code for linked lists in python.

[2021-03-09 16:51] Op-panda commented on #355
Hello, I am Amit , being a Gssoc'21 participant .   I would like to implement this algorithm for COIN CHANGE (Greedy approach) in CPP . Please assign this problem to me.

[2021-03-09 16:52] ritika656 commented on #354
i want to solve this problem in easiest of the way kindly assign m this project i will implement it in c++. highly grateful to you.

[2021-03-09 17:01] Saviour1001 opened #362 "Finding long factorials"
Hey there, I want to add the question of calculating long factorials such as !100 in an efficient way. The data types in languages such as C++ are not even big enough to store such a number, yet calculating it can be done via an algorithm.
 I could write the code in C++. Kindly assign this issue to me.

[2021-03-09 17:02] kanganabhargava opened #363 "Breadth First Search and Depth First Search in Graphs. Please assign this to me."

[2021-03-09 17:03] #363 closed

[2021-03-09 17:04] kanganabhargava opened #364 "KMP algorithm for pattern searching. Please assign this to me."

[2021-03-09 17:06] Abhinaba006 commented on #217
I am a GSSOC21 participant, I will like to work on this issue, I code in cpp or python with comments and easy to understand code, please assign me this issue @sayantan1413

[2021-03-09 17:07] japneetbhatia opened #365 "(GSSOC'21) Merge Sort in Linked List in java"
please assign this issue to me under GSSOC'21

[2021-03-09 17:28] banshita209 opened #366 "Multiplying large integer number algoritm using java"
I am a Gssoc21 participant. I like to implement Multiplying large integer problems (divide and conquer algorithm) using java.

kindly assign this problem to me so that I can contribute GSSOC21

[2021-03-09 17:30] Alleny244 opened #367 "Matrix Multiplication"
Write a Java program to multiply two given matrices.

I am a Gssoc21 participant. I like to implement this code using java.

kindly assign this problem to me so that I can contribute GSSOC21

[2021-03-09 17:38] Saviour1001 opened #368 "GSSoC Binary Exponentiation"
Finding a^b by the inbuilt functions of Java and C++ are kind of slow. We could make an algorithm that would work faster and calculate the result of the a^b much faster. I could add the C++ code of the algorithm of Binary Exponentiaition.

[2021-03-09 17:53] MaitriDA commented on #351
Hey.
I am skilled in C++ and would like tp take this issue as a part of GSSOC'21.

[2021-03-09 17:56] MaitriDA commented on #362
Hey!!
I am skilled in C++ and would like to work on this problem as a part of GSSOC'21.

[2021-03-09 17:58] MaitriDA commented on #355
hey!!
I am skilled in C++ and have a good understanding of DSA. I would like to work on this issue under GSSOC'21.

[2021-03-09 17:58] MaitriDA commented on #355
hey!!
I am skilled in C++ and have a good understanding of DSA. I would like to work on this issue under GSSOC'21.

[2021-03-09 17:58] ThumarHarsh commented on #321
Hi,
I would like this in c++. I am a participant of GSSoC'21 and would like to contribute in this repo.

[2021-03-09 17:59] ritika656 commented on #367
i would like to implement this code in c++. I will resolve this problem and use comments over there in order to make it more understandable . kindly assign me this work. contributor GSSOC PARTICIPANT .

[2021-03-09 17:59] MaitriDA commented on #346
Hey!!
I would like to work on this issue under GSSOC'21. I have a good knowledge of Data Structures in C++.Please assign me this issue

[2021-03-09 18:09] ritika656 commented on #347
I WANT TO ADD MORE PROBLEMS ON ARRAYS AND STRINGS . PLEASE GIV ME THIS OPPORTUNITY AND ASSIGN THIS WORK TO ME . GSSOC PARTICIPANT WILL EXPLAIN EACH AND EVRYTHING WITH PROPER EXPLANANTION INCLUDED WITH COMMENTS.

[2021-03-09 18:17] tarun26091999 commented on #338
@Ayushisood @pallavidhere23 you people need to be specific about the problem you are raising the issue about. Greedy is a way of solving problems, not a specific problem in itself.

[2021-03-09 18:17] #338 closed

[2021-03-09 18:18] tarun26091999 commented on #285
@plazzy99 look into this issue.

[2021-03-09 18:22] tarun26091999 commented on #248
do BFS and DFS in Java. Raise separate PRs.

[2021-03-09 18:23] Tanya170620 opened #369 "Two Sparse matrices multiplication implemented using Linked lists"
I am GSSoC'21 participant and I would like to do this in C++. It is a basic Data Structures and Algorithms concept and I would like to contribute in this repository.

[2021-03-09 18:26] Ayushisood commented on #338
Dijkstra's algorithm greedy approach

[2021-03-09 18:26] tarun26091999 commented on #312
you are using Counting sort, if I am not wrong. Its already done in #334 .

[2021-03-09 18:35] pallavidhere23 commented on #365
am a GSSOC'2021 participant. Please assign me this work.I am good at C++,C,Java and python.Also good at algorithm and data structures.I will write programmes with detailed explanation and proper commenting.

[2021-03-09 18:35] banshita209 opened #370 "(GSSOC21) Traveling Salesman Problem"
I am a GSSOC21 Participant.

I like to implement traveling salesman problem (branch and bound algorithm) using java.

SO kindly assign this problem to me so that I can contribute to my open source journey of GSSOC21

[2021-03-09 18:43] Dhanush2612 commented on #362
I am GSSOC 21 Participant. Can you assign me this issue?

[2021-03-09 18:44] Dhanush2612 opened #371 "Calculator using Python"
I am GSSOC 21 Participant. Can you assign me this issue?

[2021-03-09 18:45] Dhanush2612 opened #372 "Simple Digital Clock using Python"
I am GSSOC 21 Participant. Can you assign me this issue?

[2021-03-09 18:46] aish2002 opened #373 "Adjacency List and Adjacency Matrix Representation of Graph"
I would like to implement these graph representations in C++ as part of GSSoC'21

[2021-03-09 18:48] japneetbhatia opened #374 "(GSSOC'21) Finding Lowest Common Ancestor of a Binary Tree."
Hey, I'm GSSOC'21 participant. I want to implement the following problem in java. please assign this to me.

[2021-03-09 18:49] tarun26091999 commented on #338
raise a new issue with proper name.

[2021-03-09 18:51] soha28 commented on #371
I wanted to work on this issue as a GSSOC'21 participant. Can u please assign the issue ?

[2021-03-09 19:01] Na2001 commented on #341
Hey, i'am a participant of GSSOC can I do this please..

[2021-03-09 19:02] Na2001 commented on #330
Hey, I'm a GSSOC'21 participant.Can I do this please.

[2021-03-09 19:04] Na2001 commented on #305
Hey,I am GSSoC '21 Participant and I can do this.

[2021-03-09 19:04] muthuannamalai12 commented on #354
I would love to implement it in python as a part of Girl Script Summer of Code. Kindly assign me this issue @tarun26091999

[2021-03-09 19:05] Na2001 commented on #333
hey, Can I do this please.

[2021-03-09 19:12] Aarti002 commented on #362
hey  i'm a gssoc'21 participant can i  solve this issue in python .
Thanks!

[2021-03-09 19:26] Aarti002 commented on #348
hey i'm a gssoc'21 participant can you assign this issue to me i'm good enough in tree data structure  and  i can also add on some important and interesting problems with solutions in binary tree  so, please assign this to me.
language to  be use c++.

[2021-03-09 19:29] Aarti002 commented on #346
hey ! can u assign this to me under gssoc'21 i will  python language for its implementation.

[2021-03-09 19:31] SamarpanCoder2002 opened #378 "(GSSOC'21)Remove nth node from the end of a link list"
I would like to add this(Remove nth node from the end of a link list by C++) in that repo...... **_I am also a gssoc'21 participant_**... If I can forward with that, Please assign me in that...Thank you

[2021-03-09 19:33] Aarti002 commented on #347
hey @kanganabhargava i'm a gssoc'21 participant can i get this issue i can add on some important and interesting problems with its solution in python
Thank u!

[2021-03-09 19:36] Aarti002 commented on #333
hey i'm a gssoc'21 participant can i  work on this issue in python
Thank you!

[2021-03-09 19:39] Aarti002 commented on #332
hello can i work on this issue using c++ i would create  bst from scratch step by step with proper explanation using comments
so, please can you assign this to me.
Thank you!

[2021-03-09 19:41] Aarti002 commented on #330
Hello , can i take this issue as a gssoc'21 participate i'll be using python language to implement this.

[2021-03-09 20:03] anubhab-code commented on #145
I am a GSSoC'21 participant.
I can contribute to this issue in Python3 language.
If this hasn't been assigned to anyone with Python3 language, I would love to work on it.

[2021-03-09 20:09] anubhab-code commented on #79
I am a GSSoC'21 participant.
I can contribute to this issue in Python3 language.
If this hasn't been assigned to anyone with Python3 language, I would love to work on it.

[2021-03-09 20:11] anubhab-code commented on #56
I am a GSSoC'21 participant.
I can contribute to this issue in Python3 language.
If this hasn't been assigned to anyone with Python3 language, I would love to work on it.

[2021-03-09 20:12] ac-ayan opened #379 "(GSSOC21) Queue implementation using stack"
Would love to add the queue implementation using stack data structure.
User would not notice any sort of functional changes regarding entering elements to the queue nor deleting elements from the queue but there will be major difference in the implementation part.
Would be very grateful if assigned to the job !
Thanks

[2021-03-09 20:12] anubhab-code commented on #124
I am a GSSoC'21 participant.
I can contribute to this issue in Python3 language.
If this hasn't been assigned to anyone with Python3 language, I would love to work on it.

[2021-03-09 20:12] anubhab-code commented on #147
I am a GSSoC'21 participant.
I can contribute to this issue in Python3 language.
If this hasn't been assigned to anyone with Python3 language, I would love to work on it.

[2021-03-09 20:12] anubhab-code commented on #180
I am a GSSoC'21 participant.
I can contribute to this issue in Python3 language.
If this hasn't been assigned to anyone with Python3 language, I would love to work on it.

[2021-03-09 20:13] sg-iitg opened #380 "Sliding window maximum/minimum"
A program to retrieve the maximum/minimum element of each k sized continuous window of an array in O(n) time complexity. A good example where deque is useful.

I am a GSSOC'21 participant, and I would like to contribute the C++ code for this problem. I will make sure that the code is commented properly and follows all the given guidelines. Please give me this opportunity. Thankyou!

[2021-03-09 20:14] anubhab-code commented on #67
I am a GSSoC'21 participant.
I can contribute to this issue in Python3 language.
If this hasn't been assigned to anyone with Python3 language, I would love to work on it.

[2021-03-09 20:20] Suvraneel commented on #187
Kindly assign me the issue in Java then

[2021-03-09 20:41] AasthaSinha2305 opened #381 "(GSSOC'21) Standard N queen problem"
@rudrakshi99
hello, As a participant of gssoc'21 , I would like to add a standard N queen problem in backtracking section, where it will be user friendly and will display all the possible solutions of placing N queen on the board on (N X N) board.

language: C++
Can you please assign it to me.

[2021-03-09 20:49] Vansh-Gupta4 commented on #381
hello, As a participant of gssoc'21 , I would like to add a standard N queen problem in backtracking section, where it will be user friendly and will display all the possible solutions of placing N queen on the board on (N X N) board.

language: JAVA
Can you please assign it to me.

[2021-03-09 20:49] Vansh-Gupta4 commented on #379
Would love to add the queue implementation using stack data structure.
User would not notice any sort of functional changes regarding entering elements to the queue nor deleting elements from the queue but there will be major difference in the implementation part.
Would be very grateful if assigned to the job !
Thanks
I would be using Java

[2021-03-09 20:50] Vansh-Gupta4 commented on #378
I would like to add this(Remove nth node from the end of a link list) in that repo...... I am also a gssoc'21 participant.... If I can forward with that, Please assign me in that....I would code in java

[2021-03-09 21:11] Aarti002 commented on #282
hey there! i'm a gssoc'21 participant , can i work on this issue in python, will try to explain my code in the easiest way possible using comments.
Thank you!

[2021-03-09 21:17] Aarti002 commented on #227
hello there! can i work on this issue under gssoc'21 ,using python with proper explanatory comments.
Thank you!

[2021-03-09 21:21] Aarti002 commented on #220
hey @tarun26091999 can i work on this issue in python with proper explanatory comments .
please assign this issue to me
Thank you!

[2021-03-09 21:24] Alleny244 commented on #354
@tarun26091999 I have implemented the Fibonacci Search  in java with proper test cases, algorithm ,complexities and opened a pull request
https://github.com/Algo-Phantoms/Algo-Tree/pull/383

[2021-03-09 21:25] Aarti002 commented on #211
Hey there! i'm gssoc'21 participant can i work on this issue using python  with some explanatory comments to make the code more easier to understand , for a beginner as well.
please assign this to me.
Thank you!

[2021-03-09 21:29] Aarti002 commented on #148
hey @plazzy99 can i work on this issue in python under gssoc'21 in the most efficient algorithm possible with explanatory comments to make it easier to understand.
Please assign this to me
Thank you!

[2021-03-09 21:32] Aarti002 commented on #136
Hey @rudrakshi99 can i work on this issue in python under gssoc'21
Thank you!

[2021-03-10 02:58] drishtipeshwani opened #384 "(GSSOC'21) Detect Cycle in a Linked List"
Hello ! As a GSSOC Participant I would like to contribute and add the problem Detect Cycle in a Linked List in the Linked List part. Do assign it to me.
Language - c++
Thankyou

[2021-03-10 03:34] LayaMitta commented on #248
I am a GSSOC'2021 participant.Please assign me this work of BFS  and DFS in a binary tree. I am good at C,C++,Java and Python.
I will write code in C++ along with detailed explanation and comments.
@tarun26091999

[2021-03-10 03:37] LayaMitta commented on #192
Hello, I am GSSOC's 2021 particpant.I would like to implement level order traversal of binary tree without using any queues and this method will not be found in internet.I will attach my code in C,C++ along with proper documentation and comments.Please assign me this work.

[2021-03-10 03:40] Swetha126 commented on #384
Hey! I'm a GSSOC'21 participant. I would like to provide the code for Detecting cycle in a linked list using python.
Can you please assign me this issue?

[2021-03-10 03:40] LayaMitta commented on #144
I am GSSOC'2021 participant.I want to work on this problem.
I can provide a C and C++ code with proper explanation and comments.
Thank You!

[2021-03-10 04:01] kiruba-r11 opened #385 "StairCase Search in 2D Arrays"
The problem is to search for a key in a row and column sorted matrix. Since, the optimized solution searches for a key whose search path resembles a staircase, it is also known as StairCase search. I am a part of GSSoC'21, so I would like to implement this in CPP.

[2021-03-10 04:28] Naman-12911 commented on #372
Hello , Can I solve this issue please assign me under GSSOC.

[2021-03-10 04:29] Naman-12911 commented on #371
Hello sir , I can solve this issue please assign me this issue.under GSSOC

[2021-03-10 05:00] machine-sg commented on #374
Hi, I am GSSOC'21 participant. I want to do in C++. Please assign me this.

[2021-03-10 05:02] machine-sg commented on #385
Hi, I am a GSSOC'21 participant . I wish to work on this using C++. Please assign me this.

[2021-03-10 05:03] machine-sg commented on #354
I am a GSSOC'21 participant. I want to work on this using C++. Please assign me this .

[2021-03-10 05:08] machine-sg opened #386 "[GSSOC'21] Finding intersection point in a Y shaped Linked List"
Hi, I am a GSSOC'21 participant and I want to work on this using C++. I have 7 methods to discuss and I will explain each and every method with proper explanation. Please assign me this.

[2021-03-10 05:22] machine-sg commented on #356
Hi, I am a GSSOC'21 participant and I want to work on this using C++. I will explain my method with proper explanation. Please assign me this.

[2021-03-10 05:28] poojitha2002 commented on #379
I would like to work on this issue. Can you please assign this to me. I will be working with C++ or java.

[2021-03-10 05:28] AmrutaKoshe opened #387 "[GSSOC'21] Find nodes at a distance k from root in Binary tree"
Hi! I'm a GSSOC participant and would like to work on this using C++ .

[2021-03-10 05:30] poojitha2002 commented on #368
I would like to do work on this issue. I will make an algorithm which calculates a^b much faster than naive approach. I would like to implement it in Java.

[2021-03-10 05:42] anotherwebguy opened #389 "Prims algo for minimum spanning tree"
As a gssoc'21 participant i would like to contribute this algorithm in c++ for finding the minimum spanning tree using prims algorithm.
Plz assign me this issue @plazzy99 @tarun26091999 @anubhavitis @dheerajkotwani

[2021-03-10 05:52] Vishal-Singh-1996 commented on #351
Hey I am skilled in Java and would like to take this issue as a part of GSSoc'21
@tarun26091999
 @MaitriDA
@vidhya001
 @itsIapetus

[2021-03-10 05:55] Vishal-Singh-1996 commented on #220
Vishal-Singh-1996:patch/Palindrome

[2021-03-10 05:58] Vishal-Singh-1996 commented on #220
Algorithm/Special_algo/Palindrome.java

[2021-03-10 06:10] Vishal-Singh-1996 commented on #220
check and merge @tarun26091999 pls

[2021-03-10 06:12] MaitriDA commented on #371
Hey!!
I am a GSSOC'21 participant. I would like to take this issue. I would break this problem with the help of function. Please assign me this issue.

[2021-03-10 06:15] SanskaarPatni opened #390 "BackTracking Problems using Java"
I would like to add BackTracking solutions for common programs in Java as a part of GSSOC'21.
@tarun26091999

[2021-03-10 06:29] reneda opened #391 "Add Bellman Ford Algorithm in Java"
I would like to add the bellman ford algorithm to find the shortest path and detect negative edge cycles in Java.

[2021-03-10 06:30] reneda commented on #391
Kindly assign me this task

[2021-03-10 06:30] Alleny244 commented on #354
@tarun26091999 I have corrected the errors and made a pull request again
https://github.com/Algo-Phantoms/Algo-Tree/pull/383

[2021-03-10 06:39] tarun26091999 commented on #380
do link it with the special algo folder.

[2021-03-10 06:42] reneda opened #392 "Moore's Voting Algorithm in C++"
I would like to add the moores voting algorithm to find the majority element in an array in c++.
Kindly assign it to me

[2021-03-10 06:47] soukarsha122 commented on #170
@nakul-19 @plazzy99 @rudrakshi99 please assign this issue to me . I would love to work on it for GSSOC 21

[2021-03-10 07:16] ireneelizabethsabu opened #393 "Sorting in JavaScript"
Hi,
I would like to implement using JavaScript the following sorting algorithms.
1. Selection Sort
2. Cycle Sort

Please assign this to me as part of GSSOC'21.

[2021-03-10 07:16] #393 closed

[2021-03-10 07:18] sudhansukinng commented on #374
@japneetbhatia Please assign this issue to me under GSSOC'21. I will implement this issue in any one of  C++ and java. I will also add explainatory comments in  it. Thank you

[2021-03-10 07:22] japneetbhatia commented on #374
@sudhansukinng  I'm also a participant and I open this issue because I want to work on it you can open your own new issue and ask mentors to assign you.

[2021-03-10 07:25] japneetbhatia opened #394 "(GSSOC'21) Print all data in given range in Binary Search Tree."
Hey, I'm GSSOC'21 Participant and want to work on this issue in Java please assign this to me.

[2021-03-10 07:27] AasthaGoyalgit commented on #390
Hi,
I would like to work on this issue. Could you please assign it to me?

Thanks!!

[2021-03-10 07:27] AasthaGoyalgit commented on #392
Hi,
I would like to work on this issue. Could you please assign it to me?

Thanks!!

[2021-03-10 07:27] AasthaGoyalgit commented on #386
Hi,
I would like to work on this issue. Could you please assign it to me?

Thanks!!

[2021-03-10 07:28] AasthaGoyalgit commented on #394
Hi,
I would like to work on this issue. Could you please assign it to me?

Thanks!!

[2021-03-10 07:28] AasthaGoyalgit commented on #385
Hi,
I would like to work on this issue. Could you please assign it to me?

Thanks!!

[2021-03-10 07:29] AasthaGoyalgit commented on #365
Hi,
I would like to work on this issue. Could you please assign it to me?

Thanks!!

[2021-03-10 07:30] AasthaGoyalgit commented on #321
Hi,
I would like to work on this issue in java. Could you please assign it to me?

Thanks!!

[2021-03-10 07:32] japneetbhatia commented on #387
Hey, I'm GSSOC'21 participant I would like to work on this issue using java

[2021-03-10 07:34] Aarti002 commented on #321
hey, i have made pull request for this issue please review my code and let
me know if something is wrong.

Thank you

On Wed, Mar 10, 2021, 00:18 Tarun Yadav <notifications@github.com> wrote:

[2021-03-10 07:35] AasthaGoyalgit commented on #333
Hi,
I would like to work on this issue in java . Could you please assign it to me?

Thanks!!

[2021-03-10 07:38] rutuja2229 commented on #379
@ac-ayan  and @Vansh-Gupta4  I will like to work on this issue as GSSoC 2021 participant can u plz assign this to me.

[2021-03-10 07:39] AasthaGoyalgit commented on #346
Hi,
I would like to work on this issue in java. Could you please assign it to me?

Thanks!!

[2021-03-10 07:39] AasthaGoyalgit commented on #347
Hi,
I would like to work on this issue in java. Could you please assign it to me?

Thanks!!

[2021-03-10 07:41] AasthaGoyalgit commented on #312
Hi,
I would like to work on this issue. Could you please assign it to me?

Thanks!!

[2021-03-10 07:43] AasthaGoyalgit commented on #305
Hi,
I would like to work on this issue in java. Could you please assign it to me?

Thanks!!

[2021-03-10 07:43] AasthaGoyalgit commented on #280
Hi,
I would like to work on this issue in java. Could you please assign it to me?

Thanks!!

[2021-03-10 07:44] AasthaGoyalgit commented on #276
Hi,
I would like to work on this issue in java. Could you please assign it to me?

Thanks!!

[2021-03-10 07:44] AasthaGoyalgit commented on #272
Hi,
I would like to work on this issue in java. Could you please assign it to me?

Thanks!!

[2021-03-10 07:48] jankivaghasiya commented on #351
Hello sir, I would like to work on this in C++. Kindly assign me this.

[2021-03-10 07:49] prateek-jpg opened #395 "Anagram in java"
A program to check whether two strings are anagram of each other or not.

I am a GSSOC'21 participant, and I would like to contribute the Java code for this problem. I will make sure that the code is commented properly and follows all the given guidelines. Please give me this opportunity. Thankyou!

@rudrakshi99

[2021-03-10 07:52] jyoti-anjaly commented on #387
Hey, I'm GSSOC'21 participant and I would like to work on this issue using C++

[2021-03-10 07:54] prateek-jpg opened #396 "Multiply matrix in java"
A program to multiply two matrix in java.

I am a GSSOC'21 participant, and I would like to contribute the Java code for this problem. I will make sure that the code is commented properly and follows all the given guidelines. Please give me this opportunity. Thankyou!

@tarun26091999

[2021-03-10 07:54] ak566g opened #397 "Examples in Number Theory"
I would like to add examples in Number Theory. Please assign this issue to me.

[2021-03-10 07:56] prateek-jpg opened #398 "Counting sort in java"
A program to do counting sort in java.

I am a GSSOC'21 participant, and I would like to contribute the Java code for this problem. I will make sure that the code is commented properly and follows all the given guidelines. Please give me this opportunity. Thankyou!

@rudrakshi99

[2021-03-10 07:57] jankivaghasiya commented on #98
Hello sir,
I am Janki Vaghasiya - a GSSOC'21 participant.
I would like to solve this issue using C++. I will try my best to comment code in the best way and use proper testcases

[2021-03-10 07:59] rutuja2229 opened #399 "Modular Arithemetic queries on 10^500000 constraints"
In this, we are given two variables a and b, will perform operations like additions, multiplication, divisions, subtraction, and power of that two numbers with modular operation having numbers as 1<a,b<10^50000. This is a tricky one but good to know this.

 I am **_### participant in GSSoC 2021_**,Can mentors plz assign me this issue?

[2021-03-10 08:01] Akp6528 opened #400 "(GSSOC'21) Main Linked Lists Operations in C++"
Hey, I'm GSSOC'21 Participant
I would like to add Linked List problem solutions for common programs in C++ as a part of GSSOC'21.
@tarun26091999 .

ex.  Find nth node from the end of the list
      Count: returns the number of elements in the list
      Main Linked Lists Operations

[2021-03-10 08:16] tarun26091999 commented on #400
you need to be specific @Akp6528 . You can ask for common programs. You need to raise separate issue for every code.

[2021-03-10 08:16] #400 closed

[2021-03-10 08:19] Annanya481 commented on #398
Hi! I am a GSSOC'21 participant and I would like to contribute towards this issue using C++. I'll be sure to follow the guidelines and provide proper documentation as well. Thank you!
@rudrakshi99

[2021-03-10 08:22] Sloth-Panda opened #401 "array manipulation"
would like to implement in java please assign me under gssoc21

[2021-03-10 08:24] Sloth-Panda opened #402 "left rotation of array"
would like to implement it under gssoc'21 please assign it to me

[2021-03-10 08:26] Sloth-Panda opened #403 "snakes and ladders"
would like to implement it in java please assign it to me

[2021-03-10 08:28] tarun26091999 commented on #220
@Vishal-Singh-1996 you haven't raised the PR yet.

[2021-03-10 08:32] Akp6528 opened #404 "Add two numbers represented by linked lists"
Hey, I'm GSSOC'21 Participant and want to work on this issue in C++
Please assign this to me @tarun26091999  @rudrakshi99

[2021-03-10 08:41] Annanya481 commented on #67
Hi! I am a GSSOC'21 participant. I would like to contribute to this issue in C++.

[2021-03-10 08:57] kushal13112001 commented on #394
Hey, I'm GSSOC'21 Participant and want to work on this issue in Python please assign this to me.

[2021-03-10 09:41] kiruba-r11 commented on #385
@tarun26091999 Can you please assign me this issue

[2021-03-10 09:42] kevla-4121 opened #406 "Quick Sort"
Implement quick sort using c++

[2021-03-10 09:56] Vyom-Yadav commented on #380
@tarun26091999 I can do this question in Java?

[2021-03-10 10:25] abhishek-iiit commented on #177
As a GSSOC21 participant,
Can, i too work on this issue @plazzy99  ?
If so,can you please assign me this issue...

[2021-03-10 10:32] rohitsigar commented on #51
@nakul-19 @plazzy99 I have completed this task and wrote code in c++ and java and done PR in their respective folders so please check my PR [#361 ](https://github.com/Algo-Phantoms/Algo-Tree/pull/361)

[2021-03-10 10:39] nishantsahu961 commented on #404
Hey I would like to work upon this issue in C++/Java , plesae guide me how should i start working upon it

[2021-03-10 10:43] sukritidawar commented on #51
Hi, I think you were assigned for java only

[2021-03-10 10:51] nishantsahu961 commented on #402
Hey I would like to work upon this issue , Can you tell more about it

[2021-03-10 10:53] rutuja2229 commented on #399
@tarun26091999  Can you plz check and merge  PR I made right now plz?

[2021-03-10 10:53] nishantsahu961 commented on #398
Hey I would like to work upon this issue using C++/Java under proper guidelines , can you tell more about this issue

[2021-03-10 11:00] krishna-NIT commented on #396
Hi,
I am GSSOC'21 participant

My code will be in JAVA with proper comments and test cases.
@rudrakshi99 @nakul-19 @plazzy99 please assign me this issue

[2021-03-10 11:01] krishna-NIT commented on #401
Hi,
I am GSSOC'21 participant

My code will be in JAVA with proper comments and test cases.
@rudrakshi99 @nakul-19 @plazzy99 please assign me this issue

[2021-03-10 11:01] krishna-NIT commented on #406
Hi,
I am GSSOC'21 participant

My code will be in JAVA with proper comments and test cases.
@rudrakshi99 @nakul-19 @plazzy99 please assign me this issue

[2021-03-10 11:04] Sloth-Panda commented on #401
@krishna-NIT try to make it in  certain other languages I have already asked to for java Or create other new issues

[2021-03-10 11:06] taruni-always commented on #248
Hello, I would like to work on DFS and BFS in C Language. Please assign this to me under GSSoC '21.

[2021-03-10 11:11] taruni-always opened #409 "Infix to Prefix Conversion"
I would like to work on infix to prefix conversion in C/C++. Please assign this to me under GSSoC '21.

[2021-03-10 11:12] isha2199 opened #410 "Algo-Tree/Strings (GSSOC'21)"
'''
There is no question in the strings section.
I want to add some questions in C++
The most basic one:
1.Anagrams
2.Substring search
and the list goes on
'''
Hey @tarun26091999 @rudrakshi99 , I am a GSSOC'21 participant, want to contribute to this open-source. I want to add these two questions in Strings!!
Please assign it to me!!

[2021-03-10 11:12] btanisha commented on #409
Hey, I can do the same in Python, please assign this to me under GSSOC.

[2021-03-10 11:15] Abhinaba006 commented on #193
@raksha009 I am a GSSOC21 participant, I will like to work on this issue using python, Please assign me for this work

[2021-03-10 11:16] btanisha opened #411 "Kadane's algorithm in Python (GSSOC'21)"
I noticed that the array folder has Kadane's algorithm only in C++. I would like to contribute by writing a well-explained and clean code for the same. Please assign this issue to me under GSSOC 2021.

[2021-03-10 11:18] btanisha opened #412 "Dutch National Flag problem in C++/Python"
I would like to contribute by writing a well-explained and clean code for the same. Please assign this issue to me under GSSOC 2021.

[2021-03-10 11:19] jankivaghasiya commented on #193
I would like to contribute to this using C++ as a GSSOC'21 participant. Kindly assign me this issue.

[2021-03-10 11:23] ruchipotamsetti opened #413 "Merge Overlapping Intervals"
In this we are given an array of intervals, we have to merge all overlapping intervals, and return an array of the non-overlapping intervals that cover all the intervals in the input.

I am **_ participant in GSSoC 2021_**, Can @tarun26091999  you plz assign me this issue?

[2021-03-10 11:25] Harikrishnan6336 opened #415 "Tim Sort"
I would like to implement Tim Sort in C++ as part of GSSOC'21. Kindly assign this to me.
@tarun26091999

[2021-03-10 11:28] krishna-NIT commented on #401
No issue friend, ya, you will get opportunity first, I just have commented so, that if any one needs help regarding this issue, then I can help them .. @Sloth-Panda

[2021-03-10 11:29] taruni-always opened #416 "Reversing individual words of string using stacks"
I would like to write the code for reversing individual words of a string using stacks in C++.
Input String: He is good
Output String: eH si doog

Please assign this to me under GSSoC '21

[2021-03-10 11:30] RYzen-009 commented on #157
hello sir,
I am Tanmay Mathur-a GSSOC'21 participant.
I would like to contribute to this using C++. I will solve this question using sieve of eratosthenes technique with proper comments along with some test cases

[2021-03-10 11:39] krishna408 commented on #220
#329

[2021-03-10 11:40] SwarnimaShishodia commented on #416
I would like to solve this question using C++

[2021-03-10 11:42] SaumyaSingh1 opened #417 "[Demo, Ignore] Arrays : Two Sum"
**Explanation**:

Given an array, print a pair of number that is equal to Target.

**Example** :

Hey @rudrakshi99 , I want to add this imp question in the `Algo-Tree/Code/C++`.

[2021-03-10 11:43] krishna408 commented on #417
yo

[2021-03-10 11:47] PrerakMathur20 opened #418 "[Ignore] Issue"
**Explanation**

**Example**

End

[2021-03-10 11:49] matrix2131 commented on #272
The language i am going to use is C++.

[2021-03-10 11:51] RituCs opened #419 "Pair Sum Problem using two pointer in C++"
I noticed that the array folder doesn't have Pair Sum problem using two pointer approach. I would like to contribute by writing a well-explained and clean code for this problem in C++. Please assign this issue to me under gssoc'21.

[2021-03-10 11:52] #418 closed

[2021-03-10 11:54] SSHREYA71 commented on #180
I would like to work on this issue, please assign it to me

[2021-03-10 11:54] Atif-reyaz-khan opened #421 "Count of set bits of a number"
I noticed that the bit manipulation  folder doesn't have count of set bits problem Algorithms. I would like to contribute by writing a well-explained and clean code for this problem in C++. Please assign this issue to me under gssoc'21.

[2021-03-10 12:01] NidhiChaurasia opened #422 "[Demmo,ignore]Arrays : Two Sum"
**explanation**
Given an array,print of number that is equal to target.
**example**
hey,@rudrakshi99,I want to add this imp ques in the Algo -Tree/Code/C++

[2021-03-10 12:15] Priya761 opened #423 "Arrays: Two Sum"

[2021-03-10 12:18] Jainish-shah commented on #371
I am GSSOC 21 Participant. I would love to create a calculator using functions. Please assign the issue...

[2021-03-10 12:19] #371 closed

[2021-03-10 12:19] anirudhsai20 opened #424 "README.md file enhancement"
The README.md file can be enhanced by adding a list of all the open source programs in which this project is a part of. Also a beautiful table of contributors can be added and there are minor grammatical errors that needs correction.

[2021-03-10 12:19] anirudhsai20 commented on #424
Hi! Please assign this issue to me under GSSOC.

[2021-03-10 12:23] hritikgupta92 commented on #323
Hi, Can you assign this problem to me,I can contribute to it in c and c++.

[2021-03-10 12:27] madhvi02 commented on #394
Hey
I am GSSOC'21 participant and really want to contribute on this issue in C++.Can you please assign this to me .

[2021-03-10 12:27] madhvi02 commented on #413
Hey,
I really want to contribute to this issue .So can you please give a chance to contribute to  this.

[2021-03-10 12:29] nandinit02 opened #425 "Longest Common Substring using Dynamic Programming"
I would like to write a code for the Longest Common Substring  Problem. In this problem we have to determine the length of longest common substring between two given strings. I will implement it using Dynamic Programming in C++ with proper comments and explanation of the code.
I am a participant of **GSSOC'21**.
I request the mentors to assign me this question.
@tarun26091999 @anubhavitis @dheeraj

[2021-03-10 12:31] anjalibanerjee01 commented on #262
I am a GSSOC'21 participant and I would like to contribute in this using C++ with proper code and comments.
Please assign me this.

[2021-03-10 12:31] Himani-D commented on #262
I am interested in this issue for applying merge sort on linked list  in C++/Java as a GSSOC'21 participant .
I'll be glad to work on this issue. Please assign me this.

[2021-03-10 12:31] hritikgupta92 commented on #318
Hey, I am GSSOC'21 and skilled in C and C++.I will add more problems apart from transpose,rotate.I can add some more problems as well

[2021-03-10 12:32] manastole03 opened #427 "[GSSOC'21] String Algorithm"
Hey, I am Manas Tole a GSSOC'21 Participant. I am having experience in java Coding as well as I am doing Competitive coding in the java programming language.
I want to write algorithm for World Wrap Problem in Java programming language

Please assign this task to me :)
Thank-you.

 @anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99

[2021-03-10 12:35] Himani-D commented on #248
I am interested in data structures and I would love to work  on BFS and DFS in C++,C as a GSSOC'21 participant .
Please assign me this.

[2021-03-10 12:35] madhvi02 commented on #227
Hey ,
I really want to contribute to this issue.I  will provide with the commented code .@tarun26091999 Sir Please give me a chance to contribute into this .

Thought Process: we have to traverse over the link list by maintaining 2 nodes prevent and cure.When we reached the state where curr->data == the data of the deleted node I need make the connect prevents->next=curr->next and removing the cur

[2021-03-10 12:38] anjalibanerjee01 commented on #178
I am a GSSOC'21 participant and I can code this using Python.
Please assign me this.

[2021-03-10 12:39] Himani-D commented on #193
I am GSSOC'21 participant , I want to work on this project using C++,C, Python. Please assign me this.

[2021-03-10 12:40] Himani-D commented on #178
I am a GSSOC'21 participant and I would like to contribute in this project.
Please assign me this.

[2021-03-10 12:42] anjalibanerjee01 commented on #157
I am a GSSOC'21 participant and I would like to contribute in this using python with proper code and comments.
Please assign me this.

[2021-03-10 12:43] hritikgupta92 opened #428 "Adding more questions in readme.md of Algo-Tree/Tree/"
Currently,Binary tree doesn't include any question and BST only got 1 question but there are many questions that can added here

[2021-03-10 12:43] shiv-30 commented on #380
I am a GSSOC'21 participant.
I would like to contribute the code in JAVA and PYTHON with proper description, indentation, comment and time complexity.
Please assign this issue to me @tarun26091999

[2021-03-10 12:43] Himani-D commented on #152
I am GSSOC'2021 participant. I want to work on this issue. Please assign me.

[2021-03-10 12:43] hritikgupta92 commented on #428
@rudrakshi99 @tarun26091999  Can you assign this issue to me?

[2021-03-10 12:44] Himani-D commented on #157
I am a GSSOC'21 participant and I would like to contribute in this using python  and java.
Please assign me this.

[2021-03-10 12:46] Himani-D commented on #321
I am a GSSOC'21 participant and I would like to contribute in this using Java, C++/C.
Please assign me this.

[2021-03-10 12:47] krishna-NIT commented on #423
Hi,
I am GSSOC'21 participant

My code will be in JAVA with proper comments and test cases.
@rudrakshi99 @nakul-19 @plazzy99 please assign me this issue

[2021-03-10 12:47] krishna-NIT commented on #422
Hi,
I am GSSOC'21 participant

My code will be in JAVA with proper comments and test cases.
@rudrakshi99 @nakul-19 @plazzy99 please assign me this issue

[2021-03-10 12:51] shiv-30 commented on #147
I am a GSSoC'21 participant.
I can contribute to this issue in JAVA.
Please assign this issue to me @plazzy99 . Thank You.

[2021-03-10 12:56] tarun26091999 commented on #385
@AasthaGoyalgit always specify the language you want to work in.

[2021-03-10 13:06] pshivesh8 commented on #246
Interested! I have recently worked on Bitmasking problems in C++.  I can provide good code with clear examples.
If you can please assign this issue to me. I would love to work on this issue.

[2021-03-10 13:09] pshivesh8 commented on #169
I would like to contribute implementation in C++ with proper comments.
Please assign me this issue as a part of GSSOC 2021.

[2021-03-10 13:12] kushal13112001 opened #429 "Number of K-Length Sublists with Average at Least Target [Python]"
Given a list of integers nums, and integers k and target, return the number of sublists whose length is k and its
average value ≥ target.

**Constraints**

n ≤ 100,000 where n is the length of nums

[2021-03-10 13:12] pshivesh8 opened #430 "Spiral traversal of a matrix."
What I want to contribute:
1.Spiral traversal of a matrix.
2.My code will be in C++.
3. The code will consist of a complete explanation of my approach and will be commented on for better understanding.
4. Also it will include some test cases.

[2021-03-10 13:12] VibhuRajput opened #431 "Counting Sort in C++"
gssoc'21 participant, I am opening an issue and writing a detailed code for counting sort in c++.
Please assign me for this.

[2021-03-10 13:13] kushal13112001 commented on #429
Hey @anubhavitis @dheerajkotwani @tarun26091999 @todi-2000  I would like to take up this issue and solve it with a brief description and with proper code and test cases. Please assign me this issue

[2021-03-10 13:15] Anshika-Srivastava commented on #410
I would like to contribute major and popular questions on string to this repo.
Hence I request the mentors @tarun26091999 @rudrakshi99 to please assign it to me. I am a GSSOC'21 participant and will provide the cleanest and easiest solutions for difficult problems.
Thank You!

[2021-03-10 13:15] avinashbest commented on #431
- I would like to work on it

[2021-03-10 13:16] avinashbest commented on #431
- Under GSSoC 2021

[2021-03-10 13:16] ansi22 commented on #427
This ig Ritika Verma, GSSOC'21 participant.
I am C++ enthusiast and want to contribute for the same ,i.e., Word Wrap Problem in C++.

Kindly assign this issue to me!
@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99

[2021-03-10 13:17] dig9074vijay commented on #351
I would like to implement PRIMS AlGORITHM in C++ as a GSSOC'21 participant with properly indented code in the best Time Complexity possible.

@tarun26091999 @plazzy99  @rudrakshi99  Please assign me this issue!

[2021-03-10 13:17] pshivesh8 commented on #427
This is Shivesh Pandey, GSSOC'21 participant.
I am a C++ enthusiast and want to contribute to the same,i.e., Word Wrap Problem in C++.

Kindly assign this issue to me!
@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99

[2021-03-10 13:17] Prakersh123 opened #432 "[GSSOC'21] Power(x,n) in O(logn)."
Hello, I am Prakersh Arya a GSSOC'21 Participant. I am highly interested in competitive programming and i am having experience in C++ programming language.
I want to include the algorithm of calculating power(x,n) in O(logn) time complexity.

Please assign this task to me :)
Thank-you.
@rudrakshi99@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99

[2021-03-10 13:18] sayantikag98 opened #433 "[GSSOC'21] Binary Search"
Hi, I am Sayantika Ghosh participating in GSSOC this year. I want to implement binary search recursively and iteratively in C++. Also, I want to implement the lower and upper bound of a given number using binary search in C++.

Please kindly assign this task to me.

Thank you.

[2021-03-10 13:19] pshivesh8 commented on #399
This is Ritika Verma, GSSOC'21 participant.
I am a C++ enthusiast and want to contribute to the same,i.e., Word Wrap Problem in C++.

Kindly assign this issue to me!

[2021-03-10 13:19] Prajwal-ctrl opened #434 "Binary Search in C++"
I am GSSOC'21 participant, I would like to add a detailed code for Binary Search in c++. with proper comments
Please assign me for this.

[2021-03-10 13:20] pshivesh8 commented on #399
This is Shivesh Pandey, GSSOC'21 participant.
I am a C++ enthusiast and want to contribute to the same,i.e., Modular Arithmetic queries on 10^500000 constraints in C++.

Kindly assign this issue to me!

[2021-03-10 13:20] 08Gunjan commented on #357
<h2>Hi @Alleny244<h2>
<h2> I would like to work on this Issue.  </h2>
Could You please assign me this issue under label  <strong>GSSOC21</strong> and the level of difficulty <em>i.e (Easy, medium, hard)</em>

[2021-03-10 13:20] Prajwal-ctrl opened #435 "Radix Sort in C++"
I am GSSOC'21 participant, I would like to add a detailed code for Radix Sort  in c++. with proper comments
Please assign me for this.

[2021-03-10 13:22] malavikarajeshvikraman opened #436 "[GSSOC'21] Merge Sort in C++"
Hi I am Malavika R Vikraman , participating in  GSSOC'21 .
I would like to contribute by adding Merge Sort in C++ to this project.

Kindly assign this issue to me!
@anubhavitis  @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99

[2021-03-10 13:23] Anshika-Srivastava opened #437 "Spiral Order Matrix Traversal in C++"
I would like to provide my code for this question and thereby contribute to 2d Array's repo as this is a very important question.
I am a GSSOC'21 participant, please assign this to me!
Thank You!!

[2021-03-10 13:23] dig9074vijay opened #438 "Floyd-Warshall : All pair shortest path algorithm in C++"
I would like to implement this algorithm in C++ under GSSOC`21.

[2021-03-10 13:26] malavikarajeshvikraman opened #439 "[GSSOC'21] Linear Search and Binary Search in Python"
Hi I am Malavika R Vikraman , participating in GSSOC'21 .
I would like to contribute by adding Linear Search and Binary Search  in Python  to this project.

Kindly assign this issue to me!
@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99

[2021-03-10 13:29] 08Gunjan commented on #348
<h2>Hey @japneetbhatia <h2>
<h3> I would like work on this Isssue using  <strong>JAVA</strong> language .</h3>
<h3>could you please assign me the Issue under the label <b>GSSOC21</b> and the level of difficulty<em> i.e(Easy, Medium, Hard) </em></h3>

[2021-03-10 13:29] Prakersh123 opened #440 "Bubble_sort"
Hello, I am Prakersh Arya a GSSOC'21 Participant. I am highly interested in competitive programming and i am having experience in C++ programming language.
I want to include the Bubble Sort algorithm in C++.

Please assign this task to me :)
Thank-you.
@rudrakshi99@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99

[2021-03-10 13:32] sakshi012000 commented on #264
I am a participant of GSSoC 2021. I want to contribute to this issue. Can you please assign me this?

[2021-03-10 13:36] Prakersh123 opened #441 "[GSSOC'21] Brian Kernighan’s Algorithm to count set bits in an integer"
Hello, I am Prakersh Arya a GSSOC'21 Participant. I am highly interested in competitive programming and i am having experience in C++ programming language.
I want to include the algorithm of counting total number of set bits in a given integer using Brian Kernighan's algorithm in bit manipulation section.

Please assign this task to me :)
Thank-you.
@rudrakshi99@anubhavitis @dheerajkotwani @tarun2

[2021-03-10 13:37] abhishek7997 opened #442 "Josephus Problem recursive"
Hello, I am Abhishek, a GSSOC 21 participant. I have doing competitive programming for a while now. Mostly in C++
I want to include the josephus problem code.
There is no recursive code for josephus problem, please assign this issue to me so that I can work on it.

@rudrakshi99 @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99

[2021-03-10 13:42] adiig7 commented on #434
I want to work on this.

[2021-03-10 13:44] Prakersh123 opened #443 "[GSSoC'21] Moore's Voting Algorithm"
Hello, I am Prakersh Arya a GSSOC'21 Participant. I am highly interested in competitive programming and i am having experience in C++ programming language.
I want to write the Moore's Voting Algorithm for finding majority element.

Please assign this task to me :)
Thank-you.
@rudrakshi99@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99

[2021-03-10 13:51] AmanUpadhyay8 opened #444 "[GSSoC] Add Sorting in Python"
[GSSoC 2021] I would like to add sorting programs in Python like Linear sort, Bubble sort etc. Please assign this to me.

@tarun26091999  @shreyanspoddar @nakul-19 @OjusWiZard  @raksha009 @rudrakshi99  please mentors assign this to me.

[2021-03-10 13:54] Chahat226 commented on #440
Hi, I am Chahat, a GSSOC'21 Participant. I am highly experienced in competitive programming in C++. I would like to contribute the bubble sort algorithm to this project.
Please assign this task to me :)
Thank you.

[2021-03-10 13:54] ssaksham opened #445 "Kosaraju’s algorithm"
Hey, I am Saksham Sharma, a GSSOC'21 participant. I am a Competitive Programmer and C++ enthusiastic.
I want to write **Kosaraju's algorithm** to find the strongly connected components in a graph in C++.

Please assign this task to me.

@anubhavitis @dheerajkotwani  @tarun26091999  @todi-2000 @geekquad @plazzy99 @rudrakshi99

[2021-03-10 13:56] #315 closed

[2021-03-10 13:57] #316 closed

[2021-03-10 13:58] Chahat226 commented on #430
Hi, I am Chahat, a GSSOC'21 Participant. I am highly experienced in competitive programming in C++. I would like to contribute the 2 different types of Spiral Traversal matrix algorithms in C++ to this project.
Please assign this task to me :)
Thank you.

[2021-03-10 13:59] Tanya933 commented on #144
@rudrakshi99 @nakul-19 @plazzy99
I am a GSSoC'21 participant and would like to work on this issue in C++ ,following all the contribution and code base guidelines.
I will put my 100% effort and will give the best outcome solving this issue.Please assign this issue to me.
Thank you!

[2021-03-10 14:00] ssaksham opened #446 "[GSSOC'21] Check if the given graph is Bipartite or not."
Hey, I am Saksham Sharma, a GSSOC'21 participant. I am a Competitive Programmer and C++ enthusiastic.
I want to write an algorithm to check if the given graph is Bipartite or not in the C++ language
Please assign this task to me.

@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99 @rudrakshi99

[2021-03-10 14:05] ssaksham opened #448 "[GSSOC'21] Prim's algorithm"
Hey, I am Saksham Sharma, a GSSOC'21 participant. I am a Competitive Programmer and C++ enthusiastic.
I want to write Prim's algorithm for finding a minimum spanning tree from a graph in the C++ language.

Please assign this task to me.

@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99 @rudrakshi99

[2021-03-10 14:09] manastole03 opened #449 "[GSSOC'21] String Algorithm"
Hey, I am Manas Tole a GSSOC'21 Participant. I am having experience in java Coding as well as I am doing Competitive coding in the java programming language.
I want to contribute the below mentioned algorithm in Java Programming language :
Program for String to Integer conversion and Integer to String conversion.

Please assign this task to me :)
Thank-you.

@anubhavitis @dheerajkotwani @tarun2609

[2021-03-10 14:13] manastole03 opened #450 "Check String for palindrome"
Hey, I am Manas Tole a GSSOC'21 Participant. I am having experience in java Coding as well as I am doing Competitive coding in the java programming language.
I want to write a Java Program to check that string is Palindrome or not.

Please assign this task to me :)
Thank-you.
@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad

[2021-03-10 14:17] ssaksham opened #454 "[GSSOC'21] Segment Tree Implementation"
Hey, I am Saksham Sharma, a GSSOC'21 participant. I am a Competitive Programmer and C++ enthusiastic.
I want to contribute the code for the implementation of the Segment Tree in the C++ language.
Please assign this task to me.

[2021-03-10 14:21] Vishal-Singh-1996 commented on #220
I Create Patch/palindrome #388 look in to it.

[2021-03-10 14:21] Atul-Kashyap opened #455 "Longest Palindromic Substring"
**Problem**
Given a string s, return the longest palindromic sub-string in s.

**Example 1:**
Input: s = "babad"
Output: "bab"

**Example 2:**
Input: s = "cbbd"
Output: "bb"

Hey, I am Atul Kashyap, a GSSOC'21 participant.
I want to contribute the code for the implementation of the Longest Palindrome Substring in the C++ language.
Please assign this task to me.
@anubhavitis @dheerajkotwani @tarun2

[2021-03-10 14:24] Vishal-Singh-1996 commented on #261
@tarun26091999 pls look into it (Patch/insertion merge sort algo #408)

[2021-03-10 14:24] Atul-Kashyap commented on #440
Hey, I am Atul Kashyap, a GSSOC'21 participant.
I want to contribute the code for the implementation of the Bubble Sort in the Java language.
Please assign this task to me.
@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99 @rudrakshi99

[2021-03-10 14:25] muthuannamalai12 commented on #440
I would love to implement it in python. Kindly assign it to me

[2021-03-10 14:26] Atul-Kashyap commented on #434
Hey, I am Atul Kashyap, a GSSOC'21 participant.
I want to contribute the code for the implementation of the Binary Search in the Java language.
Please assign this task to me.
@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99 @rudrakshi99

[2021-03-10 14:26] muthuannamalai12 commented on #435
I would love to implement it in java. Kindly assign it to me

[2021-03-10 14:29] muthuannamalai12 commented on #434
I would love to work on it in python. Kindly assign it to me

[2021-03-10 14:34] OnewayShruti commented on #217
Hey @rudrakshi99
I am a GSSOC'21 participant(Discord Username -Oneway_Shruti(P)#9537)
I wish to contribute to Balanced Bracket Problem in stack .
i would write the program in python (using examples & comments.)

[2021-03-10 14:41] rahulsrivastava1 commented on #145
Hey @rudrakshi99 @plazzy99 @nakul-19 i want to work on this issue,i know this concept, i am able to do this.
kindly assign me to this.

[2021-03-10 14:42] rahulsrivastava1 commented on #89
Hey @rudrakshi99 @plazzy99 @nakul-19 i want to work on this issue,i know this concept, i am able to do this.
kindly assign me to this.

[2021-03-10 14:42] Op-panda commented on #449
Hey, I am Amit Pandey, a GSSOC'21 Participant. I want to implement this issue in CPP . I have read guidelines and code of conduct. please assign this to me

@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad
Thank-you.

@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad

[2021-03-10 14:48] Muskan0 opened #458 "[GSSOC'21] Longest Palindrome Substring in Python"
Hi, I am Muskan Kalra, please assign this problem to me:
Given a string s, return the longest palindromic sub-string in s.

[2021-03-10 14:50] Muskan0 opened #459 "[GSSOC'21] Bellman Ford algorithm in Python"
Please assign this algorithm to me.
Thank you

[2021-03-10 14:53] plazzy99 commented on #168
you have been assigned to many issues

[2021-03-10 14:53] plazzy99 commented on #168
After your pr's are merged you will be assigned more

[2021-03-10 14:54] AasthaGoyalgit commented on #385
I'll work in java

On Wed, Mar 10, 2021, 18:26 Tarun Yadav <notifications@github.com> wrote:

[2021-03-10 14:56] #37 closed

[2021-03-10 14:57] Tanya933 opened #461 "[GSSOC'21]Sieve of Eratosthenes"
@rudrakshi99 @nakul-19 @plazzy99
I am a GSSoC'21 participant and would like to work on this issue in C++ ,following all the contribution and code base guidelines.
I will put my 100% effort and will give the best outcome solving this issue.Please assign this issue to me.
Thank you!

[2021-03-10 14:59] nandini2110 opened #462 "Best Time to Buy and Sell Stock"
I am Nandini Dasgupta a GSSOC'21 Participant. I am passionate about Java programming and would like to add this problem which uses Array and Greedy concepts.

The problem statement:  An array prices is given where prices[i] is the price of a given stock on the ith day. Find the maximum profit you can achieve. You may complete as many transactions as you like (i.e., buy one and sell one share of th

[2021-03-10 14:59] plazzy99 commented on #161
Mention the algorithm you are gonna going to apply @sudipg4112001

[2021-03-10 15:07] plazzy99 commented on #198
go ahead with python

[2021-03-10 15:09] raj2289 opened #463 "Quick Sort In C++"
Hi... I am Raj participating in GSSOC'21 I want to contribute to this project. please assign me quick sort algorithm.

[2021-03-10 15:11] raj2289 opened #464 "Quick sort in C++"
Hi... I am Raj participating in GSSOC'21 I want to contribute to this project. please assign me quick sort algorithm.

[2021-03-10 15:11] vedant-jain03 commented on #463
Hello I can do this in C++,C and python please assign this issue.

[2021-03-10 15:12] vedant-jain03 commented on #462
I can do this issue in C++,C and python please aasign me this issue. Thankyou

[2021-03-10 15:17] Aleena-Ashraf opened #465 "Sparse Matrix C, Java, Python"
Hey! I am a GSSoC '21 participant. This is a very potential topic for coding interviews.
So, I would like to implement this in C, Java and Python. Please do assign me this.

[2021-03-10 15:35] avijit1999 opened #466 "Modular Exponentiation"
Compute (A^B)%M

[2021-03-10 15:38] avijit1999 commented on #466
I wrote java program and update readme.md file of number theory

[2021-03-10 15:40] Muskan0 opened #467 "[GSSOC'21] Radix Sort, Bucket Sort in Python"
Please assign this issue to me.

[2021-03-10 15:43] yashikajotwani12 commented on #436
I would love to implement it in python, please assign me this @plazzy99 .

[2021-03-10 15:44] yashikajotwani12 commented on #433
I would like to code it in python, please assign me this issue , would explain the code and implementation.

[2021-03-10 15:45] SarthakSrivastav commented on #409
Hello mentors, I have good knowledge of  java I would like to write the code and algorithm for the Infix to Prefix Conversion in Java.
eg-
Input : (((A+B)*(C+D)/(E-F))+G)
Output :  AB+CD+*EF-/G+

Please assign this to me.

[2021-03-10 15:47] SarthakSrivastav commented on #406
Hello mentors, I have good knowledge of java I would like to write the code and algorithm for this problem in Java.
Please assign this to me.

[2021-03-10 15:52] sohini3062 opened #468 "merging two sorted linked lists and returning a final sorted list in java"
GSSoc 2021 participant

[2021-03-10 15:52] Muskan0 commented on #299
Hi, I want to contribute for the same issue in Python.

[2021-03-10 15:54] SarthakSrivastav commented on #402
Hello mentors, I have good knowledge of java I would like to write the code and algorithm for this problem.
eg-
Input : {1,2,3,4,5}
Output : {2,3,4,5,1}  // Left rotation by one.
Please assign this to me.

[2021-03-10 15:54] SUCHITRAGIRI opened #469 "[GSSOC'21] Searching algorithms : Leaner and Binary Search implementing in java."
Hey, I am Suchitra Giri participating in GSSOC'21.
I want to add codes of Searching Algorithms - Leaner and Binary Search in java language.

I would be very grateful to contribute to this issue if you @todi-2000 @anubhavitis @dheerajkotwani @avijit1999  assign this task to me!

[2021-03-10 15:55] sohini3062 opened #470 "convert binary number in a linked list-to Integer in Java"
[GSSoc 2021] participant

[2021-03-10 15:55] Muskan0 commented on #427
Hi, I want to contribute to this problem, Word Wrap Problem in Python.
Please assign me this task in Python.

[2021-03-10 16:00] Muskan0 commented on #30
Hi, please assign this task to me, I will solve it in Python.

[2021-03-10 16:00] Subhangini commented on #59
@rudrakshi99  please label the issue under gssoc'21 so that our contributions get counted for it

[2021-03-10 16:20] eksdee-sama commented on #462
I can do this issue in C++ please assign me this issue.

[2021-03-10 16:21] Muskan0 opened #472 "Reverse a LinkedList in groups of size k"
Please assign this problem to me. I will solve it in Python.

[2021-03-10 16:23] nishantsahu961 commented on #470
hey I would like to add the code for converting binary number in a linked list to Integer in java as a GSSOC participant , please guide me

[2021-03-10 16:25] srisatya1197 opened #473 "Sieve of Eratosthenes"
I would like to add sieve of eratosthenes program in c++ or python or java .Could  you please assign me as I'm the participant of GSSoC'21.

[2021-03-10 16:27] Muskan0 commented on #381
Hi, I would like to contribute to this issue using the language Python, please assign this issue to me.

[2021-03-10 16:48] Astroakanksha24 opened #474 "Check whether the linked list is cyclic or not."
I am a GSSOC 21 participant, please assign this to me I can do it in all ways possible.

[2021-03-10 16:51] dhyanid13 opened #476 "[GSSOC2021]"
Hey, I am Dhyani Desai, a GSSOC'21 participant. I am a Competitive Programmer and C++ enthusiastic.
I want to write programs for Dynamic programming  in the C++ language.

Please assign this task to me.

@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99 @rudrakshi99

[2021-03-10 16:53] rohank2502 opened #478 "Prime Number till N ( Algorithm )"
In this algorithm i will try to find the number of prime number present till n and give a count with each number !! Will start working on it as soon as i get assigned

[2021-03-10 16:54] rohank2502 opened #479 "Prime Number in range ( Algorithm )"
In this i will like to find the prime numbers in a specific range from a to b and print the count and  numbers !! Will start working as soon as i get assigned !!

[2021-03-10 16:56] Muskan0 opened #480 "[GSSOC'21] Adding Left View, Bottom View and Top View of a Binary Tree"
Please assign this issue to me.
I will solve these in Python.

[2021-03-10 17:00] Roshni1809 opened #481 "check prime or not"

[2021-03-10 17:00] #481 closed

[2021-03-10 17:01] Arpit2401 opened #482 "spiral_print.java program missing"

[2021-03-10 17:01] rudrakshi99 commented on #476
@dhyanid13 opens an issue for a specific algorithm so that we can assign you.

[2021-03-10 17:01] #476 closed

[2021-03-10 17:02] Arpit2401 commented on #482
Created spiral_print.java program and pull request it.

[2021-03-10 17:02] #482 closed

[2021-03-10 17:03] rudrakshi99 commented on #480
@Muskan0 Please open separate issues for each algorithm.

[2021-03-10 17:03] #480 closed

[2021-03-10 17:06] dhyanid13 opened #483 "[GSSOC21] Minimum subset sum difference"
Hey, I am Dhyani Desai , a GSSOC'21 participant. I am a Competitive Programmer and C++ enthusiastic.
I want to write Prim's algorithm for finding the Minimum subset sum difference the C++ language.

Please assign this task to me.

@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99 @rudrakshi99

[2021-03-10 17:08] dhyanid13 opened #485 "Largest Palindromic Subsequence[GSSOC2021]"
Hey, I am Dhyani Desai , a GSSOC'21 participant. I am a Competitive Programmer and C++ enthusiastic.
I want to an for finding the Largest Palindromic Subsequence in C++ language.

Please assign this task to me.

@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99 @rudrakshi99

[2021-03-10 17:09] rudrakshi99 commented on #463
Already present in our code base.
@vedant-jain03 make a separate issue for python.

[2021-03-10 17:09] #463 closed

[2021-03-10 17:09] Akp6528 opened #486 "Remove Nth Node From End of Linked List in (C++)"
Hey, I'm GSSOC'21 Participant and want to work on this issue in C++
any mentor assign me this.

[2021-03-10 17:11] Roshni1809 commented on #479
Hi , I am Roshni Shukla, participant of GSSOC.
I would love to solve this problem using CPP.
Please assign me  this issue.
Hope to hear from you.

[2021-03-10 17:12] aadya7104 commented on #427
Hello, I am Aadya Pawar. I am a GSSOC 21 participant. I am currently in 11th grade preparing for my entrances. I love coding and am fluent in java, c++ and python. Please assign this task to me.

[2021-03-10 17:13] vedant-jain03 opened #487 "QUICK SORT IN PYTHON"

[2021-03-10 17:13] vedant-jain03 commented on #487
Hello , I want to contribute to this issue using python.

[2021-03-10 17:14] kritika32 opened #488 "Wine Problem Dynamic Programming"
I can provide you clean code with proper comments in Java.

[2021-03-10 17:14] aadya7104 commented on #354
Hello, I am Aadya Pawar. I am a GSSOC 21 participant. I am currently in 11th grade preparing for my entrances. I love coding and am fluent in java, c++ and python. Please assign this task to me in Java.

[2021-03-10 17:18] Roshni1809 commented on #136
Hi , I am Roshni, participant of GSSOC'21 .I would love to solve this problem using CPP.
Please assign me  this issue.
Hope to hear from you.

[2021-03-10 17:19] kritika32 opened #489 "MCM(Matrix Chain Multiplication) Dynamic Programming"
I can provide you clean and well-commented code in Java so that it gives readability to all users. As a Gssoc'21 participant please assign me this issue.

[2021-03-10 17:21] kritika32 opened #491 "N Queens Backtracking"
I can provide you clean and well-commented code in Java so that it gives readability to all users. As a Gssoc'21 participant please assign me this issue.

[2021-03-10 17:22] rohank2502 commented on #479
Hey Rohan here @Roshni1809  !! Sorry but actually I am participant of GSSOC and working on this issue myself !!

[2021-03-10 17:22] kritika32 opened #492 "Queen 2D kill Backtracking"
I can provide you clean and well-commented code in Java so that it gives readability to all users. As a Gssoc'21 participant please assign me this issue.

[2021-03-10 17:23] veenit1802 opened #493 "find the intersection of two linked list"
The program will find the first number or location from where the two linked will merge and will have the same number till the end.
@rudrakshi99

[2021-03-10 17:23] kritika32 opened #494 "Catalan Number Dynamic Programming"
I can provide you clean and well-commented code in Java so that it gives readability to all users. As a Gssoc'21 participant please assign me this issue.

[2021-03-10 17:24] sayantan1413 opened #495 "Longest Repeating Subsequence using Dp"
I will implement the Longest repeating subsequence using Dp in C++ programming language.

[2021-03-10 17:25] kritika32 opened #496 "Dungeon Game Dynamic Programming"
I can provide you clean and well-commented code in Java so that it gives readability to all users. As a Gssoc'21 participant please assign me this issue.

[2021-03-10 17:25] Rupa-421 commented on #469
Hi!
I'm a gssoc 21 participant.I want to contribute on  linear search and binary search implementation in both java and python language.Aiming to write a **CLEAN CODE** and **PERFECT README** .Can you please assign this to me?

[2021-03-10 17:27] Roshni1809 commented on #254
Hi , I am Roshni , participant of GSSOC.I would love to solve this problem using CPP.
Please assign me  this issue.
Hope to hear from you.

[2021-03-10 17:44] Rupa-421 commented on #433
Hi!
I'm a gssoc 21 participant.I want to contribute on linear search and binary search implementation in both java and python language.Aiming to write a CLEAN CODE and PERFECT  README  @sayantikag98  @yashikajotwani12  @plazzy99 @Siddhant-K-code @dheerajkotwani @anubhavitis   you please assign this to me?

[2021-03-10 17:51] 08Gunjan opened #498 "Tree( Inorder Preorder Postorder) Recursively"
I would like to contribute in your Project by working  on <b>Tree (Inorder  Preorder  Postorder)  (Binary Tree )</b> Problems  using Recursive Approach in <b> JAVA </b>.

- My Approach is Optimize yet Easy to understand .
- Single Line Comments makes it easy to read.
- Required Test Case are added at the end.
- Can make it More Explanatory using the Image

<h4>Please assign me this issue under the

[2021-03-10 17:52] Rupa-421 commented on #439
Hi!
I'm a gssoc 21 participant.I want to contribute on linear search and binary search implementation in  python language.Aiming to write a CLEAN CODE and PERFECT README @plazzy99 Can you please assign this to me?

[2021-03-10 17:53] ansi22-zz opened #499 "Longest Prefix Suffix Problem"
Hey there,
I want to add Longest Prefix Suffix Problem in C++ which goes like:
Find length of longest substring that is proper prefix and suffix as well.
For ex:
Input - "rrrrr"
"rr" will be the longest substring that is prefix and suffix both,
therefore,
Output - 2

I would like to work on this issue. Kindly assign it to me.
Thankyou!

@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekq

[2021-03-10 17:53] raksha009 commented on #29
Heyy, this issue wasn't assigned to you. Pl make a pr only after issue has been assigned.
Making an exception this time but plz keep this in mind next time onwards :)

[2021-03-10 17:53] Roshni1809 commented on #483
Hi , I am Roshni, participant of GSSOC'21.
I would love to solve this problem using CPP.
Please assign me  this issue.
Hope to hear from you.
@anubhavitis

[2021-03-10 17:54] raksha009 commented on #29
Plz specify language.

[2021-03-10 17:54] Rupa-421 commented on #444
Hi!
I'm gssoc 2021 participant .I would like to contribute sorting Algorithms like insertion sort,shell sort, bubble sort...
So please assign this to me.

[2021-03-10 17:55] Roshni1809 commented on #474
Hi , I am Roshni, participant of GSSOC'21.
I would love to solve this problem using CPP.Will explain each step with comments.
Please assign me  this issue.
Hope to hear from you.

[2021-03-10 17:57] Roshni1809 commented on #468
Hi , I am GSSCO'21 participant and I am  in interested in solving this problem using CPP.
please assign me this issue.
Hope to hear from you.

[2021-03-10 17:59] Rupa-421 commented on #498
Hi!
I'm a gssoc participant.I like to contribute in python language

[2021-03-10 18:01] Roshni1809 commented on #467
hey, I am Participant of GSSOC'21. I would love to solve this problem using CPP.
Please assign this issue to me.
hope to hear from you.

[2021-03-10 18:05] 08Gunjan opened #500 "(N-ary) Tree( Inorder Preorder Postorder) Recursively"
I would like to contribute in your Project by working  on <b>Tree (Inorder  Preorder  Postorder)  (N-ary Tree )</b> Problems  using Recursive Approach in <b> JAVA </b>.

- My Approach is Optimize yet Easy to understand .
- Single Line Comments makes it easy to read.
- Required Test Case are added at the end.
- Can make it More Explanatory using the Image

<h4>Please assign me this issue under the

[2021-03-10 18:07] Roshni1809 commented on #479
@rohank2502  Its fine, you  can continue.

[2021-03-10 18:12] sonal251001 opened #501 "Kadane's Algorithm"
Hi, Project Maintainers. I would like to include this important algorithm in the arrays section of the code. The folder in which I'll add code is Algo-Tree/code/java. I would like you to assign this issue to me. Thank you.

[2021-03-10 18:15] Kirti1807 opened #502 "All prime number till N"
Hey I am Kirti Goyal ,a GSSOC  participant . In this I want to find all prime numbers till any number N.
 Please assign this task to me!!

[2021-03-10 18:23] sonal251001 opened #503 "Best Time to Buy and Sell Stock."
Hi, Project Maintainers. I would like to include this important algorithm in the arrays section of the code. The folder in which I'll add code is Algo-Tree/code/java. I would like you to assign this issue to me. Thank you.

[2021-03-10 18:25] sonal251001 opened #504 "Smallest subarray with sum greater than x"
Hi, Project Maintainers. I would like to include this important algorithm in the arrays section of the code. The folder in which I'll add code is Algo-Tree/code/java. I would like you to assign this issue to me.
Question will go like:
Given an array of integers (A[])  and a number x, find the smallest subarray with sum greater than the given value.

[2021-03-10 18:34] Aarti002 commented on #504
hey @tarun26091999 i'm gssoc'21 participant, can i work on this issue in c++ if it is not taken otherwise i will work in python,
Thank you!

[2021-03-10 18:35] Muskan0 opened #505 "[GSSOC'21] Left View of a binary tree"
Please assign this issue to me.
I will solve these in Python.

[2021-03-10 18:35] Aarti002 commented on #472
hello @tarun26091999 can i work on this issue in c++ under gssoc'21
Thank you!

[2021-03-10 18:36] Muskan0 opened #506 "[GSSOC'21] Bottom View of a Binary Tree"
Please assign this problem to me.
I will solve it in Python.

[2021-03-10 18:38] adya-13 opened #507 "Largest sum contiguous array."
Hello, Project Maintainers. I would like to add longest sum contiguous array problem using dp to this project. Please assign this to me.
The folder in which I'll add code is Algo-Tree/code/python.

[2021-03-10 18:38] tarun26091999 commented on #78
@noviicee you cannot solve more than 1 question in a single issue. Raise separate issue for every question.

[2021-03-10 18:38] #78 closed

[2021-03-10 18:40] Muskan0 opened #508 "[GSSOC'21] Top View of a Binary Tree"
Please assign this issue to me.
I will solve it in Python.

[2021-03-10 18:41] Aarti002 commented on #312
hello @rudrakshi99 @tarun26091999 can i work on this issue i will be using insertion sorting algorithm in python
Thank you!

[2021-03-10 18:42] tarun26091999 commented on #474
issue is already present in #189

[2021-03-10 18:42] #474 closed

[2021-03-10 18:45] tarun26091999 commented on #365
#262 is already there.

[2021-03-10 18:45] #365 closed

[2021-03-10 18:46] tarun26091999 commented on #302
you need to be very specific about the algorithm you want to work on.

[2021-03-10 18:47] Aarti002 commented on #465
hello @rudrakshi99 i'm gssoc'21 participant can i take this issue i will be using c++ for the implementation as we know this is quite important and difficult to understand so i will try my best to explain my code through explanatory comments as well as with some examples.
So, please assign this issue to me
Thank you!

[2021-03-10 18:49] japneetbhatia commented on #430
Hey, I'm GSSOC'21 participant. I want to work on this issue in java. please assign this to me

[2021-03-10 18:50] tarun26091999 commented on #493
conflicting with #136

[2021-03-10 18:50] #493 closed

[2021-03-10 18:53] tarun26091999 commented on #386
conflicting with #136

[2021-03-10 18:53] #386 closed

[2021-03-10 18:55] tarun26091999 commented on #404
@nishantsahu961 go through the guidelines.

[2021-03-10 19:04] Sn0wGod commented on #445
Hey, I am **Yogesh Yogendra**, a **GSSOC'21 participant** . I am a Competitive Programmer and a Full Stack Developer.
I want to write this Kosaraju's algorithm .

Please assign this task to me.

@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99 @rudrakshi99

[2021-03-10 19:09] Aarti002 commented on #402
hello @tarun26091999 please assign this issue to me i will be using python
Thank you!

[2021-03-10 19:10] hrushikesh-git commented on #469
Hii @SUCHITRAGIRI I would like to implement this searching algorithm and begin my contribution in GSSOC'21, please assign this task to me

[2021-03-10 19:12] hrushikesh-git commented on #439
hii @anubhavitis  please assign this issue to me I am gssoc'21 participant

[2021-03-10 19:14] Sloth-Panda opened #510 "Merge sort"
Would like to implement it in java @rudrakshi99 please assign me

[2021-03-10 19:15] nabin-nath opened #511 "Infix to Postfix Notation Using Stacks"

[2021-03-10 19:15] noviicee opened #512 "Fix link."
The link which leads to the implementation of *Insertion at start* for Python in *Array*, is not working.
Can I fix it?
I can fix the link by adding the solution for the problem.

[2021-03-10 19:19] hritikkhurana10sm commented on #291
Hi,
I would like to work on this issue in java . Could you please assign it to me as a GSSOC'21 participant?
I have read Contributing Guidelines on Pull Requests.
Thanks!!

[2021-03-10 19:19] noviicee opened #513 "Add code for insertion in Linked List."
I would like to add a solution for the question in Linked List, which asks for the implementation of insertion in a Linked List in Python.
Can I work on this one?
I will add various methods like- insertion at the beginning, insertion at the end, insertion after a given element, insertion before a given element.

[2021-03-10 19:20] hritikkhurana10sm commented on #262
Hi,
I would like to work on this issue in C++ . Could you please assign it to me as a GSSOC'21 participant?
I have read Contributing Guidelines on Pull Requests.
Thanks!!

[2021-03-10 19:21] hritikkhurana10sm commented on #193
Hi,
I would like to work on this issue in C++. Could you please assign it to me as a GSSOC'21 participant?
I have read Contributing Guidelines on Pull Requests.
Thanks!!

[2021-03-10 19:21] noviicee opened #514 "Queue using Stacks [Python]"
I wish to add the solution to the question *Queue using Stacks* in the Queue Data Structure in Python.
Can I work on this?

[2021-03-10 19:21] hritikkhurana10sm commented on #144
Hi,
I would like to work on this issue in C++ . Could you please assign it to me as a GSSOC'21 participant?
I have read Contributing Guidelines on Pull Requests.
Thanks!!

[2021-03-10 19:22] hritikkhurana10sm commented on #88
Hi,
I would like to work on this issue in C++. Could you please assign it to me as a GSSOC'21 participant?
I have read Contributing Guidelines on Pull Requests.
Thanks!!

[2021-03-10 19:24] noviicee opened #515 "Implementation of Linked List Data Structure [Python]"
I wish to add the implementation of a complete singly linked list in python from scratch.
It will contain all the basic operations as well some extra operations implemented on a singly linked list.
Can I go on with this one?

[2021-03-10 19:26] noviicee opened #516 "Implementation of Stack [Python]"
I wish to add the implementation of stack in python from scratch.
It will contain all the basic operations as well some extra operations implemented on stack.
Also I will try to add all the methods to implement the stack in Python.
Can I go on with this one?

[2021-03-10 19:26] noviicee commented on #78
Okay

[2021-03-10 19:27] noviicee opened #517 "Implementation of Queue [Python]"
I wish to add the implementation of queue in python from scratch.
It will contain all the basic operations as well some extra operations implemented on queue.
Also I will try to add all the different methods to implement the queue in Python.
Can I go on with this one?

[2021-03-10 19:34] 26Vinayak commented on #508
I would like to Solve this question in C++ using vertical order traversal.
Please assign this issue to me.

[2021-03-10 19:43] 26Vinayak opened #519 "Rat In Maze (BackTracking)"
Hi, I would like to add Rat in Maze problem (in C+=) in Algorithm/BackTracking Section.
Please the project maintainer assign this issue to me.

[2021-03-10 19:48] tarun26091999 commented on #318
you need to be specific about the problem you want to solve. 1 issue serves 1 problem only.

[2021-03-10 19:48] #318 closed

[2021-03-10 19:55] tarun26091999 commented on #156
issue already present #86

[2021-03-10 19:55] #156 closed

[2021-03-10 19:56] tarun26091999 commented on #367
issue already present at #86

[2021-03-10 19:56] #367 closed

[2021-03-10 19:56] tarun26091999 commented on #396
already present at #86

[2021-03-10 19:56] #396 closed

[2021-03-10 20:07] tarun26091999 commented on #413
@ruchipotamsetti do it in C++.
@madhvi02 specify the language.

[2021-03-10 20:13] ruchipotamsetti commented on #413
Thank you @tarun26091999

[2021-03-10 20:17] tarun26091999 commented on #103
duplicate issue.

[2021-03-10 20:17] #103 closed

[2021-03-10 20:17] nagasaisriya opened #521 "Producer-Consumer Problem (Java)"
I would like to add producer-consumer problem in java which uses multithreading concept. I want to contribute to this project as a part of gssoc'21. Please let me know if I can work on this problem.

[2021-03-10 20:18] tarun26091999 commented on #45
duplicate issue.

[2021-03-10 20:18] #45 closed

[2021-03-10 20:18] madhvi02 commented on #413
Sir I would love to code it in C++ .

On Thu, 11 Mar 2021 at 1:38 AM, Tarun Yadav ***@***.***>
wrote:

[2021-03-10 20:18] tarun26091999 commented on #227
issue is open at #152

[2021-03-10 20:18] #227 closed

[2021-03-10 20:22] madhvi02 commented on #506
Sir @tarun26091999
Please assign this problem to me. I would like to solve this in c++.
I will surely provide the code with proper documentation and comments.

[2021-03-10 20:23] madhvi02 commented on #508
Sir @tarun26091999
Please assign this problem to me. I would like to solve this in c++.
I will surely provide the code with proper documentation and comments.

[2021-03-10 20:23] madhvi02 commented on #505
Sir @tarun26091999
Please assign this problem to me. I would like to solve this in c++.
I will surely provide the code with proper documentation and comments.

[2021-03-10 20:24] madhvi02 commented on #503
Sir @tarun26091999
Please assign this problem to me. I would like to solve this in c++.
I will surely provide the code with proper documentation and comments.

[2021-03-10 20:26] nagasaisriya opened #522 "Binary Search(using Templates) in C++"
I want to add Binary search using function template in C++, Please assign me this as a part of GSSOC.

[2021-03-10 20:39] Mohim-Singla opened #523 "Evaluating Postfix expression using stacks[C++]"
In this Program I would like to evaluate the postfix expression using STACK data structure.
I'll start working on this as soon as it gets assigned to me.

Hey @rudrakshi99 please assign the above mentioned issue to me.

[2021-03-10 20:59] khushii05 commented on #510
I would implement this in C @rudrakshi99 pl do assign .

[2021-03-10 21:02] SrishtiArya07 commented on #478
Hi
I'm a gssoc21 participant and would really like to work on this issue.

I will be using the sieve of Eratosthenes approach to find the prime numbers till N.

I've read the Contributing Guidelines. Please assign this issue to me so that I can start working on it as soon as possible.

[2021-03-10 21:03] khushii05 commented on #433
Hello !
I'm Khushi . I am participating in GSSOC this year. I would love to implement binary search recursively and iteratively in C.
@yashikajotwani12 @dheerajkotwani @anubhavitis @sayantikag98  Pl assign this to me

[2021-03-10 21:05] khushii05 commented on #394
Hello!
I'm Khushi. I'm a GSSOC'21 Participant
I would really contribute to this issue in the C language.
Pl do assign this to me.

[2021-03-10 21:10] khushii05 commented on #348
Hello!
I'm Khushi. I'm a GSSOC 21 participant.
I would like to add all operations on the binary tree from scratch.
Language - C

[2021-03-10 22:46] JASHANJOT7KAUR commented on #501
I would like to work on this issue in c++,kindly assign it to me.
Thank you

[2021-03-10 22:53] vikashkumar2020 opened #524 "Majority Element in an array"
I am a participant and I want to implement the majority element algorithm in C++ with O(n) time complexity and O(1) space complexity.

A **majority element** in an array A of size N is an element that appears more than N/2 times in the array using searching concept

[2021-03-10 23:07] vikashkumar2020 opened #525 "Tower of Hanoi"
I want to implement the **Tower of Hanoi** algorithm in C++ with O(2^N) time complexity and O(N) space complexity.

 **Tower of Hanoi**
The tower of Hanoi is a famous puzzle in which have three rods and N disk plates.

[2021-03-11 02:39] PratikGarai opened #526 "N-queens problem with printing of each successful combination using Java"
As a part of GSSOC 2021, I would like to include the n-queens problem using recursion in java. I have already prepared the code and here are 2 outputs for verification.

![image](https://user-images.githubusercontent.com/58355527/110727059-8e309b00-8240-11eb-959e-5d9b1ddefad1.png)
![image](https://user-images.githubusercontent.com/58355527/110727242-de0f6200-8240-11eb-8de9-4e55c8b69488.png)
Here,

[2021-03-11 03:02] chitrasingla opened #527 "[GSSOC'21] Rotation of matrix clockwise"
Hey,
I am a GSSOC'21 participant, I would like to add a problem - rotation of 2D matrix clockwise in C++
@tarun26091999 Can you please assign this issue to me.

Thank you

[2021-03-11 03:04] chitrasingla opened #528 "Longest Increasing Subsequence"
Hey,
I am a GSSOC'21 participant, I would like to add a problem - longest increasing subsequence in an array in DP section in C++
@tarun26091999 Can you please assign this issue to me.

Thank you

[2021-03-11 03:09] kishanks412 commented on #479
Hello, I'm Kishan Kumar Seth, participant at GGSOC'21.
I would like to solve this problem.
Please assign me this issue.

[2021-03-11 03:13] kishanks412 commented on #86
Hello, I'm Kishan Kumar Seth participating in GSSOC'21. I would like to contribute in this project. Please assign me this issue.

[2021-03-11 03:15] kishanks412 commented on #478
Hello, I'm Kishan Kumar Seth participating in GSSOC'21. I would like to contribute in this project. Please assign me this issue.

[2021-03-11 03:17] agamgupta2015 opened #529 "Removing comments from the string"
Have you read the Contributing Guidelines on Pull Requests?
Yes I did

Motivation
I presume that as it's a beginner-friendly code it might be helpful for the upcoming noobs

Pitch
When I was learning a language I felt that writing a code for a given program doesn't improve skills but we need to have an idea of how the program can be asked in different ways. If the mentors or the organizers of this

[2021-03-11 03:26] rohank2502 commented on #478
Hey Rohan here !! @hritikkhurana10sm  @SrishtiArya07  @kishanks412   ! I am a GGSOC participant and I am working on this issue !! Sorry

[2021-03-11 03:47] veenit1802 opened #531 "Finding the connected components in a graph"
The program will find the connected component in the graph means the groups of nodes that are interconnected with each other.

[2021-03-11 03:50] veenit1802 opened #532 "Floyd-Warshall- finding all the shortest path"
The program can find the shortest path between any node i and j the graph can contain the negative edges but no negative weight cycle.

[2021-03-11 04:00] veenit1802 opened #534 "Kuhn's Algorithm for finding - for finding the maximum Bipartite matching"
The program will find the maximum bipartite matching where no selected edge shares a vertex with any other selected edge

[2021-03-11 04:01] veenit1802 opened #535 "Finding the negative cycle in a graph"
The program will find the negative cycle if present in the graph.

[2021-03-11 04:10] veenit1802 opened #536 "Finding if two strings are equal or not"
Rather than using the primitive way of comparing the two strings by checking each character we can use a hash function which is implemented by which will convert the string to hash and check if the numbers are equal or not.

[2021-03-11 04:13] veenit1802 opened #537 "Rabin-Karp algorithm for string matching"
Given two string s1 and s2 we have to find if s1 string pattern appears in s2 or not

[2021-03-11 04:19] shiv-30 commented on #495
I will implement the Longest repeating subsequence using DP in JAVA with proper comment, indentation and time complexity.
Please assign this issue to me @rudrakshi99 .

[2021-03-11 04:20] shiv-30 commented on #495
I am a GSSOC'21 participant.

[2021-03-11 04:23] shiv-30 commented on #479
Hi, I'm Shivam Kumar , participant of GSSOC'21.
I would like to solve this issue in JAVA with proper comment, indentation and time-complexity.
Please assign this issue to me.

[2021-03-11 04:24] shiv-30 commented on #415
Hi, I'm Shivam Kumar , participant of GSSOC'21.
I would like to implement  Tim Sort in JAVA with proper comment, indentation and time-complexity.
Please assign this issue to me.

[2021-03-11 04:29] shiv-30 commented on #427
Hi, I'm Shivam Kumar , participant of GSSOC'21.
I would like to implement KMP Algorithm for Pattern Searching in String  using C++  with proper comment, indentation and time-complexity.
Please assign this issue to me.

[2021-03-11 04:32] shiv-30 commented on #478
Hello, I'm Shivam Kumar. I am a GSSOC'21 participant and I want to implement this issue in JAVA with proper comment, indentation and time-complexity. Please assign this issue to me.

[2021-03-11 04:44] shiv-30 commented on #445
Hello, I'm Shivam Kumar. I am a GSSOC'21 participant and I want to implement this issue in JAVA with proper comment, indentation and time-complexity. Please assign this issue to me. @rudrakshi99

[2021-03-11 04:49] DevilAJ commented on #168
If I am the only one assigned, should I work only on Java version or java and c++ both.

[2021-03-11 05:12] shiv-30 commented on #164
Hello @rudrakshi99 @nakul-19 @plazzy99
I am a GSSoC21 participant.

What I want to contribute :

I want to implement this issue in PYTHON3.
The code will be commented for easy understanding, including 2 test cases
Please assign this issue to me.

[2021-03-11 05:13] Kirti1807 opened #541 "Find all permutation of a string"
Hey I am Kirti Goyal, a GSSOC participant. In this I want to find all permutation of a string using recursion in c++.
Please assign this task to me !!

[2021-03-11 05:20] prateek-jpg opened #542 "Cycle detection using Hare and Tortoise algorithm in java"
I am a GSSOC'21 participant and would like to add cycle detection using Hare and Tortoise algorithm in java. I will follow the proper guidelines of writing the code before making the pull request.

@rudrakshi99 @tarun26091999

[2021-03-11 05:27] #542 closed

[2021-03-11 05:28] Chirag018 commented on #30
Hi,Please assign this task to me . I'm a GSSoc Participant.
I can solve the problems using Java .

[2021-03-11 05:29] Ritu7683 commented on #522
I want to work on this issue . Kindly assign this to me

[2021-03-11 05:29] rudrakshi99 commented on #510
please mention the language.

[2021-03-11 05:30] yogitasaini commented on #440
please, assign this task to me in java under GSSOC'21

[2021-03-11 05:30] Chirag018 commented on #513
Hi,I'm a GSSoC participant.
I would like to add the solution for this question in Java.

[2021-03-11 05:31] Ritu7683 commented on #532
I want to work on this issue. Kindly assign this to me

[2021-03-11 05:31] vedant-jain03 commented on #168
@plazzy99 in which lang. I should move ahead?

[2021-03-11 05:32] Ritu7683 commented on #536
I want to work on this issue. Kindly assign this to me

[2021-03-11 05:32] prateek-jpg opened #543 "Insertion_at_start of array in java"
A program to add elements at the beginning  of an array in java.

I am a GSSOC'21 participant, and I would like to contribute the Java code for this problem. I will make sure that the code is commented properly and follows all the given guidelines. Please give me this opportunity. Thankyou!
@tarun26091999  @rudrakshi99

[2021-03-11 05:33] Ritu7683 commented on #510
I would like to implement it in C++. Kindly assign this to me

[2021-03-11 05:34] yogitasaini commented on #395
Please , assign this task to me in java under gssoc'21

[2021-03-11 05:34] Ritu7683 commented on #502
I want to work on this issue using C++. Kindly assign this to me

[2021-03-11 05:35] rudrakshi99 commented on #325
@AakankshaShah We are not adding new topics. Please look for another issue or create a new one for an unimplemented algorithm.

[2021-03-11 05:35] #325 closed

[2021-03-11 05:35] Chirag018 opened #544 "Implementation of Stack [Java]"
Hi,I'm a GSSoC participant.
I wish to add the implementation of Stack in Java with time and space complexity.

[2021-03-11 05:36] Ritu7683 commented on #473
I would like to work on this using C++. Kindly assign this to me

[2021-03-11 05:37] rohank2502 opened #546 "Finding prime number till N by Sieve of Eratosthenes ( Method 2) ( C++)"
In this algorithm i will try to find the number of prime number present till n and give a count with each number !! Will start working on it as soon as i get assigned

[2021-03-11 05:37] Chirag018 opened #547 "Implementation of Queue [Java]"
Hi,I'm a GSSoC participant.
I wish to add the implementation of Queue in Java with time and space complexity.

[2021-03-11 05:37] rohank2502 opened #548 "Finding prime number from range a to b by Sieve of Eratosthenes ( Method 2) ( C++)"
In this algorithm i will try to find the number of prime number present from a to b and give a count with each number !! Will start working on it as soon as i get assigned

[2021-03-11 05:39] Chirag018 opened #549 "Implementation of Linked List [Java]"
Hi,I'm a GSSoC participant.
I wish to add the implementation of Linked List in Java .

[2021-03-11 05:39] shrishti-c opened #550 "Loop detection in linked list"
I can implement loop-detection using different algorithm and also how to remove them. Please assign this to me.

[2021-03-11 05:40] Chirag018 commented on #528
Hi,I'm a GSSoC participant.
I wish to add the implementation of Longest Increasing Subsequence in Java.

[2021-03-11 05:40] rudrakshi99 commented on #437
Already present in our code base.

[2021-03-11 05:40] #437 closed

[2021-03-11 05:41] Chirag018 commented on #532
Hi,I'm a GSSoC participant.
I wish to add the implementation of this problem in Java with time and space complexity.

[2021-03-11 05:41] Chirag018 commented on #541
Hi,I'm a GSSoC participant.
I wish to add the implementation of this problem in Java with time and space complexity.

[2021-03-11 05:42] Chirag018 commented on #548
Hi,I'm a GSSoC participant.
I wish to add the implementation of this problem in Java with time and space complexity.

[2021-03-11 05:43] Chirag018 commented on #525
Hi,I'm a GSSoC participant.
I wish to add the implementation of Tower of Hanoi in Java with time and space complexity.

[2021-03-11 05:44] rudrakshi99 commented on #546
@rohank2502 Close your previous issues - #478 #479. So that I can assign you these.

[2021-03-11 05:45] rudrakshi99 commented on #535
@veenit1802 mention the language.

[2021-03-11 05:45] Chirag018 commented on #527
Hi,I'm a GSSoC participant.
I would like to implement the Rotation of Matrix Clockwise problem in Java .

[2021-03-11 05:46] DevilAJ commented on #168
@vedant-jain03
Bro if you want you can work on java version of this issue.

[2021-03-11 05:46] veenit1802 commented on #535
I will be doing it in cpp.

[2021-03-11 05:48] veenit1802 commented on #532
I will be implementing it in c++.

[2021-03-11 05:49] rudrakshi99 commented on #42
Please make separate issues for each algorithm and you will work on a sudoku solver in this issue.

[2021-03-11 05:54] rohank2502 commented on #546
Ok i have added one Pr will add second pr In a hour Then I will close both
issues

On Thu, Mar 11, 2021, 11:14 AM Rudrakshi <notifications@github.com> wrote:

[2021-03-11 05:54] rudrakshi99 commented on #532
Already assigned.

[2021-03-11 05:54] #532 closed

[2021-03-11 05:55] rudrakshi99 commented on #30
Please make separate issues for each algorithm.

[2021-03-11 05:55] #30 closed

[2021-03-11 05:57] rudrakshi99 commented on #18
@Ayan-10 Please make separate issues for each algorithm.

[2021-03-11 05:57] #18 closed

[2021-03-11 05:57] vishakha-aggarwal commented on #548
Hey , I can solve this issue. Kindly assign this issue to me.

[2021-03-11 05:58] rudrakshi99 commented on #406
already present.

[2021-03-11 05:58] #406 closed

[2021-03-11 05:59] rudrakshi99 commented on #35
Make separate issues for each algorithm.

[2021-03-11 05:59] #35 closed

[2021-03-11 06:00] rudrakshi99 commented on #39
Make separate issues for each algorithm.

[2021-03-11 06:00] #39 closed

[2021-03-11 06:04] ritikpanchal768 commented on #524
hi, I want to work on this issue.
kindly assign to me.

[2021-03-11 06:04] nidh-ish opened #553 "Implementing insertion sort in C++"
I want to implement insertion sort in c++.

Please assign this to me under GSSOC'21.

[2021-03-11 06:06] ritikpanchal768 commented on #524
I will do it using c++

[2021-03-11 06:06] adya-13 opened #554 "Dial's algorithm for shortest path. (Python)"
Hello project maintainers. I would like to add this algorithm to this project. Could you assign this to me?

[2021-03-11 06:09] Mohim-Singla commented on #130
Hey @plazzy99 This issue has not been cleared since a week. Please assign this to me I'll start working on it ASAP. I'll be coding in C++.

[2021-03-11 06:09] adya-13 opened #555 "Bidirectional search in graphs. (python)"
Hello project maintainers. I would like to add bi-directional search algorithm to this project. Could you assign this to me?

[2021-03-11 06:15] Ritu7683 opened #557 "Wave Sort"
Hii I would like to work on this issue using C++. Kindly assign this to me.

[2021-03-11 06:16] ritikpanchal768 opened #558 "Staircase Search"
Problem:- we have a 2-d array having its rows and columns sorted .you want to search a given element in it with a time complexity of O(n).

I want to work on this problem. Kindly assign it to me.

[2021-03-11 06:21] Ritu7683 opened #559 "GCD Euclid's Algorithm C++"
Hii I want to work on this issue using C++. Kindly assign this to me

[2021-03-11 06:23] Ritu7683 opened #560 "Counting Divisors Using Sieve Approach"
Hii I would like to work on this issue Using C++.Kindly assign this to me

[2021-03-11 06:25] ritikpanchal768 commented on #560
I am a GSSOC'21 participant and I wish to work on this using C++. Hope to hear back from you.
Thank you.

[2021-03-11 06:27] ananddasani commented on #479
Hi I am GSSoC'21 participant

i would like to contribute in Prime Number in range using C++
i will write the clean and optimized code , by keeping time and space complexity in mind and
with  brief commenting and algorithm.

so i would like @rudrakshi99  to please assign this project to me :)

[2021-03-11 06:30] ritikpanchal768 opened #562 "Counting First occurrence , last occurrence , and all occurrence of an element using Recursion"
Hiii i would like to work on this issue using C++. Kindly assign this to me

[2021-03-11 06:30] ananddasani commented on #478
Hi I am GSSoC'21 participant

i would like to contribute in Prime Numbers till range C++
i will write the clean and optimized code , by keeping best case time and space complexity in mind and
with  brief commenting and algorithm.

so i would like @rudrakshi99 to please assign this project to me :)

[2021-03-11 06:30] Ritu7683 commented on #562
Hii I would like to work on this issue using C++. Kindly assign this issue to me.

[2021-03-11 06:31] ananddasani commented on #193
Hi I am GSSoC'21 participant

i would like to contribute in Reversing a linked list
i will write the clean and optimized code , by keeping best case time and space complexity in mind and
with  brief commenting and algorithm.

so i would like @rudrakshi99 to please assign this project to me :)

[2021-03-11 06:32] Ritu7683 opened #564 "Inversion Count"
Hii I would like to work on this issue using C++.Kindly assign this to me.

[2021-03-11 06:34] ananddasani commented on #157
Hi I am GSSoC'21 participant

i would like to contribute in Checking if a number is a prime number or not using C++
i will write the clean and optimized code , by keeping best case time and space complexity in mind and
with  brief commenting and algorithm.

so i would like @rudrakshi99 to please assign this Issue to me :)

[2021-03-11 06:37] rudrakshi99 commented on #510
Already present.

[2021-03-11 06:37] #510 closed

[2021-03-11 06:39] Deeksha-Rawat commented on #262
Hi,
I am a participant of GGSOC 21. I would like to work on this issue using Python.
Please assign it to me.
Thanks

[2021-03-11 06:42] rudrakshi99 commented on #124
Are you working on all these algorithms in CPP?

[2021-03-11 06:43] ananddasani commented on #152
Hi I am GSSoC'21 participant

i would like to contribute in Perform operations on Linked list

i can implement this much operations in linked list

1. INSERT AT FRONT
2. INSERT AT LOCATION (INSERT BEFORE DATA , INSERT AFTER DATA )
3. INSERT AT END
4. DELETE AT FRONT
5. DELETE AT LOCATION (DELETE BEFORE DATA , DELETE AFTER DATA )
6. DELETE AT END
7. SEARCH
8. SWAP NODES'S DATA
9.  REVERSE LL
10. LE

[2021-03-11 06:43] archi362 commented on #553
Hi I am Archi. I would like to contribute to this as a part of GSSOC'21. Please assign me this as I have prior knowledge of C++.

[2021-03-11 06:43] ananddasani commented on #147
Hi I am GSSoC'21 participant

i would like to contribute in Implement bucket sort
i will write the clean and optimized code , by keeping best case time and space complexity in mind and
with  brief commenting and algorithm.

so i would like @rudrakshi99 , @plazzy99  , @nakul-19  to please assign this Issue to me :)

[2021-03-11 06:44] archi362 commented on #550
Hi I am Archi. I would like to contribute to this as a part of GSSOC'21. Please assign me this as I have prior knowledge of LinkedList

[2021-03-11 06:47] Mugdha-Hazra opened #565 "STRINGS : Checking If Two Strings Are Anagram Or Not."
### **Explanation:**

  **An anagram is two sets of strings formed from the same set of alphabets.**

 Given two strings by the user, we have to check whether the two strings are anagram or not i.e they are formed from the same set of alphabets or not.

    **INPUT**
      **String 1:** DECIMAL
      **String 2:** MEDICAL
            **OUTPUT**
          YES, THE STRINGS ARE ANAGRAM!!

Hello @taru

[2021-03-11 06:49] ananddasani commented on #124
Hi I am GSSoC'21 participant

i would like to contribute in Add Sorting Algorithms

I can contribute this much algorithms

                           in C++
 Bubble Sort
 Insertion Sort
 Selection Sort
 Merge Sort
 Quick Sort
 Count Sort
 Bucket Sort
 Radix Sort
 Wave Sort

 Java
 Bubble Sort
 Insertion Sort
 Selection Sort
 Merge Sort
 Quick Sort
 Count Sort
 Bucket Sort
 Radix Sort
 Wave Sort

i

[2021-03-11 06:49] rudrakshi99 commented on #523
@Mohim-Singla Sorry I am unassigning you because this issue was already assigned to someone else but the tags were not mentioned there. You will work on another issue.

[2021-03-11 06:49] #523 closed

[2021-03-11 06:52] ananddasani commented on #86
Hi I am GSSoC'21 participant

i would like to contribute in Add Matrix Multiplication using C/C++ , JAVA
i will write the clean and optimized code , by keeping best case time and space complexity in mind and
with  brief commenting and algorithm.

so i would like @rudrakshi99 , @plazzy99  , @nakul-19  to please assign this Issue to me :)

[2021-03-11 06:54] sumitsantape30 commented on #564
I would like to resolve this issue, will be implementing using Java, Please assign me this.
I'm GSSoC21 participant.

[2021-03-11 06:56] sumitsantape30 commented on #560
I would like to resolve this issue, will be implementing using Java, Please assign me this.
I'm GSSoC21 participant.

[2021-03-11 06:56] sumitsantape30 commented on #558
I would like to resolve this issue, will be implementing using Java, Please assign me this.
I'm GSSoC21 participant.

[2021-03-11 06:56] sumitsantape30 commented on #557
I would like to resolve this issue, will be implementing using JAVA, Please assign me this.
I'm GSSoC21 participant.

[2021-03-11 06:57] sumitsantape30 commented on #536
I would like to resolve this issue, will be implementing using JAVA, Please assign me this.
I'm GSSoC21 participant.

[2021-03-11 06:57] jeelnathani opened #566 "reverse a singly linked list"
hello, I am GSSOC'21 participant. I would like to contribute in this Algo-tree project by writing a program in python which can reverse a singly linked list
for example:
input: 1->2->3->4->5->Null
output: 5->4->3->2->1->Null

input: 7->Null
output: 7->Null

hope you assign me this issue :)

[2021-03-11 06:58] Deeksha-Rawat opened #567 "Removing duplicate character, reversing string.(Python)"

[2021-03-11 07:00] Deeksha-Rawat commented on #567
I will solve problems like
removing duplicate character from the string.
reversing in string
separate vowel and consonants form a string
finding wheater a string is palindrome or not.

[2021-03-11 07:02] #29 closed

[2021-03-11 07:04] AbhishekTiwari07 opened #568 "Greedy Algorithm : Activity Selection Problem"
Activity selection problem is well known problem that can be solved using Greedy Algorithm. I'll provide the solution in cpp and java.

[2021-03-11 07:05] esheetaparulekar commented on #550
Please assign this issue to me for Java.

[2021-03-11 07:05] vedant-jain03 commented on #168
@DevilAJ Bro actually I havent study java yet
So please if you can do it in java
I will move ahead with cpp

[2021-03-11 07:06] shreyadubey0902 commented on #479
Hello, I'm Shreya Dubey ,participant of GSSOC'21.
I would like to solve this problem.
Please assign me this issue.

[2021-03-11 07:07] shreyadubey0902 commented on #445
Hello, I'm Kishan Kumar Seth, participant at GGSOC'21.
I would like to solve this problem.
Please assign me this issue.

[2021-03-11 07:07] Roshni1809 opened #569 "find first non repeating letter in a string."
The program will find the first non-repeating letter in the string if it is present in the string and I will be implementing it in c++.
please assign to me this issue.

[2021-03-11 07:09] nidh-ish opened #570 "Non-recursive factorial in CPP"
Finding the factorial of a number in CPP non-recursively.

Please assign this to me under GSSOC'21.

[2021-03-11 07:10] esheetaparulekar commented on #566
I can contribute to this issue in Java.

[2021-03-11 07:11] Disha-swp commented on #486
hello, I'm a gssoc'21 participant, and i would like to contribute.
please assign it to me.

[2021-03-11 07:13] Mohim-Singla commented on #523
@rudrakshi99  Alright! I just completed implementing this program tho!!!

[2021-03-11 07:14] Disha-swp commented on #465
hello @rudrakshi99 i'm gssoc'21 participant, i will work on it using c.
So, please assign me this issue
Thank you

[2021-03-11 07:14] Gautam204 opened #571 "Vector Programs"
### Explanation:

A vector is a sequence container class that implements dynamic array.

I want to create a repo to include the basics of vectors and different functions used in the vectors like sorting, erasing etc.

Hello @tarun26091999 @plazzy99 @rudrakshi99 @nakul-19  @OjusWiZard @shreyanspoddar @raksha009 @Anjul2000, I wanted to add this important question in the Algo-Tree and I will start wo

[2021-03-11 07:15] Disha-swp commented on #436
I would love to implement it in c, as a part of GSSOC'21. Please assign it to me @plazzy99

[2021-03-11 07:16] Mohim-Singla opened #572 "Deletion of Alternate nodes in a linked list"
[C++] This program will delete alternate nodes in the linked list.

For example : The linked list provided by the user is: 1->2->3->4->5->6->7->8->9
Output would be :  1->3->5->7->9

Please assign me this issue.

[2021-03-11 07:16] DevilAJ commented on #168
@vedant-jain03
Actually I already implemented it in cpp.
Ok let @plazzy99  decide further.

[2021-03-11 07:17] Gautam204 commented on #565
Hello @tarun26091999 sir, I think this is an important questions and this should definitely be added in the Algo-Tree/string/ and I will start working on it as soon as I get assigned!! as I am a part of **GSSoC'21**, so I would like to implement this in **Java and Python** languages .

[2021-03-11 07:17] Disha-swp commented on #409
Hello mentors, I understand this algorithm please assign it to me.

[2021-03-11 07:18] Disha-swp commented on #409
I am a gssoc participant

[2021-03-11 07:20] Disha-swp commented on #360
Hello, I'm a gssoc participant please assign this to me.

[2021-03-11 07:22] rray14 opened #573 "Traversing through a tree"
Unlike other data structures, trees have many ways to traverse them which are inorder, postorder, and preorder
I'll be implementing them using c++
My name is Ardra Mohan and I'm a participant of GSSOC'21
I'm highly looking forward to working on this, please assign this issue to me
Thanks!!

[2021-03-11 07:27] IdealisticINTJ commented on #570
I would like to contribute to this. Please assign this to me under GSSoC'21.

[2021-03-11 07:27] IdealisticINTJ commented on #569
I would like to contribute to this in C++. May I work on this issue?

[2021-03-11 07:29] IdealisticINTJ commented on #541
Please assign this issue to me. I would like to work on this in Python.

[2021-03-11 07:29] malavikarajeshvikraman opened #575 "Hashing (Insertion, Deletion and Search) in C++"
Hi ! I am Malavika , participating in GSSOC'21 .
I would like to contribute by adding Hashing algorithm in C++ .
So Kindly please do assign me this task.

[2021-03-11 07:29] nandini040 commented on #570
This issue has already been created.

[2021-03-11 07:31] IdealisticINTJ commented on #536
I would like to work on this issue, using C++/ Python, Please assign me this.

[2021-03-11 07:32] Mugdha-Hazra commented on #566
Hello @tarun26091999 @dheerajkotwani  @esheetaparulekar @anubhavitis @jeelnathani, I think this is an important question and this should definitely be added in the Algo-Tree and I will start working on it as soon as I get assigned!! as I am a part of GSSoC'21, so I would like to implement this in c++.

[2021-03-11 07:32] Roshni1809 commented on #569
Hi @IdealisticINTJ   if  you want to work on this issue please choose another language besides CPP. I am already working on this in CPP.

[2021-03-11 07:33] Jagruthi13 commented on #494
Hey @rudrakshi99
I am a GSSoC'21 participant.  I would like to do this problem in cpp.
Can you assign me this issue

[2021-03-11 07:34] Jagruthi13 commented on #489
Hey @rudrakshi99
I am a GSSoC'21 participant. I would like to do this problem in cpp.
Can you assign me this issue.

[2021-03-11 07:36] Mugdha-Hazra commented on #513
Hello @tarun26091999 @dheerajkotwani @esheetaparulekar @anubhavitis @jeelnathani, I think this is an important question and this should definitely be added in the Algo-Tree and I will start working on it as soon as I get assigned!! as I am a part of GSSoC'21, so I would like to implement this in c++.

[2021-03-11 07:36] nandini040 opened #576 "Issue template , pull request template and contributing guidelines missing"
This is  important part of repo .So I would like to enhance this repo.
Can I work on this issue

[2021-03-11 07:37] #576 closed

[2021-03-11 07:38] Mugdha-Hazra commented on #423
Hello @tarun26091999 @dheerajkotwani @esheetaparulekar @anubhavitis @jeelnathani, I think this is an important question and this should definitely be added in the Algo-Tree and I will start working on it as soon as I get assigned!! as I am a part of GSSoC'21, so I would like to implement this in c++.

[2021-03-11 07:39] Jagruthi13 commented on #99
Hey @rudrakshi99
I am a GSSoC'21 participant. I would like to do this problem in cpp.
Can you assign me this issue

[2021-03-11 07:39] Subhangini opened #577 "Issue template, Pull request template and contributing guidelines missing"
This is important part of any repo.
Can i work on this issue?

[2021-03-11 07:40] Jagruthi13 commented on #95
Hey @rudrakshi99 @nakul-19 @plazzy99
I am a GSSoC'21 participant. I would like to do this problem in python.
Can you assign me this issue.

[2021-03-11 07:42] IdealisticINTJ commented on #559
I want to work on this in Java.

[2021-03-11 07:43] IdealisticINTJ commented on #566
I would like to implement this in Python. Please assign this to me.

[2021-03-11 07:44] IdealisticINTJ commented on #567
I would like to solve this in Python. Kindly assign this to me.

[2021-03-11 07:44] vikashkumar2020 opened #578 "N meetings in one room"
I can implement N meetings in one room in C++ following all guidelines of code.

Program helps to find maximum number of meetings that can be accommodated in the meeting room when only one meeting can be held in the meeting room at a particular time

[2021-03-11 07:44] Jagruthi13 commented on #555
Hey @rudrakshi99 @nakul-19
I am a GSSoC'21 participant. I would like to do this problem in cpp.
Can you assign me this issue

[2021-03-11 07:45] IdealisticINTJ commented on #525
I would like to implement this in Python, as a GSSoC '21 Participant. Kindly assign this to me.

[2021-03-11 07:45] Jagruthi13 commented on #537
Hey @rudrakshi99 @nakul-19
I am a GSSoC'21 participant. I would like to do this problem in cpp.
Can you assign me this issue

[2021-03-11 07:46] Jagruthi13 commented on #534
Hey @rudrakshi99
I am a GSSoC'21 participant. I would like to do this problem in cpp.
Can you assign me this issue

[2021-03-11 07:47] Jagruthi13 commented on #535
Hey @rudrakshi99
I am a GSSoC'21 participant. I would like to do this problem in Java.
Can you assign me this issue

[2021-03-11 07:47] IdealisticINTJ commented on #508
I would like to implement this in Python.
Kindly assign this issue to me so that I can make a PR.

[2021-03-11 07:47] vanshikapandey commented on #569
Maam may I take this issue in python please

[2021-03-11 07:47] Roshni1809 commented on #569
@vanshikapandey  Sure.

[2021-03-11 07:48] Jagruthi13 commented on #528
Hey @rudrakshi99 @nakul-19
I am a GSSoC'21 participant. I would like to do this problem in python.
Can you assign me this issue

[2021-03-11 07:48] Jagruthi13 commented on #527
Hey @rudrakshi99
I am a GSSoC'21 participant. I would like to do this problem in python.
Can you assign me this issue

[2021-03-11 07:48] divya1509 commented on #573
Hey, I am Divya Chopra, a participant of GSSOC'21. I would like to work on this issue in the JAVA language. I will provide a neat and explanatory code for this. Please assign me this issue.

[2021-03-11 07:49] vanshikapandey commented on #569
Thank you ma'am. Will get back to you asap:)

[2021-03-11 07:49] Jagruthi13 commented on #526
Hey @rudrakshi99
I am a GSSoC'21 participant. I would like to do this problem in cpp.
Can you assign me this issue

[2021-03-11 07:50] Jagruthi13 commented on #519
Hey @rudrakshi99
I am a GSSoC'21 participant. I would like to do this problem in python.
Can you assign me this issue

[2021-03-11 07:51] Jagruthi13 commented on #507
Hey @rudrakshi99
I am a GSSoC'21 participant. I would like to do this problem in cpp.
Can you assign me this issue

[2021-03-11 07:52] Gautam204 commented on #572
I would like to perform this program using **Java and Python**.
Please assign me this issue.

[2021-03-11 07:52] IdealisticINTJ commented on #569
I will implement it in Java then. May I?

[2021-03-11 07:52] nidh-ish commented on #570
Okay. Sorry for the inconvenience.

[2021-03-11 07:52] Jagruthi13 commented on #495
Hey @rudrakshi99
I am a GSSoC'21 participant. I would like to do this problem in Python.
Can you assign me this issue

[2021-03-11 07:52] #570 closed

[2021-03-11 07:53] #525 closed

[2021-03-11 07:54] veenit1802 commented on #534
I am doing it in c++ you can choose any other language.

[2021-03-11 07:55] divya1509 commented on #524
Hey, I am Divya, a participant of GSSOC'21. I can contribute a JAVA code for the same. I will make sure that my code is easily understandable and explanatory. Please assign me this issue.
Thanks.

[2021-03-11 07:55] pm0824 opened #579 "Implementation of Trie Data Structure Using Java Hashmap"
I want to
* Add **Java** code to insert and search words in Trie Data Structure
*  Add information and advantages of using Trie

Please assign this issue to me,
Thank You.

[2021-03-11 07:56] divya1509 commented on #511
Hey, I am Divya, a participant of GSSOC'21. I would like to work on this issue in JAVA. I would make sure that the code is well explained. Please assign me this issue.
Thanks.

[2021-03-11 07:57] veenit1802 commented on #536
I am doing it in c++ you can choose any other language of your preference.

[2021-03-11 07:57] vikashkumar2020 opened #580 "Compare Circular Doubly Linked Lists"
This program will compare two doubly linked list and return true or false. Implementation will be in C++.

Example:
Input:
LinkedList1: 2<->5<->7
LinkedList2: 7<->8<->9<->
Output:
0

[2021-03-11 08:02] divya1509 commented on #502
Hey, my name is Divya. I am a GSSOC'21 participant. I would like to work on this issue in the Java language. Please assign me this issue.

[2021-03-11 08:03] Vishal-Singh-1996 commented on #262
Hi @tarun26091999 ,
I created the branch - Patch/#262 #561 as a solution to specified issue here.
But instead of merge, i found it closed without merge here.

Please guide the needful, if missing some thing here.

Thanks to All Team for a wonderful support !

[2021-03-11 08:07] tarun26091999 commented on #380
@shiv-30 do it in python.

[2021-03-11 08:08] Vishal-Singh-1996 commented on #572
@rudrakshi99 @Mohim-Singla @dheerajkotwani
Pls assign me this issue.
I would like to solve these problem in java.

[2021-03-11 08:08] tarun26091999 commented on #428
you need to specific about the question you want to solve. Raise the issue which includes ques name in it.

[2021-03-11 08:08] #428 closed

[2021-03-11 08:12] Vishal-Singh-1996 commented on #479
Hello, I'm Vishal Singh, participant at GGSOC'21.
I would like to solve this issue in JAVA with proper  indentation .
@rudrakshi99
Please assign this issue to me.

[2021-03-11 08:13] tarun26091999 commented on #109
closing the issue as it's been 9 days already.

[2021-03-11 08:13] #109 closed

[2021-03-11 08:14] tarun26091999 commented on #459
#391 is for bellman ford, ask for python assignment there, cannot raise a separate issue.

[2021-03-11 08:14] #459 closed

[2021-03-11 08:17] tarun26091999 commented on #87
you cannot ask to solve more than 1 question in a single issue.

[2021-03-11 08:17] #87 closed

[2021-03-11 08:18] tarun26091999 commented on #443
already present at #392

[2021-03-11 08:18] #443 closed

[2021-03-11 08:20] mohdarif8299 commented on #565
@tarun26091999 Sir please allow me to work on this issue, I am good with Data Structures using Java.

[2021-03-11 08:21] Jagruthi13 commented on #534
Thanks for letting me know @veenit1802 .
Hey @rudrakshi99
I would like to do this problem in Java.
Can you assign me this issue.

[2021-03-11 08:21] mohdarif8299 commented on #557
@Ritu7683  Sir Please assign this issue to me. I am good with DS using Java. I am GSCOC Participant.

[2021-03-11 08:24] tarun26091999 commented on #425
issue already present at #21

[2021-03-11 08:24] madhurima99 opened #581 "Generic Selection Sort [GSSOC21]"
I would like to add a **Generic Selection Sort** algorithm to sort any kind of **ArrayList of objects** depending on any attribute of the object.

@plazzy99  @rudrakshi99  @nakul-19 @tarun26091999  @OjusWiZard @shreyanspoddar @raksha009 @anjul2000
I'm participating in GSSOC21. It would be great if you assign this issue to me.
Thank you.

[2021-03-11 08:25] tarun26091999 commented on #246
@machine-sg @Siddhant-K-code @pshivesh8 C++ code is already assigned.

[2021-03-11 08:25] Muskan0 commented on #391
Please assign me this task in Python.

[2021-03-11 08:26] mohdarif8299 opened #582 "Add MergeSort (Divide & Conquer) in Arrays Directory"
@tarun26091999
I want to implement MergeSort (Divide & Conquer). Kindly allow me to implement this  I am good with DS & Algo using Java. I am GSSOC Participant.

[2021-03-11 08:27] Muskan0 commented on #455
Please assign me the same task in Python.

[2021-03-11 08:28] tarun26091999 commented on #429
@plazzy99 look into this.

[2021-03-11 08:28] #458 closed

[2021-03-11 08:30] rohank2502 commented on #479
@shiv-30

Sorry I am working on this issue !!

[2021-03-11 08:31] rohank2502 commented on #479
Create a new issue you will get assigend for java language i am doing it in c++

[2021-03-11 08:31] rohank2502 commented on #479
Sorry i am working on it

[2021-03-11 08:32] rohank2502 commented on #479
sorry I am working on it

[2021-03-11 08:32] rohank2502 commented on #479
Create a new issue this issue is for cpp

[2021-03-11 08:33] tarun26091999 commented on #410
you have to raise separate issues for separate questions.

[2021-03-11 08:33] #410 closed

[2021-03-11 08:35] javeed3157 opened #584 "Big Factorial program Using JAVA"
[JAVA] This program can find the factorial for n value greater than 12 .
This program is to improvise the factorial.java which is already present in repo( because the program in repo cannot get the factorial value >12)
I will solve this using BigInteger concept
For example : The n=5
Output would be : 120
For example : The n=15
Output would be : 1307674368000
I am GSSOC 2021 Participant.
Please ass

[2021-03-11 08:36] tarun26091999 commented on #432
it is already merged in PR no #293

[2021-03-11 08:36] #432 closed

[2021-03-11 08:36] javeed3157 commented on #584
I am GSSOC 2021 participant please assign this issue to me

[2021-03-11 08:36] mohdarif8299 opened #585 "Periodic String (HashMap)"
@tarun26091999 @shreyanspoddar @rudrakshi99 @nakul-19 @raksha009 @OjusWiZard
Kindly allow me to implement, finding the period of a given string I am good with DS & Algo using Java. I am GSSOC Participant.

[2021-03-11 08:39] IShahnawazShaikh opened #586 "Check for string Palindrome (using Hashing, two pointer) in JAVA."
hey! @tarun26091999 @shreyanspoddar @rudrakshi99  @nakul-19  may I implement function which check for string is palindrome or not in JAVA.
I will use 2 approaches (hashing, 2 pointer).
 1) In 2 pointer approach the complexity for checking single string would be O(N) but for N queries it would be O(Q*N).
 2) In hashing approach  the complexity for checking single string would be O(N) but for N quer

[2021-03-11 08:40] tarun26091999 commented on #466
issue is already present at #241 you can ask to add Java solution there.

[2021-03-11 08:40] #466 closed

[2021-03-11 08:42] Harikrishnan6336 opened #587 "Cycle Sort"
I can implement Cycle sort algorithm in C++ as part of  GSSOC'21. Kindly assign this issue to me. @tarun26091999

[2021-03-11 08:43] tarun26091999 commented on #311
cannot ask for more than 1 question in a single issue.

[2021-03-11 08:43] #311 closed

[2021-03-11 08:45] tarun26091999 commented on #441
issue already present at #421 . you can ask for other language there.

[2021-03-11 08:45] #441 closed

[2021-03-11 08:47] Dhanush2612 opened #589 "Palindrome using Python"
Python Program to find palindrome.

[2021-03-11 08:47] Dhanush2612 commented on #589
Kindly assign this issue to me.

[2021-03-11 08:50] tarun26091999 commented on #389
issue already at #351

[2021-03-11 08:50] #389 closed

[2021-03-11 08:54] tarun26091999 commented on #205
already present at #95

[2021-03-11 08:54] #205 closed

[2021-03-11 08:54] 2001asjad opened #590 "Huffman Decoding"
Hello I am a GSSOC'21 participant and I want to contribute to this project. I want to add Huffman Decoding problem and it's approach in the Tree folder as it's a good example.
Can you please assign it to me.
Thank You.

[2021-03-11 08:55] tarun26091999 commented on #446
already present at #95

[2021-03-11 08:55] #446 closed

[2021-03-11 09:00] parthmshah1302 opened #592 "[C++] [GSSoC'21] Stable Matching Problem - Gale Shapely Algorithm"
- In this algorithm, we are given one set of N students and M set of hospitals. Every student ranks the hospitals as per their custom preference. Every hospital also ranks the students they want to intake as per their preference.

- The matching is considered stable when there is no student and hospital that would be matched otherwise than their current match.

- We are given the set of students a

[2021-03-11 09:01] tarun26091999 commented on #448
already open at #351

[2021-03-11 09:01] #448 closed

[2021-03-11 09:03] tarun26091999 commented on #296
adding a PR without issue being assigned is against our guidelines.

[2021-03-11 09:03] #296 closed

[2021-03-11 09:11] anshulsharma123 opened #593 "finding permutation occurance of string s1 in string s2"
Hello admins
                    I am gssoc21 participant and i want to add a special problem in this project the problem is a follows:
  Problem statement:
   We are given the two strings s1 and string s2 and we have to add all the permutation of string s1 in string s2 in  optimal way
  Benefits of this problem :
 1) By this problem we can understand the concept of permutation
 2)  By this proble

[2021-03-11 09:13] tarun26091999 commented on #485
@dhyanid13 do it for string

[2021-03-11 09:14] japneetbhatia opened #594 "(GSSOC'21) Trapping Rain Water Problem in C++"
Hey. I'm GSSOC'21 participant and want to work on this problem. Please assign this to me.

[2021-03-11 09:14] tarun26091999 commented on #567
cannot solve more than 1 problem in a single issue.

[2021-03-11 09:14] #567 closed

[2021-03-11 09:15] Apurv011 opened #595 "[GSSOC'21] Locker Doors Problem"
Hello, I am Apurv Kulkarni, a GSSOC'21 Participant. I would like to implement the Locker Doors Problem in JAVA.

The Locker Door Problem is
There are n lockers in a hallway, numbered sequentially from 1 to n. Initially, all the locker doors are closed.  You make n passes by the lockers. On the ith pass (for i = 1, 2, . . . , n,) you toggle the door of every ith locker. You have to find the lockers

[2021-03-11 09:16] japneetbhatia commented on #485
Hey. I'm GSSOC'21 participant and want to work on this problem in Java. Please assign this to me.

[2021-03-11 09:17] japneetbhatia commented on #468
Hey. I'm GSSOC'21 participant and want to work on this problem in Java . Please assign this to me.

[2021-03-11 09:18] japneetbhatia commented on #455
Hey. I'm GSSOC'21 participant and I want to work on this problem in JAVA . Please assign this to me.

[2021-03-11 09:18] japneetbhatia commented on #450
Hey. I'm GSSOC'21 participant and want to work on this problem using C++ . Please assign this to me.

[2021-03-11 09:22] tarun26091999 commented on #450
@manastole03 @japneetbhatia do it using two pointer approach.

[2021-03-11 09:24] manastole03 commented on #450
Sure.
Thank-you for assigning :)
 @tarun26091999

[2021-03-11 09:25] tarun26091999 commented on #586
@IShahnawazShaikh do it using hashing only. two pointer is done at #450

[2021-03-11 09:26] tarun26091999 commented on #589
@Dhanush2612 palindrome's two approach are being worked on at #586 and #450 .

[2021-03-11 09:26] #589 closed

[2021-03-11 09:33] nitrr26 commented on #586
Hii @tarun26091999, Can I do the same in C++?

[2021-03-11 09:43] jtomar24 opened #597 "Circular Queue and its implementation in c++"
I want to add  what are the limitations of the regular Queue, How Circular Queue Works , Circular Queue Operations and Circular Queue Implementations in C++.
@rudrakshi99

[2021-03-11 09:46] tarun26091999 commented on #106
@pallavidhere23 do it in python
@Deadbullfrog05 do it in java
@yashikajotwani12 do it in cpp

[2021-03-11 09:51] tarun26091999 commented on #137
@sakshi2707 do it in cpp

[2021-03-11 09:56] tarun26091999 commented on #247
we do not accept the questions from coding platforms.

[2021-03-11 09:56] #247 closed

[2021-03-11 09:56] IShahnawazShaikh commented on #586
Thanks @tarun26091999  I am on it.

[2021-03-11 09:57] tarun26091999 commented on #332
only 1 implementation is allowed in 1 issue.

[2021-03-11 09:57] #332 closed

[2021-03-11 10:00] Siddhant-K-code commented on #246
??

[2021-03-11 10:00] simarjeet30 commented on #595
Hello @rudrakshi99 , I am Simarjeet Kaur, a GSSOC'21 Participant. I would like to implement the Locker Doors Problem in C/C++/PYTHON.

The Locker Door Problem is
There are n lockers in a hallway, numbered sequentially from 1 to n. Initially, all the locker doors are closed. You make n passes by the lockers. On the ith pass (for i = 1, 2, . . . , n,) you toggle the door of every ith locker. You hav

[2021-03-11 10:01] tarun26091999 commented on #434
issue already present at #106

[2021-03-11 10:01] #434 closed

[2021-03-11 10:02] tarun26091999 commented on #433
present at #106

[2021-03-11 10:02] #433 closed

[2021-03-11 10:03] mohdarif8299 opened #599 "Implement Painter's Partition Problem (Binary Search) using Java"
@tarun26091999 @shreyanspoddar @rudrakshi99 @nakul-19 @raksha009 @OjusWiZard
Kindly allow me to implement the Painter Partition Problem using Binary Search using Java.
Kindly allow me to implement this I am good with DS & Algo using Java. I am GSSOC'21 Participant.

[2021-03-11 10:03] tarun26091999 commented on #439
binary search present at #106. raise separate issue for linear search.

[2021-03-11 10:03] #439 closed

[2021-03-11 10:04] tarun26091999 commented on #469
binary search present at #106. raise separate issue for linear search.

[2021-03-11 10:04] #469 closed

[2021-03-11 10:04] simarjeet30 commented on #578
hey I am Simarjeet kaur , GSSOC21 participant ,I want to solve this problem using C/C++/PYTHON.
The problem is :
There is one meeting room in a firm. There are N meetings in the form of (S[i], F[i]) where S[i] is the start time of meeting i and F[i] is finish time of meeting i. The task is to find the maximum number of meetings that can be accommodated in the meeting room. Print all meeting number

[2021-03-11 10:06] tarun26091999 commented on #522
we do not accept implementation using STL.

[2021-03-11 10:06] #522 closed

[2021-03-11 10:07] Amanduttbhagat commented on #587
Hello,
I would like to contribute to this issue in Java
kindly assign me the issue

[2021-03-11 10:07] simarjeet30 commented on #569
hey I am Simarjeet kaur ,GSSOC 21 .I want to work on this issue using C/C++/PYTHON.
I would follow these steps:
Start traversing the string using two loops.
Use the first loop to scan the characters of the string one by one.
Use the second loop to find if the current character is occurring in the latter part if the string or not.
If it is not occurring, print that character.
Else, continue travers

[2021-03-11 10:08] tarun26091999 commented on #394
always specify the language you want to contribute in

[2021-03-11 10:13] nitrr26 opened #600 "Storing the DSU(Disjoint Set Union) explicitly in a set list"
Hey!! @tarun26091999, @rudrakshi99,  I want to add

     Storing the DSU(Disjoint Set Union) explicitly in a set list / Applications of this idea when merging
     various data structures / Time complexity with the explanation.

I am a GSSOC’21 participant, Please assign me this issue.
Thank You :)

[2021-03-11 10:17] anotherwebguy opened #601 "[GSSOC'21] Seive of Eratosthenes algorithm in c++"
Plz assign me this issue as a part of gssoc'21. I would like to work on this issue.

In this algorithm we can find all the prime numbers within a given range ,provided n.

Plz assign me this issue @rudrakshi99 @tarun26091999 @plazzy99 @anubhavitis

[2021-03-11 10:18] malavikarajeshvikraman opened #602 "Linear Search"
Hi I am Malavika R Vikraman , participating in GSSOC'21 .
I would like to contribute by adding Linear Search in Python to this project.

Kindly assign this issue to me!
@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99

[2021-03-11 10:19] malavikarajeshvikraman commented on #439
@tarun26091999  I have created a issue #602  . Please do Kindly Assign it to me

[2021-03-11 10:20] Priyankcoder opened #603 "[GSSOC'21] Kosaraju algorithm implementation for finding SCC in directed graph in c++"
Hey !! I am Priyank GSSOC'21 participant and would like to make a pr for kosaraju algorithm implementation in c++ as it is not present in the graph section in repository.
Kindly assign the issue to me.
@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99

[2021-03-11 10:21] anotherwebguy opened #604 "[GSSOC'21] Prims algorithm for minimum spanning tree in java"
Plz assign me this issue as a part of gssoc'21 . I would like to work on this issue

Prims algorithm for minimum spanning tree.
@plazzy99 @rudrakshi99 @tarun26091999 @anubhavitis

[2021-03-11 10:27] Tanya933 commented on #86
I would like to work on this issue in c++ as a GSSoC'21 participant. Please assign this issue to me.

[2021-03-11 10:27] Rupa-421 commented on #573
Hi!
I'm a gssoc 21 participant.I want to contribute on tree traversal in java or python language comfortably.Aiming to write a CLEAN CODE and PERFECT README .Can you please assign this to me?

[2021-03-11 10:28] Tanya933 commented on #178
I would like to work on this issue in c++ as a GSSoC'21 participant. Please assign this issue to me.

[2021-03-11 10:28] Tanya933 commented on #149
I would like to work on this issue in c++ as a GSSoC'21 participant. Please assign this issue to me.

[2021-03-11 10:29] Tanya933 commented on #79
I would like to work on this issue in c++ as a GSSoC'21 participant. Please assign this issue to me.

[2021-03-11 10:32] Rupa-421 commented on #549
Hi!
I'm a gssoc 21 participant.I want to contribute on singly ,doubly, circular singly, circular doubly linked list in java.Aiming to write a CLEAN CODE and PERFECT README .@tarun26091999 @Chirag018 @todi-2000 @diyajaiswal11 @anubhavitis @dheerajkotwani @geekquad can you please assign this to me?

[2021-03-11 10:34] Shalvi-Singhal commented on #169
Hello
I am a GSSOC'21 participant.
Can I solve it using python? @tarun26091999 @plazzy99

[2021-03-11 10:35] itsIapetus opened #605 "[gssoc] Add basic mathematics algorithms"
I would like to add the following math algorithms in C++ and Python.
Area of shapes
Ackermann Function
Catalan number
Euler totient function
Armstrong Number
Ugly Numbers
Binary Exponentiation

Kindly assign this issue to me under GSSoC'21.
Thank you.

[2021-03-11 10:35] sayantikag98 commented on #519
Hi, I am also a GSSoC participant. I want to implement the above problem in java.
Please assign it to me @rudrakshi99.

[2021-03-11 10:36] Priyankcoder commented on #391
Hey!! I am Priyank, GSSOC 2021 participant and I would like to implement bellman ford in c++.
Kindly assign me this task. @tarun26091999

[2021-03-11 10:36] #603 closed

[2021-03-11 10:38] Priyankcoder commented on #412
Hii !! I am GSSOC 2021 participant and would like to implement this algorithm in c++.
Please assign this task to me @tarun26091999

[2021-03-11 10:45] vanshikapandey commented on #569
This issue has already been assigned to me in python

On Thu, Mar 11, 2021, 05:08 simarjeet ***@***.***> wrote:

[2021-03-11 10:50] AnshMishra2001 commented on #592
Can I work on this issue?

[2021-03-11 11:11] anushka00 commented on #519
Hi, I am a ***Gssoc'21*** participant . I would like to resolve this issue using C++. Assign this issue to me, i'll also maintain the proper comments and comprehend with the guidelines.

[2021-03-11 11:11] anushka00 commented on #519
Please assign this to me @rudrakshi99

[2021-03-11 11:21] MaitriDA commented on #594
Hey. I'am GSSoc'21 participant, I would like to work on this problem. I will make sure that the algorithm works for all the cases and also give proper comments for proper understanding. Please assign me this issue

[2021-03-11 11:21] Ayush12062000 commented on #442
Hello, I'm **Ayush Kesarwani, GSSoC'21 participant**. I also want to work on the same issue(Adding RECURSIVE Solution For The JOSEPHUS Problem).  Can I work on the same issue i.e _Josephus Problem recursive #442_

@plazzy99 @rudrakshi99 @tarun26091999 @shreyanspoddar @nakul-19

[2021-03-11 11:22] anushka00 commented on #157
Hi i am a **Gssoc'21** participant. Assign me this issue, i will implement ***Sieve of Eratosthenes*** to check prime number validity of a number with proper comments to give idea of the used algorithm. I will write code in c++. @rudrakshi99  assign me this issue.

[2021-03-11 11:22] MaitriDA commented on #572
@rudrakshi99 @Mohim-Singla Please assign me this issue. I will write the code in C++.

[2021-03-11 11:26] anushka00 commented on #478
I would  write the code in C++ using algorithm **Sieve of Eratosthenes** with proper commenting and will display the total count too. @rudrakshi99 Assign me this and will start working on it ASAP .

[2021-03-11 11:34] rohank2502 commented on #478
@anushka00  I am working on that i have created new issue method 2 for that algorithm

[2021-03-11 11:36] Prajwal-ctrl opened #606 "Count set bits (Kernighan'sAlgo )"
Hey @dheerajkotwani  @tarun26091999  @avijit1999 i am a GSSOC participant can i work on this Problem . let me know

[2021-03-11 11:37] Prajwal-ctrl opened #607 "Kernighan'sAlgo"
Hey @dheerajkotwani  @tarun26091999  @avijit1999 i am a GSSOC participant can i work on this Problem . let me know

[2021-03-11 11:38] #607 closed

[2021-03-11 11:39] Prajwal-ctrl commented on #607
Sorry i made this one twice

[2021-03-11 12:04] atharva1608 opened #610 "Insertion and find min and max element in Binary Search Tree"
I would like to add code in C++ for insertion of an elements and finding min and max element in Binary Search Tree.
I am a GSSoC'21 participant and would like to contribute to this project

[2021-03-11 12:18] Deeksha-Rawat opened #611 "Reverse string using Python"
PR #609

[2021-03-11 12:21] atharva1608 opened #613 "Merge Two Sorted Linked Lists"
I want to add code for merging two sorted linked lists in C++ .
As a GSSoC'21 participant please assign this issue to me.

[2021-03-11 12:33] arnab031 commented on #200
@plazzy99 @tarun26091999 please check the PR for python. #307 https://github.com/Algo-Phantoms/Algo-Tree/pull/307#commitcomment-48090115

[2021-03-11 12:46] Amit366 commented on #21
Can I implement it using Python??
@tarun26091999

[2021-03-11 12:48] priyamourya commented on #594
I am GSSOC'21 participant and l would like to work on this problem .I would make sure to implement a neat and clean code ,and make it easy to understand using comments.

[2021-03-11 12:50] priyamourya commented on #566
I am GSSOC'21 participant and l would like to work on this problem and would make sure to implement a neat and clean code ,and make it easy to understand using comments.

[2021-03-11 12:52] priyamourya commented on #81
I am GSSOC'21 participant and l would like to work on this problem and would make sure to implement a neat and clean code ,and make it easy to understand using comments.

[2021-03-11 12:52] shiv-30 commented on #494
Hey @rudrakshi99
I am a GSSOC'21 participant.
I would like to implement this problem in PYTHON with proper comment, indentation and time-complexity.
Please assign this issue to me.

[2021-03-11 12:53] priyamourya commented on #134
I am GSSOC'21 participant and l would like to work on this problem and would make sure to implement a neat and clean code ,and make it easy to understand using comments.

[2021-03-11 12:54] priyamourya commented on #128
I am GSSOC'21 participant and l would like to work on this problem and would make sure to implement a neat and clean code ,and make it easy to understand using comments.

[2021-03-11 12:55] priyamourya commented on #176
I am GSSOC'21 participant and l would like to work on this problem and would make sure to implement a neat and clean code ,and make it easy to understand using comments.

[2021-03-11 12:56] priyamourya commented on #183
I am GSSOC'21 participant and l would like to work on this problem and would make sure to implement a neat and clean code ,and make it easy to understand using comments.

[2021-03-11 12:57] shiv-30 commented on #485
Hey, I'm GSSOC'21 participant.
I want to work on this issue in PYTHON with proper indentation and comment.
Please assign this issue to me.

[2021-03-11 12:58] dcs-soni opened #614 "[GSSoC'21] Calculate factorial using Recursion."
## Hey @tarun26091999 @shreyanspoddar @rudrakshi99 and all other mentors.

I am currently practising **DSA** in **C++** and found this project to contribute to under GSSoC'21.

I want to add the program which calculates the factorial of the given number using **Recursion** in **C++**. Please assign this issue to me under **GSSoC'21**.

[2021-03-11 13:01] Naman-18 opened #615 "Bridges(Cut-Edge) and Articulation Point(Cut-Vertex) In Graph using C++"
Hey! @tarun26091999  @rudrakshi99  @shreyanspoddar  @nakul-19 @plazzy99
I am GSSOC'21 Participant and I would like to implement following Graph Algorithm in C++ which are inter-related:

1) Algorithm to Find Bridges(Cut Edge) in Graph : A Bridge is defined as an edge in the graph whose removal either makes a graph disconnected or increase number of disconnected components of graph.

2) Algorithm t

[2021-03-11 13:07] Arpit2401 opened #616 "[GSSOC'21] split_print.java program in Code -> Java"
I am a GSSOC'21 participant and want to bring this issue to notice that this program is missing in Java Codes to print a 2D array in spiral form. Please assign me this issue as I have made a pull request #475 with respect to it too.

[2021-03-11 13:12] shiv-30 opened #617 "Prime Number in range ( Method 1) ( Algorithm ) (JAVA)"

[2021-03-11 13:12] priyamourya commented on #392
I am GSSOC'21 participant and l would like to work on this problem and would make sure to implement a neat and clean code ,and make it easy to understand using comments.

[2021-03-11 13:13] avijit1999 opened #618 "Update Algo-Tree/Linked_list/readme.md file"
I want to update the file

[2021-03-11 13:13] shiv-30 commented on #617
Hi, I am a GSSOC'21 participant. I want to implement this issue in JAVA with proper comment and indentation.
Please assign this issue to me.

[2021-03-11 13:14] Mayankjha997 commented on #519
Hello sir
I would like to add Rat in Maze problem in python
Please project maintainer sir/mam (@rudrakshi99 ) assign this issue to me.

[2021-03-11 13:17] shiv-30 commented on #454
Hey, I am a GSSOC'21 participant.
I would love to work on this issue in JAVA with proper comment and indentation.
Please assign this issue to me.

[2021-03-11 13:18] NidhiNivedita6 commented on #614
I am a GSSoC'21 participant. I want to do this in Java. Please assign me this @tarun26091999 @shreyanspoddar @rudrakshi99  and all mentors.

[2021-03-11 13:19] Mayankjha997 commented on #614
Hello sir;
I am a GSSoC participant , I would like to Contribute in this by python.  Please assign me this @tarun26091999 @shreyanspoddar @rudrakshi99 and all mentors.

[2021-03-11 13:20] shiv-30 commented on #442
Hello, I'm Shivam Kumar, GSSOC'21 participant.
I want to work on this issue in JAVA with proper comment and indentation.
Please assign this issue to me.

[2021-03-11 13:24] avijit1999 opened #619 "Modular Inverse"
I want to do it in java please assign me @Admin

[2021-03-11 13:24] shiv-30 commented on #380
Thanks @tarun26091999

[2021-03-11 13:25] priyamourya commented on #495
I am GSSOC'21 participant and l would like to work on this problem and would make sure to implement a neat and clean code ,and make it easy to understand using comments.

[2021-03-11 13:25] mu593 opened #620 "gssoc2021"
contribute code for radix sort for c++.
please assign me.
THANK YOU.

[2021-03-11 13:32] avijit1999 commented on #605
I want that in java

[2021-03-11 13:35] priyamourya commented on #149
I am GSSOC'21 participant and l would like to work on this problem and would make sure to implement a neat and clean code ,and make it easy to understand using comments.

[2021-03-11 13:36] priyamourya commented on #53
I am GSSOC'21 participant and l would like to work on this problem and would make sure to implement a neat and clean code ,and make it easy to understand using comments.

[2021-03-11 13:37] Saikat-Chowdhury90 opened #622 "[GSSOC21] [JAVA] SPIRAL TRAVERSAL IN A MATRIX"
@tarun26091999 @rudrakshi99
Sir,
I am a participant of GSSOC21 and want to contribute in your project . I want to add a code of spiral traversal in a matrix in java.
We will accept a 2-D Matrix from the user and then we will print the spiral traversal of that Matrix.
Test Case
4 4
1 2 3 4
5 6 7 8
9 7 6 4
1 2 3 6
Output
1 2 3 4 8 4 6 3 2 1 9 5 6 7 6 7

Please assign this work to me

[2021-03-11 13:42] anshulsharma123 opened #623 "kadane's algorithm for maximum sum subarray"
hello admins I would like to add kadane's algorithm for maximum sum subarray please assign this work to me
I will contribute the code in c++ language

[2021-03-11 13:42] preetiahuja18 commented on #614
Please assign this to me  under GSSOC'21. I want to add the proper program in c++. I will give my best .

[2021-03-11 13:47] Saikat-Chowdhury90 commented on #623
@tarun26091999 @rudrakshi99
sir,
i am a participant of gssoc21 and would like to code kadane's algorithm for maximum sub array in java
please assign this issue to me

[2021-03-11 13:50] vedant-jain03 commented on #623
I can do this program using C,C++ and python
please assign me this issue.

[2021-03-11 13:51] vedant-jain03 commented on #618
I can do this program using C,C++ and python
please assign me this issue.

[2021-03-11 13:51] vedant-jain03 commented on #614
I can do this program using C,C++ and python
please assign me this issue.

[2021-03-11 13:52] vedant-jain03 commented on #613
I can do this program using C,C++ and python
please assign me this issue.
@raksha009 @tarun26091999 @plazzy99

[2021-03-11 13:52] vedant-jain03 commented on #602
I can do this program using C,C++ and python
please assign me this issue.
@raksha009 @tarun26091999 @plazzy99

[2021-03-11 14:01] Nidhi-2000 commented on #586
Hi !!! I am Nidhi participant of gssoc'21 . Can I work on this issue ???
I am write code on python and java

[2021-03-11 14:03] Ashee-Kanungo opened #625 "Converting Binary Tree to doubly Linked list"
Hey!! @plazzy99 @rudrakshi99 @nakul-19 @tarun26091999 @raksha009 @shreyanspoddar
I would like to solve this problem in c++.
I assure you that I will write a clear code and properly mention comments in code.
I request you to please assign me this problem.

[2021-03-11 14:04] Nidhi-2000 commented on #394
Hey !!!I am Nidhi participant of gssoc'21 . I would like to work on this issue in java or python . please consider my request and assign it to me

[2021-03-11 14:04] khareyash05 opened #626 "Backtracking Problem"
I would like to solve the famous problem of Backtracking -  N Queen Problem using C++ ,Java and Python

[2021-03-11 14:06] Nidhi-2000 commented on #354
hey !!! I am Nidhi participant of gssoc '21. I would like to work on this issue in python . Kindly assign it to me

[2021-03-11 14:07] IShahnawazShaikh opened #627 "Overall median of the matrix A."
Note: Rows are sorted
A = [   [1, 3, 5],
        [2, 6, 9],
        [3, 6, 9]   ]
output: 5
hey @tarun26091999 @shreyanspoddar I am GSSOC'21 participant may I work on this issue.
 I will implement this in TC O(N) without using extra space (using Binary search).
if we use extra space Space complexity would be O(row*column).

[2021-03-11 14:15] tarun26091999 commented on #597
issue already present at #58

[2021-03-11 14:15] #597 closed

[2021-03-11 14:17] Amanduttbhagat commented on #617
Hello,
I am a GSSoC 2021 Participant and would like contribute to this issue in Java
kindly assign me the issue

[2021-03-11 14:18] Amanduttbhagat commented on #627
Hello,
I am a GSSoC 2021 Participant and would like contribute to this issue in Java
kindly assign me the issue

[2021-03-11 14:19] sayantani11 commented on #264
I am a participant of GSSoC 2021 can you please assign me this?

[2021-03-11 14:21] sonal251001 opened #629 "Kth smallest element"
Hello. I want to add this Kth smallest element code in Java. I would push my code into arrays folder . I have read the guidelines and therefore request you to assign it to me. I am a GSSoC'21 Participant.

[2021-03-11 14:23] sayantani11 commented on #144
Can you please assign me this issue? I can do this in python

[2021-03-11 14:24] sonal251001 opened #630 "Bubble Sort"
Hello @rudrakshi99  I am Sonal Singh. A GSSoC'21 participant. I would like to add the bubble sort technique in the code . My folder would be arrays. I have read the contribution guidelines and would like you to assign this to me.

[2021-03-11 14:26] cintamg commented on #86
I am a participant in GSSOC'21. I would like to contribute to this issue in c++, can you please assign this issue to me.

[2021-03-11 14:28] suruchi2402 commented on #626
I would like to contribute solution to the prolem of Backtracking such as **Sudoku, Rat in a Maze-I, M-Coloring** problem in C++.

[2021-03-11 14:31] sonal251001 opened #631 "Median Of Two Sorted Arrays"
Hello @rudrakshi99 I am Sonal Singh. A GSSoC'21 participant. I would like to add the Median of two sorted arrays in the code . My folder would be arrays. I have read the contribution guidelines and would like you to assign this to me.

[2021-03-11 14:34] sonal251001 opened #632 "Find the maximum and Minimum in an Array"
Hello @rudrakshi99 I am Sonal Singh. A GSSoC'21 participant. I would like to add the Maximum and Minimum in arrays in the code . My folder would be arrays. I have read the contribution guidelines and would like you to assign this to me.

[2021-03-11 14:35] Ritu7683 commented on #557
@rudrakshi99 @plazzy99  @nakul-19 @tarun26091999 @raksha009 @shreyanspoddar Please say something !

[2021-03-11 14:37] Ritu7683 commented on #559
@rudrakshi99 @plazzy99  @nakul-19 @tarun26091999 @raksha009 @shreyanspoddar Please say something !

[2021-03-11 14:37] Ritu7683 commented on #560
@rudrakshi99 @plazzy99  @nakul-19 @tarun26091999 @raksha009 @shreyanspoddar Please say something !

[2021-03-11 14:37] Ritu7683 commented on #564
@rudrakshi99 @plazzy99  @nakul-19 @tarun26091999 @raksha009 @shreyanspoddar Please say something !

[2021-03-11 14:47] Aarti002 commented on #632
hey @rudrakshi99 i'm gssoc'21 participant can i work on this issue in python, So please assign this issue to me.
Thank you!

[2021-03-11 14:49] Aarti002 commented on #631
hello @rudrakshi99 @tarun26091999 under gssoc'21 can i work on this issue in python will also try to explain my code through comments.
Thank you!

[2021-03-11 14:51] Aarti002 commented on #630
hey @tarun26091999 @rudrakshi99 under gssoc'21 can i work on this issue in oython
Thank you!

[2021-03-11 14:51] Aarti002 commented on #630
*python

[2021-03-11 14:53] Aarti002 commented on #629
hey @tarun26091999 @rudrakshi99 under gssoc'21 can i work on this issue in python will provide explanatory comments too.
Thank you!

[2021-03-11 14:58] Ayan-10 opened #635 "Fibonacci Series in Java"
I created a issue for add some algorithm in java language #18 . @rudrakshi99 tell me to make separate issue for each algorithm. So I am creating this issue for Fibonacci.

[2021-03-11 14:58] tarun26091999 commented on #300
you cannot ask for more than 1 ques in a single issue.

[2021-03-11 14:58] #300 closed

[2021-03-11 14:59] kavyasree-123 opened #636 "{gssoc21 }dijkstra algorithm time complexity"
**This is participant of gssoc21** ,have thought of dijkstra algorithm for algo-tree
which **O ( V + E l o g V )** has its time complexity .
I request  to give a chance on this key issue.

[2021-03-11 15:01] tarun26091999 commented on #444
you can add one algorithm in one issue.

[2021-03-11 15:01] #444 closed

[2021-03-11 15:01] kavyasree-123 commented on #636
waiting to work on this issue please assign it to me

[2021-03-11 15:03] Amanduttbhagat commented on #632
Hello,
I am a GSSoC 2021 Participant and would like contribute to this issue in Java
kindly assign me the issue

[2021-03-11 15:05] rray14 opened #637 "Moore's Voting Algorithm"
To find the majority element from an array we can use this algorithm
My name is Ardra, a participant of GSSoC'21
Please assign me this issue
Thanks!!

[2021-03-11 15:06] sayantan1413 opened #638 "Next Greater Element in Stack"
I will implement the Next Greater Element problem in stack using C++ programming language.

[2021-03-11 15:07] pallavidhere23 commented on #638
Can I work on this issue under python or java.Please assign me  under GSSOC'2021

[2021-03-11 15:09] pallavidhere23 commented on #637
I can implement this issue in java,c++,python.I am good at data structures and algorithm .Please assign me this issue under GSSOC'2021.

[2021-03-11 15:09] pallavidhere23 commented on #635
I can implement this issue in java,c++,python.I am good at data structures and algorithm .Please assign me this issue under GSSOC'2021.

[2021-03-11 15:10] pallavidhere23 commented on #631
I can implement this issue in java,c++,python.I am good at data structures and algorithm .Please assign me this issue under GSSOC'2021.

[2021-03-11 15:10] pallavidhere23 commented on #629
I can implement this issue in java,c++,python.I am good at data structures and algorithm .Please assign me this issue under GSSOC'2021.

[2021-03-11 15:11] pallavidhere23 commented on #625
I can implement this issue in java,c++,python.I am good at data structures and algorithm .Please assign me this issue under GSSOC'2021.

[2021-03-11 15:11] pallavidhere23 commented on #622
I can implement this issue in java,c++,python.I am good at data structures and algorithm .Please assign me this issue under GSSOC'2021.

[2021-03-11 15:12] pallavidhere23 commented on #610
I can implement this issue in java,c++,python.I am good at data structures and algorithm .Please assign me this issue under GSSOC'2021.

[2021-03-11 15:12] aradhana72 commented on #630
@rudrakshi99  I would like to add c++ code for bubble sort under GSSOC'21.Can I work on this ?

[2021-03-11 15:12] Vishal-Singh-1996 commented on #351
Hello Sir,
@tarun26091999
Pls look into it...
Patch/#351 #639

[2021-03-11 15:13] tarun26091999 commented on #436
merge sort is already present in our folder.

[2021-03-11 15:13] #436 closed

[2021-03-11 15:16] Vishal-Singh-1996 commented on #261
@tarun26091999
Sir, pls look into it :-Patch/#261 #556

[2021-03-11 15:18] SwarnimaShishodia commented on #638
Hi I would like to solve problem using C++

[2021-03-11 15:19] Mohim-Singla commented on #572
@rudrakshi99 I have created the pull request for this program how do i link it with this issue?

[2021-03-11 15:20] SwarnimaShishodia commented on #637
I would like to solve this problem using C++.

[2021-03-11 15:20] SwarnimaShishodia commented on #632
Hi I would like to solve this problem using C++.

[2021-03-11 15:21] SwarnimaShishodia commented on #629
Hey I can solve this problem using C++

[2021-03-11 15:28] Vishal-Singh-1996 commented on #602
Pls assign it to me would like to do this problem using java
@tarun26091999

[2021-03-11 15:30] Kirti1807 commented on #541
Please assign this task to me as soon as , so I can start work on it.

[2021-03-11 15:44] Ayush12062000 opened #645 "Find K-th Symbol in Grammar."
Hi, I am Ayush Kesarwani, participating in GSSOC'21 .
I would like to contribute by adding C++ code (Recursive solution) for finding K-th symbol in grammar to this project.

Problem:-  First row has 0. Every 0 is changed to 01 and every 1 is changed to 10.
Given n rows and index K, return the K-th indexed symbol in row n.

         K  K  K  K  K K  K  K
n=1   0
n=2   0  1
n=3   0  1  1  0
n=4   0

[2021-03-11 15:45] anujjain5699 commented on #613
Can you assign this issue to me.

[2021-03-11 15:52] ayush78781 commented on #450
Hello Maintainers of the Project, Ayush Saxena this side, a GSSoC'21 participant, I have experience in c, c++ and python.
Please assign me this issue, as I would like to work over it.

[2021-03-11 15:55] Vishal-Singh-1996 commented on #220
@rudrakshi99
Pls look into it here I create a separate link and also link to the issue as to told

[2021-03-11 15:56] AmanUpadhyay8 opened #647 "[GSSoC'2021] Add Bubble Sort in Python"
Hello mentors, I would like to add bubble sort in python so please assign this to me.

@tarun26091999 @shreyanspoddar @nakul-19 @OjusWiZard @raksha009 @rudrakshi99 please  assign this to me.

[2021-03-11 15:57] vedant-jain03 commented on #647
Hello mentors I can do this issue using python please assign me this issue.

[2021-03-11 15:58] AmanUpadhyay8 opened #648 "[GSSoC'2021] Add DFS in Python"
Hello Mentors, I would like to add Depth First Search method algorithm in Python so can you please assign this to me?

@tarun26091999 @shreyanspoddar @nakul-19 @OjusWiZard @raksha009 @rudrakshi99 please mentors assign this to me.

[2021-03-11 15:58] vedant-jain03 commented on #632
I can do this issue in C++ and python
please assign me this issue.

[2021-03-11 16:00] AmanBisht01 commented on #494
Hey @rudrakshi99
I am a GSSoC'21 participant.
 I would like to do this problem in CPP.
you can assign this issue to me.

[2021-03-11 16:02] AmanBisht01 commented on #489
Hey @rudrakshi99
I am a GSSoC'21 participant.
I would like to do this problem in CPP in well-explained code.
You can assign this issue to me.

[2021-03-11 16:05] AmanBisht01 commented on #535
Hey @rudrakshi99
I am a GSSoC'21 participant.
 I would like to do this problem in CPP with well-explained code.
You can assign this issue to me.

[2021-03-11 16:05] mdsadiqueinam commented on #613
I want to add code for merge and sort the  multiple sorted Linked Lists using the divide and conquer method
please assign this issue to me.
Thank You

[2021-03-11 16:10] Shalvi-Singhal commented on #442
hello,
I am a GSSOC'21 participant.
can I work on this issue in python? @plazzy99 @tarun26091999 @rudrakshi99

[2021-03-11 16:12] zenithexpo commented on #355
I would like to implement this in Python.

[2021-03-11 16:13] dikshajoshi18 opened #649 "ADD Kamenetsky’s formula USING C++,PYTHON"
CAN I ADD "Count digits in a factorial" IN O(1) TIME

[2021-03-11 16:15] dikshajoshi18 opened #650 "[GSSOC'21] basic MATH FOLDER"
CAN I ADD A BASIC MATH FOLDER FOR BASIC formulas required to solve a problem in a less complex way faster than usual with less time complexity?
discord: diksha#6684
@avijit1999 @tarun26091999 @dheerajkotwani @anubhavitis

[2021-03-11 16:16] AmanBisht01 commented on #442
Hello @rudrakshi99 @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99
I am a GSSoC21 participant.

What I want to contribute :

My code will be in C++
The code will be commented for easy understanding, including 2 test cases
Please assign this issue to me.

[2021-03-11 16:17] AmanBisht01 commented on #438
Hello @rudrakshi99 @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99
I am a GSSoC21 participant.

What I want to contribute :

My code will be in C++
The code will be commented for easy understanding, including 2 test cases
Please assign this issue to me.

[2021-03-11 16:18] AmanBisht01 commented on #415
Hello @rudrakshi99 @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99
I am a GSSoC21 participant.

What I want to contribute :

My code will be in C++
The code will be commented for easy understanding, including 2 test cases
Please assign this issue to me.

[2021-03-11 16:19] OnewayShruti commented on #601
Hey @avijit1999 @tarun26091999 @dheerajkotwani @anubhavitis
I am a GSSOC'21 participant(Discord Username -Oneway_Shruti(P)#9537)
I wish to contribute to Seive of Eratosthenes algorithm in c++.I am familiar with C,C++ and python.
I can write this algorithm in O(n) time complexity,do consider assigning me .

[2021-03-11 16:20] cintamg opened #653 "Implement doubly linked list in java"
To implement a doubly linked list using java.
1. Insert at the beginning.
2. Insert at the end.
3. Insert at a specific position.
4. Delete an element.
5. Display all the elements in the list.

Example:

1. Insert at beginning - 23
  Output : 23

2. Insert at end - 78
  Outout - 23, 78

3. Delete an element : 23
  Output : 78

4. Insert at beginning : 99
  Output : 99, 78

Hey @rudrakshi99 I want

[2021-03-11 16:21] Dhanush2612 opened #654 "Calculator using Python"
Calculator built using python

[2021-03-11 16:22] Dhanush2612 opened #655 "Roots of quadratic equation"
Python program to find roots of quadratic equations

[2021-03-11 16:23] Coder-Srinivas commented on #321
Hey @tarun26091999 , I have added the code and made necessary changes and made a pull request. Please review it and let me know if anything is wrong☺.

[2021-03-11 16:27] OnewayShruti commented on #649
Hey  @avijit1999 @tarun26091999 @dheerajkotwani @anubhavitis
I am a GSSOC'21 participant(Discord Username -Oneway_Shruti(P)#9537)
I wish to contribute to ADD Kamenetsky’s formula USING C++,PYTHON I can handle it in both C++ and python.
Kamenetsky’s formula is used to count digits in N! which can be done in O(1) time.
Do consider assigning me on this.

[2021-03-11 16:28] dikshajoshi18 opened #656 "[GSSOC'21] STRING (Lowercase to Upercase WITHOUT FUNCTION)"

[2021-03-11 16:28] dikshajoshi18 opened #657 "[GSSOC'21] STRING (Anagram)"
I would like to add a program to find anagrams of string
discord: diksha#6684
@avijit1999 @tarun26091999 @dheerajkotwani @anubhavitis

[2021-03-11 16:29] dikshajoshi18 opened #658 "GSSOC'21 STRING (Check if a String is Subsequence of Other)"
(Check if a String is Subsequence of Other)

[2021-03-11 16:31] AmanBisht01 commented on #149
Hello @plazzy99

What I want to contribute  as a GSSoC'21 participant in C++ :

The code will be commented for easy understanding, including 2 test cases
Please assign this issue to me.

[2021-03-11 16:31] anotherwebguy commented on #601
Hey @OnewayShruti  since i've raised the issue so i would be working on it but i'am sure u can find another issues to contribute to or u can even raise an issue

[2021-03-11 16:33] OnewayShruti commented on #638
Hey  @anubhavitis @dheerajkotwani
I am a GSSOC'21 participant(Discord Username -Oneway_Shruti(P)#9537)
I wish to contribute to Next Greater Element in Stack. I can write the code in C++ with a time complexity of O(n) and  also in python .Do consider assigning me on this.

[2021-03-11 16:34] AmanBisht01 commented on #534
Hello  @tarun26091999
I am a GSSoC21 participant.

What I want to contribute :

My code will be in python
The code will be commented for easy understanding, including 2 test cases
Please assign this issue to me.

[2021-03-11 16:35] dikshajoshi18 opened #659 "LINKED LIST (Delete without head pointer )"
delete the node when Pointer/ reference to head node is not given.

[2021-03-11 16:39] OnewayShruti commented on #637
Hey @anubhavitis @dheerajkotwani
I am a GSSOC'21 participant(Discord Username -Oneway_Shruti(P)#9537)
I wish to contribute to Moore's Voting Algorithm I can write the code in C++ with a time complexity of O(n) and  also in python, along  with comments.
Do consider assigning me on this.

[2021-03-11 16:43] OnewayShruti commented on #632
Hey @rudrakshi99
I am a GSSOC'21 participant(Discord Username -Oneway_Shruti(P)#9537)
I wish to contribute to Find the maximum and Minimum in an Array I can write the code in C++ with STL functionalities and also in python, along with comments.
Do consider assigning me on this.

[2021-03-11 16:48] OnewayShruti commented on #631
Hey @tarun26091999 @rudrakshi99
I am a GSSOC'21 participant(Discord Username -Oneway_Shruti(P)#9537)
I wish to contribute to Median Of Two Sorted Arrays I can write the code in C++ with a time complexity of O(logn) and also in python, along with explanatory comments.
Do consider assigning me on this.

[2021-03-11 16:48] khushimishra26 commented on #656
I'm a GSSoC'21 participant. Please assign this issue to me. Thanks!

[2021-03-11 16:52] OnewayShruti commented on #614
Hey @tarun26091999 @rudrakshi99
I am a GSSOC'21 participant(Discord Username -Oneway_Shruti(P)#9537)
I wish to contribute to Calculate factorial using Recursion. I can write the code in C++ with a time complexity of O(n) and also in python, along with  well explained comments.
Do consider assigning me on this.

[2021-03-11 16:53] Tanya933 commented on #654
I would like to work on this issue .Please assign this issue to me,I can solve it in python  with proper explanation, comments and sample inputs and outputs.I will follow guidelines given for codebase and contributions.

[2021-03-11 16:57] Tanya933 commented on #638
I would like to work on this issue as a GSSoC'21 .Please assign this issue to me,I can solve it in c++ with proper explanation, comments and sample inputs and outputs.I will follow guidelines given for codebase and contributions.

[2021-03-11 16:58] Tanya933 commented on #631
hello @rudrakshi99 @tarun26091999 I would like to work on this issue as a GSSoC'21 .Please assign this issue to me,I can solve it in c++ with proper explanation, comments and sample inputs and outputs.I will follow guidelines given for codebase and contributions.

[2021-03-11 16:58] OnewayShruti commented on #595
I am a GSSOC'21 participant(Discord Username -Oneway_Shruti(P)#9537)
I wish to contribute to Locker Doors Problem I can write the code in C++ with a time complexity of O(n) and also in python, along with well explained comments.
Do consider assigning me on this.

[2021-03-11 16:59] Tanya933 commented on #631
hey @rudrakshi99 @tarun26091999 .I would like to work on this issue as a GSSoC'21  participant.Please assign this issue to me,I can solve it in c++ with proper explanation, comments and sample inputs and outputs.I will follow guidelines given for codebase and contributions.

[2021-03-11 16:59] Harikrishnan6336 opened #660 "Three Way Merge Sort"
I can implement Three Way Merge Sort in C++ as part of GSSOC'21. Kindly assign this issue to me

[2021-03-11 17:03] sanatRR opened #661 "Randomized Quicksort"
I want to write a C++ implementation of Randomized Quicksort. Choosing a pivot at random enhances quicksort performance. I am a GSSoC '21 participant.
@rudrakshi99 @nakul-19 @plazzy99

[2021-03-11 17:05] Sn0wGod opened #662 "Longest path in a Directed Acyclic Graph"
Hi, My name is **Yogesh Yogendra** and i am a GSSoC'21 Participant. I want to code this problem in C++.
Please assign me this task.

@tarun26091999  @rudrakshi99  @plazzy99  @nakul-19

[2021-03-11 17:06] reerajput930 commented on #638
Hello, I would like to contribute to this project in c++ language.
->with O(n) time complexity
->with O(1) space complexity
I am a GSsoc participant.

[2021-03-11 17:07] snowpanther6 opened #663 "Next Permutation Problem"
Hello my name is Shailesh Yogendra and I want to implement this question in C++ . I am a competitive coder
Question name = Next Permutation

@tarun26091999  @rudrakshi99  @plazzy99 @nakul-19

[2021-03-11 17:10] neha07kumari commented on #660
I want to work on this issue using C++. Kindly assign me .

[2021-03-11 17:12] snowpanther6 opened #664 "Program to calculate the value of nCr"
My name Shailesh Yogendra and I want to implement this question in C++ . I am a good competitive coder
Question name = Program to calculate the value of nCr.

@tarun26091999 @rudrakshi99 @plazzy99 @nakul-19

[2021-03-11 17:15] snowpanther6 opened #665 "Book Allocation Problem"
Hello my name is Shailesh Yogendra and I want to implement this question in C++. I am a good competitive coder.
Question name is = Book Allocation Problem

@tarun26091999 @rudrakshi99 @plazzy99 @nakul-19

[2021-03-11 17:16] sanatRR opened #666 "QuickSelect Algorithm"
I want to write a C++ implementation for the QuickSelect algorithm, it is a quicksort based algorithm used for finding the nth smallest number in an unordered list. I am a GSSoC '21 participant.
@rudrakshi99 @nakul-19 @plazzy99 please assign me this task.

[2021-03-11 17:17] Sn0wGod opened #667 "minimum number of swaps required to sort the array"
Hi , My Name is Yogesh Yogendra, I am a GSSoC,21 Participant. And also I am a Competitive Programmer and a Full Stack Web Developer. I want to solve this problem in C++.
Please assign me this task.

@tarun26091999  @nakul-19  @rudrakshi99 @plazzy99

[2021-03-11 17:20] BeShraddha opened #668 "Merge k-sorted Linked List in Java"
Description -

- [ ] Merger K-sorted Lnked List in java

I have read the guidelines
Please assign this to me

[2021-03-11 17:32] Jagruthi13 commented on #668
Hey @rudrakshi99 @tarun26091999
I would like to do it in cpp.
Please assign me this issue.

[2021-03-11 17:33] wildchaser1703 opened #669 "JAVA Popular Interview Questions"
Hi @anubhavitis @rudrakshi99 ! I have read the contribution guidelines.

I think that most of the questions here focus completely on DSA. For complete overall preparation, however, it would be good to add the top interview questions in Java language.

These will be quality-based and handpicked questions.

I can help with the same. Please assign this issue to me.

[2021-03-11 17:37] kanchan1910 commented on #491
Hey, I am Kanchan Jeswani, a GSSOC'21 participant.
I am a Competitive Programmer and C++ enthusiastic.
I would love to solve this problem using CPP with well-explained code and along with its time and space complexity.
Please assign me this issue.
Hope to hear from you.

@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99 @rudrakshi99

[2021-03-11 17:38] kanchan1910 commented on #472
Hey, I am Kanchan Jeswani, a GSSOC'21 participant.
I am a Competitive Programmer and C++ enthusiastic.
I would love to solve this problem using CPP with well-explained code and along with its time and space complexity.
Please assign me this issue.
Hope to hear from you.

@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99 @rudrakshi99

[2021-03-11 17:38] kanchan1910 commented on #489
Hey, I am Kanchan Jeswani, a GSSOC'21 participant.
I am a Competitive Programmer and C++ enthusiastic.
I would love to solve this problem using CPP with well-explained code and along with its time and space complexity.
Please assign me this issue.
Hope to hear from you.

@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99 @rudrakshi99

[2021-03-11 17:39] kanchan1910 commented on #508
Hey, I am Kanchan Jeswani, a GSSOC'21 participant.
I am a Competitive Programmer and C++ enthusiastic.
I would love to solve this problem using CPP with well-explained code and along with its time and space complexity.
Please assign me this issue.
Hope to hear from you.

@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99 @rudrakshi99

[2021-03-11 17:39] kanchan1910 commented on #506
Hey, I am Kanchan Jeswani, a GSSOC'21 participant.
I am a Competitive Programmer and C++ enthusiastic.
I would love to solve this problem using CPP with well-explained code and along with its time and space complexity.
Please assign me this issue.
Hope to hear from you.

@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99 @rudrakshi99

[2021-03-11 17:39] kanchan1910 commented on #505
Hey, I am Kanchan Jeswani, a GSSOC'21 participant.
I am a Competitive Programmer and C++ enthusiastic.
I would love to solve this problem using CPP with well-explained code and along with its time and space complexity.
Please assign me this issue.
Hope to hear from you.

@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99 @rudrakshi99

[2021-03-11 17:40] kanchan1910 commented on #528
Hey, I am Kanchan Jeswani, a GSSOC'21 participant.
I am a Competitive Programmer and C++ enthusiastic.
I would love to solve this problem using CPP with well-explained code and along with its time and space complexity.
Please assign me this issue.
Hope to hear from you.

@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99 @rudrakshi99

[2021-03-11 17:40] kanchan1910 commented on #594
Hey, I am Kanchan Jeswani, a GSSOC'21 participant.
I am a Competitive Programmer and C++ enthusiastic.
I would love to solve this problem using CPP with well-explained code and along with its time and space complexity.
Please assign me this issue.
Hope to hear from you.

@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99 @rudrakshi99

[2021-03-11 17:41] kanchan1910 commented on #601
Hey, I am Kanchan Jeswani, a GSSOC'21 participant.
I am a Competitive Programmer and C++ enthusiastic.
I would love to solve this problem using CPP with well-explained code and along with its time and space complexity.
Please assign me this issue.
Hope to hear from you.

@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99 @rudrakshi99

[2021-03-11 17:42] kanchan1910 commented on #658
Hey, I am Kanchan Jeswani, a GSSOC'21 participant.
I am a Competitive Programmer and C++ enthusiastic.
I would love to solve this problem using CPP with well-explained code and along with its time and space complexity.
Please assign me this issue.
Hope to hear from you.

@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99 @rudrakshi99

[2021-03-11 17:44] kanchan1910 commented on #83
Hey, I am Kanchan Jeswani, a GSSOC'21 participant.
I am a Competitive Programmer and C++ enthusiastic.
I would love to solve this problem using CPP with well-explained code and along with its time and space complexity.
Please assign me this issue.
Hope to hear from you.

@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99 @rudrakshi99

[2021-03-11 17:44] kanchan1910 commented on #635
Hey, I am Kanchan Jeswani, a GSSOC'21 participant.
I am a Competitive Programmer and C++ enthusiastic.
I would love to solve this problem using CPP with well-explained code and along with its time and space complexity.
Please assign me this issue.
Hope to hear from you.

@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99 @rudrakshi99

[2021-03-11 17:45] kanchan1910 commented on #632
Hey, I am Kanchan Jeswani, a GSSOC'21 participant.
I am a Competitive Programmer and C++ enthusiastic.
I would love to solve this problem using CPP with well-explained code and along with its time and space complexity.
Please assign me this issue.
Hope to hear from you.
Discord username  kanchan19#3152

@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99 @rudrakshi99

[2021-03-11 17:45] kanchan1910 commented on #631
Hey, I am Kanchan Jeswani, a GSSOC'21 participant.
I am a Competitive Programmer and C++ enthusiastic.
I would love to solve this problem using CPP with well-explained code and along with its time and space complexity.
Please assign me this issue.
Hope to hear from you.
Discord username  kanchan19#3152

@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99 @rudrakshi99

[2021-03-11 17:45] kanchan1910 commented on #629
Hey, I am Kanchan Jeswani, a GSSOC'21 participant.
I am a Competitive Programmer and C++ enthusiastic.
I would love to solve this problem using CPP with well-explained code and along with its time and space complexity.
Please assign me this issue.
Hope to hear from you.
Discord username  kanchan19#3152

@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99 @rudrakshi99

[2021-03-11 17:46] kanchan1910 commented on #614
Hey, I am Kanchan Jeswani, a GSSOC'21 participant.
I am a Competitive Programmer and C++ enthusiastic.
I would love to solve this problem using CPP with well-explained code and along with its time and space complexity.
Please assign me this issue.
Hope to hear from you.
Discord username  kanchan19#3152

@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99 @rudrakshi99

[2021-03-11 17:46] kanchan1910 commented on #604
Hey, I am Kanchan Jeswani, a GSSOC'21 participant.
I am a Competitive Programmer and C++ enthusiastic.
I would love to solve this problem using CPP with well-explained code and along with its time and space complexity.
Please assign me this issue.
Hope to hear from you.
Discord username  kanchan19#3152

@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99 @rudrakshi99