[2021-03-15 14:51] kanchan1910 commented on #176
Hey, I am Kanchan Jeswani, a GSSOC'21 participant.
I am a Competitive Programmer and C++ enthusiastic.
I would love to solve this problem using CPP with well-explained code and along with its time and space complexity.
Please assign me this issue
Hope to hear from you.

@shreyanspoddar M], @tarun26091999, SIR PLEASE ASSIGN THIS TO ME
Thank you for your time

[2021-03-15 14:51] ANSHIKA1806 opened #1048 "JAVA CURRENCY CONVERTOR"
I WANT TO ADD A CURRENCY CONVERTOR.

[java currency formatter.txt](https://github.com/Algo-Phantoms/Algo-Tree/files/6142214/java.currency.formatter.txt)
Sample Input

12324.134
Sample Output

US: $12,324.13
India: Rs.12,324.13
China: ￥12,324.13
France: 12 324,13 €

[2021-03-15 14:53] shreyanspoddar commented on #1048
The Issue is not a valid issue

[2021-03-15 14:53] #1048 closed

[2021-03-15 14:56] madhvi02 commented on #1006
@tarun26091999
Please Assign this to me.I would like to code this in C++. I m a GSSOC'21 Partcipant .I will assure you that I will provide a commented code with efficient time complexity.
Regards
Madhvi .

[2021-03-15 14:57] madhvi02 commented on #895
@tarun26091999
Please Assign this to me.I would like to code this in C++. I m a GSSOC'21 Partcipant .I will assure you that I will provide a commented code with efficient time complexity.
Regards
Madhvi .

[2021-03-15 14:58] madhvi02 commented on #815
@tarun26091999  Sir
Please Assign this to me.I would like to code this in C++. I m a GSSOC'21 Partcipant .I will assure you that I will provide a commented code with efficient time complexity.
Regards
Madhvi .

[2021-03-15 15:08] Mahima0405 commented on #291
Ok sir. Thanks

[2021-03-15 15:09] ShivamChandra7 opened #1049 "Caesar's Cipher(shifting cipher) Encoder and Decoder"
Hi,
I want to contribute to this issue , where user have 2 options either to encode the given string to the given key or Decode
the string.
language: C++
For example:
Encoder: given string: abcd key=3
                         output: defg
Decoder:given string: defg key=-3
                         output:abcd

[2021-03-15 15:11] Anshika-Srivastava opened #1051 "String: Parenthesis Checker"
### I would like to provide my C++ code for this question:
Given a string s containing just the characters '(', ')', '{', '}', '[' and ']', determine if the input string is valid.

An input string is valid if:

Open brackets must be closed by the same type of brackets.
Open brackets must be closed in the correct order.

**Example 1:**
Input: s = "()[]{}"
Output: true
**Example 2:**
Input: s = "(]"

[2021-03-15 15:15] dig9074vijay commented on #438
@rudrakshi99 I have implemented the algorithm😁. Please review it and let me know the changes you want, if any.

[2021-03-15 15:19] ANSHIKA1806 commented on #1048
WHY?

[2021-03-15 15:25] kanchan1910 opened #1052 "GSSOC'21 Path in a Rectangle with Circles in C++"
Hey, I am Kanchan Jeswani, a GSSOC'21 participant I want to add the code for the problem "Path in a Rectangle with Circles ".

The problem statement is as follows :

We have been given a mn rectangular matrix whose top-left(start) location is (1, 1) and bottom-right(end) location is (mn). There are k circles each with radius r. We have to find that if there is any path from start to end without to

[2021-03-15 15:42] rajeshpanjiyar opened #1053 "Adding CONTRIBUTORS.md file"
**Hi,** I would like to add a **contributors** file to add the **name and GitHub handle** of valuable contributors.
- I am a participant under GSSoC'21

[2021-03-15 15:53] Amanduttbhagat commented on #1051
Hello,
I would like to contribute to this issue in "Java" as a GSSoC 2021 participant
kindly assign me the issue

[2021-03-15 15:54] Diksha-11 commented on #1000
Respected Maintainer,
Please assign this issue to me.

On Mon, 15 Mar 2021 9:44 am Amanduttbhagat, ***@***.***>
wrote:

[2021-03-15 15:55] rehanakhatoon1910 opened #1054 "Arrays: Move all the negative elements to one side of the array"
**Explanation**

An array contains both positive and negative numbers in random order. We need to rearrange the array elements so that all negative numbers appear before all positive numbers.

hello @anubhavitis Sir, I want to add this important problem to the folder "Algo-Tree/Code/C++/"

[2021-03-15 15:56] Amanduttbhagat commented on #1054
Hello,
I would like to contribute to this issue in "Java" as a GSSoC 2021 participant
kindly assign me the issue

[2021-03-15 16:10] Masters-Akt commented on #853
I would like to implement it in python. Please assign it to me.

[2021-03-15 16:15] Masters-Akt commented on #635
I would like to implement it using dynamic programming, please assign it to me.

[2021-03-15 16:20] nikhil-Vaibhav commented on #1054
I want to contribute to this in 'C++' as a GSSoC participant. Please assign me this issue.

[2021-03-15 16:21] Masters-Akt commented on #494
I would like to implement it in PHP. Please assign this to me.

[2021-03-15 16:23] Masters-Akt commented on #445
I would like to implement it in python. Please assign this to me.

[2021-03-15 16:25] vanshika2906 commented on #454
I am GSSOC'21 participant. Want to implement segment tree with lazy propagation. Please assign this to me.

[2021-03-15 16:25] Masters-Akt commented on #415
I would like to implement it in python. Please assign it to me.

[2021-03-15 16:27] Masters-Akt commented on #404
I would like to implement it in python. Please assign it to me.

[2021-03-15 17:13] manasvvi1 commented on #635
please assign the issue to me, i want to do it in cpp

[2021-03-15 17:14] manasvvi1 commented on #479
please assign this issue to me, i would like to work in cpp.

[2021-03-15 17:16] manasvvi1 commented on #478
please assign this issue to me, i would like to work in cpp.

[2021-03-15 17:19] krishnmohan19 commented on #1054
hey @rehanakhatoon1910 ,
i want to contribute to this issue in Java/c++.
please assign me this issue

[2021-03-15 17:19] hritikchaturvedi11 opened #1056 "Grey code to binary code conversion"
I can write a program for the conversion of grey code to binary code in c++ and Java.

[2021-03-15 17:20] hritikchaturvedi11 opened #1057 "Binary Code to Grey Code conversion"
I can write a program for this in C++ and Java.

[2021-03-15 17:21] krishnmohan19 commented on #1056
Hey @hritikchaturvedi11
i would like to contribute to this issue as a GSSOC participant.
please assign me this issue

[2021-03-15 17:22] hritikchaturvedi11 opened #1058 "find the maximum AND in an array"
I can write a solution for this in C++ and Java

[2021-03-15 17:33] Ayush12062000 opened #1059 "Pancake Sort"
Hello, I want to add Pancake Sort in the Algo-Tree with the time and space complexities (Best, average, worst), as well as a number of swaps, comparisons performed in the Pancake sort and I, will start working on it as soon as I get assigned!! as I am a part of GSSoC'21, so I would like to implement this in the c++ Language.

Kindly assign this issue to me!
@anubhavitis @dheerajkotwani @tarun26091

[2021-03-15 17:34] sreenathpranav commented on #635
I would like to this in any of the following language Kotlin , Java or C . Please assign this to me

[2021-03-15 17:37] sreenathpranav commented on #513
I would like to implement this in C or Java please assign this to me

[2021-03-15 17:42] beenusingh commented on #975
Hey, I’m a GSSOC'21 participant.I'd like to provide an understandable code with proper comments for this issue in Java.
Please assign this issue to me.

[2021-03-15 17:42] sreenathpranav opened #1060 "I would like to add Deapth First Search using C"
@anubhavitis @dheerajkotwani @tarun26091999 @avijit1999 @todi-2000
because it is important for traversing or searching tree or graph data structures. Please assign me this . I would love to make my first PR

[2021-03-15 18:03] krishnmohan19 opened #1061 "Adding right side View of a binary tree (java)"
@anubhavitis @dheerajkotwani @tarun26091999 @avijit1999 @todi-2000
Hey, I want to add Right side view of a binary tree in the Algo-Tree  I will start working on it as soon as I get assigned!!  I am a part of GSSoC'21, so I would like to implement this in the java Language.

Kindly assign this issue to me!

[2021-03-15 18:10] krishnmohan19 opened #1062 "All possible Subsets"
@anubhavitis @dheerajkotwani @tarun26091999 @avijit1999 @todi-2000
Hey, I want to add Subsets problem ,which find all possible subset from given array with unique element in the Algo-Tree I will start working on it as soon as I get assigned!! I am a part of GSSoC'21, so I would like to implement this in the java Language.

Kindly assign this issue to me!

[2021-03-15 18:23] AmrutaKoshe opened #1063 "Counting Derangements"
Given any integer N, we need to find out the number of Derangements for a set of N elements.

I would like to solve this problem in C++

[2021-03-15 19:12] shreyanspoddar commented on #1048
It's not related to any algorithm, we are looking for specific algorithm based issues. See the other issues you'll get an idea of it.

[2021-03-15 19:16] XZANATOL commented on #794
@tarun26091999 any updates on assigning this issue?

[2021-03-15 19:38] kratimitra opened #1070 "Rat In Maze - A Backtracking problem"
Hey,
I am Krati Mitra (Discord username Krati(P)#8709), a GSSOC'21 participant.
I want to add the code for the issue "Rat In Maze".

Task:
We are given a maze of size N x N. The top-left cell is the source and  bottom right cell is the destination for the rat. Some blocks of the binary matrix are valid to move and some blocks are blocked. If one rat has to move from start cell , we have to find is

[2021-03-15 19:38] kratimitra commented on #1070
/assign

[2021-03-15 22:46] jaimehta1912 commented on #662
Hi, My name is Jai Mehta and I am a GSSoC'21 Participant. I want to code this problem in C++.
Please assign me this task.

[2021-03-15 22:46] jaimehta1912 commented on #662
@tarun26091999 @rudrakshi99 @plazzy99 @nakul-19

[2021-03-15 22:50] jaimehta1912 commented on #662
I compiled the cpp file and it is perfectly running .I eagerly to contribute in this issue please assign me the task.
@tarun26091999 @rudrakshi99 @plazzy99 @nakul-19

[2021-03-15 23:28] jaimehta1912 commented on #531
Hey @tarun26091999 @veenit1802
I am a GSSoC'21 participant. I would like to do this problem in python and java
Can you pls assign me this issue ??
I have compiled "Finding the connected components in a undirected graph "and they are perfectly running.

[2021-03-16 00:34] nikitajangid33 commented on #988
Hello i am nikita jangid, i can contribute the code for this issue.
Kindly assign this to me.

[2021-03-16 00:36] nikitajangid33 commented on #981
my name is Nikita Jangid, i would like to contribute the code for this issue in cpp, please assign it to me.

[2021-03-16 00:42] nikitajangid33 commented on #1038
My code is ready with all comments and time complexity in c++, Kindly assign this issue to me.
I really want to contribute my code for this issue.

Thanks and Regards,
Nikita Jangid
GSSOC'21 Participant

[2021-03-16 00:49] eksdee-sama commented on #462
@tarun26091999  please check PR #787

[2021-03-16 02:18] SwarnimaShishodia commented on #1062
Hey pls assign this issue to me. I can solve this using C++. @anubhavitis  @dheerajkotwani

[2021-03-16 02:19] SwarnimaShishodia commented on #1039
Hey admins, please assign me this problem. I can solve it using C++.

[2021-03-16 02:27] AdityaRaj-ar commented on #585
Hello,
I am one of the participants of GSSOC'21. I request you to assign this issue to me. This will be my first Project and I am very excited to contribute to it with all the necessary and relevant comments explaining all the necessary lines. So I request to assign this issue to me.

[2021-03-16 03:57] Upasana1216 commented on #1052
I would like to solve this problem using C++. Please assign this to me.
@rudrakshi ma'am please assign this to me
@tarun26091999 please assign this to me, I would love to contribute.
Thank you!

[2021-03-16 03:59] Upasana1216 commented on #1030
Hello, I'm Upasana Singh. I want to contribute to this issue in c++. Please assign this to me.

[2021-03-16 04:00] Upasana1216 commented on #1034
Please assign this task to me. I can solve this problem using c++.

[2021-03-16 04:03] Upasana1216 commented on #1009
Hello, I'm a C++ coder and I have a vast knowledge of STL. I'll provide a great guide for STL. Please assign this to me.

[2021-03-16 04:06] Upasana1216 commented on #269
I am a GSSOC'21 participant and I would really like to contribute to this algorithm in C++ with added comments, test cases, and time and space complexity. Looking forward to the contribution.

[2021-03-16 04:06] Upasana1216 commented on #268
I am a GSSOC'21 participant and I would really like to contribute to this algorithm in C++ with added comments ,test cases and time and space complexity . Looking forward to the contribution.

[2021-03-16 04:06] Upasana1216 commented on #266
I am a GSSOC'21 participant and I would really like to contribute to this algorithm in C++ with added comments ,test cases and time and space complexity . Looking forward to the contribution.

[2021-03-16 04:07] Upasana1216 commented on #387
I am a GSSOC'21 participant and I would really like to contribute to this algorithm in C++ with added comments ,test cases and time and space complexity . Looking forward to the contribution.

[2021-03-16 04:07] Upasana1216 commented on #370
I am a GSSOC'21 participant and I would really like to contribute to this algorithm in Java with added comments ,test cases and time and space complexity . Looking forward to the contribution.

[2021-03-16 04:08] Upasana1216 commented on #368
I am a GSSOC'21 participant and I would really like to contribute to this algorithm in C++ with added comments ,test cases and time and space complexity . Looking forward to the contribution.

[2021-03-16 04:09] Upasana1216 commented on #506
I am a GSSOC'21 participant and I would really like to contribute to this algorithm in C++ with added comments ,test cases and time and space complexity . Looking forward to the contribution.

[2021-03-16 04:09] Shalvi-Singhal commented on #594
Hello, I am a GSSOC'21 participant.
I would like to work on this code in python, please assign it to me.
@tarun26091999 @rudrakshi99 @plazzy99

[2021-03-16 04:10] Upasana1216 commented on #505
I am a GSSOC'21 participant and I would really like to contribute to this algorithm in C++ with added comments ,test cases and time and space complexity . Looking forward to the contribution.

[2021-03-16 04:10] Upasana1216 commented on #472
I am a GSSOC'21 participant and I would really like to contribute to this algorithm in C++ with added comments ,test cases and time and space complexity . Looking forward to the contribution.

[2021-03-16 04:11] Upasana1216 commented on #605
I am a GSSOC'21 participant and I would really like to contribute to this in C++ with added comments ,test cases and time and space complexity . Looking forward to the contribution.

[2021-03-16 04:12] Upasana1216 commented on #595
I want to contribute to this in c++. Please assign this to me

[2021-03-16 04:13] Upasana1216 commented on #805
I want to contribute to this in c++ with easy explanation, time complexity and edge cases. Please assign this to me

[2021-03-16 04:38] yashkumar7889 opened #1072 "Linked List | Python"
Hello, I'm a GSSoC'21 participant. I would like to add detailed( with comment lines) code for the Linked List implementation in Python.

[2021-03-16 05:01] bhavya092 commented on #1051
I would like to contribute to this issue in C++ under Gssoc'21.Can you please assign this to me?

[2021-03-16 05:09] bhavya092 opened #1074 "Hashing techniques in C++"
Greetings,
I would like to add hashing Techniques (linear probing, quadratic probing and double hashing) in C++ along with proper function descriptions, space and time complexity.
Kindly assign this to me under Gssoc'21.

[2021-03-16 05:27] Chirag018 commented on #1074
Hi,I'm a GSSoC participant.
I wish to add the implementation of Hashing Technique in Java with time and space complexity.

[2021-03-16 05:29] piyush9311 commented on #1058
may i work on this issue for all the three languages

[2021-03-16 05:50] yashkumar7889 opened #1075 "2D Array (Spiral Print and Wave Print) | C++"
Hello, I'm a GSSoC'21 participant. I would like to implement Spiral  Print and Wave Print with proper function description in C++. Kindly assign me this task. Thank You.

[2021-03-16 05:56] plazzy99 commented on #167
go ahead with python

[2021-03-16 05:58] Amit366 commented on #167
@plazzy99 I already have 2 pending PRs. Please review them .

[2021-03-16 05:58] Amit366 commented on #167
So that I can work on it.

[2021-03-16 06:04] yashkumar7889 opened #1076 "Searching (Binary Search Tree) | C++"
Hello, I'm a GSSoC'21 participant. I would like to implement Searching operation in Binary Search Tree along with proper function descriptions in C++. Kindly assign this task to me.

[2021-03-16 06:11] plazzy99 commented on #124
Raise diffferent issue for that with no duplicasy

[2021-03-16 06:49] kshithih opened #1078 "Sum of all elements of array"
**Explanation**:

Given an array of size N, print sum of all elements in array i.e. elements from 1to N .
where first input is T ,number of testcases ,N is size of array, a[] are the elements of array.

**Example**

T=2
N=6
23 12 124 54 21 6
N=5
12 12 12 12 12
sum=240
sum=60

Hello @rudrakshi99 I want to add this question to "Algo-Tree/Code/C++/"

[2021-03-16 06:59] RashikaJoshi-777 opened #1080 "Heap Sort"
I am Rashika Joshi GSSOC 2021 participant.
I want to contribute in Heap data structure.
I will code Heap Sort program in C++ programming language including :
Please assign this task to me :)

[2021-03-16 07:01] #1080 closed

[2021-03-16 07:02] RashikaJoshi-777 commented on #1080
this issue was already solved

[2021-03-16 07:09] anumshka commented on #1043
Please assign it to me for c++ implementation.
Thankyou.

[2021-03-16 07:10] RashikaJoshi-777 opened #1081 "morris traversal inorder"
I am Rashika Joshi GSSOC 2021 participant.
I want to contribute in Binary tree data structure.
I will code inorder traversal of the tree without using stack and recursion (morris inorder traversal) program in C++ programming language
Please assign this task to me :)

[2021-03-16 07:27] #950 closed

[2021-03-16 07:27] Avnish5 commented on #1078
Kindly assign this issue to me under GSSOC 2021.
I can write this code in c++,java or c.

[2021-03-16 07:30] RashikaJoshi-777 opened #1082 "Z algorithm (GSSOC'21)"
I am Rashika Joshi GSSOC 2021 participant.
I want to contribute in Searching algorithm.
I will write Z algorithm for string search in C++
Please assign this task to me :)

[2021-03-16 07:36] ayush461 opened #1083 "Add linked list sample working photo"
@tarun26091999  @rudrakshi99 @plazzy99
  I am a GSSOC21 participant.
please allow me to add linked-list sample working  photo, it will help the readers to understand easily.

[2021-03-16 07:50] HitainKakkar commented on #1017
closed!!

[2021-03-16 07:51] #1001 closed

[2021-03-16 07:51] #999 closed

[2021-03-16 07:52] #976 closed

[2021-03-16 07:53] #978 closed

[2021-03-16 07:53] #973 closed

[2021-03-16 07:53] #972 closed

[2021-03-16 07:53] #970 closed

[2021-03-16 07:53] #969 closed

[2021-03-16 07:53] #968 closed

[2021-03-16 07:53] #967 closed

[2021-03-16 07:54] #960 closed

[2021-03-16 07:54] #959 closed

[2021-03-16 07:54] #961 closed

[2021-03-16 07:55] #964 closed

[2021-03-16 07:55] #963 closed

[2021-03-16 07:55] #962 closed

[2021-03-16 07:55] #1003 closed

[2021-03-16 07:56] #997 closed

[2021-03-16 07:56] #996 closed

[2021-03-16 07:56] #993 closed

[2021-03-16 07:56] #992 closed

[2021-03-16 07:56] #990 closed

[2021-03-16 07:56] #989 closed

[2021-03-16 07:56] #979 closed

[2021-03-16 07:56] #980 closed

[2021-03-16 07:57] #987 closed

[2021-03-16 07:57] #986 closed

[2021-03-16 07:57] #984 closed

[2021-03-16 07:57] #982 closed

[2021-03-16 07:58] #957 closed

[2021-03-16 09:23] ANAMIKA1410 commented on #427
hyy!!
i m anamika jain , gssoc participant
please assign this to me
@Muskan0 @tarun26091999 @rudrakshi99 @manastole03 @pshivesh8

[2021-03-16 09:26] ANAMIKA1410 commented on #1028
hii,
I m Anamika jain , a GSSoC participant
please assign this to me :)

[2021-03-16 09:28] ANAMIKA1410 commented on #1028
def bubbleSort(arr):
    n = len(arr)

    # Traverse through all array elements
    for i in range(n-1):
    # range(n) also work but outer loop will repeat one time more than needed.

        # Last i elements are already in place
        for j in range(0, n-i-1):

            # traverse the array from 0 to n-i-1
            # Swap if the element found is greater
            # than the next elem

[2021-03-16 09:32] ANAMIKA1410 commented on #1028
# Python program for implementation of Insertion Sort
# Function to do insertion sort
 def insertionSort(arr):      
           # Traverse through 1 to len(arr)     
           for i in range(1, len(arr)):           
                   key = arr[i]         
                   # Move elements of arr[0..i-1], that are        
                   # greater than key, to one position ahead
             

[2021-03-16 09:37] ANAMIKA1410 commented on #1028
def insertionSort(arr):

    # Traverse through 1 to len(arr)
    for i in range(1, len(arr)):

        key = arr[i]

        # Move elements of arr[0..i-1], that are
        # greater than key, to one position ahead
        # of their current position
        j = i-1
        while j >=0 and key < arr[j] :
                arr[j+1] = arr[j]
                j -= 1
        arr[j+1] = key

[2021-03-16 11:10] Gautam204 opened #1085 "Including vectors in C++"
### Explaination

A vector is a sequence container class that implements dynamic array.

I want to contribute by including the basics functions of insertion and deletion of vectors.

Hello @tarun26091999 , I wanted to add this important question in the Algo-Tree and I will start working on it as soon as I get assigned!! as I am a part of GSSoC'21.

[2021-03-16 13:19] suruchi2402 commented on #519
Hello!
I would like to add **Path with Maximum Gold** backtracking problem in C++
Sir/Mam @rudrakshi99  Please assign this to me

[2021-03-16 13:35] niyatitotala commented on #1085
Hello, Can I work on this?  @Gautam204

[2021-03-16 13:36] niyatitotala commented on #1078
Hello, Can I work on this? @tarun26091999

[2021-03-16 13:37] ShrutiOmer opened #1088 "merging two sorted arrays"
I want to add a code in array section for merging the two sorted arrays using O(1) space in C++

I am a Gssoc participant, @tarun26091999  please assign this issue to me

[2021-03-16 13:43] beenusingh commented on #894
Hey, I’m a GSSOC'21 participant.I'd like to provide an understandable code with proper comments for this issue in Java.
Please assign this issue to me.

[2021-03-16 13:46] beenusingh commented on #716
Hey, I’m a GSSOC'21 participant.I'd like to provide an understandable code with proper comments for this issue in Java.
Please assign this issue to me.

[2021-03-16 13:48] beenusingh commented on #681
Hey, I’m a GSSOC'21 participant.I'd like to provide an understandable code with proper comments for this algorithm in Java.
Please assign this issue to me.

[2021-03-16 13:50] nidhi-08 commented on #438
Hi, I would like to add the Java Code for this Algorithm as a part of GSSOC'21. Please assign this to me.

[2021-03-16 14:03] krishna-NIT commented on #1025
Hi,
I am GSSOC'21 participant

My code will be in JAVA with proper comments and test cases.
@rudrakshi99 @nakul-19 @plazzy99 @tarun26091999  please assign me this issue

[2021-03-16 14:03] krishna-NIT commented on #1082
Hi,
I am GSSOC'21 participant

My code will be in JAVA with proper comments and test cases.
@rudrakshi99 @nakul-19 @plazzy99 @tarun26091999  please assign me this issue

[2021-03-16 14:03] krishna-NIT commented on #1075
Hi,
I am GSSOC'21 participant

My code will be in JAVA with proper comments and test cases.
@rudrakshi99 @nakul-19 @plazzy99 @tarun26091999  please assign me this issue

[2021-03-16 14:03] krishna-NIT commented on #1058
Hi,
I am GSSOC'21 participant

My code will be in JAVA with proper comments and test cases.
@rudrakshi99 @nakul-19 @plazzy99 @tarun26091999  please assign me this issue

[2021-03-16 14:03] krishna-NIT commented on #1054
Hi,
I am GSSOC'21 participant

My code will be in JAVA with proper comments and test cases.
@rudrakshi99 @nakul-19 @plazzy99 @tarun26091999  please assign me this issue

[2021-03-16 14:04] krishna-NIT commented on #1047
Hi,
I am GSSOC'21 participant

My code will be in JAVA with proper comments and test cases.
@rudrakshi99 @nakul-19 @plazzy99 @tarun26091999  please assign me this issue

[2021-03-16 14:04] krishna-NIT commented on #1081
Hi,
I am GSSOC'21 participant

My code will be in JAVA with proper comments and test cases.
@rudrakshi99 @nakul-19 @plazzy99 @tarun26091999  please assign me this issue

[2021-03-16 14:12] Athira1601 commented on #1088
i would like to contribute to  this  project, i am a gssoc participant.kindly assign the issue to me.

[2021-03-16 14:15] Athira1601 commented on #1078
i would like to contribute to this issue. i am gssoc participant. kindly assign me this issue.

[2021-03-16 14:16] Athira1601 commented on #1076
i would like to contribute to this issue.kindly assign me this  issue.

[2021-03-16 14:30] Debashish-hub opened #1089 "Bit Algorithms"
Hello!

I am a GSSOC'21 participant. I would like to work on following issue:

Implementation of sum of bit difference among different pairs.

It would be great if I will be assigned this issue @plazzy99 , @rudrakshi99
Thank you

[2021-03-16 14:46] MayureeS opened #1090 "Max Circular Subarray Sum"
The program to output the maximum subarray sum including circular subarrays as well.
Example:
I/P :  [-1 , 2 , -2]
O/P : 2
Out of all subarrays(including circular ones) 2 is the maximum sum.

I am GSSoC21 participant. I would like to work on this issue in C++.
@rudrakshi99 @plazzy99 Please assign this issue to me.

[2021-03-16 14:53] MayureeS commented on #1049
@rudrakshi99 @plazzy99  Kindly assign this issue to me. I would like to write the code for this problem in 'Java'.

[2021-03-16 14:59] Vishal-Singh-1996 commented on #635
@tarun26091999 Pls Assign it me to would like to contribute in java

[2021-03-16 15:11] kratimitra commented on #1070
/assign

[2021-03-16 15:45] aaadddiii opened #1091 "Vertical order traversal of binary tree in c++"
Hi,
I would like this in c++. It is a classic problem in data structures and is asked in many coding interviews
I am a participant of GSSoC'21 and would like to contribute in this repo.

[2021-03-16 15:47] Gautam204 opened #1093 "Palindrome using Python"
Hi I am  participating in GSSOC'21 .
I would like to contribute to check whether a string is Palindrome  in Python to this project.

Kindly assign this issue to me!
@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99

[2021-03-16 15:50] hardik7e opened #1094 "Moore Vote Algorithm"
would like to add moore vote algorithm along with an example particularly a question from leetcode based on this (majority element #169) and proper explanation.
Please assign this to me and add gssoc tag including other relevant tags

[2021-03-16 16:14] simarjeet30 commented on #1093
Hi I am Simarjeet ,participating in GSSOC'21 .
I would like to check whether a string is Palindrome in Python /C/C++.

Kindly assign this issue to me!
@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99

[2021-03-16 16:16] simarjeet30 commented on #1078
Hi I am participating in GSSOC'21 .
I would like to contribute to this project.
Explanation:

Given an array of size N, print sum of all elements in array i.e. elements from 1to N .
where first input is T ,number of testcases ,N is size of array, a[] are the elements of array.

Example

T=2
N=6
23 12 124 54 21 6
N=5
12 12 12 12 12
sum=240
sum=60
the code is ready with proper comments .
Kindly assi

[2021-03-16 16:16] AmanBisht01 commented on #534
@tarun26091999  Sir please review my PR

[2021-03-16 16:17] simarjeet30 commented on #1062
Hey pls assign this issue to me. I can solve this using python/C/C++.
I have good knowledge of data structure and algorithms
 @anubhavitis @dheerajkotwani

[2021-03-16 16:21] tk315 commented on #897
I want to implement it in Python under GSSOC

[2021-03-16 16:34] tk315 commented on #392
I would like to implement this in Java under Gssoc

[2021-03-16 16:42] tk315 commented on #176
I would like to do this in JAVA under GSSOC

[2021-03-16 16:45] ishanailwal opened #1096 "Check Palindrome-C++"
To check whether a given String S is a palindrome using recursion. Can I add this to C++ codes?

[2021-03-16 16:47] tk315 commented on #438
I would like to add python code of this under Gssoc

[2021-03-16 16:50] tk315 commented on #687
I would like to do this in JAVA under GSSOC

[2021-03-16 17:01] raghavambashta opened #1099 "Conversion of BCD number into Decimal number"
A BCD number is a binary coded decimal number where each digit of the decimal number is represented by a fixed number of bits.

In order to convert a BCD number into its equivalent decimal, the following algorithm is implemented :
1. Iterate over the digits of the given BCD number
2. Group the BCD number into groups of 4 digits.
3. Compute the decimal equivalent for the group.
4. Store the digit i

[2021-03-16 17:27] AmanBisht01 commented on #415
Hello  @tarun26091999

What I want to contribute :

My code will be in Python
The code will be commented for easy understanding, including 2 test cases
Please assign this issue to me.

[2021-03-16 17:50] reerajput930 opened #1100 "Find Largest subtree sum in a binary tree!"
Hello, I would like to contribute to this project in c++ language.
->in O(n) time complexity
->in O(n) space complexity
I am a GSsoc'21 participant. assign me the issue.

waiting for a positive response.

[2021-03-16 17:53] reerajput930 commented on #1100
with the help of postorder recursion method.

[2021-03-16 17:56] reerajput930 opened #1101 "Find LCA(lowest common ancestor) in a Binary tree!"
Hello, I would like to contribute to this issue in c++ language.
->in O(n) time complexity
->in O(n) space complexity
I am a GSsoc'21 participant. assign me the issue.
waiting for a positive response.

[2021-03-16 17:58] hw0105 commented on #1023
Hey, i am a participant of GSSOC'21.I would like to contribute to this issue.(C++).Please assin me this task

[2021-03-16 18:17] #284 closed

[2021-03-16 18:28] Akash20x commented on #176
Please check my pull request

[2021-03-16 18:30] Ayushisood commented on #321
@tarun26091999  Can I do the  code in python as i have done in c++, but it is merged now.

[2021-03-16 18:33] #146 closed

[2021-03-16 18:46] Ayushisood opened #1103 "Hii , I want to add Priority Queues using Max Heaps in the Algo-tree."

[2021-03-16 18:51] manasvvi1 commented on #569
can i work on the issue? I am a participant at GSSOC 2021 and i will be working in cpp.

[2021-03-16 19:00] tarun26091999 commented on #1094
present at #392

[2021-03-16 19:00] #1094 closed

[2021-03-16 19:03] tarun26091999 commented on #524
you are talking about Moore's voting algo, it is already present at #392

[2021-03-16 19:03] #524 closed

[2021-03-16 19:04] tarun26091999 commented on #983
the most optimised way is present at #392

[2021-03-16 19:04] #983 closed

[2021-03-16 19:11] tarun26091999 commented on #914
present at #178

[2021-03-16 19:11] #914 closed

[2021-03-16 19:12] tarun26091999 commented on #1023
issue present at #178 and C is not accepted

[2021-03-16 19:12] #1023 closed

[2021-03-16 19:12] tarun26091999 commented on #178
C++ is already present in the folder.

[2021-03-16 19:17] adityaiiitL opened #1105 "Rain Water Trapping Problem"
Given N non-negative integers representing an elevation map where the width of each bar is 1, compute how much water it is able to trap after raining.
Input: T denoting number of test cases ( 1<=T<=100) . Further T sections consist of N ( 2<=N<=10^5), and next line consists of N inputs of elevations (0<=elevations<=10^9).
Output: A single integer denoting amount of water stored between the elevati

[2021-03-16 20:01] shahina-bano commented on #421
Please assign me this issue, I will code this in JAVA.

[2021-03-16 20:10] Jassi10000 commented on #1101
Being a GSSOC'21 participant ,I would like to work on this issue , can you please assign me

[2021-03-16 20:15] yashmita commented on #1061
Please assign me this issue. I can solve this problem using C++.

[2021-03-16 20:15] shahina-bano commented on #872
Please assign this me issue, I will solve this problem using JAVA.

[2021-03-16 20:19] shahina-bano commented on #777
Please assign this issue, I will solve this using CPP.

[2021-03-16 20:21] yashmita commented on #777
I can solve this problem using Python. Kindly assign me this issue.

[2021-03-16 20:22] shahina-bano commented on #704
Please assign this issue, I will solve this using CPP.

[2021-03-16 20:26] shahina-bano commented on #611
Please assign this issue, I will solve it using JAVA.

[2021-03-16 20:26] yashmita commented on #611
I can solve this problem using C++. Kindly assign this issue to me.

[2021-03-16 20:27] shahina-bano commented on #487
Please assign this issue, I will solve it using CPP.

[2021-03-16 20:30] yashmita commented on #487
I can solve this problem using Java. Kindly assign me this issue.

[2021-03-16 20:33] shahina-bano commented on #516
Please assign this issue, I will solve it using JAVA.

[2021-03-16 20:33] yashmita commented on #516
I can contribute to this issue using C++. Kindly assign it to me.

[2021-03-16 20:36] shahina-bano commented on #665
Please assign this issue, I will solve using JAVA.

[2021-03-16 20:36] yashmita commented on #665
I can solve this using python. Kindly assign it to me.

[2021-03-16 20:40] raksha009 commented on #487
Issue for all sorting algorithms present at #124

[2021-03-16 20:40] #487 closed

[2021-03-16 20:43] raksha009 commented on #665
Always specify language while commenting to get an issue assigned :)

[2021-03-16 20:45] yashmita commented on #366
Please assign this issue to me, I can implement this algorithm using C++.

[2021-03-16 20:47] yashmita commented on #295
I can contribute to this issue using C++. Kindly assign it to me.

[2021-03-16 20:49] shahina-bano commented on #295
I can contribute to this issue using JAVA. Kindly assign it to me.

[2021-03-16 20:49] raksha009 commented on #421
Always specify language while commenting to get an issue assigned :)

[2021-03-16 22:18] tk315 commented on #1061
I would like to work on this under Python under GSSOC

[2021-03-16 22:30] raksha009 commented on #1028
Issue for all sorting algorithms present at #124

[2021-03-16 22:30] #1028 closed

[2021-03-16 22:31] raksha009 commented on #895
Issue for all sorting algorithms present at #124

[2021-03-16 22:31] #895 closed

[2021-03-17 00:24] nikitajangid33 commented on #1096
I am Nikita Jangid, Gssoc'21 participant. I want to contribute to this issue, kindly assign it to me.

[2021-03-17 04:03] tk315 commented on #537
I would like to do this in java under gssoc

[2021-03-17 04:08] shahbazalam07 commented on #1105
I want to contribute

[2021-03-17 04:13] kshithih opened #1106 "Deletion of alternate nodes in Linked List"
**EXPLANATAION:**
Given a Singly Linked List of size N, deletion of alternate nodes are implemented in this program.
Input 1 consists of number of testcases i.e. T
Input 2 consists of number of Nodes i.e. N

**EXAMPLE**
INPUT:1->2->3->4->5
OUTPUT: 1->3->5

Hello  @tarun26091999  please assign this to me .I would implement it using either C++.

[2021-03-17 04:25] shahbazalam07 commented on #454
Please assign me I want to contribute in java

[2021-03-17 04:34] anandhu-eng commented on #427
hello, i am Anandhu S,Python enthusiast, GSSOC'21 participant.
I would like to work on this issue on Python... Please do assign this to me:)

Thank you

@tarun26091999

[2021-03-17 04:37] shubhgupta9 opened #1108 "Reverse Linked List"
To print a singly linked list in reverse order.

example input:-
1 3 5 6 7 -1 (-1 to end linked list)
example output:-
7 6 5 3 1

I will add it in C++.

@tarun26091999 Please assign me this issue.

[2021-03-17 04:41] Harikrishnan6336 opened #1109 "Comb Sort in C++"
I would like to implement Comb Sort in C++ as part of GSSOC'21. Kindly assign this to me @tarun26091999  @rudrakshi99

[2021-03-17 04:52] Harikrishnan6336 opened #1110 "In Place Merge Sort in C++"
The current implementation of merge sort in C++, is by using a temporary storage array. I can implement an improvised algorithm, where we do not need extra space.

Kindly assign this issue to me @tarun26091999

[2021-03-17 04:59] shubhgupta9 opened #1111 "Tower of Hanoi - C++"
The most common question of recursion.

I will add it in C++.

@tarun26091999 Please assign me this issue.

[2021-03-17 05:12] Vish-07 opened #1112 "Implementing insert, search, autocomplete, finding no of prefixes using trie"
Hello Sir/Ma'am,

I would like to implement insert, search, delete, autocomplete, finding no of words with given prefix using Trie in C++ under GSSOC'21. Please assign this to me.

[2021-03-17 05:16] Lza-etc opened #1113 "Modified Quick Sort Algorithm using Insertion Sort in C++"
Hello,
 I want to add modified quick sort algorithm using Insertion sort in the Algo-Tree I will start working on it as soon as I get assigned!! I am a part of GSSoC'21, so I would like to implement this in the C++ Language.

Kindly assign this issue to me!

[2021-03-17 06:17] Shraddha13Jain commented on #421
/assign
please assign me this issue. i will code it in c++.

[2021-03-17 06:26] Aarti002 commented on #1108
hey @tarun26091999 can i work on this issue in python?
Thank you!

[2021-03-17 06:26] Aarti002 commented on #1106
hello @tarun26091999 @rudrakshi99 can i work on this issue in python?
Thank you!

[2021-03-17 06:28] raksha009 commented on #421
The issue is already assigned in cpp. Assignment only for python language is left. Plz view the tags and assigned languages.

[2021-03-17 06:29] Aarti002 commented on #1103
hello @tarun26091999 @rudrakshi99 can i work on this issue in python?
Thank you!

[2021-03-17 06:29] Aarti002 commented on #1101
hello @tarun26091999 @rudrakshi99 can i work on this issue in python?
Thank you!

[2021-03-17 06:37] Shraddha13Jain commented on #421
ok I will code it in python .please assign this to me @raksha009 .

[2021-03-17 06:53] Vish-07 opened #1114 "[GSSOC'21] Implement autocomplete feature using TRIE in C++"
Hello,

I would like to implement autocomplete feature using Trie in C++ under GSSOC'21. Please assign this to me. @rudrakshi99

[2021-03-17 07:25] soumik2012 opened #1116 "Birthday remaining"
## 🚀 Feature

This is a program I don't find in the repo this will help to a new programmer.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

   Yes
## Motivation

I have to contribute to GSSOC'21

## Pitch

Calculate how many days are remaining for the next birthday.

[2021-03-17 07:56] jeelnathani commented on #826
I am gssoc'21 participant. I would like to implement it in python

[2021-03-17 08:08] sanyadeveloper2000 commented on #379
Hey, I would like to work on this issue. Can you pls assign it to me?

[2021-03-17 08:18] Vishal-Singh-1996 commented on #687
@tarun26091999 pls assign it to me would like to do this in Java

[2021-03-17 08:28] theSatvik commented on #1111
I will add the code in C++.

@tarun26091999 Please assign me this issue.

[2021-03-17 08:29] theSatvik commented on #1110
I will add it in C++.

@tarun26091999 Please assign me this issue.

[2021-03-17 08:35] Upasana1216 opened #1121 "Adding useful tricks for bit manipulation"
I would like to contribute to this. Please assign this to me.

[2021-03-17 08:48] theSatvik opened #1122 "Search target element in sorted 2D array"
I will do it in C++.
@tarun26091999  Please assign me this issue.

[2021-03-17 09:12] #196 closed

[2021-03-17 09:54] krishna-NIT commented on #1089
Hi,
I am GSSOC'21 participant

My code will be in JAVA with proper comments and test cases.
@rudrakshi99 @nakul-19 @plazzy99 @tarun26091999  please assign me this issue

[2021-03-17 09:55] krishna-NIT commented on #1040
Hi,
I am GSSOC'21 participant

My code will be in JAVA with proper comments and test cases.
@rudrakshi99 @nakul-19 @plazzy99 @tarun26091999  please assign me this issue

[2021-03-17 10:12] HitainKakkar opened #1123 "CALL BY VALUE IN C++/CPP"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

I have made a PR for the same.
Kindly assign this issue!!

Regards,
Hitain Kakkar

[2021-03-17 10:12] HitainKakkar opened #1124 "CALL BY REFERENCE IN C++/CPP"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

I have made a PR for the same.
Kindly assign this issue!!

Regards,
Hitain Kakkar

[2021-03-17 10:38] Riya764 opened #1127 "Merge Intervals"
Hey! I would like to add Merge Interval problem using Java. Please assign me this work .

[2021-03-17 10:40] Riya764 opened #1128 "Hotel Bookings Possible"
Hey! I would like to add Hotel Bookings Possible problem using Java. Please assign me this work .

[2021-03-17 10:54] #321 closed

[2021-03-17 11:03] aaadddiii opened #1130 "N-Queens algorithm in c++"
N-Queens problem is a classic backtracking problem and is asked in many interviews .
Hi,
I am a participant of GSSoC'21 and would like to contribute in this repo.

[2021-03-17 11:10] Suvraneel commented on #187
@aaadddiii  Why would you close this...There are multiple assignees...
Open this back up kindly...

[2021-03-17 12:07] Athira1601 commented on #1111
i would like to contribute to this issue.kindly assign me the isuue.

[2021-03-17 12:27] priyanka001tech opened #1132 "cosmic number(gssoc'21)"
Given a single integer N, your task is to find the smallest number such that the sum of its digits is N and it is divisible by 10N.

Examples:

Input : N = 5
Output : 500000
500000 is the smallest number divisible
by 10^5 and sum of digits as 5.

Input : N = 20
Output : 29900000000000000000000

[2021-03-17 12:59] Shulabh-968026 commented on #1072
Hello,I am a GSSOC'21 participant.I want to resolve this issue.Kindly assign this issue to me.Thank you!!

[2021-03-17 13:01] Shulabh-968026 commented on #1057
Hello Mentor!  I can resolve this issue in python. Please assign this to me.

[2021-03-17 13:03] Shulabh-968026 commented on #1043
Please assign this issue to me. I solve this issue in all C++/java and python.Thank you!!

[2021-03-17 13:04] Shulabh-968026 commented on #1024
I want to resolve this issue in python.Please assign this issue to me.

[2021-03-17 13:07] Shulabh-968026 commented on #988
Hello Sir/Maam
  I would like to resolve this issue in python and java. Please assign this issue to me.

[2021-03-17 13:28] drishika2002 commented on #1078
Hello, I would like to code this question in C language as a GSSOC'21 participant.
Kindly assign this issue to me.

[2021-03-17 13:38] drishika2002 opened #1134 "Declare, initialize and access Three Dimensional Array elements"
Hello, I am a GSSOC'21 participant.
I would like to code this issue in C++.
Kindly assign this issue to me.

[2021-03-17 13:39] JkAnagha opened #1135 "Modified Binary Search"
Pigeonhole principal is very useful and important concept. It is used for specific problems and is very useful for optimizing space complexity . For ex - Given a vector of N + 1 elements containing numbers from 1 to N, this can be solved in O(NlogN) time and O(1) space. @tarun26091999 @rudrakshi99  kindly assign this to me.

[2021-03-17 14:01] shubhii0206 opened #1137 "Prims Algorithm to calculate MST using priority queue."
Hi
I am a participant in GSsoc. Priority Queue is a very important data structure that helps in optimizing space and time complexity of algorithms. Prims Algorithms using Priority Queue can be applied to solve MST problems real quick.

[2021-03-17 15:08] sarvesha-jaiswal commented on #1111
i would like to code this question in java ,may i do it??

[2021-03-17 15:44] Snehakri022 opened #1140 "Kadane's Algorithm"
I want to add this algorithm in C++. @avijit1999 @dheerajkotwani @tarun26091999  please assign to me
eg: Given an array arr of N integers. Find the contiguous sub-array with maximum sum.

[2021-03-17 15:46] Snehakri022 opened #1141 "Word Wrap problem"
hey @anubhavitis  @dheerajkotwani @tarun26091999 @avijit1999  I want to add this problem in c++. please assign to me

[2021-03-17 16:29] Rohit-MyRG opened #1142 "Union of two linked lists"
**Hello @rudrakshi99 @plazzy99 @shreyanspoddar @anjul2000**I am a **GSSoC21** participant.

### What i will do
##Find Union node's from two linked lists.
**I will do this code in Java**
**Easy to understand and commented code
**Inlcuded at least two testcases

I want to add this important question in "[Algo-Tree/Linked_list/](https://github.com/Algo-Phantoms/Algo-Tree/tree/main/Linked_list)"

**Ex

[2021-03-17 16:37] Rohit-MyRG commented on #1142
Hello @rudrakshi99 @plazzy99 @shreyanspoddar @anjul2000
**Please assign me this issue.**

[2021-03-17 16:49] RashmiShukla07 commented on #1122
I want to contribute to this Issue. Kindly assign it to me.

[2021-03-17 18:05] aditya113141 commented on #906
Hello @rudrakshi99 @plazzy99 @shreyanspoddar @anjul2000
Please assign me this issue.

[2021-03-17 18:50] Nidhideveloper opened #1144 "Find the sum of all the divisors of a number"
I am a gssoc21 participant. Please assign this to me. I would like to work on this in c++.

[2021-03-17 19:09] varshakr1298 commented on #1111
I wish to contribute, can I
Language: C++

[2021-03-17 19:10] varshakr1298 commented on #1108
@tarun26091999 Can I work on this issue ?

[2021-03-17 19:54] Upasana1216 commented on #1112
I would like to contribute to this issue please assign this to me.

[2021-03-17 19:55] Upasana1216 commented on #1082
I'm C++ coder I would like to contribute to this issue please assign this to me

[2021-03-17 19:57] Upasana1216 commented on #279
I would like to contribute to this. Please assign this to me

[2021-03-17 19:57] Upasana1216 commented on #268
Hello, I am GSSOC' 21 participant. I want to add disjoint set union find algorithm with example and explanations. I wish to code in C++. Please assign me this issue.

[2021-03-18 01:21] Naman-12911 commented on #1130
Hello I want to solve this issue please assign me under GSSOC.

[2021-03-18 01:22] Naman-12911 commented on #1140
Hello sir I want to solve this issue please assign me under GSSOC.

[2021-03-18 01:57] srisatya1197 commented on #299
Thank you for assigning this issue Sir ,unfortunately I can't make it cause I have exams

[2021-03-18 02:22] Deeksha-Rawat opened #1145 "Finding Loop in a Linked List [GSsoc 21]"

[2021-03-18 03:16] jaimehta1912 commented on #1145
please assign me this issue

[2021-03-18 03:21] jaimehta1912 opened #1146 "WILDCARD PATTERN MATCHING IN C++"
Given a text and a wildcard pattern, implement wildcard pattern matching algorithm that finds if wildcard pattern is matched with text. The matching should cover the entire text (not partial text).
The wildcard pattern can include the characters ‘?’ and ‘*’
‘?’ – matches any single character
‘*’ – Matches any sequence of characters (including the empty sequence)

Text = "baaabab",

Pattern = “****

[2021-03-18 03:22] simarjeet30 commented on #1144
I am a gssoc21 participant. Please assign this to me. I would like to work on this in c++/c/python.

[2021-03-18 03:28] jaimehta1912 commented on #1061
I have  completed the coding part for this issue and it works completely fine .Please assign me this issue .I will pull request by next hour. I am doing it in C++

[2021-03-18 04:25] aditi1403 opened #1147 "KADANE'S ALGORITHM"
Sir
I would like to add the "Kadane's Algorithm" to the algorithm section.
I am a GSSOC'21 participant. I write my code mostly in C++ and Python. I will make sure I write a clean code and follow the code of conduct. Kindly assign this issue to me.

Regards
Aditi Yadav

[2021-03-18 05:32] Shraddha13Jain commented on #1061
I would like to implement this using C++.I am the participant of gssoc'21.Please assign this issue to me

[2021-03-18 05:36] Shraddha13Jain commented on #483
please assign this issue to me.I can implement it in java as a participant of gssoc'21

[2021-03-18 05:54] Shraddha13Jain commented on #599
Please assign this issue to me.I can implement it in c++/c/python.I am a participant of gssoc'21

[2021-03-18 05:56] Ritu01-git commented on #402
I would like do it in Python , Can you assign me? @tarun26091999

[2021-03-18 06:59] khushboojoshi3 commented on #853
I would like to implement this issue in C++, please assign it to me.

[2021-03-18 07:01] khushboojoshi3 commented on #241
I would like to work on this issue in C++, please assign it to me.

[2021-03-18 07:04] raksha009 commented on #599
@rk05-lenavo go ahead with cpp
@Shraddha13Jain go ahead with python

[2021-03-18 07:06] Deepaliiii commented on #455
hey .. I'm gssoc'21 participant and i want to work on this problem in CPP. please assign to me

[2021-03-18 07:06] khushboojoshi3 commented on #499
I would like to work on this issue in c++, please assign it to me.

[2021-03-18 07:07] khushboojoshi3 commented on #137
I would like to work on this issue in c++, please assign it to me.

[2021-03-18 07:10] khushboojoshi3 commented on #151
I would like to work on this issue in c++, please assign it to me.

[2021-03-18 07:12] Deepaliiii commented on #151
i would like to work on this issue in C++, please assign it to me.

[2021-03-18 07:13] khushboojoshi3 commented on #485
Hey, I'm a GSSOC'21 participant. I would like to work on this issue in C++, please assign it to me.

[2021-03-18 07:15] Deepaliiii commented on #151
I would like to work on this issue in c++, please assign it to me.

[2021-03-18 07:17] khushboojoshi3 commented on #638
Hey, I'm a GSSOC'21 participant. I would like to work on this issue in C++, please assign it to me.

[2021-03-18 07:19] khushboojoshi3 commented on #586
Hey, I'm a GSSOC'21 participant. I would like to work on this issue in C++, please assign it to me.

[2021-03-18 07:20] khushboojoshi3 commented on #559
Hey, I'm a GSSOC'21 participant. I would like to work on this issue in C++, please assign it to me.

[2021-03-18 07:20] Deepaliiii commented on #853
I would like to implement this issue in C++, please assign it to me.

[2021-03-18 07:22] khushboojoshi3 commented on #519
Hey, I'm a GSSOC'21 participant. I would like to work on this issue in C++, please assign it to me.

[2021-03-18 07:22] Deepaliiii commented on #151
I would like to work on this issue in c++, please assign it to me.

[2021-03-18 07:22] khushboojoshi3 commented on #455
Hey, I'm a GSSOC'21 participant. I would like to work on this issue in C++, please assign it to me.

[2021-03-18 07:22] Deepaliiii commented on #241
I would like to work on this issue in c++, please assign it to me.

[2021-03-18 07:23] Deepaliiii commented on #586
I would like to work on this issue in c++, please assign it to me.

[2021-03-18 07:23] Deepaliiii commented on #137
I would like to work on this issue in c++, please assign it to me.

[2021-03-18 07:23] Deepaliiii commented on #638
I would like to work on this issue in c++, please assign it to me.

[2021-03-18 07:24] khushboojoshi3 commented on #462
Hey, I'm a GSSOC'21 participant. I would like to work on this issue in C++, please assign it to me.

[2021-03-18 07:24] Deepaliiii commented on #462
I would like to work on this issue in c++, please assign it to me.

[2021-03-18 07:24] khushboojoshi3 commented on #455
Hey, I'm a GSSOC'21 participant. I would like to work on this issue in C++, please assign it to me.

[2021-03-18 07:25] khushboojoshi3 commented on #450
Hey, I'm a GSSOC'21 participant. I would like to work on this issue in C++, please assign it to me.

[2021-03-18 07:26] khushboojoshi3 commented on #404
Hey, I'm a GSSOC'21 participant. I would like to work on this issue in C++, please assign it to me.

[2021-03-18 07:26] Deepaliiii commented on #404
Hey, I'm a GSSOC'21 participant. I would like to work on this issue in C++, please assign it to me.

[2021-03-18 07:27] khushboojoshi3 commented on #402
Hey, I'm a GSSOC'21 participant. I would like to work on this issue in C++, please assign it to me.

[2021-03-18 07:27] khushboojoshi3 commented on #394
Hey, I'm a GSSOC'21 participant. I would like to work on this issue in C++, please assign it to me.

[2021-03-18 07:28] Deepaliiii commented on #450
Hey, I'm a GSSOC'21 participant. I would like to work on this issue in C++, please assign it to me.

[2021-03-18 07:29] Deepaliiii commented on #402
Hey, I'm a GSSOC'21 participant. I would like to work on this issue in C++, please assign it to me.

[2021-03-18 07:29] khushboojoshi3 commented on #385
Hey, I'm a GSSOC'21 participant. I would like to work on this issue in C++, please assign it to me.

[2021-03-18 07:29] khushboojoshi3 commented on #380
Hey, I'm a GSSOC'21 participant. I would like to work on this issue in C++, please assign it to me.

[2021-03-18 07:29] Deepaliiii commented on #394
Hey, I'm a GSSOC'21 participant. I would like to work on this issue in C++, please assign it to me.

[2021-03-18 07:30] khushboojoshi3 commented on #374
Hey, I'm a GSSOC'21 participant. I would like to work on this issue in C++, please assign it to me.

[2021-03-18 07:33] khushboojoshi3 commented on #189
Hey, I'm a GSSOC'21 participant. I would like to work on this issue in C++, please assign it to me.

[2021-03-18 07:34] Deepaliiii commented on #189
Hey, I'm a GSSOC'21 participant. I would like to work on this issue in C++, please assign it to me.

[2021-03-18 07:34] khushboojoshi3 commented on #169
Hey, I'm a GSSOC'21 participant. I would like to work on this issue in C++, please assign it to me.

[2021-03-18 07:35] Deepaliiii commented on #169
Hey, I'm a GSSOC'21 participant. I would like to work on this issue in C++, please assign it to me.

[2021-03-18 07:35] khushboojoshi3 commented on #163
Hey, I'm a GSSOC'21 participant. I would like to work on this issue in C++, please assign it to me.

[2021-03-18 07:36] khushboojoshi3 commented on #489
Hey, I'm a GSSOC'21 participant. I would like to work on this issue in C++, please assign it to me.

[2021-03-18 07:37] Deepaliiii commented on #163
Hey, I'm a GSSOC'21 participant. I would like to work on this issue in C++, please assign it to me.

[2021-03-18 07:37] khushboojoshi3 commented on #494
Hey, I'm a GSSOC'21 participant. I would like to work on this issue in C++, please assign it to me.

[2021-03-18 07:38] Deepaliiii commented on #494
Hey, I'm a GSSOC'21 participant. I would like to work on this issue in C++, please assign it to me.

[2021-03-18 07:38] khushboojoshi3 commented on #176
Hey, I'm a GSSOC'21 participant. I would like to work on this issue in C++, please assign it to me.

[2021-03-18 07:38] Deepaliiii commented on #489
Hey, I'm a GSSOC'21 participant. I would like to work on this issue in C++, please assign it to me.

[2021-03-18 08:21] Bhawna147 commented on #1130
I would like to solve this as a gssoc participant please assign this to me

[2021-03-18 08:54] sabhya19 opened #1149 "Pattern Matching algorithms"
Hello, I am a GSSoC'21 participant and proficient in problem-solving using C++ and python. I propose the addition of pattern matching algorithms like Rabin-Karp, KMP, etc. Please assign this issue to me.

[2021-03-18 09:28] yashkumar7889 commented on #1144
I am a gssoc21 participant. Please assign this to me. I would like to work on this and provide a detailed description of the function in C/C++/Python/Java.

[2021-03-18 09:35] Ananya88 commented on #311
I just explained what I'll do , didn't ask any questions .

[2021-03-18 09:41] rk05-lenavo commented on #599
@raksha009 I have done the code. Please check it. If it seems all right to you please merge my pull request.

[2021-03-18 09:47] Shraddha13Jain commented on #421
@raksha009 I have made pull request.. please review my code in python , if found correct please merge it.
PR number -1120

[2021-03-18 10:05] neha030 opened #1151 "[GSSOC'21] Diameter of a binary tree"
I am a GSSOC'21 participant and want to provide the C++ code.
Please assign me this.

[2021-03-18 10:07] neha030 opened #1152 "[GSSOC'21] Reverse a circular linkedlist"
I am a GSSOC'21 participant and want to provide the C++ code.
Please assign me this.

[2021-03-18 10:12] plazzy99 commented on #161
Go with python

[2021-03-18 10:20] tarun26091999 commented on #650
No, math folder is not required

[2021-03-18 10:20] #650 closed

[2021-03-18 10:22] tarun26091999 commented on #614
present at #276

[2021-03-18 10:22] #614 closed

[2021-03-18 10:25] tarun26091999 commented on #613
present at #468

[2021-03-18 10:25] #613 closed

[2021-03-18 10:31] tarun26091999 commented on #162
@krishna-NIT @vedant-jain03 @Amit366 raise separate PR for both minimum and maximum, and also implement the most optimized approach only.

[2021-03-18 10:37] tarun26091999 commented on #421
issue present at #246

[2021-03-18 10:37] #421 closed

[2021-03-18 10:38] tarun26091999 commented on #246
submit the most optimized approach only.

[2021-03-18 10:51] plazzy99 opened #1153 "Mandatory Guidelines"
## To raise the `Pull Request`

1. Make 1 `Pull Request` for 1 `issue`. Otherwise, you may lose points.

2. Mention `Issue number` while creating Pull Request in the `description box` or link the issue from the right options. This helps to link the PR with the respective issue.

3. Always update the readme for the respective code added in the appropriate folder.

4. **CODE FORMAT**

[code]

5. Alw

[2021-03-18 11:00] umamanasir commented on #687
Hello.
I am a GSSOC '21 participant. I would like to work on this issue in C++. If the C++ implementation is still not done, kindly assign it to me.
Thank you!

[2021-03-18 11:08] ranasauravsingh opened #1154 "Count of Subsets of a given Sum Using Dynamic Programming"
Hello @rudrakshi99 @nakul-19 @plazzy99

Myself Saurav, I am a GSSoC21 participant.

What I want to contribute :

Optimized approach for **Count of Subsets of a given Sum** Algorithm using Dynamic programming
My code will be in C++ language,
The code will be commented for better understanding, included with 2 test cases
Please assign this issue to me.
Thank you.

[2021-03-18 11:09] tarun26091999 commented on #686
present at #317 we don't need multiple approaches.

[2021-03-18 11:09] #686 closed

[2021-03-18 11:10] shreyanspoddar commented on #1000
Not a valid issue, must comply with some sorting algorithm.

[2021-03-18 11:10] #1000 closed

[2021-03-18 11:19] tarun26091999 commented on #658
specify the language.

[2021-03-18 11:28] raksha009 commented on #958
Plz try solving it in O(n) instead of O(2n).

[2021-03-18 11:31] raksha009 commented on #955
plz specify lang.

[2021-03-18 11:37] raksha009 commented on #511
Plz always specify laguage in description box. Assigning you cpp as you mentioned it in title,

[2021-03-18 11:38] raksha009 commented on #944
Present at #511

[2021-03-18 11:38] #944 closed

[2021-03-18 11:39] raksha009 commented on #835
Present at #511

[2021-03-18 11:39] #835 closed

[2021-03-18 11:59] rk05-lenavo commented on #965
I'm the Participant in GSSOC'21. Please assign me this issue. I'll use Python code .

[2021-03-18 12:09] dikshajoshi18 commented on #658
The I will be using is c++

On Thu, 18 Mar, 2021, 4:49 PM Tarun Yadav, ***@***.***> wrote:

[2021-03-18 12:14] rk05-lenavo commented on #917
I'm the Participant in GSSOC'21. Please issue me this issue. I'll do thee code in Python.

[2021-03-18 13:31] ayush78781 commented on #450
Hey @tarun26091999 please review my code as I made Pull request 3 days back for issue #1036 and merge it to the codebase if you find it effective.

[2021-03-18 13:33] Ankkkitt commented on #602
I can code the program of Linear Search in C++ language with proper explanation and Time complexity. Please assign this issue to me. I'm a participant of gssoc'21.

[2021-03-18 13:59] sudipg4112001 commented on #161
Should I only upload the code, or something additional to it ?

[2021-03-18 14:28] Rewangi opened #1157 "Bitwise AND of Numbers Range in C++"
Given two integers left and right that represents the range [left, right],
code will return the bitwise AND of all numbers in this range, inclusive.

I want to work over this issue in C++.
@tarun26091999  assign me this.

[2021-03-18 14:31] Simar05519 opened #1158 "Remove Element"
**Is your feature request related to a problem? Please describe.**
Yes
**Input:** num = [3,2,2,3], val = 3
**Output:** 2, num = [2,2]
**Explanation:**  function should return length = 2, with the first two elements of num being 2.

**Describe the solution you'd like**
I will give a simple and easy solution with less time and space complexity

**Do you want to work on it**
C++

[2021-03-18 14:32] Simar05519 commented on #1158
/assign me this issue sir @tarun26091999

[2021-03-18 14:33] garvitraj commented on #1144
I would like to work on this issue in java and python

[2021-03-18 14:37] Akp6528 opened #1159 "Max Circular Subarray Sum in C++"
Given an array of integers , code will find the maximum contiguous subarray sum  in c++.

@tarun26091999  @raksha009 , assign this issue to me.

[2021-03-18 16:54] sayantani11 opened #1161 "Reverse K nodes in a linked list."
We will be given a linked list :
1->2->3->4->5->6->NULL
if the value of k=2, after reversing it will look like:
2->1->4->3->6->5->NULL

Will implement the concept of pointers and recursion to implement the problem, with comments at every step to make it clean and understandable

Want to do it in C++

[2021-03-18 16:57] sayantani11 opened #1162 "Merge 2 sorted Linked List"
We will be given 2 sorted linked list and will merge it to one sorted linked list.

Using the concept of pointers and merge sort with the help of a dummy node.

I would like to work on this issue using C++

[2021-03-18 16:58] #936 closed

[2021-03-18 17:01] sayantani11 opened #1163 "Put even position node after odd position node in linked list"
If we are given a linked list:
1->2->3->4->5->6->NULL
after implementing the program it will look like:
1->3->5->2->4->6->NULL

Using loops and conditional statements.

Want to work on it using C++

[2021-03-18 17:13] JasleenKaur2000 opened #1164 "Evaluation of Postfix Expression"
I want to add a new problem to the stacks section.

The problem I want to add is the Evaluation of Postfix Expression (which is a quite fundamental problem related to stacks).

Please assign me to work on this problem in c++ language. I can also work in python and java on this issue.

[2021-03-18 17:30] JasleenKaur2000 opened #1165 "Error in the new issue heading."
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
There is a slight error in the heading as the picture below describes. Please correct it.

![Capturepic](https://user-images.githubusercontent.com/60056238/111670261-a48cb700-883d-11eb-9c17-5a908b5e7cca.PNG)

[2021-03-18 17:55] ishanailwal commented on #1096
Can somebody please confirm if the issue has been assigned to me or not?

[2021-03-18 20:01] 08Gunjan commented on #694
@tarun26091999  Could you please tell the Duration to make this PR

[2021-03-18 20:01] 08Gunjan commented on #695
@tarun26091999  Could you please tell the Duration to make this PR.

[2021-03-18 20:03] 08Gunjan commented on #696
@tarun26091999  Could you please tell the Duration to make this PR

[2021-03-18 20:04] 08Gunjan commented on #697
@tarun26091999  Could you please tell the Duration to make this PR

[2021-03-19 04:38] surbhi2408 opened #1168 "I want to add the problem in linked list section."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Do you want to work on it**
Mention the one language you want to be assigned for this issue.

[2021-03-19 04:44] surbhi2408 commented on #1168
I want to add the problem in linked list section. The problem is Intersection point of two linked list in time complexity of O(2M) where M is the length of the linked list.

[2021-03-19 04:51] sahilf2001 opened #1169 "Sorting a Stack"
I want to add a new problem to the stack section.
Please assign this problem to me I could get it done soon.
I aim to sort the stack using a temporary stack and using recursion also.
I can code this question using C/C++ and Python

[2021-03-19 06:42] pinkuchoudhury69 commented on #145
Solved the issue. Please check

[2021-03-19 07:20] Naman-12911 commented on #1141
Hey I want solve this issue under GGSOC please assign me .
I solved this problem with python

[2021-03-19 07:30] Fatema110 commented on #1162
I want to solve this issue using python

Approach
Traversing through a  two linked list and always choosing the node containing the smaller key to containing traversing from

Complexity
Time Complexity: O( m+n )
Space Complexity: O(n)

please assign me @tarun26091999

[2021-03-19 08:20] Aarti002 commented on #1169
hey , can i contribute to this issue in python
thank you!

[2021-03-19 08:22] Aarti002 commented on #1161
hello , can i contribute to this issue in python
thank you!

[2021-03-19 08:24] aastha621 commented on #1162
I can solve this using Java.
Time on Leetcode- 0ms, faster than 100% users
Time complexity-O(m+n)

Kindly assign it to me! @tarun26091999

[2021-03-19 08:24] Aarti002 commented on #1154
hello can i contribute to this issue in python
Thank you!!

[2021-03-19 08:25] Aarti002 commented on #1122
hey can i work on this issue in python
thank you

[2021-03-19 09:14] aastha621 opened #1172 "NQUEENS PROBLEM USING BRANCH AND BOUND APPROACH."
**NQUEENS PROBLEM USING BRANCH AND BOUND APPROACH.**
N Queens can be solved using an appraoch called branch and bound, which is more effective and has a better time complexity than the backtracking solution. It is a very good approach for programmers to be able to optimise similar problems like N Queens.

**Describe the solution you'd like**
In backtracking and recursive approach, we check at ever

[2021-03-19 09:49] btanisha commented on #1164
Hi I'm a GSSOC participant. I can also contribute by writing the code in python or cpp. Please assign it to me

[2021-03-19 10:19] arpit456jain opened #1174 "Detect Loop in a Linked List in python"
My code will take the head of the linked list and check if there is a loop in it or not. in python.
![ll2](https://user-images.githubusercontent.com/55352601/111765660-a6508c00-88ca-11eb-9657-f341865ded3d.png)

[2021-03-19 10:21] arpit456jain opened #1175 "Reverse a Linked List in groups of given size in python (GSOC21)"
It will reverse the linked list in group size given by user for eg 2,3 etc but less than the length of linked list

[2021-03-19 10:33] chhavi18387 opened #1176 "LRU cache implementation in O(1) time and O(n) space complexity"
I wish to contribute LRU cache implementation. My code will be with O(1) time complexity, O(n) space complexity and with proper comments to make it easier for anyone who wants to understand its implementation easily. Please assign this issue to me.

[2021-03-19 11:30] sru123p opened #1177 "Trie Implementation in C++"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Do you want to work on it**
Mention the one language you want to be assigned for this issue.

[2021-03-19 11:32] sru123p commented on #1177
I am sruthi GSSoc'21 participant. I would like to contribute the c++ code for trie implementation.
I will implement all the functions of trie with clean code and proper comments
Please assign this to me

[2021-03-19 11:48] AasthaGoyalgit commented on #1175
I am interested in this issue in Java. Please assign me this @tarun26091999 @arpit456jain

[2021-03-19 11:55] chhavi18387 opened #1178 "Anagram checker implementation in Python, C++ and Java : O(n) time, O(n) space complexity"
A function implementation to check if two strings are anagrams of each other or not.
Please assign me this issue. My code will have proper comments for easy understanding.

[2021-03-19 11:56] AasthaGoyalgit commented on #1168
I am interested in this issue ,I'll add code in java .Please Assign me this as a gssoc'21 participant .

[2021-03-19 12:22] #1178 closed

[2021-03-19 12:57] priyanka001tech opened #1180 "josephus problem"
**Is your feature request related to a problem? Please describe.**
interview related question

**Describe the solution you'd like**

Given the total number of persons n and a number k which indicates that k-1 persons are skipped and kth person is killed in circle in a fixed direction.

The task is to choose the safe place in the circle so that when you perform these operations starting from 1st pl

[2021-03-19 13:02] priyanka001tech opened #1181 "IDENTICAL LINKED LIST"
**Is your feature request related to a problem? Please describe.**

Given two Singly Linked List of N and M nodes respectively. The task is to check whether two linked lists are identical or not.
Two Linked Lists are identical when they have same data and with same arrangement too.

Example 1:

Input:
LinkedList1: 1->2->3->4->5->6
LinkedList2: 99->59->42->20
Output: Not identical

**Do you want to

[2021-03-19 13:40] VibhuRajput commented on #1180
please assign me this.

[2021-03-19 13:44] VibhuRajput opened #1183 "Paranthesis checker in C/C++"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Do you want to work on it**
Mention the one language you want to be assigned for this issue.

[2021-03-19 15:01] syedmdsaifihassan opened #1184 "Factor Game"
i would like to work on this issue. please assign this task to me.

[2021-03-19 15:08] syedmdsaifihassan opened #1187 "Binary Search Tree Level-Order Traversal"
Hello, I am a participant of GSSOC'21, I propose the addition of BST Level-Order Traversal, please assign this issue to me.

[2021-03-19 15:48] Vedika-Agrawal commented on #586
I would like to work on this issue .Plzz assign this issue to me  under GSSOC .I would like to do it in python....
/assign

[2021-03-19 18:24] pranjwalsingh236 opened #1189 "Reverse a linked list in a group of given size"
**Is your feature request related to a problem? Please describe.**
LINK TO THE GFG PROBLEM: https://practice.geeksforgeeks.org/problems/reverse-a-linked-list-in-groups-of-given-size/1
Given a linked list of size N. The task is to reverse every k nodes (where k is an input to the function) in the linked list.

**Describe the solution you'd like**
For given size of the linked list and the required n

[2021-03-19 19:02] Akash20x commented on #176
@shreyanspoddar  Please check my pull request

[2021-03-19 19:08] Manya1609 commented on #602
I want to solve out this issue by explaining the Linear Search Algo in C++!

[2021-03-19 19:11] Manya1609 commented on #559
Hey!..I'm a GSSOC'21 participant and want to work on this issue by explaining the GCD's Euclid's Theorem concept and it's code in C++.

[2021-03-19 19:17] Manya1609 commented on #519
Hey!...I'm Manya, a GSSOC'21 Participant and I would like to work on this issue, I would explain the concept and the Code for it in C++.

[2021-03-19 19:21] Manya1609 commented on #381
Hey!...I'm a GSSOC'21 Participant and would like to work on this issue, I would likke to explain the concept of the problem and code it in C++.

[2021-03-19 19:24] Manya1609 commented on #276
Hey..I'm a GSSOC'21 Participant and would like to work on this issue...I would like to explain and code it in C++.

[2021-03-19 19:27] Manya1609 commented on #246
Hey..I'm a GSSOC'21 Participant and would like to work on this issue. I would explain the concept and the code for it in C++.

[2021-03-19 22:32] shahina-bano commented on #246
I will solve this problem using python, please assign me.

[2021-03-20 04:21] raksha009 commented on #246
Issue present at #44

[2021-03-20 04:21] #246 closed

[2021-03-20 04:24] raksha009 commented on #1004
Issue present at #44

[2021-03-20 04:24] #1004 closed

[2021-03-20 04:24] raksha009 commented on #606
Issue present at #44

[2021-03-20 04:24] #606 closed

[2021-03-20 04:30] #1146 closed

[2021-03-20 04:36] ganesh-sai-a commented on #44
Hey! @plazzy99 @rudrakshi99 @nakul-19
I am GSSOC21 participant. I would like to contribute to this issues.
I will implement Brian Kernighan's Algo in C++ with adding proper comments.
Can you please assign me this issue.

[2021-03-20 04:39] raksha009 commented on #599
Plz link your PR to this issue.

[2021-03-20 04:44] Atul-Kashyap opened #1192 "Serialize and Deserialize Binary Tree [Binary Tree] [GSSoC'21]"
### Design an algorithm to serialize and deserialize a binary tree.
A binary tree can be serialized to a string and this string can be deserialized to the original tree structure.

Example 1:
Input: root = [1,2,3,null,null,4,5]
Output: [1,2,3,null,null,4,5]

Example 2:
Input: root = [1]
Output: [1]

Hey, I am Atul Kashyap, a GSSOC'21 participant.
I want to contribute the code for the implementatio

[2021-03-20 04:52] Shraddha13Jain commented on #599
@raksha009 I have made the PR . please review it .

[2021-03-20 05:03] rk05-lenavo commented on #599
@raksha009 I have made the PR. Please mearge it.

[2021-03-20 06:14] khusheekapoor commented on #1034
Hello! I am a GSSoC'21 Participant. I would like to work on this issue. Would be highly obliged if you could assign it to me. Thanks!

[2021-03-20 06:14] khusheekapoor commented on #1027
Hello! I am a GSSoC'21 Participant. I would like to work on this issue. Would be highly obliged if you could assign it to me. Thanks!

[2021-03-20 06:15] khusheekapoor commented on #965
Hello! I am a GSSoC'21 Participant. I would like to work on this issue. Would be highly obliged if you could assign it to me. Thanks!

[2021-03-20 06:15] khusheekapoor commented on #917
Hello! I am a GSSoC'21 Participant. I would like to work on this issue. Would be highly obliged if you could assign it to me. Thanks!

[2021-03-20 06:16] khusheekapoor commented on #696
Hello! I am a GSSoC'21 Participant. I would like to work on this issue. Would be highly obliged if you could assign it to me. Thanks!

[2021-03-20 06:17] khusheekapoor commented on #695
Hello! I am a GSSoC'21 Participant. I would like to work on this issue. Would be highly obliged if you could assign it to me. Thanks!

[2021-03-20 06:17] khusheekapoor commented on #694
Hello! I am a GSSoC'21 Participant. I would like to work on this issue. Would be highly obliged if you could assign it to me. Thanks!

[2021-03-20 06:17] khusheekapoor commented on #687
Hello! I am a GSSoC'21 Participant. I would like to work on this issue. Would be highly obliged if you could assign it to me. Thanks!

[2021-03-20 06:17] khusheekapoor commented on #665
Hello! I am a GSSoC'21 Participant. I would like to work on this issue. Would be highly obliged if you could assign it to me. Thanks!

[2021-03-20 06:18] khusheekapoor commented on #658
Hello! I am a GSSoC'21 Participant. I would like to work on this issue. Would be highly obliged if you could assign it to me. I will be using Java. Thanks!

[2021-03-20 06:20] khusheekapoor commented on #649
Hello! I am a GSSoC'21 Participant. I would like to work on this issue. Would be highly obliged if you could assign it to me. I will be using Java. Thanks!

[2021-03-20 06:20] khusheekapoor commented on #635
Hello! I am a GSSoC'21 Participant. I would like to work on this issue. Would be highly obliged if you could assign it to me. I will be using Java. Thanks!

[2021-03-20 06:20] khusheekapoor commented on #627
Hello! I am a GSSoC'21 Participant. I would like to work on this issue. Would be highly obliged if you could assign it to me. I will be using Java. Thanks!

[2021-03-20 06:20] khusheekapoor commented on #602
Hello! I am a GSSoC'21 Participant. I would like to work on this issue. Would be highly obliged if you could assign it to me. I will be using Java. Thanks!

[2021-03-20 06:21] khusheekapoor commented on #569
Hello! I am a GSSoC'21 Participant. I would like to work on this issue. Would be highly obliged if you could assign it to me. I will be using Java. Thanks!

[2021-03-20 06:21] khusheekapoor commented on #559
Hello! I am a GSSoC'21 Participant. I would like to work on this issue. Would be highly obliged if you could assign it to me. I will be using Java and C++. Thanks!

[2021-03-20 06:22] khusheekapoor commented on #560
Hello! I am a GSSoC'21 Participant. I would like to work on this issue. Would be highly obliged if you could assign it to me. I will be using Java. Thanks!

[2021-03-20 06:22] khusheekapoor commented on #513
Hello! I am a GSSoC'21 Participant. I would like to work on this issue. Would be highly obliged if you could assign it to me. I will be using Java. Thanks!

[2021-03-20 06:22] khusheekapoor commented on #468
Hello! I am a GSSoC'21 Participant. I would like to work on this issue. Would be highly obliged if you could assign it to me. I will be using Java. Thanks!

[2021-03-20 06:23] khusheekapoor commented on #427
Hello! I am a GSSoC'21 Participant. I would like to work on this issue. Would be highly obliged if you could assign it to me. I will be using Java. Thanks!

[2021-03-20 06:23] khusheekapoor commented on #402
Hello! I am a GSSoC'21 Participant. I would like to work on this issue. Would be highly obliged if you could assign it to me. I will be using Java. Thanks!

[2021-03-20 06:23] khusheekapoor commented on #395
Hello! I am a GSSoC'21 Participant. I would like to work on this issue. Would be highly obliged if you could assign it to me. I will be using Java. Thanks!

[2021-03-20 06:24] khusheekapoor commented on #354
Hello! I am a GSSoC'21 Participant. I would like to work on this issue. Would be highly obliged if you could assign it to me. I will be using Java. Thanks!

[2021-03-20 06:24] khusheekapoor commented on #317
Hello! I am a GSSoC'21 Participant. I would like to work on this issue. Would be highly obliged if you could assign it to me. I will be using Java. Thanks!

[2021-03-20 06:24] khusheekapoor commented on #291
Hello! I am a GSSoC'21 Participant. I would like to work on this issue. Would be highly obliged if you could assign it to me. I will be using Java. Thanks!

[2021-03-20 06:27] khusheekapoor commented on #276
Hello! I am a GSSoC'21 Participant. I would like to work on this issue. Would be highly obliged if you could assign it to me. I will be using Java. Thanks!

[2021-03-20 06:28] khusheekapoor commented on #203
Hello! I am a GSSoC'21 Participant. I would like to work on this issue. Would be highly obliged if you could assign it to me. I will be using Java. Thanks!

[2021-03-20 06:28] khusheekapoor commented on #198
Hello! I am a GSSoC'21 Participant. I would like to work on this issue. Would be highly obliged if you could assign it to me. I will be using Java. Thanks!

[2021-03-20 06:29] khusheekapoor commented on #193
Hello! I am a GSSoC'21 Participant. I would like to work on this issue. Would be highly obliged if you could assign it to me. I will be using Java. Thanks!

[2021-03-20 06:29] khusheekapoor commented on #170
Hello! I am a GSSoC'21 Participant. I would like to work on this issue. Would be highly obliged if you could assign it to me. I will be using Java. Thanks!

[2021-03-20 06:30] khusheekapoor commented on #157
Hello! I am a GSSoC'21 Participant. I would like to work on this issue. Would be highly obliged if you could assign it to me. I will be using Java. Thanks!

[2021-03-20 06:31] khusheekapoor commented on #145
Hello! I am a GSSoC'21 Participant. I would like to work on this issue. Would be highly obliged if you could assign it to me. I will be using Java. Thanks!

[2021-03-20 06:31] khusheekapoor commented on #128
Hello! I am a GSSoC'21 Participant. I would like to work on this issue. Would be highly obliged if you could assign it to me. I will be using Java. Thanks!

[2021-03-20 06:31] khusheekapoor commented on #106
Hello! I am a GSSoC'21 Participant. I would like to work on this issue. Would be highly obliged if you could assign it to me. I will be using Java. Thanks!

[2021-03-20 06:32] gayatri517 commented on #225
@tarun26091999 please assign me this issue. I want to work on it in C++.
Thank you.

[2021-03-20 06:32] khusheekapoor commented on #58
Hello! I am a GSSoC'21 Participant. I would like to work on this issue. Would be highly obliged if you could assign it to me. I will be using Java. Thanks!

[2021-03-20 07:22] batul02 opened #1197 "(GSSOC21) Traveling Salesman Problem in Python using Backtracking"
**Is your feature request related to a problem? Please describe.**
This is a Travelling Salesman Problem which I am willing to do using Backtracking algorithm.

**Describe the solution you'd like**
This Problem returns the shortest path for the travelling salesman who will visit every nodes he has to and returns to the node where he started from.

**Do you want to work on it**
I am a GSSOC'21 part

[2021-03-20 07:58] Aniketbhanderi opened #1198 "Longest Common Prefix between Strings."
**I would like to contribute the Algorithm on one of the famous problems of String.**

Longest common prefix string amongst an array of strings.
If there is no common prefix, return an empty string  " ".

**Input** : strs = ["alarm","alacrity","alogorithm"]
**Output** : "al"

**Input** : strs = ["fast","bike","slow"]
**Output** : ""
Explanation : There is no common prefix among the input strings.

[2021-03-20 08:01] shahina-bano commented on #44
I will solve this problem using python, please assign me.

[2021-03-20 09:01] sreenathpranav commented on #1187
I am a participant in GSSOC 2021 I would love to do this using c or java. Please assign this to me!

[2021-03-20 11:08] somya51p opened #1199 "Bucket Sort [Algorithm] C++"
Bucket Sort Algorithm

Bucket sort is mainly useful when input is uniformly distributed over a range. For example, Sort a large set of floating point numbers which are in range from 0.0 to 1.0 and are uniformly distributed across the range. Here we can use bucket sort to solve the problem efficiently.

The program would be implemented in C++ language.

[2021-03-20 11:17] somya51p opened #1200 "Bit Manipulation algorithms C++"
As I have analyzed there are no example **questions on Bit manipulation** in this repo. I wish to add few questions for better clarity.

Basic questions like, _**Check for Power of 4, Reverse Bits of a Number, Swap all odd and even bits, Rotate bits**_ and many more would be added for better reference to the topic.

The programs would be implemented in **C++ language.**

I request mentors to assig

[2021-03-20 11:21] LayaMitta commented on #1187
I would like to do this code in C or C++,please assign me this project

[2021-03-20 11:27] rudrakshi99 commented on #1200
@somya51p Open an issue for the single algorithm.

[2021-03-20 11:27] #1200 closed

[2021-03-20 11:35] somya51p opened #1201 "Swap all odd and even bits [C++]"
Swap all odd bits with even bits.

For example, if the given number is **23 (00010111), it should be converted to 43 (00101011).**
Using Bit Manipulation

The program would be implemented in **C++ language.**

I request mentors to assign me this issue for **GSSOC '21.**
@dheerajkotwani @tarun26091999 @anubhavitis @dheerajkotwani @rudrakshi99 @plazzy99 @nakul-19

[2021-03-20 11:44] plazzy99 opened #1202 "Video contribution guidlines (Readme creation steps explained)"
https://user-images.githubusercontent.com/48295138/111868305-35c76f00-899f-11eb-857f-725f7a63777c.mp4

[2021-03-20 11:56] aditi1403 opened #1203 "Update README.md file"
I have made some grammatical edits to the REDAME.md file. Kindly refer to PR #1170.

[2021-03-20 11:59] Manya1609 commented on #1111
Hey!..I'm a GSSOC'21 Participant and would like to work on this issue. I would like to explain the concept and the code in C++.

[2021-03-20 12:30] khusheekapoor commented on #1132
Hello! I am a participant in GSSoC'21. I am really intrigued by this issue. Would be highly obliged if you could assign this issue to me. I will work on this using Java. Thanks!

[2021-03-20 14:13] rudrakshi99 commented on #1203
Don't open PR until the issue gets assigned to you.

[2021-03-20 14:13] #1203 closed

[2021-03-20 14:48] Sweeti-Gupta commented on #871
Hey @rudrakshi99 ,I want to add these pattern problems in java language in Algo-Tree/Code/Java.

I want to contribute to this as a part of GSSOC. Please assign this issue to me.

[2021-03-20 15:24] anandhu-eng commented on #665
Hello... i'm GSSoC 21 participant and a python enthusiast. I would like to work on this issue in Python. Please do assign it to me:)

[2021-03-20 16:21] nagasaisriya opened #1206 "Binary number in Linked List"
**Is your feature request related to a problem? Please describe.**
Given head which is a reference node to a singly-linked list. The value of each node in the linked list is either 0 or 1. The linked list holds the binary representation of a number. Return the decimal value of the number in the linked list.

A clear and concise description of what the problem is.

**Describe the solution you'd lik

[2021-03-20 16:25] Diksha-11 opened #1207 "Using stack of arrays, covert infix expression into its postfix expression."
I want to add an algorithm that uses stack operations to convert a given infix expression into its postfix expression. The stack will be implemented using array.
I want to add this algorithm in c++.

i request maintainers to please assign this issue to me.
@rudrakshi99 @plazzy99 @nakul-19 @tarun26091999 @OjusWiZard @shreyanspoddar @anjul2000

[2021-03-20 16:27] nagasaisriya commented on #1206
Hello @tarun26091999 would like to work on this issue as a part of Gssoc'21. Kindly assign it to me, Thanks in advance!

[2021-03-20 16:28] khusheekapoor commented on #1151
Hello! I am a participant in GSSoC'21. I am really intrigued by this issue. Would be highly obliged if you could assign this to me. Thanks!

[2021-03-20 16:32] khusheekapoor commented on #875
Hello! I am a participant in GSSoC'21. I am really intrigued by this issue. Would be highly obliged if you could assign this to me. I will be using Java. Thanks!

[2021-03-20 16:33] khusheekapoor commented on #828
Hello! I am a participant in GSSoC'21. I am really intrigued by this issue. Would be highly obliged if you could assign this to me. I will be using Java. Thanks!

[2021-03-20 16:33] khusheekapoor commented on #815
Hello! I am a participant in GSSoC'21. I am really intrigued by this issue. Would be highly obliged if you could assign this to me. I will be using Java. Thanks!

[2021-03-20 16:33] khusheekapoor commented on #812
Hello! I am a participant in GSSoC'21. I am really intrigued by this issue. Would be highly obliged if you could assign this to me. I will be using Java. Thanks!

[2021-03-20 16:34] khusheekapoor commented on #810
Hello! I am a participant in GSSoC'21. I am really intrigued by this issue. Would be highly obliged if you could assign this to me. I will be using Java. Thanks!

[2021-03-20 16:34] khusheekapoor commented on #805
Hello! I am a participant in GSSoC'21. I am really intrigued by this issue. Would be highly obliged if you could assign this to me. I will be using Java. Thanks!

[2021-03-20 16:34] khusheekapoor commented on #739
Hello! I am a participant in GSSoC'21. I am really intrigued by this issue. Would be highly obliged if you could assign this to me. I will be using Java. Thanks!

[2021-03-20 16:43] Diksha-11 opened #1208 "Tree traversal on binary tree."
I want to implement an algorithm to treverse a binary tree.

First we create root node having value, let 10 . Then, insert node values into the tree (left & right). suppose we insert 20,30, 40,50, 60,70.
Output: Preorder 10 20 40 50 30 60 70
              inorder  40 20 50 10 60 30 70
              postorder 40 50 20 60 70 30 10

I want add this algorithm in c++

Thus, I request maintainers to all

[2021-03-20 16:57] Diksha-11 opened #1210 "Reverse the array"
I want to implement an algorithm of reversing the array.

Input array : 1 2 3
Output array: 3 2 1

I want to add this in C++

I request maintainers to PLEASE assign me this issue
@rudrakshi99 @shreyanspoddar @plazzy99 @nakul-19 @tarun26091999 @OjusWiZard @anjul2000

[2021-03-20 17:45] nikhv commented on #1183
Hello @rudrakshi99 @nakul-19 @plazzy99 @tarun26091999 .
I am  a GSSoC21 participant.
I would like to contribute in this issue.
please assign this issue to me.

[2021-03-20 17:48] nikhv commented on #404
Hey, I'm GSSOC'21 Participant .
I would like to work on this issuse
Please assign this to me @tarun26091999 @rudrakshi99

[2021-03-20 17:52] nikhv commented on #602
Hello @raksha009 @tarun26091999 @plazzy99 .I am a participant under gssoc'21.
please assign me this issue.

[2021-03-20 18:26] rudrakshi99 commented on #15
@abhijeet010304 It's more than 15 days and you haven't open any PR yet so I am unassigning it to you.

[2021-03-20 18:27] rudrakshi99 commented on #15
@Srishti20022 Go ahead.

[2021-03-20 18:36] PANKAJ3590 commented on #635
@tarun26091999, I am new to open source and I am a GSSOC'21 participant. I can do it with the help of c++. Please assign me. As it would me my first PR . Thanks!

[2021-03-20 19:09] PANKAJ3590 opened #1211 "Addition of two complex numbers"
***Explanation****:-
I will create a program in c++ to add two complex number using constructors.

*****Example****:-
input: 3,4 and 5,6
output: 8+10i

hey @tarun26091999 @plazzy99 @rudrakshi99 , please assign me this issue as i am new to open source and I would me thankful if you can assign as it will be my first PR ever.

[2021-03-20 19:22] itsIapetus commented on #183
@shreyanspoddar Can you take a look!

[2021-03-20 20:10] japneetbhatia opened #1218 "Any Base Addition"
**Is your feature request related to a problem? Please describe.**
Given two numbers n1 and n2 of any base b and provide output as n1+n2 of base b

**Describe the solution you'd like**
Input : base : 8
n1 : 777
n2 : 1

output : 1000

**Do you want to work on it**
Java

[2021-03-20 20:13] japneetbhatia opened #1219 "Any Base Subtraction"
**Is your feature request related to a problem? Please describe.**
Given two numbers n1 and n2 of any base b and provide output as n2-n1 of base b

**Describe the solution you'd like**
input : base : 8
n1: 1
n2 : 100

output : 77

**Do you want to work on it**
Java
I want to work on this issue please assign this to me

[2021-03-20 23:14] Nikitha2309 commented on #1151
### Proposal
Hello, I am a GSSoc'21 participant. Having a good interest knowledge of working with binary trees, I request you to assign this issue to me.

### Protocol
* The diameter of a Tree is the largest value among the diameter of its left subtree, the diameter of its right subtree and
the longest path between leaves that go through the root of the tree which can be computed from the heights

[2021-03-20 23:14] PrerakMathur20 commented on #1183
Hi, @rudrakshi99 @nakul-19 @plazzy99 @tarun26091999
I am a GSSoC'21 Participant,
Its my request that you please assign this issue to me.
I ensure you efficient and neat code.

[2021-03-20 23:19] PrerakMathur20 commented on #1211
Hi, @rudrakshi99 @nakul-19 @plazzy99 @tarun26091999
I am a GSSoC'21 Participant,
Its my request that you please assign this issue to me.
I ensure you efficient and neat code.

[2021-03-20 23:21] PrerakMathur20 commented on #1198
Hi, @rudrakshi99 @nakul-19 @plazzy99 @tarun26091999
I am a GSSoC'21 Participant,
Its my request that you please assign this issue to me.
I ensure you efficient and neat code in C++.

[2021-03-20 23:22] Nikitha2309 commented on #1152
### Proposal
Hello, I am a GSSoc'21 participant. Having a good interest knowledge of working with linked lists, I request you to assign this issue to me.

### Protocol
*  To reverse the circular linked list, We need to reverse the list by changing the links between nodes, which is similar to the problem of reversing a singly-linked list.

### Request
I can provide an easy, understandable algorithm

[2021-03-20 23:25] PrerakMathur20 commented on #1158
Hi, @anubhavitis @dheerajkotwani @diyajaiswal11 @geekquad @nakul-19 @plazzy99 @rudrakshi99 @tarun26091999 @todi-2000 @Simar05519
I am a GSSoC'21 Participant,
Its my request that you please assign this issue to me.
I ensure you efficient and neat code in C++.

[2021-03-20 23:25] PrerakMathur20 commented on #1144
I am a GSSoC'21 Participant,
Its my request that you please assign this issue to me.
I ensure you efficient and neat code in C++.

[2021-03-20 23:27] PrerakMathur20 commented on #1132
Hi, @anubhavitis @dheerajkotwani @diyajaiswal11 @geekquad @nakul-19 @plazzy99 @rudrakshi99 @tarun26091999 @todi-2000 @Simar05519
I am a GSSoC'21 Participant,
Its my request that you please assign this issue to me.
I ensure you efficient and neat code in C++.

[2021-03-20 23:28] PrerakMathur20 commented on #1088
Hi, @anubhavitis @dheerajkotwani @diyajaiswal11 @geekquad @nakul-19 @plazzy99 @rudrakshi99 @tarun26091999 @todi-2000 @Simar05519
I am a GSSoC'21 Participant,
Its my request that you please assign this issue to me.
I ensure you efficient and neat code in C++.

[2021-03-20 23:35] PrerakMathur20 commented on #1078
Hi, @anubhavitis @dheerajkotwani @diyajaiswal11 @geekquad @nakul-19 @plazzy99 @rudrakshi99 @tarun26091999 @todi-2000 @Simar05519
I am a GSSoC'21 Participant,
Its my request that you please assign this issue to me.
I ensure you efficient and neat code in C++.

[2021-03-20 23:36] PrerakMathur20 commented on #1043
Hi, @anubhavitis @dheerajkotwani @diyajaiswal11 @geekquad @nakul-19 @plazzy99 @rudrakshi99 @tarun26091999 @todi-2000 @Simar05519
I am a GSSoC'21 Participant,
Its my request that you please assign this issue to me.
I ensure you efficient and neat code in C and C++.

[2021-03-20 23:38] Nikitha2309 commented on #697
### Proposal
Hello, I am a GSSoc'21 participant. Having a good interest knowledge of working with trees, I request you to assign this issue to me.

* Starting from the root, each node's data should be stored in a vector (or printed according to the requirement) and then all child nodes of this particular node are queued for the successive visits , Finally after each node visit , it will be popped

[2021-03-20 23:38] PrerakMathur20 commented on #926
Hi, @anubhavitis @dheerajkotwani @diyajaiswal11 @geekquad @nakul-19 @plazzy99 @rudrakshi99 @tarun26091999 @todi-2000 @Simar05519
I am a GSSoC'21 Participant,
Its my request that you please assign this issue to me.
I ensure you efficient and neat code in C and C++.

[2021-03-20 23:39] Nikitha2309 commented on #694
### Proposal
Hello, I am a GSSoc'21 participant. Having a good interest knowledge of working with trees, I request you to assign this issue to me.

* Starting from the root, each node's data should be stored in a vector (or printed according to the requirement) and then all child nodes of this particular node are queued for the successive visits , Finally after each node visit , it will be popped

[2021-03-20 23:39] PrerakMathur20 commented on #925
Hi, @anubhavitis @dheerajkotwani @diyajaiswal11 @geekquad @nakul-19 @plazzy99 @rudrakshi99 @tarun26091999 @todi-2000 @Simar05519
I am a GSSoC'21 Participant,
Its my request that you please assign this issue to me.
I ensure you efficient and neat code in C and C++.

[2021-03-21 01:05] ankan1811 commented on #925
@PrerakMathur20  Issues are assigned on first come first serve.Rules won't be broken for you.

[2021-03-21 01:06] ankan1811 commented on #926
@PrerakMathur20 Issues are assigned on first come first serve.Rules won't be broken for you.

[2021-03-21 04:12] khusheekapoor commented on #785
Hello! I am a participant in GSSoC'21. I am really intrigued by this issue. Would be highly obliged if you could assign this to me. I will work on this using Java. Thanks!

[2021-03-21 04:13] khusheekapoor commented on #483
Hello! I am a GSSoC'21 Participant. I would like to work on this issue. Would be highly obliged if you could assign it to me. I will be using Java. Thanks!

[2021-03-21 04:14] khusheekapoor commented on #455
Hello! I am a GSSoC'21 Participant. I would like to work on this issue. Would be highly obliged if you could assign it to me. I will be using Java. Thanks!

[2021-03-21 04:14] khusheekapoor commented on #478
Hello! I am a GSSoC'21 Participant. I would like to work on this issue. Would be highly obliged if you could assign it to me. I will be using Java. Thanks!

[2021-03-21 04:15] khusheekapoor commented on #301
Hello! I am a GSSoC'21 Participant. I would like to work on this issue. Would be highly obliged if you could assign it to me. I will be using Java. Thanks!

[2021-03-21 04:15] khusheekapoor commented on #314
Hello! I am a GSSoC'21 Participant. I would like to work on this issue. Would be highly obliged if you could assign it to me. I will be using Java. Thanks!

[2021-03-21 04:51] avijit1999 opened #1220 "Add 1 with a number represented by LinkList"
**Is your feature request related to a problem? Please describe.**
A number represented by LinkList add 1 with it

**Describe the solution you'd like**
Let the number is 123
and the LinkList representation  1->2->3
now   1->2->3+1=1->2->4

**Do you want to work on it**
JAVA

[2021-03-21 04:56] avijit1999 commented on #1220
please asigned me on it @plazzy99 @rudrakshi99 @nakul-19 @tarun26091999 @OjusWiZard @shreyanspoddar @raksha009 @anjul2000

[2021-03-21 05:38] PANKAJ3590 opened #1221 "Swapping two numbers using friend function"
**Is your feature request related to a problem? Please describe.**
swapping of two numbers from different classes using friend function

**Describe the solution you'd like**
I will create two classes , one class will have one number and other class will have another number. And then I will create a friend function which will swap both the numbers.

******Example*******
input: x=3, y=2
output: x=2,

[2021-03-21 05:42] PANKAJ3590 commented on #1221
@tarun26091999 @rudrakshi99 @plazzy99 @nakul-19 please assign this issue to me I have created the code neat and easily readable. I am new to open source and GSSOC'21 participant. Thankyou

[2021-03-21 05:51] PANKAJ3590 opened #1222 "Multilevel inheritance"
**Is your feature request related to a problem? Please describe.**
calculating the marks of four subjects, input student information , displaying them using different classes with the help of multilevel inheritance.

**Describe the solution you'd like**
I will create a class which will take input of student information, another class which will take input of marks of 4 subjects, and by another cla

[2021-03-21 05:51] PANKAJ3590 commented on #1222
@tarun26091999 @rudrakshi99 @plazzy99 @nakul-19 please assign this issue to me I have created the code neat and easily readable. I am new to open source and GSSOC'21 participant. Thankyou

[2021-03-21 06:42] Tanya933 opened #1223 "[GSSOC'21] Find diameter of a tree."
I would like to do this issue using DFS in C++ language.
My solution will have inline comments , short description about the problem as well as the approach to solve it and the
user's input and output .

[2021-03-21 07:10] LayaMitta commented on #1223
I am GSSOC'21 participant and I would like to work on this problem. I would like to do this using C++.Please assign me this task.

[2021-03-21 07:39] Tanya933 opened #1226 "[GSSOC'21] Finding subtree size of each node using DFS."
**Is your feature request related to a problem? Please describe.**
Given a tree and its root node.We have to find the subtree size of each node .

**Describe the solution you'd like**
I will do it using DFS ,with inline comments and short description as well as with user's input and output.

**Do you want to work on it**
Yes, i would like to work on it in  C++  language.

[2021-03-21 07:40] Tanya933 commented on #1226
@tarun26091999 @rudrakshi99 @plazzy99 @nakul-19  please assign this issue to me.Thank you

[2021-03-21 08:37] soumik2012 opened #1228 "Max Subarray sum in python"
**Is your feature request related to a problem? Please describe.**
 * function to find maximum subarray sum

**Describe the solution you'd like**
* using Kadane's algorithm

**Do you want to work on it**
You can assign me in python

[2021-03-21 08:40] Maitryee-Choudhary opened #1229 "Count the number of set bits for a particular number[Bit Manipulation]"
**Is your feature request related to a problem? Please describe.**
A program to count the number of set bits of a particular number that comes under bit manipulation.
The program will be written in C++.

**Describe the solution you'd like**
I will be adding the program for the above problem

**Do you want to work on it**
C++

hey @rudrakshi99  will u please assign to me

[2021-03-21 09:06] debanjan-2002 commented on #1147
Sir,
Please assign this algorithm to me. I have already made PR regarding Brian's algorithm and it has been approved by you (yet to be merged) , and hence I know what format you demand in your codes. So I would be easily able to do this.
Regards,
Debanjan Poddar
@raksha009
@tarun26091999
@nakul-19
@shreyanspoddar

[2021-03-21 09:28] Shraddha13Jain commented on #965
I could do it using python/c++/java. Please assign it to me under gssoc'21

[2021-03-21 09:43] AparnaJha17 commented on #1210
I want to contibute to this issue.

[2021-03-21 10:34] raksha009 commented on #1228
Already present at #178

[2021-03-21 10:34] #1228 closed

[2021-03-21 10:35] raksha009 commented on #1147
Already present at #178

[2021-03-21 10:35] #1147 closed

[2021-03-21 10:35] raksha009 commented on #1140
Already present at #178

[2021-03-21 10:35] #1140 closed

[2021-03-21 10:39] raksha009 commented on #381
@Vansh-Gupta4  @Muskan0
Plz create a PR asap for this issue :)

[2021-03-21 11:01] Saurav7488 commented on #1210
I am a participant in GSSOC 2021 I would love to do this using c++. Please assign this to me!

[2021-03-21 11:02] Saurav7488 commented on #1199
I am a participant in GSSOC 2021 I would love to do this using c or java. Please assign this to me!

[2021-03-21 11:04] krishna-NIT commented on #402
@tarun26091999 sir, the issue is closed by someone so, I was Assigned so, my pull request will be taken or not?
else I need to create new issue for this ,plz guide me

[2021-03-21 11:48] hw0105 commented on #694
Hi, I am a participant of GSSOC'21 and I would like to contribute to this issue in cpp.

[2021-03-21 12:28] krishna-NIT opened #1231 "Finding Matrix follows Teoplitz Matrix Algorithm or Not ?"
Hi,
I am GSSOC'21 participant

My code will be in JAVA with proper comments and test cases.
@rudrakshi99 @nakul-19 @plazzy99 @tarun26091999  please assign me this issue

[2021-03-21 14:15] Dhriti-Roy commented on #1223
I would like to work on it. Kindly assign it to me.

[2021-03-21 15:05] neha07kumari commented on #124
Hello!! I'm a GSSOC'21 participant .Please assign me the task . I would like to solve the following sorting algorithms in C++
Bubble Sort
 Insertion Sort
 Selection Sort
 Merge Sort
 Quick Sort
@tarun26091999

[2021-03-21 15:49] codeakki commented on #683
hey @tarun26091999 ### I wanted to work in this issue please assign this issue to me

[2021-03-21 17:32] 1vivekanand commented on #44
Sir, I have made the PR #1243
it fixes the issue #441
Regards
Vivekanand Bhardwaj

[2021-03-21 18:13] tarun26091999 commented on #694
always specify the language you want to work in.

[2021-03-21 19:16] anumshka commented on #58
[GSSOC'21]Please assign this to me in java.
Thankyou.

[2021-03-21 19:22] tarun26091999 commented on #698
present at #85

[2021-03-21 19:22] #698 closed

[2021-03-21 19:25] tarun26091999 commented on #700
present at #291

[2021-03-21 19:25] #700 closed

[2021-03-21 19:32] Aarti002 commented on #1223
hey @tarun26091999 can i work on this issue in python?
Thank you!

[2021-03-21 19:33] Aarti002 commented on #1220
hey @tarun26091999 can i work on this issue in C++?
Thank you!

[2021-03-21 19:34] Aarti002 commented on #1210
hey @tarun26091999 can i work on this issue in python?
Thank you!

[2021-03-21 19:34] Aarti002 commented on #1207
hey @tarun26091999 can i work on this issue in python?
Thank you!

[2021-03-21 19:35] Aarti002 commented on #1187
hey @tarun26091999 can i work on this issue in python?
Thank you!

[2021-03-21 19:35] Aarti002 commented on #1181
hey @tarun26091999 can i work on this issue in python?
Thank you!

[2021-03-21 20:05] tarun26091999 commented on #710
present at #161

[2021-03-21 20:05] #710 closed

[2021-03-21 20:23] krishna-NIT commented on #402
@tarun26091999  my pr is received or not pls reply sir.

[2021-03-21 20:31] krishna-NIT commented on #785
@raksha009 can I do it in java ?

[2021-03-21 20:39] 08Gunjan commented on #85
#348    #698
I would like to contribute in your Project by working on Tree (Find the Depth ) (Binary Tree ) Problems using Recursive Approach in JAVA .

- My Approach is Optimize yet Easy to understand .
- Single Line Comments makes it easy to read.
- Required Test Case are added at the end.
- Can make it More Explanatory using the Image

<h4>Please assign me this issue under the label GSSOC21 , L

[2021-03-21 20:41] 08Gunjan commented on #291
#348 #700
I would like to contribute in your Project by working on Tree (Diameter of Binary Tree)  Problems using Recursive Approach in JAVA .

- My Approach is Optimize yet Easy to understand .
- Single Line Comments makes it easy to read.
- Required Test Case are added at the end.
- Can make it More Explanatory using the Image

<h4> Please assign me this issue under the label GSSOC21 , Looking F

[2021-03-21 20:46] Nikitha2309 commented on #694
@tarun26091999 , I can give the required solution in C , C++ as well as Python . So can u assign this issue to me 🙂?

[2021-03-22 02:57] Shraddha13Jain commented on #709
Please assign it to me. I can implement it using C/C++/Python/Java.Please assign it to me under gssoc'21

[2021-03-22 03:09] Nikitha2309 opened #1247 "Finding interesection node of two linked lists connected in y shape"
## 🚀 Feature

There are two singly linked lists in a system. The end node of one of the linked list got linked to the second list, forming an inverted Y-shaped list. Write a program to get the point where two linked lists merge in Python

## Motivation

Linked Lists are one of the data structures to which basic to advanced coding interview questions are related. Hence as many as possible algorithm

[2021-03-22 03:09] Nikitha2309 commented on #1247
I am a GSSoC'21 participant and I want to work on this issue. I am already familiar with this algorithm.

Please assign this issue to me under the label of GSSoC'21.

I can provide optimized yet understandable code with quality code, highly understandable comments, and easy as well as corner test cases.

I can work on this issue in Python

I have read Contributing Guidelines on Pull Requests.

[2021-03-22 04:33] Shraddha13Jain commented on #1223
I am a gssoc'21 participant.I can implement it in c++/java/python.Please assign it to me

[2021-03-22 05:16] kirtijha014 opened #1248 "Reverse Level Order Traversal"
In this issue,
**Problem Statement:** Given a binary tree of size N, we will find its reverse level order traversal.

**Input:**
      10
       /\
  20   30
 /  \
40  60

**Output:** 40 60 20 30 10

**Explanation:**
Traversing level 2:  40 60
Traversing level 1:  20 30
Traversing level 0:  10

**Languages:** C++,Java

Please assign me with this issue:
@plazzy99 @rudrakshi99 @nakul-19 @tarun260919

[2021-03-22 05:24] Its-Puja-Singh opened #1249 "Floyd Warshall Algorithm Java"
The Floyd Warshall Algorithm is for solving the All Pairs Shortest Path problem. The problem is to find shortest distances between every pair of vertices in a given edge weighted directed Graph.

I'll approach this problem using the 2D array to store the weights between every pair of vertices.

I want to work on this problem in Java

[2021-03-22 05:43] hritikkhurana10sm commented on #1248
Hey , this side is Hritik Khurana , GSSOC'21 Participant , looking for 1st pr , please assign this issue to u . I will write code in C++,
Please assign me :
@plazzy99 @rudrakshi99 @nakul-19 @tarun26091999 @OjusWiZard @shreyanspoddar @raksha009 @anjul2000

[2021-03-22 06:35] Aniketbhanderi opened #1252 "Conversion of Roman Numerals String to Decimal Integer."
**This is String problem for conversion of String cosisteing of Roman Numerals to Int.**
A string in roman number format is to be converted to an integer . Using the following symbols.
I->1
V->5
X->10
L->50
C->100
D->500
M->1000.

**Solution Approach.**
1. Conver the Roman Numeral string into Roman Symbols (character).
 2. Map each symbol of Roman Numerals with its value.
 3. Take symbol one by on

[2021-03-22 07:43] soumik2012 opened #1253 "Program for array rotation in python"
**Is your feature request related to a problem? Please describe.**
Write a function that rotates an array of size n by d elements.

**Describe the solution you'd like**
 Let's take an example that given the array [1,2,3,4,5,6,7] so I have to rotate the left side at particular side 2 to 7 so the output is [3,4,5,6,7,1,2].

**Do you want to work on it**
In python

[2021-03-22 09:02] Raadheyyy opened #1256 "Adding reverse array question in Array folder"
Adding questions in the array question section with proper solutions.

[2021-03-22 09:21] Fatema110 commented on #1127
**Is your feature request related to a problem? Please describe.**
Write a function that Merge Intervals

**Describe the solution you'd like**
Let's take an example
Intervals: [[1,4], [2,5], [7,9]]
Output: [[1,5], [7,9]]
Explanation: Since the first two intervals [1,4] and [2,5] overlap, we merged them into one [1,5].

**Do you want to work on it**
In python

[2021-03-22 09:23] Op-panda commented on #847
/assign

[2021-03-22 09:48] priyanka001tech opened #1257 "MAXIMUM XOR OF TWO NUMBERS IN ARRAY"
**Is your feature request related to a problem? Please describe.**

Given an array of non-negative integers of size N. Find the maximum possible XOR between two numbers present in the array.

Example 1:

Input:
Arr = {25, 10, 2, 8, 5, 3}
Output: 28
Explanation:
The maximum result is 5 ^ 25 = 28.

**Do you want to work on it**
I would like to code it in cpp as a gssoc participant

[2021-03-22 09:51] priyanka001tech opened #1258 "ROCK PAPER SCISSORS IN CPP"
**Is your feature request related to a problem? Please describe.**

The RPS world championship is here. Here two players A and B play the game. You need to determine who wins.
Both players can choose moves from the set {R,P,S}.
The game is a draw if both players choose the same item.
The winning rules of RPS are given below:

Rock crushes scissor
Scissor cuts paper
Paper envelops rock

Example 1:

[2021-03-22 12:09] simarjeet30 opened #1260 "Smallest prime number missing in an array:"
**Is your feature request related to a problem? Please describe
in my code ,smallest prime number which is missing in any array will be printed.
input: number of elements as well as array of integers
**Describe the solution you'd like**

output: a ) Smallest prime number missing in an array if present
            b ) print no prime missing if none.

**Do you want to work on it**
Mention the one la

[2021-03-22 12:10] simarjeet30 commented on #1260
please assign me this issue ,I will write a neat code with time complexity .

[2021-03-22 12:12] simarjeet30 commented on #1260
I request mentors to assign me this issue for GSSOC '21.
@dheerajkotwani @tarun26091999 @anubhavitis @dheerajkotwani @rudrakshi99 @plazzy99 @nakul-19

[2021-03-22 12:55] tk315 commented on #1192
I would like to implement this in JAVA under GSSOC

[2021-03-22 13:28] AparnaJha17 opened #1261 "Print 2D matrix in spiral form"
**Is your feature request related to a problem? Please describe.**
To print 2D matrix in clockwise or anticlockwise direction spiral form

**Describe the solution you'd like**
I will take the input from the user ( 2D matrix ) and then print it in the spiral form in both clockwise and anticlockwise direction. The solution will be printed linearly

**Do you want to work on it**
I would like to work

[2021-03-22 13:38] Rewangi commented on #1157
Any Mentor assign this to me
@tarun26091999  @rudrakshi99

[2021-03-22 13:57] drishika2002 opened #1262 "Implementing Stack using array"
**Is your feature request related to a problem? Please describe.**
In array implementation, the stack will be formed by using an array and the operations regarding the stack like push and pop will be performed using arrays.

**Do you want to work on it**
I want to work on this issue in the C++ language.

I request mentors to assign me this issue for GSSOC '21.
@dheerajkotwani @tarun26091999 @anubh

[2021-03-22 14:44] tarun26091999 commented on #631
always specify the language.

[2021-03-22 14:45] tarun26091999 commented on #631
do it in java

[2021-03-22 14:45] tarun26091999 commented on #631
provide the efficient solution for general case ( arrays can or cannot be of same size )

[2021-03-22 14:46] tarun26091999 commented on #778
present at #631

[2021-03-22 14:46] #778 closed

[2021-03-22 14:46] tarun26091999 commented on #779
present at #631

[2021-03-22 14:46] #779 closed

[2021-03-22 14:48] tarun26091999 commented on #721
present at #151

[2021-03-22 14:48] #721 closed

[2021-03-22 15:01] tarun26091999 commented on #656
@Amanduttbhagat @ANAMIKA1410 @dhruvdy convert the given string to both uppercase and lowercase, do not use STL.

[2021-03-22 15:01] tarun26091999 commented on #656
@dikshajoshi18 @khushimishra26 always specify the issue you want to work in.

[2021-03-22 15:28] ManavArora26 opened #1265 "To add stooge sort in python"
There has been lot less sorting techniques in python so i wanna start with writing stooge sort

The Stooge sort is a recursive sorting algorithm. It is defined as below (for ascending order sorting).

Step 1 : If value at index 0 is greater than
         value at last index, swap them.
Step 2:  Recursively,
       a) Stooge sort the initial 2/3rd of the array.
       b) Stooge sort the last 2/3rd

[2021-03-22 15:34] jankivaghasiya commented on #511
Hello, I'm Janki, a participant of GSSoC'21. I would like to contribute to this issue in C++. Kindly, assign me this.

[2021-03-22 16:04] Anubhav7298 commented on #1258
I would like to contribute on this project.

[2021-03-22 16:29] aman503 opened #1266 "Container with most water"
**Is your feature request related to a problem? Please describe.**
Given n non-negative integers a1, a2, ..., an , where each represents a point at coordinate (i, ai). n vertical lines are drawn such that the two endpoints of the line i is at (i, ai) and (i, 0). Find two lines, which, together with the x-axis forms a container, such that the container contains the most water.
**Describe the soluti

[2021-03-22 17:38] syedmdsaifihassan opened #1268 "Knuth–Morris–Pratt algorithm in java"
I am a participant of GSSOC'21, I would like to contribute to this issue,
Please assign me this issue:
@plazzy99 @rudrakshi99 @nakul-19 @tarun26091999 @OjusWiZard @shreyanspoddar @raksha009 @anjul2000

[2021-03-22 18:26] ANUJAGRAWAL2000 opened #1270 "Reordered Power of 2"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

Given a positive integer N, we reorder the digits in any order (including the original order) such that the leading digit is not zero.
Print true if and only if we can do this in a way such that the resulting number is a power of 2.

**Describe the solution you'd like**
A cle

[2021-03-22 18:32] raksha009 commented on #511
Heyy, the issue is already assigned in Java and cpp. Only assignment for python language is left.

[2021-03-22 18:48] SanketH17 opened #1271 "Sorting the elements in increasing/Decreasing order by QuickSort"
Given the array :
a = [9,5,3,4,8,7,5,1,4,,9,8,6,7]
to sort these elements (in increasing order) ;
We can input the elements from the user as well but I am making it for the already made array.

Hey @chitrasingla I want to add this into Algo-Tree/code/c++
Please check it out

[2021-03-22 18:57] #1175 closed

[2021-03-22 18:57] #1174 closed

[2021-03-23 03:14] jankivaghasiya commented on #511
Hello, @raksha009 mam. Can I try in Python, please? I am familiar with it as well.

[2021-03-23 04:26] nikhv commented on #1262
I am GSSOC'21 Participant
I would like to work on this issue
@dheerajkotwani @tarun26091999 @anubhavitis @dheerajkotwani @rudrakshi99 @plazzy99 @nakul-19 please assign this issue to me

[2021-03-23 04:29] nikhv commented on #1229
I would like to add the work on this issue

Do you want to work on it
        I want to work on this issue in the C++

I request mentors to assign me this issue for GSSOC '21.
@dheerajkotwani @tarun26091999 @anubhavitis @dheerajkotwani @rudrakshi99 @plazzy99 @nakul-19

[2021-03-23 04:31] nikhv commented on #1220
Is your feature request related to a problem? Please describe.
Add 1 with a number represented by LinkList

Do you want to work on it
I want to work on this issue in the C++ language.

I request mentors to assign me this issue for GSSOC '21.
@dheerajkotwani @tarun26091999 @anubhavitis @dheerajkotwani @rudrakshi99 @plazzy99 @nakul-19

[2021-03-23 06:15] madhvi02 commented on #1262
I would like to code this in C++. I m a GSSOC'21 Partcipant .I will assure you that I will provide a commented code with efficient time complexity.@tarun26091999 @dheerajkotwani  @anubhavitis @dheerajkotwani @rudrakshi99 @plazzy99 @nakul-19 please assign this to me .
Regards
Madhvi .

[2021-03-23 06:16] madhvi02 commented on #1223
I would like to code this in C++. I m a GSSOC'21 Partcipant .I will assure you that I will provide a commented code with efficient time complexity.@tarun26091999 @dheerajkotwani @anubhavitis @dheerajkotwani @rudrakshi99 @plazzy99 @nakul-19 please assign this to me .
Regards
Madhvi .

[2021-03-23 07:21] kirtijha014 opened #1275 "Multiplication of Two Linked Lists"
In the given issue, I will be computing the multiplication of two Linked lists l1 and l2.

**INPUT:**

1.  n, denoting the size of the first linked list.
2. Space-separated values of the first linked list.
3. m, denoting the size of the second linked list.
4. Space-separated values of the second linked list.

**OUTPUT:**
An integer denoting the product of the two linked lists.

**EXAMPLE:**
INPUT:

[2021-03-23 08:00] tarun26091999 commented on #362
specify the language.

[2021-03-23 08:03] tarun26091999 commented on #712
present at #362

[2021-03-23 08:03] #712 closed

[2021-03-23 08:04] tarun26091999 commented on #872
#362

[2021-03-23 08:04] #872 closed

[2021-03-23 08:09] #751 closed

[2021-03-23 08:25] RuchiGitHu commented on #327
Please /assign this issue to me.
Looking forward for your reply...

[2021-03-23 08:29] RuchiGitHu commented on #327
@rudrakshi99 @raksha009

[2021-03-23 09:32] Saviour1001 commented on #362
PR #1277 is made to add the code in C++ @tarun26091999

[2021-03-23 09:53] hridhi opened #1278 "Implement heap in python"
**Is your feature request related to a problem? Please describe.**
This problem is related to implementing heap datastructure.
**Describe the solution you'd like**
It will have different functions like hepify , delete the element etc.
**Do you want to work on it**
Yes i want to work on it and i would like to implement it in python language
please assign me the issue under GSSoC label thanks !!
@an

[2021-03-23 11:02] jankivaghasiya commented on #511
@raksha009 mam, should I add my code under stack directory or code/python directory?

[2021-03-23 11:58] shahina-bano commented on #362
I want to solve this problem using JAVA, plz assign me.

[2021-03-23 12:38] Aayu231 commented on #1262
Hi, I want to work on this issue. My solution will be written in Python.

I request mentors to assign me this issue for GSSOC '21.
@dheerajkotwani @tarun26091999 @anubhavitis @dheerajkotwani @rudrakshi99 @plazzy99 @nakul-19

[2021-03-23 12:45] rudrakshi99 commented on #327
We are not taking this type of issue so please look for any algorithm to contribute.

[2021-03-23 12:46] #327 closed

[2021-03-23 12:49] rudrakshi99 commented on #714
Go for the 1st problem only in C++ as we are taking one algorithm in a single issue.

[2021-03-23 12:50] rudrakshi99 commented on #714
Go for the 1st problem only in java as we are taking one algorithm in a single issue.

[2021-03-23 13:13] #553 closed

[2021-03-23 13:54] alkatrivedi commented on #1033
@rudrakshi99 Kindly assign me this issue.

[2021-03-23 14:56] AparnaJha17 commented on #1278
Can I work on the same issue but in C++ language?
Mentors please assign that to me.
@anubhavitis @dheerajkotwani @tarun26091999 @avijit1999 @todi-2000

[2021-03-23 15:06] Muskan0 commented on #94
Please assign me the same issue in Python.

[2021-03-23 16:59] Varun8216889 commented on #664
As I am a beginner, Can I start my contribution by working on this issue under GSSoC'21? Kindly assign it to me.

[2021-03-23 16:59] Varun8216889 commented on #753
As I am a beginner, Can I start my contribution by working on this issue under GSSoC'21? Kindly assign it to me.

[2021-03-23 17:00] Varun8216889 commented on #701
As I am a beginner, Can I start my contribution by working on this issue under GSSoC'21? Kindly assign it to me.

[2021-03-23 17:00] Varun8216889 commented on #692
As I am a beginner, Can I start my contribution by working on this issue under GSSoC'21? Kindly assign it to me.

[2021-03-23 17:00] Varun8216889 commented on #681
As I am a beginner, Can I start my contribution by working on this issue under GSSoC'21? Kindly assign it to me.

[2021-03-23 17:14] hw0105 opened #1282 "Hello @rudrakshi99 @nakul-19 @plazzy99 I am a GSSoC21 participant. What I want to contribute :"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Do you want to work on it**
Mention the one language you want to be assigned for this issue.

[2021-03-23 17:33] ayush78781 opened #1283 "I worked over it"
@ayush78781 do in python.

_Originally posted by @tarun26091999 in https://github.com/Algo-Phantoms/Algo-Tree/issues/450#issuecomment-797370308_
https://github.com/Algo-Phantoms/Algo-Tree/pull/1036

[2021-03-23 17:33] #1283 closed

[2021-03-23 17:45] ayush78781 commented on #658
Hello @tarun26091999, I am a GSSoC'21 participant, I would like to work over this issue in Python. Please assign it to me.
Thanks!

[2021-03-23 17:49] ayush78781 commented on #635
@tarun26091999 @kanchan1910 and other maintainers of the project, I am GSSoC'21 Participant, I would like to work over this issue in Python, please assign it to me.
Thanks!

[2021-03-23 18:06] ayush78781 opened #1285 "Dynamic Insertion of a Node in Linked List"
Hello @tarun26091999 @veenit1802 and other Maintainers of the Project, I would like to work over this issue.
As Dynamic Insertion gives freedom to users to insert at the location where ever they wish too.
Please assign me this issue so that I could start working as early as possible in C++.
Thanks!

[2021-03-23 18:57] Aarti002 commented on #1248
hey @tarun26091999 can i work on this issue in python?
Thank you!

[2021-03-23 19:03] Aarti002 commented on #1278
hey @tarun26091999 @rudrakshi99 can i work on this issue in python
Thank you!

[2021-03-23 19:04] Aarti002 commented on #1282
hello @tarun26091999 @rudrakshi99 can i do it in python?
Thank you!

[2021-03-24 01:28] raksha009 commented on #511
It has to go under stack one. Pl go through the pinned issues for a better clarity. :)

[2021-03-24 03:17] hridhi commented on #1278
@Aarti002  I thought on working in python language hope you can choose some other language thank you !

[2021-03-24 04:03] anishsingh935 commented on #1282
Hi can I implement the  code of this problem in c++ if You wish !

[2021-03-24 06:15] aditibindal27 commented on #1223
I am a gssoc'21 participant. I can implement it in java. Please assign it to me

[2021-03-24 06:16] rk05-lenavo commented on #99
I am a GSSoC'21 participant. I would like to do this problem in python.
Can you assign me this issue

[2021-03-24 06:17] rk05-lenavo commented on #90
I am a GSSoC'21 participant. I would like to do this problem in cpp.
Can you assign me this issue

[2021-03-24 06:31] rk05-lenavo commented on #57
I am a GSSoC'21 participant. I would like to do this problem in cpp.
Can you assign me this issue

[2021-03-24 06:36] Aarti002 commented on #1278
@hridhi No issue , go ahead ! i thought you haven't mention language , anyways it will be assigned to you if u have commented first.

[2021-03-24 07:10] Salonii02 opened #1293 "Adding String Matching in an array in C++ Java Python"
**Is your feature request related to a problem? Please describe.**
String Matching in an Array
Given an array of string words. Return all strings in words which is a substring of another word in any order.

**Describe the solution you'd like**
Example 1:
Input: ["mass","as","hero","superhero"]
Output: ["as","hero"]

Example 2:
Input: ["blue","green","but","yellow"]
Output: [ ]

**Do you want to wo

[2021-03-24 08:33] Rahulrai1998 opened #1294 "Adding description and time complexity to the wave-print algo in C++"
**Is your feature request related to a problem? Please describe.**
I don't have sound expertise in any major technologies so that I could contribute but still I want to contribute something in order to experience the git/github workflow . Hence , while roaming around the algo codes in order to search my box of opportunity , I found that the **wave-print** code in **C++** was missing with Initial d

[2021-03-24 12:14] akhilpdominic opened #1295 "Hasing techniques in C"
**Is your feature request related to a problem? Please describe.**
This would be my first ever contribution to an open source project if I am assigned with this program. I code very well in C and I have noticed the implementation of hashing techniques in C++, Java etc among the various programs listed in this project, but not in C.So I thought it would be helpful for the people especially the budd

[2021-03-24 12:47] Prakersh123 opened #1296 "Implementation of Tarjan's algorithm"
Sir/Ma'am ,
I want to implement Tarjan's Algorithm which is used for finding the strongly connected components in a directed graph. I would like to implement this algorithm in c++ language.

Please assign this task to me :)
Thank-you.
@rudrakshi99@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99

[2021-03-24 12:57] Prakersh123 opened #1297 "Loop detection in linked list using Floyd cycle detection method in c++"
**Is your feature request related to a problem? Please describe.**
Sir/Ma'am, I want to implement the code of loop detection in a linked list using Floyd cycle detection method.

Please assign this task to me :)
Thank-you.
@rudrakshi99@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99

[2021-03-24 13:05] Prakersh123 opened #1299 "Balanced Parenthesis Problem using stack in"
SIr/Ma'am , I want to implement the code to check whether Given string of parenthesis ({, }, (, ), [ and ]), is balanced or not.
I will implement this code in c++ , as an application of stack.
Kindly assign this task to me.

[2021-03-24 13:12] Prakersh123 opened #1300 "M-Coloring Problem implementation in c++"
Sir/Ma'am ,
Given an undirected graph and an integer M. The task is to determine if the graph can be colored with at most M colors such that no two adjacent vertices of the graph are colored with the same color. Here coloring of a graph means the assignment of colors to all vertices.
Please assign this task to me:)

[2021-03-24 13:15] #86 closed

[2021-03-24 13:20] #83 closed

[2021-03-24 13:23] Prakersh123 opened #1301 "Knuth-Morris-Pratt Algorithm in c++"
Sir/Ma'am,
I would like to implement KMP algorithm that is used for string pattern matching. I will implement it in c++, Please assign this task to me.

[2021-03-24 15:09] tarun26091999 commented on #666
@sanatRR @amanduttbhagat solve it in O(n) time.

[2021-03-24 15:14] tarun26091999 commented on #663
@jagruthi13 @snowpanther6 do it for array.

[2021-03-24 15:21] tarun26091999 commented on #747
@IShahnawazShaikh do it in java and use backtracking only.

[2021-03-24 15:23] tarun26091999 commented on #749
@IShahnawazShaikh do not spam issues. You already raised this at #747

[2021-03-24 15:23] #749 closed

[2021-03-24 15:25] tarun26091999 commented on #1062
issue present at #747 and #736

[2021-03-24 15:25] #1062 closed

[2021-03-24 16:32] sayantani11 opened #1305 "Stock Span Problem in C++"
**Is your feature request related to a problem? Please describe.**
Find the span of stocks for all the days

**Do you want to work on it**
I want to work on it using C++

[2021-03-24 16:52] sayantani11 commented on #1305
please assign issues to me

[2021-03-24 17:11] AparnaJha17 opened #1306 "Bitmasking - Unique number I, II and III"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.
Unique number I,II and III problem will help to find unique numbers in the given set of data

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
We can solve the problem by using XOR operation

**Do you want to work on it**
Mention

[2021-03-24 18:00] Diksha-11 commented on #1210
@rudrakshi99 @shreyanspoddar @plazzy99 Please /assign me this issue.

[2021-03-24 18:01] Diksha-11 commented on #1208
@rudrakshi99 @plazzy99 please /assign me this issue.

[2021-03-24 18:02] Diksha-11 commented on #1207
@tarun26091999 @rudrakshi99 Please /assign me this issue.

[2021-03-24 18:16] rk05-lenavo commented on #1061
I'm  the participants in GSSOC'21. I would like to work on this issue by using python. Please assign me this issue @raksha009

[2021-03-24 18:19] rk05-lenavo commented on #55
I'm  the participants in GSSOC'21. I would like to work on this issue by using python. Please assign me this issue @rudrakshi99

[2021-03-24 18:20] rk05-lenavo commented on #63
I'm  the participants in GSSOC'21. I would like to work on this issue by using python. Please assign me this issue @rudrakshi99

[2021-03-24 18:22] rk05-lenavo commented on #186
I'm  the participants in GSSOC'21. I would like to work on this issue by using python. Please assign me this issue @plazzy99

[2021-03-24 18:27] tarun26091999 commented on #679
@Ashee-Kanungo  @Aarti002 use the most efficient approach in terms of time and space both, and don't use recursion.

[2021-03-24 18:33] #55 closed

[2021-03-24 18:48] tarun26091999 commented on #740
this is not the most efficient algorithm to merge two sorted arrays, as it can be done in constant extra space, which is present at #1088

[2021-03-24 18:48] #740 closed

[2021-03-24 18:49] tarun26091999 commented on #1088
specify the language.

[2021-03-24 20:42] Rishsach commented on #599
Hey, I am a participant in GSSOC'21. Can you please assign this to me? I'll solve this by using python

[2021-03-24 20:47] aish2002 opened #1307 "Tree Sort"
**Is your feature request related to a problem? Please describe.**
Sort a list of numbers using binary search tree

**Describe the solution you'd like**
A binary search tree is constructed with the given numbers and inorder traversal is performed to get sorted list

**Do you want to work on it**
I would like to implement this in C++ (as part of GSSOC'21)

[2021-03-25 00:08] iamKushagra commented on #1307
Hi @aish2002 ,

Implementation of Tree Sort has already been done, PR has been raised.
Kindly choose another one.

Thanks

[2021-03-25 00:36] iamKushagra opened #1310 "Implementation of Bucket Sort in C++"
**Is your feature request related to a problem? Please describe.**
Bucket Sort is a sorting technique that sorts the elements by first dividing the elements into several groups called buckets. The elements inside each bucket are sorted using any of the suitable sorting algorithms or recursively calling the same algorithm.

**Describe the solution you'd like**
   In the Bucket Sorting technique, th

[2021-03-25 03:29] Shivam-Shandilya1 commented on #638
Hey, Can I contribute to this project as a part of GSSoC?

[2021-03-25 05:04] Ananya9878 commented on #1282
/assign

[2021-03-25 05:19] IShahnawazShaikh commented on #749
@tarun26091999  sir Issue #747 is different from this one.

[2021-03-25 05:39] tanyalava commented on #1270
I want to work on this issue in C++ language with all the detailed description and test cases involved and a clean code. Please assign this issue to me.

[2021-03-25 07:03] priyanka001tech opened #1311 "Queue implementation using array"
**Is your feature request related to a problem? Please describe.**
Queue implementation unsing array

**Describe the solution you'd like**
I would like to code it as a gssoc participant

**Do you want to work on it**
I would like to code it in c++

[2021-03-25 09:23] vanshikapandey opened #1312 "Implementing Circular queue using array and Linkedlist"
This is one of the interesting problems that one faces while learning queue. Since I have a good knowledge of C++ I would like to work on this issue.Please assign this issue to me @mentor

[2021-03-25 09:25] urvashiramdasani opened #1313 "Maximum Pairwise Product in C++"
**Is your feature request related to a problem? Please describe.**
Maximum Pairwise Product is a problem related to arrays. It finds out the maximum pairwise product in a 1d array in O(n) time.

**Describe the solution you'd like**
It can be done by finding out the two maximum numbers from the array and returning their product.

**Do you want to work on it**
I want to solve it in C++ as a part of

[2021-03-25 11:02] yogitasaini opened #1315 "maximum element of an array"
**Is your feature request related to a problem? Please describe.**
I would like to work on this issue in java language...

**Describe the solution you'd like**
example-
input - 1,2,3,4,5
output - 5

**Do you want to work on it**
In java

[2021-03-25 12:19] ShrutiOmer commented on #1088
Thanku sir assigning this issue I will implement in C++

[2021-03-25 12:57] Ritikakatoch0128 commented on #857
@rudrakshi99 @raksha009 @tarun26091999  please assign this issue to me as it is been 12 days since I opened this issue.

[2021-03-25 14:30] Rajashri14 commented on #1262
I would like to work on this issue in java.
Please assign this issue to me.
This regarding to the GSSOC,21.

[2021-03-25 14:49] typicalrobot opened #1317 "Pattern Questions"
I was going through the repo and did not see a lot of pattern questions.

I would like to add some problems like star and number patterns  for C++ language in the Code section

(Gssoc)

[2021-03-25 15:23] vinc3nati opened #1319 "Check even or odd without using arithmetic operator in CPP/Java ?"
**Is your feature request related to a problem? Please describe.**
There are many ways to find if a number is even or odd but before moving into technical details on finding even and odd number in Java let's what is even and odd number in terms of Mathematics. Any number which is completely divisible by 2 is called even number while number which is not completely divisible by 2 is called odd numbe

[2021-03-25 16:16] dhruvdy commented on #1056
Hello mentors, I want to work on this issue( #1056) in python language.

[2021-03-25 17:03] mgncodes opened #1320 "N-queens problem in Python"
Heyy, this issue wasn't assigned to you. Plz create a pr only after the issue is assigned.
Also, if you wanna work on this problem. Plz create a different issue addressing to only 1 problem. Closing your pr for now.

_Originally posted by @raksha009 in https://github.com/Algo-Phantoms/Algo-Tree/issues/42#issuecomment-797394478_

Hi, sorry for the mistake. Now I have made a separate issue. Please a

[2021-03-25 17:06] mgncodes commented on #42
Hi, Sorry for the mistake. I have created a separate issue #1320 . Kindly do the needful.
@raksha009

[2021-03-25 17:34] rudrakshi99 commented on #1248
The issue is not assigned to you.

[2021-03-25 17:34] #1248 closed

[2021-03-25 17:47] rudrakshi99 commented on #1271
@sakshi2707 Do not make PR until the issue is not assigned to you.

[2021-03-25 17:47] #1271 closed

[2021-03-25 17:53] rudrakshi99 commented on #1297
@Prakersh123 Don't make PR until the issue is not assigned to you.

[2021-03-25 18:26] SrishtiSingh2001 opened #1321 "Diameter of Binary Tree in C++"
**Description**
The diameter of a binary tree is the number of nodes on the longest path between two end nodes.

**Motivation**
To help learn this important program of binary trees.

I would like to add a C++ program to find Diameter of Binary Tree under GSSoC'21 .
Kindly assign this issue to me.

[2021-03-25 19:01] sandipswain commented on #965
Hey @raksha009, I am a participant of GSSo'C. I would love to take up this issue and solve it using python. Please assign me this issue

[2021-03-25 19:17] sandipswain commented on #1088
Hey @tarun26091999 , I am a GSSo'C participant and I would like to take up this issue and solve it using python.Please assign me.

[2021-03-26 02:47] Naman-12911 commented on #1320
Hello sir I want solve this problem with in 2 days please assign me under GSSOC.

[2021-03-26 03:22] jankivaghasiya commented on #511
@raksha009 mam, I've submitted the code as per the guidelines. Kindly review it and tell me the necessary changes if any.

[2021-03-26 05:23] anishsingh42 commented on #1180
I am a gssoc'21 participant , I would like to work on this problem using C++. Please assign me this issue.

[2021-03-26 05:37] Nil-Chatterjee opened #1324 "Reversing a linked list using Python"
I want to address the code for reversing a linked list and printing its result to compare the reversed linked list.

I would like to be assigned this issue to be solved using Python, as a part of GsSoC 2021.

[2021-03-26 06:02] umamanasir opened #1325 "Sum of elements in a 2D Array"
I would like to work on the 2D array implementation and write a code for the **sum of all elements in a 2D array** using **C++.**
The basic idea is to navigate to all rows and columns using "for" loops and calculate their sum.
I am also a participant of GSSoC '21.

Thank you!

[2021-03-26 06:09] umamanasir opened #1326 "Sum of Matrices"
2D arrays can be considered as matrices.
I would like to write a code in **C++** to calculate the sum of both arrays (using matrices rules). The idea is to traverse both arrays simultaneously and add corresponding  values together.
My code will be clear and concise and there will be comments to give a clearer image.
I am a participant of GSSoC '21. @

Thank you.

[2021-03-26 07:06] Manya1609 commented on #1130
Hey!..I'm a participant in GSSOC'21....I want to contribute to this issue...I'll explain the concept and code it in C++!

[2021-03-26 07:09] Manya1609 commented on #54
Hey!..I'm a GSSOC'21 Participant and would like to work on this issue. I would like to explain the concept and the code in C++.
Can anyone please assign me this issue??

[2021-03-26 07:10] Manya1609 commented on #170
Hey!..I'm a GSSOC'21 Participant and would like to work on this issue. I would like to explain the concept and the code in C++.
Can anyone please assign me this issue??

[2021-03-26 07:11] Manya1609 commented on #266
Hey!..I'm a GSSOC'21 Participant and would like to work on this issue. I would like to explain the concept and the code in C++.
Can anyone please assign me this issue??

[2021-03-26 07:14] Manya1609 commented on #409
Hey!..I'm a GSSOC'21 Participant and would like to work on this issue. I would like to explain the concept and the code in C++.
Can anyone please assign me this issue??

[2021-03-26 07:16] Manya1609 commented on #1088
Hey!..I'm a GSSOC'21 Participant and would like to work on this issue. I would like to explain the concept and the code in C++.
Can anyone please assign me this issue??

[2021-03-26 07:23] Manya1609 commented on #1070
Hey!..I'm a GSSOC'21 Participant and would like to work on this issue. I would like to explain the concept and the code in C++.
Can anyone please assign me this issue??

[2021-03-26 08:38] Shraddha13Jain commented on #736
Hello @tarun26091999 @dheerajkotwani @esheetaparulekar @anubhavitis @jeelnathani, I am a participant of GSSoC'21,  I would like to implement this in Python/java/c++.Please assign it to me

[2021-03-26 09:04] Ruchip16 opened #1327 "Problem : Check whether given binary tree is a BST or not"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Do you want to work on it**
Mention the one language you want to be assigned for this issue.

[2021-03-26 09:16] Vansh-Gupta4 commented on #381
yaa sure

On Sun, Mar 21, 2021 at 4:10 PM Raksha ***@***.***> wrote:

[2021-03-26 09:16] Vansh-Gupta4 commented on #381
i created but it is not merged

On Fri, Mar 26, 2021 at 2:45 PM VANSH ***@***.***> wrote:

[2021-03-26 09:18] shubhidua commented on #917
Hello, I want to contribute to this issue and can code for the same in java language. Please assign me this issue.

[2021-03-26 09:28] shubhidua commented on #602
Hello,I can code for the above issue in java. @raksha009 @tarun26091999 @plazzy99  please assign this issue to me.

[2021-03-26 09:32] shubhidua commented on #560
Hello, I can code for the above issue in java. @tarun26091999 please assign this to me.

[2021-03-26 09:55] shubhidua commented on #1187
I would like to code for Level Order Traversal in BST using java. Kindly assign me this issue.

[2021-03-26 09:57] shubhidua commented on #913
Hello, I would like to implement the algorithms using java. Please assign me this issue.

[2021-03-26 10:00] shubhidua commented on #1005
Hello, I would like to contribute to the above in java. Kindly assign me this issue.

[2021-03-26 10:02] shubhidua commented on #1229
I would like to work on this in java. Kindly assign me this issue.

[2021-03-26 10:08] shubhidua commented on #586
I would like to work on this issue using java. Kindly assign me this issue @tarun26091999 .

[2021-03-26 10:10] shubhidua commented on #180
I would like to work on the issue using java. Kindly assign this to me.

[2021-03-26 10:15] shubhidua commented on #1059
Hello, I can code for this issue using java. Kindly assign this to me.

[2021-03-26 11:19] Mugdha-Hazra commented on #736
Thank you @rudrakshi99 for assigning me this task.

[2021-03-26 11:30] LayaMitta commented on #394
I have submitted the work 13 days ago,yet my PR is not getting merged

[2021-03-26 14:26] #819 closed

[2021-03-26 14:39] unnati914 commented on #1327
Please assign this issue to me

[2021-03-26 15:27] #1078 closed

[2021-03-26 15:49] Ruchip16 commented on #1327
@unnati914 I am also a participant in GSSOC and I have created this issue so that I can merge the PR for it if you want to contribute to this repository you can create a new issue and merge PR for it

[2021-03-26 15:58] ANSHIKA1806 opened #1330 "Transpose 3X3 Matrix"
Question :    Write a program to transpose a 3X3 matrix.

SAMPLE INPUT: Enter the elements of matrix.
                            1 2 3 4 5 6 7 8 9
SAMPLE OUTPUT: The elements of matrix are
                                    1  2  3
                                    4  5  6
                                    7  8  9
The elements of the transpose of matrix are

[2021-03-26 15:59] ANSHIKA1806 commented on #1330
@tarun26091999 @shreyanspoddar @OjusWiZard @nakul-19 @anjul2000 @rudrakshi99 @raksha009 @plazzy99
Please assign this problem to me.

[2021-03-26 17:08] AparnaJha17 commented on #1330
@tarun26091999 @shreyanspoddar @OjusWiZard @nakul-19 @anjul2000 @rudrakshi99 @raksha009 @plazzy99
Can i do this problem in C++ language?

[2021-03-26 17:09] AparnaJha17 commented on #1324
@tarun26091999 @shreyanspoddar @OjusWiZard @nakul-19 @anjul2000 @rudrakshi99 @raksha009 @plazzy99
Can i do this same problem in C++

[2021-03-26 17:10] AparnaJha17 commented on #1320
@tarun26091999 @shreyanspoddar @OjusWiZard @nakul-19 @anjul2000 @rudrakshi99 @raksha009 @plazzy99
can i do this problem in C++

[2021-03-26 18:33] raksha009 commented on #1061
Heyy, we assign issues on first come fist basis. Pl look for other issues :)

[2021-03-26 18:44] raksha009 commented on #1320
Issue present at #381

[2021-03-26 18:44] #1320 closed

[2021-03-26 18:45] raksha009 commented on #42
Heyy, the issue is already present and assigned. Please look for other issues :)

[2021-03-26 18:48] raksha009 commented on #965
We allot issues on first come first basis. Plz look for other issues :)

[2021-03-26 19:00] raksha009 commented on #381
Plz link your pr with this issue :)

[2021-03-26 19:20] rk05-lenavo commented on #60
I'm the Participant in GSSOC'21. Kindly assign me this issue. I would like to work on any language c++,java ,Python.

[2021-03-26 19:23] rk05-lenavo commented on #193
@raksha009 I'm the Participant in GSSOC'21.I would like to work on this issue in c++ or java or python. Please assign me this issue.

[2021-03-27 03:39] raksha009 commented on #1152
@Nikitha2309 go ahead with Python

[2021-03-27 03:43] raksha009 commented on #828
Go ahead with python.

[2021-03-27 03:45] raksha009 commented on #1111
Issue present at #828

[2021-03-27 03:45] #1111 closed

[2021-03-27 06:08] AparnaJha17 commented on #1320
Can I work on this issue?

On Sat, Mar 27, 2021 at 12:14 AM Raksha ***@***.***> wrote:

[2021-03-27 06:28] gaurangisinha commented on #1315
Please assign this issue to me, I can work on it in Python.

[2021-03-27 06:34] Mugdha-Hazra commented on #736
Hello @rudrakshi99 ma'am I have added my solution for this particular issue, please review my pull request.

[2021-03-27 06:46] Mugdha-Hazra commented on #1330
Hello @AparnaJha17 @ANSHIKA1806 @aaadddiii @anubhavitis @veenit1802  sir I think this is an important question and this should definitely be added in the Algo-Tree and I will start working on it as soon as I get assigned!! as I am a part of GSSoC'21, so I would like to implement this in c++.

[2021-03-27 06:47] Mugdha-Hazra commented on #1326
Hello, @Ruchip16 @aaadddiii @anubhavitis @veenit1802 @dheerajkotwani  I think this is an important question and this should definitely be added in the Algo-Tree and I will start working on it as soon as I get assigned!! as I am a part of GSSoC'21, so I would like to implement this in c++.

[2021-03-27 06:48] Mugdha-Hazra commented on #1321
Hello,  @SrishtiSingh2001 @aaadddiii @anubhavitis @veenit1802 @dheerajkotwani  I think this is an important question and this should definitely be added in the Algo-Tree and I will start working on it as soon as I get assigned!! as I am a part of GSSoC'21, so I would like to implement this in c++.

[2021-03-27 07:19] rk05-lenavo commented on #965
@raksha009  Sir I have created the pull request. Please check the code if it looks good please merge it sir.

[2021-03-27 07:38] rohitkanteti opened #1334 "Iterative Preorder, Postorder and Inorder traversals of a BST"
**Is your feature request related to a problem? Please describe.**
Given a BST. Based on user input [ 1 for inorder, 2 for postorder, 3 for preorder] print the corresponding Iterative traversals of the BST.

**Do you want to work on it**
I would like to work on it in C++.

I am a GSSoC'21 participant and I would like to work on the described problem.
please assign this to me.
@plazzy99 @rudrakshi9

[2021-03-27 08:07] Rajashri14 commented on #1312
I am GSSOC'21 participant. I want to work on this issue in java. Please assign this issue to me.

[2021-03-27 08:37] Shalvi-Singhal commented on #747
Hello, I am a gssoc21 participant and I would like to work on this issue in C++ and python.
Please assign it to me. @tarun26091999 @rudrakshi99

[2021-03-27 08:43] Shalvi-Singhal commented on #736
hello, I am a gssoc21 participant I would like to implement this code in python.
@tarun26091999 @rudrakshi99

[2021-03-27 08:53] Mugdha-Hazra commented on #1317
Hello, @typicalrobot @aaadddiii @anubhavitis @veenit1802 @dheerajkotwani  I think this is an important question and this should definitely be added in the Algo-Tree and I will start working on it as soon as I get assigned!! as I am a part of GSSoC'21, so I would like to implement this in c++.

[2021-03-27 09:52] fnm77 opened #1335 "DEMO //ignore- Arrays: TwoSum"
//
explanation
given an array, print a pair of number that is equal to target

[2021-03-27 10:07] U-c0de commented on #1134
Hello, I am a participant of GSSOC'21
I can code in C++ the declaration, initialize and access of the 3-D Array Elements
Kindly assign the issue to me...

I really want to contribute and want just a chance_
Assign the issue to me for the best solution.

[2021-03-27 10:41] #910 closed

[2021-03-27 10:56] Naman-12911 commented on #1199
Hello sir , I want  to solve this issue please assign me.

[2021-03-27 11:07] #390 closed

[2021-03-27 11:12] earnsans opened #1337 "Code for KMP algorithm, Manacher's algorithm and Rabin Carp in C++"
These are popular string algorithms,
KMP algorithm and Rabin Carp are used for pattern matching.
Manacher's algorithm is used to find the longest palindrome substring in a string.

I want to raise this issue, I'll be providing the code in C++ with the implementation of OOP's concept.

I'm a participant at GSSOC'21.
@plazzy99 @rudrakshi99 @aaadddiii @anubhavitis @dheerajkotwani @tarun26091999
 coul

[2021-03-27 11:15] KhushiChaudhary744 opened #1338 "Program to deleting N nodes after M nodes in a linked list."
This is an algorithm or a general program to delete N nodes after  M nodes in a singly linked list.

the user shall enter the linked list elements, decide its size and the values of m and n.

I will be implementing it in both languages python and C++, and uploading separate codes.

[2021-03-27 11:21] KhushiChaudhary744 opened #1339 "Remove loop from a linked list."
The user shall enter the linked list.
I will be implementing this in python java and C++

[2021-03-27 11:22] KhushiChaudhary744 opened #1340 "Check if a linked list is a palindrome or not."
This is a general program, the user shall enter the linked list.

I will be implementing this in java C++ and python 3.

[2021-03-27 11:23] earnsans opened #1341 "Prim's Algorithm, Connected components and Articulation point in JAVA, Python and C++"
Hi I am a participant at GSSOC'21.
And I felt important to raise this issue., as these have been missing under the topic Graphs.

Prim's Algorithm is used to find the minimum spanning tree of a graph.
and
To list the Connected components and Articulation points.

I'll give the code in Python, C++ and JAVA.

@plazzy99 @rudrakshi99 @aaadddiii @anubhavitis @dheerajkotwani @tarun26091999
 could you pl

[2021-03-27 11:25] KhushiChaudhary744 opened #1342 "Hourglass sum of 2d and 3d array."
The user shall choose to enter a 2d or 3d array.
He/She/They shall also enter the elements.
The program shall compute and return the hourglass sum of entered array.
This will be implemented in python.

[2021-03-27 13:18] KishkinJ10 commented on #1183
Hi i am a beginner , can i contribute on this ? can you guide me?

[2021-03-27 13:31] pragati-kumar commented on #1088
Hello @Simar05519 @anubhavitis @tarun26091999 @dheerajkotwani @diyajaiswal11 @geekquad @nakul-19 @plazzy99 @rudrakshi99  @todi-2000!
I am a GSSOC'21 participant and would like to contribute to this issue. I am proficient in C++ and have taken two courses for the same owing to which I can guarantee you a neat code with descriptive comments. My approach will include two pointer traversal of the sort

[2021-03-27 13:42] yashmita commented on #1061
@tarun26091999 @rudrakshi99 I have created a PR #1212  in C++. Kindly review it.

[2021-03-27 13:45] yashmita commented on #665
@plazzy99 I have created a PR #1190 in python. Kindly review it.

[2021-03-27 14:07] ANSHIKA1806 commented on #1330
@tarun26091999 @shreyanspoddar @OjusWiZard @nakul-19 @anjul2000 @rudrakshi99 @raksha009 @plazzy99
I can solve this problem in Java, C and C++ and I've created this issue so please assign this to me.

[2021-03-27 15:26] kratimitra commented on #1070
/assign

[2021-03-27 15:30] Avantika782 opened #1344 "Borey Moore Algorithm for pattern searching in C++"
Want to add Borey Moore algorithm for pattern searching in C++ which is very useful in cp.
Please assign it to me :-))

[2021-03-27 15:35] kratimitra commented on #1070
I have raised this issue, I'll be providing the code in C++ .
@plazzy99 @rudrakshi99 @aaadddiii @anubhavitis @dheerajkotwani @tarun26091999 could you please assign this issue to me.

[2021-03-27 16:18] Mugdha-Hazra commented on #1344
Hello, I think this is an important question and this should definitely be added in the Algo-Tree and I will start working on it as soon as I get assigned!! as I am a part of GSSoC'21, so I would like to implement this in c++.

[2021-03-27 16:19] Mugdha-Hazra commented on #1342
Hello, @KhushiChaudhary744 @aaadddiii @anubhavitis @veenit1802 @dheerajkotwani  I think this is an important question and this should definitely be added in the Algo-Tree and I will start working on it as soon as I get assigned!! as I am a part of GSSoC'21, so I would like to implement this in c++.

[2021-03-27 16:20] Mugdha-Hazra commented on #1337
Hello, @earnsans @aaadddiii @anubhavitis @veenit1802 @dheerajkotwani  I think this is an important question and this should definitely be added in the Algo-Tree and I will start working on it as soon as I get assigned!! as I am a part of GSSoC'21, so I would like to implement this in c++.

[2021-03-27 16:42] earnsans commented on #1337
Hi @Mugdha-Hazra I'm also a participant at GSSOC'21 and have raised this issue lately. The Admins would assign the issue, so lets wait for them to respond.

[2021-03-27 17:24] Yuvraj-kadale commented on #1341
If possible , i would like to contribute in python :)

[2021-03-27 17:56] chicken-biryani opened #1345 "Pangram, String, Python"
**Is your feature request related to a problem? Please describe.**
_A string containing every letter of the alphabet is called a Panagram_
Example: "  A quick brown fox jumps over the lazy dog " --> This string is a pangram

**Describe the solution you'd like**
I would like to add this program under string

**Do you want to work on it**
Pyhton

[2021-03-27 17:56] chicken-biryani commented on #1345
I would like to work on this issue under GSSOC'21.

[2021-03-27 18:16] adistar01 commented on #1152
Hello,
I am participant of GSSOC 2021 and i want to provide the python code for the issue.
Please assign me the task.

[2021-03-27 18:38] Mugdha-Hazra commented on #1342
Hello, @KhushiChaudhary744 @aaadddiii @anubhavitis @veenit1802  I think this is an important question and this should definitely be added in the Algo-Tree and I will start working on it as soon as I get assigned!! as I am a part of GSSoC'21, so I would like to implement this in c++.

[2021-03-27 18:41] AnushkaS09 commented on #1344
Please /assign it to me. I will start working on it as soon as it is assigned to me

[2021-03-27 18:43] AnushkaS09 commented on #1339
I will implement it in c++. Please /assign it to me

[2021-03-27 18:44] AnushkaS09 commented on #1334
Please /assign it to me. I will work on this problem in c++

[2021-03-27 18:50] AnushkaS09 commented on #1330
Please /assign
I will work on it in c++

[2021-03-27 18:58] AnushkaS09 commented on #1327
Please /assign
I will work on it in c++

[2021-03-27 18:59] AnushkaS09 commented on #1321
Please /assign
I will work on it in c++

[2021-03-27 19:00] AnushkaS09 commented on #1325
Please /assign
I will work on it in c++

[2021-03-27 19:07] AnushkaS09 commented on #1340
Please /assign
I will be implementing it in c++

[2021-03-28 01:03] Dhriti-Roy commented on #60
I'm the Participant in GSSOC'21. Kindly assign me this issue.

[2021-03-28 01:06] Dhriti-Roy commented on #58
I'm the Participant in GSSOC'21. Kindly assign me this issue.

[2021-03-28 01:09] Dhriti-Roy commented on #362
I'm the Participant in GSSOC'21. Kindly assign me this issue.

[2021-03-28 06:04] Harikrishnan6336 opened #1346 "Circle Sort in C++"
**Is your feature request related to a problem? Please describe.**
Would like to implement Circle sort in C++

**Describe the solution you'd like**
Would like to implement Circle sort in C++

**Do you want to work on it**  - YES
C++ / CPP

[2021-03-28 06:47] Atif-reyaz-khan commented on #1345
I would like to implement pangram in c++

[2021-03-28 06:54] krishnmohan19 commented on #1061
Hey @raksha009 ,
I have made a PR for this issue.
Please review it.
https://github.com/Algo-Phantoms/Algo-Tree/pull/1347

[2021-03-28 06:55] Atif-reyaz-khan opened #1348 "Pangram string check in c++"
Pangram is a type of string which  contains all the English alphabet letters.

There is no c++ code for pangram detection.

**Do you want to work on it**
Yes , I would like to work on the issue and implement it in c++ language..

[2021-03-28 06:57] tarun26091999 commented on #775
present at #178

[2021-03-28 06:57] #775 closed

[2021-03-28 07:06] Atif-reyaz-khan opened #1349 "Longest palindromic substring in a string"
There no c++ code to find longest palindromic substring

For a given a string, we have to the longest substring which is palindrome using dynamics programming.

I would like to work on this issue and implement in c++ language.
Please assign me this issues.

[2021-03-28 07:59] tarun26091999 commented on #412
do it in python

[2021-03-28 08:22] Koushik890 opened #1350 "Tower of Hanoi using recursion in Python"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.
The story of the Tower of Hanoi:
• 3 tall spikes
• Stack of 64 different sized discs –start on one spike
• Need to move the stack to second spike (at which point universe ends)
• Can only move one disc at a time, and a larger disc can never cover up a small disc

**Describe th

[2021-03-28 12:06] varshakr1298 opened #1351 "Implement all the insertion and deletion operations in a singly linked list"
**Is your feature request related to a problem? Please describe.**
My feature is not related to a problem it is basically a implementation of the all the operation of linked list

**Describe the solution you'd like**
I would like to code a user friendly code that will implement all the operations of singly linked like insertion at beginning, at a particular position, at end and similarly deletion

[2021-03-28 12:40] tarun26091999 commented on #737
present at #409

[2021-03-28 12:40] #737 closed

[2021-03-28 13:08] walaa5 opened #1352 "Binary Search"
**Is your feature request related to a problem? Please describe.**
It's the Implementation of Binary Search algorithm in c++.

**Describe the solution you'd like**
I will just implement Binary Search function, that it will take a sorted array, and a variable to search for it,
then implement the Binary Search algorithm and return the position of the variable.

**Do you want to work on it**
c++ .

[2021-03-28 13:09] walaa5 commented on #1352
please, assign this issue to me.

[2021-03-28 13:28] Rahulrai1998 commented on #1294
I am directly making the PR as you guys are not responding....

[2021-03-28 13:33] jasleen5900 commented on #1321
I will work on it in C++. Kindly assign me this issue.. I am part of GSSoC'21.

[2021-03-28 13:35] jasleen5900 commented on #1130
Hey! I want like to solve and contribute to this issue please assign me. I am part of GSSOC'21.

[2021-03-28 13:36] jasleen5900 commented on #1352
I would like to work in C++, please assign me this issue.

[2021-03-28 13:41] jasleen5900 commented on #314
Hey!! I am interested in this issue for adding DP problems and solutions in C++ as a GSSOC'21 participant. I'll be glad to work on this issue. Thanks!!

[2021-03-28 13:43] kanchan1910 commented on #732
@tarun26091999  sir, I have created pull request ,kindly check it once

Thank you!

[2021-03-28 13:48] AnushkaS09 opened #1355 "Finding the largest BST in a given Binary Tree"
**Is your feature request related to a problem? Please describe.**
Want to implement finding the largest BST in a given Binary Tree.

**Describe the solution you'd like**
Return the height of longest BST.

**Do you want to work on it**
Yes, I would like to work on it in C++.

[2021-03-28 13:48] AnushkaS09 commented on #1355
Kindly /assign me

[2021-03-28 14:03] tarun26091999 commented on #550
present at #189

[2021-03-28 14:03] #550 closed

[2021-03-28 14:04] tarun26091999 commented on #798
present at #189

[2021-03-28 14:04] #798 closed

[2021-03-28 14:04] tarun26091999 commented on #1145
present at #189

[2021-03-28 14:04] #1145 closed

[2021-03-28 14:05] tarun26091999 commented on #1297
present at #189

[2021-03-28 14:05] #1297 closed

[2021-03-28 14:07] tarun26091999 commented on #977
present at #189

[2021-03-28 14:07] #977 closed

[2021-03-28 14:09] tarun26091999 commented on #1339
do it in java

[2021-03-28 14:11] shahina-bano commented on #1321
I want to work on in Python. So please assign me this issue @plazzy99

[2021-03-28 14:11] yashmita commented on #1321
I would like to work on this issue in Java. Kindly assign it to me @raksha009 .

[2021-03-28 14:14] AnushkaS09 commented on #1355
/assign

[2021-03-28 14:14] yashmita commented on #1051
I would like to work on this issue in Python. Kindly assign it to me @plazzy99.

[2021-03-28 14:16] shahina-bano commented on #732
I want to work on this issue in Java, so kindly assign me @raksha009 .

[2021-03-28 14:58] tarun26091999 commented on #569
do it in python in O(n) time.

[2021-03-28 15:18] thenextgoogler commented on #1352
Please assign me this issue.

[2021-03-28 15:18] thenextgoogler commented on #1326
I would like to work in C++, please assign me this issue. (part of GSSOC'21)

[2021-03-28 15:19] thenextgoogler commented on #1319
I would like to work in C++, please assign me this issue.

[2021-03-28 15:22] thenextgoogler commented on #1325
I would like to work in C++, please assign me this issue.I would like to work in C++, please assign me this issue.

[2021-03-28 15:44] yashmita commented on #42
I would like to work on this issue in Java. Kindly assign it to me @raksha009.

[2021-03-28 15:44] shahina-bano commented on #42
I would like to work on this issue in python. Kindly assign it to me @plazzy99

[2021-03-28 15:45] shahina-bano commented on #80
I would like to work on this issue in Java. Kindly assign it to me @raksha009

[2021-03-28 15:45] yashmita commented on #80
I would like to work on this issue in Python. Kindly assign it to me @plazzy99

[2021-03-28 15:45] shahina-bano commented on #241
I would like to work on this issue in Java. Kindly assign it to me @raksha009

[2021-03-28 15:46] yashmita commented on #241
I would like to work on this issue in Python. Kindly assign it to me @plazzy99

[2021-03-28 15:46] shahina-bano commented on #264
I would like to work on this issue in python. Kindly assign it to me @plazzy99

[2021-03-28 15:46] yashmita commented on #264
I would like to work on this issue in Java. Kindly assign it to me @raksha009.

[2021-03-28 15:46] shahina-bano commented on #58
I would like to work on this issue in python. Kindly assign it to me @plazzy99

[2021-03-28 15:47] yashmita commented on #84
I would like to work on this issue in Python. Kindly assign it to me @plazzy99.

[2021-03-28 15:48] shahina-bano commented on #168
I would like to work on this issue in python. Kindly assign it to me @plazzy99  @tarun26091999

[2021-03-28 15:49] yashmita commented on #57
I would like to work on this issue in Python. Kindly assign it to me @raksha009 @plazzy99.

[2021-03-28 15:49] shahina-bano commented on #314
I would like to work on this issue in python. Kindly assign it to me @plazzy99  @raksha009  @tarun26091999

[2021-03-28 15:49] shahina-bano commented on #137
I would like to work on this issue in python. Kindly assign it to me @plazzy99  @tarun26091999

[2021-03-28 15:49] yashmita commented on #163
I would like to work on this issue in Python. Kindly assign it to me @tarun26091999  @plazzy99.

[2021-03-28 15:50] shahina-bano commented on #203
I would like to work on this issue in python. Kindly assign it to me @plazzy99  @tarun26091999

[2021-03-28 15:50] yashmita commented on #374
I would like to work on this issue in Python. Kindly assign it to me @tarun26091999 @plazzy99.

[2021-03-28 15:50] yashmita commented on #317
I would like to work on this issue in Python. Kindly assign it to me @tarun26091999  @plazzy99.

[2021-03-28 15:55] vinc3nati commented on #1319
I have already implemented it , just waiting for the confirmation of the admin.
So it would be assigned to me.

[2021-03-28 16:07] Priyanshu078 commented on #1352
/assign

[2021-03-28 16:07] Priyanshu078 commented on #1315
/assign

[2021-03-28 16:08] Priyanshu078 commented on #1210
/assign

[2021-03-28 16:18] anshika272 commented on #402
Hello @tarun26091999  I am anshika Dubey a Gssoc21 participant... please assign this issue to me. I will be using C++ language

[2021-03-28 16:20] anshika272 commented on #203
hello @tarun26091999, I am anshika dubey a gssoc21 participant please assign me this issue. I will be  using c++ language

[2021-03-28 16:23] anshika272 commented on #163
hello @tarun26091999, I am anshika dubey a gssoc21 participant please assign me this issue. I will be using the C++ language.

[2021-03-28 16:25] anshika272 commented on #124
hello @tarun26091999, I am anshika dubey a gssoc21 participant please assign me this issue. I will be using the C++ language.
I would like to contribute to merge sort and quick sort.

[2021-03-28 16:28] anshika272 commented on #736
hello @tarun26091999, I am anshika dubey a gssoc21 participant please assign me this issue. I will be using the C++ language.

[2021-03-28 16:31] anshika272 opened #1358 "String Permutations"
**Is your feature request related to a problem? Please describe.**
given a String. Find and return all the possible permutations of the input string.
**Describe the solution you'd like**
The solution should be done using Recursion.
**Do you want to work on it**
I want to work on this issue using the CPP language.

[2021-03-28 16:35] anshika272 opened #1359 "Subset sum equal to k"
**Is your feature request related to a problem? Please describe.**
Given an array A of size n and an integer K, return all subsets of A which sum to K.

**Describe the solution you'd like**
I want the solution to be using recursion.
**Do you want to work on it**
I would like to work on this issue and would be using the C++ language.

[2021-03-28 16:38] anshika272 opened #1360 "Tower of Honai Game using recursion"
**Is your feature request related to a problem? Please describe.**
Tower of Hanoi is a mathematical puzzle where we have three rods and n disks. The objective of the puzzle is to move all disks from source rod to destination rod using third rod (say auxiliary). The rules are :
1) Only one disk can be moved at a time.
2) A disk can be moved only if it is on the top of a rod.
3) No disk can be place

[2021-03-28 16:48] anshika272 commented on #1360
/assign

[2021-03-28 17:36] syedmdsaifihassan commented on #1268
I am a participant of GSSOC'21, I would like to contribute to this issue,
Please assign me this issue:
@tarun26091999

[2021-03-28 17:41] AparnaJha17 commented on #514
Can I work on this issue in C++ language?
Mentors please assign it to me

[2021-03-28 17:54] hw0105 commented on #695
Hi, I am a participant of GSSOC'21 and I would like to contribute to this issue in cpp.

[2021-03-28 17:55] hw0105 commented on #696
Hi, I am a participant of GSSOC'21 and I would like to contribute to this issue in cpp. Kindly assign it to me.
.

[2021-03-28 18:06] ishwari20 opened #1362 "Dijkstra's Algorithm"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.
Code: Dijkstra's Algorithm

**Describe the solution you'd like**
Code for the Dijkstra's Algorithm (graphs)

**Do you want to work on it**
Yes, I want to work on this issue in C++. Please assign it to me

[2021-03-28 18:18] ishwari20 commented on #1362
Kindly assign me with this issue

[2021-03-28 18:18] #176 closed

[2021-03-28 18:37] tarun26091999 commented on #531
do it in java

[2021-03-28 19:02] tarun26091999 commented on #1070
we do not accept the problems from the CP platforms. We only deal in standard algorithms and data structures.

[2021-03-28 19:02] #1070 closed

[2021-03-28 19:27] tarun26091999 commented on #845
@rk05-lenavo specify the language.

[2021-03-28 19:28] #1051 closed

[2021-03-28 20:42] yashmita commented on #1183
I would like to work on this issue in Java. Kindly assign it to me.

[2021-03-28 20:46] yashmita commented on #1183
I would like to work on this issue in Java. Kindly assign it to me.

[2021-03-28 21:06] raksha009 commented on #709
Go ahead with Python.

[2021-03-28 21:08] raksha009 commented on #1152
Heyy, Its already assigned for python. Only assignment for java is left :)

[2021-03-29 02:43] vanshikapandey commented on #569
Kindly assign it to me .I will be doing it in python sir

On Sun, Mar 28, 2021, 10:58 Tarun Yadav ***@***.***> wrote:

[2021-03-29 04:29] rk05-lenavo commented on #193
@raksha009 I'm the participate of GSSOC'21.  I would like to work on this issue on any language C++, java, python. Please assign this issue to me.

[2021-03-29 05:14] AdityaGarg00 commented on #1352
Please assign this issue to me I am a beginner in open source I am quite familiar with binary search so i would like to contribute to this and ill do my best

[2021-03-29 05:16] AdityaRaj-ar commented on #656
Sir I am a Participant of GSSOC'21, and I really wanted to contribute for this. I request you to assign this issue to me. I will fulfil all the necessary requirements regarding this issue. I really want to work on this issue. So I request to please assign this to me Sir.

[2021-03-29 05:19] mgncodes opened #1364 "Combination Sum Problem in C++"
Hi, I'm a GSSoC participant and I want to contribute the code for Combination Sum Problem in C++.
Kindly assign this issue to me.
Thanks!
@raksha009 @rudrakshi99

[2021-03-29 05:24] AdityaRaj-ar commented on #203
Sir I am a participant of GSSOC'21. I have not contributed in any of the projects till now. But I really want to contribute and I am a beginner and therefore I am in search of issue. So Sir I request you to assign this issue to me. It would really help me in boosting my confidence by contributing in one project of Open Source. Therefore Sir its my humble request to assign this issue to me. I would

[2021-03-29 06:12] anirudhsai20 commented on #1324
Can I please work on this issue under GSSOC?

[2021-03-29 06:25] anirudhsai20 opened #1366 "Kadane's algorithm in Python"
I will add the Python code for Kadane's algorithm.

[2021-03-29 06:25] anirudhsai20 commented on #1366
Hi! Please assign me this issue under GSSOC.

[2021-03-29 07:53] aishux opened #1368 "Shortest Common Supersequence in Python"
**Is your feature request related to a problem? Please describe.**
I am writing a solution to the problem statement mentioned on [https://leetcode.com/problems/shortest-common-supersequence/](url). This question is often asked in the interviews as it is a variation of the **Longest Common Subsequence** Problem!

**Describe the solution you'd like**
I want to write the solution to the problem using

[2021-03-29 10:07] KishkinJ10 commented on #1183
i have made a PR on this issue please check it..

[2021-03-29 10:57] SUCHITRAGIRI opened #1373 "[GSSOC'21]Minimum Number of Operations to Reinitialize a Permutation"
You are given an even integer n​​​​​​. You initially have a permutation perm of size n​​ where perm[i] == i​ (0-indexed)​​​​.

In one operation, you will create a new array arr, and for each i:

If i % 2 == 0, then arr[i] = perm[i / 2].
If i % 2 == 1, then arr[i] = perm[n / 2 + (i - 1) / 2].
You will then assign arr​​​​ to perm.

Return the minimum non-zero number of operations you need to perform

[2021-03-29 11:21] AdityaRaj-ar commented on #362
Hello I am GSSOC'21 participant and I am in search of an issue. I am completely a beginner and I really wanted to contribute for it. It's my humble request to assign this issue to me. I would fulfil all the necessary requirements that are needed. Therefore please do assign this issue to me. I really want to contribute for this. It would be my 1st Project and I would love to work on it.

[2021-03-29 12:57] sayantani11 commented on #1360
This is already done.

[2021-03-29 13:03] sayantani11 opened #1374 "Height balanced Binary tree"
**Is your feature request related to a problem? Please describe.**
For each node the difference between the heights of the left subtree and right subtree is <=1.

**Do you want to work on it**
would like to work on it in C++

[2021-03-29 13:07] sayantani11 opened #1375 "Linked List in Python"
**Is your feature request related to a problem? Please describe.**
To implement linked list along with all required operations.

**Do you want to work on it**
Would like to implement in Python

[2021-03-29 17:24] muthuannamalai12 commented on #1352
I would love to work on this issue in python. Kindly assign it to me @tarun26091999

[2021-03-29 18:36] adistar01 commented on #1152
I

I can present the code in java also. Please assign this issue to me.

[2021-03-29 20:40] omniasalah276 commented on #1339
@tarun26091999 I will implement this in python, please assign me this.

[2021-03-29 20:57] omniasalah276 commented on #627
@tarun26091999
 I would like to do it in python, could you please assign it to me?

[2021-03-29 20:59] omniasalah276 commented on #627
Hello @tarun26091999 !
I am a GSSoC'21 Participant and I would like to do it in python, could you please assign it to me?

[2021-03-29 21:46] a7medayman6 opened #1379 "Climbing Stairs DP using C++"
**Is your feature request related to a problem? Please describe.**
 - You are climbing a staircase. It takes n steps to reach the top.
Each time you can either climb 1 or 2 steps.
In how many distinct ways can you climb to the top?

**Describe the solution you'd like**
Dynamic Programming Approach to solve the problem.

**Do you want to work on it**
C++

[2021-03-29 21:47] a7medayman6 commented on #1379
/assign

[2021-03-30 01:54] thekanishkagupta commented on #1339
Hello, I am a GSSoc'21 participant.
I will implement this in java, requesting you to assign this issue to me.

[2021-03-30 05:20] sohini3062 opened #1380 "Deleting a Node(First/Last/Intermediate) in Singly Linked List"
**Is your feature request related to a problem? Please describe.**
Adding more common problems to Linked Lists.
A clear and concise description of what the problem is.
Insertion Program is available in the readme. Deleting nodes is also important. The node to be deleted can be present anywhere. I would like to add a solution for it.
**Describe the solution you'd like**
A clear and concise descript

[2021-03-30 05:54] ankan1811 opened #1381 "new"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Do you want to work on it**
Mention the one language you want to be assigned for this issue.

[2021-03-30 05:54] #1381 closed

[2021-03-30 06:09] raksha009 commented on #1152
The issues are assigned on first come first basis. Plz look for other issues :)

[2021-03-30 06:42] Shreya0229 commented on #1339
Hey, I am a GSsoc'21 participant too. Kindly assign this to me. I'll work in java on this problem if that has not been already done.

[2021-03-30 06:45] Shreya0229 commented on #1340
Hey, kindly assign it to me. I'll work in java on this problem. [GSsoc'21]

[2021-03-30 07:59] tarun26091999 commented on #732
language?

[2021-03-30 08:14] tarun26091999 commented on #413
always specify the language.

[2021-03-30 08:20] Mugdha-Hazra commented on #732
thank you @tarun26091999 sir!!

[2021-03-30 08:30] ishwari20 commented on #878
I will implement it in C++. Please /assign it to me.

[2021-03-30 08:35] ishwari20 commented on #225
@nakul-19 @plazzy99I have implemented this in C++. Please assign it to me.

[2021-03-30 09:06] shivangi-pandey opened #1385 "Convert_minheap_to_maxheap_in_c++"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.
Convert MinHeap to MaxHeap.

**Describe the solution you'd like**
We Will traverse from the rightmost bottom internal node of min heap and then heapify all of them in bottom up approach and max heap will be formed.

**Do you want to work on it**
Yes
Mention the one language yo

[2021-03-30 09:15] tarun26091999 commented on #825
this is simply traversal of a linked list and that is already present. We accept the standard algorithms only.

[2021-03-30 09:15] #825 closed

[2021-03-30 12:00] nishantsahu961 commented on #1380
I would like to work upon the issue in Java, assign this to me,  @anubhavitis @dheerajkotwani

[2021-03-30 12:18] khusheekapoor commented on #1352
Hello! I am a participant in GSSoC'21. I would like to work on this using Java. Please assign it to me.

[2021-03-30 12:19] khusheekapoor commented on #1349
Hello! I would like to work on this using Java. Please assign it to me.

[2021-03-30 14:17] mgncodes commented on #1364
/assign

[2021-03-30 17:10] khusheekapoor opened #1388 "Traversing, Adding and Deleting an Element from a Circular Queue."
**Is your feature request related to a problem? Please describe.**
Implementing the Circular Queue Data Structure to Traverse, Add and Delete an Element from a Circular Queue.

**Do you want to work on it**
Yes, I would want to work on this using Java.
My code will have Time Complexity O(1).

Kindly assign me this issue @raksha009 @rudrakshi99 @tarun260919. Thank you!
This will be the first ever i

[2021-03-30 17:50] KhushiChaudhary744 commented on #1339
I am currently assigned to do it in Java. I shall upload by tomorrow afternoon

[2021-03-30 19:03] tarun26091999 commented on #262
do in python

[2021-03-30 19:58] shubhii0206 commented on #1137
Sir I have added code for Prims algorithm for MST using Priority Queue. It is no duplicate since (#351) https://github.com/Algo-Phantoms/Algo-Tree/issues/389has added code for MST using simple vectors.  Sent from Mail for Windows 10 From: Tarun YadavSent: 31 March 2021 00:43To: Algo-Phantoms/Algo-TreeCc: Shubhi Yadav; AuthorSubject: Re: [Algo-Phantoms/Algo-Tree] Prims Algorithm to calculate MST us

[2021-03-30 21:01] raksha009 commented on #42
Go ahead with sudoku solver  in python

[2021-03-30 22:39] #1010 closed

[2021-03-30 22:40] #1034 closed

[2021-03-31 01:28] Chirag018 commented on #780
@tarun26091999  using Java .
@tarun26091999 As this problem was created by me and I was the first to ask then you should assigned this issue to me!

[2021-03-31 04:46] dhritippaul commented on #1351
**I would like to work on the issue**
Kindly assign it to me.

_Is your feature request related to a problem? Please describe._
Implementing all insertion and deletion in SLL.

_Describe the solution you'd like_
Would like to implement in C++ in an efficient way.

_Do you want to work on it_
Would like to work on the issue for sure.

[2021-03-31 07:32] Vishal-Singh-1996 commented on #1088
@tarun26091999 pls assign it to me would like to create or do this problem in java with proper indentation and space and time complexity also include...

[2021-03-31 07:38] tarun26091999 commented on #708
@Amisha-Mohapatra do it in 0(1) space complexity and 0(n*log n) time complexity.

[2021-03-31 07:54] #529 closed

[2021-03-31 07:55] agamgupta2015 commented on #1380
/assign

[2021-03-31 07:58] nikhv commented on #1380
I have made a push request , please merge #1393 for issue #1380

[2021-03-31 08:00] nikhv commented on #1229
I have made push request ,#1389 for issue 1229 please merge it
@dheerajkotwani  @tarun26091999  @anubhavitis  @dheerajkotwani  @rudrakshi99  @plazzy99  @nakul-19

[2021-03-31 08:16] Nishayadav-bit commented on #714
Hey , I'm a GSSOC'21 participant . I would like to work this issue please assign to me

[2021-03-31 08:18] tarun26091999 commented on #659
@dikshajoshi18 @Simar05519 specify the languages.

[2021-03-31 08:19] anirudhsai20 opened #1396 "Recursion and hashing in Python"
I will add the code for recursion and hashing in Python.

[2021-03-31 08:20] anirudhsai20 commented on #1396
Hi! Please assign this issue to me under GSSOC.

[2021-03-31 08:23] Nishayadav-bit commented on #625
Hey , I'm a GSSOC'21 participant . I would like to work on this issue please assign me .

[2021-03-31 08:23] tarun26091999 commented on #876
@rudrakshi99 see this

[2021-03-31 08:25] tarun26091999 commented on #768
present at #385

[2021-03-31 08:25] #768 closed

[2021-03-31 08:25] Nishayadav-bit commented on #572
Hey , I'm a GSSOC'21 participant . I would like to work on this issue please assign me .

[2021-03-31 08:25] Nishayadav-bit commented on #559
Hey , I'm a GSSOC'21 participant . I would like to work on this issue please assign me .

[2021-03-31 08:26] Nishayadav-bit commented on #511
Hey , I'm a GSSOC'21 participant . I would like to work on this issue please assign me .

[2021-03-31 08:27] Nishayadav-bit commented on #489
Hey , I'm a GSSOC'21 participant . I would like to work on this issue please assign me .

[2021-03-31 08:27] Nishayadav-bit commented on #445
Hey , I'm a GSSOC'21 participant . I would like to work on this issue please assign me .

[2021-03-31 08:29] Nishayadav-bit commented on #409
Hey , I'm a GSSOC'21 participant . I would like to work on this issue please assign me .

[2021-03-31 08:30] Nishayadav-bit commented on #404
Hey , I'm a GSSOC'21 participant . I would like to work on this issue please assign me .

[2021-03-31 08:30] Nishayadav-bit commented on #402
Hey , I'm a GSSOC'21 participant . I would like to work on this issue please assign me .

[2021-03-31 08:30] shahina-bano commented on #42
I would like to work on this issue in python. Kindly assign it to me @raksha009.

[2021-03-31 08:31] Nishayadav-bit commented on #351
Hey , I'm a GSSOC'21 participant . I would like to work on this issue please assign me .

[2021-03-31 08:31] Nishayadav-bit commented on #346
Hey , I'm a GSSOC'21 participant . I would like to work on this issue please assign me .

[2021-03-31 08:31] Nishayadav-bit commented on #301
Hey , I'm a GSSOC'21 participant . I would like to work on this issue please assign me .

[2021-03-31 08:32] Nishayadav-bit commented on #276
Hey , I'm a GSSOC'21 participant . I would like to work on this issue please assign me .

[2021-03-31 08:32] Nishayadav-bit commented on #262
Hey , I'm a GSSOC'21 participant . I would like to work on this issue please assign me .

[2021-03-31 08:33] Nishayadav-bit commented on #261
Hey , I'm a GSSOC'21 participant . I would like to work on this issue please assign me .

[2021-03-31 08:33] Nishayadav-bit commented on #248
Hey , I'm a GSSOC'21 participant . I would like to work on this issue please assign me .

[2021-03-31 08:34] Nishayadav-bit commented on #198
Hey , I'm a GSSOC'21 participant . I would like to work on this issue please assign me .

[2021-03-31 08:35] Nishayadav-bit commented on #193
Hey , I'm a GSSOC'21 participant . I would like to work on this issue please assign me .

[2021-03-31 08:36] Nishayadav-bit commented on #186
Hey , I'm a GSSOC'21 participant . I would like to work on this issue please assign me .

[2021-03-31 08:36] Nishayadav-bit commented on #170
Hey , I'm a GSSOC'21 participant . I would like to work on this issue please assign me .

[2021-03-31 08:37] Nishayadav-bit commented on #162
Hey , I'm a GSSOC'21 participant . I would like to work on this issue please assign me .

[2021-03-31 08:37] Nishayadav-bit commented on #157
Hey , I'm a GSSOC'21 participant . I would like to work on this issue please assign me .

[2021-03-31 08:38] Nishayadav-bit commented on #147
Hey , I'm a GSSOC'21 participant . I would like to work on this issue please assign me .

[2021-03-31 08:38] Nishayadav-bit commented on #145
Hey , I'm a GSSOC'21 participant . I would like to work on this issue please assign me .

[2021-03-31 08:39] Nishayadav-bit commented on #60
Hey , I'm a GSSOC'21 participant . I would like to work on this issue please assign me .

[2021-03-31 08:40] Nishayadav-bit commented on #58
Hey , I'm a GSSOC'21 participant . I would like to work on this issue please assign me .

[2021-03-31 08:49] tarun26091999 commented on #836
We do not accept the problems available on competitive sites. We only accept standard algorithms and questions.

https://www.codechef.com/problems/WALG

[2021-03-31 08:49] #836 closed

[2021-03-31 08:50] tarun26091999 commented on #851
present at #468

[2021-03-31 08:50] tarun26091999 commented on #981
present at #468

[2021-03-31 08:50] #981 closed

[2021-03-31 08:50] tarun26091999 commented on #1162
present at #468

[2021-03-31 08:50] #1162 closed

[2021-03-31 09:03] rudrakshi99 commented on #792
Yes, you add it in Number Theory.

[2021-03-31 09:04] rudrakshi99 commented on #792
ok, you will provide the code in java.

[2021-03-31 09:14] tarun26091999 commented on #889
present at #193

[2021-03-31 09:14] #889 closed

[2021-03-31 09:15] #1108 closed

[2021-03-31 09:15] Simi06 commented on #736
hello @tarun26091999,
Is this issue free to work on?
if so please assign this issue to me I would like to contribute

[2021-03-31 09:17] tarun26091999 commented on #912
present at #499

[2021-03-31 09:17] #912 closed

[2021-03-31 10:36] #1360 closed

[2021-03-31 11:01] Poojasingh5 commented on #559
Hello!
 I am a GSSoC'21 participant.
I would like to contribute the code for this issue in C++/CPP.
Kindly assign it to me.

[2021-03-31 11:05] Poojasingh5 commented on #1088
Hello!
I am a GSSoC'21 participant.
I would like to contribute the code for this issue in C++/CPP.
Kindly assign it to me.

[2021-03-31 11:55] #124 closed

[2021-03-31 14:09] UG-SEP opened #1397 "Wanted to Add program using recursion"
**Is your feature request related to a problem? Please describe.**
I wanted to add program like decimal to octal conversion , decimal to binary conversion , tower of hanoi etc.
In algorithm->recursion
**Describe the solution you'd like**
 I will create also the program using recursion in c language..
**Do you want to work on it**
Yes i wanted  to get assign for this . Please Assign me

[2021-03-31 14:24] a7medayman6 commented on #1379
I have added the solution of the problem in C++ in this pull request #1378 please merge.

[2021-03-31 14:43] aastha621 commented on #1172
@tarun26091999 I have made a PR on this issue, pls review it!
PR no #1263

[2021-03-31 15:36] raksha009 commented on #559
have you created PR for the same?

[2021-03-31 15:42] raksha009 commented on #1366
Issue exists at #273

[2021-03-31 15:42] #1366 closed

[2021-03-31 15:43] raksha009 commented on #1321
Issue exists at #291

[2021-03-31 15:43] #1321 closed

[2021-03-31 15:44] raksha009 commented on #1223
Issue exists at #291

[2021-03-31 15:44] raksha009 commented on #1151
Issue exists at #291

[2021-03-31 15:44] #1151 closed

[2021-03-31 15:44] raksha009 commented on #903
Issue exists at #291

[2021-03-31 15:44] #903 closed

[2021-03-31 15:55] raksha009 commented on #1388
Issue Present at #58

[2021-03-31 15:55] #1388 closed

[2021-03-31 15:57] raksha009 commented on #1375
Hey, the issue sounds ambiguous and already there are issues preexisting for multiple operations of LL.
Plz look for other issues. Closing this for now :)

[2021-03-31 15:57] #1375 closed

[2021-03-31 15:59] raksha009 commented on #1374
Plz give a little more detailed description of yr problem statement

[2021-03-31 16:00] #1352 closed

[2021-03-31 16:02] raksha009 commented on #1397
Heyy, a issue deals with only 1 problem statement at a time. Plz keep this in mind and also add a little detail about yr problem statement in the issue next time onwards :)

[2021-03-31 16:02] #1397 closed

[2021-03-31 16:03] raksha009 commented on #1350
Issue present at #828

[2021-03-31 16:03] #1350 closed

[2021-03-31 16:06] khusheekapoor commented on #58
Hey @raksha009 Could you please assign me this issue to work in Java. I have commented before as well. Also, I raised a new issue on this which is now closed.

[2021-03-31 16:11] Ritu7683 commented on #559
@rudrakshi99  I have created a PR on this around 2 weeks ago. Can you please review it.

[2021-03-31 20:14] srimontidutta opened #1399 "Cycle Sort in Python"
Hi, I'm a GSSoC21 participant.
I would like to add the code for cycle sort implemented in Python.

[2021-03-31 20:21] Koushik890 commented on #828
Hey @raksha009 can u assign me this issue?

[2021-03-31 20:22] Koushik890 commented on #828
Hey @raksha009 can u assign me this issue?

[2021-03-31 20:28] tarun26091999 commented on #711
present at #351

[2021-03-31 20:28] #711 closed

[2021-03-31 20:29] tarun26091999 commented on #1341
you cannot solve multiple ques in same issue and all the issues has been assigned before.

[2021-03-31 20:29] #1341 closed

[2021-03-31 20:31] tarun26091999 commented on #949
you cannot solve multiple ques in same issue and all the issues has been assigned before.

[2021-03-31 20:31] #949 closed

[2021-03-31 20:46] omniasalah276 commented on #1362
I'm a gssoc'21 participant and would like to implement this in python please assign it to me

[2021-03-31 20:47] omniasalah276 commented on #1358
I'm a gssoc'21 participant and would like to implement this in python please assign it to me

[2021-03-31 20:50] omniasalah276 commented on #1326
I'm a gssoc'21 participant and would like to implement this in python please assign it to me

[2021-03-31 20:55] omniasalah276 commented on #1221
I'm a gssoc'21 participant and would like to implement this in python please assign it to me

[2021-04-01 03:39] pranjwalsingh236 commented on #1189
Please anyone can assign this
12 days has passed

[2021-04-01 04:28] Poojasingh5 commented on #1379
Hello!
I am a GSSoC'21 participant.
I would like to contribute the code for this issue in C++/CPP.
Kindly assign it to me.

[2021-04-01 04:41] Poojasingh5 commented on #844
Hello!
I am a GSSoC'21 participant.
I would like to contribute the code for this issue in C++/CPP.
Kindly assign it to me.

[2021-04-01 06:03] UG-SEP commented on #1397
ok

[2021-04-01 07:37] #647 closed

[2021-04-01 07:44] UG-SEP opened #1403 "double ended queue in c using array"
**Is your feature request related to a problem? Please describe.**
this is a queue data structure trending question.
**Describe the solution you'd like**
In this i let the user to insert or delete data from both side front and end for that i make some function which will perform this work and an struct named deque and then create the menu which give 4 option to user 1: Insert from Front 2: Insert

[2021-04-01 08:22] khusheekapoor commented on #1403
Hey! I would want to work on this using Java. Please assign this to me. Thanks!

[2021-04-01 08:26] khusheekapoor commented on #193
Hey @raksha009! Is this issue closed under Java? If not, please assign it to me. Thank you!

[2021-04-01 08:52] adityabandal opened #1405 "Adding Disjoint-Set data structure in C++"
**Is your feature request related to a problem? Please describe.**
I want to add disjoint set data structure (union-find) algorithm to this repository.

**Describe the solution you'd like**
I will be adding most efficient version of disjoint set data structure.

**Do you want to work on it**
C++

[2021-04-01 09:26] kiruba-r11 opened #1406 "Sum of all Sub-Matrices of a Matrix"
**Is your feature request related to a problem? Please describe.**
To find the sum of all sub-matrices of a given matrix.

**Describe the solution you'd like**
A coded solution for this problem

**Do you want to work on it**
C++

[2021-04-01 09:27] kiruba-r11 commented on #1406
@rudrakshi99 @tarun26091999 @OjusWiZard @nakul-19 Please assign this issue to me

[2021-04-01 10:43] vedant-jain03 commented on #193
@raksha009 I have already made pull request on this #821 please review it.

[2021-04-01 11:59] khushi-gupta opened #1408 "Implementation of Ackermann function"
Implementation of the Ackermann function using Recursion. I request the repository maintainers to assign this issue to me.
I will solve this problem using the C++ language.

[2021-04-01 13:27] OjusWiZard commented on #181
@Aleena-Ashraf Please explain the issue more briefly

[2021-04-01 14:00] Simi06 opened #1415 "binary Tree"
Program to flatten a Binary Tree.
i would like to use Cpp to solve this problem.
please assign this issue to me.
Regards

[2021-04-01 14:02] Shulabh-968026 opened #1416 "Implement Trie In Python"
Daer Mentor
 I am GSSOC 21 participent. I would like to work on this issue.
Please assign this issue to me.
Thank you

[2021-04-01 16:50] Aleena-Ashraf commented on #181
This program gets 2 arrays as input. 2nd array will have extra elements. So
this program prints the excess elements. And find the total number of extra
elements.

On Thu, Apr 1, 2021, 18:57 OjusWiZard ***@***.***> wrote:

[2021-04-01 18:04] #204 closed

[2021-04-01 18:12] raksha009 commented on #1345
issue at #925

[2021-04-01 18:12] #1345 closed

[2021-04-01 18:13] OjusWiZard commented on #212
@SAY-droid427 Please explain the problem statement more briefly.

[2021-04-01 18:13] raksha009 commented on #1348
Issue at #925

[2021-04-01 18:13] #1348 closed

[2021-04-01 18:16] raksha009 commented on #1359
Hey, we want to add the most optimised solution to be added. Would be able to solve this using dp ?

[2021-04-01 18:17] OjusWiZard commented on #221
Raise separate issues for each sorting algorithms. Some of them are already being implanted by the people.

[2021-04-01 18:17] #221 closed

[2021-04-01 18:19] raksha009 commented on #1340
@KhushiChaudhary744 go ahead with python
@AnushkaS09  go ahead with cpp
@Shreya0229 go ahead with java

[2021-04-01 18:22] OjusWiZard commented on #222
Raise separate issues for each searching algorithms. Some of them are already being implanted by the people.

[2021-04-01 18:22] #222 closed

[2021-04-01 18:24] raksha009 commented on #1305
Issue at #709

[2021-04-01 18:24] #1305 closed

[2021-04-01 18:33] OjusWiZard commented on #230
Please elaborate, how would you use DP for this algorithm.

[2021-04-01 18:36] raksha009 commented on #828
The issues are assigned on first come first basis. Plz look for other issues :)

[2021-04-01 18:37] OjusWiZard commented on #231
Stack using LL is already in the repo. So make a separate issue for Stack using array.

[2021-04-01 18:37] #231 closed

[2021-04-01 18:54] OjusWiZard commented on #238
Create separate issues for separate problems

[2021-04-01 18:54] #238 closed

[2021-04-01 18:57] Debashish-hub opened #1419 "Hashing in C++"
**Is your feature request related to a problem? Please describe.**
Using Hashing in C++ various problems can be solved like  Is sudoku valid, triplet sum in array, Key pair, Intersection of two arrays etc.

**Describe the solution you'd like**
Problems like  Is sudoku valid, triplet sum in array, Key pair, Intersection of two array will be solved using hashing.

**Do you want to work on it**
C++

[2021-04-01 19:22] madhvi02 commented on #1415
I would like to code this in C++. I m a GSSOC'21 Partcipant .I will assure you that I will provide a commented code with efficient time complexity.@tarun26091999 @dheerajkotwani @anubhavitis @dheerajkotwani @rudrakshi99 @plazzy99 @nakul-19 please assign this to me .
Regards
Madhvi .

[2021-04-01 19:23] madhvi02 commented on #1359
I would like to code this in C++. I m a GSSOC'21 Partcipant .I will assure you that I will provide a most optimized code and
commented code with efficient time complexity.@tarun26091999 @dheerajkotwani @anubhavitis @dheerajkotwani @rudrakshi99 @plazzy99 @nakul-19 please assign this to me .
Regards
Madhvi .

[2021-04-01 19:24] madhvi02 commented on #1315
I would like to code this in C++. I m a GSSOC'21 Partcipant .I will assure you that I will provide a most optimized code and commented code with efficient time complexity.@tarun26091999 @dheerajkotwani @raksha009 @anubhavitis @dheerajkotwani @rudrakshi99 @plazzy99 @nakul-19 please assign this to me .
Regards
Madhvi .

[2021-04-01 19:25] madhvi02 commented on #1198
I would like to code this in C++. I m a GSSOC'21 Partcipant .I will assure you that I will provide a most optimized code and commented code with efficient time complexity.@tarun26091999 @dheerajkotwani @raksha009 @anubhavitis @dheerajkotwani @rudrakshi99 @plazzy99 @nakul-19 please assign this to me .
Regards
Madhvi .

[2021-04-01 20:38] hsnice16 commented on #240
I have made PR regarding this. Can you please merge it?

PR: #331

[2021-04-02 02:57] Aniwesh-0904 commented on #1364
Hi, I am a GSSoC participant and I want to contribute to this project.
please assign this issue to me.

[2021-04-02 04:41] RYzen-009 commented on #1358
/assign

[2021-04-02 04:46] RYzen-009 commented on #1351
/assign

[2021-04-02 06:34] mgncodes commented on #1364
Hi @raksha009, I have made a PR #1420 for this issue, but I am facing some conflict in the readme file. Pl help me resolve it.
Thanks!

[2021-04-02 07:25] tarun26091999 commented on #599
you need to link it here, otherwise its impossible to see it.

[2021-04-02 07:42] nikhv commented on #659
@tarun26091999, I am a GSSOC '21 participant. I would like to work on this issue in C++.
Please assign this issue to me

[2021-04-02 07:43] nikhv commented on #638
@tarun26091999  @rudrakshi99  , I'm a GSSOC'21 participant. I would like to work on this issue in C++, please assign it to me.

[2021-04-02 07:45] nikhv commented on #572
@rudrakshi99 @tarun26091999 I'm a GSSOC'21 participant , I would implement it in C++ ,please assign this to me.

[2021-04-02 07:47] nikhv commented on #468
@rahulsrivastava1  @tarun26091999  @raksha009  . I'm a GSSOC'21 participant, I would implement it in C++ please assign this issue to me

[2021-04-02 07:48] nikhv commented on #1229
@tarun26091999  , I'm a GSSOC'21 participant , please assign this to me

[2021-04-02 07:50] nikhv commented on #203
@tarun26091999  .I'm a GSSOC'21 participant ,I would implement it using C++ , please assign this to  me

[2021-04-02 08:32] tarun26091999 commented on #1229
present at #44

[2021-04-02 08:32] #1229 closed

[2021-04-02 08:34] nikhv commented on #44
@tarun26091999  ,please assign this issue to me , I will implement it in c++

[2021-04-02 09:18] shreyanspoddar commented on #295
Please specify the language

[2021-04-02 09:18] shreyanspoddar commented on #295
Go ahead and do it in C++

[2021-04-02 09:19] shreyanspoddar commented on #295
Go ahead and do it in JAVA

[2021-04-02 09:31] shreyanspoddar commented on #320
Go ahead and do it in C++

[2021-04-02 09:31] shreyanspoddar commented on #320
Please specify the language