[2021-03-11 17:47] reerajput930 commented on #632
Hello, I would like to contribute to this project in c++ language.
->with O(n) time complexity
->with O(1) space complexity
I am a GSsoc participant.

[2021-03-11 17:47] kanchan1910 commented on #595
Hey, I am Kanchan Jeswani, a GSSOC'21 participant.
I am a Competitive Programmer and C++ enthusiastic.
I would love to solve this problem using CPP with well-explained code and along with its time and space complexity.
Please assign me this issue.
Hope to hear from you.
Discord username  kanchan19#3152

@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99 @rudrakshi99

[2021-03-11 17:48] kanchan1910 commented on #524
Hey, I am Kanchan Jeswani, a GSSOC'21 participant.
I am a Competitive Programmer and C++ enthusiastic.
I would love to solve this problem using CPP with well-explained code and along with its time and space complexity.
Please assign me this issue.
Hope to hear from you.
Discord username  kanchan19#3152

@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99 @rudrakshi99

[2021-03-11 17:48] kanchan1910 commented on #526
Hey, I am Kanchan Jeswani, a GSSOC'21 participant.
I am a Competitive Programmer and C++ enthusiastic.
I would love to solve this problem using CPP with well-explained code and along with its time and space complexity.
Please assign me this issue.
Hope to hear from you.
Discord username  kanchan19#3152

@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99 @rudrakshi99

[2021-03-11 17:48] kanchan1910 commented on #438
Hey, I am Kanchan Jeswani, a GSSOC'21 participant.
I am a Competitive Programmer and C++ enthusiastic.
I would love to solve this problem using CPP with well-explained code and along with its time and space complexity.
Please assign me this issue.
Hope to hear from you.
Discord username  kanchan19#3152

@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99 @rudrakshi99

[2021-03-11 17:49] kanchan1910 commented on #411
Hey, I am Kanchan Jeswani, a GSSOC'21 participant.
I am a Competitive Programmer and C++ enthusiastic.
I would love to solve this problem using CPP with well-explained code and along with its time and space complexity.
Please assign me this issue.
Hope to hear from you.
Discord username  kanchan19#3152

@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99 @rudrakshi99

[2021-03-11 17:49] kanchan1910 commented on #354
Hey, I am Kanchan Jeswani, a GSSOC'21 participant.
I am a Competitive Programmer and C++ enthusiastic.
I would love to solve this problem using CPP with well-explained code and along with its time and space complexity.
Please assign me this issue.
Hope to hear from you.
Discord username  kanchan19#3152

@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99 @rudrakshi99

[2021-03-11 17:50] kanchan1910 commented on #272
Hey, I am Kanchan Jeswani, a GSSOC'21 participant.
I am a Competitive Programmer and C++ enthusiastic.
I would love to solve this problem using CPP with well-explained code and along with its time and space complexity.
Please assign me this issue.
Hope to hear from you.
Discord username  kanchan19#3152

@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99 @rudrakshi99

[2021-03-11 17:50] kanchan1910 commented on #269
Hey, I am Kanchan Jeswani, a GSSOC'21 participant.
I am a Competitive Programmer and C++ enthusiastic.
I would love to solve this problem using CPP with well-explained code and along with its time and space complexity.
Please assign me this issue.
Hope to hear from you.
Discord username  kanchan19#3152

@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99 @rudrakshi99

[2021-03-11 17:50] kanchan1910 commented on #268
Hey, I am Kanchan Jeswani, a GSSOC'21 participant.
I am a Competitive Programmer and C++ enthusiastic.
I would love to solve this problem using CPP with well-explained code and along with its time and space complexity.
Please assign me this issue.
Hope to hear from you.
Discord username  kanchan19#3152

@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99 @rudrakshi99

[2021-03-11 17:50] kanchan1910 commented on #266
Hey, I am Kanchan Jeswani, a GSSOC'21 participant.
I am a Competitive Programmer and C++ enthusiastic.
I would love to solve this problem using CPP with well-explained code and along with its time and space complexity.
Please assign me this issue.
Hope to hear from you.
Discord username  kanchan19#3152

@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99 @rudrakshi99

[2021-03-11 17:51] kanchan1910 commented on #150
Hey, I am Kanchan Jeswani, a GSSOC'21 participant.
I am a Competitive Programmer and C++ enthusiastic.
I would love to solve this problem using CPP with well-explained code and along with its time and space complexity.
Please assign me this issue.
Hope to hear from you.
Discord username  kanchan19#3152

@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99 @rudrakshi99

[2021-03-11 17:51] kanchan1910 commented on #157
Hey, I am Kanchan Jeswani, a GSSOC'21 participant.
I am a Competitive Programmer and C++ enthusiastic.
I would love to solve this problem using CPP with well-explained code and along with its time and space complexity.
Please assign me this issue.
Hope to hear from you.
Discord username  kanchan19#3152

@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99 @rudrakshi99

[2021-03-11 17:52] reerajput930 commented on #667
Hello, I would like to contribute to this project in c++ language with help of vector.
->with O(nlogn) time complexity
->with O(n) space complexity
I am a GSsoc'21  participant.
waiting for a positive response.

[2021-03-11 17:53] kanchan1910 commented on #178
Hey, I am Kanchan Jeswani, a GSSOC'21 participant.
I am a Competitive Programmer and C++ enthusiastic.
I would love to solve this problem using CPP with well-explained code and along with its time and space complexity.
Please assign me this issue.
Hope to hear from you.
Discord username  kanchan19#3152

@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99 @rudrakshi99

[2021-03-11 17:53] kanchan1910 commented on #183
Hey, I am Kanchan Jeswani, a GSSOC'21 participant.
I am a Competitive Programmer and C++ enthusiastic.
I would love to solve this problem using CPP with well-explained code and along with its time and space complexity.
Please assign me this issue.
Hope to hear from you.
Discord username  kanchan19#3152

@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99 @rudrakshi99

[2021-03-11 17:53] kanchan1910 commented on #164
Hey, I am Kanchan Jeswani, a GSSOC'21 participant.
I am a Competitive Programmer and C++ enthusiastic.
I would love to solve this problem using CPP with well-explained code and along with its time and space complexity.
Please assign me this issue.
Hope to hear from you.
Discord username  kanchan19#3152

@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99 @rudrakshi99

[2021-03-11 17:53] kanchan1910 commented on #163
Hey, I am Kanchan Jeswani, a GSSOC'21 participant.
I am a Competitive Programmer and C++ enthusiastic.
I would love to solve this problem using CPP with well-explained code and along with its time and space complexity.
Please assign me this issue.
Hope to hear from you.
Discord username  kanchan19#3152

@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99 @rudrakshi99

[2021-03-11 17:54] kanchan1910 commented on #391
Hey, I am Kanchan Jeswani, a GSSOC'21 participant.
I am a Competitive Programmer and C++ enthusiastic.
I would love to solve this problem using CPP with well-explained code and along with its time and space complexity.
Please assign me this issue.
Hope to hear from you.
Discord username  kanchan19#3152

@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99 @rudrakshi99

[2021-03-11 17:55] reerajput930 commented on #666
Hello, I would like to contribute to this project in "c++ language" with help of "min heap".
->with O(nlogn) time complexity
->with O(1) space complexity
I am a GSsoc'21  participant.
waiting for a positive response.

[2021-03-11 17:56] kanchan1910 commented on #95
Hey, I am Kanchan Jeswani, a GSSOC'21 participant.
I am a Competitive Programmer and C++ enthusiastic.
I would love to solve this problem using CPP with well-explained code and along with its time and space complexity.
Please assign me this issue.
Hope to hear from you.
Discord username  kanchan19#3152

@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99 @rudrakshi99

[2021-03-11 17:58] reerajput930 commented on #658
Hello, I would like to contribute to this project in "c++ language" with help of "map".
->with O(n) time complexity
->with O(n) space complexity
I am a GSsoc'21  participant.
waiting for a positive response.

[2021-03-11 18:03] reerajput930 commented on #650
Don't know what's in the math folder, but I can definitely do it in c++ as I am excellent at maths and DSA.
Of course in the least TC  and SC.
looking forward to a positive response!

[2021-03-11 18:06] reerajput930 commented on #630
Hello, I would like to contribute to this project in c++.
->with O(n*n) time complexity
->with O(1) space complexity
I am a GSsoc'21  participant.
waiting for a positive response.

[2021-03-11 18:21] tarun26091999 commented on #301
@ritesh1731 which language you will use?

[2021-03-11 18:24] tarun26091999 commented on #170
@btanisha do it in python

[2021-03-11 18:24] tarun26091999 commented on #449
its already done in #170

[2021-03-11 18:24] #449 closed

[2021-03-11 18:29] dhruvdy commented on #656
Hello mentors, please assign it to me in c++ and python. I'm a GSSoC'21 participant

[2021-03-11 18:35] tarun26091999 commented on #462
@vedant-jain03 do it in python

[2021-03-11 18:38] tarun26091999 commented on #492
issue present at #381

[2021-03-11 18:38] #492 closed

[2021-03-11 18:38] tarun26091999 commented on #526
issue present at #381

[2021-03-11 18:38] #526 closed

[2021-03-11 18:39] tarun26091999 commented on #626
issue present at #381

[2021-03-11 18:39] #626 closed

[2021-03-11 18:40] Ashee-Kanungo opened #677 "Huffman encoding and decoding Algorithm"
Hey!! @plazzy99 @rudrakshi99 @nakul-19 @tarun26091999 @raksha009 @shreyanspoddar
This is an algorithm which is used for data compression and it gives a basic idea behind file compression.

I would like to implement this using c++.
I assure you that I will write a clear code and properly mention comments in code.
I request you to please assign me this problem.

[2021-03-11 18:42] tarun26091999 commented on #127
you cannot solve multiple problems in single issue.

[2021-03-11 18:42] #127 closed

[2021-03-11 18:42] dhruvdy commented on #664
Hello mentors, please assign this issue to me in c++ and python

[2021-03-11 18:45] tarun26091999 commented on #179
cannot solve multiple problems in single issue.

[2021-03-11 18:45] #179 closed

[2021-03-11 18:47] reerajput930 commented on #614
Hello, I would like to contribute to this project in c++ language with help of recursion.
->with O(n) time complexity
->with O(1) space complexity
I am a GSsoc'21  participant.
waiting for a positive response.

[2021-03-11 18:48] Suvraneel commented on #677
Duplicate of  issues #272  & #590

[2021-03-11 18:53] reerajput930 commented on #506
Hello, I would like to contribute to this project in c++ language with help of "map and queue".
->in O(n) time complexity
->in O(n) space complexity
I am a GSsoc'21  participant.
waiting for a positive response.

[2021-03-11 18:53] #139 closed

[2021-03-11 18:54] kanchan1910 commented on #461
Hey, I am Kanchan Jeswani, a GSSOC'21 participant.
I am a Competitive Programmer and C++ enthusiastic.
I would love to solve this problem using CPP with well-explained code and along with its time and space complexity.
Please assign me this issue.
Hope to hear from you.
Discord username  kanchan19#3152

@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99 @rudrakshi99
for alg

[2021-03-11 18:55] tarun26091999 commented on #280
issue being worked at #148

[2021-03-11 18:55] #280 closed

[2021-03-11 18:57] kanchan1910 commented on #613
Hey, I am Kanchan Jeswani, a GSSOC'21 participant.
I am a Competitive Programmer and C++ enthusiastic.
I would love to solve this problem using CPP with well-explained code and along with its time and space complexity.
Please assign me this issue.
Hope to hear from you.
Discord username  kanchan19#3152

@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99 @rudrakshi99

[2021-03-11 18:59] kanchan1910 commented on #165
Hey, I am Kanchan Jeswani, a GSSOC'21 participant.
I am a Competitive Programmer and C++ enthusiastic.
I would love to solve this problem using CPP with well-explained code and along with its time and space complexity.
Please assign me this issue.
Hope to hear from you.
Discord username  kanchan19#3152

@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99 @rudrakshi99

[2021-03-11 19:00] kanchan1910 commented on #162
Hey, I am Kanchan Jeswani, a GSSOC'21 participant.
I am a Competitive Programmer and C++ enthusiastic.
I would love to solve this problem using CPP with well-explained code and along with its time and space complexity.
Please assign me this issue.
Hope to hear from you.
Discord username  kanchan19#3152

@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99 @rudrakshi99

[2021-03-11 19:01] Jagruthi13 commented on #667
Hey @rudrakshi99 @tarun26091999 @plazzy99
I would like to do it in java.
Please assign me this issue.

[2021-03-11 19:01] sg-iitg commented on #380
@tarun26091999 I have created the pull request -
Create sliding_window_maximum.cpp #676

But I am unable to link the PR to this issue

[2021-03-11 19:04] Jagruthi13 commented on #663
Hey @rudrakshi99 @tarun26091999
I would like to do it in Java.
Please assign me this issue.

[2021-03-11 19:05] Ashee-Kanungo opened #679 "Check if Linked List is palindrome"
Hey!! @plazzy99 @rudrakshi99 @nakul-19 @tarun26091999 @raksha009 @shreyanspoddar
I would like to solve this using c++.
I assure you that I will write a clear code and properly mention comments in code.
I request you to please assign me this problem

[2021-03-11 19:10] asthakri50 commented on #246
Hey @tarun26091999 ,
 I am a GSSOC'21 participant and I prefer to code in Java.
I would like to add the code for this question in Java. Do I need to create another issue for that?
Looking forward to hear from you.
Thank you.

[2021-03-11 19:13] lavanya243 opened #681 "Kandane's Algorithm in Java"
Hey @plazzy99 @rudrakshi99 @nakul-19, I am a GSSOC, 2021 participant.
I want to solve Kandane's Algorithm using Java, with time complexity O(n). I would like to request you to kindly assign me this problem.

[2021-03-11 19:16] Ashee-Kanungo opened #682 "Check if a binary tree is symmetric"
Hey!! @plazzy99 @rudrakshi99 @nakul-19 @tarun26091999 @raksha009 @shreyanspoddar
I would like to solve this using c++.
I assure you that I will write a clear code and properly mention comments in code.
I request you to please assign me this problem

[2021-03-11 19:19] Ashee-Kanungo opened #683 "Maximum sum path from any node to any node in Binary Tree"
Hey!! @plazzy99 @rudrakshi99 @nakul-19 @tarun26091999 @raksha009 @shreyanspoddar
I would like to solve this using c++.
I assure you that I will write a clear code and properly mention comments in code.
I request you to please assign me this problem

[2021-03-11 19:22] lavanya243 opened #684 "Insertion sort using Java"
Hey @plazzy99 @rudrakshi99 @nakul-19, I am a GSSOC, 2021 participant.
I want to implement insertion sort using Java. I would like to request you to kindly assign me this problem.

[2021-03-11 19:26] tarun26091999 commented on #500
raise separate issue for all traversal.

[2021-03-11 19:26] #500 closed

[2021-03-11 19:27] lavanya243 opened #685 "Searching algorithm using Java and C++"
Hey @plazzy99 @rudrakshi99 @nakul-19, I am Lavanya Narayanan, a GSSOC, 2021 participant.
I want to implement Searching algorithms using Java and C++.

Searching Algorithms include:
1. Linear Search (Time complexity : O(n)
2. Binary Search ((Time complexity : O(log n))

I would like to request you to kindly assign me this problem.

[2021-03-11 19:30] asthakri50 opened #686 "Single Number Problem In Bit-Masking Using Java"
Hey @tarun26091999 @rudrakshi99 @nakul-19 @plazzy99 @OjusWiZard,
 I want to add the important "Single Number I" using Bit Manipulation in  Algo-Tree/Code/Java/

The problem statement is:
Given an array of integers A, every element appears twice except for one. Find that single one.
My algorithm has a linear time runtime complexity without using extra space.

Example:
Input:  1, 2, 2, 3, 1
Output:

[2021-03-11 19:32] tarun26091999 commented on #527
already present at #128

[2021-03-11 19:32] #527 closed

[2021-03-11 19:34] tarun26091999 commented on #196
I think you people are asking for 2D array.

[2021-03-11 19:35] Mohim-Singla opened #687 "Splitting Linked List into two equal Halves"
[C++] This program will split the user defined linked list into two equal parts.
--n nodes each if there are 2n nodes and (n+1) and n nodes if there are 2n+1 nodes.

Please assign this issue to me.

[2021-03-11 19:36] tarun26091999 commented on #402
@Sloth-Panda specify the language.

[2021-03-11 19:40] abhishek7389 commented on #572
I want to do this, so please give me a chance.

[2021-03-11 19:42] tarun26091999 commented on #291
@divya1509 @Mahima0405 @guruc-134 work only on the diameter in this issue. As working on two problems in same issue is not possible.

[2021-03-11 19:45] tarun26091999 commented on #348
multiple problems cannot be solved in single issue.

[2021-03-11 19:45] #348 closed

[2021-03-11 19:47] tarun26091999 commented on #413
@madhvi02 C++ is already assigned.

[2021-03-11 19:48] Sloth-Panda commented on #402
@tarun26091999 can you please assign it to me in java

[2021-03-11 19:48] tarun26091999 commented on #503
already present at #462

[2021-03-11 19:48] #503 closed

[2021-03-11 19:50] #88 closed

[2021-03-11 19:52] tarun26091999 commented on #323
present at #144

[2021-03-11 19:52] #323 closed

[2021-03-11 19:52] tarun26091999 commented on #498
present at #144

[2021-03-11 19:52] #498 closed

[2021-03-11 19:52] Aarti002 commented on #682
hey @tarun26091999 under gssoc'21 can i do this issue in python.

Thank you!

[2021-03-11 19:53] tarun26091999 commented on #573
present at #144

[2021-03-11 19:53] #573 closed

[2021-03-11 19:53] Aarti002 commented on #679
hello @rudrakshi99 @tarun26091999 under gssoc'21 can i work on this issue in python will also try to add some explanatory comments.
Thank you!

[2021-03-11 19:55] Aarti002 commented on #658
hey @tarun26091999 @rudrakshi99 can i work on this issue in python under gssoc'21.
Thank you!

[2021-03-11 19:56] tarun26091999 commented on #317
@pallavidhere23 do it in java

[2021-03-11 19:58] tarun26091999 commented on #314
@AasthaGoyalgit @chitrasingla solve the problem specified in the issue name.

[2021-03-11 19:59] hritikkhurana10sm commented on #685
Hii , @plazzy99 @rudrakshi99 @nakul-19, I am Hritik Khurana, looking for first commit .
I want to implement Searching algorithms using  C++.
Please assign this to me.

[2021-03-11 20:02] 08Gunjan commented on #500
Does this **"all"** include Traversals for both Binary Tree and N-ary tree  **(JAVA)** ?

 **Traversals**
- Inorder Traversal        (Recursively)
- Preorder Traversal      (Recursively)
- Postorder Traversal     (Recursively)
- Level Order Traversal   (Iteratively)

@tarun26091999    Could you Please Confirm it  And also Do mention If I have missed something !!  So that I can raise the new Issue.

[2021-03-11 20:09] kanganabhargava opened #690 "Linear search in C++"

[2021-03-11 20:10] Vansh-Gupta4 commented on #148
thanks for assigning it  to me

On Wed, Mar 10, 2021 at 8:18 PM Vatsal kesarwani ***@***.***>
wrote:

[2021-03-11 20:10] Vansh-Gupta4 commented on #217
Thanks!!

On Thu, Mar 11, 2021 at 1:16 AM Tarun Yadav ***@***.***>
wrote:

[2021-03-11 20:19] 08Gunjan commented on #144
Issue #498
I would like to contribute in your Project by working on Tree (Inorder Preorder Postorder) (Binary Tree ) Problems using Recursive Approach in JAVA .

My Approach is Optimize yet Easy to understand .
Single Line Comments makes it easy to read.
Required Test Case are added at the end.
Can make it More Explanatory using the Image
Please assign me this issue under the label GSSOC21 , Looki

[2021-03-11 20:23] Aarti002 commented on #148
@plazzy99 can you plz merge my PR
Thank you!

[2021-03-11 20:26] Vansh-Gupta4 commented on #217
Should I do as issue is closed?

On Fri, Mar 12, 2021 at 1:40 AM VANSH ***@***.***> wrote:

[2021-03-11 20:35] Shalvi-Singhal opened #692 "Calculate Grundy number of a game in C++"
hello, I am a GSSOC'21 participant.
The above issue can be solved efficiently using memoization-based approach.
I would like to work on this issue. @plazzy99 @tarun26091999 @rudrakshi99

[2021-03-11 20:44] 08Gunjan opened #694 "(N-ary) Tree (Inorder) Recursively"
#500
I would like to contribute in your Project by working on <b>Tree (Inorder ) (N-ary Tree ) Problems using Recursive</b> Approach in **JAVA** .

- My Approach is Optimize yet Easy to understand .
- Single Line Comments makes it easy to read.
- Required Test Case are added at the end.
- Can make it More Explanatory using the Image
Please assign me this issue under the label GSSOC21 , Looking For

[2021-03-11 20:46] 08Gunjan opened #695 "(N-ary) Tree (Preorder) Recursively"
#500
I would like to contribute in your Project by working on Tree (Preorder ) (N-ary Tree ) Problems using Recursive Approach in JAVA .

- My Approach is Optimize yet Easy to understand .
- Single Line Comments makes it easy to read.
- Required Test Case are added at the end.
- Can make it More Explanatory using the Image

 Please assign me this issue under the label **GSSOC21** , Looking Forward

[2021-03-11 20:49] 08Gunjan opened #696 "(N-ary) Tree (Postorder) Recursively (Java)"
#500
I would like to contribute in your Project by working on Tree (Postorder ) (N-ary Tree ) Problems using Recursive Approach in JAVA .

- My Approach is Optimize yet Easy to understand .
- Single Line Comments makes it easy to read.
- Required Test Case are added at the end.
- Can make it More Explanatory using the Image

Please assign me this issue under the label **GSSOC21** , Looking Forward

[2021-03-11 20:55] 08Gunjan opened #697 "(N-ary) Tree (Level order Traversal) (Java)"
#500
I would like to contribute in your Project by working on  <b>Tree (Level-order Traversal) (N-ary Tree ) </b>Problems using  optimize Approach in  **JAVA** .

-My Approach is Optimize yet Easy to understand .
-Single Line Comments makes it easy to read.
-Required Test Case are added at the end.
-Can make it More Explanatory using the Image

<h3>Please assign me this issue under the label  GSSO

[2021-03-11 21:01] Aarti002 commented on #694
hello @tarun26091999 i would like to do it in python under gssoc'21 so, please assign this to me
Thank you!

[2021-03-11 21:02] rahulsrivastava1 commented on #98
Thank you

[2021-03-11 21:05] Aarti002 commented on #657
hello @tarun26091999  @rudrakshi99 can i work on this issue in c++.
Thank you!

[2021-03-11 21:06] 08Gunjan opened #698 "Tree: Height of Binary Tree (Recursive) (JAVA) (Issue #348)"
#348
I would like to contribute in your Project by working on Tree (Find the Depth ) (Binary Tree ) Problems using Recursive Approach in JAVA .

- My Approach is Optimize yet Easy to understand .
- Single Line Comments makes it easy to read.
- Required Test Case are added at the end.
- Can make it More Explanatory using the Image

<h4>Please assign me this issue under the label GSSOC21 , Looking F

[2021-03-11 21:09] 08Gunjan opened #700 "Tree: Diameter of Binary Tree (Recursion) (JAVA) #348"
#348
I would like to contribute in your Project by working on Tree (Diameter of Binary Tree)  Problems using Recursive Approach in JAVA .

- My Approach is Optimize yet Easy to understand .
- Single Line Comments makes it easy to read.
- Required Test Case are added at the end.
- Can make it More Explanatory using the Image

<h4> Please assign me this issue under the label GSSOC21 , Looking Forwar

[2021-03-11 21:15] japneetbhatia opened #701 "Rotate A Number"
Hello, I'm GSSOC'21 participant. I want to work on this issue in c++ and java please assign this to me.

[2021-03-11 21:16] japneetbhatia opened #702 "Sum of all data in Binary Tree"
Hello, I'm GSSOC'21 participant. I want to work on this issue in java please assign this to me

[2021-03-11 21:18] japneetbhatia opened #703 "Finding Minimum element in Binary Tree"
Hello I'm GSSOC'21 participant. I want to work on this isse using java. please assign this to me

[2021-03-11 21:20] japneetbhatia opened #704 "Finding Maximum element in Binary Tree"
Hello I'm GSSOC'21 participant. I want to work on this isse using java. please assign this to me

[2021-03-11 21:22] japneetbhatia commented on #698
Hello I'm GSSOC'21 participant. I want to work on this isse using java.
I can solve it by counting edge or by counting nodes method. Please assign one of the approach to me if possible.

[2021-03-11 22:41] PratikGarai opened #706 "Depth limited and Iterative Deepening search"
I am a participant of GSSOC 2021 and I would like to contribute the implementation of depth limited search and iterative deepening search algorithms in python.

[2021-03-11 22:46] XZANATOL opened #707 "Adding greedy algorithms examples"
I've noticed that there is a lack of examples on the greedy algorithms, and I can help adding some.

# Details
* Examples are taken from GeeksForGeeks Problem Solving.
* Code will be from my own creativity. (No plagiarism)
* Comments that explains the problem, inputs nature, and the greedy approach will be added.
* User will be able to test his own inputs (I'll change the method of how the inputs

[2021-03-11 23:52] #590 closed

[2021-03-11 23:53] #677 closed

[2021-03-12 00:42] Amisha-Mohapatra opened #708 "Adding rearrange array in alternative positive and negative items"
Hello, @tarun26091999 I am a gssoc'21 participant, likely to work on this and add this program in cpp.

The problem statement is this,
    Given an array, rearrange its elements alternatively with positive and negative numbers.
Input:  arr[] = {1, 2, 3, -4, -1, 4}
Output: arr[] = {-4, 1, -1, 2, 3, 4}

Kindly, assign me this @tarun26091999 .

[2021-03-12 01:18] kavyasree-123 commented on #636
I have read all the code of conduct and will write the code in much descriptive way along with good explanaition please allow me to work on this issue .

[2021-03-12 01:24] Shreyash41 opened #709 "Stock Span Problem"
## Feature
I would like to implement the Stock Span problem using stack in C++ Language.

@nakul-19  @tarun26091999 I would like to contribute to this problem under GSSOC,21. please assign it to me.

[2021-03-12 01:26] Shreyash41 commented on #127
I have already completed some parts. I make a new issue please assign it to me.

[2021-03-12 01:29] Shreyash41 opened #710 "Implement Largest Histogram using Stack in C++ Language"
## Feature
I would like to implement the Largest Rectangular area under Histogram using stack in C++.

@nakul-19 @tarun26091999 I would like to contribute to this under GSSOC'21. Please assign it to me.

[2021-03-12 01:31] kavyasree-123 opened #711 "[gssoc21] Prim's Minimum Spanning Tree (MST) | Greedy Algo"
hello,this is kavyasree(P) gssoc21 participant want to contribute .I felt it is an important algorithm in dsa .
please allow me to work on this issue.
i have read the guidelines carefully and follow accordingly
thank you.

discord:  kavyasree(P) #7992
@avijit1999 @tarun26091999 @dheerajkotwani @anubhavitis

[2021-03-12 01:49] #584 closed

[2021-03-12 01:50] javeed3157 opened #712 "Factorial Using BigInteger"
[JAVA] This program can find the factorial for n value greater than 12 .
This program is to improvise the factorial.java which is already present in repo( because the program in repo cannot get the factorial value >12).Till any value of n .
I will solve this using BigInteger concept
For example : The n=5
Output would be : 120
For example : The n=15
Output would be : 1307674368000
I am GSSOC 2021 P

[2021-03-12 02:01] Atul-Kashyap opened #713 "Longest Valid Parentheses"
**Problem**
Given a string containing just the characters '(' and ')', find the length of the longest valid (well-formed) parentheses substring.

**Example 1**
Input: s = "(()"
Output: 2
Explanation: The longest valid parentheses substring is "()".

**Example 2**
Input: s = ")()())"
Output: 4
Explanation: The longest valid parentheses substring is "()()".

Hey, I am Atul Kashyap, a GSSOC'21 partic

[2021-03-12 02:06] Atul-Kashyap opened #714 "Split Array Largest Sum"
**Problem**
Given an array nums which consists of non-negative integers and an integer m, you can split the array into m non-empty continuous subarrays.
Write an algorithm to minimize the largest sum among these m subarrays.

**Example 1**
Input: nums = [7,2,5,10,8], m = 2
Output: 18

**Example 2**
Input: nums = [1,2,3,4,5], m = 2
Output: 9

Hey, I am Atul Kashyap, a GSSOC'21 participant.
I want t

[2021-03-12 02:19] krishna-NIT commented on #701
Hi,
I am GSSOC'21 participant

My code will be in JAVA with proper comments and test cases.
@rudrakshi99 @nakul-19 @plazzy99 please assign me this issue

[2021-03-12 02:20] krishna-NIT commented on #684
Hi,
I am GSSOC'21 participant

My code will be in JAVA with proper comments and test cases.
@rudrakshi99 @nakul-19 @plazzy99 please assign me this issue

[2021-03-12 02:20] krishna-NIT commented on #714
Hi,
I am GSSOC'21 participant

My code will be in JAVA with proper comments and test cases.
@rudrakshi99 @nakul-19 @plazzy99 please assign me this issue

[2021-03-12 02:20] krishna-NIT commented on #713
Hi,
I am GSSOC'21 participant

My code will be in JAVA with proper comments and test cases.
@rudrakshi99 @nakul-19 @plazzy99 please assign me this issue

[2021-03-12 02:37] vabhv1903 commented on #301
c++

[2021-03-12 03:05] shiv-30 commented on #535
Hey @rudrakshi99
I am a GSSOC'21 participant.
I would love to do this problem in PYTHON3 with proper comment, indentation and test-cases.
Please assign this issue to me.

[2021-03-12 03:07] Amanduttbhagat commented on #712
Hello,
I am a GSSoC 2021 Participant and would like contribute to this issue in Java
kindly assign me the issue

[2021-03-12 03:07] shiv-30 commented on #504
Hey @tarun26091999.
I'm a GSSOC'21 participant .
I want to solve this issue in PYTHON3 with proper comment, indentation and test-cases.
Please assign this issue to me.

[2021-03-12 03:10] shiv-30 commented on #489
Hey, I am Shivam Kumar and a GSSOC'21 participant.
I would love to solve this problem in PYTHON3 with proper comment, indentation and test-cases.
Please assign this issue to me.
@tarun26091999  @plazzy99  @rudrakshi99

[2021-03-12 03:11] Amanduttbhagat commented on #684
Hello,
I am a GSSoC 2021 Participant and would like contribute to this issue in Java
kindly assign me the issue

[2021-03-12 03:28] Amanduttbhagat commented on #462
Hello,
I can contribute to this issue in java
kindly assign me the issue
@tarun26091999

[2021-03-12 03:34] Amanduttbhagat commented on #656
Hello,
I am a GSSoC 2021 participant and would like to contribute to this issue in Java
kindly assign me the issue
@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99 @rudrakshi99

[2021-03-12 03:51] iaditichine opened #716 "Seperate an array of 0's and 1's"
Problem:
Given an array of size n which contains only 0's and 1's in any order,we have to modify the array in such a way that 0's are on left side and 1's on the right side.
Test case-1:
Input:
N = 5
arr[] = {0, 0, 1, 1, 0}
Output: 0 0 0 1 1

Test case-2:
Input:
Input:
N = 4
Arr[] = {0, 0, 0, 0}
Output: 0 0 0 0
 There are no 1's in the given array,
so the modified array is 0 0 0 0.
Hello I am Adit

[2021-03-12 03:58] krishna-NIT commented on #716
Hi,
I am GSSOC'21 participant

My code will be in JAVA with proper comments and test cases.
@rudrakshi99 @nakul-19 @plazzy99 please assign me this issue

[2021-03-12 04:14] Amanduttbhagat commented on #340
Hello,
I am a GSSoC 2021 participant and would like to contribute to this issue
I will use proper definition + examples
kindly assign me the issue

[2021-03-12 04:22] Amanduttbhagat commented on #276
Hello,
I would like to contribute to this issue as a GSSoC 2021 participant
I would be explaining Recursion Algorithm with the help of Divide and Conquer method using Merge Sort as an example
kindly assign me this issue
@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99 @rudrakshi99

[2021-03-12 04:30] Amanduttbhagat commented on #578
Hello,
I would like to contribute to this issue using java as a GSSoC 2021 participant
kindly assign me the issue

[2021-03-12 04:34] Amanduttbhagat commented on #631
Hello,
I am a GSSoC 2021 participant and would like to contribute to this issue in java
kindly assign me the issue

[2021-03-12 04:36] Amanduttbhagat commented on #630
Hello,
I would like to contribute to this issue in java as a GSSoC 2021 participant
kindly assign me the issue

[2021-03-12 04:39] Amanduttbhagat commented on #666
Hello,
I would like to contribute to this issue in "Java" as a GSSoC 2021 participant
kindly assign me the issue

[2021-03-12 04:39] Amanduttbhagat commented on #664
Hello,
I would like to contribute to this issue in "Java" as a GSSoC 2021 participant
kindly assign me the issue

[2021-03-12 04:54] drishika2002 commented on #716
Hello, I am a GSSOC'21 participant and I want to code this problem in cpp.
@rudrakshi99 @nakul-19 @plazzy99 please assign me this issue.

[2021-03-12 04:57] iaditichine commented on #716
@drishika2002, I've already coded this in C++.

[2021-03-12 05:11] deepika9560 opened #721 "Job scheduling using greedy approach (c++,java,python)"
Hey !! I am GSSOC'21 participant.I will provide the solution in all three languages .Please assign this issue to me.
@tarun26091999 @anubhavitis @dheerajkotwani @avijit1999 @todi-2000

[2021-03-12 05:19] AdityaRaj-ar commented on #655
Hello, I am one the participant of GSSOC-21. I request to assign this issue to me. I will solve this issue in JAVA, C++ as well as PYTHON with all the comments clearly explaining the the steps and satisfying all other requirements with least time complexity. Thank You.

[2021-03-12 05:20] vedant-jain03 commented on #721
Hello mentors.
I can do this issue in C++ and python

[2021-03-12 05:20] vedant-jain03 commented on #716
I can do this in C++ and python

[2021-03-12 05:27] drishika2002 commented on #716
@iaditichine  Okay :)

[2021-03-12 05:33] aanchalsethi commented on #716
I code this issue in CPP. Please assign me this issue.

[2021-03-12 05:46] iaditichine commented on #716
Hey @aanchalsethi , I've already created a code of this problem in C++ and created a PR. Can you try using some other language?

[2021-03-12 05:54] aanchalsethi opened #723 "Prime factorization using Sieve of Eratosthenes"
Wap to find the prime factors of a given no. using the sieve of Eratosthenes.
Test Case-
input=12246
output-2 3 13 157

I am gssoc'21 participant. Please allow me to work on this issue.

[2021-03-12 06:03] ahmed-shameem opened #724 "Reverse Level Order traversal of a binary tree"
I am a GSSoC'21 participant. Please assign me this task. I can provide the solution in c++.
I will be describing the algorithm, the inputs and output as well as the time and space complexity of the algorithm as mentioned.

[2021-03-12 06:13] Vansh-Gupta4 commented on #724
I am a GSSoC'21 participant. Please assign me this task. I can provide the solution in JAVA
I will be describing the algorithm, the inputs and output as well as the time and space complexity of the algorithm as mentioned.

[2021-03-12 06:17] kirtijha014 commented on #724
Hello Maintainers,
I am Kirti Jha, GSSoC'21 participant.
I can solve this question with the Time Complexity of O(n) and describe the algorithm in C++ as well as Java.
Please assign me with this issue.

[2021-03-12 06:22] kirtijha014 commented on #723
Hello Maintainers
I  can work on this issue and provide the required algorithm in C++ as well as Java. I will work with Time Complexity O(log n) and Space Complexity O(n).
Please allow me to work on this issue. I am GSSoc'21 participant.

[2021-03-12 06:27] drishika2002 opened #727 "Matrices operations"
Implementation of operations on two different matrices like -
1. Multiplication
2. Subtraction
3. Addition

[2021-03-12 06:28] drishika2002 commented on #727
Hello, I would like to work on this issue as a GSSOC'21 participant. Please assign it to me.

[2021-03-12 06:36] kushal13112001 commented on #429
sir @plazzy99 @tarun26091999  should i proceed ?

[2021-03-12 06:50] nabin-nath opened #728 "I want to add these backtracking standard questions"
1. The Knight’s tour problem
2. Rat in a Maze
3. N Queen Problem
4. Subset Sum
5. m Coloring Problem
6. Hamiltonian Cycle

[2021-03-12 06:55] rahulsrivastava1 commented on #98
Hey @raksha009, i just created pull request kindly check it out and do the needful.
Thankss!

[2021-03-12 07:01] nabin-nath opened #730 "I want to add these sorting algo in C++, Java and python"
1. Bubble sort
2. Bucket sort
3. Radix sort

[2021-03-12 07:01] Sloth-Panda commented on #402
@tarun26091999 why I have not been assigned this, it should not be this way

[2021-03-12 07:02] nabin-nath commented on #730
I am a GSSOC participant and would like to add these algorithms

[2021-03-12 07:03] nabin-nath commented on #728
I am a GSSOC participant and would like to add these algorithms, i can add these in cpp, java and pyton

[2021-03-12 07:11] rohank2502 opened #731 "Add contributor section in readme.md"
I will like to add the contributor section in read me so it will make this more attractive !!

[2021-03-12 07:11] rohank2502 commented on #731
@rudrakshi99  Please give  it a review can we do such  changes ?

[2021-03-12 07:22] devanshi-code commented on #731
I want to work in this issue . Can you plz assign it to me

[2021-03-12 07:30] aadya7104 commented on #730
Hello, I am  GSSOC 21 participant. Please assign the sorting to me for Java. Thank you.

[2021-03-12 07:35] kanchan1910 opened #732 "Generate all valid parentheses"
Hey, I am Kanchan Jeswani, a GSSOC'21 participant I want to add the code for the problem "Generate all valid parentheses".

The problem statement is as follows:

Given n pairs of parentheses, write a function to generate all combinations of well-formed parentheses of length 2*n.

For example, given n = 3, a solution set is:
[
"((()))",
"(()())",
"(())()",
"()(())",
"()()()"
]
for n = 1
[
"()"
]
fo

[2021-03-12 07:35] ANAMIKA1410 commented on #656
Hello Mentors,
 I m Anamika Jain and a participant of GSSoC'21 .
 I would like to contribute to this issue in python language please assign me this issue :)

[2021-03-12 07:39] ANAMIKA1410 commented on #647
Hello mentors ,
I m Anamika jain .
I wants to contribute to this issue .
please assign this issue to me.
@vedant-jain03 @AmanUpadhyay8 @tarun26091999 @dheerajkotwani @anubhavitis

[2021-03-12 07:43] ANAMIKA1410 commented on #611
hello ,
i want to work for this issue please assign this to me.

[2021-03-12 07:48] devanshi-code opened #734 "Wiggle Sort"
Hey , I am Devanshi Mishra a GSSOC participant , I want to add an important question which goes like:
Given an unsorted array nums, reorder it in-place such that nums[0] <= nums[1] >= nums[2] <= nums[3]....

For example, given nums = [3, 5, 2, 1, 6, 4], one possible answer is [1, 6, 2, 5, 3, 4].
And add the solution for it too.
Kindly assign me this issue.
Thank you
@anubhavitis @dheerajkotwani @t

[2021-03-12 07:56] shreyanspoddar commented on #25
Assigned Java go ahead and raise separate PR for both

[2021-03-12 07:59] shreyanspoddar commented on #25
Assigned C++ go ahead and raise separate PR for both

[2021-03-12 07:59] shreyanspoddar commented on #25
Assigned in Python go ahead and raise separate PR for both

[2021-03-12 08:02] shreyanspoddar commented on #33
Issue is not specific

[2021-03-12 08:02] #33 closed

[2021-03-12 08:14] noob-26 commented on #42
@rudrakshi99 Please can you review my code for the Sudoku solver problem
Pull request #735

[2021-03-12 08:17] shreyanspoddar commented on #47
Go ahead and do it in java

[2021-03-12 08:19] shreyanspoddar commented on #47
Go ahead and do it in Python

[2021-03-12 08:22] shreyanspoddar commented on #47
Go ahead and do it in Java only

[2021-03-12 08:23] noob-26 opened #736 "Finding all subsets using Backtracking in C++"
I would like to add the find all subsets of an array program in C++ using Backtracking as part of GSSoC 2021.

[2021-03-12 08:38] rk05-lenavo commented on #630
I'm a  participant from GSSOC'21. Kindly assign me this issue.

[2021-03-12 08:43] vabhv1903 opened #737 "infix to prefix conversion"
i was not able to find the code for infix to prefix expression in c++ language . @tarun26091999  sir can you please assign it to me .
I am participant of GSSOC'21

[2021-03-12 08:48] shreyanspoddar commented on #113
Not a valid issue, refer the guidelines and other issue.

[2021-03-12 08:51] shreyanspoddar commented on #123
Not a valid and a specific issue

[2021-03-12 08:53] ASHISH-GITHUB2495 opened #738 "All dynamic programming codes of (ADITYA VERMA)"
**I have coded all Dynamic Programing questions from Playlist of Aditya Verma...
Can you please assign it to me sir...**
****

[2021-03-12 08:53] sonal251001 opened #739 "[GSSoC'21] Union of two arrays"
Hi I would like to include this question in the code section in java . I would like you to assign this question to me. The question will go as finding the union and intersection of two sorted arrays.

[2021-03-12 08:54] #79 closed

[2021-03-12 08:57] shreyanspoddar commented on #176
Go ahead and do it in Python

[2021-03-12 08:57] tarun26091999 commented on #512
the link has been removed.

[2021-03-12 08:57] #512 closed

[2021-03-12 08:58] shreyanspoddar commented on #176
Can you specify the language you want to work in?

[2021-03-12 08:59] shreyanspoddar commented on #176
Can you specify the language you want to work in?

[2021-03-12 08:59] kanchan1910 commented on #739
Hey, I am Kanchan Jeswani, a GSSOC'21 participant.
I am a Competitive Programmer and C++ enthusiastic.
I would love to solve this problem using CPP with well-explained code and along with its time and space complexity.
Please assign me this issue.
Hope to hear from you.
Discord username  kanchan19#3152

@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99 @rudrakshi99

[2021-03-12 08:59] tarun26091999 commented on #146
@XZANATOL do it in java

[2021-03-12 09:00] itsIapetus commented on #605
Can someone assign it to me please? Thank you.

[2021-03-12 09:01] tarun26091999 commented on #254
two problems in same issue cannot be solved.

[2021-03-12 09:01] #254 closed

[2021-03-12 09:02] mohdarif8299 opened #740 "Merge Two Sorted Arrays (Two Pointer Approach) Java"
Merging Two Sorted Arrays using Two Pointers Approach in Java.
Total Time Complexity  O(sum of Arrays Length)
Space Complexity  O(Sum of Arrays Size)
I'm a GSSOC'21 Participant
@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99 @rudrakshi99

[2021-03-12 09:02] tarun26091999 commented on #543
issue present at #146

[2021-03-12 09:02] #543 closed

[2021-03-12 09:02] shreyanspoddar commented on #183
Can go ahead and implement in C++

[2021-03-12 09:04] shreyanspoddar commented on #183
Can go ahead and implement in Java

[2021-03-12 09:04] shreyanspoddar commented on #183
Can go ahead and implement in Python

[2021-03-12 09:09] tarun26091999 commented on #531
@veenit1802 do it for undirected graph in c++.

[2021-03-12 09:10] tarun26091999 commented on #445
@shreyadubey0902 specify the language.

[2021-03-12 09:11] tarun26091999 commented on #571
you need to raise separate issue for separate questions.

[2021-03-12 09:11] #571 closed

[2021-03-12 09:14] shreyanspoddar commented on #199
All the sorting algorithms are being worked on in the issue no #124 . You can ask there if any algorithm is missing.

[2021-03-12 09:14] #199 closed

[2021-03-12 09:16] tarun26091999 commented on #513
@Mugdha-Hazra c++ code is already present in the folder.

[2021-03-12 09:24] AdityaRaj-ar commented on #602
Hello,
I am Aditya Raj, I request to assign this issue me as I will solve this issue satisfying all the requirements in Python. There would be comment lines explaining all the relevant steps.

**@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99**

[2021-03-12 09:25] Vishal-Singh-1996 commented on #262
@rudrakshi99 pls look into it

[2021-03-12 09:26] tarun26091999 commented on #417
issue present at #203

[2021-03-12 09:26] #417 closed

[2021-03-12 09:27] ritesh1731 commented on #301
I do coding c++  language.

[2021-03-12 09:27] tarun26091999 commented on #419
present at #203

[2021-03-12 09:27] #419 closed

[2021-03-12 09:29] tarun26091999 commented on #422
present at #203

[2021-03-12 09:29] #422 closed

[2021-03-12 09:29] ritesh1731 commented on #737
I would like to contribute to this issue under GSSOC21.Can you please assign it to me

[2021-03-12 09:29] tarun26091999 commented on #423
present at #203

[2021-03-12 09:29] #423 closed

[2021-03-12 09:32] nishantsahu961 opened #744 "Implement Queue Data Structure Using Stack"

[2021-03-12 09:33] tarun26091999 commented on #565
issue present at #395

[2021-03-12 09:33] #565 closed

[2021-03-12 09:35] nishantsahu961 commented on #737
I would like to contribute the code for the conversion using Binariy tree in  C++/Java , please assign it to me

[2021-03-12 09:35] tarun26091999 commented on #657
issue present at #395

[2021-03-12 09:35] #657 closed

[2021-03-12 09:36] #64 closed

[2021-03-12 09:40] tarun26091999 commented on #586
@Nidhi-2000 do it in python

[2021-03-12 09:40] Mugdha-Hazra commented on #740
Hello @tarun26091999 @dheerajkotwani @esheetaparulekar @anubhavitis @jeelnathani, I think this is an important question and this should definitely be added in the Algo-Tree and I will start working on it as soon as I get assigned!! as I am a part of GSSoC'21, so I would like to implement this in c++.

[2021-03-12 09:41] Mugdha-Hazra commented on #739
Hello @tarun26091999 @dheerajkotwani @esheetaparulekar @anubhavitis @jeelnathani, I think this is an important question and this should definitely be added in the Algo-Tree and I will start working on it as soon as I get assigned!! as I am a part of GSSoC'21, so I would like to implement this in c++.

[2021-03-12 09:41] Mugdha-Hazra commented on #737
Hello @tarun26091999 @dheerajkotwani @esheetaparulekar @anubhavitis @jeelnathani, I think this is an important question and this should definitely be added in the Algo-Tree and I will start working on it as soon as I get assigned!! as I am a part of GSSoC'21, so I would like to implement this in c++.

[2021-03-12 09:41] Mugdha-Hazra commented on #736
Hello @tarun26091999 @dheerajkotwani @esheetaparulekar @anubhavitis @jeelnathani, I think this is an important question and this should definitely be added in the Algo-Tree and I will start working on it as soon as I get assigned!! as I am a part of GSSoC'21, so I would like to implement this in c++.

[2021-03-12 09:42] shreyanspoddar commented on #202
Not a valid issue can you be more specific.

[2021-03-12 09:42] #202 closed

[2021-03-12 09:42] Mugdha-Hazra commented on #732
Hello @tarun26091999 @dheerajkotwani @esheetaparulekar @anubhavitis @jeelnathani, I think this is an important question and this should definitely be added in the Algo-Tree and I will start working on it as soon as I get assigned!! as I am a part of GSSoC'21, so I would like to implement this in c++.

[2021-03-12 09:42] mohdarif8299 commented on #585
Thank you @tarun26091999

[2021-03-12 09:42] Mugdha-Hazra commented on #730
Hello @tarun26091999 @dheerajkotwani @esheetaparulekar @anubhavitis @jeelnathani, I think this is an important question and this should definitely be added in the Algo-Tree and I will start working on it as soon as I get assigned!! as I am a part of GSSoC'21, so I would like to implement this in c++.

[2021-03-12 09:43] Mugdha-Hazra commented on #714
Hello @tarun26091999 @dheerajkotwani @esheetaparulekar @anubhavitis @jeelnathani, I think this is an important question and this should definitely be added in the Algo-Tree and I will start working on it as soon as I get assigned!! as I am a part of GSSoC'21, so I would like to implement this in c++.

[2021-03-12 09:44] tarun26091999 commented on #450
@ayush78781 do in python.

[2021-03-12 09:44] Mugdha-Hazra commented on #712
Hello @tarun26091999 @dheerajkotwani @esheetaparulekar @anubhavitis @jeelnathani, I think this is an important question and this should definitely be added in the Algo-Tree and I will start working on it as soon as I get assigned!! as I am a part of GSSoC'21, so I would like to implement this in c++.

[2021-03-12 09:44] Mugdha-Hazra commented on #706
Hello @tarun26091999 @dheerajkotwani @esheetaparulekar @anubhavitis @jeelnathani, I think this is an important question and this should definitely be added in the Algo-Tree and I will start working on it as soon as I get assigned!! as I am a part of GSSoC'21, so I would like to implement this in c++.

[2021-03-12 09:44] D-Ajay-Kumar commented on #744
I can do it

[2021-03-12 09:44] Mugdha-Hazra commented on #701
Hello @tarun26091999 @dheerajkotwani @esheetaparulekar @anubhavitis @jeelnathani, I think this is an important question and this should definitely be added in the Algo-Tree and I will start working on it as soon as I get assigned!! as I am a part of GSSoC'21, so I would like to implement this in c++.

[2021-03-12 09:45] Mugdha-Hazra commented on #687
Hello @tarun26091999 @dheerajkotwani @esheetaparulekar @anubhavitis @jeelnathani, I think this is an important question and this should definitely be added in the Algo-Tree and I will start working on it as soon as I get assigned!! as I am a part of GSSoC'21, so I would like to implement this in c++.

[2021-03-12 09:45] Mugdha-Hazra commented on #682
Hello @tarun26091999 @dheerajkotwani @esheetaparulekar @anubhavitis @jeelnathani, I think this is an important question and this should definitely be added in the Algo-Tree and I will start working on it as soon as I get assigned!! as I am a part of GSSoC'21, so I would like to implement this in c++.

[2021-03-12 09:45] Mugdha-Hazra commented on #679
Hello @tarun26091999 @dheerajkotwani @esheetaparulekar @anubhavitis @jeelnathani, I think this is an important question and this should definitely be added in the Algo-Tree and I will start working on it as soon as I get assigned!! as I am a part of GSSoC'21, so I would like to implement this in c++.

[2021-03-12 09:46] Mugdha-Hazra commented on #667
Hello @tarun26091999 @dheerajkotwani @esheetaparulekar @anubhavitis @jeelnathani, I think this is an important question and this should definitely be added in the Algo-Tree and I will start working on it as soon as I get assigned!! as I am a part of GSSoC'21, so I would like to implement this in c++.

[2021-03-12 09:46] Mugdha-Hazra commented on #666
Hello @tarun26091999 @dheerajkotwani @esheetaparulekar @anubhavitis @jeelnathani, I think this is an important question and this should definitely be added in the Algo-Tree and I will start working on it as soon as I get assigned!! as I am a part of GSSoC'21, so I would like to implement this in c++.

[2021-03-12 09:48] shreyanspoddar commented on #276
Go ahead and do it in Java

[2021-03-12 09:48] Mugdha-Hazra commented on #668
Hello @tarun26091999 @dheerajkotwani @esheetaparulekar @anubhavitis @jeelnathani, I think this is an important question and this should definitely be added in the Algo-Tree and I will start working on it as soon as I get assigned!! as I am a part of GSSoC'21, so I would like to implement this in c++.

[2021-03-12 09:48] Mugdha-Hazra commented on #681
Hello @tarun26091999 @dheerajkotwani @esheetaparulekar @anubhavitis @jeelnathani, I think this is an important question and this should definitely be added in the Algo-Tree and I will start working on it as soon as I get assigned!! as I am a part of GSSoC'21, so I would like to implement this in c++.

[2021-03-12 09:48] shreyanspoddar commented on #276
Go ahead and do it in Python

[2021-03-12 09:48] Mugdha-Hazra commented on #664
Hello @tarun26091999 @dheerajkotwani @esheetaparulekar @anubhavitis @jeelnathani, I think this is an important question and this should definitely be added in the Algo-Tree and I will start working on it as soon as I get assigned!! as I am a part of GSSoC'21, so I would like to implement this in c++.

[2021-03-12 09:48] sargun06 opened #745 "Demo, ignore"
Write a code for implementing doubly LL

[2021-03-12 09:49] shreyanspoddar commented on #276
Go ahead and do it in C++

[2021-03-12 09:49] Mugdha-Hazra commented on #663
Hello @tarun26091999 @dheerajkotwani @esheetaparulekar @anubhavitis @jeelnathani, I think this is an important question and this should definitely be added in the Algo-Tree and I will start working on it as soon as I get assigned!! as I am a part of GSSoC'21, so I would like to implement this in c++.

[2021-03-12 09:53] mohdarif8299 commented on #599
Thank you @tarun26091999. I am on it.

[2021-03-12 09:56] ritesh1731 commented on #301
I can do in python also.

[2021-03-12 09:58] IShahnawazShaikh opened #747 "Print all subset lexicographically using Recursion and Backtracking in JAVA"
Hey! @tarun26091999 sir I am GSSOC'21 Participant and I want to add this issue if you allow.
input : 1 2 3
Output :
{}
1
1 2
1 2 3
2
2 3
3
We will have all the subset in lexicographic order.

[2021-03-12 09:59] shreyanspoddar commented on #601
This issue has been already assigned before refer #47

[2021-03-12 09:59] #601 closed

[2021-03-12 10:01] shreyanspoddar commented on #249
This issue has been already assigned before refer #47

[2021-03-12 10:01] #249 closed

[2021-03-12 10:03] shreyanspoddar commented on #461
This issue has been already assigned before refer #47

[2021-03-12 10:03] #461 closed

[2021-03-12 10:04] shreyanspoddar commented on #473
This issue has been already assigned before refer #47

[2021-03-12 10:04] #473 closed

[2021-03-12 10:05] shreyanspoddar commented on #723
This issue has been already assigned before refer #47

[2021-03-12 10:05] #723 closed

[2021-03-12 10:05] IShahnawazShaikh opened #749 "Print all Unique Subset lexicographically using Recursion and Backtracking in Java"
Hey! @tarun26091999 sir I am GSSOC'21 Participant and I want to add this issue if you allow.
input : 1 2  2 3
Output :
{}
1
1 2
1 2 2
1 2 2 3
2
2 2
2 2 3
2 3
3.

We will have all the unique subset in lexicographic order.

[2021-03-12 10:10] shreyanspoddar commented on #228
Go ahead and implement in Java

[2021-03-12 10:10] vedant-jain03 commented on #744
I can do this issue in cpp and python

[2021-03-12 10:10] Alleny244 commented on #354
@tarun26091999 are the new changes made necessary
I have opened the pull request
https://github.com/Algo-Phantoms/Algo-Tree/pull/383

[2021-03-12 10:10] shreyanspoddar commented on #228
Go ahead and implement it in C++

[2021-03-12 10:11] vedant-jain03 commented on #739
I can do this in python

[2021-03-12 10:24] javeed3157 opened #751 "Strong Number in python"
Given input number is Strong number or not
EX : 1! + 4! + 5! => 1 + 24 + 120 => 145
I am GSSOC'2021 participant.
Please assign this issue to me.

[2021-03-12 10:26] raksha009 commented on #42
Heyy, this issue wasn't assigned to you. Plz create a pr only after the issue is assigned.
Also, if you wanna work on this problem. Plz create a different issue addressing to only 1 problem. Closing your pr for now.

[2021-03-12 10:48] AasthaGoyalgit commented on #385
Thanks!! @tarun26091999 for assigning me this issue.

[2021-03-12 10:51] ANAMIKA1410 commented on #602
Hello, I'm Anamika, a GSSoC 2021 participant.

Aim:
Add  linear search code

Please assign this issue to me. Thank you.

[2021-03-12 10:53] nitinjaiswal7537 opened #753 "Perfect Number"
Hey @anubhavitis
In this features i would like to solve the issue of checking whether a number is a perfect number or not.

Could you assign this to me.

[2021-03-12 10:55] krishna-NIT opened #755 "Most occurred element of an array"
Hi,
I am GSSOC'21 participant

My code will be in JAVA with proper comments and test cases.
@rudrakshi99 @nakul-19 @plazzy99 please assign me this issue

[2021-03-12 10:57] esheetaparulekar commented on #679
@Mugdha-Hazra I am not a maintainer for this project. Could you please make sure you only mention the project maintainers in your comments from now on?
Thanks!

[2021-03-12 11:00] krishna-NIT opened #756 "reversing letters of word in sentence where words sequence will remain same [STRING JAVA]"
eg:
INPUT :   hi i am krishna
Output : ih o ma anhsirk

In Algo-Tree/string/
Hi,
I am GSSOC'21 participant

My code will be in JAVA with proper comments and test cases.
@rudrakshi99 @nakul-19 @plazzy99 please assign me this issue

[2021-03-12 11:14] anotherwebguy opened #758 "[GSSOC'21] Prim's algorithm in java"
plz assign me this issue to contribute prims algorithm in java as part of gssoc'21 @anubhavitis @tarun26091999 @dheerajkotwani
prims algoithm graph algorithm which folows greed approach

[2021-03-12 11:25] Alleny244 commented on #346
@tarun26091999 Implemented the code in java and made a pull request
https://github.com/Algo-Phantoms/Algo-Tree/pull/759

[2021-03-12 11:31] Aj7t commented on #276
hi, I am a Gssoc'21 participant I want to work on the "Fibonacci series using recursion " in python.
 could you please assign me and also guide me through my first contribution.

[2021-03-12 11:32] Aarti002 commented on #504
hey @tarun26091999 can you please review and merge my code in c++ i have made a PR and let me know if something is wrong.

[2021-03-12 11:43] rk05-lenavo commented on #751
Hey , I am participant in GSSOC'21. Can you please assign this to me under GSSOC'21?

[2021-03-12 11:44] rk05-lenavo commented on #740
Hey , I am participant in GSSOC'21. Can you please assign this to me under GSSOC'21?

[2021-03-12 11:45] rk05-lenavo commented on #730
Hey , I am participant in GSSOC'21. Can you please assign this to me under GSSOC'21?

[2021-03-12 11:46] rk05-lenavo commented on #599
Hey , I am participant in GSSOC'21. Can you please assign this to me? I'll solve this by using c++.

[2021-03-12 11:46] rk05-lenavo commented on #585
Hey , I am participant in GSSOC'21. Can you please assign this to me? iIll solve using c++.

[2021-03-12 12:11] ANAMIKA1410 commented on #739
hello ,
this is anamika jain , a participant of gssoc'21
i will code in python
please aassign this to me  :)

[2021-03-12 12:29] Naman-12911 commented on #647
Hello sir , I want to contribute for this issue please assign me this issue .under GSSOC

[2021-03-12 12:57] rutuja2229 commented on #399
@tarun26091999  I made PR and also completed the requested changes, please take a look again.

[2021-03-12 13:24] aanchalsethi commented on #727
Hey maintainer!
I am gssoc'21 participant and I would like to solve this issue in CPP. please assign me this.

[2021-03-12 13:28] wildchaser1703 opened #763 "ArrayLists Recursion JAVA"
Hi @rudrakshi99 ! I would like to add the list of questions available for ArrayLists in Java that can be solved using recursion. Please assign this issue to me.

[2021-03-12 13:31] aanchalsethi commented on #504
hey maintainer I can solve this issue in java. Please assign me this.

[2021-03-12 13:41] aanchalsethi opened #765 "Longest arithmetic subarray"
An arithmetic array is an array that contains at least two integers and the difference between consecutive integer are equal. Example:- [9,10] , [3,3,3] , [9,7,5,3]

Hey project maintainer!
I am gssoc'21 participant and I would like to solve this issue in CPP.

[2021-03-12 13:48] Rishika30 opened #767 "Trapping Rainwater"
I am a GSSOC'21 participant and i would like to add Trapping Rainwater problem's solution in C++. I will add the test cases and the time ,space complexity of this as well.Please assign this issue to me.

[2021-03-12 13:50] aanchalsethi opened #768 "2D matrix search"
To search an element in a user-defined matrix in which all the rows and columns are also sorted.

I will work on this issue as soon as I am assigned to it.

[2021-03-12 13:51] bishalshaw-164 commented on #585
Hello @tarun26091999. I will start working on it as soon as I get assigned! I would like to implement this in c++
I am a participant of GSSoC'21,

[2021-03-12 13:52] kushal13112001 commented on #429
Hey @anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 I would like to take up this issue and solve it with a brief description and with proper code and test cases. Please assign me this issue

[2021-03-12 13:53] sakshi012000 commented on #755
Hi,
I am GSSOC'21 participant
please assign me this. I will do this in C++

[2021-03-12 13:54] sakshi012000 commented on #395
Hi,
I am GSSOC'21 participant
please assign me this. I will do this in C++

[2021-03-12 13:57] bishalshaw-164 commented on #531
Hey @tarun26091999
I am a GSSoC'21 participant. I would like to do this problem in c++.
Can you pls assign me this issue ??

[2021-03-12 14:04] balarka135 opened #769 "Rotate Image Problem , JAVA, Python"
in this problem, you are given a matrix, rotate it by 90'

I am GSSOC 21 participant. Pls Assign me this issue

[2021-03-12 14:06] Rishika30 opened #770 "All Sorting algorithms"
I want to add all the sorting algorithms in c++ along with test cases and time/space complexities. Please assign this to me .

[2021-03-12 14:30] Chirag018 opened #774 "Min Steps in Infinite Grid"
Hi, I am GSSoC participant,I would like to add this problem.

[2021-03-12 14:32] Chirag018 opened #775 "Max Sum Contiguous Subarray"
Hi, I am GSSoC participant,I would like to add this problem.

[2021-03-12 14:33] Chirag018 opened #776 "Maximum Absolute Difference"
Hi, I am GSSoC participant,I would like to add this problem with Time and Space Complexity.

[2021-03-12 14:34] Chirag018 commented on #776
Hi, I am GSSoC participant,I would like to add this problem with Time and Space Complexity.

[2021-03-12 14:35] Aarti002 commented on #775
hey @tarun26091999 can i do this in c++.
Thank you!

[2021-03-12 14:35] SUCHITRAGIRI commented on #412
Hi, I am GSSOC 2021 participant and would like to implement this algorithm in java.
Please assign this task to me @tarun26091999 @Priyankcoder @btanisha @muthuannamalai12 @anubhavitis @dheerajkotwani

[2021-03-12 14:36] Aarti002 commented on #768
hey @rudrakshi99 @tarun26091999 can i do this in c++.
Thank you!

[2021-03-12 14:37] Chirag018 commented on #776
Hi, I am GSSoC participant,I would like to add this problem with Time and Space Complexity.

[2021-03-12 14:39] Aarti002 commented on #732
hello @tarun26091999 can i work on this issue in python?

Thank you.

[2021-03-12 14:39] Chirag018 opened #777 "Find Duplicate in Array"
Hi, I am GSSoC participant,I would like to add this problem with Time and Space Complexity.

[2021-03-12 14:43] Chirag018 opened #778 "Median of two sorted arrays of different size"
Hi, I am GSSoC participant,I would like to add this problem with Time and Space Complexity.

[2021-03-12 14:44] Chirag018 opened #779 "Median of two sorted arrays of equal size"
Hi, I am GSSoC participant,I would like to add this problem with Time and Space Complexity.

[2021-03-12 14:46] Chirag018 opened #780 "Minimum number of operations required to make array palindrome"
Hi, I am GSSoC participant,I would like to add this problem with Time and Space Complexity.

[2021-03-12 14:55] prajakta2809 commented on #777
i would like to work on this as GSSOC participant.

[2021-03-12 15:10] Harikrishnan6336 commented on #660
@raksha009  Kindly assign this issue to me.

[2021-03-12 15:14] Sathwika-02 commented on #395
Hi,
I am GSSOC'21 participant,
My code will be in python with proper comments and test cases.
@tarun26091999 @rudrakshi99 Please assign me this. Thankyou!!

[2021-03-12 15:27] sakshi012000 commented on #665
Hi,
I am GSSOC'21 participant
please assign me this. I will do this in C++

[2021-03-12 15:30] sakshi012000 commented on #687
Hi,
I am GSSOC'21 participant
please assign me this. I will do this in C++

[2021-03-12 15:30] garvitraj commented on #47
@shreyanspoddar thanks for assigning it to me i m also a participant of GSSOC21 so can i go with it

[2021-03-12 15:31] Mohim-Singla commented on #687
Hey! @Mugdha-Hazra and @sakshi012000 I'm already working on this issue in C++ language.

[2021-03-12 15:32] Priyankcoder opened #785 "[GSSOC'21] Manacher's Algorithm in c++."
Hii :wave:, There is no implementation for Manacher's algorithm (finding the longest palindrome in a string) in the repository.

[2021-03-12 15:33] Priyankcoder commented on #785
I would like to add this implementation in c++ as GSSOC'21 participant.
@tarun26091999

[2021-03-12 15:37] Priyankcoder opened #786 "[GSSOC'21] Binary Index Tree algorithm in c++"
Hii :wave: @tarun26091999, There is no implementation of BIT aka Fenwick tree in the repository.

[2021-03-12 15:38] Priyankcoder commented on #786
I would like to work on this as a participant of GSSOC' 21

[2021-03-12 15:45] eksdee-sama commented on #462
@tarun26091999 i did it in C++ and pull req#787

[2021-03-12 15:52] Amanduttbhagat commented on #780
Hello,
I would like to contribute to this issue in java as a GSSoC 2021 participant
kindly assign me the issue

[2021-03-12 15:52] Amanduttbhagat commented on #779
Hello,
I would like to contribute to this issue in java as a GSSoC 2021 participant
kindly assign me the issue

[2021-03-12 15:53] Amanduttbhagat commented on #778
Hello,
I would like to contribute to this issue in java as a GSSoC 2021 participant
kindly assign me the issue

[2021-03-12 15:53] Amanduttbhagat commented on #777
Hello,
I would like to contribute to this issue in java as a GSSoC 2021 participant
kindly assign me the issue

[2021-03-12 15:55] Amanduttbhagat commented on #770
Hello,
I would like to contribute to this issue in java as a GSSoC 2021 participant
kindly assign me the issue

[2021-03-12 16:01] Prakash-poka commented on #779
Check pull request #788 [https://github.com/Algo-Phantoms/Algo-Tree/pull/788](url)

[2021-03-12 16:02] krishna-NIT commented on #402
No worry @tarun26091999  bro, there are a lot many issue/ comments/pull requests so, the maintainer might have missed it, or
this might be because you haven't specified language so, always try to mention your language in the comment of the issue.
 so make your pull request bro, NO issue from my side  !! :)

[2021-03-12 16:04] krishna-NIT commented on #778
Hi,
I am GSSOC'21 participant

My code will be in JAVA with proper comments and test cases.
@rudrakshi99 @nakul-19 @plazzy99 please assign me this issue

[2021-03-12 16:04] krishna-NIT commented on #776
Hi,
I am GSSOC'21 participant

My code will be in JAVA with proper comments and test cases.
@rudrakshi99 @nakul-19 @plazzy99 please assign me this issue

[2021-03-12 16:04] krishna-NIT commented on #768
Hi,
I am GSSOC'21 participant

My code will be in JAVA with proper comments and test cases.
@rudrakshi99 @nakul-19 @plazzy99 please assign me this issue

[2021-03-12 16:04] krishna-NIT commented on #765
Hi,
I am GSSOC'21 participant

My code will be in JAVA with proper comments and test cases.
@rudrakshi99 @nakul-19 @plazzy99 please assign me this issue

[2021-03-12 16:04] krishna-NIT commented on #777
Hi,
I am GSSOC'21 participant

My code will be in JAVA with proper comments and test cases.
@rudrakshi99 @nakul-19 @plazzy99 please assign me this issue

[2021-03-12 16:05] krishna-NIT commented on #779
Hi,
I am GSSOC'21 participant

My code will be in JAVA with proper comments and test cases.
@rudrakshi99 @nakul-19 @plazzy99 please assign me this issue

[2021-03-12 16:11] aanchalsethi opened #790 "Count Sort"
I can write the algorithm for the count sort in CPP.

[2021-03-12 16:13] kunal-j10 opened #792 "Taylor's_Series_of_e^x"
Hey, @tarun26091999  @rudrakshi99  I am a **gssoc'21** participant. Please assign this issue to me for work in CPP.

**Taylor's series of e^x is:-**
e^x= 1+ x/1! + x/2! + x/3! + x/4!..........(n terms)

where the value of **x** and **n** _(number of terms to be considered)_  are taken as input from the user.

[2021-03-12 16:22] Ayan-10 commented on #7
Hey, @plazzy99 @rudrakshi99 I implemented all mentioned algorithm here which are assigned to me . Please review #634  #243
#789 .
You can also check this if you want #643
Thank you.

[2021-03-12 16:30] Mugdha-Hazra commented on #792
Hello, @kunal-j10 @anubhavitis @dheerajkotwani @tarun26091999 @avijit1999  I think this is an important question and this should definitely be added in the Algo-Tree and I will start working on it as soon as I get assigned!! as I am a part of GSSoC'21, so I would like to implement this in c++.

[2021-03-12 16:38] XZANATOL opened #794 "Implementing Interpolation search"
Interpolation search algorithm is not included in the "Searching_Sorting" section, tho it is mentioned. I would like to add the algorithm under the mentorship of GSSOC'21 with the following details:

# Details
* Explaining what is Interpolation search.
* When should it be applied.
* Mention its time complexity.
* Allow the user to enter his own custom inputs.
* Commenting the code so it is easy to

[2021-03-12 16:42] Prakash-poka opened #795 "Fibonacci Series in python"
There should be a Fibonacci series in every data structure algorithm repository.

[2021-03-12 17:03] Harikrishnaa3131 commented on #795
Kindly assign this issue to me .I am a gssoc'21 participant

[2021-03-12 17:13] saipawar108 commented on #653
please assign this to me I would like to work on this

[2021-03-12 17:22] Ayush12062000 opened #798 "Find Loop in a Linked List."
Hello, I think this is an important question and this should definitely be added in the Algo-Tree and I will start working on it as soon as I get assigned!! as I am a part of GSSoC'21, so I would like to implement this in c++.

Kindly assign this issue to me!
@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99

[2021-03-12 17:31] shreyaap commented on #585
Hey , @tarun26091999. I would like to implement this problem in java. I am  GSSoC'21 participant.

[2021-03-12 17:32] deepz07 commented on #737
I would like to contribute to this issue.
Please give me a chance.

[2021-03-12 17:33] Hamza3226 commented on #668
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 17:34] Hamza3226 commented on #687
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 17:34] Hamza3226 commented on #711
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 17:34] Hamza3226 commented on #732
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 17:34] Hamza3226 commented on #739
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 17:34] shreya-dotcom commented on #585
Hey @tarun26091999 . I would like to implement this problem in java. I am GSSoC'21 participant.

[2021-03-12 17:34] Hamza3226 commented on #758
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 17:34] Hamza3226 commented on #785
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 17:35] Hamza3226 commented on #786
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 17:40] Prakash-poka opened #800 "Fibonacci Series using recursion"
Recursion is a very important concept. Let's do the Fibonacci series using recursion.

[2021-03-12 17:40] Mugdha-Hazra commented on #665
Hello @snowpanther6 @raksha009 @sakshi012000 @anubhavitis @dheerajkotwani , I think this is an important question and this should definitely be added in the Algo-Tree and I will start working on it as soon as I get assigned!! as I am a part of GSSoC'21, so I would like to implement this in c++.

[2021-03-12 17:41] shreya-dotcom commented on #798
Hey ,I am a part of GSSoC'21,  I would like to implement this problem in java. Kindly assign this issue to me.
@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99

[2021-03-12 17:45] abhay27chauhan commented on #790
I can write the algorithm for the count sort in Java

[2021-03-12 17:48] tarun26091999 commented on #587
@plazzy99 look into it.

[2021-03-12 17:52] Prakash-poka opened #802 "Lucas Theorem"
Lucas' theorem is a result of binomial coefficients modulo a prime p.
We will be given three numbers n, r, and p and we need to compute the value of nCr mod p.

[2021-03-12 17:58] tarun26091999 commented on #690
invalid PR #309

[2021-03-12 17:58] #690 closed

[2021-03-12 18:01] tarun26091999 commented on #602
do it in c++.

[2021-03-12 18:02] anumshka commented on #770
Hello,
I would like to put all the sorting algorithms in C++,all under one, along with a comparison of all of them ,and a way to choose a better algorithm for a particular situation based on its time complexity and various other parameters.
Kindly assign it to me.
Thankyou.

[2021-03-12 18:02] tarun26091999 commented on #685
cannot ask for two problems in same issue and both algorithms are being worked upon.

[2021-03-12 18:02] #685 closed

[2021-03-12 18:07] tarun26091999 commented on #549
issue present at #152

[2021-03-12 18:07] #549 closed

[2021-03-12 18:12] tarun26091999 commented on #515
code already present in folder.

[2021-03-12 18:12] #515 closed

[2021-03-12 18:23] tarun26091999 commented on #123
cannot solve more than 1 problem in 1 issue.

[2021-03-12 18:23] TawfikYasser opened #805 "GSSOC'21 : Deletion from Linked List"
Hi @tarun26091999
I want to add the following 3 methods to linked list in c++
- [ ] Delete from beginning
- [ ] Delete from end
- [ ] Delete from specific position

I am in GSSOC'21 program

Thanks

[2021-03-12 18:32] XZANATOL commented on #112
@nakul-19 Any updates about the reviews of the added pull requests?

[2021-03-12 18:47] tarun26091999 commented on #713
issue present at #217

[2021-03-12 18:50] eishagoel15 commented on #795
Hey there, I think I can solve this issue, I will write this code in python and I will complete this code in max one hour after it is assigned to me. So please assign this issue to me.

[2021-03-12 18:52] eishagoel15 commented on #777
Hey there, I am a Gssoc'21 participant and I would love to contribute to this issue.

[2021-03-12 19:00] guptaa98 opened #806 "Coin Change problem"
Hi
I would like to work on Coin change problem where we are given coins of different denominations and a total amount of money as amount.
We need to write the function to compute the fewest number of coins that we'll need to make up that amount. If that amount of money cannot be made up by any combination of the coins, we'll return -1.

for example
coins = [1,2,5]
amount = 11
the output will be 3.

[2021-03-12 19:13] AdityaRaj-ar commented on #800
I request you to assign this issue to me. I will solve this issue in a very **systematic** way along with **all the explanation of the necessary steps.**

Thank you.

[2021-03-12 19:15] eishagoel15 commented on #716
I am a Gssoc participant and I can contribute to this issue by writing the code for this problem in python. So plz assign this issue to me.

[2021-03-12 19:18] Karthik-Rams opened #807 "Reversing a doubly linked list in C++"
Hello admins! I'm a GSSoC '21 participant. I would like to work on the C++ program for reversing a doubly linked list. I have read the contribution guidelines as well I request you to kindly assign this issue to me.

@anubhavitis @dheerajkotwani @tarun26091999 @avijit1999 @todi-2000

[2021-03-12 19:18] AdityaRaj-ar commented on #776
Hello everyone,
I am Aditya Raj, studying in IIT GUWAHATI and i request you to assign this issue to me. I will solve this in very systematic way and explanation of all necessary steps

Thank you.

[2021-03-12 19:37] sujoy-coder opened #809 "Implement Stack Class in Python"
Hello, I'm a GSSoC '21 participant. I would like to work on the **implementation of Stack Class in Python** .
I have read the contribution guidelines as well I request you to kindly assign this issue to me.

@plazzy99 @nakul-19  @todi-2000 @rudrakshi99

[2021-03-12 20:05] tarun26091999 commented on #606
@Prajwal-ctrl do it in C++.

[2021-03-12 20:24] tarun26091999 commented on #21
do it in python

[2021-03-12 20:27] #142 closed

[2021-03-12 20:30] tarun26091999 commented on #566
present at #193

[2021-03-12 20:30] #566 closed

[2021-03-12 20:38] tarun26091999 commented on #615
both are different problems, you need to raise separate issues.

[2021-03-12 20:38] #615 closed

[2021-03-12 20:42] tarun26091999 commented on #392
@AasthaGoyalgit @priyamourya you need to specify the language.

[2021-03-12 20:43] Navya-amarneni opened #810 "Solution for Matrix Block sum problem"
I want to write the most efficient and shortest solution for the problem MATRIX BLOCK SUM.This algorithm is quite useful in various implementation of Dynamic Programming

Kindly assign this task to me as part of GSSOC'21.

[2021-03-12 20:49] tarun26091999 commented on #226
issue has to regarding a specific problem

[2021-03-12 20:49] #226 closed

[2021-03-12 20:51] Navya-amarneni commented on #810
@anubhavitis @dheerajkotwani  @tarun26091999  @avijit1999  take a look at the solution I proposed in my PR #811

[2021-03-12 20:51] #244 closed

[2021-03-12 20:53] tarun26091999 commented on #411
present at #178

[2021-03-12 20:53] #411 closed

[2021-03-12 20:53] tarun26091999 commented on #501
#178 is same

[2021-03-12 20:53] #501 closed

[2021-03-12 20:54] tarun26091999 commented on #623
#178 is same

[2021-03-12 20:54] #623 closed

[2021-03-12 20:56] Navya-amarneni opened #812 "[GSSOC'21] Square sub matrix problem"
Finding a solution for square sub matrix problem.
Problem: Given a binary matrix.find number of square submatrices in it using DP
This is one of the best applications of dynamic programming.

@anubhavitis  @dheerajkotwani  @tarun26091999  @avijit1999  @todi-2000  Kindly assign this task to me as part of gssoc'21.

[2021-03-12 21:03] Navya-amarneni commented on #812
I have proposed my solution in PR #811 ..Kindly have a look

[2021-03-12 21:08] anshulsharma123 opened #813 "Full linked list implementation using class having function insert node , delete node , size of linked etc"
Hello admins please assign this issue to me I would like to add linked list code in c++ language

[2021-03-12 22:07] japneetbhatia commented on #813
Hello, please assign this issue to me in Java. I will implement all Linked List function in class
[gssoc'21]

[2021-03-12 23:36] Aarti002 commented on #813
hey @tarun26091999 can i do this issue in python, under gssoc'21.
Thank you!

[2021-03-12 23:40] Aarti002 commented on #806
hello @tarun26091999 under gssoc'21 can i work on this issue in python.
Thank you!

[2021-03-12 23:41] Aarti002 commented on #780
hello @rudrakshi99 @tarun26091999 please assign this issue to me i will be using python .
Thank you!

[2021-03-12 23:44] Aarti002 commented on #779
hello @tarun26091999 @rudrakshi99 can i work on this issue in python
Thank u

[2021-03-13 00:12] Aarushi3113 opened #815 "[GSSOC'21] Inverse of 2-D Array in C++ language"
Let A be a 2-D Array.
Then,

         **A^(-1) = (1 / (det(A)) * adj(A)**    where, A^(-1) is the inverse of A

Inverse is used to find solution to a system of linear equations.

I would like to add the code for this problem in _C++ language_.
I will write clean code with proper documentations and will follow the code of conduct.

Kindly assign this issue to me under GSSOC'21 label.

[2021-03-13 00:50] Aarti002 commented on #217
@tarun26091999 can i do this in python?
Thank you!

[2021-03-13 01:27] krishna-NIT commented on #815
Hi,
I am GSSOC'21 participant

My code will be in JAVA with proper comments and test cases.
@rudrakshi99 @nakul-19 @plazzy99 please assign me this issue

[2021-03-13 01:28] krishna-NIT commented on #812
Hi,
I am GSSOC'21 participant

My code will be in JAVA with proper comments and test cases.
@rudrakshi99 @nakul-19 @plazzy99 please assign me this issue

[2021-03-13 01:28] krishna-NIT commented on #810
Hi,
I am GSSOC'21 participant

My code will be in JAVA with proper comments and test cases.
@rudrakshi99 @nakul-19 @plazzy99 please assign me this issue

[2021-03-13 01:45] kanchan1910 commented on #395
Hey, I am Kanchan Jeswani, a GSSOC'21 participant.
I am a Competitive Programmer and C++ enthusiastic.
I would love to solve this problem using CPP with well-explained code and along with its time and space complexity.
Please assign me this issue.
Hope to hear from you.
Discord username  kanchan19#3152

@tarun26091999 @rudrakshi99 Please assign me this. Thank you for your time and consideration!!

[2021-03-13 01:46] kanchan1910 commented on #391
Hey, I am Kanchan Jeswani, a GSSOC'21 participant.
I am a Competitive Programmer and C++ enthusiastic.
I would love to solve this problem using CPP with well-explained code and along with its time and space complexity.
Please assign me this issue.
Hope to hear from you.
Discord username kanchan19#3152

@tarun26091999 @rudrakshi99 Please assign me this. Thank you for your time and consideration!!

[2021-03-13 01:47] kanchan1910 commented on #176
Hey, I am Kanchan Jeswani, a GSSOC'21 participant.
I am a Competitive Programmer and C++ enthusiastic.
I would love to solve this problem using CPP with well-explained code and along with its time and space complexity.
Please assign me this issue.
Hope to hear from you.
Discord username  kanchan19#3152

@shreyanspoddar, kindly assign this to me, thank you for your time and consideration !!

[2021-03-13 02:46] Atul-Kashyap opened #817 "Regular Expression Matching [String] [Dynamic Programming] [C++] [Java]"
Given an input string (s) and a pattern (p), implement regular expression matching with support for '.' and '*' where:

    '.' Matches any single character.​​​​
    '*' Matches zero or more of the preceding element.
The matching should cover the entire input string (not partial).

Input 1:
s = "aab", p = "c*a*b"
Output 1: true

Input 2:
s = "mississippi",  p = "mis*is*p*."
Output 2: flase

Hey, I

[2021-03-13 02:47] IdealisticINTJ commented on #569
I made a PR. Kindly merge it. #784

[2021-03-13 02:55] Atul-Kashyap opened #818 "Remove Invalid Parentheses [GSSoC'21] [String] [DFS] [BFS]"
Remove the minimum number of invalid parentheses in order to make the input string valid. Return all possible results.

Input 1: "()())()"
Output 1: ["()()()", "(())()"]

Input 2: "(a)())()"
Output 2: ["(a)()()", "(a())()"]

Hey, I am Atul Kashyap, a GSSOC'21 participant.
I want to contribute the code for the implementation of the Remove Invalid Parentheses  in the C++ language.
Please assign this

[2021-03-13 03:17] Amanduttbhagat commented on #177
Hello @plazzy99,
I did made the Pull Request 2 days back ( #628 )
Can you please review it
Thanks,

[2021-03-13 03:24] Amanduttbhagat commented on #817
Hello,
I would like to contribute to this issue in java as a GSSoC 2021 participant
kindly assign me the issue

[2021-03-13 03:52] captainra1 opened #819 "job sequencing with deadlines using cpp"
I am a GSSoc21 participant. I want to contribute in above algo.
problem formulation: given n-jobs with deadlines and profit. Now, we have to select a subset of jobs which are completing in their deadlines with maximum profit(profit sum should be maximum)

[2021-03-13 03:55] priyamourya commented on #392
I can implement Moore's voting algorithm to find majority element in both c++ and python.

[2021-03-13 04:06] machine-sg commented on #203
Ok, Thank you.

On Fri, 12 Mar 2021 at 14:55, Tarun Yadav ***@***.***> wrote:

[2021-03-13 04:08] Aditi404 opened #820 "demo ignore arrays: two sum"
explaination
given an array print a pair of number that is equal to target
"example "
i want to add this important question

[2021-03-13 04:17] GarimaKhare15 commented on #602
Please assign this issue to me .
I can code linear search in C++, Java and Python.

[2021-03-13 04:36] sam2809 commented on #395
Hey, I am Samiksha Sharma, a  GSSOC'21 participant. I would like to work on this issue using C.
@tarun26091999 @rudrakshi99 Please assign me this. Thankyou!!!

[2021-03-13 04:45] vedant-jain03 commented on #193
@tarun26091999 @raksha009
I have done new pull request and 1 commit
Please review my pull request.

[2021-03-13 04:51] SanjanaMahapatra commented on #638
Hey @rudrakshi99  , @Tanya933  , @sayantan1413  , @SwarnimaShishodia  , @pallavidhere23
I would like to contribute to this project in c++ language with O(n) complexity.
Can you assign me this issue.
I am a gssoc participant - > (username - Sanjana(P)#0345)

[2021-03-13 04:55] shreyanspoddar commented on #820
Kindly refer issue #203

[2021-03-13 04:55] #820 closed

[2021-03-13 04:57] jeelnathani commented on #704
hey, I am GSSOC '21 participant too. I would like to implement it in python

[2021-03-13 04:58] soukarsha122 opened #823 "Floyds triangle"
Hello @nakul-19 @plazzy99 @rudrakshi99 I want to implement a code in C++ that prints the Floyd's triangle upto n rows.

My code will have proper test cases and comments to make it understandable. I will be very happy if you assign me this issue.

[2021-03-13 04:59] mpriti23 commented on #557
N = 5
array[] = {1,2,3,4,5}
Output: 2 1 4 3 5
Explanation: Array elements after
sorting it in wave form are
2 1 4 3 5.
I would like to implement this in C++ . Assign this to me. @rudrakshi99

[2021-03-13 05:00] jeelnathani commented on #703
hey, I am GSSOC '21 participant too. I would like to implement it in python

[2021-03-13 05:00] Aditya7494 commented on #203
Thank you for assigning me.

[2021-03-13 05:01] shreyanspoddar commented on #770
All the sorting algorithms are being worked on in the issue no #124 . You can ask their if any algorithm is missing.

[2021-03-13 05:01] #770 closed

[2021-03-13 05:02] shreyanspoddar commented on #730
All the sorting algorithms are being worked on in the issue no #124 . You can ask there if any algorithm is missing.

[2021-03-13 05:02] #730 closed

[2021-03-13 05:04] jeelnathani opened #824 "finding maximum and minimum element in binary search tree"
Hello, I am GSSOC'21 participant and I would like to implement above problem in python

[2021-03-13 05:12] shreyanspoddar commented on #185
All the sorting algorithms are being worked on in the issue no #124 . You can ask there if any algorithm is missing.

[2021-03-13 05:12] #185 closed

[2021-03-13 05:18] shreyanspoddar commented on #215
All the sorting algorithms are being worked on in the issue no #124 . You can ask there if any algorithm is missing.

[2021-03-13 05:18] #215 closed

[2021-03-13 05:18] shreyadubey0902 commented on #445
Java....
Can you please assign this to me

[2021-03-13 05:20] shreyanspoddar commented on #224
All the sorting algorithms are being worked on in the issue no #124 . You can ask there if any algorithm is missing.

[2021-03-13 05:20] #224 closed

[2021-03-13 05:34] shreyanspoddar commented on #372
This issue is not a valid issue, so I'm closing this issue.

[2021-03-13 05:34] #372 closed

[2021-03-13 05:37] GarimaKhare15 commented on #450
I'm GSSoC'21 participant and I want to contribute to this issue.
I want to provide my solution in Java language.
Please assign this issue to me @tarun26091999 .

[2021-03-13 05:39] GarimaKhare15 commented on #395
Hii, I am Garima Khare, a GSSoC'21participant . I would like to contribute on this .
My code will be in Python .
So , I request @tarun26091999 @prateek-jpg  to assign me this issue.

[2021-03-13 06:03] Roshni1809 opened #825 "find the total number of odd and even numbers present in a LINKED LIST."
The code will find out the total number of odd and even numbers present in a linked list.
I will be implementing this problem in CPP.
Kindly assign me this issue @tarun26091999 .

[2021-03-13 06:07] Roshni1809 opened #826 "Maximum count of a character in a string."
The code will find the maximum number of times a character repeats. It will print the maximum occurred character.
I will be implementing this issue in CPP.
Kindly assign me this issue @tarun26091999.

[2021-03-13 06:48] 04akvs commented on #825
The code will find out the total number of odd and even numbers present in a linked list.
I will be implementing this problem in CPP.
Can this be assigned to me?

[2021-03-13 06:51] 04akvs commented on #813
Hello, may I  work on this issue?

[2021-03-13 06:52] dcs-soni opened #828 "[GSSoC'21] Recursion : Tower of Hanoi in C++"
### Tower of Hanoi using recursion in C++

Recently I've been practicing the Recursion and found Tower Of Hanoi problem very interesting. So I would like to solve the problem of **Tower of Hanoi** using Recursion in **C++**.  As a participant of **GSSoC'21** please assign this issue to me.

[2021-03-13 06:53] 04akvs commented on #826
The code will find the maximum number of times a character repeats. It will print the maximum occurred character.
I will be implementing this issue in CPP.
Can I work on this issue?

[2021-03-13 06:54] 04akvs commented on #824
Hello, I would like to implement the above problem in C++. Can I get assigned for this issue?

[2021-03-13 06:57] raksha009 commented on #785
Plz specify language.

[2021-03-13 06:59] #113 closed

[2021-03-13 07:01] dhruvinfo28 commented on #193
@raksha009 Kindly review the PR for C++ algorithm . I have linked the issue to PR

[2021-03-13 07:05] 04akvs commented on #755
Hi,
I am GSSOC'21 participant
I would implement this in C++, can I get assigned to this issue?
@rudrakshi99  @nakul-19  @plazzy99  please assign me this issue

[2021-03-13 07:09] sayantani11 commented on #828
I would like to add the code for this,,,,I can do this for both C++ and python..... Please assign me this

[2021-03-13 07:14] machine-sg commented on #203
@tarun26091999 I have sent the PR. Please accept it.
Thank you.

[2021-03-13 07:20] sayantani11 commented on #654
I am a participant of GSSoC'21. Please assign me this issue

[2021-03-13 07:26] 9sheen-Anwar opened #834 "Boolean Parenthesization Problem"
I want to solve this algorithm to count the number of ways we can parenthesize the expression so that the value of expression evaluates to true in Java.

[2021-03-13 07:29] 9sheen-Anwar commented on #834
please assign this issue to me as a  GSSoC'21 participant.

[2021-03-13 07:30] vabhv1903 opened #835 "Infix to postfix conversion"
Hey, I am Vabhv1903 a GSSOC'21 Participant. I am having experience in C++ Coding as well as I am doing Competitive coding in the C++ programming language.

Please assign this task to me :)
Thank-you.
@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99

[2021-03-13 07:31] vabhv1903 opened #836 "weird algorithm"
in this problem there is an algorithm that takes as input a positive integer n. If n is even, the algorithm divides it by two, and if n is odd, the algorithm multiplies it by three and adds one. The algorithm repeats this, until n is one.

Hey, I am Vabhv1903 a GSSOC'21 Participant. I am having experience in C++ Coding as well as I am doing Competitive coding in the C++ programming language.

Plea

[2021-03-13 07:39] eishagoel15 commented on #124
I am a Gssoc'21 participant and I want to contribute to this issue. I can give the code for all the sorting algorithms in python. So, please assign this issue to me.

[2021-03-13 07:46] dpkk1 opened #839 "Clone a Linked List with next and Random Pointer"
@plazzy99 @nakul-19 @tarun26091999 @raksha009 Please have a look at this Linked list problem and assign me to contribute the code for the same.

**A Linked list with N nodes is given, where each node has a next pointer pointing to its next node.
Also, M random pointers are given, where M number of pairs denoting two nodes 'c' and 'd'
 i.e. c->crd = d. (Random pointer of 'c' points to 'd')
AND
If t

[2021-03-13 08:00] nishantsahu961 commented on #813
I would like to work upon this issue in java/c++  with test cases , @tarun26091999  please assign this to me

[2021-03-13 08:04] AmanBisht01 opened #841 "Smallest divisible number"
Given a number N, find an integer denoting the smallest number evenly divisible by each number from 1 to n.

I would like to contribute to this under GSSOC'21. Please assign it to me.

**Algo-Tree/Code/C++/**

[2021-03-13 08:53] Dimple115 commented on #800
Hey, I'm gssoc'21 participant, I would like to give my hand in this project. Please assign this work to me.

[2021-03-13 08:58] tarun26091999 commented on #130
a PR for C++ solution is raised 4 days ago, so cannot be assigned to you @Mohim-Singla

[2021-03-13 09:05] Dimple115 commented on #716
Hey, I'm gssoc'21 participant, I would like to give my hand in this project. Please assign this issue to me.

[2021-03-13 09:11] Dimple115 commented on #665
Hey, I'm gssoc'21 participant, I would like to give my hand in this project. Please assign this work to me.

[2021-03-13 09:11] Dimple115 commented on #654
Hey, I'm gssoc'21 participant, I would like to give my hand in this project. Please assign this work to me.

[2021-03-13 09:15] Dimple115 commented on #409
Hey, I'm gssoc'21 participant, I would like to give my hand in this project. Please assign this issue to me.

[2021-03-13 09:19] Dimple115 commented on #195
Hey, I'm gssoc'21 participant, I would like to give my hand in this project. Please assign this issue to me.

[2021-03-13 09:20] #4 closed

[2021-03-13 09:22] tarun26091999 commented on #559
@IdealisticINTJ java code is present in the number theory folder

[2021-03-13 09:24] Dimple115 commented on #165
Hey, I'm gssoc'21 participant, I would like to give my hand in this project. Please assign this issue to me.

[2021-03-13 09:24] Dimple115 commented on #157
Hey, I'm gssoc'21 participant, I would like to give my hand in this project. Please assign this issue to me.

[2021-03-13 09:25] Dimple115 commented on #155
Hey, I'm gssoc'21 participant, I would like to give my hand in this project. Please assign this issue to me.

[2021-03-13 09:26] Dimple115 commented on #98
Hey, I'm gssoc'21 participant, I would like to give my hand in this project. Please assign this issue to me.

[2021-03-13 09:27] tarun26091999 commented on #560
@Ritu7683 have some patience plz, the volume of program is very large

[2021-03-13 09:27] tarun26091999 commented on #560
@ritikpanchal768 @sumitsantape30 link your code to number theory folder

[2021-03-13 09:27] Dimple115 commented on #107
Hey, I'm gssoc'21 participant, I would like to give my hand in this project. Please assign this issue to me.

[2021-03-13 09:30] tarun26091999 commented on #625
@pallavidhere23 do it in java

[2021-03-13 09:33] sahuaman83 commented on #841
I would like to contribute to this under GSSOC'21. I will do it in Java.Please assign it to me.

[2021-03-13 09:46] IdealisticINTJ opened #843 "Java program for Perfect number"

[2021-03-13 09:56] Naman-18 opened #844 "Bridge(Cut-Edge) in Graph using C++"
Hey! @tarun26091999 @rudrakshi99 @shreyanspoddar @nakul-19 @plazzy99
I am GSSOC'21 Participant and I would like to implement following Graph Algorithm in C++ :

Algorithm to Find Bridges(Cut Edge) in Graph : A Bridge is defined as an edge in the graph whose removal either makes a graph disconnected or increase number of disconnected components of graph.

I can contribute clean and well-commented c

[2021-03-13 09:58] Naman-18 opened #845 "Articulation Point (Cut-Vertex) in Graph using C++"
Hey! @tarun26091999 @rudrakshi99 @shreyanspoddar @nakul-19 @plazzy99
I am GSSOC'21 Participant and I would like to implement following Graph Algorithm in C++:

Algorithm to Find Articulation Point(Cut Vertex):  An Articulation Point is defined as a vertex whose removal of self and related edge makes a graph disconnected. In a Graph if an edge (node1,node2) is a bridge then either node1 or node2 is

[2021-03-13 10:03] pm0824 commented on #579
@tarun26091999 @raksha009 @rudrakshi99
I am GSSoC'21 participant and would like to work on this issue.
Kindly assign it to me.

[2021-03-13 10:10] Pranjal9999999 commented on #196
Yes, this issue has been raised in reference to 2d arrays. Please, assign me this issue as a GSSOC participant.

[2021-03-13 10:15] SwarnimaShishodia commented on #835
Hi, I would like to solve this problem using C++. Please assign this issue to me.

[2021-03-13 10:16] SwarnimaShishodia commented on #807
Hi admins, please assign this issue to me. I can solve this using C++

[2021-03-13 10:17] SwarnimaShishodia commented on #828
Hello admins, I can solve this problem using C++. Please assign this issue to me.

[2021-03-13 10:18] SwarnimaShishodia commented on #825
Hi, I can solve this problem using C++. Please assign this issue to me.

[2021-03-13 10:24] beenusingh commented on #818
Hey, I’m a GSSOC'21 participant.I'd like to provide an understandable code with proper comments for this issue in Java.
Please assign this issue to me.

[2021-03-13 10:26] Op-panda opened #847 "array: Inverse of an array"
Hey, I want to code it in **cpp**.  please assign me this issue. I have read guidelines. I will code it with comments explaining the problem and **solution.**   @tarun26091999
please label it for gssoc'21.
I am a Gssoc'21 participant

[2021-03-13 10:29] beenusingh commented on #506
Hey, I’m a GSSOC'21 participant.I'd like to provide an understandable code with proper comments for this issue in Java using level order traversal.
Please assign this issue to me.

[2021-03-13 10:29] beenusingh commented on #505
Hey, I’m a GSSOC'21 participant.I'd like to provide an understandable code with proper comments for this issue in Java using level order traversal.
Please assign this issue to me.

[2021-03-13 10:33] Ritikakatoch0128 commented on #847
Hey ,I want to solve this issue in python .I will keep the code readable an will add necessary comments  and  also solution for the same. @tarun26091999 please assign this to me.

[2021-03-13 10:37] itsIapetus commented on #605
@plazzy99 Could someone assign it to me?

[2021-03-13 11:53] rk05-lenavo commented on #841
I'm the participant in GSSOC'21. Could you please assign me this.I would love working on this.

[2021-03-13 11:53] rk05-lenavo commented on #845
I'm the participant in GSSOC'21. Could you please assign me this.I would love working on this.

[2021-03-13 11:54] rk05-lenavo commented on #805
I'm the participant in GSSOC'21. Could you please assign me this.I would love working on this.

[2021-03-13 11:55] rk05-lenavo commented on #261
I'm the participant in GSSOC'21. Could you please assign me this.I would love working on this.

[2021-03-13 11:55] aanchalsethi commented on #716
yes, i can code it java as well.

On Fri, Mar 12, 2021 at 11:16 AM iaditichine ***@***.***>
wrote:

[2021-03-13 11:56] rk05-lenavo commented on #212
I'm the participant in GSSOC'21. Could you please assign me this.I would love working on this.

[2021-03-13 11:56] rk05-lenavo commented on #373
I'm the participant in GSSOC'21. Could you please assign me this.I would love working on this.

[2021-03-13 11:56] Riya1718 commented on #835
Hey, I am Riya Jain, a GSSOC,21 Participant. I would like to solve this problem using Java. Please assign this issue to me.
@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99

[2021-03-13 11:59] rk05-lenavo commented on #366
I'm the participant in GSSOC'21. Could you please assign me this.I would love working on this.

[2021-03-13 12:00] rk05-lenavo commented on #354
I'm the participant in GSSOC'21. Could you please assign me this.I would love working on this.

[2021-03-13 12:02] rk05-lenavo commented on #421
I'm the participant in GSSOC'21. Could you please assign me this.I would love working on this.

[2021-03-13 12:02] rk05-lenavo commented on #413
I'm the participant in GSSOC'21. Could you please assign me this.I would love working on this.

[2021-03-13 12:02] Riya1718 commented on #806
Hey , I am Riya Jain , a GSSOC'21 Participant. I would like to solve this issue using Java.
Thank you!
@tarun26091999

[2021-03-13 12:25] Rewangi opened #851 "Merge two sorted linked list (in Cpp)"
I want to work on this issue as a GSSOC'21 participant
Please assign me this @tarun26091999

[2021-03-13 12:34] tk315 opened #852 "Mirror Tree"
Would like to add an algorithm for converting a binary tree into its mirror tree in C++.
Please assign this to me under gssoc2021.

[2021-03-13 12:36] tk315 opened #853 "Binary tree level order traversal in spiral form"
Would like to add an algorithm for printing level order traversal of tree in spiral form in C++.
Please assign this to me under gssoc2021.

[2021-03-13 12:48] tk315 opened #854 "Iterative Preorder Traversal of Binary tree"

[2021-03-13 12:50] tk315 commented on #854
Would like to add an algorithm for iterative pre order traversal of binary tree in C++.
Please assign this to me under gssoc2021.

[2021-03-13 12:52] tk315 opened #855 "Iterative Postorder Traversal of Binary tree"
Would like to add an algorithm for iterative post order traversal of binary tree in C++.
Please assign this to me under gssoc2021.

[2021-03-13 12:53] tk315 opened #856 "Iterative Inorder Traversal of Binary tree"
Would like to add an algorithm for iterative inorder traversal of binary tree in C++.
Please assign this to me under gssoc2021.

[2021-03-13 12:53] Ritikakatoch0128 opened #857 "Row wise sum in 2d array"
In this question the sum of the row will be printed ,i am going to code this in java. The question will be added in the Algo-Tree/2D_Array/ folder.
@rudrakshi99 please assign this issue to me .
Thankyou

[2021-03-13 12:58] tk315 opened #858 "Determine if Two Trees are Identical"
Would like to add an algorithm to determine if two trees are identical in C++.
Please assign this to me under gssoc2021.

[2021-03-13 13:04] tk315 opened #860 "Transform to Sum Tree"
Would like to add an algorithm to convert a binary tree to sum tree where each node contains the sum of the left and right sub trees of the original tree in C++.
Please assign this to me under gssoc2021.

[2021-03-13 13:18] ASLManasa commented on #586
Hi !! I am a gssoc'21 participant ! can I work on this issue using java. @tarun26091999

[2021-03-13 13:20] ASLManasa commented on #569
Hi ! I am gssoc'21 participant can i work on this issue using java.

[2021-03-13 13:20] ASLManasa commented on #569
@tarun26091999

[2021-03-13 13:50] Anushka0483 commented on #404
hey ! i am a GSSOC'21 participant and i would like to work on this issue please assign me this issue .
@tarun26091999 @rudrakshi99

[2021-03-13 13:53] Anushka0483 commented on #58
hey ! could you please assign this issue to me ?
@tarun26091999 @rudrakshi99

[2021-03-13 14:03] ShreyaTarwey commented on #858
Hello @anubhavitis sir, Could you please assign this to me under GSSOC'21

[2021-03-13 14:09] ShreyaTarwey commented on #841
Hi , I would like to work on this project under GSSOC'21 , Could you please assign it to me?

[2021-03-13 14:15] IShahnawazShaikh commented on #586
Hi @tarun26091999  sir , can you check code and let me know if changes required ?

[2021-03-13 14:18] ShreyaTarwey commented on #828
Hello @anubhavitis Sir, Could you please assign this issue to me under GSSOC'21, thank you.

[2021-03-13 14:20] ShreyaTarwey commented on #826
Hello @Roshni1809 ma'am, Could you please assign this issue to me under GSSOC'21

[2021-03-13 14:21] ShreyaTarwey commented on #800
Hello, Could you please assign this issue to me under GSSOC'21.

[2021-03-13 14:23] Vanshikaa00 opened #867 "Vaccum Cleaner Route"
Given a string representing the sequence of moves a robot vacuum makes, return whether or not it will return to its original position. The string will only contain L, R, U, and D characters, representing left, right, up, and down respectively.
Ex: Given the following strings...
"LR", return true "URURD", return false "RUULLDRD", return true

I would like to work upon this problem. Can you assign i

[2021-03-13 14:24] ShreyaTarwey commented on #780
Hello, could you please assign this to me under GSSOC'21
Thank you.

[2021-03-13 14:31] Aj7t commented on #847
hey, I am Gssoc participants, I wanna work on this issue in C++. please assign me this !!

[2021-03-13 14:35] Aj7t opened #868 "Fibonacci series using recursion 👨‍💻"
hi, I am a Gssoc'21 participant I have created this issue and  I want to work on the "Fibonacci series using recursion " in python.
could you please assign me .

@tarun26091999 @shreyanspoddar @nakul-19 @rudrakshi99 @raksha009

[2021-03-13 14:35] gayatri517 commented on #225
@nakul-19 @plazzy99 please assign me this issue. I am participant of GSSOC'21.

[2021-03-13 14:38] priyanka001tech commented on #828
Hello Sir, I would like to solve the problem of Tower of Hanoi using Recursion in C++. As a participant of GSSoC'21 please assign this issue to me.

[2021-03-13 14:40] priyanka001tech commented on #800
I would like to solve the problem as a participant of GSSoC'21 please assign this issue to me.

[2021-03-13 14:41] priyanka001tech commented on #790
I can write the algorithm for the count sort in CPP. Please assign this to me.

[2021-03-13 14:42] priyanka001tech commented on #753
I would like to work on it. Please assign this to me.

[2021-03-13 14:45] priyanka001tech commented on #620
I would like to work on it as a gssoc participant. Please assign this to me.

[2021-03-13 14:47] priyanka001tech commented on #557
I would like to resolve this issue, will be implementing using cpp, Please assign me this.
I'm GSSoC21 participant.

[2021-03-13 14:49] priyanka001tech commented on #472
I would like to code it as a gssoc participant. Please assign this to me

[2021-03-13 14:52] Simar05519 commented on #868
I want to work on this issue. Please assign me.

[2021-03-13 14:52] tk315 opened #869 "Check for Sum Tree"
Would like to add an algorithm for checking for Sum Tree in C++.
A Binary Tree is a Sum Tree in which value of each node x is equal to sum of nodes present in its left subtree and right subtree . An empty tree is also a Sum Tree as sum of an empty tree can be considered to be 0. A leaf node is also considered as a Sum Tree.
Please assign this to me under gssoc2021.

[2021-03-13 14:54] Simar05519 commented on #843
I want to work on this issue. Please assign to me.

[2021-03-13 14:56] #758 closed

[2021-03-13 14:57] anotherwebguy commented on #604
Hey @tarun26091999 @plazzy99 @anubhavitis @rudrakshi99  plz assign me this issue under gssoc'21

[2021-03-13 14:59] prityusha commented on #606
hey @tarun26091999  @dheerajkotwani @avijit1999 i am a GSSOC'21 participant and i can work on this problem in cpp, kindly assign this issue to me.

[2021-03-13 15:02] prityusha commented on #572
(CPP)Hey, @rudrakshi99  @Mohim-Singla @dheerajkotwani please assign this issue to me i can solve it on CPP.

[2021-03-13 15:04] prityusha commented on #531
Hey @tarun26091999 , I am GSSoC'21 participant and I can solve this probem in cpp, kindly please assign this issue to me. we can do it using dfs.

[2021-03-13 15:04] vishakha-aggarwal opened #871 "ADDING PATTERN PROBLEMS"
### **EXPLANATION:**

OUR TASK IS TO PRINT THE PATTERNS THE FOLLOWING PATTERNS BY IMPLEMENTING LOOPS ::
1. FLOYD'S TRIANGLE
2. HOLLOW BUTTERFLY
3. SOLID BUTTERFLY
4. HOLLOW RECTANGLE
5. HOLLOW PARALLELOGRAM
6. SOLID PARALLELOGRAM
7. HOLLOW DIAMOND
8. SOLID DIAMOND
9. PASCAL TRIANGLE
10. PALINDROME PATTERN

Hey, @rudrakshi99  , I want to add these pattern problems in C++ language in `Algo-Tree/Code

[2021-03-13 15:06] prityusha commented on #483
hey @tarun26091999  @dheerajkotwani @tarun26091999 @rudrakshi99I am GSSoC'21 participant and doing competitive programming and I can solve this probem in cpp, kindly please assign this issue to me.

[2021-03-13 15:06] vishakha-aggarwal commented on #871
Hey , I have created this issue. I want to work on this under GSSOC'21. Please assign it to me.
I have read all the contributing guidlines.

[2021-03-13 15:09] Simar05519 commented on #871
I want to work on this issue. Please assign to me.

[2021-03-13 15:10] prityusha opened #872 "Find factorial of a large number in cpp"
[GSSoC'21][CPP]Given a big integer like 100 or 1000 it's factorial will be very large and cannot be stored in any of the data types in c++, Create an algorithm to implement it.

hey @tarun26091999  @dheerajkotwani @tarun26091999 @rudrakshi99  am GSSoC'21 participant and doing competitive programming and I can solve this probem in cpp, kindly please assign this issue to me.

[2021-03-13 15:10] Simar05519 commented on #852
I want to work on this issue. Please assign to me.

[2021-03-13 15:10] veenit1802 commented on #531
I have already completed it in C++ and submitted it. You can use another language

[2021-03-13 15:11] Simar05519 commented on #828
Recently I had worked on this problem. I want to work on this issue. Please assign to me.

[2021-03-13 15:12] Simar05519 commented on #851
I had learned this recently. I want to work on this issue. Please assign to me.

[2021-03-13 15:13] Simar05519 commented on #809
I had an experience as I had worked on projects. I want to work on this issue. Please assign to me.

[2021-03-13 15:14] Simar05519 commented on #763
I want to work on this issue. Please assign to me.

[2021-03-13 15:14] Simar05519 commented on #745
I want to work on this issue. Please assign to me.

[2021-03-13 15:14] Simar05519 commented on #739
I want to work on this issue. Please assign to me.

[2021-03-13 15:15] Simar05519 commented on #708
I want to work on this issue. Please assign to me.

[2021-03-13 15:16] Simar05519 commented on #669
I had practiced its questions. I want to work on this issue. Please assign to me.

[2021-03-13 15:17] nidh-ish commented on #553
@plazzy99 Can you assign this issue to me?

[2021-03-13 15:17] Simar05519 commented on #661
I want to work on this issue with a code of less time complexity. Please assign to me.

[2021-03-13 15:17] Simar05519 commented on #659
I had solved this question recently. I want to work on this issue. Please assign to me.

[2021-03-13 15:19] ashutosh-cusat opened #874 "Linked_list : All operation in linked_list using java"
**Explanation**

A list of data given. print the data based on which operation whatever you select like 1:insert_first 2:delete 3:traversal 4:insert_after 5:DELETE-KEY 6:insert_last 7:delete_last.

hey @tarun26091999 @rudrakshi99 I want to add this important question in the "Algo-Tree/Code/Java/".

[2021-03-13 15:22] adityaiiitL commented on #841
Hello sir/ma'am, I am a participant of GSSoC'21 and I would like to work over it, can u assign it to me?

[2021-03-13 15:23] Sweeti-Gupta commented on #871
I also want to work on this issue. Please assign it to me.

[2021-03-13 15:24] sonal251001 opened #875 "[GSSoC'21]Power Set of a String"
Hey @rudrakshi99 I would like to add this code in java section . Please assign it to me. I will follow the guidelines.

[2021-03-13 15:25] Mohim-Singla commented on #572
@prityusha I have already implemented this program and waiting for the second review till it get merged.

[2021-03-13 15:28] prityusha opened #876 "[Binary Search][CPP]Allocate minimum number of pages (in CPP)"
Given number of pages in n different books and m students. The books are arranged in ascending order of number of pages. Every student is assigned to read some consecutive books. The task is to assign books in such a way that the maximum number of pages assigned to a student is minimum.

array[] = [10,20,30,40]
m = 2

hey @tarun26091999  @dheerajkotwani @tarun26091999 @rudrakshi99I am GSSoC'21 par

[2021-03-13 15:28] adityaiiitL commented on #826
Hello ma'am,I am a participant at GSSoC'21, May I take this work? I will code it in C++

[2021-03-13 15:29] priyanka001tech opened #877 "DNF sort"
I didn't find the code of dnf sort here. So I would like to code it and add it here. I code it in cpp as a gssoc'21 participant.

[2021-03-13 15:30] Rewangi opened #878 "Reverse a stack using another stack (Cpp)"
I want to work on this issue as a GSSoc 21 participant

[2021-03-13 15:30] Simar05519 commented on #872
I want to work on this issue. Please assign to me.

[2021-03-13 15:30] Simar05519 commented on #877
I want to work on this issue. Please assign to me.

[2021-03-13 15:31] Simar05519 commented on #857
I want to work on this issue. Please assign to me.

[2021-03-13 15:31] priyanka001tech opened #879 "Find smallest positive missing number in the given array"
To find smallest positive missing number in the given array using c++.(THIS PROBLEM IS ASKED BY AMAZON,SAMSUNG,SNAPDEAL etc,)

Example:
0,-10,1,3,-20
Output: 2

[2021-03-13 15:31] Simar05519 commented on #876
I want to work on this issue. Please assign to me.

[2021-03-13 15:32] adityaiiitL commented on #768
Ma'am, I am a participant at GSSoC'21, Can u assign this work to me? as I can do this in very optimised way rather than the brute force approach. I code in C++.

[2021-03-13 15:32] priyanka001tech opened #880 "Find largest word in a given sentence"
Find largest word in a given sentence this is a very important question for interviews. So i like to code it as gsssoc participant.

[2021-03-13 15:33] Simar05519 commented on #858
I want to work on this issue. Please assign to me.

[2021-03-13 15:33] Simar05519 commented on #836
I want to work on this issue. Please assign to me.

[2021-03-13 15:34] Simar05519 commented on #823
I want to work on this issue. Please assign to me.

[2021-03-13 15:34] adityaiiitL commented on #880
Ma'am, I would like to work over it in C++, I am a participant at GSSoC'21.

[2021-03-13 15:34] Simar05519 commented on #756
I want to work on this issue. Please assign to me.

[2021-03-13 15:40] adityaiiitL commented on #879
@priyanka001tech Ma'am, I am a participant at GSSoC'21, I would like to work over it in C++

[2021-03-13 15:50] Kirti1807 opened #881 "All Unique prime factors of n (in C++)"
Hey, I am Kirti as a GSSoC '21 participant
here I want to find all unique prime factors of any number n where (n>1) for example if n is 20 then output will be (2,5).
Please assign this task to me!

[2021-03-13 15:57] gupta31 opened #883 "N-queen problem using backtracking using C++"

[2021-03-13 16:00] gupta31 opened #884 "Hashing in C++"

[2021-03-13 16:00] ganesh-sai-a commented on #606
Hey! @tarun26091999 @dheerajkotwani @avijit1999
I am GSSOC 21 participant, I wish to work on this issue.
I will work on this project in CPP using Kernighan's Algo, could you please assign me the issue.

[2021-03-13 16:09] shreya-shah-28 commented on #879
please assign this to me

[2021-03-13 16:10] shreya-shah-28 commented on #884
please assign this to me

[2021-03-13 16:10] shreya-shah-28 commented on #878
i want to work on this issue please assign this to me

[2021-03-13 16:12] Simar05519 commented on #871
Thank you for assigning

On Sat, 13 Mar, 2021, 8:53 pm Sweeti Gupta, ***@***.***>
wrote:

[2021-03-13 16:13] adityaiiitL commented on #84
Hello, I am a GSSoC'21 participant, please assign this work to me

[2021-03-13 16:14] garvitraj commented on #47
@shreyanshpoddar i have done with the code in java what should i do further pleasee guide me

[2021-03-13 16:16] adityaiiitL commented on #755
Hi
I am GSSoC'21 participant, please assign this work to me. I code in C++

[2021-03-13 16:21] ShreyaTarwey opened #885 "To Check if a given Number is an Armstrong Number or not"
Hello Sir, I would like to add an issue in Algo-Phantoms/Algo-Tree, to check If the number provided is an armstrong number or not. Kindly allow me to work on this issue.

[2021-03-13 16:34] ShreyaTarwey commented on #879
I would like to work on this under GSSOC'21. Kindly assign this to me. Thank you

[2021-03-13 16:35] ShreyaTarwey opened #886 "Minimum Possible detletion to make two strings anangram"
Hello Sir, I would like to add an issue in Algo-Phantoms/Algo-Tree, to check the minimum number of deletion required to make two strings anagrams, kindly allow me to work on this issue. Thank you

[2021-03-13 16:36] shreya-shah-28 commented on #851
i want to work on this issue please assign this to me

[2021-03-13 16:37] shreya-shah-28 commented on #835
i want to work on this issue please assign this to me

[2021-03-13 16:39] Tj8864 commented on #883
Please assign this to me under GSSoC'21

[2021-03-13 16:41] gupta31 commented on #884
this issue is raised by me so please assign to me

[2021-03-13 16:44] Simar05519 commented on #851
Thanks for assigning this task to me

On Sat, 13 Mar, 2021, 10:06 pm shreya shah, ***@***.***>
wrote:

[2021-03-13 16:44] Tj8864 commented on #881
Please assign this to me under GSSoC'21, I can do it in python and C++

[2021-03-13 16:44] gupta31 commented on #883
I want to work on my own raised issue under GSSOC21.Please assign to me

[2021-03-13 16:47] Rewangi commented on #851
How has assigned this issue to you??

On Sat, 13 Mar 2021, 22:14 Simarpreet, ***@***.***> wrote:

[2021-03-13 16:48] Tj8864 commented on #872
I want to work on this issue in C++, please assign this to me under GSSoC'21

[2021-03-13 16:57] reerajput930 commented on #883
Hello, I would like to contribute to this project in c++ language with help of backtracking.
->in O(n!) time complexity
->in O(n) space complexity
I am a GSsoc'21 participant.
waiting for a positive response.

[2021-03-13 16:59] reerajput930 commented on #878
Hello, I would like to contribute to this project in c++ language with help of two stacks.
->in O(1) time complexity
->in O(n) space complexity
I am a GSsoc'21 participant.
waiting for a positive response.

[2021-03-13 17:01] Rewangi commented on #878
If you really want to do something so pls girl create your own issues and
stop commenting on mine

On Sat, 13 Mar 2021, 22:29 reerajput930, ***@***.***> wrote:

[2021-03-13 17:03] reerajput930 commented on #885
Hello, I would like to contribute to this project in c++ language.
->in O(n) time complexity
->in O(i) space complexity
I am a GSsoc'21 participant.
waiting for a positive response.

[2021-03-13 17:07] Rewangi opened #889 "Recursively reverse a linked list ( using Cpp)"
@tarun26091999  pls assign me this task

[2021-03-13 17:10] reerajput930 commented on #875
Hello, I would like to contribute to this project in c++ language.
->in O(2^n) time complexity
->in O(n) space complexity
I am a GSsoc'21 participant.
waiting for a positive response.

[2021-03-13 17:13] krishna-NIT commented on #885
Hi,
I am GSSOC'21 participant

My code will be in JAVA with proper comments and test cases.
@rudrakshi99 @nakul-19 @plazzy99 please assign me this issue

[2021-03-13 17:14] krishna-NIT commented on #880
Hi,
I am GSSOC'21 participant

My code will be in JAVA with proper comments and test cases.
@rudrakshi99 @nakul-19 @plazzy99 please assign me this issue

[2021-03-13 17:14] krishna-NIT commented on #857
Hi,
I am GSSOC'21 participant

My code will be in JAVA with proper comments and test cases.
@rudrakshi99 @nakul-19 @plazzy99 please assign me this issue

[2021-03-13 17:16] krishna-NIT commented on #841
Hi,
I am GSSOC'21 participant

My code will be in JAVA with proper comments and test cases.
@rudrakshi99 @nakul-19 @plazzy99 please assign me this issue

[2021-03-13 17:16] krishna-NIT commented on #843
Hi,
I am GSSOC'21 participant

My code will be in JAVA with proper comments and test cases.
@rudrakshi99 @nakul-19 @plazzy99 please assign me this issue

[2021-03-13 17:16] krishna-NIT commented on #847
Hi,
I am GSSOC'21 participant

My code will be in JAVA with proper comments and test cases.
@rudrakshi99 @nakul-19 @plazzy99 please assign me this issue

[2021-03-13 17:17] krishna-NIT commented on #792
Hi,
I am GSSOC'21 participant

My code will be in JAVA with proper comments and test cases.
@rudrakshi99 @nakul-19 @plazzy99 please assign me this issue

[2021-03-13 17:17] krishna-NIT commented on #785
Hi,
I am GSSOC'21 participant

My code will be in JAVA with proper comments and test cases.
@rudrakshi99 @nakul-19 @plazzy99 please assign me this issue

[2021-03-13 17:20] reerajput930 commented on #878
But, I guess this is what we are supposed to do.
I am a beginner, and I just want to contribute, plz any advice.

[2021-03-13 17:20] #152 closed

[2021-03-13 17:33] rray14 opened #892 "Find closest number in array"
Hi my name is Ardra, participant of GSSoC'21
Using the divide and conquer method find the closest number in an array
eg: if the input is 4, then a number closest to 4 is found from the input array, I'll be implementing this in C++
Please assign me this issue
Thanks!

[2021-03-13 17:34] Akp6528 opened #893 "Binary Tree Zigzag Level Order Traversal in C++"
I want to work over this issue.
Any mentor assign me this @tarun26091999

[2021-03-13 17:38] RiyaVashishtha commented on #875
Hello, @plazzy99
I am a GSSOC'21 participant and  I would like to contribute to this project in Python and would like to use two approaches for the same.
APPROACH 1.  USING RECURSION.
APPROACH 2.  BY GENERATING BINARY NUMBERS.
- Time Complexity -->  O(2^n)
- Space Complexity --> O(n)
Waiting for a positive response.

[2021-03-13 17:48] Suvojit-roy opened #894 "Dutch _National _Flag Algorithm"
It is a special type of sorting algorithm that can sort in just O(n) and it is widely asked in interviews. Thus it will be a great addition to the sorting algorithms part.
@anubhavitis  Please do assign me this. I am a GSSOC participant and would love to contribute here.

[2021-03-13 17:49] RiyaVashishtha commented on #868
Hello, @rudrakshi99
I am a GSSOC'21 participant and would like to contribute to this issue " Fibonacci series using recursion" in Python.
I will make sure that the code is readable and understandable by the beginner by using proper comments.
Please, assign this issue to me.

[2021-03-13 17:57] #68 closed

[2021-03-13 18:08] tarun26091999 commented on #248
@pallavidhere23 also add BFS soon

[2021-03-13 18:11] neha07kumari opened #895 "Sorting algorithms in C++"
### Feature
Solutions of all sorting algorithms

### Language: C++
### Have you read the Contributing Guidelines on Pull Requests?
Yes

### Motivation
I want to contribute to it under GSSoC'21.

### Pitch:
I would like to take up this task to implement it in C++. @rudrakshi99

[2021-03-13 18:14] #96 closed

[2021-03-13 18:16] tarun26091999 commented on #648
present at #248

[2021-03-13 18:16] #648 closed

[2021-03-13 18:18] #143 closed

[2021-03-13 19:51] sayantikag98 opened #897 "[GSSoC'21] Ternary Search Implementation"
Hi, I am Sayantika participating in GSSoC this year. I want to implement ternary search in C++.

Please kindly assign this task to me.

Thank you.

[2021-03-13 20:07] pallavi00021 commented on #703
Hello, I'm GSSOC'21 participant too. I would like to implement it in C++.
Please assign this task to me.

[2021-03-13 20:10] pallavi00021 commented on #702
Hello, I'm GSSOC'21 participant too. I want to work on this issue in C++ . Please assign this to me.

[2021-03-13 20:15] ansi22 opened #900 "CHECK IF SUBARRAY WITH SUM ZERO EXISTS OR NOT"
Hello mentors :)

I want to add one problem that goes like:
Statement- Given an array, check if subarray with sum exists or not.
Example-
INPUT- 2 5 1 -8 2
OUTPUT- Yes
Explanation- One such subarray { 2 , 5 , 1 , -8 } as 2+5+1+(-8)=0

I would like to work on this issue. Kindly assign it to me.
Thankyou!

@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad @plazzy99 @rudrakshi99

[2021-03-13 20:33] japneetbhatia opened #901 "String Compression"
Aim: The string should be compressed such that consecutive duplicates of characters are replaced with the character and followed by the number of consecutive duplicates.
input : aaabbccdeff
output : a3b2c2def2

Hey, I'm Gssoc participant I want to work on this issue in C++ or Java. Please assign this to me.

[2021-03-13 20:34] japneetbhatia commented on #889
Please assign this task to me in Java (Gssoc'21)

[2021-03-13 20:42] pallavidhere23 commented on #248
Already added at PR #873 as u said to make 2 separate PRs.

[2021-03-13 20:43] pallavidhere23 commented on #248
@tarun26091999 already added at PR #873 as u said to make 2 separate PRs

[2021-03-13 20:50] siddharth-bhatnagar opened #902 "Generic Tree Construction and Display in Java"
I'd like to add a Java program which constructs a generic tree in memory and displays it on the console.
I'm a GSSOC'21 participant. Please assign this issue to me. @anubhavitis

[2021-03-13 20:59] siddharth-bhatnagar opened #903 "Diameter of a Binary Tree in Java"
I'd like to create a java program which prints the diameter of a binary tree the console. Diameter is defined as the distance between two farthest nodes in the given binary tree. Please assign this issue to me. I'm a GSSOC'21 participant. @anubhavitis

[2021-03-13 21:46] Op-panda commented on #354
@tarun26091999 sir please check this out #904 . I have created a pull request for this issue.

[2021-03-13 22:24] hritikchaturvedi11 opened #905 "Brian Kerningam's Algorithm in C++"
I want to work on this issue. I'm a GSSOC_2021 participant.

[2021-03-13 22:29] aditya113141 opened #906 "Ford Fulkerson in C++ and Python"
Hello, I am Aditya Sinha. I would like to add code for Ford-Fulkerson algorithm in C++ and Python

[2021-03-13 22:33] aditya113141 commented on #687
Hello, I am GSSOC'21 participant. I would like to work on python code.

[2021-03-13 22:35] hritikchaturvedi11 opened #907 "Trailing zeroes in factorial"
I would like to work on this problem.

[2021-03-14 01:15] muthuannamalai12 commented on #143
I have created a PR for this issue @tarun26091999

[2021-03-14 01:35] muthuannamalai12 commented on #144
@tarun26091999 I have created a PR for this issue 3 data back and you have unassigned me why??

[2021-03-14 01:52] simarjeet30 commented on #907
I am a gssoc 21 participant ,i want to work on this issue in python/c/c++ with proper comments.
So please assign me this issue .

[2021-03-14 01:54] simarjeet30 commented on #892
Hey I am Simarjeet , participant of gssoc 21 ,i want to work on this issue in python/c++/c .please assign this work to me

[2021-03-14 01:56] simarjeet30 commented on #881
I am a participant of gssoc 21 ,i want to work on this issue in c/c++/python .please assign this work to me .
For example:a number 10,.   (2,5) will be the answer

[2021-03-14 01:58] simarjeet30 commented on #879
I am a gssoc 21 participant ,i would like to work on this issue using c++/c/python .please assign this work to me .i have a good knowledge of data structures and algorithms.

[2021-03-14 02:55] tk315 opened #908 "Undo and Redo features of a Text Editor using Stack"
I want to work on this in c++
Kindly assign this to me under GSSOC'21

[2021-03-14 03:07] tk315 opened #909 "Check for BST"
Would like to add an algorithm for checking given binary tree is BST or not in C++.
Please assign this to me under gssoc2021.

[2021-03-14 03:19] #637 closed

[2021-03-14 03:40] Amanduttbhagat commented on #901
Hello,
I would like to contribute to this issue in java as a GSSoC 2021 participant
kindly assign me the issue

[2021-03-14 03:41] Amanduttbhagat commented on #892
Hello,
I would like to contribute to this issue in "Java" as a GSSoC 2021 participant
kindly assign me the issue

[2021-03-14 03:43] Amanduttbhagat commented on #826
Hello,
I would like to contribute to this issue in java as a GSSoC 2021 participant
kindly assign me the issue

[2021-03-14 04:04] CSAURABH opened #910 "Kth smallest element in Matrix"
Find the kth smallest element in the matrix.
Example 1 :-
Input:
N = 4
mat[][] =     {{16, 28, 60, 64},
                   {22, 41, 63, 91},
                   {27, 50, 87, 93},
                   {36, 78, 87, 94 }}
K = 3
Output: 27

Example 2 :-
Input:
N = 4
mat[][] =     {{10, 20, 30, 40}
                   {15, 25, 35, 45}
                   {24, 29, 37, 48}
                   {32, 33, 39, 50}}

[2021-03-14 04:14] CSAURABH opened #911 "Find common elements in rows of a matrix"
Given an m x n matrix, find all common elements present in all rows of a matrix.
Example :-
Input:
mat[4][5] = {{1, 2, 1, 4, 8},
             {3, 7, 8, 5, 1},
             {8, 7, 7, 3, 1},
             {8, 1, 2, 7, 9},
            };
Output: 8 1

@rudrakshi99 @nakul-19 I would like to solve this issue in C++. Please assign this to me under GSSOC'21.

[2021-03-14 04:34] Sanjsarma commented on #499
Hello, I am Sanjana S, a participant of GSSOC'21 and would like to contribute the solution to the longest prefix suffix problem in Python.
Kindly assign this issue to me.
Thank you.
@tarun26091999

[2021-03-14 04:43] Sanjsarma opened #912 "Longest Prefix Suffix Problem #499"
Hello, I am Sanjana S, a participant of GSSOC'21 and would like to contribute the solution to the longest prefix suffix problem in Python.
Kindly assign this issue to me.
Thank you.
@tarun26091999

[2021-03-14 04:56] Amanduttbhagat commented on #912
Hello,
I would like to contribute to this issue in java as a GSSoC 2021 participant
kindly assign me the issue

[2021-03-14 04:57] Amanduttbhagat commented on #911
Hello,
I would like to contribute to this issue in java as a GSSoC 2021 participant
kindly assign me the issue

[2021-03-14 04:57] Amanduttbhagat commented on #910
Hello,
I would like to contribute to this issue in java as a GSSoC 2021 participant
kindly assign me the issue

[2021-03-14 05:06] Manish5237 commented on #402
Hi ,

I am GSSOC'21 participant.
Please assign me this. I will do this in C with proper comments and test cases.

@tarun26091999

[2021-03-14 05:06] Sanjsarma commented on #499
Hello, I am Sanjana S, a participant of GSSOC'21 and would like to contribute the solution to the longest prefix suffix problem in Python.
Kindly assign this issue to me.
Thank you.
@tarun26091999

[2021-03-14 05:13] sagniknayak opened #913 "BFS, DFS and Dijkstra's Algorithm using Python"
I would like to implement Breadth-First Search, Depth First Search and Dijkstra's Algorithm using Python.
I would also like to know if Iterative Deepening and Priority Queue could be added as well through my contribution, using Python.

[2021-03-14 05:14] siddharth-bhatnagar opened #914 "Kadane's Algorithm Implementation in Java"
I'd like to add a program which prints the maximum sum among the sums of subarrays of the given array in Java using Kadane's Algorithm. The time complexity is O(n) and space complexity is O(1).  This Algorithm works by rejecting all the cases which cannot give us the maximum sum.

Please Assign this issue to me @anubhavitis. I hope to contribute to Algo-Tree under GSSOC'21. Thanks!

[2021-03-14 05:15] tk315 opened #915 "Middle element in a linked list"
Would like to add an algorithm for finding middle element in linked list in C++.
Please assign this to me under gssoc2021.

[2021-03-14 05:18] tk315 opened #916 "Get minimum element from stack"
Would like to Implement a Stack in which you can get minimum element in O(1) time in C++.
Please assign this to me under gssoc2021.

[2021-03-14 05:20] tk315 opened #917 "Root to leaf path with given sum in Binary tree"
Would like to add an algorithm to check whether there is root to leaf path with its sum as S in C++.
Please assign this to me under gssoc2021.

[2021-03-14 05:20] siddharth-bhatnagar opened #918 "Nodes K Edges Away in Binary Tree"
I'd like to add a program that prints Nodes K Edges Away in Binary Tree. I will code in Java.

Please Assign this issue to me @anubhavitis. I hope to contribute to Algo-Tree under GSSOC'21. Thanks!

[2021-03-14 05:21] tk315 opened #919 "Implement Atoi"
Would like to add an algorithm for implementing atoi in C++.
Please assign this to me under gssoc2021.

[2021-03-14 05:23] tk315 opened #920 "Square Root"
Would like to add an algorithm for implementing square root in O(logn) in C++.
Please assign this to me under gssoc2021.

[2021-03-14 05:24] tk315 opened #921 "Implement strstr"
Would like to add an algorithm for implementing strstr in C++.
Please assign this to me under gssoc2021.

[2021-03-14 05:25] sagniknayak opened #922 "Adding Iterative Deepening and Priority Queue to the list of data structures and algorithms, and implement using Python."
I would like to know if Iterative Deepening and Priority Queue could be added as well through my contribution, using Python.

[2021-03-14 05:34] Manish5237 commented on #301
Hi ,

I am GSSOC'21 participant.
Please assign me this. I will do this either in C or JAVA with proper comments and test cases.

@tarun26091999

[2021-03-14 05:36] Manish5237 commented on #276
Hi ,

I am GSSOC'21 participant.
Please assign me this. I will do this in C with proper comments and test cases.

@shreyanspoddar

[2021-03-14 05:38] Manish5237 commented on #203
Hi ,

I am GSSOC'21 participant.
Please assign me this. I will do this in C with proper comments and test cases.

@tarun26091999

[2021-03-14 05:40] Astroakanksha24 commented on #82
Hello, I am a GSSOC'21 participant, I am Second Year Computer Science Student at WCE, Sangli. @rudrakshi99 Please assign me this issue I can solve this in C, C++, JAVA.

[2021-03-14 05:44] Avantika782 commented on #692
Hey , I am Avantika Singh a GSSOC participant , I want to work in it please assign it to me.
@plazzy99 @tarun26091999 @Shalvi-Singhal @avijit1999 @

[2021-03-14 05:45] yogitasaini commented on #895
please assign this task to me in java under GSSOC'21

[2021-03-14 05:49] Shraddha13Jain commented on #665
/assign

[2021-03-14 05:49] Astroakanksha24 opened #923 "Find modular node: Given a singly linked list ,write a function to find the last element from the beginning whose n%k=0,where n is the number of elements in the list and k is an integer constant."
Hey, I am a GSSOC'21 participant. Please assign me this issue, I can solve it in CPP with proper comments.

[2021-03-14 05:50] Shraddha13Jain commented on #602
/assign

[2021-03-14 05:51] Shraddha13Jain commented on #569
/assign

[2021-03-14 05:51] Shraddha13Jain commented on #559
/assign

[2021-03-14 05:52] Shraddha13Jain commented on #519
/assign

[2021-03-14 05:53] Shraddha13Jain commented on #478
/assign

[2021-03-14 05:54] Shraddha13Jain commented on #421
/assign

[2021-03-14 05:56] HitainKakkar commented on #421
I'm the participant in GSSOC'21. Kindly assing me this issue. I have the code ready!!

[2021-03-14 06:30] Bayesian4042 commented on #638
Hey @rudrakshi99 , can I implement this in Python ?

[2021-03-14 06:31] ASLManasa commented on #569
@tarun26091999 sir created a pr .Kindly merge it. Thank you.

[2021-03-14 06:33] Bayesian4042 commented on #531
hey @tarun26091999 can I implement this in python ?

[2021-03-14 06:43] ananddasani commented on #915
Hi I am GSSoC'21 participant

i would like to contribute in Finding middle element in a linked list issue #915
i will write the clean and optimized code , by keeping best case time and space complexity in mind and
with  brief commenting and algorithm.

so i would like @anubhavitis , @dheerajkotwani , @tarun26091999 , @avijit1999 to please assign this Issue to me :)

[2021-03-14 06:44] Sathwika-02 commented on #785
Hi,
I am GSSOC'21 participant,
I would like to contribute to this in python .
@tarun26091999 @rudrakshi99  Please assign me this. Thankyou!!

[2021-03-14 06:45] ankan1811 opened #925 "Program to check if a given string is pangram or not"
Given a string, write a Python program to check if that string is Pangram or not. A pangram is a sentence containing every letter in the English Alphabet.

Input : The quick brown fox jumps over the lazy dog
Output : Yes

Input : abcdefgxyz
Output : No

[2021-03-14 06:45] ankan1811 commented on #925
I want to implement this in C++ as apart of GSSoC'21..Please assign it to me!!!

[2021-03-14 06:46] ananddasani commented on #856
Hi I am GSSoC'21 participant

i would like to contribute in Iterative Inorder Traversal of Binary tree issue #856
i will write the clean and optimized code , by keeping best case time and space complexity in mind and
with  brief commenting and algorithm.

so i would like @anubhavitis , @avijit1999  to please assign this Issue to me :)

[2021-03-14 07:02] abhilashaRaj commented on #559
hii my name is Abhilasha Raj.I want to work on this issue using C++. Kindly assign this to me.

[2021-03-14 07:04] Ritu7683 commented on #560
@tarun26091999 Thank you

[2021-03-14 07:04] Sathwika-02 commented on #925
Hi,
I am GSSOC'21 participant,
My code will be in java with proper comments and test cases.
Please assign me this. Thankyou!!

[2021-03-14 07:04] Ritu7683 commented on #559
@tarun26091999 Thank you

[2021-03-14 07:06] abhilashaRaj commented on #395
Hey, I am Abhilasha Raj, a GSSOC'21 participant.
I would love to solve this problem using CPP with well-explained code and along with its time and space complexity.
Please assign me this issue.
I would like to contribute on this
So , I request @tarun26091999 @prateek-jpg to assign me this issue

[2021-03-14 07:08] yogitasaini commented on #795
please assign this issue tome in java under GSSOC'21

[2021-03-14 07:30] ankan1811 opened #926 "neon number in C++"
A neon number is a number where the sum of digits of square of the number is equal to the number. For example, if the input number is 9, its square is 9*9 = 81 and the sum of the digits is 9. i.e. 9 is a neon.

[2021-03-14 07:31] ankan1811 commented on #926
I want to implement it in C++ as a part of GSSoC'21. Please assign to me !!! @raksha009

[2021-03-14 08:01] samar08 opened #928 "I will implement Trie datastructure in Java"
Hi, I am samar. I am a GSSOC 2021 participant. I want to implement code for Trie datastructure in Java. I will add necessary comments in the code to make it easily understandable for a newbie in coding. I will provide proper description and documentation for the implementation. Also I will follow proper code structure and syntax to make it readable.

[2021-03-14 08:05] samar08 commented on #916
Hi I'm samar, a GSSOC participant. I would like to implement code for above problem in Java. Please assign this issue to me.

[2021-03-14 08:06] samar08 commented on #909
Hi, I'm samar. I would like to implement code for above problem in Java. Please assign this issue to me.

[2021-03-14 08:08] samar08 commented on #895
I would like to implement the sorting algorithms in python. Please assign this issue to me.

[2021-03-14 08:30] JASKAMAL22 commented on #479
Hello @rudrakshi99, I would like to work on this issue using Python. Kindly assign it to me! :)

[2021-03-14 08:31] Simar05519 commented on #921
I want to work on this issue. Please assign to me

[2021-03-14 08:31] Simar05519 commented on #920
I want to work on this issue. Please assign to me

[2021-03-14 08:33] Simar05519 commented on #914
I want to work on this issue. Please assign to me

[2021-03-14 08:35] Simar05519 commented on #897
I want to work on this issue. Please assign to me

[2021-03-14 08:38] Atif-reyaz-khan commented on #421
I created pull request already

[2021-03-14 08:40] Simar05519 commented on #892
I want to work on this issue. Please assign to me

[2021-03-14 08:41] Simar05519 commented on #886
I want to work on this issue. Please assign to me

[2021-03-14 08:41] Simar05519 commented on #867
I want to work on this issue. Please assign to me

[2021-03-14 08:42] Simar05519 commented on #855
I want to work on this issue. Please assign to me

[2021-03-14 08:42] Simar05519 commented on #819
I want to work on this issue. Please assign to me

[2021-03-14 08:43] Simar05519 commented on #794
I want to work on this issue. Please assign to me

[2021-03-14 08:44] Simar05519 commented on #767
I want to work on this issue. Please assign to me as I had recently solved the question with less time complexity

[2021-03-14 08:44] Simar05519 commented on #738
I want to work on this issue. Please assign to me

[2021-03-14 08:45] Simar05519 commented on #734
I want to work on this issue. Please assign to me

[2021-03-14 08:45] Simar05519 commented on #707
I want to work on this issue. Please assign to me

[2021-03-14 08:45] Simar05519 commented on #645
I want to work on this issue. Please assign to me

[2021-03-14 08:46] samya02 commented on #907
Hey I am Samya. I can work on this issue using python.
Please assign this task to me!
Thanks!

[2021-03-14 08:46] Simar05519 commented on #619
I want to work on this issue. Please assign to me

[2021-03-14 08:46] tarun26091999 commented on #756
present at #416

[2021-03-14 08:46] #756 closed

[2021-03-14 08:47] Simar05519 commented on #554
I want to work on this issue. Please assign to me

[2021-03-14 08:47] Simar05519 commented on #403
I want to work on this issue. Please assign to me

[2021-03-14 08:48] Simar05519 commented on #352
I want to work on this issue. Please assign to me

[2021-03-14 08:48] Simar05519 commented on #320
I want to work on this issue. Please assign to me

[2021-03-14 08:48] Simar05519 commented on #284
I want to work on this issue. Please assign to me

[2021-03-14 08:57] nagasrihith608 commented on #284
@rudrakshi99 hello, please assign this issue to me under GSSoC'21. I had opened this issue 5 days back and waiting for your reply. Thank you!

[2021-03-14 09:19] RinalGadhiya commented on #276
Hi I am gssoc participant I would like to solve this issue using Java
Could you please assign it to me?
Thanks!

[2021-03-14 10:04] HitainKakkar commented on #261
I would like to add the code c++ with explaination.
My code is ready. kindly assinged it to me.

[2021-03-14 10:11] machine-sg commented on #928
Hi , I am GSSoC'21 participant. I want implement Trie using C++. Please assign me this. I will explain it with examples.

[2021-03-14 10:12] machine-sg commented on #919
Hi, I am a GSSoC'21 participant and I want to implement it using C++. Please assign me this. I will give proper explanation with examples.

[2021-03-14 10:13] machine-sg commented on #913
Hi, I am GSSoC'21 participant and I want to do this using C++. Please assign me this. I will give proper explanation.

[2021-03-14 10:14] machine-sg commented on #903
Hi @anubhavitis  , I am GSSoC'21 participant and I want to do it in C++. Please assign me this.

[2021-03-14 10:15] HitainKakkar commented on #262
I would like to contribute the code for Merge Sort in Linked List.
The code is ready.
Kindly assign it to me.

[2021-03-14 10:15] machine-sg commented on #901
Hi @anubhavitis , I am GSSoC'21 participant and I want to do it in C++. Please assign me this.

[2021-03-14 10:15] machine-sg commented on #907
Hi @anubhavitis , I am GSSoC'21 participant and I want to do it in C++. Please assign me this.

[2021-03-14 10:16] machine-sg commented on #894
Hi @anubhavitis , I am GSSoC'21 participant and I want to do it in C++. Please assign me this.

[2021-03-14 10:18] machine-sg commented on #711
Hi @anubhavitis @dheerajkotwani  @tarun26091999 , I am GSSoC'21 participant and I want to do it in C++. Please assign me this.

[2021-03-14 10:20] machine-sg opened #931 "DP on Tree"
Hi @anubhavitis @dheerajkotwani @tarun26091999 @avijit1999 @todi-2000 , I am GSSoC'21 participant and I want to add the concept of DP on Tree and I'll give examples with proper explanation. Please assign me this.

[2021-03-14 10:22] HitainKakkar commented on #895
I would like to contribute the code for Merge Sort in Linked List.
The code is ready.
Kindly assign it to me.

[2021-03-14 10:23] HitainKakkar commented on #264
I would like to contribute the code for Merge Sort in Linked List.
The code is ready.
Kindly assign it to me.

[2021-03-14 10:24] samya02 commented on #925
Hey I am Samya, GSSOC'21 participant.
I want to work on this issue(python) please assign this to me!
Thanks!

[2021-03-14 10:27] samya02 commented on #885
Hi! I want to contribute to this using python with proper comments.
Thanks!

[2021-03-14 10:29] samya02 commented on #895
I would like to contribute as a GSSOC'21 participant using python.
Kindly assign this task to me.
Thanks!

[2021-03-14 10:31] samya02 commented on #753
Hi! I as a GSSOC'21 participant would like to contribute to this using python/c++.
Please assign this task to me.
Thanks!

[2021-03-14 10:36] Aarti002 commented on #915
hey @tarun26091999 @rudrakshi99 under gssoc'21 can i work on this issue in python
Thank you!

[2021-03-14 10:36] Aarti002 commented on #916
hey @tarun26091999 @rudrakshi99 under gssoc'21 can i work on this issue in python
Thank you!

[2021-03-14 10:37] Aarti002 commented on #917
hey @tarun26091999 @rudrakshi99 under gssoc'21 can i work on this issue in python
Thank you!

[2021-03-14 10:38] krishna-NIT commented on #925
Hi,
I am GSSOC'21 participant

My code will be in JAVA with proper comments and test cases.
@rudrakshi99 @nakul-19 @plazzy99 @tarun26091999  please assign me this issue

[2021-03-14 10:38] krishna-NIT commented on #920
Hi,
I am GSSOC'21 participant

My code will be in JAVA with proper comments and test cases.
@rudrakshi99 @nakul-19 @plazzy99 @tarun26091999  please assign me this issue

[2021-03-14 10:38] krishna-NIT commented on #916
Hi,
I am GSSOC'21 participant

My code will be in JAVA with proper comments and test cases.
@rudrakshi99 @nakul-19 @plazzy99 @tarun26091999  please assign me this issue

[2021-03-14 10:38] krishna-NIT commented on #910
Hi,
I am GSSOC'21 participant

My code will be in JAVA with proper comments and test cases.
@rudrakshi99 @nakul-19 @plazzy99 @tarun26091999  please assign me this issue

[2021-03-14 10:38] krishna-NIT commented on #911
Hi,
I am GSSOC'21 participant

My code will be in JAVA with proper comments and test cases.
@rudrakshi99 @nakul-19 @plazzy99 @tarun26091999  please assign me this issue

[2021-03-14 10:39] krishna-NIT commented on #900
Hi,
I am GSSOC'21 participant

My code will be in JAVA with proper comments and test cases.
@rudrakshi99 @nakul-19 @plazzy99 @tarun26091999  please assign me this issue

[2021-03-14 10:39] krishna-NIT commented on #892
Hi,
I am GSSOC'21 participant

My code will be in JAVA with proper comments and test cases.
@rudrakshi99 @nakul-19 @plazzy99 @tarun26091999  please assign me this issue

[2021-03-14 10:39] krishna-NIT commented on #881
Hi,
I am GSSOC'21 participant

My code will be in JAVA with proper comments and test cases.
@rudrakshi99 @nakul-19 @plazzy99 @tarun26091999  please assign me this issue

[2021-03-14 10:41] abhilashaRaj opened #932 "[searching] :search an element from rotated and sorted array"
"explaination"
we have have given a sorted and rotated array and we have to search an element from there
like original array: [1, 3, 5, 15, 17, 20, 21]
and its rotated in such a way: [15 , 17 , 20, 21, 1, 3 , 5]
ex:
we have to find 21
then output will be 3
 hey @Rudrakshi , @anubhavitis  i want to add an important question in 'Algo-Tree/Code/c++

[2021-03-14 10:48] Aarti002 commented on #900
hey @tarun26091999 @rudrakshi99 under gssoc'21 can i work on this issue in python
Thank you!

[2021-03-14 10:51] Sathwika-02 commented on #920
Hi,
I want to implement this in python as apart of GSSoC'21.
@rudrakshi99 @tarun26091999 Please assign it to me. Thankyou!!

[2021-03-14 10:52] Aarti002 commented on #869
hey @tarun26091999 @rudrakshi99 under gssoc'21 can i work on this issue in python
Thank you!

[2021-03-14 10:54] Aarti002 commented on #878
hey @tarun26091999  under gssoc'21 can i work on this issue in python
Thank you!

[2021-03-14 10:54] Sweeti-Gupta opened #933 "Adding code for Bubble Sort Algorithm"
The code will arranged the list entered by the user in ascending order.

Example:
Input: 15, 45, 21,30, 12
Output: 12, 15, 21, 30, 45

Hey @rudrakshi99, I want to add this in 'Algo-Tree/Code/C++' as I didn't find it in C++ folder.So, I want to contribute the same as a part of GSSOC'21.Please assign this to me.
I have read all the contribution guidelines.

[2021-03-14 10:54] Aarti002 commented on #858
hey @tarun26091999 @rudrakshi99 under gssoc'21 can i work on this issue in python
Thank you!

[2021-03-14 10:55] Sathwika-02 commented on #921
Hi,
I am GSSOC'21 participant,
My code will be in python with proper comments and test cases.
@tarun26091999 @rudrakshi99 Please assign me this. Thankyou!!

[2021-03-14 10:58] Sathwika-02 commented on #907
Hi,
I am GSSOC'21 participant,
My code will be in java with proper comments and test cases.
@anubhavitis Please assign me this. Thankyou!!

[2021-03-14 11:03] Sathwika-02 commented on #901
Hi,
I am GSSOC'21 participant,
My code will be in python with proper comments and test cases.
@anubhavitis Please assign me this. Thankyou!!

[2021-03-14 11:05] simarjeet30 commented on #926
hey i am Simarjeet, gssoc 21 participant ,I want to do this work in c/c++/python.A neon number is a number where the sum of digits of square of the number is equal to the number. For example, if the input number is 9, its square is 9*9 = 81 and the sum of the digits is 9. i.e. 9 is a neon. please assign this work to me.

[2021-03-14 11:16] Sathwika-02 commented on #753
Hi,
I am GSSOC'21 participant,
My code will be in java with proper comments and test cases.
@anubhavitis Please assign me this. Thankyou!!

[2021-03-14 11:19] Sathwika-02 commented on #727
Hi,
I am GSSOC'21 participant,
My code will be in java with proper comments and test cases.
@anubhavitis Please assign me this. Thankyou!!

[2021-03-14 11:22] samya02 commented on #933
Hey, I want to contribute the same in the python folder. Please assign this task to me.
Thanks!

[2021-03-14 11:36] Aarushi3113 commented on #815
Kindly assign this issue to me.

[2021-03-14 11:48] Deeksha-Rawat opened #935 "Binary Search in Linked list(ggsoc)"
Hi I am a ggsoc participant and want to contribute to this repository.
I will solve a binary search in linked list using Python.
Please assign it to me.
Thank you!!!

[2021-03-14 11:51] DarthSalad opened #936 "Adding code and file for Greedy algorithm"
Hi, want to add file for an example of greedy algorithm(c++).
Please assign it to me.
This is regarding GSSOC 2021.

[2021-03-14 12:04] tarun26091999 commented on #627
do it in C++.

[2021-03-14 12:05] Suvojit-roy commented on #894
@machine-sg  i am already working on this one.Please do find some other issue to work on.

[2021-03-14 12:06] MaitriDA commented on #878
Hey!
I am a GSSoc'21 Participant. I would like to implement this problem in C++.
I would show the reversal of stack using 3 methods as mentioned below:
1) Using 2 stacks
2) Using 1 Stacks
3) Using Recursion

please assign me this issue.

[2021-03-14 12:14] tarun26091999 commented on #649
@dikshajoshi18 do it in C++.
@OnewayShruti do it in python.

[2021-03-14 12:44] #728 closed

[2021-03-14 12:44] tarun26091999 commented on #883
present at #381

[2021-03-14 12:44] #883 closed

[2021-03-14 13:12] tk315 opened #939 "Evaluation of prefix expression"
Would like to add an algorithm to evaluate prefix expression in C++.
Please assign this to me under gssoc2021.

[2021-03-14 13:40] pro-vider opened #944 "Infix to Postfix using Stack"
Hey, I want to add the code of Infix to Postfix( C ).
please assign it to me.
This is regarding to GSSOC'21

[2021-03-14 13:46] Amanduttbhagat commented on #936
Hello,
I want to add an example of greedy algorithm in java as a GSSoC 2021 participant
kindly assign me the issue

[2021-03-14 14:01] HitainKakkar commented on #944
I would like to contribute the code for Infix to Postfix in c++.
The code is ready.
Kindly assign it to me

[2021-03-14 14:06] HitainKakkar commented on #925
Greetings sir/Mam,
I would like to contribute the code for Merge Sort in Linked List.
The code is ready.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 14:07] HitainKakkar commented on #925
Greetings sir/Mam,
I would like to contribute the code to check if a given string is pangram or not in C++/CPP.
The code is ready.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 14:18] HitainKakkar commented on #936
Greetings sir/Mam,
I would like to contribute the code for greedy algorithm in C++/CPP.
The code is ready. I have added the code for merge sort in linked list , along with proper explanation of the algorithm of merge sort, test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 14:20] HitainKakkar commented on #936
Greetings sir/Mam,
I would like to contribute the code for greedy algorithm in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 14:20] HitainKakkar commented on #935
Greetings sir/Mam,
I would like to contribute the code for Binary Search in Linked list(ggsoc) #935 in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 14:21] HitainKakkar commented on #933
Greetings sir/Mam,
I would like to contribute the code for Bubble Sort Algorithm #933 in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 14:58] HitainKakkar commented on #932
Greetings sir/Mam,
I would like to contribute the code for search an element from rotated and sorted array #932 in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 14:59] HitainKakkar commented on #931
Greetings sir/Mam,
I would like to contribute the code for DP on Tree #931 in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 15:04] Anupreetadas opened #949 "Routing for graphs(Minimum Spanning Tree,Shortest path problem)"
Hi,
I am GSSOC'21 participant.
I would like to write the code for Kruskal's algorithm, Prim's algorithm for Minimum spanning tree and Bellman–Ford algorithm,Dijkstra's algorithm,Floyd–Warshall algorithm for Shortest path problem in c,c++.
Please assign it to me.

[2021-03-14 16:10] #579 closed

[2021-03-14 16:48] ayush461 opened #950 "WRONG SPELLING USED IN CONDUCT FILE"
@rudrakshi99 @Shruti3004 @todi-2000
I am participant of GSSOC21.
please allow me to correct the spellings of BEHAVIOUR, in conduct.md file

[2021-03-14 17:00] abhilashaRaj commented on #932
ya sure u can contribute

[2021-03-14 17:02] Riya764 opened #952 "Rainwater Trapping problem"
Hey! I would like to add Rainwater Trapping problem  using Java. Please assign me this work .

[2021-03-14 17:06] Amit366 commented on #55
@tarun26091999 @anubhavitis can I work on this issue using Java??

[2021-03-14 17:19] HitainKakkar commented on #486
Greetings sir/Mam,
I would like to contribute the code for Bubble Sort Algorithm #933 in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 17:23] amishaagarwal1998 commented on #952
Hi, I am mentor of Girlscript Community Website. I would like to add a C++ solution for this website

[2021-03-14 17:24] IShahnawazShaikh commented on #627
@tarun26091999 sir can i implement Java? I can implement in  C++ also.

[2021-03-14 17:28] snehasana opened #953 "Adding one to number represented as array of digits"
Given a non-negative number represented as an array of digits, add 1 to the number ( increment the number represented by the digits . The digits are stored such that the most significant digit is first element of array.

[2021-03-14 17:29] amishaagarwal1998 opened #954 "Find bridges in a tree [proposed labels - level2 gssoc21]"

[2021-03-14 17:30] amishaagarwal1998 commented on #954
Please assign this issue to me. I will add the code in cpp

[2021-03-14 17:33] shraiyya opened #955 "Bankers Algorithm in Java"
The banker algorithm used to avoid deadlock and allocate resources safely to each process in the computer system. This algorithm is used to test for safely simulating the allocation for determining the maximum amount available for all resources. It also checks for all the possible activities before determining whether allocation should be continued or not.

[2021-03-14 17:37] HitainKakkar opened #957 "Minimum Flips to make A OR B equal C | Bit Manipulation"
Greetings sir/Mam,
I would like to contribute the code this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

[2021-03-14 17:39] HitainKakkar opened #958 "Dutch National Flag Algorithm"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

[2021-03-14 17:44] Shulabh-968026 commented on #958
Dear sir/Mam,
I would like to contribute the code for this issue in Python.
I will added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

[2021-03-14 17:46] HitainKakkar opened #959 "Repeat and Missing Number in c++"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 17:47] HitainKakkar opened #960 "Merge two sorted Arrays without extra space"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 17:49] HitainKakkar opened #961 "Merge Overlapping Subintervals in array"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 17:51] HitainKakkar opened #962 "Find the duplicate in an array of N+1 integers."
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 17:52] HitainKakkar opened #963 "0-1 Knapsack"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 17:53] HitainKakkar opened #964 "Coin change problem | DP"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 17:55] HitainKakkar opened #965 "Greedy algorithm to find minimum number of coins"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 17:56] HitainKakkar opened #966 "Fractional Knapsack Problem"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 17:57] HitainKakkar opened #967 "greedy algorithm for Minimum number of platforms required for a railway problem"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 17:58] HitainKakkar opened #968 "Max consecutive ones problem"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 17:58] HitainKakkar opened #969 "Remove Duplicate from Sorted array"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 17:59] HitainKakkar opened #970 "Clone a Linked List with random and next pointer"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:00] HitainKakkar opened #971 "Trapping rainwater problem"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:01] HitainKakkar opened #972 "Rotate a LinkedList problem"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:02] HitainKakkar opened #973 "Flattening of a LinkedList problem"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:02] HitainKakkar opened #974 "Find the starting point of the Loop of LinkedList"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:03] HitainKakkar opened #975 "Check if a LinkedList is palindrome or not"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:04] HitainKakkar opened #976 "Reverse a LinkedList in groups of size k"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:05] HitainKakkar opened #977 "Detect a cycle in Linked List"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:05] HitainKakkar opened #978 "Add two numbers as LinkedList"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:06] HitainKakkar opened #979 "Delete a given Node when a node is given. (0(1) solution)"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:07] HitainKakkar opened #980 "Remove N-th node from back of LinkedList"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:07] HitainKakkar opened #981 "Merge two sorted Linked List"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:08] HitainKakkar opened #982 "4 Sum problem"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:08] HitainKakkar opened #983 "Majority Element (>N/2 times) array problem"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:10] vaibhav-c commented on #920
I would like to work on this. I will do it in c++ with proper comments and explanation in the provided O(log n) time. I will do this as a part of GSSoC 2021. Please assign it to me.

[2021-03-14 18:11] HitainKakkar opened #984 "Search in a 2D matrix"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:12] HitainKakkar opened #985 "Inversion of Array (Using Merge Sort)"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:13] HitainKakkar opened #986 "Pascal Triangle problem"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:18] HitainKakkar opened #987 "Fold a Linked List | Question"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:19] HitainKakkar opened #988 "Display and Size of Linked List | Question"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:20] HitainKakkar opened #989 "Get Value in Linked List | Question"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:21] HitainKakkar opened #990 "Add at Index in Linked List | Question"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:23] HitainKakkar opened #992 "Decimal to any Base | Question"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:24] HitainKakkar opened #993 "Any base to decimal | Question"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:25] HitainKakkar opened #995 "Any base to any base | Question"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:26] HitainKakkar opened #996 "Ceil and Floor - Question | Functions and Arrays"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:28] HitainKakkar opened #997 "Climbing Stairs - Dynamic Programming using Tabulation | Recursive Staircase Problem"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:29] HitainKakkar opened #998 "Minimum Cost Path - Question | Dynamic Programming"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:30] HitainKakkar opened #999 "Tiling with Dominoes Dynamic Programming"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:31] Diksha-11 opened #1000 "Array: Array sorting according another array."
Take an array as input then Sort the array according to the order of another array.
e.g. if array_1 is  3 8 9 9 8 3 7 & array_2 is  3 8 9 7

Then according array_2 , array_1 will be sorted as 3 3 8 8 9 9 7

I request maintainers  @plazzy99 @rudrakshi99 @nakul-19 @raksha009 @anjul2000 to allow me to this add this imp question to Algo Tree CodeC++

[2021-03-14 18:31] lucifer2502 commented on #998
I would like to contribute to this issue .
 I will implement this in C++ with proper comments , time complexity and space complexity.

[2021-03-14 18:32] HitainKakkar opened #1001 "Pass By Value, Pass By Reference Full Explanation | Data Structures Algorithms in C++"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:32] lucifer2502 commented on #983
I would like to contribute to this issue .
I will implement this in C++ with proper comments , time complexity and space complexity.

[2021-03-14 18:33] HitainKakkar opened #1002 "Prefix sum| Competitive Programming"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:36] HitainKakkar opened #1003 "Right Most Set Bit (RSB) Mask | Bit Masking"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:37] HitainKakkar opened #1004 "Kernighan's Algorithm | Count Set Bits in an Integer | Bit Manipulation"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:38] GarimaKhare15 commented on #203
Hi I'm a GSSoC'21 participant .I want to write code for this problem in Java. Please assign me this issue.

[2021-03-14 18:38] HitainKakkar opened #1005 "XOR of Sum of All Pairs in an Array | Bit Manipulation"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-14 18:38] lucifer2502 opened #1006 "Longest common substring"
I would like to add this problem to the Dynamic programming(DP) section.
I will implement the code in C++ with proper comments , time complexity, space complexity and test cases.

[2021-03-14 18:41] GarimaKhare15 commented on #189
I'm a GSSoC'21 participant and I would like to work on this issue in Java language. Please assign it to me.

[2021-03-14 18:41] lucifer2502 opened #1007 "Subset Sum - Wheather subset of given sum is present in an array or not."
I would like to add this problem Dynamic Programming Section(DP).
I will implement the code in C++ with proper comments, time complexity, space complexity and test cases.

[2021-03-14 18:44] GarimaKhare15 commented on #933
I'm a GSSoC'21 participant . I would like to add the code for Bubble Sort Algorithm in Python as well as Java. So, I request you to assign this to me.
@HitainKakkar @samya02 @Sweeti-Gupta @anubhavitis @dheerajkotwani

[2021-03-14 18:47] GarimaKhare15 commented on #857
I'm a GSSoC'21 participant . I would like to add code for row wise sum in python . I request you to asssign this to me.
@Ritikakatoch0128 @Simar05519 @dheerajkotwani @anubhavitis

[2021-03-14 19:24] tarun26091999 commented on #594
provide a efficient code
specify the language

[2021-03-14 19:25] tarun26091999 commented on #767
present at #594

[2021-03-14 19:25] #767 closed

[2021-03-14 19:25] tarun26091999 commented on #952
present at #594

[2021-03-14 19:25] #952 closed

[2021-03-14 19:25] tarun26091999 commented on #971
present at #594

[2021-03-14 19:25] #971 closed

[2021-03-14 19:33] tarun26091999 commented on #430
present at #83

[2021-03-14 19:33] #430 closed

[2021-03-14 19:33] tarun26091999 commented on #616
present at #83

[2021-03-14 19:33] #616 closed

[2021-03-14 19:34] tarun26091999 commented on #622
present at #83

[2021-03-14 19:34] #622 closed

[2021-03-14 19:35] anumshka opened #1009 "Standard Template Library[GSSOC'21]"
Hello,
Standard Template Library is a soul of C++ language.
I have a code that provides basics of vectors, maps and sets in C++.It would be a perfect guide for beginners in competitive programming.
Please assign this to me.
Thankyou.

[2021-03-14 19:40] tarun26091999 commented on #635
@pallavidhere23 do it in java
@Ayan-10 you cannot raise a PR until issue is assigned to you.

[2021-03-14 19:43] tarun26091999 commented on #795
present at #635

[2021-03-14 19:43] #795 closed

[2021-03-14 19:44] tarun26091999 commented on #800
present at #635

[2021-03-14 19:44] #800 closed

[2021-03-14 19:45] tarun26091999 commented on #868
present at #635

[2021-03-14 19:45] #868 closed

[2021-03-14 19:56] Ayan-10 commented on #635
Hey @tarun26091999 Sorry for that. Actually I had made another issue some months ago and I was told to make separate PR for this issue. So I think I will be assigned and I made the PR. It was a misunderstanding. Sorry for inconvenience. It will never happen again.

[2021-03-14 20:31] SalmaZakaria opened #1010 "Algorithms/Greedy/ActivitySelection [GSSOC'21]"
I want to Add a Greedy Problem Named "Activity Selection" with O(NlogN) Complexity in C++
There are not any Greedy Problems and I want to add this one in order to help people study Greedy Algorithms.
Please assign it to me.
Thank you very much

[2021-03-14 20:34] #98 closed

[2021-03-14 22:56] arnab031 commented on #144
I have added my BST Traversals code in python. #680 Please check it. @tarun26091999

[2021-03-15 01:49] Aj7t commented on #635
hi, I am a Gssoc'21 participant and  I want to work on the "Fibonacci series using recursion " in python.
could you please assign me?  @tarun26091999

[2021-03-15 02:48] Ayan-10 opened #1016 "DFS in java laguage"
Can I implement DFS in java language ?

[2021-03-15 03:42] Simar05519 commented on #635
I want to work on this issue. Please assign to me

[2021-03-15 03:51] kshithih commented on #404
Hello,
I am GSSOC'21 participant and i would like to work on this issue with proper testcases and comments.

[2021-03-15 03:53] kshithih commented on #513
Hello GSSOC'21 I would like to implement this issue in C.

[2021-03-15 03:54] kshithih commented on #853
hello GSSOC'21
I would like to implement this issue in C

[2021-03-15 04:06] HitainKakkar commented on #995
/assign

[2021-03-15 04:07] HitainKakkar commented on #995
/assign

[2021-03-15 04:08] HitainKakkar commented on #995
/assign

[2021-03-15 04:09] #995 closed

[2021-03-15 04:10] #358 closed

[2021-03-15 04:10] HitainKakkar opened #1017 "Any base to any base | Question"
Greetings sir/Mam,
I would like to contribute the code for this issue in C++/CPP.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

Regards,
Hitain Kakkar

[2021-03-15 04:10] #355 closed

[2021-03-15 04:10] HitainKakkar commented on #1017
/assign

[2021-03-15 04:12] Amanduttbhagat commented on #1002
Hello,
I would like to contribute to this issue in "Java" as a GSSoC 2021 participant
kindly assign me the issue

[2021-03-15 04:13] HitainKakkar commented on #1017
/assign

[2021-03-15 04:13] Amanduttbhagat commented on #1000
Hello,
I would like to contribute to this issue in "Java" as a GSSoC 2021 participant
kindly assign me the issue

[2021-03-15 04:19] HitainKakkar commented on #957
/assign

[2021-03-15 04:20] HitainKakkar commented on #1017
/assign

[2021-03-15 04:42] Mugdha-Hazra opened #1018 "Edit distance [GSSOC'21]"
**Edit distance**
 -------------
This algorithm finds the minimum number of edits that are required to convert string1 to string2.
Edit here means either insert, remove or replace.
The algorithm implemented here uses dynamic programming.

  **Time complexity**
 ---------------
    O(M*N), where M and N are the lengths of the two strings.

  **Space complexity**
 ----------------
    O(M*N), where

[2021-03-15 05:21] Jagruthi13 commented on #1007
Hey @tarun26091999 @rudrakshi99
I would like to do it in python.
could you please assign me this issue.

[2021-03-15 05:22] Jagruthi13 commented on #1006
Hey @tarun26091999 @rudrakshi99
I would like to do it in python.
could you please assign me this issue.

[2021-03-15 05:22] Jagruthi13 commented on #1005
Hey @tarun26091999 @rudrakshi99
I would like to do it in python.
could you please assign me this issue.

[2021-03-15 05:24] Jagruthi13 commented on #879
Hey @tarun26091999 @rudrakshi99
I would like to do it in python.
could you please assign me this issue.

[2021-03-15 05:25] Jagruthi13 commented on #860
Hey @tarun26091999 @rudrakshi99
I would like to do it in Java.
could you please assign me this issue.

[2021-03-15 05:46] drishika2002 commented on #871
Hello, I want to code this issue in C language under GSSOC'21.
Please assign this issue to me.

[2021-03-15 05:59] tarun26091999 commented on #792
@rudrakshi99 is this relevant to the repo?

[2021-03-15 05:59] drishika2002 commented on #857
Hello, I am a GSSOC'21 participant and I would like to code this in CPP.
Kindly assign this issue to me.

[2021-03-15 06:00] muthuannamalai12 commented on #944
I would love to solve this is in python. Kindly assign it to me.

[2021-03-15 06:02] tarun26091999 commented on #402
we are only dealing in C++, java and python

[2021-03-15 06:14] tarun26091999 commented on #874
all these issue are assigned already.

[2021-03-15 06:14] #874 closed

[2021-03-15 06:21] iaditichine commented on #716
@rudrakshi99 , I want to solve my issue using C++.Please assign it to me.

[2021-03-15 06:33] Vansh-Gupta4 commented on #1017
Greetings sir/Mam,
I would like to contribute the code for this issue in Java.
The code is ready. I have added the code , along with proper explanation of the algorithm , test cases , time complexity and space complexity of the same, as per the guidelines.
Kindly assign it to me.
This is regarding GSSOC'21.

[2021-03-15 06:35] Soham-Official opened #1023 "C : Kadanes's Algorithm"
Hey, I want to add the code of Kadane's Algorithm( C ).
please assign it to me.
This is regarding to GSSOC'21

[2021-03-15 06:40] muthuannamalai12 opened #1024 "Jump Search | Python"
I would love to add the Implementation of the Jump Search in Python. Kindly assign it to me

[2021-03-15 06:40] muthuannamalai12 commented on #1024
I would love to work on this issue as a part of Girl Script Summer Of Code. Kindly assign it to me.

[2021-03-15 06:43] muthuannamalai12 opened #1025 "Sleep Sort | C++"
I would love to add Add sleep sort program in C++ language.

[2021-03-15 06:44] muthuannamalai12 commented on #1025
I would love to work on this issue as a part of Girl Script Summer Of Code. Kindly assign it to me.

[2021-03-15 07:21] krishna-NIT commented on #402
@tarun26091999
I am not getting a response on my pull request, please tell me if any changes, or tell me if I am missing something on git coz I am new to git #717 #402

[2021-03-15 07:36] yashkumar7889 opened #1026 "Recursion | C++"
I am a GSSOC 2021 participant I would like to solve program for Recursion using C++. Please assign me this task.

[2021-03-15 07:37] krishna-NIT commented on #1005
Hi,
I am GSSOC'21 participant

My code will be in JAVA with proper comments and test cases.
@rudrakshi99 @nakul-19 @plazzy99 @tarun26091999  please assign me this issue

[2021-03-15 07:37] krishna-NIT commented on #993
Hi,
I am GSSOC'21 participant

My code will be in JAVA with proper comments and test cases.
@rudrakshi99 @nakul-19 @plazzy99 @tarun26091999  please assign me this issue

[2021-03-15 07:38] krishna-NIT commented on #983
Hi,
I am GSSOC'21 participant

My code will be in JAVA with proper comments and test cases.
@rudrakshi99 @nakul-19 @plazzy99 @tarun26091999  please assign me this issue

[2021-03-15 07:38] krishna-NIT commented on #977
Hi,
I am GSSOC'21 participant

My code will be in JAVA with proper comments and test cases.
@rudrakshi99 @nakul-19 @plazzy99 @tarun26091999  please assign me this issue

[2021-03-15 07:38] krishna-NIT commented on #965
Hi,
I am GSSOC'21 participant

My code will be in JAVA with proper comments and test cases.
@rudrakshi99 @nakul-19 @plazzy99 @tarun26091999  please assign me this issue

[2021-03-15 07:57] sayantani11 opened #1027 "Searching in Python (GSSoC'21)"
Will implement Binary Search and Linear Search using Python?
Please assign this issue to me

[2021-03-15 07:59] sayantani11 opened #1028 "Sorting in Python (GSSoC'21)"
Implement various kind of sort:
bubble sort
insertion sort
merge sort
wave sort and etc.
Please assign me this issue to me.

[2021-03-15 08:07] simarjeet30 commented on #1006
I will implement the code in C++ /C/python with proper comments , time complexity, space complexity and test cases.

[2021-03-15 08:09] simarjeet30 commented on #985
I would like to contribute the code for this issue in C++/C/python.
Kindly assign it to me.
This is regarding GSSOC'21.

[2021-03-15 08:22] tanyalava commented on #1018
I would really like to work on this issue . I am well aware of the topic and its time and space complexity and will try to write a clean code with all the comments and test cases included in C++. Please assign this to me.

[2021-03-15 08:25] tanyalava commented on #1009
Although STL is a vast topic, I will try to cover it in such a way that all of its sub topics gets covered with clean code and theory in C++ language.

[2021-03-15 08:49] priyamourya opened #1029 "Minimum characters to be inserted in beginning to make a string palindromic ."
Algorithm to find  minimum characters to be inserted in beginning to make a string palindromic.
for example:-
 string S = "ABC"
convert into S'="CBABC"(which is a palindrome)
result:- minimum number of operations are 2.
Language-c++.
Please assign it to me
@anubhavitis @dheerajkotwani @tarun26091999 @todi-2000 @geekquad

[2021-03-15 09:18] Aj7t commented on #1028
hi, I am a Gssoc'21 participant I want to work on "sorting"
I am comfortable in both python and C++.
please assign me this work.

[2021-03-15 09:19] anoushkagupta876 commented on #402
@tarun26091999 I would like to contribute to this in C++. If you could assign it to me. Thank you!

[2021-03-15 09:19] Aj7t commented on #1026
hi, I am a Gssoc'21 participant I want to work on "Recursion"
I am comfortable in both python and C++.
please assign me this work.

[2021-03-15 09:29] samar08 opened #1030 "Swapping nodes of a linked list"
Hi I am samar. I am a GSSOC 2021 participant. I want to implement code for swapping kth node from beginning and end of linkedlist.  I will provide proper documentation and comments to make it understandable for a newbie in coding. I will also follow proper code structure to make it easily understandable.
Thanks and regards
A.M.Samara simha reddy

[2021-03-15 10:03] mandepsingh commented on #1030
Hello, I am a participant of GSSoC'21. I can contribute to this issue.
Please assign me this task
Thank you!

[2021-03-15 10:03] mandepsingh commented on #1029
Hello, I am a participant of GSSoC'21. I can contribute to this issue.
Please assign me this task
Thank you!

[2021-03-15 10:04] mandepsingh commented on #1023
Hello, I am a participant of GSSoC'21. I can contribute to this issue.
Please assign me this task
Thank you!

[2021-03-15 10:32] alkatrivedi opened #1033 "Count of rotation in a sorted array"
In this, we are given a sorted array of n elements which has been rotated clockwise k number of times. Here we will output the number of times the given array has been rotated i.e., k.

Example -
Input:
n = 6
a[] = {6, 5, 4, 1, 2, 3}
Output: 3
Explanation: Since the sorted array is rotated 3 times.

I am a participant in GSSoC 2021. Can I work on this issue under GSSoC 2021? I would like to add th

[2021-03-15 10:38] kratimitra commented on #1029
Hey,
I am Krati Mitra (Discord username Krati(P)#8709), a GSSOC'21 participant.
I want to add the code for the issue "Minimum characters to be inserted in beginning to make a string palindromic . #1029".

The task is to add minimum characters in the front of a string to make it Palindromic.

Input is a string
Output is an integer

For example,
Example #1:
Given string = "def"
Output : 2
We can mak

[2021-03-15 10:53] ritikasharma99 commented on #1028
Hi I am GSSOC'21 participant. I would like to implement various sorting techniques in Java.

[2021-03-15 11:12] batul02 commented on #1028
Hi, I a GSSOC'21 participant. I would like to work on this issue. I am comfortable with python and have a decent knowledge of sorting algorithms. Please, assign me this issue.

[2021-03-15 11:33] SalmaZakaria opened #1034 "Find Kth Element in Two Sorted Arrays [GSSOC'21]"
Find Kth Element is a Divide and Conquer Problem with O(log N) complexity in C++
Please Assign it to me
Thank You Very Much

[2021-03-15 11:38] Karthik-Rams commented on #807
Hello admins, a gentle reminder. Request you to please assign this issue to me. @tarun26091999

[2021-03-15 12:18] Rajashri14 commented on #813
Hello , I would like to work upon this issue in java. Please assign this issue to me.

[2021-03-15 12:21] Rajashri14 commented on #1016
I would like to implement DFS in java. Please assign this issue to me.

[2021-03-15 12:26] HanyaAdel commented on #1007
I'm a GSSOC'21 participant and I would like to work on this issue in Java
I will write clean code and use proper comments.
Thank you,

[2021-03-15 12:26] Rajashri14 commented on #958
Hello  admin , I would like to contribute for this issue in java.
I will do this as per your guidelines. Please assign this issue to me.
This is regarding GSSOC'21.

[2021-03-15 12:29] Rajashri14 commented on #902
I would like to contribute on this issue . Please assign this issue to me.

[2021-03-15 12:31] AasthaGoyalgit commented on #314
@tarun26091999 I have made PR .Please review it and let me know if any changes are required.
Thanks!!

[2021-03-15 12:34] machine-sg commented on #374
Okay, thank you.

On Mon, 15 Mar 2021 at 11:40, Tarun Yadav ***@***.***> wrote:

[2021-03-15 12:37] Rajashri14 commented on #547
hello @Chirag018 , I want to contribute on this issue.
Please assign this issue to me.
This is regarding to GSSOC'21.

[2021-03-15 12:40] Rajashri14 commented on #547
Hello admin , I want to contribute on this issue.
I will do this as per your guidelines.
Please assign this issue to me.
This is regarding to GSSOC'21.

[2021-03-15 12:41] Rajashri14 commented on #544
Hello admin , I want to contribute on this issue.
I will do this as per your guidelines.
Please assign this issue to me.
This is regarding to GSSOC'21.

[2021-03-15 12:45] HanyaAdel opened #1035 "Generating Permutations of a String using BitMasking"
Hi, I'm a GSSOC'21 participant and I would like to write C++ code to find all permutations in a string using bit Masking.
I can write clean code with proper comments.
please assign this issue to me
thank you

[2021-03-15 13:08] Anushka0483 opened #1038 "Insertion in doubly linkedlist"
i would like to work on this issue using  **c++** please asssign this issue to me.

[2021-03-15 13:19] ayush78781 commented on #86
Hello Maintainers of the Project! @tarun26091999 Sir, @rudrakshi99 Mam, I am GSSoC'21 participant I would like to work over this issue in C , C++ or Python, please assign it to me. so that I could resolve it  as early as possible.

[2021-03-15 13:25] raj2289 opened #1039 "Iterative Code of Preorder and Postorder of Binary Tree"
please assign me this problem.

[2021-03-15 13:26] Ritu7683 opened #1040 "N-Queen Using Bitmasking Technique"
@rudrakshi99
Hii I want to work on this issue using C++ .Kindly assign this to me

[2021-03-15 14:15] yogitasaini opened #1043 "Reverse words in a String"
Example:-
input = I love Java
output = java love I

I  am a participant in GSSOC 2021. Can I work on this issue under GSSOC 2021? I would like to add the solution to this problem in java.

[2021-03-15 14:17] yogitasaini commented on #1034
please assign this task to me in java....under GSSOC 21

[2021-03-15 14:25] codeakki commented on #853
### HEY I Would like to Add an Algorithm
Under Gssoc'21 i Will implement printing level order traversal of tree in Spiral Form in java and C++.
Please assign this issue to me.

[2021-03-15 14:25] Grace-Hephzibah opened #1045 "Equal Stacks"
Problem statement:

You have three stacks of cylinders where each cylinder has the same diameter, but they may vary in height. You can change the height of a stack by removing and discarding its topmost cylinder any number of times.

Find the maximum possible height of the stacks such that all of the stacks are exactly the same height. This means you must remove zero or more cylinders from the top

[2021-03-15 14:26] Grace-Hephzibah commented on #1045
Can you asssign this to me ?
GSSOC participant

[2021-03-15 14:27] Vishal-Singh-1996 commented on #635
@tarun26091999 Pls assign it to me I want to do it in Java or python..

[2021-03-15 14:28] gaurav260702 commented on #1026
HI, I am a GSSOC 2021 participant and I want to solve an issue on "RECURSION" using C++.
please assign me this task.

[2021-03-15 14:29] ANSHIKA1806 commented on #1043
PLEASE ASSIGN THIS TO ME.
I'M 5 STAR JAVA CODER AT HACKERRANK.

[2021-03-15 14:30] ANSHIKA1806 commented on #1038
I would love to contribute on this issue please assign this to me.

[2021-03-15 14:32] ANSHIKA1806 commented on #1027
please assign this to me.
I'm 3 star coder at HackerRank in python

[2021-03-15 14:33] sanskruti-shahu opened #1046 "Conversion of Binary Number to Decimal Number in C++"
Hey I am GSSOC'21 Participant and I have read the Contributing Guidelines.
I want to propose a program in which Binary Number (up to 10 digits) will be given as input and in output we get the number in its Decimal form.
Example: Input 1000 Output 8
Please assign me this issue.

[2021-03-15 14:33] ANSHIKA1806 commented on #1033
I'm a GSSOC'21 participant and I would like to work on this issue.
I will write clean code and use proper comments.
Thank you.

[2021-03-15 14:34] ANSHIKA1806 commented on #1026
I'm a GSSOC'21 participant and I would like to work on this issue in C++.
I will write clean code and use proper comments.
Thank you,

[2021-03-15 14:34] ANSHIKA1806 commented on #1025
I'm a GSSOC'21 participant and I would like to work on this issue in C++.
I will write clean code and use proper comments.
Thank you,

[2021-03-15 14:35] ANSHIKA1806 commented on #1006
I'm a GSSOC'21 participant and I would like to work on this issue in C++.
I will write clean code and use proper comments.
Thank you.

[2021-03-15 14:35] codeakki opened #1047 "hungarian-Algorithm"
### Hungarian-Algorithm

The Hungarian method is a combinatorial optimization algorithm that solves the assignment problem in polynomial time and which anticipated later primal-dual methods.

[2021-03-15 14:36] ANSHIKA1806 commented on #944
I'm a GSSOC'21 participant and I would like to work on this issue in C++.
I will write clean code and use proper comments.
Thank you.

[2021-03-15 14:36] codeakki commented on #1047
Under Gssoc21 I want to Contribute in this issue in c++  Please assign this issue to me ....And also add gssoc21 label

[2021-03-15 14:37] ANSHIKA1806 commented on #828
I'm a GSSOC'21 participant and I would like to work on this issue in C++.
I will write clean code and use proper comments.
Thank you.

[2021-03-15 14:40] amritakesh commented on #1043
I'M FLUENT IN C++ , JAVA AND PYTHON.
PLEASE ASSIGN THIS TO ME . I'M A GSSoC 2021 PARTICIPANT