[2021-05-09 10:53] neha07kumari commented on #1894
Please assign it to me . @nakul-19 @raksha009 @rish-singhal @yasharth291

[2021-05-09 12:37] Rohan27s commented on #1891
@Sarthak-9 @Srishti013 done

[2021-05-09 14:55] Bhumika2409 commented on #1893
Please assign this to me in java

[2021-05-09 15:28] Srishti013 commented on #1893
Please assign this to me in Python.

[2021-05-09 15:28] Srishti013 commented on #1894
Please assign this to me in Python

[2021-05-09 17:57] Aj7t commented on #635
hello @tarun26091999 thank you for assigning me this.
i will update asap.

plz assign me again, I have been removed mistakenly

[2021-05-09 18:18] Manya1609 commented on #491
Hey, I'm Manya, a GSSOC'21 Participant!!...I would like to work on this issue...I would be contributing by explaining the concept and the code in C++....can you please assign me this issue??

[2021-05-09 18:24] Manya1609 commented on #1660
Hey, I'm Manya, a GSSOC'21 Participant!!...I would like to work on this issue...I would be contributing by explaining the concept and the code in C++....can you please assign me this issue??

[2021-05-09 19:18] tarun26091999 commented on #1285
present at #513

[2021-05-09 19:18] #1285 closed

[2021-05-09 19:24] tarun26091999 commented on #1278
present at #279

[2021-05-09 19:24] #1278 closed

[2021-05-09 19:25] tarun26091999 commented on #279
@Upasana1216 language ?

[2021-05-09 19:29] tarun26091999 commented on #1208
#144

[2021-05-09 19:29] #1208 closed

[2021-05-09 19:33] tarun26091999 commented on #1207
#511

[2021-05-09 19:33] #1207 closed

[2021-05-09 19:36] tarun26091999 commented on #511
specify the language, C++ and java available.

[2021-05-09 19:50] tarun26091999 commented on #749
https://github.com/Algo-Phantoms/Algo-Tree/issues/747#issuecomment-805916869

[2021-05-10 05:51] #1764 closed

[2021-05-10 05:52] U-c0de commented on #1698
@plazzy99  Assign me this

[2021-05-10 06:24] Mugdha-Hazra commented on #1891
I want to implement using java

[2021-05-10 09:01] Amulya310 commented on #1894
please assign it to me in C++

[2021-05-10 12:33] khusheekapoor opened #1900 "Happy Number in Java"
**Is your feature request related to a problem? Please describe.**
This program checks whether a given number is a happy number or not.

**Describe the solution you'd like**
A happy number is a number which eventually reaches 1 when replaced by the sum of the square of each digit.

**Do you want to work on it**
I would like to work on this issue using Java as a GSSoC'21 participant under the Numbe

[2021-05-10 15:07] AmarKamalapuri opened #1902 "Pattern Searching using a Trie of all Suffixes"
I want to add a program of Pattern Searching using a Trie of all Suffixes

I am a GSSOC participant. Can u please assign this issue to me?
@aaadddiii @anubhavitis @veenit1802 @ssaksham @malavikarajeshvikraman

[2021-05-10 17:57] vanshikachokhani opened #1904 "Trapping Rain Water"
**Is your feature request related to a problem? Please describe.**
Given an array of n non-negative integers representing an elevation map where the width of each bar is 1, compute how much water it can trap after raining.

**Describe the solution you'd like**
I will use a dynamic programming approach .

**Do you want to work on it**
I am a Gssoc'21 participant and will contribute the code in C++.

[2021-05-10 17:58] ayush78781 commented on #1152
Hey! @tarun26091999 I would like to work over this issue in C++. Kindly assign it to me.

[2021-05-10 18:30] ayush78781 commented on #805
Hey! @OjusWiZard I would like to work over this issue in C++. Please assign it to me.

[2021-05-10 18:34] ayush78781 commented on #807
Hey! @OjusWiZard @tarun26091999 @rudrakshi99 I would like to work over this issue in C++. Please assign it to me.

[2021-05-10 18:38] ayush78781 commented on #679
Hey! @tarun26091999 @rudrakshi99 I would like to work over this issue in C++. Please assign it to me.

[2021-05-10 18:41] ayush78781 commented on #658
Hello @tarun26091999 I would like to work this issue in C++. Please assign it to me.

[2021-05-10 21:42] HarshaKumar23 commented on #1881
PLease assign in c++

[2021-05-10 21:44] HarshaKumar23 commented on #1886
Assign in c++

[2021-05-10 21:47] HarshaKumar23 commented on #1157
Please assign @tarun26091999 @Rewangi @Srishti013

[2021-05-10 21:48] HarshaKumar23 commented on #1859
Please assign this to me @version0chiro

[2021-05-10 21:50] HarshaKumar23 commented on #1888
please assign to me

[2021-05-11 05:08] vanshikachokhani opened #1906 "Unique Paths"
**Is your feature request related to a problem? Please describe.**
Find the number of unique paths if an ant wants to go from top left corner of a m*n matrix to the bottom right corner and it can move either right or down at any point of time. Some obstacles are there is the matrix i.e the cells which the ant cannot visit.
The obstacles and space are marked as 1 and 0 respectively in the grid. Fin

[2021-05-11 06:32] siddharth-bhatnagar opened #1907 "N Queens"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Do you want to work on it**
Yes, I am a GSSOC'21 participant. I will implement the algorithm in Java.

Please assign this to me @nakul-19 @raksha009 @plazzy99 @tarun26091999 @rish-singhal @yasharth291 @Rohan27s @rudrakshi99

[2021-05-11 06:32] siddharth-bhatnagar commented on #1886
Please assign this to me @nakul-19 @raksha009 @plazzy99 @tarun26091999 @rish-singhal @yasharth291 @Rohan27s @rudrakshi99

[2021-05-11 06:33] siddharth-bhatnagar commented on #1885
Please assign this to me @nakul-19 @raksha009 @plazzy99 @tarun26091999 @rish-singhal @yasharth291 @Rohan27s @rudrakshi99

[2021-05-11 08:13] Srishti013 commented on #1902
Please assign this to me in C++ or Python.

[2021-05-11 08:14] Srishti013 commented on #1904
Please assign this to me in Python

[2021-05-11 08:14] Srishti013 commented on #1906
Please assign this to me in Python

[2021-05-11 08:20] Srijan0519 commented on #1374
Hi
I would like to solve this issue using java. Please assign me.

[2021-05-11 09:17] earnsans opened #1909 "Count the triplets"
Given an array of distinct integers. The task is to count all the triplets such that sum of two elements equals the third element.
Can provide the solution in C++, python and Java.
Can you please assign this issue to me.

[2021-05-11 11:19] kashika0112 opened #1910 "Add GetMazePaths in Recursion(Algorithms) Folder in C++(GSSOC'21)"
**Is your feature request related to a problem? Please describe.**
The problem to be added is printing the various paths to reach a destination from a source in a maze(matrix) provided one horizontal or vertical step at a time.

**Describe the solution you'd like**
The solution l would like to add would print an array of paths possible to reach the destination. For example, it will print-[hv, vh]

[2021-05-11 12:17] khusheekapoor opened #1911 "Evil Number in Java"
**Is your feature request related to a problem? Please describe.**
This program checks whether a given number is an evil number or not.

**Describe the solution you'd like**
An evil number is a non-negative number that has an even number of 1s in its binary expansion.

**Do you want to work on it**
I would like to work on this issue using Java as a GSSoC'21 participant under the Number Theory cate

[2021-05-11 16:49] iaryangoyal commented on #1909
please assign me this in python

[2021-05-11 17:45] Srishti013 commented on #1909
Please assign this to me in Java

[2021-05-11 17:46] Srishti013 commented on #1910
Please assign this to me in Python

[2021-05-11 17:47] Srishti013 commented on #1911
Please assign this to me in C++

[2021-05-11 17:47] theanshulcode commented on #1891
Please assign this to me in C++

[2021-05-11 17:47] theanshulcode commented on #1882
Please assign this to me in C++

[2021-05-11 17:48] theanshulcode commented on #1881
Please assign this to me in C++.

[2021-05-11 17:50] theanshulcode commented on #1834
Plz assign me this issue.

[2021-05-11 17:51] theanshulcode commented on #1818
Plz assign me this issue.

[2021-05-11 17:53] theanshulcode commented on #1742
I would like to implement it in C++, Python.

[2021-05-11 17:54] theanshulcode commented on #1580
I would like to work on this issue. Please assign this issue to me.

[2021-05-12 05:18] ainy-123 commented on #1869
@Rohan27s @plazzy99 please assign this to me ,so that I will start working on it. It's already been 7 days  since I created the issue.

[2021-05-12 05:24] Khushi-agarwal commented on #1604
@Rohan27s please assign it to me.

[2021-05-12 10:14] Mugdha-Hazra commented on #1909
plz assign me in c++

[2021-05-12 10:32] Srishti013 commented on #1893
@nakul-19 please add labels for GSSOC

[2021-05-12 10:32] iaryangoyal commented on #1906
Please assign this to me in Python

[2021-05-12 11:09] ShambhaviSharma0110 opened #1914 "Remove duplicates in array - in place"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.
We are given an array of repeating numbers and we are supposed to remove the duplicates without using any extra space

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
I would like to solve this question using two pointers withou

[2021-05-12 12:06] khusheekapoor opened #1916 "Harshad or Niven number in Java"
**Is your feature request related to a problem? Please describe.**
This program checks whether a given number is a harshad/ niven number or not.

**Describe the solution you'd like**
Harshad/ Niven Number is an integer that is divisible by the sum of its digits.

**Do you want to work on it**
I would like to work on this issue using Java as a GSSoC'21 participant under the Number Theory category.

[2021-05-12 12:48] aaadddiii opened #1917 "Hashtable chaining and linear probing"
**Is your feature request related to a problem? Please describe.**
Hashtables are an important concept in data structures, It has a huge number of applications . Linear probing and hashtable chaining are two collision resolution techniques used in hashtables.

**Describe the solution you'd like**
Collision resolution is very important in hashtables as there is high chance that 2 keys might have th

[2021-05-12 14:12] RYzen-009 opened #1918 "Leader Array"
**Is your feature request related to a problem? Please describe.**
We need to find all the leader elements from the given array.

**Describe the solution you'd like**
I would like to solve the problem using C++ in O(n) time complexity

**Do you want to work on it**
I would implement this question using C++.

[2021-05-12 14:12] RYzen-009 commented on #1918
/assign

[2021-05-12 15:13] U-c0de opened #1919 "Count of Groups"
**Is your feature request related to a problem? Please describe.**
The task is to find the number of groups having the largest size.

**Describe the solution you'd like**
 Each number from 1 to N is grouped according to the sum of its digits. Using sum of digits logic

**Do you want to work on it**
 Yes assign me this issue in C++

[2021-05-12 15:13] U-c0de commented on #1919
@tarun26091999 @Rohan27s @plazzy99 @yasharth291
Assign me this

[2021-05-12 15:37] Palakgupta0908 commented on #1660
I would like to contribute to the above code in Java . Kindly assign this to me. Thanks.

[2021-05-12 15:37] Srishti013 commented on #1914
Please assign this to me in C++ or Python

[2021-05-12 15:38] Srishti013 commented on #1916
Please assign this to me in C++.

[2021-05-12 15:38] Srishti013 commented on #1917
Please assign this to me in Python

[2021-05-12 15:38] Palakgupta0908 commented on #1666
I would like to contribute to the above code in java. Kindly assign this to me. Thanks.

[2021-05-12 15:39] Srishti013 commented on #1918
Please assign this to me in Python and Java

[2021-05-12 15:39] Srishti013 commented on #1919
Please assign this to me in Python and Java

[2021-05-12 15:41] Palakgupta0908 commented on #1033
I would like to contribute to the above code in java. Kindly assign this to me. Thanks.

[2021-05-12 15:43] Palakgupta0908 commented on #847
I would like to contribute to the above code in java . Kindly assign this to me. Thanks.

[2021-05-12 15:44] Palakgupta0908 commented on #828
I would like to contribute to the above code in java . Kindly assign this to me. Thanks.

[2021-05-12 15:45] Palakgupta0908 commented on #777
I would like to contribute to the above code in java . Kindly assign this to me. Thanks.

[2021-05-12 15:47] Palakgupta0908 commented on #442
I would like to contribute to the above code in java . Kindly assign this to me. Thanks.

[2021-05-12 15:48] Palakgupta0908 commented on #440
I would like to contribute to the above code in java . Kindly assign this to me. Thanks.

[2021-05-12 15:49] Palakgupta0908 commented on #195
I would like to contribute to the above code in java . Kindly assign this to me. Thanks.

[2021-05-12 15:50] Palakgupta0908 commented on #164
I would like to contribute to the above code in java . Kindly assign this to me. Thanks.

[2021-05-12 15:51] Palakgupta0908 commented on #128
I would like to contribute to the above code in java . Kindly assign this to me. Thanks.

[2021-05-12 15:51] Palakgupta0908 commented on #402
I would like to contribute to the above code in java . Kindly assign this to me. Thanks.

[2021-05-12 15:52] Palakgupta0908 commented on #398
I would like to contribute to the above code in java . Kindly assign this to me. Thanks.

[2021-05-12 16:16] U-c0de commented on #1918
Please assign this to me in Python
@Rohan27s @rish-singhal

[2021-05-12 16:16] U-c0de commented on #1911
Please assign this to me in python

[2021-05-12 16:17] U-c0de commented on #1907
Please assign this to me in  python @Rohan27s @yasharth291 @rish-singhal

[2021-05-12 16:18] U-c0de commented on #1906
Please assign this to me in java

[2021-05-12 16:18] U-c0de commented on #1916
Please assign this to me in python

[2021-05-12 17:48] Rajashri14 opened #1920 "Creation of Graph"
**Is your feature request related to a problem? Please describe.**
The task is to create graph using adjacency matrix and adjacency list .

**Do you want to work on it**
Yes .I want to work on this issue in Java .

[2021-05-12 17:49] Rajashri14 commented on #1920
Please assign this issue to me.

[2021-05-13 03:37] prachi2399 commented on #1920
I want to work on this issue in java , Please assign me @rudrakshi99 @raksha009

[2021-05-13 08:28] Srishti013 commented on #1920
Please assign this to me in C++.

[2021-05-13 09:12] Rohan27s commented on #1891
@theanshulcode Already assigned in every language, if the assigned person will not pull pr in next 5 days then I will assign it to you

[2021-05-13 11:36] vriddhi1203 commented on #1891
@Rohan27s can you pls assign this task to me, I would like to implement it in C++. Thanks

[2021-05-13 12:07] Sarthak-9 commented on #1891
I am working on it. I'll make a PR today.

[2021-05-13 13:40] vriddhi1203 opened #1922 "Sliding Window Maximum Problem using Heap data structure"
**Is your feature request related to a problem? Please describe.**
The problem to be added is Sliding Window Maximum where an array and an integer K is given and we've to find the maximum for each and every contiguous subarray of size K.

**Describe the solution you'd like**
I would like to solve this question using Max-Heap approach. The element of the current window will be stored in the Max-Hea

[2021-05-13 13:48] vriddhi1203 commented on #1922
Please assign this issue to me, @nakul-19 @Rohan27s  @rudrakshi99 @shreyanspoddar  @OjusWiZard  @plazzy99  @yasharth291 . I would want to implement it in c++.

[2021-05-13 14:23] khusheekapoor opened #1924 "Smith Number in Java"
**Is your feature request related to a problem? Please describe.**
This program checks whether a given number is a smith number or not.

**Describe the solution you'd like**
A smith number is a composite number, the sum of whose digits is the sum of the digits of its prime factors obtained as a result of prime factorization (excluding 1).

**Do you want to work on it**
I would like to work on this

[2021-05-13 18:03] aadya7104 opened #1925 "Row wise sum in 2D array"

[2021-05-13 19:26] tanyagupta0201 opened #1926 "DNF Sort (Dutch National Flag)"
DNF sort is used to sort an array of 0, 1, and 2's in linear time that does not consume any extra space.

I would like to contribute its code in C++.
Kindly assign this problem to me.
@rudrakshi99 @tarun26091999 @plazzy99  @nakul-19 @raksha009 @anjul2000

[2021-05-14 05:36] siddharth-bhatnagar commented on #1926
Please assign this to me in Java @rudrakshi99 @tarun26091999 @plazzy99 @nakul-19 @raksha009 @anjul2000 @Rohan27s

[2021-05-14 05:37] siddharth-bhatnagar commented on #1910
Please assign this to me in Java

[2021-05-14 05:42] Srishti013 commented on #1922
Please assign this to me in Python.

[2021-05-14 05:42] Srishti013 commented on #1924
Please assign this to me in C++

[2021-05-14 05:42] Srishti013 commented on #1925
Please assign this to me in C++

[2021-05-14 05:43] Srishti013 commented on #1926
Please assign this to me in Python

[2021-05-14 05:48] Bhumika2409 commented on #1862
@plazzy99 my PR has been merged but the labels are not put so can you please mention the required labels

[2021-05-14 06:46] vanshikachokhani opened #1927 "M-coloring problem"
**Is your feature request related to a problem? Please describe.**
If we are given a undirected graph and an integer M. The task is to determine that the graph can be coloured with at most M colors such that no two adjacent vertices of the graph are colored with same color.

**Describe the solution you'd like**
I will use a backtarcking approach to solve the problem.

**Do you want to work on it**

[2021-05-14 07:35] Bhumika2409 commented on #1927
Please assign this to me in java

[2021-05-14 11:36] vanshikapandey opened #1928 "Implementation of Kruskals Algorithm in C++ to find Minimum Spanning Tree"
**Is your feature request related to a problem? Please describe.**
I would like to implement one of the most asked problems of finding Minimum Spanning Tree using Kruskals Algorithm

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
I would be including a proper description of the problem with all the necessary details and will then be coding the solu

[2021-05-14 13:21] khusheekapoor opened #1929 "Pig Latin Convertor in Java"
**Is your feature request related to a problem? Please describe.**
The program will convert all the words in a string to pig latin.

**Describe the solution you'd like**
In Pig Latin -
words starting with consonant - take the consonant cluster and move it to the end of the word, adding the suffix - 'ay'.
words starting with vowel - add the suffix 'hey' to the word

**Do you want to work on it**
I

[2021-05-14 14:04] Srishti013 commented on #1927
Please assign this to me in Python

[2021-05-14 14:04] Srishti013 commented on #1928
Please assign this to me Python

[2021-05-14 14:04] Srishti013 commented on #1929
Please assign this to me in C++

[2021-05-14 16:14] Bhumika2409 commented on #1928
Please assign this to me in Java

[2021-05-14 16:41] Anushka0483 commented on #1819
i would like to work on this in python. please assign this to me @rish-singhal @aaadddiii @Srishti013 .

[2021-05-14 17:55] vriddhi1203 commented on #1759
@vanshikachokhani  @OjusWiZard  @Rohan27s Please assign me this task. I would like to implement it in C++.

[2021-05-14 18:01] vriddhi1203 commented on #1738
Hello @nidhivanjare  @shubhidua, I would like to work on this problem and give its solution in C++. Please assign me this issue. Thankyou!

[2021-05-14 18:03] vriddhi1203 commented on #1735
Hello @shubhidua @Mugdha-Hazra @Srishti013 , I would like to work on this issue and give its solution in C++. Please assign it to me, I'm a GSSOC'21 participant

[2021-05-15 01:02] Sakshi1007 opened #1930 "Matrix multiplication in cpp"
**Is your feature request related to a problem? Please describe.**
It is problem of backtracking.

**Describe the solution you'd like**
In this problem, instead of focusing on how to multiply two matrix. We find that how many steps will be required to calculate multiplication of the matrices.

**Do you want to work on it**
Yes, i want to work on this problem in c language.

[2021-05-15 01:03] Sakshi1007 commented on #1930
/assign

[2021-05-15 04:23] neha07kumari opened #1931 "Sliding Window Technique using hashing"
**Is your feature request related to a problem? Please describe.**
Problem statement: Sliding Window Technique using Hashing.

**Do you want to work on it**
I will solve this problem using hashing in C++.

[2021-05-15 04:24] neha07kumari commented on #1931
Please assign it to me @nakul-19 @raksha009 @rish-singhal @yasharth291

[2021-05-15 06:27] nancy0119 opened #1932 "GSSOC-Replace with sum of larger in BST"
**Is your feature request related to a problem? Please describe.**
The problem is-Replace with the sum of larger in BST. Basically, we need to replace the node's data with the sum of larger nodes in BST.

**Describe the solution you'd like**
This problem can be solved by using reverse inorder traversal and by creating global variables.

**Do you want to work on it**
I'm a GSSOC participant. I will

[2021-05-15 10:21] khusheekapoor opened #1934 "Dudeney Number in Java"
**Is your feature request related to a problem? Please describe.**
This program will check whether the number input is a dudeney number or not.

**Describe the solution you'd like**
A Dudeney number is a positive integer that is a perfect cube such that the sum of its digits is equal to the cube root of the number.

**Do you want to work on it**
I would like to work on this issue using Java as a G

[2021-05-15 11:44] Bhumika2409 commented on #1934
Please assign this to me in C++

[2021-05-15 11:46] Bhumika2409 commented on #1931
Please assign this to me in java

[2021-05-15 16:23] Srishti013 commented on #1930
Please assign this to me in Python

[2021-05-15 16:24] Srishti013 commented on #1931
Please assign this to me in Python

[2021-05-15 16:25] Srishti013 commented on #1932
Please assign this to me in C++

[2021-05-15 16:25] Srishti013 commented on #1934
Please assign this to me in Python

[2021-05-15 18:31] Bhumika2409 opened #1935 "Pancake Sort"
**Is your feature request related to a problem? Please describe.**
It's a good solution to solve the mathematical problems. It is an important sorting technique using flip operation
analogous to flipping pancakes.
**Do you want to work on it**
Yes, I want to work on it in C++

[2021-05-15 18:37] Bhumika2409 commented on #1935
@plazzy99 @rudrakshi99 @nakul-19 @raksha009 @rish-singhal @Rohan27s @yasharth291 please assign this issue to me

[2021-05-15 18:51] Mugdha-Hazra commented on #1894
plz assign me this in java @nakul-19 @aaadddiii

[2021-05-16 06:27] Srishti013 commented on #1935
Please assign this to me in Python

[2021-05-16 08:06] tarun26091999 commented on #1907
#491

[2021-05-16 08:06] #1907 closed

[2021-05-16 08:09] tarun26091999 commented on #1926
present at #877 you can ask there

[2021-05-16 08:09] #1926 closed

[2021-05-16 08:55] Srishti013 commented on #877
Please assign this to me  in C++ or python

[2021-05-16 08:56] Srishti013 commented on #491
Please assign this to me in python

[2021-05-16 12:12] #1134 closed

[2021-05-16 14:39] siddharth-bhatnagar commented on #877
Please assign this to me in Java

[2021-05-16 19:05] tarun26091999 commented on #1935
#1059

[2021-05-16 19:05] #1935 closed

[2021-05-16 19:13] Srishti013 commented on #1059
Please assign this to me in Python

[2021-05-17 05:13] Bhumika2409 opened #1938 "Gnome Sort"
**Is your feature request related to a problem? Please describe.**
Gnome Sort is a sorting algorithm that arranges all the elements in their correct positions by means of a series of swaps in a single loop.

**Do you want to work on it**
I will write the code in C++

[2021-05-17 05:14] Bhumika2409 commented on #1938
@plazzy99 @rudrakshi99 @nakul-19 @raksha009 @rish-singhal @Rohan27s @yasharth291 please assign this issue to me

[2021-05-17 07:10] iaryangoyal commented on #1938
@plazzy99 @rudrakshi99 @nakul-19 @raksha009 @rish-singhal @Rohan27s @yasharth291 please assign this issue to me in python

[2021-05-17 08:32] tarun26091999 commented on #374
@sudhansukinng do it in java soon

[2021-05-17 08:53] tarun26091999 commented on #317
all PRs merged.

[2021-05-17 08:53] #317 closed

[2021-05-17 09:12] Ashishsingh619 opened #1939 "I want to implement Kadane's algorithm"

[2021-05-17 11:51] saniaarora15 commented on #1924
Please assign it to me in python. I am a gssoc participant.

[2021-05-17 15:47] tanyagupta0201 commented on #877
Please Assign this issue to me in C++

[2021-05-18 09:38] sahuaman83 commented on #841
@OjusWiZard
sir, please review my PR.

[2021-05-18 10:44] Srishti013 commented on #1938
Please assign this to  me in Java

[2021-05-18 11:39] vanshikachokhani commented on #834
I would like to contribute to the above problem in C++.Please assign it to me under Gssoc21  @nakul-19 @raksha009 @plazzy99 @tarun26091999 @rish-singhal @yasharth291 @Rohan27s @rudrakshi99

[2021-05-18 13:47] Rohan27s commented on #834
@shubhidua It is already assigned in JAVA.

[2021-05-18 13:48] Rohan27s commented on #834
@vanshikachokhani Done

[2021-05-18 15:39] vriddhi1203 commented on #1922
@plazzy99  @rudrakshi99  @nakul-19  @tarun26091999  @OjusWiZard  @shreyanspoddar  @raksha009  @anjul2000 @rish-singhal  Please assign me this project in C++. Thankyou

[2021-05-18 15:53] U-c0de opened #1946 "Decagonal Number"
Description of the problem
A decagonal number is a figurate number that extends the concept of triangular and square numbers to the decagon (a ten-sided polygon).

Example of the problem
The n-th decagonal number is given by the formula D(n)=4n2-3n; The first few decagonal numbers are: 0, 1, 10, 27, 52

Assign me in Python @Rohan27s @rish-singhal @tarun26091999 @yasharth291

[2021-05-18 17:42] Rajashri14 opened #1947 "Check if given undirected graph is strongly connected or not ?"
Check whether the given undirected graph is strongly connected or not ?

Strongly connected undirected graph - means that every vertex can reach every other vertex via any path.

Solution -
1) To perform Depth–first search (DFS) or Breadth–first search (BFS) starting from every vertex in the graph.
2) If each DFS/BFS call visits every other vertex in the graph, then the graph is strongly connected

[2021-05-18 19:23] Srishti013 commented on #1946
Please assign this to me in C++

[2021-05-18 19:23] Srishti013 commented on #1947
Please assign this to me in C++

[2021-05-18 23:01] chicken-biryani opened #1948 "Binary to Gray Code, Bit Manipulation, Python"
**Is your feature request related to a problem? Please describe.**
Convert binary code to gray code in Python.

**Describe the solution you'd like**
The solution will take a string of a binary code and convert it to gray code. It will use the traditional algorithm.

**Do you want to work on it**
Yes, Python

[2021-05-18 23:11] chicken-biryani commented on #1948
I would like to work on this under gssoc'21.

[2021-05-19 05:23] prakharshreyash15 commented on #1947
Please assign to me in Python

[2021-05-19 06:36] Srishti013 commented on #1948
Please assign this to me in C++

[2021-05-19 14:09] ali-john commented on #1784
Hi. I would like to solve the problem. Can yu assign this to me?

[2021-05-20 02:54] 20394ViraM commented on #1900
Hi, You can assign it to me. I have already written this program on leet.

[2021-05-20 10:48] shubhidua commented on #683
@Rohan27s #1817 has been reviewed and approved by @yasharth291.Kindly merge it. Thanks

[2021-05-20 14:43] aman7100 commented on #1819
i would like to work on it in C++.Please assign it to me @rish-singhal .

[2021-05-20 14:45] aman7100 commented on #1024
Hi, I am a GSSOC'21 participant. I would like to solve this issue in C++. Please assign it to me @tarun26091999

[2021-05-20 14:48] aman7100 commented on #826
Can i work on this issue in Java.PLease assign it to me @OjusWiZard

[2021-05-20 15:11] Simi06 commented on #1939
Can i Work on this issue?

[2021-05-20 15:13] Simi06 commented on #1931
please assign this to me, i'll provide a well optimised code in Cpp.
@nakul-19 @raksha009 @yasharth291

[2021-05-20 19:28] tarun26091999 commented on #635
@Aj7t do it soon

[2021-05-20 19:32] tarun26091999 commented on #732
python and C++ available.

[2021-05-21 04:41] ayush78781 commented on #658
Hii! @tarun26091999  please assign me this issue as soon as possible. I would like to work over it python, C++.

[2021-05-21 20:17] muskan26062000 commented on #1948
Please assign this issue to me in C++

[2021-05-21 20:20] muskan26062000 commented on #1914
Please assign this to me in C++

[2021-05-21 20:27] muskan26062000 commented on #1701
Please assign this issue to me in C++

[2021-05-21 20:28] muskan26062000 commented on #1819
Please assign this issue to me in C++

[2021-05-21 20:29] muskan26062000 commented on #1759
Please assign this issue to me in C++

[2021-05-21 20:30] muskan26062000 commented on #1735
Please assign this issue to me in c++.I am a  GSSOC'21 participant

[2021-05-21 20:32] muskan26062000 commented on #1894
Please assign this to me in C++.I am a GSSOC'21 participant

[2021-05-21 20:33] muskan26062000 commented on #1762
Please assign this to me in C++.I am a GSSOC'21 participant

[2021-05-22 05:04] aaadddiii opened #1959 "First fit best fit and worst fit algorithm"
**Is your feature request related to a problem? Please describe.**
First fit best fit and worst  fit algorithm
**Describe the solution you'd like**
I would like to implement this in java python and cpp

**Do you want to work on it**
I would like to implement this in C++,python and java
Please assign me this issue as part of GSSOC `21

[2021-05-22 05:07] aaadddiii opened #1960 "Longest Bitonic subsequence"
**Is your feature request related to a problem? Please describe.**
Longest Bitonic subsequence

**Describe the solution you'd like**
Longest Bitonic subsequence  in java python and cpp

**Do you want to work on it**
I would like to implement this in C++,python,java
Please assign me this issue as part of GSSOC `21

[2021-05-22 06:03] muskan26062000 commented on #1660
Please assign this to me in C++.
I am a GSSOC'21 participant

[2021-05-22 07:08] Palakgupta0908 commented on #1862
Please assign this to me in Java

[2021-05-22 07:09] Palakgupta0908 commented on #1750
Please assign this to me in java

[2021-05-22 07:17] tarun26091999 commented on #351
mention the language.

[2021-05-22 07:26] tarun26091999 commented on #301
@ritesh1731 do in python
@Manish5237 do in java

[2021-05-22 07:27] tarun26091999 commented on #301
@Nishayadav-bit mention the language.

[2021-05-22 10:49] muskan26062000 commented on #1960
Please assign this to me in C++.I am a GSSOC'21 participant

[2021-05-22 10:50] muskan26062000 commented on #1959
Please assign this to me in C++.I am a GSSOC'21 participant

[2021-05-22 10:52] muskan26062000 commented on #1938
Please assign this to me in C++.I am a GSSOC'21 participant

[2021-05-22 13:05] tarun26091999 commented on #170
language??

[2021-05-22 14:08] muskan26062000 commented on #1930
Please assign this to me in C++.I am a GSSOC'21 participant.

[2021-05-22 14:28] krishna-NIT commented on #170
@tarun26091999 I have made the pr for it within less time. hope you will take a look over it

[2021-05-22 18:17] muskan26062000 commented on #488
Please assign this to me in c++.I am a GSSOC'21 participant

[2021-05-22 18:18] muskan26062000 commented on #496
Please assign this to me in C++.I am a GSSOC'21 participant

[2021-05-22 18:20] muskan26062000 commented on #66
Please assign this to me in C++.I am a GSSOC'21 participant

[2021-05-23 05:57] prakharshreyash15 commented on #1960
Can I take this issue in Python?

[2021-05-23 06:07] amankhanathani opened #1970 "Add code for Longest increasing subsequence in DP"
**Is your feature request related to a problem? Please describe.**
Given an array find the Longest increasing subsequence.
In interviews they might ask these as what is the max length of sub array.
**Describe the solution you'd like**
Suppose A={1,4,2,4,3} we can have increasing subsequence 1,2,3 or 1,2,4.
Brute force takes exponential time, so this is preferred.
**Do you want to work on it**
Ill

[2021-05-23 06:14] amankhanathani opened #1971 "Add code for Catalan Numbers in DP"
**Is your feature request related to a problem? Please describe.**
Series that usually comes up while looking up pascal's triangle.
0th is 1,further n+1 is summation of ith and n-ith catalan number
1,1,2,5,14,42.....
**Describe the solution you'd like**
0th is 1,further n+1 is summation of ith and n-ith catalan number. We can solve this using recursion concepts.

**Do you want to work on it**
Add

[2021-05-23 10:02] Fatema110 opened #1972 "WIGGLE SORT"
This program accepts an array of unsorted numbers and
    sorts the array such that arr[0]<arr[1]>arr[2]<arr[3]...

    arr is sorted and stored in second array res
    res is partitioned into two such that left sub-array
    contains elements less than the elements in right sub-array
    Elements in the left sub-array  are added to the even indices of arr
    Elements in the right sub-array are a

[2021-05-23 10:05] Fatema110 opened #1973 "Painting Fence problem"
Painting Fence problem

In a fence, with n posts and k available colors, we need to find out how many different
ways we can paint the fence so that at most two adjacent posts have the same color.
Output the answer modulo 10^9 + 7

How many posts are there on the fence? 3
How many colors are available? 7

The number of ways to color the given posts is 336

SAMPLE II
How many posts are there on the

[2021-05-23 10:07] Fatema110 opened #1974 "Pollard's Rho Algorithm"
Pollard's Rho Algorithm is a very interesting and quite accessible algorithm for factoring numbers. It is not the fastest algorithm by far but in practice it outperforms trial
division by many orders of magnitude. It is based on very simple ideas that can be used in other contexts as well.
It is an algorithm for integer factorization.The algorithm is very fast for numbers with small factors, but s

[2021-05-23 10:20] prakharshreyash15 commented on #1970
@amankhanathani Can I work on this issue using c++?

[2021-05-23 10:21] prakharshreyash15 commented on #1971
Can I work on this issue? @amankhanathani

[2021-05-23 11:04] anjali1102 opened #1976 "Adding knapsack DP for java and pythom"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.
https://github.com/Algo-Phantoms/Algo-Tree/tree/main/Algorithm/DP the solution for java and python are missing.
I want to work on this.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Do you want to work on it**
Mention the

[2021-05-23 11:04] anjali1102 commented on #1976
Assign me please

[2021-05-23 11:17] anjali1102 opened #1977 "Adding welcome bot for first timer issue raiser, first PR, first PR merged"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.
Whenever someone raises an issue and gives their PR, the bot will interact, greet them.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
<img width="801" alt="28288547-5f83aa8e-6af4-11e7-9692-eb41d42431e2" src="https://user-imag

[2021-05-23 11:18] anjali1102 commented on #1977
Kindly assign me this issue

[2021-05-23 16:42] anjali1102 commented on #1977
/assign

[2021-05-23 17:06] #709 closed

[2021-05-23 18:44] tarun26091999 commented on #276
@Manya1609 you have to raise a PR.

[2021-05-24 02:25] Aj7t commented on #276
Thankyou for assigning @tarun26091999
I have already raised a PR !!

[2021-05-24 04:49] Manya1609 commented on #276
Sir I have already raised a PR too with the name  "Manya1609 add factorials 1"
![Screenshot (804)_LI](https://user-images.githubusercontent.com/72715296/119297812-55b63000-bc79-11eb-95ea-5555e25c2d5d.jpg

[2021-05-24 06:07] jeelnathani commented on #826
@OjusWiZard done. please review it and merge it

[2021-05-24 07:42] tarun26091999 commented on #276
link it here

[2021-05-24 07:51] tarun26091999 commented on #161
@einhawking language??

[2021-05-24 11:25] subhangi2731 commented on #1849
@tarun26091999 can u please assign me

[2021-05-24 11:26] subhangi2731 commented on #1862
@tarun26091999 please assign me

[2021-05-24 13:17] muskan26062000 commented on #1650
Please assign this to me in C++.I am a GSSOC'21 participant. @tarun26091999 @rudrakshi99

[2021-05-24 13:20] tarun26091999 commented on #1650
@ShrutiOmer do it in C++.

[2021-05-24 13:23] muskan26062000 commented on #1971
Please assign this to me in C++.I am a GSSOC'21 participant. @amankhanathani

[2021-05-24 13:25] muskan26062000 commented on #1970
@amankhanathani  please assign this issue to me in C++.I am a GSSOC'21 participant

[2021-05-24 13:48] muskan26062000 commented on #1976
@tarun26091999 please assign this issue to me in C++.

[2021-05-24 14:04] #1736 closed

[2021-05-24 14:32] tarun26091999 commented on #1960
@aaadddiii do it in java

[2021-05-24 14:35] #1750 closed

[2021-05-24 14:39] #777 closed

[2021-05-24 14:42] U-c0de commented on #1946
@tarun26091999 @Rohan27s please assign me this issue

[2021-05-24 15:04] prakharshreyash15 commented on #1974
@Fatema110 Can I take this issue in Python?

[2021-05-24 16:22] U-c0de opened #1987 "Doubly Ended Queue Implementation"
**Is your feature request related to a problem? Please describe.**
Implementation of Doubly Ended Queue using Array with proper comments and clear explanation

**Describe the solution you'd like**
a double-ended queue is an abstract data type that generalizes a queue, for which elements can be added to or removed from either the front or back.

**Do you want to work on it**
Yes I want to work in P

[2021-05-24 16:24] U-c0de opened #1988 "Huffman Coding Algorithm"
**Describe the solution you'd like**
Description of the problem
Given a set of symbols along with their frequencies, we will find a variable-length binary code that can be assigned to each and every symbol.
The main objective of this algorithm is to usually transmit information using the fewest number of bits in such a way that every encoding is unambiguous

I want to work in Python.
@rish-singhal

[2021-05-25 05:12] ishwari20 commented on #314
@tarun26091999 I would like to work on this issue in C++. Please assign it to me.

[2021-05-25 11:15] iaryangoyal opened #1993 "CAPS lOCK(Basic Algo Question)"
wHAT DO WE NEED cAPS LOCK FOR?

Caps lock is a computer keyboard key. Pressing it sets an input mode in which typed letters are capital by default. If it is pressed by accident, it leads to accidents like the one we had in the first passage.

Let's consider that a word has been typed with the Caps lock key accidentally switched on, if:

either it only contains uppercase letters;
or all letters exc

[2021-05-25 11:57] purohitmansi commented on #1987
I want to work on this issue please assign me this.

[2021-05-25 12:07] purohitmansi commented on #1993
Do assign me.

[2021-05-25 12:07] purohitmansi commented on #1988
Do assign me this.

[2021-05-25 12:11] purohitmansi commented on #1948
Please assign this to me in C++

[2021-05-25 12:12] purohitmansi commented on #1932
Please do assign this to me.

[2021-05-25 12:13] purohitmansi commented on #1930
Please do assign this to me.

[2021-05-25 12:14] purohitmansi commented on #1925
Please do assign this to me.

[2021-05-25 12:15] purohitmansi commented on #1909
Please do assign this to me.

[2021-05-25 12:16] purohitmansi commented on #1881
Please assign this to me.

[2021-05-25 12:18] purohitmansi commented on #1809
Please assign this to me.

[2021-05-25 12:19] purohitmansi commented on #1714
Please assign this to me.

[2021-05-25 13:20] Aj7t commented on #276
Plz do check this 👍
https://github.com/Algo-Phantoms/Algo-Tree/pull/1982

[2021-05-25 13:51] iaryangoyal commented on #1993
@purohitmansi assigned

[2021-05-25 13:53] iaryangoyal commented on #1993
@purohitmansi

[2021-05-25 15:02] Amit366 commented on #136
@Rohan27s @tarun26091999  since no one is working on this can I take up this issue??

[2021-05-25 16:34] #425 closed

[2021-05-25 16:35] #15 closed

[2021-05-25 16:59] #1849 closed

[2021-05-25 18:35] Simi06 opened #1995 "OOPS in CPP"
I want to explain the working of all the OOPs concepts in CPP.
I'll provide a clear, well-explained, and optimized code for the same.
please assign this issue to me under GSSoC'21.

[2021-05-25 18:37] rish-singhal commented on #1976
Note you have to create one two different PRs for different languages

[2021-05-25 18:42] Simi06 commented on #1995
@nakul-19 @raksha009 @rish-singhal @yasharth291
Please assign this to me.

[2021-05-25 19:31] AnushkaS09 opened #1996 "Reverse Bits"
**Is your feature request related to a problem? Please describe.**
C++ program to reverse the bits of a number

**Describe the solution you'd like**
Added code to reverse bits of a number.

**Do you want to work on it**
C++

[2021-05-26 04:23] Mugdha-Hazra commented on #1976
I want to do it in c++ @rish-singhal

[2021-05-26 08:19] Fatema110 opened #2003 "Subset Sum Problem using DP"

[2021-05-26 08:20] #2003 closed

[2021-05-26 08:27] Fatema110 opened #2004 "Subset sum problem using DP"
Solution
Here we are taking a 2D List containing boolean values, True and False we are filling every element of the 2D list with False as a value. If Sum = 0 is always possible, by taking no elements in the subset. If the value of the current element is less than the sum j, then either include it and the current element or leave it and take the previous best else take the previous best.

SAMPLE IN

[2021-05-26 11:17] Kumud-869231165 commented on #1960
I would like to implement this in C++.
Please assign me this issue as part of GSSOC `21
@aaadddiii

[2021-05-26 11:18] Kumud-869231165 commented on #1891
I would like to implement this in C++.
Please assign me this issue as part of GSSOC `21

[2021-05-26 13:22] agrani1010 commented on #1762
Please assign this to me in Java. I am a GSSOC'21 participant

[2021-05-26 15:22] vanshikachokhani commented on #1927
@tarun26091999 Please assign this issue to me in C++.

[2021-05-26 15:26] robin025 opened #2008 "Adding implementation of stack using python in python section"
**Is your feature request related to a problem? Please describe.**
Hey @rish-singhal  I would like to add implementation of stacks with two more programs which will work concept of stack in Python language as  the solution for the same  is missing in the repo.

**Do you want to work on it**
I will implement this in python language

Kindly Assign me this under GSSOC 21

[2021-05-26 15:29] robin025 opened #2009 "Adding search algorithms in python language"
**Is your feature request related to a problem? Please describe.**
Hey @rish-singhal I would like to add searching algorithms like Fibonacci Search, Jump Search, Interpolation Search in python language

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Do you want to work on it**
Yes
I will implement this in python language

Kindly Assign me this u

[2021-05-26 15:35] robin025 opened #2010 "Adding Mege sort and Quick Sort (Divide And Conquer Algorithms) in python"
**Is your feature request related to a problem? Please describe.**
Hey @rish-singhal I would like to add two major sorting algorithms like Quick Sort and Merge Sort based on Divide and Conquer approach  in python language

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Do you want to work on it**
Yes
I will implement this in python language

Kin

[2021-05-26 15:39] robin025 opened #2011 "Adding Binary Search tree in python language"
**Is your feature request related to a problem? Please describe.**
Hey @rish-singhal I would like to add Binary Search Tree Algorithm and Predecessor And Successor Program (based on BST) in python language

Describe the solution you'd like
A clear and concise description of what you want to happen.

Do you want to work on it
Yes
I will implement this in python language

Kindly Assign me this under

[2021-05-26 15:42] robin025 opened #2012 "adding all major sorting algorithms in python"
**Is your feature request related to a problem? Please describe.**
Hey @rish-singhal I would like to add all major sorting algorithms like Bubble Sort, Insertion Sort, Selection Sort, Heap Sort, Shell Sort, Counting Sort in python language

Do you want to work on it
Yes
I will implement this in python language

Kindly Assign me this under GSSOC 21
Thank you

[2021-05-26 15:47] robin025 opened #2013 "adding all string matching algorithms in python language"
**Is your feature request related to a problem? Please describe.**
Hey @rish-singhal I would like to add all string matching algorithms like Naive Method, Knuth–Morris–Pratt Method, Rabin Karp Method in python language

**Do you want to work on it**
Yes
I will implement this in python language

Kindly Assign me this under GSSOC 21
Thank you

[2021-05-26 15:53] robin025 opened #2014 "adding implementaion of DP algorithms in python (bellman ford and Floyd Warshall)"
**Is your feature request related to a problem? Please describe.**
Hey @rish-singhal I would like to add two major DP algorithms like Bellman Ford Algorithm, Floyd Warshall's Algorithm in python language

Describe the solution you'd like
A clear and concise description of what you want to happen.

Do you want to work on it
Yes
I will implement this in python language

Kindly Assign me this under G

[2021-05-26 15:56] robin025 opened #2015 "adding greedy algorithms in python (Kruskals,Prims and Dijkstra)"
**Is your feature request related to a problem? Please describe.**
Hey @rish-singhal I would like to add all major Greedy algorithms like Kruskals Algorithm, Prims Algorithm, Dijkstra's Algorithm, Fractional Knapsack, Huffman Coding in python language

**Do you want to work on it**
Yes
I will implement this in python language

Kindly Assign me this under GSSOC 21
Thank you

[2021-05-27 02:43] Manish5237 commented on #301
@tarun26091999
Kindly review my PR.

[2021-05-27 04:37] Pushpit07 opened #2016 "Moore's voting algorithm to find the majority element in an array"
**Is your feature request related to a problem? Please describe.**
In an array A of N elements, find the majority element in the array. A majority element in an array A of size N is an element that appears more than N/2 times in the array.

**Describe the solution you'd like**
I would use Moore's voting algorithm to find the majority element in the array

**Do you want to work on it**
I want to wo

[2021-05-27 04:37] Pushpit07 commented on #2016
Please assign it to me under GSSoC

[2021-05-27 05:19] Pushpit07 opened #2017 "Leftmost Index of X in given array"
**Is your feature request related to a problem? Please describe.**
In a sorted array of positive integers (elements may be repeated), the task is to find the leftmost index of a number x in the array.

**Describe the solution you'd like**
I would solve this problem using the principle of binary search

**Do you want to work on it**
C++

Please assign this to me under GSSoC

[2021-05-27 12:20] purohitmansi commented on #90
Please do assign this to me.

[2021-05-27 12:24] purohitmansi commented on #137
Please do assign this to me.

[2021-05-27 12:32] purohitmansi commented on #1543
Please assign this to me.

[2021-05-27 12:33] purohitmansi commented on #1542
Please assign this to me.

[2021-05-27 12:37] purohitmansi commented on #1530
Please assign this to me.

[2021-05-27 12:41] purohitmansi commented on #1506
Please assign this to me.

[2021-05-27 12:42] purohitmansi commented on #1351
Please assign this to me.

[2021-05-27 12:43] purohitmansi commented on #1338
Please assign this to me.

[2021-05-27 12:43] purohitmansi commented on #1327
Please assign this to me.

[2021-05-27 12:44] purohitmansi commented on #1311
Please do assign this to me.

[2021-05-27 12:46] purohitmansi commented on #1169
Please assign this to me.

[2021-05-27 12:47] purohitmansi commented on #1076
Please assign this to me.

[2021-05-27 12:48] purohitmansi commented on #935
Please assign this to me.

[2021-05-27 12:48] purohitmansi commented on #909
Please assign this to me.

[2021-05-27 12:49] purohitmansi commented on #824
Please assign this to me.

[2021-05-27 12:50] purohitmansi commented on #582
Please assign this to me.

[2021-05-27 14:50] Simi06 commented on #1995
@rish-singhal @raksha009 @nakul-19
 please review the issue.

[2021-05-27 14:55] AnushkaS09 opened #2019 "Number of ways to Nth stair"
**Is your feature request related to a problem? Please describe.**
Count the the total number of possible ways to reach Nth stair .

**Describe the solution you'd like**
Program will be finding the total number of possible combinations that can be used to reach the Nth stair

**Do you want to work on it**
Java and Python

[2021-05-27 17:50] anjali1102 commented on #1977
@LayaMitta I want to work on this, Can I go ahead

[2021-05-27 18:23] anjali1102 commented on #1976
Hey @rish-singhal  Can you add level 3 if you feel so. As I opened this issue for java and python for medium difficulty DP problem

[2021-05-27 22:16] rish-singhal commented on #1976
1. Isn't knapsack dp a standard dp problem?

2. Also you have to submit 2 different PRs for each language

[2021-05-28 03:22] krishna-NIT opened #2020 "Adding Auto Message about Code Guidelines on creating issue [ Bot ]"
**This Automation will help the project to get proper pr which follows the code guidelines**
Essential for this project

**Solution**
Using GitHub Action 1 .yml file will be pushed with all changed

[2021-05-28 03:23] krishna-NIT opened #2021 "Adding Labels automatically on creating issue [ Bot ]"
**This Automation will help the project to labels automatically on raised issue**
Essential for this project

**Solution**
Using GitHub Action 1 .yml file will be pushed with all changed

[2021-05-28 03:25] krishna-NIT opened #2022 "Adding Automated labels on successfully merging the PR [ Bot ]"
**This Automation will help the project to labels automatically on raised PR when it gets merged successfully**
This will help the mentors a lot, Will save time and Issue regarding missing of label will also be avoided

**Solution**
Using GitHub Action 1 .yml file will be pushed with all changed

[2021-05-28 03:28] krishna-NIT opened #2023 "Automated 2 file checker for raised PR [BOT]"
**This Automation will check for pr who has proper file changes [2] one is code and other is its readme**
Essential for this project, then it will be checked and will passed if made proper pr as per the project

**Solution**
Using GitHub Action 1 .yml file will be pushed with all changed

[2021-05-28 03:51] krishna-NIT commented on #2023
@rish-singhal  Please Assign me and sorry for the delay but this will surely help this project

[2021-05-28 03:51] krishna-NIT commented on #2022
@rish-singhal  Please Assign me and sorry for the delay but this will surely help this project

[2021-05-28 03:51] krishna-NIT commented on #2021
@rish-singhal  Please Assign me and sorry for the delay but this will surely help this project

[2021-05-28 03:52] krishna-NIT commented on #2020
@rish-singhal  Please Assign me and sorry for the delay but this will surely help this project

[2021-05-28 03:53] rish-singhal commented on #2022
@tarun26091999 @rudrakshi99 @Rohan27s can your check this issue. Seems good to me.

[2021-05-28 03:54] krishna-NIT opened #2024 "Auto Message on successfully Merged PRs [BOT]"
This Automation will keep the contributors motivated
Essential for this project

Solution
Using GitHub Action 1 .yml file will be pushed with all changed

@rish-singhal Please assign me this issue

[2021-05-28 03:55] rish-singhal commented on #2024
@tarun26091999 @Rohan27s @rudrakshi99

[2021-05-28 04:04] rish-singhal commented on #2021
@plazzy99 @rudrakshi99 @Rohan27s can your check this issue. Seems good to me.

[2021-05-28 04:04] rish-singhal commented on #2023
@plazzy99 @rudrakshi99 @Rohan27s can your check this issue. Seems good to me.

[2021-05-28 04:04] rish-singhal commented on #2020
@plazzy99 @rudrakshi99 @Rohan27s can your check this issue. Seems good to me.

[2021-05-28 04:15] krishna-NIT opened #2025 "Adding Creating New PR Template which has Checklist [Bot]"
A Checklist for all contributors to this project will help the project to get good quality pr and will also help for merging the pr easily.
The checklist will be shown to them when they will be creating a new pr. Mentors Time will be saved as well as they merging of pr will be faster

@rish-singhal @plazzy99 @rudrakshi99 @Rohan27s  @yasharth291 Please assign me this issue, This Will Surely Help ou

[2021-05-28 04:20] krishna-NIT opened #2026 "To add Greeting Messages using GitHub Actions [Bot]"
Greeting Message
@rish-singhal @plazzy99 @rudrakshi99 @Rohan27s  @yasharth291 Please assign me this issue, This Will Surely Help our Project at further stands for Open source

[2021-05-28 04:23] krishna-NIT opened #2027 "Updating Issue Template [ GitHub Action ]"
Properly adding two Sections In that one for adding new Que/algo/ds and other for making corrections in previous code
proper template for both specially designed for algotree project

@rish-singhal @plazzy99 @rudrakshi99 @Rohan27s  @yasharth291 Please assign me this issue, This Will Surely Help our Project at further stands for Open source

[2021-05-28 11:28] krishna-NIT opened #2034 "Message on New PR [ Bot ]"
## Message on New PR [ Bot ]
This Bot will Give a Message for all created PR where Contributors will be shown the mistakes which are on a higher frequency.

As a result, Project will get quality of PR and Hence will improve everyone's Productivity (for Mentors/ Reviewers and Participants as well)

## Screenshot
![msg open pr Capture](https://user-images.githubusercontent.com/73196470/119977010-841

[2021-05-28 16:10] rudrakshi99 commented on #1995
We are only taking the algorithms.

[2021-05-28 16:10] #1995 closed

[2021-05-28 16:11] #1960 closed

[2021-05-28 16:19] Simi06 opened #2038 "Hamiltonian path"
The problem focuses on finding the HAmiltoninan path in a given graph
I want to work on the code of the algorithm in CPP.
I'll provide a clean and optimized solution along with a detailed explanation.
Please assign this to me.
**@rudrakshi99 @tarun26091999 @Rohan27s**

[2021-05-29 07:00] U-c0de opened #2041 "Left Side View of Binary Tree"
Description:
Implementation of Left Side View of Binary Tree
an important algorithm..

Assign this to me

I want to work in Python.
@rish-singhal @tarun26091999 @Rohan27s

[2021-05-29 08:06] tarun26091999 commented on #736
@Shalvi-Singhal do in python
@Shraddha13Jain do in java

[2021-05-29 08:20] #1221 closed

[2021-05-29 09:07] #495 closed

[2021-05-29 09:53] Mugdha-Hazra commented on #792
thank you @tarun26091999  for assigning this to me

[2021-05-29 10:43] ssaumyaa7 opened #2042 "longest common prefix"
**Is your feature request related to a problem? Please describe.**
The Algorithm for longest common prefix in java is not there.

**Describe the solution you'd like**
Like to add the code in java for the same.

**Do you want to work on it**
I want to work in java language.

Please assign me this issue.
@rish-singhal

[2021-05-29 10:46] rish-singhal commented on #2042
Hi it's not okay to create a PR before being assigned the issue! Do keep this in mind next time :)

[2021-05-29 10:48] ssaumyaa7 commented on #2042
Noted... Will not repeat this mistake

[2021-05-29 11:15] Sidhijain opened #2044 "n queen problem by backtacking"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Do you want to work on it**
Mention the one language you want to be assigned for this issue.

[2021-05-29 13:18] #2024 closed

[2021-05-29 13:21] #2026 closed

[2021-05-29 13:22] #2034 closed

[2021-05-29 13:24] #2020 closed

[2021-05-29 13:25] #2025 closed

[2021-05-29 13:27] #2027 closed

[2021-05-29 13:29] #2022 closed

[2021-05-29 13:36] #755 closed

[2021-05-29 13:41] krishna-NIT commented on #2021
we cannot directly label the issues because the issue can be already solved or a similar issue is assigned to anyone else. so, I am closing the issue

[2021-05-29 13:41] #2021 closed

[2021-05-29 13:57] #1704 closed

[2021-05-29 14:09] #915 closed

[2021-05-29 14:21] #276 closed

[2021-05-29 14:54] #805 closed

[2021-05-29 16:01] #320 closed

[2021-05-29 18:01] #1976 closed

[2021-05-29 18:23] tarun26091999 commented on #638
@pallavidhere23 do in java

[2021-05-29 18:35] drishika2002 opened #2046 "Modular Exponentiation using recursion (Better approach)"
## **Problem Statement**

Calculate the value of ( (x^n) % K ) using recursion with time complexity O(log n)

## Language: **C++**

Please assign this issue to me.

[2021-05-29 19:05] #2046 closed

[2021-05-29 19:10] drishika2002 opened #2047 "Binary search using recursion"
## **Problem Statement**

- Binary search using recursion

## Language: **C++**

Please assign this issue to me.

[2021-05-29 19:15] tarun26091999 commented on #2019
#1379

[2021-05-29 19:15] #2019 closed

[2021-05-29 19:17] robin025 commented on #2015
hey @rish-singhal   assign  me this issue if its available

[2021-05-29 19:17] robin025 commented on #2014
hey @rish-singhal   assign  me this issue if its available

[2021-05-29 19:17] robin025 commented on #2013
hey @rish-singhal   assign  me this issue if its available

[2021-05-29 19:18] robin025 commented on #2012
hey @rish-singhal   assign  me this issue if its available

[2021-05-29 19:18] robin025 commented on #2011
hey @rish-singhal   assign  me this issue if its available

[2021-05-29 19:18] robin025 commented on #2010
hey @rish-singhal   assign  me this issue if its available

[2021-05-29 19:18] robin025 commented on #2009
hey @rish-singhal   assign  me this issue if its available

[2021-05-29 19:18] robin025 commented on #2008
hey @rish-singhal   assign  me this issue if its available

[2021-05-30 06:40] #1820 closed

[2021-05-30 06:58] prathimacode-hub opened #2055 "Heap Sort Algorithm in Python"
## **Algorithm Name**

- I  would like to add a heap sort algorithm in "Searching_Sorting" repository in python language.

## **Describe the solution you'd like**

- I will provide a clear description of what it is :  program, time and space complexity, test cases and comments to brief it elaborately.

## Language: **Python**

Kindly Assign me this issue to me under GSSOC 21.
Thank you.

@rish-sin

[2021-05-30 06:58] #137 closed

[2021-05-30 08:45] ranisnehal commented on #2047
please assign this issue to me as i will implement in c++.

[2021-05-30 09:02] ranisnehal opened #2056 "Detect a cycle in a directed graph"
DETECT A CYCLE  IN A DIRECTED GRAPH

We will be given a directed graph ,we have to check whether the graphs contains a cycle or not .  our function should return true if the graph is containing at least one cycle else it will return false.

LANGUAGE:- IN C++

PLEASE ASSIGN THIS ISSUE TO ME.

THANK YOU:
SNEHAL RANI

[2021-05-30 09:48] eunoia7 commented on #106
@tarun26091999 @plazzy99 As there in no implementation in c++ yet and as #1509 is not merged since a long time, can I take up the task ?

[2021-05-30 09:54] ranisnehal commented on #2056
/* Here is the solution of the program in c++*/
#include<bits/stdc++.h>
#include<iostream>
using namespace std;

class solution{
    public:

    bool solve(int src , vector<int> &vis, vector<int> &order,vector<int> adj[]){
        vis[src]= 1;
        order[src]= 1;
        for(auto x:adj[src])
        {
          if(!vis[x])
           {
             bool conf = solve(x,vis,order,adj);

[2021-05-30 09:56] ranisnehal commented on #2056
I have fix the issue #2056  in c++.

[2021-05-30 09:59] ranisnehal commented on #2056
#2056   DETECTING NUMBER OF CYCLES IN A DIRECTED GRAPH #

[2021-05-30 11:06] #162 closed

[2021-05-30 12:20] Sidhijain opened #2063 "m coloring problem by backtracking"
## **m coloring**

In this there is a undirected graph and a number m, determine if the graph can be colored with at most m colors such that no two adjacent vertices of the graph are colored with the same color.
Please assign this issue to me

[2021-05-30 12:24] Sidhijain commented on #2044
Please assign this issue to me . I have also made the pr regarding the same

[2021-05-30 12:56] Sidhijain commented on #2063
I have created the pr .Please review and merge it

[2021-05-30 14:48] #2056 closed

[2021-05-30 15:15] #168 closed

[2021-05-30 16:36] Sidhijain opened #2067 "Sum of subset"
## **Sum of subset **

Subset sum problem is to find subset of elements that are selected from a given set whose sum adds up to a given number K.

## I would like to solve this using backtracking technique
## Language: **I am intrested to work in c++**
Please assign this issue to me

[2021-05-30 16:48] #1650 closed

[2021-05-31 04:06] #714 closed

[2021-05-31 09:42] krishna-NIT commented on #2023
it will contradict when any bug issue will be there means a pr where readme doesn't need to be updated, only code file needs to be updated because its name has been added in the readme in past so, they will not be allowed to create pr so closing it

[2021-05-31 09:42] #2023 closed

[2021-05-31 10:18] Tanya933 opened #2075 "Add .gitignore file"
We need to add a .gitignore file in the repository in order to ignore files such as .DS_store files .
Please assign this issue to me .
@plazzy99  @rish-singhal @krishna-NIT @ @tarun26091999

[2021-05-31 10:23] krishna-NIT commented on #2075
@Tanya933 Late mat hona bas😂

[2021-05-31 10:25] Tanya933 commented on #2075
Done with the PR.Please review

[2021-05-31 10:26] krishna-NIT commented on #2067
@Sidhijain Don't wait for assigning this issue, make pr asap

[2021-05-31 10:27] krishna-NIT commented on #2067
mentors will decide after that

[2021-05-31 10:28] #2075 closed

[2021-05-31 11:22] Sidhijain commented on #2067
Ok thanks @krishna-NIT  I have already made the pr

[2021-05-31 11:33] krishna-NIT commented on #2067
oh sorry, i missed it

[2021-05-31 14:52] #1679 closed

[2021-05-31 16:13] rudrakshi99 commented on #1977
We have already added Github actions then no need for the bot.

[2021-05-31 17:41] anjali1102 commented on #1977
Ok

[2021-05-31 18:29] RajSrinivasJena opened #2078 "Tower of Hanoi"
## **Problem Statement**
Tower of Hanoi
- A clear and concise description of Problem Statement

## **Describe the solution you'd like**

- A clear and concise description of what you want to happen.

## Language: **If Your interested to work on this issue then Mention Language Used**
C++

[2021-05-31 18:44] #2078 closed

[2021-06-01 01:55] #1977 closed

[2021-06-01 04:01] #1959 closed

[2021-06-01 04:02] #1819 closed

[2021-06-01 07:52] #211 closed

[2021-06-01 08:01] plazzy99 commented on #1934
Not a valid issue

[2021-06-01 08:01] #1934 closed

[2021-06-01 08:03] plazzy99 commented on #301
@Manish5237 pr is invalid you didn't followed every points to raise the pull request

[2021-06-01 08:07] plazzy99 commented on #1900
Not a valid issue

[2021-06-01 08:07] #1900 closed

[2021-06-01 08:08] plazzy99 commented on #1911
Not a valid issue

[2021-06-01 08:08] #1911 closed

[2021-06-01 08:09] plazzy99 commented on #1840
Not a valid issue

[2021-06-01 08:09] #1840 closed

[2021-06-01 08:10] plazzy99 commented on #1916
Not a valid issue

[2021-06-01 08:10] #1916 closed

[2021-06-01 08:11] plazzy99 commented on #1887
Not a valid issue

[2021-06-01 08:11] #1887 closed

[2021-06-01 08:18] #1701 closed

[2021-06-01 08:26] #2041 closed

[2021-06-01 08:30] #528 closed

[2021-06-01 09:15] U-c0de commented on #2042
@rish-singhal @Rohan27s Assign me in Python

[2021-06-01 09:17] U-c0de commented on #1996
@rish-singhal @tarun26091999 @Rohan27s Assign me in Python

[2021-06-01 09:20] #2055 closed

[2021-06-01 09:21] #1927 closed

[2021-06-01 09:23] #1996 closed

[2021-06-01 10:56] khusheekapoor commented on #1887
@plazzy99 why is it not a valid issue?

[2021-06-01 12:06] #1346 closed

[2021-06-01 14:50] #2042 closed

[2021-06-01 14:58] #261 closed

[2021-06-01 15:03] #627 closed

[2021-06-01 15:07] #106 closed

[2021-06-01 15:09] #2004 closed

[2021-06-01 15:10] #1562 closed

[2021-06-01 15:18] #1110 closed

[2021-06-01 15:29] noviicee commented on #517
@Rohan27s  can you update the level of this issue..I think level-0 is for minor documentation, whereas I have implemented a program here :)

[2021-06-01 18:38] #1924 closed

[2021-06-02 09:02] puneetkaur2929 opened #2081 "Maximum in each window of size K"
**Maximum in each window of size K**

**Problem statement**
 find the maximum for each and every contiguous subarray of size k
 **Example**
Given : Array  a[]={1, 2, 3, 1, 4, 5, 2, 3, 6}  & K (i.e. Window Size)=3
Output= 3 3 4 5 5 5 6.

Hey @plazzy99     I would like to solve this issue using sliding window technique + Deque.

 Language : I am interested to work in **C++**.

please assign this iss

[2021-06-02 16:16] plazzy99 commented on #2081
Contribution time has ended 😄

[2021-06-03 11:30] TechSpiritSS opened #2082 "Insertion Sort in Python"
## **Algorithm Name**

There is no Insertion Sort in Python. So, I would like to contribute a code for this.

## **Describe the solution you'd like**

In this we are going to sort the array by picking the element and placing it in the place where it belongs, just like sorting cards in hand

## Language: **If You are interested to work on this issue then Mention Language Used**

Python

[2021-06-03 11:30] TechSpiritSS commented on #2082
/assign

[2021-06-03 14:38] #2047 closed

[2021-06-04 10:29] Akhilesh2002 opened #2084 "Implement Queue using Two Stacks"
## **Implement Queue using two Stacks**

- In this we are given a stack and we want to implement queue from it.

## Language: **C++**

[2021-06-04 10:29] Akhilesh2002 commented on #2084
/assign

[2021-06-04 10:47] #2082 closed

[2021-06-04 18:13] #1929 closed

[2021-06-05 17:57] #1543 closed

[2021-06-06 04:21] #1603 closed

[2021-06-07 09:02] #1480 closed

[2021-06-08 11:31] #1530 closed

[2021-06-08 14:32] Jagannath8 opened #2085 "Longest Substring Without Repeating Characters"
This is a Leetcode question.
Level - Medium

[2021-06-08 14:33] Jagannath8 commented on #2085
/assign

[2021-06-10 10:13] #1698 closed

[2021-06-10 10:13] #1702 closed

[2021-06-10 10:13] #1713 closed

[2021-06-12 07:04] #1405 closed

[2021-06-13 09:11] iamKushagra commented on #1310
@yasharth291 kindly merge this

[2021-06-22 18:55] #1124 closed

[2021-06-22 18:55] #1123 closed

[2021-06-22 18:55] #1017 closed

[2021-06-22 18:55] #1005 closed

[2021-06-22 18:55] #1002 closed

[2021-06-22 18:56] #998 closed

[2021-06-22 18:56] #988 closed

[2021-06-22 18:57] #985 closed

[2021-06-22 18:57] #975 closed

[2021-06-22 18:57] #974 closed

[2021-06-22 18:57] #966 closed

[2021-06-22 18:58] #965 closed

[2021-06-22 18:58] #958 closed

[2021-06-26 16:59] #1604 closed

[2021-07-02 06:33] #1930 closed

[2021-07-04 15:15] #794 closed

[2021-07-10 10:25] dig9074vijay commented on #438
@rudrakshi99 This issue has been resolved

[2021-07-10 10:25] #438 closed

[2021-07-21 21:21] #1374 closed

[2021-07-23 11:53] #1027 closed

[2021-07-23 11:53] #1161 closed

[2021-07-23 11:54] #1163 closed

[2021-08-28 21:04] tanyajha16 commented on #1970
hey!! @amankhanathani can i use this as my first open source contribution?

[2021-09-18 09:33] #1826 closed

[2021-09-18 09:34] #1824 closed

[2021-09-20 10:59] #112 closed

[2021-09-20 11:00] #216 closed

[2021-09-20 11:00] #911 closed

[2021-09-30 18:09] motasimmakki commented on #2017
/assign

[2021-10-05 05:06] Op-panda opened #2092 "kedane algorithm"
## **Algorithm Name**

- A clear and concise description of Algo

## **Describe the solution you'd like**

- A clear and concise description of what you want to happen.

## Language: **If You are interested to work on this issue then Mention Language Used**

[2021-10-05 05:49] #2092 closed, assigned to nobody

[2021-10-05 11:30] #1339 closed

[2021-10-05 11:31] #1340 closed

[2021-10-13 08:07] Op-panda opened #2094 "kedane algo"
## **Algorithm Name**

kedane algo

## **Describe the solution you'd like**

I will work on this issue in cpp format

## CPP **If You are interested to work on this issue then Mention Language Used**

[2021-10-13 08:16] #2094 closed, assigned to nobody

[2021-12-04 15:41] #1993 closed

[2021-12-13 20:07] ritikranjan12 commented on #747
Hello, I can solve this in C++ and Java.
Please assign it to me. @tarun26091999 @rudrakshi99

[2021-12-13 20:11] ritikranjan12 commented on #1886
Please assign this to me this is based on cycle sort i would solve it in C++ and Java @nakul-19 @raksha009 @plazzy99 @tarun26091999 @rish-singhal @yasharth291 @Rohan27s @rudrakshi99

[2021-12-18 15:17] rish-singhal commented on #1886
@ritikranjan12 Hey, I believe this repository was for GSSOC 2021 which not active now.

[2021-12-18 15:24] ritikranjan12 commented on #1886
Okk I will try on something else

On Sat, Dec 18, 2021, 8:47 PM Rishabh Singhal ***@***.***>
wrote:

[2022-04-08 05:39] #511 closed