[2021-04-02 09:47] shreyanspoddar commented on #1419
Multiple problems cannot be raised in a single issue, please raise them in individually and kindly before raising an issue check if it's previously present or not.

[2021-04-02 09:47] #1419 closed

[2021-04-02 10:58] Debashish-hub opened #1424 "Is sudoku valid in c++"
**Is your feature request related to a problem? Please describe.**
Is sudoku valid problem to be solved in c++

**Describe the solution you'd like**
I will solve the problem to check if a sudoku is valid or not in c++

**Do you want to work on it**
c++

[2021-04-02 11:24] shivangi-pandey opened #1426 "Two Clique Problem in graphs c++"
**Is your feature request related to a problem? Please describe.**
Answer:  "A Clique is a subgraph of graph such that all vertices in subgraph are completely connected with each other. Given a Graph, find if it can be divided into two Cliques."

**Describe the solution you'd like**
**Find complement of graph and return true if graph is bipartite else false**

**Do you want to work on it**
**C++**

[2021-04-02 11:25] shivangi-pandey commented on #1426
Please assign it to me , I want to work on this issue.

[2021-04-02 11:56] OjusWiZard commented on #250
Make separate issues for them

[2021-04-02 11:56] #250 closed

[2021-04-02 11:58] #255 closed

[2021-04-02 12:05] #266 closed

[2021-04-02 12:12] #269 closed

[2021-04-02 13:41] OjusWiZard commented on #294
@aromal17 Please explain what the Algorithm would do.

[2021-04-02 13:41] #305 closed

[2021-04-02 13:42] #310 closed

[2021-04-02 13:43] #312 closed

[2021-04-02 13:45] OjusWiZard commented on #322
Raise separate issues for separate problems of DP.

[2021-04-02 13:45] #322 closed

[2021-04-02 13:46] OjusWiZard commented on #328
Raise separate issues for separate problems.

[2021-04-02 13:46] #328 closed

[2021-04-02 13:51] OjusWiZard commented on #330
@vedant-jain03 Do only with Python.
C++ is assigned to @tanishq-arya and C is not needed in the repository for now.

[2021-04-02 13:55] OjusWiZard commented on #333
@Swetha126 Do it only in Python.
C++ is assigned to @aish2002

[2021-04-02 14:05] OjusWiZard commented on #340
We are accepting only DSA based codes for now

[2021-04-02 14:05] #340 closed

[2021-04-02 14:07] OjusWiZard commented on #341
We are accepting only DSA related codes for now

[2021-04-02 14:07] #341 closed

[2021-04-02 14:13] OjusWiZard commented on #345
We are accepting only DSA related codes for now

[2021-04-02 14:13] #345 closed

[2021-04-02 14:13] OjusWiZard commented on #347
Create separate issues for separate problems.

[2021-04-02 14:13] #347 closed

[2021-04-02 14:14] Muskan0 commented on #1364
Please assign this problem to me, I will solve it in python.

[2021-04-02 14:15] OjusWiZard commented on #352
We are not accepting Language-specific implementation problems for now. Only DSA Related.

[2021-04-02 14:15] #352 closed

[2021-04-02 14:17] Muskan0 commented on #844
Please assign me this issue in Python.

[2021-04-02 14:18] Muskan0 commented on #818
Please assign me this issue in Python.

[2021-04-02 14:24] btanisha commented on #1379
I'm a GSSOC participant, I can write the code for the same in python, please assign it to me

[2021-04-02 14:25] #155 closed

[2021-04-02 14:25] #356 closed

[2021-04-02 14:26] btanisha commented on #1310
I can do the same in python, please assign this to me. I'm a gssoc participant

[2021-04-02 14:27] OjusWiZard commented on #357
We are currently accepting only DSA related issues

[2021-04-02 14:27] #357 closed

[2021-04-02 14:29] #853 closed

[2021-04-02 14:39] OjusWiZard commented on #360
Duplicate of #80

[2021-04-02 14:39] #360 closed

[2021-04-02 14:42] OjusWiZard commented on #364
@kanganabhargava always mention the language you want to work on

[2021-04-02 14:43] OjusWiZard commented on #364
@pallavidhere23 we don't need it in C

[2021-04-02 15:46] tarun26091999 commented on #892
@simarjeet30 do it in python

[2021-04-02 16:14] OjusWiZard commented on #378
#201

[2021-04-02 16:15] OjusWiZard commented on #378
Duplicate of #201

[2021-04-02 16:15] #378 closed

[2021-04-02 16:17] OjusWiZard commented on #379
Code already exists in the repository
Algo-Tree/Code/C++/queue_using_stacks.cpp

[2021-04-02 16:17] #379 closed

[2021-04-02 16:19] OjusWiZard commented on #379
Raise a separate issue for other languages

[2021-04-02 16:22] OjusWiZard commented on #397
Raise separate issues for separate problems.

[2021-04-02 16:22] #397 closed

[2021-04-02 16:24] #99 closed

[2021-04-02 16:28] OjusWiZard commented on #401
@Sloth-Panda Please explain the issue more briefly. What will the Algorithm do?

[2021-04-02 16:29] OjusWiZard commented on #403
We are only accepting DSA related issue for now

[2021-04-02 16:29] #403 closed

[2021-04-02 16:30] OjusWiZard commented on #424
We are currently accepting only DSA related issues.

[2021-04-02 16:30] #424 closed

[2021-04-02 16:32] OjusWiZard commented on #429
We are currently accepting only DSA related code. But not problems, where DSA can be applied

[2021-04-02 16:32] #429 closed

[2021-04-02 16:34] OjusWiZard commented on #431
Code already exists here Code/C++/couting_sort.cpp

[2021-04-02 16:34] #431 closed

[2021-04-02 16:36] #63 closed

[2021-04-02 17:02] OjusWiZard commented on #54
Assignees became inactive. So closing this issue because others have raised new issues for this

[2021-04-02 17:02] #54 closed

[2021-04-02 17:58] OjusWiZard commented on #465
Duplicate of #333

[2021-04-02 17:58] #465 closed

[2021-04-02 18:01] OjusWiZard commented on #467
Raise separate issues for both the algorithms

[2021-04-02 18:01] #467 closed

[2021-04-02 18:03] OjusWiZard commented on #470
Please try to add a more DSA specific problem. This is an application of a Data Structure, but not any concept of its own.

[2021-04-02 18:03] #470 closed

[2021-04-02 18:08] OjusWiZard commented on #486
Very similar to #201

[2021-04-02 18:08] #486 closed

[2021-04-02 18:57] #507 closed

[2021-04-02 19:17] OjusWiZard commented on #521
We are currently accepting only DSA related issues. But not specific language-based implementations.

[2021-04-02 19:17] #521 closed

[2021-04-02 19:22] OjusWiZard commented on #536
@IdealisticINTJ Please do it in Python

[2021-04-02 19:31] OjusWiZard commented on #541
@Kirti1807 We already have a code for this in c++

[2021-04-02 19:48] OjusWiZard commented on #546
Duplicate of #502

[2021-04-02 19:48] #546 closed

[2021-04-02 20:07] OjusWiZard commented on #558
Duplicate of #385

[2021-04-02 20:07] #558 closed

[2021-04-02 20:09] OjusWiZard commented on #562
@ritikpanchal768 Please explain the issue more briefly.
For now, closing the issue. Will reopen after your response

[2021-04-02 20:09] #562 closed

[2021-04-02 20:12] Tanyx-01 commented on #562
test

[2021-04-02 20:21] OjusWiZard commented on #568
Make separate PRs for each language

[2021-04-02 20:23] OjusWiZard commented on #575
@malavikarajeshvikraman Please explain the algorithm more briefly.
Closing the issue for now. Will reopen after your response.

[2021-04-02 20:23] #575 closed

[2021-04-02 20:26] OjusWiZard commented on #577
We are currently accepting DSA related issues only.

[2021-04-02 20:26] #577 closed

[2021-04-02 20:29] OjusWiZard commented on #578
@simarjeet30 Do it only in Python. Other languages are assigned to @vikashkumar2020 and @Amanduttbhagat

[2021-04-02 20:35] OjusWiZard commented on #581
Specify the language.
Will reopen the issue after your response.

[2021-04-02 20:35] #581 closed

[2021-04-02 20:50] OjusWiZard commented on #593
Specify the language.
Will reopen the issue after your response.

[2021-04-02 20:50] #593 closed

[2021-04-02 20:56] OjusWiZard commented on #595
Please specify which DSA concept will it use.
Will reopen the issue after your response.

[2021-04-02 20:56] #595 closed

[2021-04-02 22:42] dilemmawalker opened #1438 "nqueen solution"
I would like to add nqueen solution in recursion inside algorithms file.
This is a demanding algorithm these days & I would like to contribute it to the repository.

[2021-04-03 03:47] Apurv011 commented on #595
This is a simple mathematical problem that uses concepts from number theory.
As mentioned in the problem, all locker doors are numbered from 1 to n. A locker door labelled with a number that is less than or equal to the number of passes and has odd number of factors will be toggled odd number of times and that door will be open at the end.
Also, only perfect squares have odd number of factors. Hen

[2021-04-03 05:02] anshulsharma123 commented on #593
I will write the code in c++ language

[2021-04-03 05:36] vaibhavhariaramani commented on #1142
I will implement it in C++ language

"GSSOC'21 participant, please assign it to me"
@anubhavitis @dheerajkotwani @rudrakshi99 @nakul-19 @plazzy99 @tarun26091999 @anjul2000

[2021-04-03 05:47] simarjeet30 commented on #569
@tarun26091999 sir thank you for assigning me this issue .I will write a neat and clean code for this problem in python and will submit a PR in a week for sure.

[2021-04-03 05:47] mohdarif8299 commented on #582
Thanks, @OjusWiZard I am on it.

[2021-04-03 06:32] adistar01 commented on #915
Hi i am a participant of gssoc 21 and i want to contribute the code in java for this issue. Please assign this issue to me.

[2021-04-03 06:34] adistar01 commented on #659
Hi I am a participant of GSSOC 21. I would love to contribute the code in python for this issue. Please assign it to me.

[2021-04-03 06:38] adistar01 commented on #548
Hi, I am a participant of GSSOC 21. I would love to work on this issue in Python. Please assign this issue to me.
@raksha009 @tarun26091999

[2021-04-03 08:05] tarun26091999 commented on #47
@btanisha do it in python.

[2021-04-03 08:08] tarun26091999 commented on #881
@Tj8864 do it in python

[2021-04-03 08:22] tarun26091999 commented on #869
add the most efficient code only.

[2021-04-03 08:41] tarun26091999 commented on #858
@ShreyaTarwey @Simar05519 specify the language.

[2021-04-03 09:09] mihir0699 opened #1443 "First set bit C++"
**Is your feature request related to a problem? Please describe.**
Find the first set bit of a number

**Describe the solution you'd like**
A coded solution in C++

**Do you want to work on it**
Yes

[2021-04-03 11:21] AdityaRaj-ar opened #1447 "Finding Long Factorials"

[2021-04-03 12:25] jugalnagar commented on #1334
Please assign it to me. I will implement it in Java

[2021-04-03 12:27] jugalnagar commented on #1299
Please Sir/Mam assign it to me. I will code it in java

[2021-04-03 12:32] jugalnagar commented on #915
@tarun26091999
Can I work on this issue in java.

[2021-04-03 12:44] aaadddiii opened #1448 "Implementation of prefix sum array"
**Is your feature request related to a problem? Please describe.**
Prefix Sum array is a data structure design which helps us to answer several queries such as sum in a given range in constant time which would otherwise take linear time. It requires a linear time preprocessing and is widely used due to its simplicity and effectiveness

**Describe the solution you'd like**
Given an array arr[] of s

[2021-04-03 12:46] snehitak7 commented on #656
Hello mentors, please assign this issue to me and I would like to solve it in python and JAVA. I'm a GSSoC'21 participant.

[2021-04-03 12:50] sonakshi999 commented on #1447
Hey can you provide this issue to me. I am gssoc21 participant.
1. i will implement it using Logarithmic identity.
2. language will be c++.

[2021-04-03 12:53] snehitak7 commented on #925
Hello mentors, please assign me to this issue. I want to work with this issue in JAVA and Python. I assure you of providing a clean piece of code.

[2021-04-03 13:53] jugalnagar commented on #679
Please assign this problem to me. I will work on it in java and also explain my code through comment

[2021-04-03 14:27] IdealisticINTJ commented on #541
Please check the PR #1450 I made for this program. @OjusWiZard

[2021-04-03 14:39] soumik2012 opened #1452 "Union of two arrays in python"
## 🚀 Feature

Union of the two arrays can be defined as the set containing distinct elements from both the arrays. If there are repetitions, then only one occurrence of element should be printed in union.

### Have you read the Contributing Guidelines on Pull Requests?

Yes I have read

## Motivation

Want to contribute to Algo-Tree

## Pitch
Union of the two arrays can be defined as the set conta

[2021-04-03 15:27] OjusWiZard commented on #600
Will reopen the issue after you specify the language that you want to use.

[2021-04-03 15:27] #600 closed

[2021-04-03 15:27] OjusWiZard commented on #605
Raise separate issues for separate issues.

[2021-04-03 15:27] #605 closed

[2021-04-03 15:28] OjusWiZard commented on #610
They are two separate problems. So raise separate issues for them.

[2021-04-03 15:31] OjusWiZard commented on #610
@pallavidhere23 Do it in Java and Python only

[2021-04-03 17:25] debanjan-2002 commented on #47
Respected Sir/Madam,
Please assign this issue to me. Recently one of my PR was merged by you, so I know the format in which you want your code.
I can do it in C++.
Regards,
Debanjan Poddar

@tarun26091999
@rudrakshi99
@shreyanspoddar
@plazzy99
@raksha009

[2021-04-03 18:18] ArchishmanSengupta opened #1455 "Add Lee Algorithm: Shortest path in a maze"
I propose to add Lee Algorithm which is use to find the shortest path in a maze.

Real Life Applications:
1. Maze Game
2. Solving Rubik's Cube faster
3.  Map Technology
4. Social Network

I will add proper description, will update the readme in [Graph's README](https://github.com/Algo-Phantoms/Algo-Tree/tree/main/Graph).

The code will be in ```C++ & C```

Please assign me this. @anjul2000 @plazzy

[2021-04-03 18:36] subodhsiddharth commented on #1197
I am a GsSOCs'21 participants can I do same in CPP or C.

[2021-04-03 18:37] subodhsiddharth opened #1456 "I am a GsSOCs'21 participants can I do Travelling Salesman problem in CPP or C."
I am a GsSOCs'21 participants can I do same in CPP or C.

_Originally posted by @subodhsiddharth in https://github.com/Algo-Phantoms/Algo-Tree/issues/1197#issuecomment-812908247_

[2021-04-03 18:42] subodhsiddharth opened #1457 "All possible paths from a point a,b to x,y in 2d matrix using recursion. || GsSOCs'21 partcipant ||"
I am a GsSOCs'21 partcipant . I would like to do this problem in cpp

[2021-04-03 18:46] vatsalar commented on #279
Hello,
I am Vatsala, GSSoC 2021 participant. I want to contribute the code for the implementation of heap-sort using C++.
I will make sure the code is clean and also I will write comments to make it more understandable.
Please assign this task to me

[2021-04-03 19:21] OjusWiZard commented on #617
Please describe your method 1 which you are talking about.
Will reopen after your response.

[2021-04-03 19:21] #617 closed

[2021-04-03 19:25] #618 closed

[2021-04-03 19:28] OjusWiZard commented on #620
Duplicate of #435

[2021-04-03 19:28] #620 closed

[2021-04-03 19:30] OjusWiZard commented on #629
Duplicate of #162

[2021-04-03 19:30] #629 closed

[2021-04-03 19:32] OjusWiZard commented on #630
Duplicate of #440

[2021-04-03 19:32] #630 closed

[2021-04-03 19:41] OjusWiZard commented on #632
@sonal251001 Which language do you want to use?

[2021-04-03 19:49] OjusWiZard commented on #636
We already have a code for [Dijkstra's Algorithm](https://github.com/Algo-Phantoms/Algo-Tree/blob/main/Code/C%2B%2B/Dijkstra.cpp)

[2021-04-03 19:49] #636 closed

[2021-04-03 19:54] #654 closed

[2021-04-03 19:56] OjusWiZard commented on #655
We are currently accepting only DSA related issues. But not non-relevant implementation problems.

[2021-04-03 19:56] #655 closed

[2021-04-03 20:14] OjusWiZard commented on #664
@dhruvdy Do it in Python only.

[2021-04-03 20:15] OjusWiZard commented on #664
@snowpanther6 @dhruvdy @Amanduttbhagat Don't use the naive approach, use the most efficient approach.

[2021-04-04 04:01] raksha009 commented on #1359
hey, plz reply if you would be able to solve via dp else assigning the issue to others.

[2021-04-04 04:13] raksha009 commented on #1364
Always specify yr language which asking for an issue :)

[2021-04-04 04:15] raksha009 commented on #1364
Hey, the bar that shows merge conflicts in yr PR, there is the option "Resolve Conflicts" on top right side of the bar. Plz click on it, it will guide you how to resolve conflicts.

[2021-04-04 05:40] Shraddha13Jain commented on #709
@tarun26091999 please review my previous PR of painter partition problem , so that I could make a PR of this issue.I have implemented the code in python.

[2021-04-04 06:03] OjusWiZard commented on #669
Raise separate issues.

[2021-04-04 06:03] #669 closed

[2021-04-04 06:23] OjusWiZard commented on #701
Will reopen the issue after you mention the approach that you will be using.

[2021-04-04 06:23] #701 closed

[2021-04-04 06:30] OjusWiZard commented on #703
Find both Minimum and Maximum in the same program.

[2021-04-04 06:31] OjusWiZard commented on #704
Duplicate of #703

[2021-04-04 06:31] #704 closed

[2021-04-04 06:37] OjusWiZard commented on #707
Raise separate issues for each algorithm

[2021-04-04 06:37] #707 closed

[2021-04-04 06:45] sonal251001 commented on #632
@OjusWiZard I can implement in C Java and Python whatever you say.

[2021-04-04 06:47] OjusWiZard commented on #716
Counting sort already exists in the repo.
Raise a separate issue if you want to add the Counting sort in python because we still don't have any request for Python.

[2021-04-04 06:47] #716 closed

[2021-04-04 06:56] OjusWiZard commented on #727
@drishika2002 Add Inverse of the Matrices in it too.

[2021-04-04 06:58] drishika2002 commented on #727
@OjusWiZard  Okay sir

[2021-04-04 07:30] OjusWiZard commented on #731
It'll be handled by the maintainers soon. Thanks for your concern though :D

[2021-04-04 07:30] #731 closed

[2021-04-04 07:30] OjusWiZard commented on #734
Duplicate of #180

[2021-04-04 07:30] #734 closed

[2021-04-04 07:32] OjusWiZard commented on #738
Raise separate issues for separate problems.
Also, make sure to add your original intuition to the problems.

[2021-04-04 07:32] #738 closed

[2021-04-04 07:37] OjusWiZard commented on #744
Duplicate of #514

[2021-04-04 07:37] #744 closed

[2021-04-04 07:38] #745 closed

[2021-04-04 07:44] OjusWiZard commented on #753
@nitinjaiswal7537 Always specify the language that you want to use.

[2021-04-04 07:50] OjusWiZard commented on #763
Raise separate issues for separate problems.

[2021-04-04 07:50] #763 closed

[2021-04-04 07:57] OjusWiZard commented on #769
Duplicate of #128

[2021-04-04 07:57] #769 closed

[2021-04-04 07:59] OjusWiZard commented on #774
Might reopen the issue after you describe the problem more briefly.

[2021-04-04 07:59] #774 closed

[2021-04-04 08:00] OjusWiZard commented on #776
Might reopen the issue after you describe the problem more briefly.

[2021-04-04 08:00] #776 closed

[2021-04-04 08:03] Muskan0 commented on #381
@raksha009 Please review and marge my PR

[2021-04-04 08:03] OjusWiZard commented on #777
@Chirag018 always mention the language that you want to use.

[2021-04-04 08:07] OjusWiZard commented on #790
Duplicate of #398 and C++ code already exist in the repository.

[2021-04-04 08:07] #790 closed

[2021-04-04 08:16] tarun26091999 commented on #931
you need to be specific about the problem you want to solve, there are many DP problems which include trees.

[2021-04-04 08:16] #931 closed

[2021-04-04 08:29] tarun26091999 commented on #248
that is DFS only, no BFS present

[2021-04-04 08:31] tarun26091999 commented on #248
@vedant-jain03 no updates from your side even after so much time.

[2021-04-04 08:51] OjusWiZard commented on #314
@Aarti002 you may jump from #806 to here

[2021-04-04 08:52] OjusWiZard commented on #806
Duplicate of #314

[2021-04-04 08:52] #806 closed

[2021-04-04 08:57] OjusWiZard commented on #809
Duplicate of #516

[2021-04-04 08:57] #809 closed

[2021-04-04 09:06] Sathwika-02 commented on #1447
Hi,
I want to implement this in python as apart of GSSoC'21.
@rudrakshi99 @tarun26091999 Please assign it to me. Thankyou!!

[2021-04-04 09:38] sujoy-coder commented on #809
Thank You for your response 😑

[2021-04-04 09:39] pallavidhere23 commented on #248
#870 (Traversal in BFS ) And #873 (DFS Traversal ) both are added almost 22 days ago.

[2021-04-04 10:19] Amanduttbhagat commented on #664
Hello @OjusWiZard,
In the comment above you mentioned me and @dhruvdy but you didn't assigned us the issue so shall we work on this or not?

[2021-04-04 10:24] Mugdha-Hazra commented on #706
thank you @OjusWiZard sir for assigning me this task.

[2021-04-04 10:46] OjusWiZard commented on #813
Duplicate of https://github.com/Algo-Phantoms/Algo-Tree/blob/68f1222e687425500cfabe01e2d442aac3ca7aea/Linked_list/readme.md
#513 #805

[2021-04-04 10:46] #813 closed

[2021-04-04 10:48] #462 closed

[2021-04-04 10:50] raksha009 commented on #709
Dear, pl create a Pr for this issue asap else we would have to unassign you.

[2021-04-04 10:51] OjusWiZard commented on #815
@krishna-NIT Mention me on issue #727 for java

[2021-04-04 10:52] OjusWiZard commented on #815
Duplicate of #727

[2021-04-04 10:52] #815 closed

[2021-04-04 10:54] khusheekapoor commented on #1452
Hello! I am a GSSoC'21 participant. I would like to implement this in Java. Would be obliged if you could assign it to me. Thanks!

[2021-04-04 10:55] krishna-NIT commented on #727
@OjusWiZard I am for Java

[2021-04-04 10:56] khusheekapoor commented on #1330
Hello! I am a GSSoC'21 participant. I would like to implement this in Java. Would be obliged if you could assign it to me. Thanks!

[2021-04-04 10:56] khusheekapoor commented on #1326
Hello! I am a GSSoC'21 participant. I would like to implement this in Java. Would be obliged if you could assign it to me. Thanks!

[2021-04-04 10:56] khusheekapoor commented on #1325
Hello! I am a GSSoC'21 participant. I would like to implement this in Java. Would be obliged if you could assign it to me. Thanks!

[2021-04-04 10:57] krishna-NIT commented on #727
https://github.com/Algo-Phantoms/Algo-Tree/issues/815#issuecomment-813012320

[2021-04-04 10:58] khusheekapoor commented on #1210
Hello! I am a GSSoC'21 participant. I would like to implement this in Java. Would be obliged if you could assign it to me. Thanks!

[2021-04-04 11:06] OjusWiZard commented on #823
This is not a DSA problem, rather an implementation based problem.

[2021-04-04 11:06] #823 closed

[2021-04-04 11:51] sonal251001 commented on #1443
I am a GSSoC participant and I can solve this in java. Please assign it to me for java.

[2021-04-04 13:02] priyanka001tech commented on #753
@OjusWiZard As others do it in c++,java and python, I would like to code it in C language please kindly assign me

[2021-04-04 13:33] OjusWiZard commented on #839
@dpkk1 Specify the language.

[2021-04-04 13:41] OjusWiZard commented on #843
Duplicate of #753

[2021-04-04 13:41] #843 closed

[2021-04-04 15:17] vedant-jain03 commented on #602
@tarun26091999 I have make a pull request on this issue Please kindly review it

[2021-04-04 15:22] nikhv commented on #44
@raksha009 ,please assign this issue to me .I will implement it in c++.

[2021-04-04 15:35] tanishq-arya commented on #58
I can implement circular Queue using arrays in CPP. Please assign me this issue.

[2021-04-04 15:38] raksha009 commented on #44
The issue is already assigned in cpp. Plz look for other issues :)

[2021-04-04 15:44] tanishq-arya opened #1473 "Tree: Check if 2 binary trees are mirror images"
**Is your feature request related to a problem? Please describe.**
I want to add code to check if 2 binary trees are mirror images or not.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Do you want to work on it**
C++

[2021-04-04 15:44] Shraddha13Jain commented on #709
@tarun26091999  i have made the PR. Please review it.

[2021-04-04 16:37] PrerakMathur20 commented on #1198
I have sent a pull request. Please review it and if it's okay, please merge or else tell me, if there are any changes required.

[2021-04-04 18:27] pallavi00021 commented on #703
@OjusWiZard Shall I submit the code in C++ here and get it reviewed by you??

[2021-04-04 18:31] Rewangi opened #1476 "Cycle sort in c++"
**Do you want to work on it**
In c++

[2021-04-04 18:57] neha07kumari opened #1477 "Distance between two nodes of a binary tree using C++"
**Is your feature request related to a problem? Please describe.**
Problem statement: Distance between two nodes of a binary tree

**Describe the solution you'd like**
 The distance between two nodes is the minimum number of edges to be traversed to reach one node from another.

**Do you want to work on it**
I will solve this problem using C++.

[2021-04-04 19:00] neha07kumari commented on #1477
Please assign it to me .

[2021-04-04 20:02] sandipswain commented on #21
Hey @tarun26091999, kindly merge my PR of Longest Common Subsequence in python under branch 'issue-21'. It has been pending for more than 20days.

[2021-04-04 23:57] budhirajamadhav opened #1480 "Find Minimum in rotated sorted array - II [From leetcode]"
**Is your feature request related to a problem? Please describe.**
This is an important HARD level question from leetcode, one has to find the minimum from a sorted and rotated array, having repeated elements in the complexity of O(log N).

**Describe the solution you'd like**
This problem needs to be solved in O(log N)

**Do you want to work on it**
Yes, I want to submit this one in Java, but I c

[2021-04-04 23:59] budhirajamadhav commented on #1480
It will be very humble of you guys if you assign this issue to my name. Thanks.

[2021-04-05 03:25] raksha009 commented on #1198
Pl link yr pr to this issue.

[2021-04-05 03:40] Aniketbhanderi commented on #1198
https://github.com/Algo-Phantoms/Algo-Tree/pull/1251
**I have created PR 2 weeks before and still no reply on that.**

[2021-04-05 05:21] Ritikakatoch0128 commented on #857
@rudrakshi99 @raksha009 @tarun26091999  Please assign this issue to me .

[2021-04-05 05:32] IdealisticINTJ commented on #541
PR made. #1483 @OjusWiZard, Kindly review it.

[2021-04-05 05:44] Shraddha13Jain commented on #709
@raksha009 I have made the changes you requested. please review .
PR #1472

[2021-04-05 06:28] Sathwika-02 commented on #1349
Hi,
I am GSSOC'21 participant,
My code will be in python with proper comments and test cases.
@anubhavitis @rudrakshi99  Please assign me this. Thankyou!!

[2021-04-05 06:30] Sathwika-02 commented on #1358
Hi,
I am GSSOC'21 participant,
My code will be in java with proper comments and test cases.
@anubhavitis Please assign me this. Thankyou!!

[2021-04-05 06:35] Sathwika-02 commented on #1299
Hi,
I am GSSOC'21 participant,
My code will be in  python with proper comments and test cases.
@anubhavitis @OjusWiZard  Please assign me this. Thankyou!!

[2021-04-05 06:36] Sathwika-02 commented on #1282
Hi,
I am GSSOC'21 participant,
My code will be in java with proper comments and test cases.
@anubhavitis Please assign me this. Thankyou!!

[2021-04-05 06:38] Sathwika-02 commented on #1261
Hi,
I am GSSOC'21 participant,
My code will be in java with proper comments and test cases.
@anubhavitis @OjusWiZard Please assign me this. Thankyou!!

[2021-04-05 06:39] Sathwika-02 commented on #1260
Hi,
I am GSSOC'21 participant,
My code will be in python with proper comments and test cases.
@anubhavitis @OjusWiZard Please assign me this. Thankyou!!

[2021-04-05 06:40] Sathwika-02 commented on #1257
Hi,
I am GSSOC'21 participant,
My code will be in python with proper comments and test cases.
@anubhavitis Please assign me this. Thankyou!!

[2021-04-05 06:53] Sathwika-02 commented on #1043
Hi,
I am GSSOC'21 participant,
My code will be in python with proper comments and test cases.
@anubhavitis Please assign me this. Thankyou!!

[2021-04-05 08:56] ankan1811 opened #1487 "h"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Do you want to work on it**
Mention the one language you want to be assigned for this issue.

[2021-04-05 08:56] #1487 closed

[2021-04-05 09:20] Meghna180401 opened #1488 "Find the modulo of a huge fibonacci number using Pisano Period Concept in JAVA"
**Is your feature request related to a problem? Please describe.**
I would like to implement the solution to find the modulo n of a huge fibonacci number m (m and n as inputs) using the concept of Pisano Period.

**Describe the solution you'd like**
Pisano Period is a really important concept of Number Theory which many are not acquainted to. This solution will include finding the pisano period of

[2021-04-05 09:22] Meghna180401 opened #1489 "Check if a given array is a valid mountain array in Java."
**Is your feature request related to a problem? Please describe.**
This is the solution to check if a given array is a valid mountain array.

**Do you want to work on it**
I want to work in JAVA as a GSSOC'21 participant.

[2021-04-05 09:32] aromal17 commented on #294
@OjusWiZard In the problems where we are supposed to find the sums of all subsets in array, we can use reverse lookup wherein the participation of a particular element is taken (i.e. the number of subsets which will contain that particular element) and then the total participation along with the element's value will return the contribution of that element in the total subset sum.

[2021-04-05 09:34] sreetu opened #1490 "Count frequency of mail"
It's a program that reads through a text file and figures out who has sent the greatest number of mails using python.
Solution program creates a python dictionary that maps the sender's mail address to count the number of times it appeared in the list.

[2021-04-05 09:36] sreetu commented on #1490
Hi, I'm a GSSoC 2021 participant and I want to contribute the code for Count frequency of mail using python.
Kindly assign this issue to me.
Thanks!

[2021-04-05 09:39] umamanasir commented on #1326
./assign

[2021-04-05 09:41] sahuaman83 commented on #841
Added Smallest Divisible Number in Java #1491

[2021-04-05 10:12] sonal251001 commented on #1476
HI I can work on this in java.

[2021-04-05 10:15] nikhv commented on #1220
@raksha009  please assign this issue to me

[2021-04-05 10:16] nikhv commented on #1187
@raksha009  please assign this issue to me ,I will implement in c++

[2021-04-05 10:17] nikhv commented on #1164
@raksha009  please assign this issue to me ,I will implement in c++

[2021-04-05 10:54] jugalnagar commented on #1275
Please Assign this problem to me. I will implement in java

[2021-04-05 11:34] #1476 closed

[2021-04-05 14:09] batul02 commented on #1197
Hi @subodhsiddharth, the mentors are not responding to the issue. I don't think we can make a PR without them assigning the task to us. Or should I create PR? Because I have been waiting for them to assign this issue to me.

[2021-04-05 14:13] sohini3062 opened #1496 "Reversing a Queue"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.
Program for reversing a queue
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Here I will be using a stack to reverse a queue
**Do you want to work on it**
Mention the one language you want to be assigned for this issue.
Java

*

[2021-04-05 14:32] priyamourya commented on #1029
#1497

[2021-04-05 14:36] poojitha2002 commented on #368
I have done it, please verify

[2021-04-05 14:57] dhruvdy commented on #1325
Hello, mentors I want to work on this issue in python language. Please assign it to me.

[2021-04-05 15:08] dhruvdy commented on #1252
Hello mentors, I want to work on this issue in c++ language.

[2021-04-05 16:42] nidhi-08 commented on #230
Using the stack-based recursive function calls to complete filling the grid. Like to start from the current source node and fill the cell with color and recursively explore all valid neighbors and replace their color as well.

[2021-04-05 16:45] einhawking commented on #7
I am a participant of GSSOC'21
I would like to contribute in this

[2021-04-05 16:45] einhawking commented on #21
I am a participant of GSSOC'21
I would like to contribute in this

[2021-04-05 16:45] einhawking commented on #25
I am a participant of GSSOC'21
I would like to contribute in this

[2021-04-05 16:45] einhawking commented on #58
I am a participant of GSSOC'21
I would like to contribute in this

[2021-04-05 16:45] einhawking commented on #80
I am a participant of GSSOC'21
I would like to contribute in this

[2021-04-05 16:45] einhawking commented on #85
I am a participant of GSSOC'21
I would like to contribute in this

[2021-04-05 16:45] einhawking commented on #106
I am a participant of GSSOC'21
I would like to contribute in this

[2021-04-05 16:46] einhawking commented on #106
I am a participant of GSSOC'21
I would like to contribute in this

[2021-04-05 16:46] einhawking commented on #130
I am a participant of GSSOC'21
I would like to contribute in this

[2021-04-05 16:46] einhawking commented on #137
I am a participant of GSSOC'21
I would like to contribute in this

[2021-04-05 16:46] einhawking commented on #144
I am a participant of GSSOC'21
I would like to contribute in this

[2021-04-05 16:46] einhawking commented on #147
I am a participant of GSSOC'21
I would like to contribute in this

[2021-04-05 16:46] einhawking commented on #151
I am a participant of GSSOC'21
I would like to contribute in this

[2021-04-05 16:47] einhawking commented on #161
I am a participant of GSSOC'21
I would like to contribute in this

[2021-04-05 16:49] einhawking commented on #262
I am a participant of GSSOC'21
I would like to contribute in this

[2021-04-05 16:49] einhawking commented on #261
I am a participant of GSSOC'21
I would like to contribute in this

[2021-04-05 16:49] einhawking commented on #248
I am a participant of GSSOC'21
I would like to contribute in this

[2021-04-05 16:49] einhawking commented on #201
I am a participant of GSSOC'21
I would like to contribute in this

[2021-04-05 16:50] einhawking commented on #195
I am a participant of GSSOC'21
I would like to contribute in this

[2021-04-05 16:50] einhawking commented on #193
I am a participant of GSSOC'21
I would like to contribute in this

[2021-04-05 16:50] einhawking commented on #192
I am a participant of GSSOC'21
I would like to contribute in this

[2021-04-05 16:50] einhawking commented on #187
I am a participant of GSSOC'21
I would like to contribute in this

[2021-04-05 16:54] vedant-jain03 commented on #248
Sorry @tarun26091999 for delaying my PR
Actually the thing is that I have done my code in my local system
I have created 2 pull request and no one is responding to it. That is why I am not requesting more

[2021-04-05 16:58] vedant-jain03 commented on #248
@tarun26091999 If possible kindly review #1470 PR
So that even 1 get merge or got reviewed I will get knowledge about how to do next
My codes that are assinged to me are ready in my local
But actually I am not recieving review from mentors I tagged in my PRs
Sorry for the delay sir

[2021-04-05 17:29] limitless-Sky opened #1501 "Maximum sum Rectangle"
**Is your feature request related to a problem? Please describe.**
Given a 2D array, find the maximum sum subarray in it.

**Describe the solution you'd like**
Use of DP to solve.

**Do you want to work on it**
C++

[2021-04-05 17:43] Prakash-poka commented on #802
@OjusWiZard  check PR #803 https://github.com/Algo-Phantoms/Algo-Tree/pull/803.

[2021-04-05 19:05] tarun26091999 commented on #1007
present at #148

[2021-04-05 19:05] #1007 closed

[2021-04-05 19:05] mrunalvilas opened #1503 "Finding Mex of an Array"
**Mex Of an array**
Mex of an array is the minimum non-negative number that does not occur in the array.
For example mex of an array containing 2,1,0 and 2 will be 3. Similarly, the mex of an array containing 0 will be 1.

** I wish a write a Python program to find Mex Of an Array.**

[2021-04-05 19:07] tarun26091999 commented on #1359
@raksha009 isn't this issue same as #148

[2021-04-05 19:16] tarun26091999 commented on #1060
c is not accepted and this issue is already assigned

[2021-04-05 19:16] #1060 closed

[2021-04-05 19:23] tarun26091999 commented on #425
@VibhuRajput specify the language.

[2021-04-05 19:24] tarun26091999 commented on #1006
present at #425

[2021-04-05 19:24] #1006 closed

[2021-04-06 03:52] nikhv commented on #939
@raksha009  , please assign this issue to me , i want to implement it in c++

[2021-04-06 03:58] nikhv opened #1505 "Program to find the height of binary tree"
Program to display the height of binary of tree. Please assign this to me under gssoc2021.
I want to implement it in c++,
@tarun26091999  @raksha009  please assign this to me

[2021-04-06 04:01] nikhv opened #1506 "Program to insert new node into BST"
Program to insert new node into BST .Please assign this to me under gssoc2021.
I want to implement it in C++.
@tarun26091999  @raksha009  please assign this to me

[2021-04-06 06:36] dikshajoshi18 commented on #1505
I can do this in python. Please assign it to me
diksha #6684

[2021-04-06 06:37] subodhsiddharth commented on #1197
Yes @batul02 . Now we can do it and see our progress update on https://gssoc.girlscript.tech/profile.html .

[2021-04-06 06:39] dikshajoshi18 commented on #1452
hey, I can do this in c++.
discord: diksha#6684
please assign it to me. @rudrakshi99

[2021-04-06 06:40] dikshajoshi18 commented on #1448
hey, I would like to implement this using c++.
kindly assign it to me.
@rudrakshi99
@nakul-19

[2021-04-06 06:46] balarka135 opened #1508 "Find k closest numbers (Java)"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.
Given a sorted number array and two integers ‘K’ and ‘X’, find ‘K’ closest numbers to ‘X’ in the array. Return the numbers in the sorted order. ‘X’ is not necessarily present in the array.

**Describe the solution you'd like**
A clear and concise description of what you want t

[2021-04-06 06:49] balarka135 commented on #1508
Please assign it to me. ( GSSOC 21)

[2021-04-06 07:37] tarun26091999 commented on #585
@AdityaRaj-ar specify the language.

[2021-04-06 07:38] rk05-lenavo commented on #1247
@raksha009 Kindly assign me this issue under gssoc'21. I would like to work on this using C++ or java.

[2021-04-06 08:00] divyanshu450 commented on #1340
I would like to work on this issue using java. Kindly assign it to me

@raksha009

[2021-04-06 08:34] divyanshu450 commented on #1506
I would like to work on this problem using Java. Kindly assign it to me.
@raksha009 @nikhv @rudrakshi99

[2021-04-06 08:47] divyanshu450 opened #1511 "Invert Binary Tree"
Question: Given the root of a binary tree, invert the tree, and return its root.
I/P: [4,2,7,1,3,6,9]
O/P: [4,7,2,9,6,3,1]
@rudrakshi99 @raksha009 I would like to work on this issue using Java.

[2021-04-06 09:38] naqeeb2710 commented on #1033
Hey, Can you assign me this issue as no one is working on it.

[2021-04-06 09:48] Saviour1001 commented on #368
Made PR #1512, did changes to readme and did some markdown formatting as well.

[2021-04-06 12:09] simarjeet30 commented on #578
@OjusWiZard ,Thanks for assigning me,I will surely try to complete this work in a week .

[2021-04-06 12:11] simarjeet30 commented on #892
@tarun26091999 ,Thanks for assigning this issue to me ,I will surely try to complete this in a week.

[2021-04-06 13:01] Fatema110 opened #1515 "Riversizes"
**Is your feature request related to a problem? Please describe.**
You're given a two-dimensional array (a matrix) of unequal height and width containing only 0s and 1s.
Each 0 represents land and each 1 represents part of the river. A river consists of any number 1s that are horizontally or vertically. The adjacent 1s forming a river determine its sizes.

**Describe the solution you'd like**
Naiv

[2021-04-06 13:45] raksha009 commented on #1247
Go ahead with cpp

[2021-04-06 13:49] Atif-reyaz-khan opened #1516 "Robin karp algorithm in python"
**Is your feature request related to a problem? Please describe.**
There is no pattern matching Algorithm in python

**Describe the solution you'd like**
To implement pattern matching algorithm in python

**Do you want to work on it**
I want to work on this issue in python

[2021-04-06 14:35] 01DEEKSHA commented on #1103
Hi, I am a GSSOC'21 participant, I would like to contribute to this issue.
I will use c++ as mentioned,
Kindly assign this to me.
@plazzy99 , @rudrakshi99..

[2021-04-06 14:39] 01DEEKSHA commented on #1506
Hi, I am a GSSOC'21 participant, I would like to contribute to this issue.
I will use c++ as mentioned,
Kindly assign this to me.
@plazzy99 , @rudrakshi99..

[2021-04-06 14:39] 01DEEKSHA commented on #1505
Hi, I am a GSSOC'21 participant, I would like to contribute to this issue.
I will use c++ as mentioned,
Kindly assign this to me.
@plazzy99 , @rudrakshi99..

[2021-04-06 15:18] Muskan0 commented on #455
@tarun26091999 Please review my PR.

[2021-04-06 15:19] Muskan0 commented on #1477
@raksha009 Please assign me this issue in Python.

[2021-04-06 15:22] #1083 closed

[2021-04-06 15:23] Muskan0 commented on #1477
@raksha009 Please assign me this issue in Python.

[2021-04-06 15:25] tarun26091999 commented on #1009
multiple topics cannot be covered in single issue.

[2021-04-06 15:25] #1009 closed

[2021-04-06 15:30] tarun26091999 commented on #1025
sleep sort does not works on Online compilers and also it's implemented in windows only. So we cannot accept this.

[2021-04-06 15:30] #1025 closed

[2021-04-06 15:35] tarun26091999 commented on #1075
cannot solve two ques in same issue.

[2021-04-06 15:35] #1075 closed

[2021-04-06 16:34] Athira1601 commented on #1448
I am a gssoc participant. I can implement this using python. Kindly assign this issue to me.

[2021-04-06 16:37] Athira1601 commented on #1362
I can implement this using c++.kimfly assign me this issue.

[2021-04-06 16:37] Athira1601 commented on #1416
Please assign me this. I can implement this using python

[2021-04-06 16:38] Athira1601 commented on #1405
I would like to implement this using c++.kindly assign me this issue

[2021-04-06 16:39] Athira1601 commented on #1403
I would like to implement this using c++. Kindly assign me this issue.

[2021-04-06 16:40] Athira1601 commented on #1385
I would like to implement this using python. Kindly assign me this issue

[2021-04-06 16:43] Athira1601 commented on #1206
I would like to implement this using python. Kindly assign me this issue

[2021-04-06 16:44] Athira1601 commented on #1169
I would like to implement this using c++.kindly assign me this issue.

[2021-04-06 16:45] Athira1601 commented on #1168
I would like to implement this using c++.kindly assign me this issue.

[2021-04-06 16:47] Athira1601 commented on #1161
I would like to implement this using c++.kindly assign me this issue.

[2021-04-06 17:00] tanishq-arya commented on #1473
Please assign this to me @raksha009

[2021-04-06 17:02] AmanBisht01 commented on #841
@OjusWiZard
sir, please review my PR.

[2021-04-06 20:04] tarun26091999 commented on #1054
issue present at #165

[2021-04-06 20:07] tarun26091999 commented on #1054
@krishna-NIT you already commented on the issue #165 again you are commenting here, do not spam issues. These type of behavior will attract some serious actions.

[2021-04-06 20:07] #1054 closed

[2021-04-06 20:08] tarun26091999 commented on #165
@vedant-jain03 do it in C++ only.

[2021-04-06 20:16] tarun26091999 commented on #1093
present at #450 and #586

[2021-04-06 20:16] #1093 closed

[2021-04-06 20:24] tarun26091999 commented on #392
@priyamourya do it in cpp

[2021-04-06 20:28] tarun26091999 commented on #291
C++ and Python available.

[2021-04-06 23:47] dpkk1 commented on #839
@OjusWiZard I will code in C++ language

[2021-04-07 02:49] nancy0119 opened #1524 "Correction required in Factorial code"
Hi, I'm a **GSSOC** participant and want to contribute to this project diligently.

I found a mistake in the **Algo-Tree/Code/Java/factorial.java** description (given in comments).
It is mentioned in the example to find a factorial of 7 but the solution finds the factorial of 5. To avoid confusion, I want to make a correction over there.

**@rudrakshi99 @shreyanspoddar**  I would like to work on t

[2021-04-07 03:38] madhvi02 commented on #508
okay sir thank you  soo much  for assigning .

[2021-04-07 04:51] madhvi02 commented on #1505
Sir @tarun26091999
Please assign this problem to me. I would like to solve this in c++.
I will surely provide the code with proper documentation and comments.

[2021-04-07 04:51] madhvi02 commented on #1452
Sir @tarun26091999 @rudrakshi99 ma'am
Please assign this problem to me. I would like to solve this in c++.
I will surely provide the code with proper documentation and comments.

[2021-04-07 04:52] madhvi02 commented on #1424
Sir @tarun26091999 @rudrakshi99 ma'am
Please assign this problem to me. I would like to solve this in c++.
I will surely provide the code with proper documentation and comments.

[2021-04-07 04:52] madhvi02 commented on #1415
Sir @tarun26091999 @rudrakshi99 ma'am
Please assign this problem to me. I would like to solve this in c++.
I will surely provide the code with proper documentation and comments.

[2021-04-07 04:52] madhvi02 commented on #1358
Sir @tarun26091999 @rudrakshi99 ma'am
Please assign this problem to me. I would like to solve this in c++.
I will surely provide the code with proper documentation and comments.

[2021-04-07 05:08] #568 closed

[2021-04-07 05:17] soumik2012 commented on #1452
Sir @tarun26091999 @rudrakshi99 ma'am I made the PR please check and add the GSSOC'21 label

[2021-04-07 05:55] GarimaKhare15 commented on #602
Please assign this issue to me.
I can code this in Java language.

[2021-04-07 05:57] tarun26091999 commented on #602
do it in java

[2021-04-07 06:13] malavikarajeshvikraman commented on #575
Hi So I was planning to execute hashing using linear probing.

[2021-04-07 06:19] AmanBisht01 opened #1529 "Print Left View of a Binary Tree"
Given a Binary Tree, print left view of it. Left view of a Binary Tree is set of nodes visible when tree is visited from left side.

Input :
                 1
               /   \
              2     3
             / \     \
            4   5     6
Output : 1 2 4

Please assign this issue to me under gssoc .

**Algo-Tree/Code/C++/**

[2021-04-07 06:28] AmanBisht01 opened #1530 "Print Right View of a Binary Tree"
Given a Binary Tree, print Right view of it. Right view of a Binary Tree is set of nodes visible when tree is visited from Right side.

The right view of following tree is 1 3 7
          1\
       /     \\
     2        3\
   /   \     /  \\
  4     5   6    7

I would like to work on this issue under gssoc in c++ language.

**Algo-Tree/Code/C++/**

[2021-04-07 06:42] prityusha commented on #876
@tarun26091999 @rudrakshi99  please assign this issue to me I am a participant in GSSOC'21 and would like to solve this issue in cpp.

[2021-04-07 06:51] ankan1811 opened #1531 "binary tree questions"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Do you want to work on it**
Mention the one language you want to be assigned for this issue.

[2021-04-07 06:51] #1531 closed

[2021-04-07 07:51] tarun26091999 commented on #1452
present at #216

[2021-04-07 07:51] #1452 closed

[2021-04-07 08:04] soumik2012 commented on #216
@tarun26091999
I am participant of GSSOC'21 .
I want contribute code for this issue in python .
I solves this question in past.
please assign me this issue

[2021-04-07 08:28] soumik2012 opened #1533 "AKS Primarility Test in python"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Do you want to work on it**
Mention the one language you want to be assigned for this issue.

[2021-04-07 12:26] Kavitam23 commented on #1477
I want to contribute to this problem using cpp. Kindly assign it to me.

[2021-04-07 13:12] AakankshaShah opened #1536 "Nearest greater element towards left side in C++."
I would like to add the problem "Nearest greatest integer towards left side " in the stack section.

[2021-04-07 13:12] AakankshaShah opened #1537 "Nearest smallest integer towards right side in C++"
I would like to add the problem "Nearest smallest integer towards right side " in the stack section.

[2021-04-07 13:14] AakankshaShah opened #1538 "Implement stack using array"

[2021-04-07 13:14] AakankshaShah opened #1539 "Implement stack using queue"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Do you want to work on it**
Mention the one language you want to be assigned for this issue.

[2021-04-07 13:16] AakankshaShah opened #1540 "Check if the given number is a power of 2"
I would like to provide bitwise operation check for a power of 2 in the Algorithm/bit_manipulation section.

[2021-04-07 13:42] Ritikakatoch0128 commented on #857
/assign

[2021-04-07 13:44] soumik2012 commented on #1452
@tarun26091999  this is on python

[2021-04-07 14:16] sudipg4112001 opened #1542 "Operations in stack"
These are operations I am going to perform if assigned:-

1. Push the element x into the stack.
2. Delete the element present at the top of the stack.
3. Print the maximum element in the stack.

[2021-04-07 14:20] PritomDutta89 opened #1543 "Bubble Sort Algorithm"
**Is your feature request related to a problem? Please describe.**
 Bubble Sort Algorithm

**Describe the solution you'd like**
In this sorting algorithm 1st compared adjacent elements, if elements are in wrong order then swapped to make it correct sequence.

**Do you want to work on it**
I would like to implement this in C++

[2021-04-07 15:15] UG-SEP commented on #1403
anyone please assign @rudrakshi99 @tarun26091999

[2021-04-07 15:51] Tanya933 opened #1544 "[GSSOC'21] Binary exponentiation"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
I would like to implement binary exponentiation algorithm in both recursive and iterative approach .My code will consist of
description , commented lines and user input and output.

**Do you want to work on it**
Yes  I can work on both C++ and python language on this issue.

please assign th

[2021-04-07 20:43] subodhsiddharth opened #1550 "Reverse a linked list using stack and recursion in cpp . # GsSOCs.21 participant"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Do you want to work on it**
Mention the one language you want to be assigned for this issue.

[2021-04-07 20:52] subodhsiddharth opened #1551 "Sum of maximum sub-array when array is circular"
We can move from n-1 cell to 0 . It will be considered as a sub-array .
Example : 1,-10,3,4,5
here, maximum sub array is 3,4,5,1 and sum = 13

[2021-04-07 21:40] Roshni1809 opened #1552 "Radix Sort."
Implementation of Radix Sort in CPP.
Kindly assign me this issue.
@rudrakshi99  @tarun26091999  @nakul-19

[2021-04-07 21:56] Roshni1809 opened #1553 "Sieve of Sundaram"
**Is your feature request related to a problem? Please describe.**
Sieve of Sundaram - in this algorithm , it will find the prime numbers less than 'N'

**Describe the solution you'd like**
**for eg**- N= 5
    OUTPUT= 2   3
            N=10
    OUTPUT=2, 3, 5, 7

**Do you want to work on it**
I would like to work on CPP.

[2021-04-08 03:20] thekanishkagupta commented on #1550
Hello, I am a GSSoc'21 participant.
I will implement this in c++, requesting you to assign this issue to me.

[2021-04-08 03:59] subodhsiddharth commented on #1550
Hello, @thekanishkagupta I haved requested for this issue in c++ .

[2021-04-08 04:01] nitinjaiswal7537 opened #1554 "Merge sort"
In this PR I would like to implement Merge Sort algorithm which will help you in sorting an array in O(nlogn) time complexity.

I would like to devised the algorithm of merge sort.

The language preferred is C/C++.

So, @rudrakshi99 @OjusWiZard  allow me to work on this pr.

[2021-04-08 06:01] khusheekapoor commented on #1543
Hello! I would like to work on this using Java under GSSoC'21. Could you please assign it to me?

[2021-04-08 06:01] khusheekapoor commented on #1538
Hello! I would like to work on this using Java under GSSoC'21. Could you please assign it to me? Thanks.

[2021-04-08 06:02] khusheekapoor commented on #1496
Hello! I would like to work on this using Java under GSSoC'21. Could you please assign it to me? Thanks.

[2021-04-08 06:02] khusheekapoor commented on #1403
Hello! I would like to work on this using Java under GSSoC'21. Could you please assign it to me? Thanks.

[2021-04-08 10:18] noob-26 opened #1559 "Binary Lifting Technique"
I want to implement the Binary Lifting algorithm for finding the kth ancestor of any node in logarithmic time in C++.

[2021-04-08 11:37] AakankshaShah commented on #1538
Please assign me this under GSSOC'21.

[2021-04-08 11:38] AakankshaShah commented on #1539
Please assign me this under GSSOC'21.

[2021-04-08 11:38] AakankshaShah commented on #1537
Please assign me this under GSSOC'21.

[2021-04-08 11:38] AakankshaShah commented on #1536
Please assign me this under GSSOC'21.

[2021-04-08 11:38] AakankshaShah commented on #1540
Please assign me this under GSSOC'21.

[2021-04-08 12:13] GayatriMunde opened #1561 "[GSSoC'21] Implementation of Reverse Sort in Python"
Reverse sort is an algorithm to sort a list of distinct integers in particular order.

[2021-04-08 14:33] noviicee opened #1562 "Implementation of Stack using Linked List [Python]"
**Is your feature request related to a problem? Please describe.**
I will add the program to implement stack considering all the main methods along with some other methods also with the help of linked lists in Python.

**Do you want to work on it**
Yes!

**Languages used**
Python

**Participant of GSSOC'21**

[2021-04-08 15:26] divyanshu450 commented on #1511
@OjusWiZard @tarun26091999 please allow me work on this issue. I will submit everything after it has been assigned

[2021-04-08 18:12] neha07kumari commented on #1477
@raksha009  Please check my pull request #1477.

[2021-04-08 18:14] Poojasingh5 commented on #1543
Hello!
I am a GSSoC'21 participant.
I would like to contribute the code for this issue in  cpp and python both.
Kindly assign it to me.

[2021-04-08 18:25] Poojasingh5 opened #1565 "Sum using dice combinations."
**Is your feature request related to a problem? Please describe.**
    You have to find number of ways to construct sum 'n' by using different dice combinations with every throw.
**Describe the solution you'd like**
   Apply dynamic approach to solve this task.

**Do you want to work on it**
   I would like to work in C++ programming language.

[2021-04-09 05:42] PritomDutta89 commented on #1543
Please assign it to me. ( GSSOC 21)

[2021-04-09 08:27] AmrutaKoshe commented on #387
@OjusWiZard I have create a PR, please do take a look !

[2021-04-09 08:46] Nikitha2309 commented on #1247
Hey @raksha009
I have added the clear code
#1573
Pls review and merge
Thank you

[2021-04-09 13:35] Muskan0 opened #1577 "Flattening of a linkedlist."
We need to flatten a linkedlist where every node has two pointers: right pointer(points to the main linkedlist) and down pointer(this node is the head of another linked list). All linked lists are sorted.

I would use the method of merge sort of linked lists and recursively merge the lists.
I would like to use Python for this issue.

[2021-04-09 13:36] Muskan0 commented on #1511
Please assign me this in Python.
Thank you.

[2021-04-09 14:28] tarun26091999 commented on #394
do in java

[2021-04-09 14:32] tarun26091999 commented on #1565
@rudrakshi99 look into it.

[2021-04-09 14:33] ishwari20 commented on #1362
@raksha009 please assign it to me

[2021-04-09 15:09] Pranjal-Yadav17 opened #1579 "Math game"
Design of Math game project is too simple and can be improved. I would like to work on this issue as a part of GSSoc participant.
Please assign this issue to me.

[2021-04-09 15:13] tarun26091999 commented on #599
@rk05-lenavo link your PR here otherwise we have to unassign you from the issue.

[2021-04-09 15:27] rk05-lenavo commented on #599
@tarun26091999 Yeah I'll link it by tomorrow night. Sorry sir for being so late. I'll definitely link it by tomorrow night.

[2021-04-09 15:54] shonali2600 opened #1580 "Kth largest element in an array usinh heap"
**Is your feature request related to a problem? Please describe.**
Given an array and a number k, we need to find the kth largest element in that array

**Describe the solution you'd like**
I would like to add this program.

**Do you want to work on it**
I would like to implement this program in C++, please assign this issue to me as a gssoc participant.

[2021-04-09 16:27] neha030 opened #1581 "Median of two sorted array of equal size"
I am a GSSOC'21 participant and want to provide a C++ code .
Please assign me the issue.

[2021-04-09 17:54] Sathwika-02 commented on #1540
Hi,
I am GSSOC'21 participant,
My code will be in python with proper comments and test cases.
@anubhavitis @rudrakshi99 @tarun26091999 Please assign me this. Thankyou!!

[2021-04-09 17:56] Sathwika-02 commented on #1542
Hi,
I am GSSOC'21 participant,
My code will be in java with proper comments and test cases.
@anubhavitis @tarun26091999  Please assign me this. Thankyou!!

[2021-04-09 17:57] Sathwika-02 commented on #1539
Hi,
I am GSSOC'21 participant,
My code will be in java with proper comments and test cases.
@anubhavitis @OjusWiZard Please assign me this. Thankyou!!

[2021-04-10 03:42] iamKushagra commented on #1310
Okay @btanisha do it

[2021-04-10 04:22] RJ535315 opened #1584 "finding the unique numbers in an array"
**Is your feature request related to a problem? Please describe.**
Yes, Given an array of integer of size n, we have to find the unique numbers in the given array

**Describe the solution you'd like**
this problem can be solved using bitwise XOR, bitwise AND and bit masking

**Do you want to work on it**
I decided to use cpp to implement the solution for this problem

Please assign this issue to m

[2021-04-10 04:51] AdityaRaj-ar commented on #585
@tarun26091999 Sir, I will try in JAVA language.

[2021-04-10 07:09] yashikajotwani12 commented on #1577
I would like to contribute in this in c++ or python. please assign me this issue.

[2021-04-10 07:10] yashikajotwani12 commented on #1580
I would also like to contribute it in python. please assign me this issue.

[2021-04-10 08:34] 1vivekanand commented on #1324
@nakul-19 @plazzy99 @raksha009 @rudrakshi99
Can i work on this issue in java

[2021-04-10 08:37] 1vivekanand commented on #1540
@tarun26091999  @shreyanspoddar @OjusWiZard @nakul-19 @anjul2000 @rudrakshi99 @raksha009 @plazzy99
can i work on this issue using java under GSSoC'21

[2021-04-10 09:13] Sathwika-02 commented on #1584
Hi,
I am GSSOC'21 participant,
My code will be in java with proper comments and test cases.
@rudrakshi99  @tarun26091999 Please assign me this. Thankyou!!

[2021-04-10 09:31] krishna-NIT commented on #402
Left Rotation of Array Added in JAVA #717
please review

[2021-04-10 14:51] tarun26091999 commented on #1101
present at #374

[2021-04-10 14:51] #1101 closed

[2021-04-10 15:04] rk05-lenavo commented on #599
@tarun26091999 I have created the pull request. Please review the code if it seems Okay to you kindly issue me.

[2021-04-10 18:13] btanisha commented on #1310
@iamKushagra should i do it in python or cpp? I'm fine with both

[2021-04-10 18:40] iamKushagra commented on #1310
Do in both

On Sat, Apr 10, 2021 at 11:43 PM Tanisha ***@***.***> wrote:

[2021-04-10 18:43] sandipswain commented on #1088
@tarun26091999 can you add the gssoc label

[2021-04-10 20:31] tarun26091999 commented on #1122
present at #385

[2021-04-10 20:31] #1122 closed

[2021-04-10 21:34] budhirajamadhav commented on #1261
Hi @tarun26091999 Can I have this program assigned to me, I can write a clean and proper code in python. Along with proper comments and test cases.

[2021-04-11 03:28] raksha009 commented on #1359
Ohh yess, my bad. Thanks

[2021-04-11 03:28] #1359 closed

[2021-04-11 04:27] RYzen-009 opened #1596 "Left Rotate Array by d elements"
Is your feature request related to a problem? Please describe.
A We need to left rotate a given array by d elements

Describe the solution you'd like
A I would like to solve this problem in C++ with help of  Reversal Algorithm and will also provide a naive approach for better understanding

Do you want to work on it
I want to work on it with C++ as a GSSOC'21 participant.

[2021-04-11 05:05] Meghna180401 commented on #1488
@plazzy99 @tarun26091999 Kindly assign it to me.

[2021-04-11 05:05] Meghna180401 commented on #1489
@plazzy99 @tarun26091999 Kindly assign it to me.

[2021-04-11 11:28] NEERAJAP2001 opened #1603 "Add Next Permutation into Numerical Folder (Math)"
Implement next permutation, which rearranges numbers into the lexicographically next greater permutation of numbers.
If such an arrangement is not possible, it must rearrange it as the lowest possible order (i.e., sorted in ascending order).
Link : [HERE](https://leetcode.com/problems/next-permutation/)

I'd like to work on this issue as part of GSSOC-21 (I'll work in python)

[2021-04-11 12:26] Khushi-agarwal opened #1604 "Stack using linked list"
**Is your feature request related to a problem? Please describe.**
I want to implement stack data structure using linked list by adding functions like push and pop and display.

**Describe the solution you'd like**
A program to implement the same.

**Do you want to work on it**
C language.

Please @raksha009 @tarun26091999 assign me this.

[2021-04-11 15:45] nikitajangid33 opened #1606 "Reverse a linked list in a group of given size"
This is about reversing a linked list in a group of given size.
for instance a linked list is having 6 elements : 1->2->3->4->8->7->NULL  and the size of group  k in which we will reverse is 3
so k=3
OUTPUT : 3->2->1->7->8->4->NULL

i want to write this program in C++, kindly assign this issue to me i will put required comments with full explanation about the problem statement and time/ space comp

[2021-04-11 16:30] srisatya1197 commented on #299
I want to work in java is it ok Sir/ma'am?

[2021-04-11 18:24] dchhavi commented on #1581
Can I work on this issue? I'm pretty sure I can fix this!

[2021-04-11 18:26] dchhavi commented on #1584
Hey! Can I work on this issue as it seems interesting!

[2021-04-11 18:27] dchhavi commented on #1579
Can you assign me this issue? I want to work on this

[2021-04-11 18:29] dchhavi commented on #1554
I know C++ quite well and I would love to work on this issue. Can you assign me this issue?

[2021-04-11 18:32] dchhavi commented on #1543
I have a great understanding of bubble sort algorithm. I would love to work on this!!

[2021-04-11 18:34] dchhavi commented on #1540
Can I work on this issue? My preferred language is C++.

[2021-04-11 18:37] dchhavi commented on #1524
This is so easy , I can do it in less time accurately. I know how to correct this mistake can you please assign me this issue?

[2021-04-11 20:10] nancy0119 commented on #1524
**@rudrakshi99 @shreyanspoddar** Plz assign this issue to me. I found this issue and I know how to resolve it.

[2021-04-12 09:06] Amit-45 commented on #1554
Hi ,I would like to work on this issue ,can you suggest me ways to get started?

[2021-04-12 15:01] tarun26091999 commented on #314
link it here

[2021-04-12 15:20] tarun26091999 commented on #1149
cannot add multiple algo in 1 issue.

[2021-04-12 15:20] #1149 closed

[2021-04-12 15:20] tarun26091999 commented on #1301
present at #364

[2021-04-12 15:20] #1301 closed

[2021-04-12 15:21] tarun26091999 commented on #1337
cannot solve multiple problems in same issue.

[2021-04-12 15:21] #1337 closed

[2021-04-12 16:03] debanjan-2002 commented on #1554
I would like to contribute to this issue.
Please assign this to me.
Regards,
Debanjan Poddar
@raksha009
@rudrakshi99
@plazzy99
@tarun26091999
@OjusWiZard

[2021-04-12 16:06] AmitSamui commented on #1596
Hey! Can I work on this issue as it seems interesting! And my code will be in java with proper comments and test cases.

[2021-04-12 17:45] #572 closed

[2021-04-12 18:22] rahulrj1 commented on #47
Respected Mentor, I am a gssoc 2021 Participant & I want to work on this issue in C++, Please assign it to me.

[2021-04-12 18:40] rahulrj1 commented on #370
Respected Mentor, I would like to implement the solution of this problem in C++ under GSSOC'21. I request you to kindly assign this to me.
Thank You

[2021-04-12 18:51] rahulrj1 commented on #684
Respected Mentors @OjusWiZard @rudrakshi99 @nakul-19 @plazzy99 , I am a GSSoC 2021 participant and I would like to work on this issue in C++. I request you to assign this issue to me.
Thank You!

[2021-04-12 18:54] rahulrj1 commented on #802
Respected Mentors, I would like to implement this in C++ under GSSoC 2021. I request you to assign this issue to me.

[2021-04-12 19:08] rahulrj1 opened #1618 "Find out if a Linked List is Palindrome or not"
Given a linked list we have to right a program to find out whether it is a palindrome or not.
For ex, Linked list 1->3->5->7->5->3->1 is a palindrome whereas the linked list 1->2->3->4 is not.

**Describe the solution you'd like**
I would like to break the linked list into two linked lists from the middle and then reverse the second linked list formed then I would like to compare the two linked li

[2021-04-13 03:20] Amit366 commented on #162
@tarun26091999 please review my PRs

[2021-04-13 03:48] RYzen-009 commented on #1596
@AmitSamui I have created this issue and I wanted to work on this issue why did you commited the changes even without my permission.Pls remove this changes as soon as possible because I am working on this issue.

[2021-04-13 04:07] #1596 closed

[2021-04-13 09:26] #354 closed

[2021-04-13 09:28] tarun26091999 commented on #189
do it in python

[2021-04-13 12:13] Op-panda opened #1626 "Seive of Eratosthenes"
**Is your feature request related to a problem? Please describe.**
It is an algorithm to find prime number between two ranges

**Describe the solution you'd like**
I will be using this algorithm which says mark all non prime and print prime.

**Do you want to work on it**
CPP

[2021-04-13 12:16] Op-panda opened #1627 "Matrix Wave Traversal"
**Is your feature request related to a problem? Please describe.**
Basically question says we have to print all the elements of a matrix while travelling in a wave manner through matrix

**Describe the solution you'd like**
I will be using iterative method with some logic top implement this question

**Do you want to work on it**
CPP

[2021-04-13 12:18] Op-panda opened #1628 "spiral matrix"
**Is your feature request related to a problem? Please describe.**
In this question, elements of the array are to be printed while travelling through matrix

**Describe the solution you'd like**
I will be using Iterative method

**Do you want to work on it**
CPP

[2021-04-13 12:26] Op-panda commented on #1628
@rudrakshi#2361  @vatsal kesarwani#2606  @Tanyx#7069  @Raksha#9246  @tarun_10#1663  @Nakul#7751  @shrey#7147

[2021-04-13 12:26] Ridhikalra commented on #1604
**Is your feature request related to a problem ? Please describe.**
I would like to implement  Stack using linked list . I have already worked on it.

**Describe the solution you'd like.**
I will make a separate function of stack full and stack empty so that it will become easier to find whether the stack is empty or full.

**Do you want to work on it?**
yes, i can code the problem in C , C++, jav

[2021-04-13 12:26] Op-panda commented on #1627
@rudrakshi#2361  @vatsal kesarwani#2606  @Tanyx#7069  @Raksha#9246  @tarun_10#1663  @Nakul#7751  @shrey#7147

[2021-04-13 12:27] Op-panda commented on #1626
@rudrakshi#2361  @vatsal kesarwani#2606  @Tanyx#7069  @Raksha#9246  @tarun_10#1663  @Nakul#7751  @shrey#7147

[2021-04-13 12:44] #212 closed

[2021-04-13 13:26] #1403 closed

[2021-04-13 13:50] #401 closed

[2021-04-13 14:17] OjusWiZard commented on #632
@sonal251001 We don't accept C as of now. Java and Python are already asked by others.
Will you try doing it in C++? It's not much different from C

[2021-04-13 14:30] #867 closed

[2021-04-13 14:31] OjusWiZard commented on #867
Always mention the language

[2021-04-13 14:35] OjusWiZard commented on #871
Raise separate issues

[2021-04-13 14:35] #871 closed

[2021-04-13 14:49] OjusWiZard commented on #876
Duplicate of #665

[2021-04-13 14:49] #876 closed

[2021-04-13 15:15] GarimaKhare15 commented on #602
@tarun26091999 Sir , I have made a pr (issue 602) solving linear search in java 5 days ago.
So, I request you to please check it.

[2021-04-13 15:27] OjusWiZard commented on #878
@Rewangi Always Mention the language you want to work with

[2021-04-13 15:48] OjusWiZard commented on #703
@pallavi00021 Yes make a PR for your code and wait for some to review it

[2021-04-13 16:31] priyamourya commented on #392
Moore's voting algorithm .
#1629

[2021-04-13 18:04] noviicee commented on #1317
I will be glad do those in Python if it is needed in the repository. :blush:

[2021-04-13 18:06] noviicee opened #1630 "Add Priority Queue [Python]"
**Is your feature request related to a problem? Please describe.**
I would like to add priority queue using Python programming language.

**Do you want to work on it**
Python

[2021-04-13 19:02] Mihir0106 commented on #440
@OjusWiZard
under GSSOC 2021, I would like to add code for bubble sort using python

[2021-04-13 19:07] Mihir0106 opened #1632 "Insertion Sort using Python"
**Is your feature request related to a problem? Please describe.**
I would like to implement insertion sort using python.

**Describe the solution you'd like**
Insertion sort is a simple sorting algorithm that builds the final sorted array (or list) one item at a time. It is much less efficient on large lists than more advanced algorithms such as quicksort, heapsort, or merge sort.

**Do you want

[2021-04-13 19:08] Mihir0106 commented on #1632
@OjusWiZard
Please assign me this issue, under GSSOC 2021.

[2021-04-13 19:27] tarun26091999 commented on #1159
present at #178

[2021-04-13 19:29] tarun26091999 commented on #1141
present at #427

[2021-04-13 19:29] #1141 closed

[2021-04-13 19:36] debjani1413 opened #1633 "Stack using Queue"
**Is your feature request related to a problem? Please describe.**
I want to implement stack data structure using queue by adding functions like push and pop and display.

**Describe the solution you'd like**
I will implement the above problem by making the push operation costly.

**Do you want to work on it**
Yes, I want to work on it. And I'll be working on it in C++.

[2021-04-13 19:37] debjani1413 commented on #1633
I would like to contribute to the above problem as a participant of GSSOC'21.

[2021-04-14 00:55] #1159 closed

[2021-04-14 07:18] Sanjsarma opened #1637 "Array : Sum of unique numbers"
**Is your feature request related to a problem? Please describe.**
I would like to add the code for the problem : Find the sum of unique numbers in an array. For eg, if an array is [1,2,3,2] the unique numbers in the array is 1 and 3 and their sum is 1+3=4.

**Describe the solution you'd like**
I intend to solve this problem using a hash map. The frequency of every element in the array will be ins

[2021-04-14 07:19] Sanjsarma commented on #1637
I would like to contribute to the above problem as a participant of GSSOC'21. Kindly assign it to me.

[2021-04-14 07:29] Sanjsarma opened #1638 "Array : Find number of subarrays whose sum equals K"
**Is your feature request related to a problem? Please describe.**
The problem is to find the number of subarrays whose sum equals K. For eg: if the array is [1,1,1] and k=2, the different subarrays whose sum equals k are [1,1] and [1,1]. So, the number of subarrays whose equals 2 is 2.

**Describe the solution you'd like**
Using a hasmap, the current sum of elements in the array is added to the h

[2021-04-14 07:30] Sanjsarma commented on #1638
I would like to contribute to the above problem as a participant of GSSOC'21. Kindly assign it to me.

[2021-04-14 10:26] nidhivanjare opened #1640 "Transpose of a matrix"
**Is your feature request related to a problem? Please describe.**
I want to write a code to give the transpose of a matrix.

**Describe the solution you'd like**
Take input of a matrix and will print the transpose of that matrix.

I will write the code in Java.

**Do you want to work on it**
I am a GSSOC'21 participant and would like to work on this issue.

[2021-04-14 11:43] shubhidua commented on #1638
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-14 11:44] shubhidua commented on #1626
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-14 11:44] shubhidua commented on #1618
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-14 11:44] shubhidua commented on #1584
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-14 11:45] shubhidua commented on #1580
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-14 11:45] shubhidua commented on #1559
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-14 11:46] shubhidua commented on #1554
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-14 11:46] shubhidua commented on #1553
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-14 11:46] shubhidua commented on #1552
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-14 11:50] shubhidua commented on #1362
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-14 11:51] shubhidua commented on #555
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-14 11:51] shubhidua commented on #844
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-14 11:52] shubhidua commented on #1296
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.
@tarun26091999 @rudrakshi99

[2021-04-14 11:53] shubhidua commented on #845
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.
@tarun26091999

[2021-04-14 11:54] shubhidua commented on #489
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.
@kritika32

[2021-04-14 11:55] shubhidua commented on #494
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.
@rudrakshi99

[2021-04-14 14:38] nidhivanjare opened #1642 "Parenthesis Checker"
**Is your feature request related to a problem? Please describe.**
A code to check if there are right parenthesis in the string.

**Describe the solution you'd like**
A code will check if the brackets present in the string are matching or not.

**Do you want to work on it**
Python

[2021-04-14 15:17] manasvvi1 commented on #965
Hey!! I would like to work on the issue in cpp or c @raksha009

[2021-04-14 19:42] Himanshi2997 commented on #1640
Hello,
I would like to work on this issue. I can code in Python, C++ and Java .I am a participant of GSSoC'21 .
Will you please assign this issue to me.

[2021-04-14 19:46] Himanshi2997 commented on #1632
Hello,
I am a participant of GSSoC'21 .I would like to work on this issue.
Will you please assign this issue to me.

[2021-04-14 19:55] Himanshi2997 commented on #1604
Is your feature request related to a problem ? Please describe.
I have already done this program in C++.

Describe the solution you'd like.
I will make different functions for checking whether stack is empty or full and to perform push, pop operations and for displaying the stack.

Do you want to work on it?
I would like to contribute to this issue

I am a participant of GSSoC'21.
Will you please

[2021-04-14 20:00] Himanshi2997 commented on #1562
Is your feature request related to a problem ? Please describe.
I have already done this program in C++. I can do the same in Python.

Describe the solution you'd like.
I will make different functions for checking if the stack is empty or full and to perform push, pop operations and for displaying the stack.

Do you want to work on it?
I would like to contribute to this issue

I am a participant o

[2021-04-14 20:11] Himanshi2997 commented on #1637
Is your feature request related to a problem ? Please describe.
I have already done a program in Java to check if a number is unique or not.

Describe the solution you'd like.
I will check for each element in the array and if it is found to be a unique number I will add it to the final sum.

Do you want to work on it?
I would like to contribute to this issue

I am a participant of GSSoC'21.
Will y

[2021-04-14 20:20] Himanshi2997 commented on #1554
Is your feature request related to a problem ? Please describe.
I have already done this program in C++.

Do you want to work on it?
I would like to contribute to this issue

I am a participant of GSSoC'21.
Will you please assign this issue to me @raksha009 @tarun26091999

[2021-04-14 20:32] Himanshi2997 commented on #1543
Hello,
I would like to work on this issue. I can code bubble sort in python and C++ .I am a participant of GSSoC'21 .
Will you please assign this issue to me @raksha009 @tarun26091999

[2021-04-15 06:48] Simi06 opened #1644 "Longest Substring without repeating characters."
I want to work on this issue, am a GSSoC'21 participant.
I'll provide a well-commented and optimized code. I'll be using c++ to write my code.
**@tarun26091999 @rudrakshi99 @plazzy99 @nakul-19** please look into this. And assign this issue to me.

[2021-04-15 06:51] Simi06 commented on #1626
**@tarun26091999 @rudrakshi99 @plazzy99 @nakul-19 **, i would like to contribute to the above problem in CPP. am a GSSoC'21 participant. kindly assign this to me.

[2021-04-15 06:52] Simi06 commented on #1618
@tarun26091999 @rudrakshi99 @plazzy99 @nakul-19, I would like to contribute to the above problem in CPP. am a GSSoC'21 participant. Kindly assign this to me.

[2021-04-15 06:52] Simi06 commented on #1640
@tarun26091999 @rudrakshi99 @plazzy99 @nakul-19, I would like to contribute to the above problem in CPP. am a GSSoC'21 participant. Kindly assign this to me.

[2021-04-15 06:53] Simi06 commented on #1638
@tarun26091999 @rudrakshi99 @plazzy99 @nakul-19, I would like to contribute to the above problem in CPP. am a GSSoC'21 participant. Kindly assign this to me.

[2021-04-15 06:53] Simi06 commented on #1477
@tarun26091999 @rudrakshi99 @plazzy99 @nakul-19, I would like to contribute to the above problem in CPP. am a GSSoC'21 participant. Kindly assign this to me.

[2021-04-15 06:54] Simi06 commented on #1355
@tarun26091999 @rudrakshi99 @plazzy99 @nakul-19, I would like to contribute to the above problem in CPP. am a GSSoC'21 participant. Kindly assign this to me.

[2021-04-15 06:57] Simi06 commented on #807
@tarun26091999 @rudrakshi99 @plazzy99 @nakul-19, I would like to contribute to the above problem in CPP/Java. am a GSSoC'21 participant. Kindly assign this to me.

[2021-04-15 06:58] Simi06 commented on #625
@tarun26091999 @rudrakshi99 @plazzy99 @nakul-19, I would like to contribute to the above problem in CPP. am a GSSoC'21 participant. Kindly assign this to me.

[2021-04-15 06:59] Simi06 commented on #544
@tarun26091999 @rudrakshi99 @plazzy99 @nakul-19, I would like to contribute to the above problem in CPP and java. am a GSSoC'21 participant. Kindly assign this to me.

[2021-04-15 09:10] syedmdsaifihassan opened #1645 "Level Order Traversal"
I am a gssoc'21 participant.
I would like to contribute to this problem in java.
please assign this to me.

[2021-04-15 09:44] nidhivanjare commented on #1642
@rudrakshi99  Can I work on this ?

[2021-04-15 09:44] nidhivanjare commented on #1640
@rudrakshi99 Can I work on this ?

[2021-04-15 11:03] parvezahsen commented on #1640
Hi there, I would like to work on this issue

[2021-04-15 11:17] parvezahsen commented on #1630
hey I want to work on this issue, I am GSSoC'21 participant
@rudrakshi99 @nakul-19 @plazzy99 @tarun26091999 ,can you please assign me this issue

[2021-04-15 11:48] Op-panda commented on #1628
@raksha009 @nakul-19
@nakul-19

[2021-04-15 11:49] Op-panda commented on #1626
@raksha009 @nakul-19
@nakul-19

[2021-04-15 19:58] ShubhamGupta577 opened #1647 "Sieve of Atkins in C++"
**Sieve of Atkin** is a modern algorithm for finding all prime numbers up to a specified integer. Compared with the ancient Sieve of Eratosthenes, which marks off multiples of primes, the Sieve of Atkin does some preliminary work and then marks off multiples of squares of primes, thus achieving a better theoretical asymptotic complexity.

- **Time Complexity - O(N/ log log N)**
- **Space Complexit

[2021-04-15 20:01] ShubhamGupta577 commented on #1647
@tarun26091999, @plazzy99, I want to work on this issue under GSSOC21. Please assign me this issue.

[2021-04-16 04:30] ac-ayan opened #1649 "Scheduling Algorithms of Operating System"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.
In an OS there are FCFS ( First Come First Serve), SJFS (Shortest Job First Scheduling) and a lot more scheduling algorithms which are of utmost importance to learn about Operating Systems workings.
**Describe the solution you'd like**
A clear and concise description of what y

[2021-04-16 05:03] pallavidhere23 commented on #364
For C where I have to update my code file ?  As there is only files for C++,python and java.

[2021-04-16 06:18] parthmshah1302 commented on #592
Solved in #1520
Please review!

[2021-04-16 06:29] ShrutiOmer opened #1650 "Pronic Numbers"
**Is your feature request related to a problem? Please describe.**
Want to add program that will print the pronic numbers in given range.
A pronic number is a number which is the product of two consecutive integers, that is, a number of the form n(n + 1). The first few pronic numbers are: 0, 2, 6, 12, 20, 30, 42, 56, etc.

**Do you want to work on it**
Please assign this issue to me, I want to imp

[2021-04-16 10:06] madhvi02 commented on #1645
Sir @tarun26091999
Please assign this problem to me. I would like to solve this in c++.
I will surely provide the code with proper documentation and comments.

[2021-04-16 10:06] madhvi02 commented on #1637
I am a gssoc'21 participant.
I would like to contribute to this problem in C++.
please assign this to me.
@plazzy99 @rudrakshi99 @nakul-19 @tarun26091999 @shreyanspoddar @raksha009 @anjul2000 @OjusWiZard

[2021-04-16 10:06] madhvi02 commented on #1628
I am a gssoc'21 participant.
I would like to contribute to this problem in C++.
please assign this to me.
@plazzy99 @rudrakshi99 @nakul-19 @tarun26091999 @shreyanspoddar @raksha009 @anjul2000 @OjusWiZard

[2021-04-16 10:06] madhvi02 commented on #1577
I am a gssoc'21 participant.
I would like to contribute to this problem in C++.
please assign this to me.
@plazzy99 @rudrakshi99 @nakul-19 @tarun26091999 @shreyanspoddar @raksha009 @anjul2000 @OjusWiZard

[2021-04-16 10:07] madhvi02 commented on #1554
I am a gssoc'21 participant.
I would like to contribute to this problem in C++.
please assign this to me.
@plazzy99 @rudrakshi99 @nakul-19 @tarun26091999 @shreyanspoddar @raksha009 @anjul2000 @OjusWiZard

[2021-04-16 10:07] madhvi02 commented on #1543
I am a gssoc'21 participant.
I would like to contribute to this problem in C++.
please assign this to me.
I will surely provide you with the commented code.
@plazzy99 @rudrakshi99 @nakul-19 @tarun26091999 @shreyanspoddar @raksha009 @anjul2000 @OjusWiZard

[2021-04-16 10:08] madhvi02 commented on #1473
I am a gssoc'21 participant.
I would like to contribute to this problem in C++.
please assign this to me.
I will surely provide you with the commented code.
@plazzy99 @rudrakshi99 @nakul-19 @tarun26091999 @shreyanspoddar @raksha009 @anjul2000 @OjusWiZard

[2021-04-16 12:55] ShubhamGupta577 commented on #794
@OjusWiZard, Under GSSOC21 I want to work on this issue using C++ or Python. Please assign me this issue.

[2021-04-16 13:04] ShubhamGupta577 opened #1651 "Jump Search in C++"
## Jump Search
Jump Search is a searching algorithm for sorted arrays. The basic idea is to check fewer elements (than linear search) by jumping ahead by fixed steps or skipping some elements in place of searching all elements.
- **Time complexity- O(sqrt(n))**
- **Space complexity-O(1)**

**Do you want to work on it**
Yes, I want to work on this using C++.

[2021-04-16 13:06] ShubhamGupta577 commented on #1651
@rudrakshi99 , @tarun26091999, Under GSSOC21 I want to work on this issue. Please assign me this issue.

[2021-04-16 15:10] #177 closed

[2021-04-17 05:35] Navyasingla1309 opened #1655 "Largest submatrix with all 1's in Java"
I would like to contribute to this problem in Java. I am a GsSoc 2021 participant

[2021-04-17 08:16] rajeshpanjiyar opened #1656 "Adding Lottery.java"
**Is your feature request related to a problem? Please describe.**
I want to add Lottery.java file in https://github.com/Algo-Phantoms/Algo-Tree/tree/main/Code/Java .
This is a lottery program.

**Describe the solution you'd like**
This program will take input and on a random basis will declare the winner.

**Do you want to work on it**
I want to work on it and I am a participant in GSSOC21. I wou

[2021-04-17 17:10] #587 closed

[2021-04-17 17:11] #445 closed

[2021-04-18 15:34] tarun26091999 commented on #602
link it here

[2021-04-18 16:38] GarimaKhare15 commented on #602
@tarun26091999
https://github.com/Algo-Phantoms/Algo-Tree/pulls/@me

[2021-04-18 17:36] anshmishra010 opened #1660 "Palindrome Number"
**Is your feature request related to a problem? Please describe.**
Given an integer x, return true if x is palindrome integer

**Describe the solution you'd like**
I would like to add code in code folder in c++ .

**Do you want to work on it**
Yes
Want to add code under GSSoC'21 participant .

[2021-04-18 17:36] anshmishra010 commented on #1660
as a GSSoC'21 participant.

[2021-04-19 04:13] madhurima99 commented on #581
@OjusWiZard I'll be using Java to solve the problem. Can you reopen and assign this issue to me?

[2021-04-19 09:16] swarupcode-prog opened #1662 "{DEMO,ignore} Arrays : TWO SUM"
**Explanation**

given an array ,print a pair of number that is equal to target

**Example**

Hey @rudrakshi99 I want to add this question in this project

[2021-04-19 10:20] arvinder-nitj opened #1665 "All possible permutations of a given String."
**Is your feature request related to a problem? Please describe.**
A string is given we have to generate all its possible permutations. A permutation of the string is defined as a word that contains all the characters of the original string but in any order. The output should contain only unique words in lexicographically sorted order.

**Describe the solution you'd like**
The solution is based on

[2021-04-19 10:21] #1665 closed

[2021-04-19 10:24] unicode-Ind opened #1666 "All possible permutations of a given String."
Is your feature request related to a problem? Please describe.
A string is given we have to generate all its possible permutations. A permutation of the string is defined as a word that contains all the characters of the original string but in any order. The output should contain only unique words in lexicographically sorted order.

Describe the solution you'd like
The solution is based on recursi

[2021-04-19 11:12] unicode-Ind commented on #1666
Can someone explain what is exactly needed to be done for following instruction ?
-Edit the corresponding README.md file to add the link to your code in the corresponding section in alphabetical order.

[2021-04-19 16:09] darpankhanna commented on #1660
Please assign me this issue

[2021-04-19 19:48] anshmishra010 commented on #1660
I have made the pr for the issue

[2021-04-20 07:20] anjalisingh8 commented on #1662
Is your feature request related to a problem? Please describe.
I want to write a code to give the solution to two Sum problem.

Describe the solution you'd like
Take input of an array and the target and then return the array elements achieving the target.

I will write the code in Java.

Do you want to work on it
I am a GSSOC'21 participant and would like to work on this issue.

[2021-04-20 07:24] swarupcode-prog commented on #1662
I was learning basics if git and GitHub please kindly ignore it.

On Tue, Apr 20, 2021, 12:51 Anjali Singh ***@***.***> wrote:

[2021-04-20 15:54] shubhidua commented on #1666
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-20 15:54] shubhidua commented on #1660
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-20 15:54] shubhidua commented on #1656
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-20 15:55] shubhidua commented on #1655
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-20 15:55] shubhidua commented on #1651
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-20 15:55] shubhidua commented on #1650
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-20 15:55] shubhidua commented on #1649
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-20 15:56] shubhidua commented on #1645
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-20 15:56] shubhidua commented on #1644
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-20 15:56] shubhidua commented on #1642
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-20 15:56] shubhidua commented on #1640
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-20 15:57] shubhidua commented on #1632
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-21 09:12] shreya-shah-28 opened #1674 "top and bottom view of binary tree"
**Is your feature request related to a problem? Please describe.**
the problem is to print the top and bottom view of the binary tree

**Describe the solution you'd like**
the above problem can be solved using the horizontal distance of a node concept.
in top view A node x is there in output if x is the topmost node at its horizontal distance.
and in bottom view A node x is there in output if x is

[2021-04-21 09:18] shreya-shah-28 opened #1675 "indian coin change problem greedy algorithm"
**Is your feature request related to a problem? Please describe.**
the problem is to find the indian coin change of a given amount of money using the greedy approach i.e finding what is the minimum number of coins and/or notes needed to make the change

**Describe the solution you'd like**
the above problem can be solved using a greedy approch  by taking  coins with greater value first. This can r

[2021-04-21 09:25] sayantani11 commented on #1027
@plazzy99 please assign this to me

[2021-04-21 09:26] sayantani11 commented on #1027
@raksha009

[2021-04-21 09:26] sayantani11 commented on #1161
@raksha009 please assign

[2021-04-21 09:27] sayantani11 commented on #1163
@raksha009 please assign

[2021-04-21 09:28] sayantani11 commented on #1374
@raksha009
Consider a height-balancing scheme where following conditions should be checked to determine if a binary tree is balanced.
An empty tree is height-balanced. A non-empty binary tree T is balanced if:
1) Left subtree of T is balanced
2) Right subtree of T is balanced
3) The difference between heights of left subtree and right subtree is not more than 1

[2021-04-21 12:51] Op-panda opened #1677 "Matrix traversal"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Do you want to work on it**
Mention the one language you want to be assigned for this issue.

[2021-04-21 14:18] #1677 closed

[2021-04-21 14:44] #1640 closed

[2021-04-21 14:54] Bushra109 commented on #1628
I am a gssoc'21 participant.
I wish to contribute to this problem in C++.
please assign this to me.
@plazzy99 @rudrakshi99 @nakul-19 @tarun26091999 @shreyanspoddar @raksha009 @anjul2000 @OjusWiZard

[2021-04-21 15:05] Bushra109 commented on #1262
I am a GSSOC 21 Participant.
I wish to work on this issue in C++.
Please assign this issue to me.

[2021-04-21 15:12] Bushra109 commented on #1312
I am GSSOC'21 participant. I wish to work on this issue in C++. Please assign this issue to me.

[2021-04-21 15:20] Bushra109 commented on #1096
I am GSSOC'21 participant. I want to work on this issue in C++. Please assign this issue to me.

[2021-04-21 15:23] Bushra109 commented on #828
I wish to work on this problem using recursion in C++.
Please assign me this issue @OjusWiZard

[2021-04-21 16:31] #1106 closed

[2021-04-21 16:47] mehak6569 commented on #1647
I want to work on this issue in Python. Please assign it to me.

[2021-04-21 16:48] Tejal18 commented on #1660
I would like to contribute to the above code in python . Kindly assign this to me. Thanks.

[2021-04-21 16:57] mehak6569 opened #1679 "Red Black Tree"
A **red-black tree** is a self-balancing binary search tree where each node has an extra bit, and that bit is often interpreted as the colour (red or black).
It reduces the searching time to O(log n), where n is the total number of elements in the tree.

I want to implement **Insertion and Deletion** in Red Black Tree using **C++**.

Please assign me this issue.[](url)

[2021-04-21 16:58] Tejal18 opened #1680 "Fibonacci using recursion"
**Is your feature request related to a problem? Please describe.**
The problem is to print Fibonacci series using recursion.

**Describe the solution you'd like**
In the above problem , the Fibonacci series will be printed. The implementation of the code will be done using recursion.
N will be the input from the user , N is the number of integers that will be printed in the fibonacci series.
Fibon

[2021-04-21 17:41] #89 closed

[2021-04-22 03:09] ac-ayan commented on #1649
Working on the issue and submission already made.

[2021-04-22 05:34] ANAMIKA1410 commented on #1680
please Assign this to me

[2021-04-22 05:46] Tejal18 commented on #1680
I have created this Issue . @plazzy99  Please assign this to me.
Thanks.

[2021-04-22 06:49] tarun26091999 commented on #427
@anandhu-eng @khusheekapoor you want to work on this issue or should I unassign you?

[2021-04-22 07:06] khusheekapoor commented on #427
Hello @tarun26091999 , I am unable to generate a suitable code. Please unassign. Sorry for the inconvenience.

[2021-04-22 07:53] Sathwika-02 commented on #1666
Hi,
I am GSSOC'21 participant,
My code will be in python with proper comments and test cases.
@tarun26091999 @rudrakshi99 Please assign me this. Thankyou!!

[2021-04-22 07:54] Sathwika-02 commented on #1680
Hi,
I am GSSOC'21 participant,
My code will be in python with proper comments and test cases.
@tarun26091999 @rudrakshi99 Please assign me this. Thankyou!!

[2021-04-22 07:55] Sathwika-02 commented on #1650
Hi,
I am GSSOC'21 participant,
My code will be in python with proper comments and test cases.
@tarun26091999 @rudrakshi99 Please assign me this. Thankyou!!

[2021-04-22 08:17] Tejal18 commented on #1680
I have created this Issue .
I will code this in java with proper test cases and comments.
@plazzy99 @tarun26091999 @rudrakshi99 Please assign this to me.
Thanks.

[2021-04-22 10:06] Prerna-07 opened #1682 "Searching in BST"
**Is your feature request related to a problem? Please describe.**
Searching in BST

**Describe the solution you'd like**
The solution will be done using recursion. If element is less than the present node data then search in left, else search in right. There will be two base cases
i) if node data is equal to desired data return true
ii)If node reached to null return false.

**Do you want to work

[2021-04-22 10:17] Prerna-07 opened #1683 "Balanced Bracket Problem"
**Is your feature request related to a problem? Please describe.**
Balanced Bracket Problem
Explanation :- To check if the expression is balanced i.e. closing brackets and opening brackets match up well.

**Describe the solution you'd like**
It will be an iterative solution in which loop will iterate over each character of expression, if opening brackets encountered then simply push in stack, if c

[2021-04-22 10:20] Prerna-07 commented on #1683
Please assign it to me . @nakul-19 @raksha009 @plazzy99

[2021-04-22 10:20] Prerna-07 commented on #1682
Please assign it to me . @nakul-19 @raksha009 @plazzy99

[2021-04-22 10:25] Prerna-07 opened #1684 "Stock Span Problem"
**Is your feature request related to a problem? Please describe.**
Stock Span Problem
Explanation  : Stock span is defined as the number of days passed between the current day and the first day before today when price was higher than today.

**Describe the solution you'd like**
A simple and concise approach which is implemented using Stack, it is somewhat as finding max on the left.

**Do you want

[2021-04-22 10:26] Prerna-07 commented on #1684
Please assign it to me . @nakul-19 @raksha009 @plazzy99

[2021-04-22 10:29] Prerna-07 opened #1685 "Function to get size of a Binary Tree"
**Is your feature request related to a problem? Please describe.**
Function to get size of a Binary Tree, counts the number of nodes in a Binary tree.

**Describe the solution you'd like**
A recursive solution which will return the size of left and right child of Binary tree, size of the tree will be left size+ right size+1.
If node == null simply return 0.

**Do you want to work on it**
Yes, I wo

[2021-04-22 10:30] Prerna-07 commented on #1685
Please assign it to me . @nakul-19 @raksha009 @plazzy99

[2021-04-22 10:44] Rohan27s commented on #1033
Hey @alkatrivedi kindly follow the guidelines #1153

[2021-04-22 11:15] ShrutiPandey27 commented on #1554
Greetings,I am GSSoC'21 participant
I would like to work on this issue of merge sort ,which enables us to sort the array unordered elements with n*log(n) time complexity.

I request @shubhidua @Himanshi2997 @madhvi02 @nitinjaiswal7537 @debanjan-2002  to kindly assign this to me,
With regards,
Shruti Pandey

[2021-04-22 11:19] ShrutiPandey27 commented on #1552
Greetings,I am GSSoC'21 participant
I would like to work on this issue of radix sort ,which is a non comparative sorting algorithm and sorts the elements (digit) from least significant digit(LSD) to most significant digit(MSD)

LANGUAGE PREFERRED:CPP

I request @shubhidua @Himanshi2997 @madhvi02 @nitinjaiswal7537 @debanjan-2002 to kindly assign this to me.
With regards,
Shruti Pandey

[2021-04-22 11:24] ShrutiPandey27 commented on #1542
Greetings,I am GSSoC'21 participant
I would like to work on this issue (operations in stack).
Operations that I can be done in stacks:
1.Push
2.Pop
3.display elements (LIFO manner)
4.underflow
5.overflow
6.display top element
7.we can also check if elements in stack are  palindrome

Preferred language:cpp

I request @shubhidua @Himanshi2997 @madhvi02 @nitinjaiswal7537 @debanjan-2002 to kindly assi

[2021-04-22 11:32] ShrutiPandey27 commented on #1262
Greetings,I am GSSoC'21 participant
I would like to work on this issue of implementing stack using array.
Using array we can perform operations such as:
1.push
2.pop
3.peek
4.display/traversal
5.check if elements in stack are palindrome

Preferred language:cpp

I request @shubhidua @Himanshi2997 @madhvi02 @nitinjaiswal7537 @debanjan-2002 to kindly assign this to me.
Thank you
With regards,
Shruti

[2021-04-22 11:37] ShrutiPandey27 commented on #1268
Greetings,I am GSSoC'21 participant
I would like to work on this issue of Knuth-Morris-Pratt Algorithm.
It is an efficient and effective way when compared to naive pattern searching algorithm.
The kmp matching algorithm uses degenerating property of the pattern and improves the worst case complexity to o(n).

Preferred language:java

I request @shubhidua @Himanshi2997 @madhvi02 @nitinjaiswal7537 @

[2021-04-22 13:05] Fatema110 commented on #1515
Assign this to me @plazzy99

[2021-04-22 14:11] tanyagupta0201 opened #1687 "String: Replace PI"
Explanation:

Given a string. Replace all the occurences of pi with its value (the value of pi is 3.14).

Example:

1. inputted string = kipipi  , output string = ki3.143.14
2. inputted string = jopirty , output string = jo3.14rty
3. inputted string = xyz     ,  output  string= xyz

I will code this problem in C++ with proper test cases and comments in "Algo-Tree/Code/C++/".
Hey @rudrakshi99 @naku

[2021-04-22 14:19] tanyagupta0201 commented on #1660
I would like to contribute to the above code in C++. Please assign this problem to me. Thanks.

[2021-04-22 14:22] tanyagupta0201 commented on #1628
I am a gssoc'21 participant. I would like to contribute to the above code in C++. Please assign this problem to me. Thanks.

[2021-04-22 14:24] tanyagupta0201 commented on #1628
I am a gssoc'21 participant. I would like to contribute to the above code in C++. Please assign this problem to me. Thanks.
@rudrakshi99 @tarun26091999 @nakul-19 @raksha009 @anjul2000 @shreyanspoddar

[2021-04-22 15:50] #1680 closed

[2021-04-22 16:10] Mugdha-Hazra commented on #739
thank you @tarun26091999 sir for assigning me this task!.

[2021-04-22 16:55] somya51p opened #1690 "Detect cycle in undirected graph using Union-Find algorithm"
**Is your feature request related to a problem? Please describe.**
Detection of cycle in undirected grapgh as one of the examples of implementations of Union-Find algoritm.

**Describe the solution you'd like**
Union-Find Algorithm can be used to check whether an undirected graph contains cycle or not. So I wish to create a code for the same in C++ language.

**Do you want to work on it**
C++

[2021-04-22 17:53] Mugdha-Hazra commented on #1679
Hello, @mehak6569 @aaadddiii @anubhavitis @veenit1802 @ssaksham, I think this is an important question and this should definitely be added in the Algo-Tree and I will start working on it as soon as I get assigned!! as I am a part of GSSoC'21, so I would like to implement this in c++.

[2021-04-22 17:54] Mugdha-Hazra commented on #1675
Hello, @shreya-shah-28 @aaadddiii @anubhavitis @veenit1802 @ssaksham, I think this is an important question and this should definitely be added in the Algo-Tree and I will start working on it as soon as I get assigned!! as I am a part of GSSoC'21, so I would like to implement this in c++.

[2021-04-22 17:54] Mugdha-Hazra commented on #1666
Hello, @shubhidua @unicode-Ind @Sathwika-02 @aaadddiii @anubhavitis, I think this is an important question and this should definitely be added in the Algo-Tree and I will start working on it as soon as I get assigned!! as I am a part of GSSoC'21, so I would like to implement this in c++.

[2021-04-22 17:56] Mugdha-Hazra commented on #1644
Hello, @shubhidua @Simi06 @aaadddiii @anubhavitis @veenit1802, I think this is an important question and this should definitely be added in the Algo-Tree and I will start working on it as soon as I get assigned!! as I am a part of GSSoC'21, so I would like to implement this in c++.

[2021-04-22 17:56] Mugdha-Hazra commented on #1637
Hello, I think this is an important question and this should definitely be added in the Algo-Tree and I will start working on it as soon as I get assigned!! as I am a part of GSSoC'21, so I would like to implement this in c++.

[2021-04-22 17:57] Mugdha-Hazra commented on #1633
Hello @debjani1413 @aaadddiii @anubhavitis @veenit1802 @ssaksham  I think this is an important question and this should definitely be added in the Algo-Tree and I will start working on it as soon as I get assigned!! as I am a part of GSSoC'21, so I would like to implement this in c++.

[2021-04-22 17:58] Mugdha-Hazra commented on #1626
Hello, @shubhidua @Simi06 @Op-panda @aaadddiii @anubhavitis  I think this is an important question and this should definitely be added in the Algo-Tree and I will start working on it as soon as I get assigned!! as I am a part of GSSoC'21, so I would like to implement this in c++.

[2021-04-22 18:51] HimanshiMetta commented on #1152
Hello! I am a participant of GSSoC'21. I would like to work on this issue using Python. Please assign it to me. Thanks!

[2021-04-22 19:46] tarun26091999 commented on #248
do in cpp and raise separate PRs

[2021-04-22 19:48] tarun26091999 commented on #248
specify the language.

[2021-04-22 20:05] tarun26091999 commented on #1679
@mehak2323 make it a user driven code and implement both methods neatly.

[2021-04-22 20:10] tarun26091999 commented on #1651
issue present at #1024 , you can ask there for assignment.

[2021-04-22 20:10] #1651 closed

[2021-04-22 20:38] ShubhamGupta577 commented on #1024
@tarun26091999, Under GSSOC21 I would like to work on this issue using C++. Please assign me this issue.

[2021-04-23 03:40] imsushant12 commented on #248
Thankyou for assigning, working on it!

[2021-04-23 04:51] soumik2012 opened #1695 "Rearrange array in alternating positive & negative items in extra space O(1) in python"
## 🚀 Feature

Given an array of positive and negative numbers, arrange them in an alternate fashion such that every positive number is followed by negative and vice-versa maintaining the order of appearance.
A number of positive and negative numbers need not be equal. If there are more positive numbers they appear at the end of the array. If there are more negative numbers, they too appear in the

[2021-04-23 05:42] anishsingh42 opened #1696 "Sorting Techniques [GSSOC'21]"
**Bubble Sort:-**
The simplest sorting algorithm, that works on repeatedly swapping the adjacent elements if in wrong order.

**Selection Sort:-**
The algorithm repeatedly find the minimum element of the unsorted part and put in the beginning. There are always two part in selection sort algorithm:-
1)  The sorted subarray;
2)  The  unsorted subarray.

**Insertion Sort:-**
In insertion sort algorit

[2021-04-23 06:06] Tejal18 commented on #1300
Hello, @plazzy99 I want to contribute to this issue. I can solve this issue in JAVA language .
Please do assign me this issue.
Thanks.

[2021-04-23 06:10] Tejal18 commented on #236
@OjusWiZard @plazzy99  I want to contribute to this issue. I will write this code in Python .
Please assign me this issue.
Thanks.

[2021-04-23 06:12] Tejal18 commented on #1696
Hello , @tarun26091999 @rudrakshi99 @plazzy99 I want to contribute to this issue .
I will write all the codes in JAVA.
Please do assign me this issue.
Thanks.

[2021-04-23 06:38] soumik2012 commented on #1695
@tarun26091999 please assign me this is issue

[2021-04-23 07:19] Tejal18 commented on #1679
@tarun26091999 @Mugdha-Hazra  I want to contribute to the code.
I want to code the insertion and deletion in red black tree in **JAVA**.
Please this to me too.
thanks.

[2021-04-23 07:50] tarun26091999 commented on #708
@Amisha-Mohapatra you want to work on it or should I unassign?
@Poojasingh5 do it in 0(1) space complexity and 0(n*log n) time complexity.

[2021-04-23 07:50] tarun26091999 commented on #1695
present at #708

[2021-04-23 07:50] #1695 closed

[2021-04-23 07:55] tarun26091999 commented on #1696
all sorting techniques are already being worked upon.

[2021-04-23 07:55] #1696 closed

[2021-04-23 07:56] U-c0de opened #1698 "Block Sum of Matrix"
**Is your feature request related to a problem? Please describe.**
Sub matrices sum(in given coordinates value) to form a summation matrix  | Dynamic Programming

**Describe the solution you'd like**
Through coordinates value forming a new matrix which stores sum of submatrices  by using class & objects

**Do you want to work on it**
Assign this issue to me in C++.

[2021-04-23 07:56] anishsingh42 commented on #1696
Non till now are added yet. if you allow me I can work upon them.

[2021-04-23 08:04] #517 closed

[2021-04-23 08:54] Rajashri14 commented on #1682
I want to work on this issue in java. Please assign this issue to me.

[2021-04-23 08:56] Rajashri14 commented on #1633
I would like to contribute to this issue. Please assign this issue to me.

[2021-04-23 08:57] anishsingh42 commented on #1201
@tarun26091999 @plazzy99 Would you please assign me this issue.
Language: Python.

[2021-04-23 08:57] Rajashri14 commented on #1632
I would like to work on this issue. Please assign this issue to me.

[2021-04-23 08:58] Rajashri14 commented on #1604
I want to work on this issue in Java. Please assign this issue to me.

[2021-04-23 09:00] Rajashri14 commented on #1542
I want to work on this issue in Java . Please assign this issue to me.

[2021-04-23 09:01] Rajashri14 commented on #1539
I would like to work on this issue in java. Please assign this issue to me.

[2021-04-23 09:10] Khushi-agarwal commented on #1604
@tarun26091999 It's been 12 days since I have opened this issue.Please assign this to me.

[2021-04-23 11:06] rish-singhal commented on #1201
@anishsingh42  okay!

[2021-04-23 11:27] ssaumyaa7 opened #1701 "Bitwise manipulation"
In bitwise manipulation it is important to describe the topic operator overloading.

In various tricky programming questions,  the answers and the output vary due to operator overloading.

So do check on the pull request generated to do the same.

[2021-04-23 11:35] rish-singhal commented on #1701
Hi you can not work on this issue before you are assigned.

[2021-04-23 12:46] anishsingh42 commented on #1201
Thank you so much.

[2021-04-23 13:38] U-c0de opened #1702 "Find Transition Point"
Description:
Given a sorted array containing only 0s and 1s, find the transition point.
The transition point is a point where “0” ends and “1” begins.

**Do you want to work on it**
Assign this to me
I want to submit the code in C++

[2021-04-23 14:24] rish-singhal commented on #1666
@unicode-Ind @shubhidua @Sathwika-02 assigned.

[2021-04-23 15:25] tarun26091999 commented on #697
@Nikitha2309 mention the language.

[2021-04-23 15:29] Nikitha2309 commented on #697
Done .
Looking forward to this issue getting assigned to me and work on it, Thank you.

[2021-04-23 18:36] yasharth291 commented on #157
closing it as it is merged

[2021-04-23 18:36] #157 closed

[2021-04-23 22:56] Pushpit07 opened #1704 "Add Selection Sort implemented in Python"
I would like to implement the selection sort algorithm in Python.
@yasharth291 Can you please assign this to me?

[2021-04-24 02:55] anandhu-eng commented on #427
@tarun26091999 it would be nice if you could give two more days ... I'm figuring it out

[2021-04-24 05:20] U-c0de commented on #1679
@tarun26091999 @Mugdha-Hazra I want to contribute to the code.
I want to code the  Red Black Tree in Python
Please assign this issue to me .

[2021-04-24 05:50] rish-singhal commented on #1701
@rudrakshi99 Can you look into this?

[2021-04-24 08:03] AdityaRaj-ar commented on #1698
I Request you to please assign this issue to me. I really want to work on this issue and I will solve this issue in C++. I would be grateful if you assign this issue to me. Therefore I request you to assign this issue to me.

[2021-04-24 08:37] Srishti013 commented on #777
Hello,
I would like to contribute to this issue in C++ as a GSSoC 2021 participant
kindly assign me the issue if it is not solved already

[2021-04-24 08:40] Srishti013 commented on #1666
Hi,
I would like to solve this issue in C++ with proper test cases and comments.
Please assign this issue to me if its not already solved.

[2021-04-24 10:02] #1642 closed

[2021-04-24 11:07] krishna-NIT commented on #777
@OjusWiZard Since Mar 12, we don't have PR for JAVA so, Can I Do it? @tarun26091999 @plazzy99 @rudrakshi99

[2021-04-24 11:47] rish-singhal commented on #1666
@Srishti013 for C++ it's already done. Thanks for your interest!

[2021-04-24 11:55] U-c0de opened #1713 "Binary Representation"
A binary representation where we will calculate maximum 0's between 1's and vice versa.

**Do you want to work on it**
Assign this to me.
I will code it in C++

[2021-04-24 12:20] Srishti013 commented on #1713
Hi,
I would like to work on this please assign this to me.
I will provide the code in C++

[2021-04-24 12:22] Srishti013 commented on #1704
Hi,
I can do this in python please assign this issue to me.

[2021-04-24 12:24] Srishti013 commented on #1702
Hi,
I can provide the solution of this in python a well as in C++ please assign this to me.

[2021-04-24 12:27] Debashish-hub opened #1714 "Sort an array according to other in c++"
**Is your feature request related to a problem? Please describe.**
The feature is to add a problem in which an array will be sorted according to another array.

**Describe the solution you'd like**
I will solve the problem using maps.

**Do you want to work on it**
I will do it using c++.

Assign me this issue if this is good enough to be added in _Algo Tree_ @tarun26091999 @raksha009

[2021-04-24 12:30] Junaid55 opened #1715 "Toeplitz Matrix Code."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Do you want to work on it**
Mention the one language you want to be assigned for this issue.

[2021-04-24 12:33] Junaid55 commented on #1715
This issue is related to toeplitz matrix problem.
 A Toeplitz matrix or diagonal-constant matrix, named after Otto Toeplitz, is a matrix in which each descending diagonal from left to right is constant.
Please asign this issue to me I will provide a solution in java.

[2021-04-24 14:29] rish-singhal commented on #1683
Hey you were not assigned this issue, you need to be assigned first before submittin your PR. As of now I am assigning you, please from next time wait for being assigned first.

[2021-04-24 14:40] rish-singhal commented on #1715
mention the issue number as #issue_number

[2021-04-24 14:54] Prerna-07 commented on #1683
@rish-singhal  ok sir

[2021-04-24 15:17] Srishti013 commented on #1683
Hi,
I am a GSSOC'21 participant, I would like to solve this in C++. Please assign this issue to me.

[2021-04-24 15:18] Srishti013 commented on #1261
Hi,
I am a GSSOC'21 participant, I would like to solve this in C++. Please assign this issue to me.

[2021-04-24 15:21] madhvi02 commented on #1682
I am a  GSSOC'21 Participant
@nakul-19 @raksha009 @plazzy99 @tarun26091999 please assign this issue to me . I will provide you with the commented and optimized code.
Language: C++

[2021-04-24 15:27] madhvi02 opened #1717 "Largest Piece of the Cake"
Is your feature request related to a problem? Please describe.
Topic: Graph

It's Gary's birthday today and he has ordered his favorite square cake consisting of '0's and '1's. But Gary wants the biggest piece of '1's and no '0's. A piece of cake is defined as a part that consists of only '1's, and all '1's share an edge with each other on the cake. Given the size of cake N and the cake, can you f

[2021-04-24 15:28] madhvi02 commented on #1717
@tarun26091999  Sir please assign this issue to me

[2021-04-24 17:35] Pushpit07 commented on #1704
@Rohan27s here

[2021-04-24 17:37] yasharth291 commented on #1704
@Srishti013 sorry first come first serve

[2021-04-24 17:39] yasharth291 commented on #1662
i don't think it is some kind of  algorithm @plazzy99  should I close it

[2021-04-24 17:55] amankhanathani opened #1721 "Bitwise Operation"
**Is your feature request related to a problem? Please describe.**
Count the number of set bits in an integer

**Describe the solution you'd like**
Will use bit manipulation to return the number of 1s in the integer's binary format

**Do you want to work on it**
I will use C++.

[2021-04-24 17:55] yasharth291 commented on #877
closing it

[2021-04-24 18:13] swarupcode-prog commented on #1662
Yes, you can do that.

On Sat, Apr 24, 2021, 11:09 PM Yasharth dubey ***@***.***>
wrote:

[2021-04-24 18:18] #148 closed

[2021-04-24 18:27] #220 closed

[2021-04-25 01:13] rish-singhal commented on #1683
@Srishti013 assigned you.

[2021-04-25 01:49] rish-singhal commented on #1684
Done @Prerna-07

[2021-04-25 01:50] Prerna-07 commented on #1684
@rish-singhal  thank you sir

[2021-04-25 01:51] rish-singhal commented on #1682
Assigned for java @Prerna-07

[2021-04-25 01:51] rish-singhal commented on #1682
@madhvi02 the code is already there for C++. Thanks for your interest! :)

[2021-04-25 01:52] rish-singhal commented on #1684
@Prerna-07 no need to call me sir :p

[2021-04-25 03:44] Srishti013 commented on #1721
Hi,
I am a GSSOC'21  participant, I would like to solve this in C++. Please  assign this issue to me.

[2021-04-25 05:01] khusheekapoor opened #1722 "Automorphic Number in Java"
**Is your feature request related to a problem? Please describe.**
The program will check whether the number input by the user is an automorphic number or not.

**Describe the solution you'd like**
A number n is an automorphic number if n^2 ends in n.

**Do you want to work on it**
I would like to work on this issue using Java as a GSSoC'21 participant.

[2021-04-25 06:36] mp3730 commented on #854
Hi, I'm Mansi and I'm a GSSOC'21 participant.
@OjusWiZard Can I work on this issue in C++ ?

[2021-04-25 06:42] Srishti013 commented on #1683
The solution in C++ is already in the repo. Can I solve it in python?

[2021-04-25 06:44] Srishti013 commented on #1722
Hi,
I am a GSSOC'21 participant. I would like to work on this issue please assign it to me.

[2021-04-25 07:17] Tanya933 commented on #1544
@tarun26091999, @plazzy99, I want to work on this issue under GSSOC21. Please assign me this issue

[2021-04-25 07:20] mp3730 opened #1727 "Rotation of doubly linked list with given group size."
Topic: Linked_list (doubly)

We have a doubly-linked list containing 'n' nodes. The solution will reverse the group of 'k' nodes in the list.
Example:
I/P: 3 <-> 2 <-> 6 <-> 7 <-> 4
      k=2
O/P: 2 <-> 3 <-> 7 <-> 6 <-> 4

**Do you want to work on it**
YES, I would like to work on this problem.
I'm a GSSOC'21 participant and I would like to work on it in C++.
@rudrakshi99 ma'am, @tarun26091999 si

[2021-04-25 08:02] rish-singhal commented on #1683
@Srishti013 sure

[2021-04-25 09:11] Srishti013 commented on #1717
Hi,
I am a GSSOC'21 participant I can solve this in python. Please assign this issue to me.

[2021-04-25 09:21] madhvi02 commented on #1717
thanks, @yasharth291  sir for assigning

[2021-04-25 10:34] AdhilUsman commented on #1647
Can i work on this issue in python? if yes please assign it to me

[2021-04-25 11:02] #878 closed

[2021-04-25 12:50] priyanka001tech commented on #877
can u please update the gssoc and level so that I can get my score.

[2021-04-25 13:24] U-c0de commented on #1717
Hi,
I am a GSSOC'21 participant I can solve this in java. Please assign this issue to me.

[2021-04-25 13:24] U-c0de commented on #1717
@tarun26091999 Sir please assign this issue to me I can code it in JAVA

[2021-04-25 13:25] jainsras opened #1733 "Tarjan's algorithm"
**Is your feature request related to a problem? Please describe.**
It is used to find strongly connected components of a directed graph.

**Describe the solution you'd like**
It involves only one DFS traversal, unlike Kosaraju's algorithm. The DFS search produces a dfs tree and the SCCs form the subtrees of the dfs tree. Then we find the lowlinks for every node.

**Do you want to work on it**
I ca

[2021-04-25 13:26] tarun26091999 commented on #1222
this is not relevant to this repo.

[2021-04-25 13:26] #1222 closed

[2021-04-25 13:27] U-c0de opened #1734 "Lee's Algorithm"
**Describe the solution you'd like**
I propose to add Lee Algorithm which is use to find the shortest path in a maze.
Real Life Applications:
Maze Game
Solving Rubik's Cube faster
Map Technology
Social Network

**Do you want to work on it**
I want to add the code in C++

[2021-04-25 13:28] U-c0de commented on #1734
Please assign it to me . @nakul-19 @raksha009 @plazzy99 @tarun26091999 @rish-singhal

[2021-04-25 13:42] tarun26091999 commented on #1733
present at #1296

[2021-04-25 13:42] #1733 closed

[2021-04-25 15:27] Mugdha-Hazra commented on #1734
Hello, @aaadddiii @anubhavitis @veenit1802 @ssaksham sir, I think this is an important question and this should definitely be added in the Algo-Tree and I will start working on it as soon as I get assigned!! as I am a part of GSSoC'21, so I would like to implement this in c++.

[2021-04-25 15:49] Mugdha-Hazra commented on #1727
Hello, @aaadddiii @anubhavitis @veenit1802 @ssaksham sir, I think this is an important question and this should definitely be added in the Algo-Tree and I will start working on it as soon as I get assigned!! as I am a part of GSSoC'21, so I would like to implement this in c++.

[2021-04-25 15:49] Mugdha-Hazra commented on #1717
Hello, @aaadddiii @anubhavitis @veenit1802 @ssaksham sir, I think this is an important question and this should definitely be added in the Algo-Tree and I will start working on it as soon as I get assigned!! as I am a part of GSSoC'21, so I would like to implement this in c++.

[2021-04-25 15:50] Mugdha-Hazra commented on #1715
Hello, @aaadddiii @anubhavitis @veenit1802 @ssaksham sir, I think this is an important question and this should definitely be added in the Algo-Tree and I will start working on it as soon as I get assigned!! as I am a part of GSSoC'21, so I would like to implement this in c++.

[2021-04-25 15:50] Mugdha-Hazra commented on #1713
Hello, @aaadddiii @anubhavitis @veenit1802 @ssaksham sir, I think this is an important question and this should definitely be added in the Algo-Tree and I will start working on it as soon as I get assigned!! as I am a part of GSSoC'21, so I would like to implement this in c++.

[2021-04-25 15:50] Mugdha-Hazra commented on #1704
Hello, @aaadddiii @anubhavitis @veenit1802 @ssaksham sir, I think this is an important question and this should definitely be added in the Algo-Tree and I will start working on it as soon as I get assigned!! as I am a part of GSSoC'21, so I would like to implement this in c++.

[2021-04-25 15:50] Mugdha-Hazra commented on #1702
Hello, @aaadddiii @anubhavitis @veenit1802 @ssaksham sir, I think this is an important question and this should definitely be added in the Algo-Tree and I will start working on it as soon as I get assigned!! as I am a part of GSSoC'21, so I would like to implement this in c++.

[2021-04-25 15:51] Mugdha-Hazra commented on #1701
Hello, I think this is an important question and this should definitely be added in the Algo-Tree and I will start working on it as soon as I get assigned!! as I am a part of GSSoC'21, so I would like to implement this in c++.

[2021-04-25 15:52] tarun26091999 commented on #785
@Priyankcoder @Sathwika-02 do it soon.

[2021-04-25 15:54] Mugdha-Hazra opened #1735 "Counting Set Bits in a given range"
**Problem statement**
Given a number N find the sum of the count of set bits of all numbers from
0 to N (both inclusive).

**Solution approach**
Here I'll count all the set bits of numbers in a given range i.e from 0-N and add in a count variable and finally display the total sum.

**Language**
I want to implement it in c++.

Hello @aaadddiii @anubhavitis @veenit1802 @ssaksham @malavikarajeshvikra

[2021-04-25 16:10] Rohan27s commented on #1701
@ssaumyaa7 Mention the language

[2021-04-25 16:13] ssaumyaa7 commented on #1701
I am part of gsoc21 so I created pull request to add the topic Overator Overloading under Bitwise Manipulation in python language.

[2021-04-25 16:14] Rohan27s commented on #1701
@ssaumyaa7 You can't create a pull request until you are assigned on the issue

[2021-04-25 16:15] Rohan27s commented on #1701
@ssaumyaa7 Kindly checkout #1153 for the rules to contribute :)

[2021-04-25 16:15] ssaumyaa7 commented on #1701
How and who is assigning issues may I know .. ?

[2021-04-25 17:29] Srishti013 commented on #1735
Hi,
I am a GSSOC'21 participant I would like to solve to solve this issue in Python. Please assign it to me.

[2021-04-25 18:19] rish-singhal commented on #1660
@anshmishra010 as of now I am assigning you this, but do wait next time before submitting PR... read the guidelines

[2021-04-25 18:24] anshmishra010 commented on #1660
Okay @rish-singhal .
I will take care of it from next time .

[2021-04-25 18:28] Srishti013 commented on #1565
Hi,
I would like to solve this issue in Python. Please assign it to me.

[2021-04-25 18:35] Srishti013 commented on #1374
Hi,
I am a GSSOC'21 participant. I would like to solve this issue in Python. Please assign it to me.

[2021-04-25 18:44] Srishti013 commented on #1379
Hi,
I am a GSSOC'21 participant. I would like to solve this issue in Java. Please assign it to me.

[2021-04-25 18:49] Srishti013 commented on #1201
Hi,
I am a GSSOC'21 participant. I would like to solve this issue in Java. Please assign it to me.

[2021-04-25 18:51] tarun26091999 commented on #1628
present at #1261

[2021-04-25 18:51] #1628 closed

[2021-04-25 18:52] Srishti013 commented on #1024
Hi,
I am a GSSOC'21 participant. I would like to solve this issue in Java. Please assign it to me.

[2021-04-25 19:00] tarun26091999 commented on #1627
do it in O(1) extra space.

[2021-04-25 19:02] Srishti013 commented on #855
Hi,
I am a GSSOC'21 participant. I would like to solve this issue in Python. Please assign it to me.

[2021-04-25 19:06] tarun26091999 commented on #1626
present at #47

[2021-04-25 19:06] #1626 closed

[2021-04-25 19:07] Srishti013 commented on #841
Hi,
I am a GSSOC'21 participant. I would like to solve this issue in Python. Please assign it to me.

[2021-04-25 19:14] tarun26091999 commented on #47
@Vansh-Gupta4 @bitaashna do it soon or I have to unassign.

[2021-04-25 19:17] tarun26091999 commented on #1261
@Sathwika-02 you are already late.

[2021-04-26 01:00] Mugdha-Hazra commented on #1701
Thank you @Rohan27s sir for assigning me this task!.
sir, can you please explain to me which topics I have to cover for this code? like sir can you please explain the question once?

[2021-04-26 04:09] rish-singhal commented on #1701
As I can see, the given issue doesn't specify any algorithmic problem to solve.

[2021-04-26 04:14] rish-singhal commented on #1201
@Srishti013 done

[2021-04-26 05:01] Rohan27s commented on #1701
@Mugdha-Hazra Make PR for Bitwise operator overloading

[2021-04-26 05:26] khusheekapoor opened #1736 "Trimorphic Number in Java"
**Is your feature request related to a problem? Please describe.**
The program will check whether the number input by the user is trimorphic or not.

**Describe the solution you'd like**
A number n is a trimorphic number if n^3 ends in n.

**Do you want to work on it**
I would like to work on this issue using Java as a GSSoC'21 participant under the Number Theory category.

Please assign it to me

[2021-04-26 05:28] rish-singhal commented on #1736
Done @khusheekapoor

[2021-04-26 05:29] khusheekapoor commented on #1736
Thank you!

[2021-04-26 06:25] Srishti013 commented on #1736
Hi,
If you also the solution in C++ please assign it to me.

[2021-04-26 08:02] Tejal18 commented on #1660
@rish-singhal  I am a GSSoc Participant . I would like to contribute to this issue, I will solve this issue by using java .
Kindly assign me this issue . Thanks

[2021-04-26 08:28] rish-singhal commented on #1660
Done @Tejal18

[2021-04-26 09:34] nidhivanjare opened #1738 "Top View of a Binary Tree"
**Is your feature request related to a problem? Please describe.**
If a binary tree is given the output will be the top view of the binary tree.

**Describe the solution you'd like**
This can be done by assuming that the left and the right child of the node makes a 45-degree angle with the parent.

**Do you want to work on it**
Python

[2021-04-26 09:38] nidhivanjare opened #1739 "Diameter of a Binary tree"
**Is your feature request related to a problem? Please describe.**
To print the diameter of a given binary tree.

**Describe the solution you'd like**
A binary tree diameter equal to the total number of nodes on the longest path between any 2 nodes in it.

**Do you want to work on it**
Python

I am a GSSOC'21 Participant and would like to work on this issue.

[2021-04-26 10:15] Mugdha-Hazra commented on #1701
@Rohan27s ok

[2021-04-26 10:55] U-c0de commented on #1736
@rish-singhal @yasharth291 @raksha009 @rudrakshi99 @plazzy99 @OjusWiZard @tarun26091999 @Rohan27s
Assign this issue to me I can put the code in Python

[2021-04-26 10:58] U-c0de commented on #1682
@rish-singhal
Please assign issue to me  I can code it in Python

[2021-04-26 11:18] ShrutiPandey27 opened #1742 "find K largest elements in array"
**Is your feature request related to a problem? Please describe.**
**explaination**
In an given array, find out the k largest elements in a given array of integers.
In this problem we are supposed to find out K largest elements present in the array. K is number of largest elements required and is given by user's end.

**Describe the solution you'd like**
**example**

input:                {2,3,5,6

[2021-04-26 11:30] ShrutiPandey27 opened #1743 "rotation count in array"
Is your feature request related to a problem? Please describe.
explaination
in an given sorted array,we will have to find the number of count of rotation after which we have got this array.Here, we take into observation the element i which is greater than the element i+1.after we get this element we calculate the number of rotation that might have occured.

Describe the solution you'd like
example

[2021-04-26 12:01] Mugdha-Hazra commented on #1736
Hello @aaadddiii @anubhavitis @veenit1802 @ssaksham @malavikarajeshvikraman, I think this is an important question and this should definitely be added in the Algo-Tree and I will start working on it as soon as I get assigned!! as I am a part of GSSoC'21, so I would like to implement this in c++.

[2021-04-26 12:13] Srishti013 commented on #1231
Hi,
I am a GSSOC'21 participant.
I would like to solve this issue in C++. Please assign it to me.

[2021-04-26 12:16] Srishti013 commented on #1684
Hi,
I would like to solve this issue in C++. Please assign it to me.

[2021-04-26 12:22] Srishti013 commented on #1660
Hi,
I would like to solve this in python. Please assign it to me.

[2021-04-26 12:48] Rohan27s commented on #1736
@Mugdha-Hazra Sorry it is already assigned in every language

[2021-04-26 12:51] Srishti013 commented on #1226
Hi,
I want to solve this in Python. Please assign it to me.

[2021-04-26 12:52] Srishti013 commented on #1198
Hi,
I want to solve this in Python. Please assign it to me.

[2021-04-26 12:55] Srishti013 commented on #1157
Hi,
I would like to solve this issue in Python. Please assign it to me.

[2021-04-26 12:58] Srishti013 commented on #1082
Hi,
I would like to solve this issue in Python. Please assign it to me.

[2021-04-26 13:01] Srishti013 commented on #1033
Hi,
I am GSSOC'21 participant. Want to solve this issue in Python. Please assign this to me.

[2021-04-26 13:02] Srishti013 commented on #1029
Hi,
I am GSSOC'21 participant. I want to solve this issue in Python. Please assign this to me.

[2021-04-26 13:05] Srishti013 commented on #807
Hi,
I am GSSOC'21 participant. I want to solve this issue in Python. Please assign this to me.

[2021-04-26 14:46] U-c0de commented on #1684
I am a GSSOC'21 participant, I would like to solve this in Python with proper test cases. Please assign this issue to me.
@rish-singhal  @nakul-19 @raksha009 @plazzy99 @tarun26091999

[2021-04-26 15:11] rish-singhal commented on #1684
Done

[2021-04-26 15:34] Prerna-07 opened #1750 "Sliding Window Maximum in java"
**Is your feature request related to a problem? Please describe.**
Sliding Window Maximum - Function to find and print the maximum element in every window of size k.

**Describe the solution you'd like**
A simple and concise approach which is implemented using Stack, it is somewhat as finding max on the right.

**Do you want to work on it**
Yes, I am a GSSOC'21 participant I would like to solve it

[2021-04-26 15:35] Prerna-07 commented on #1750
Please assign it to me . @nakul-19 @raksha009 @plazzy99 @tarun26091999 @rish-singhal

[2021-04-26 15:41] Prerna-07 opened #1752 "K Largest Elements"
**Is your feature request related to a problem? Please describe.**
Function to find and print the k largest elements of array in increasing order.

**Describe the solution you'd like**
A simple and concise approach which is implemented using Priority Queue.

**Do you want to work on it**
Yes, I am a GSSOC'21 participant I would like to solve it in Java.

[2021-04-26 15:42] Prerna-07 commented on #1752
Please assign it to me . @nakul-19 @raksha009 @plazzy99 @tarun26091999 @rish-singhal

[2021-04-26 16:51] shubhidua commented on #1752
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-26 16:52] shubhidua commented on #1750
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-26 16:52] shubhidua commented on #1743
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-26 16:52] shubhidua commented on #1742
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-26 16:52] shubhidua commented on #1739
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-26 16:52] shubhidua commented on #1738
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-26 16:53] shubhidua commented on #1736
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-26 16:53] shubhidua commented on #1735
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-26 16:53] shubhidua commented on #1734
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-26 16:53] shubhidua commented on #1727
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-26 16:53] shubhidua commented on #1722
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-26 16:53] shubhidua commented on #1721
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-26 16:54] shubhidua commented on #1717
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-26 16:54] shubhidua commented on #1715
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-26 16:54] shubhidua commented on #1714
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-26 16:54] shubhidua commented on #1713
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-26 16:54] shubhidua commented on #1704
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-26 16:55] shubhidua commented on #1702
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-26 16:55] shubhidua commented on #1516
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-26 16:57] shubhidua commented on #1082
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-26 17:01] shubhidua commented on #834
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-26 17:01] shubhidua commented on #786
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-26 17:02] shubhidua commented on #554
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-26 17:03] shubhidua commented on #535
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-26 17:04] shubhidua commented on #438
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-26 17:04] shubhidua commented on #415
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-26 17:04] shubhidua commented on #149
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-26 17:05] Srishti013 commented on #149
Hi,
I am a GSSOC'21 participant. I would like to solve this issue in Python. Please assign it to me.

[2021-04-26 17:15] Srishti013 commented on #1477
Hi,
I am a GSSOC'21 participant. I would like to solve this issue in Python. Please assign it to me.

[2021-04-26 17:17] Srishti013 commented on #1355
Hi,
I am a GSSOC'21 participant. I would like to solve this issue in Python. Please assign it to me.

[2021-04-26 17:19] Srishti013 commented on #1339
Hi,
I am a GSSOC'21 participant. I would like to solve this issue in Python. Please assign it to me.

[2021-04-26 18:02] btanisha commented on #47
@tarun26091999 I'll do it by 28th evening, for sure!

[2021-04-26 18:42] Mugdha-Hazra commented on #1752
Hello @aaadddiii @anubhavitis @veenit1802 @ssaksham @malavikarajeshvikraman, I think this is an important question and this should definitely be added in the Algo-Tree and I will start working on it as soon as I get assigned!! as I am a part of GSSoC'21, so I would like to implement this in c++.

[2021-04-26 19:08] rish-singhal commented on #1752
Done

[2021-04-26 19:26] Mugdha-Hazra commented on #1752
thank you soo much!! @rish-singhal  sir

[2021-04-26 20:11] tarun26091999 commented on #692
Java and python still available.

[2021-04-26 20:22] tarun26091999 commented on #681
python is available for assigning.

[2021-04-27 02:10] AdityaRaj-ar opened #1754 "Large Factorial"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.
-Finding the very Big Factorial

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
-Solution must carry necessary comment lines explaining the steps.

**Do you want to work on it**
Mention the one language you want to be assigned

[2021-04-27 04:42] shubhidua commented on #856
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-27 04:43] shubhidua commented on #869
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-27 05:48] khusheekapoor commented on #664
Hello! I would like to work on this issue using Java. Please assign it to me! Thanks!

[2021-04-27 06:00] Mugdha-Hazra commented on #1750
Hello @aaadddiii @anubhavitis @veenit1802 @ssaksham @malavikarajeshvikraman @yasharth291, I think this is an important question and this should definitely be added in the Algo-Tree and I will start working on it as soon as I get assigned!! as I am a part of GSSoC'21, so I would like to implement this in c++.

[2021-04-27 06:01] Mugdha-Hazra commented on #1754
Hello @aaadddiii @anubhavitis @veenit1802 @ssaksham @malavikarajeshvikraman, I think this is an important question and this should definitely be added in the Algo-Tree and I will start working on it as soon as I get assigned!! as I am a part of GSSoC'21, so I would like to implement this in c++.

[2021-04-27 06:09] rish-singhal commented on #1750
@shubhidua java has already been assigned to the first one who asked.

If you want to contribute you can do it in python

[2021-04-27 08:07] vanshikachokhani commented on #85
If this issue is open to work still please assign me this issue.
I will code in C++.
And try my best to provide explanation and proper Test cases.

[2021-04-27 08:19] vanshikachokhani commented on #1754
I would like to work on this issue in C++

[2021-04-27 08:26] vanshikachokhani opened #1759 "Best Time to buy and sell a stock"
**Is your feature request related to a problem? Please describe.**
Best time to buy and sell a stock if K transactions allowed - The price of a particular stock is given and maximum k transactions are allowed find the maximum amount of profit that can be made in at most k transactions. A transaction is equivalent to (buying + selling) of a stock and new transaction can start only when the previous

[2021-04-27 08:34] vanshikachokhani commented on #1739
I would like to work on this issue in C++. Please assign it to me.

[2021-04-27 08:44] vanshikachokhani opened #1760 "Travelling Salesman Problem"
**Is your feature request related to a problem? Please describe.**
We are given a set of cities and distances between pair of cities. We need to find the shortest path such that every city is visited only once. and returns to the starting point.

**Describe the solution you'd like**
The path with minimum cost will be found using backtracking approach.

**Do you want to work on it**
I am Gssoc part

[2021-04-27 08:46] vanshikachokhani opened #1761 "Hamiltonian Cycle"
**Is your feature request related to a problem? Please describe.**
We are given a set of cities and distances between pair of cities. We need to find whether there exists a  path such that every city is visited only once and returns to the starting point.

**Describe the solution you'd like**
I will use backtarcking approach to check if such a path exists.

**Do you want to work on it**
I am Gssoc

[2021-04-27 09:42] nidhivanjare commented on #1739
@rish-singhal @yasharth291 can I work on this?

[2021-04-27 09:43] nidhivanjare commented on #1738
@rish-singhal @yasharth291 can I work on this?

[2021-04-27 10:47] vanshikachokhani opened #1762 "Detect cycle in a directed graph"
**Is your feature request related to a problem? Please describe.**
Check whether a cycle exists in a directed graph.

**Describe the solution you'd like**
I will solve this problem using dfs.

**Do you want to work on it**
I am a Gssoc participant and I will code in C++.

Please assign me this issue so that I can start working on it.

[2021-04-27 12:36] #1088 closed

[2021-04-27 12:48] rish-singhal commented on #1682
@U-c0de done

[2021-04-27 12:50] U-c0de opened #1764 "Geek-onacci Number"
**Describe the solution you'd like**
Geek created a random series and given a name geek-onacci series. Given four integers A, B, C, N. A, B, C represents the first three numbers of geek-onacci series. Find the Nth number of the series. The nth number of geek-onacci series is a sum of the last three numbers (summation of N-1th, N-2th, and N-3th geek-onacci numbers)

**Do you want to work on it**
Ye

[2021-04-27 12:50] U-c0de commented on #1764
Please assign it to me . @nakul-19 @raksha009 @plazzy99 @tarun26091999 @rish-singhal

[2021-04-27 12:52] rish-singhal commented on #1764
@U-c0de done

[2021-04-27 12:52] U-c0de commented on #1750
@rish-singhal  I am ready to contribute in Python . please assign this to me

[2021-04-27 12:53] U-c0de commented on #1743
@aaadddiii , @anubhavitis , @veenit1802 , @ssaksham , @malavikarajeshvikraman @yasharth291  Please assign me this in Python

[2021-04-27 12:56] U-c0de commented on #1701
@Rohan27s  Please assign me this issue in python

[2021-04-27 12:56] rish-singhal commented on #1750
@unicode-Ind done

[2021-04-27 13:01] rish-singhal commented on #1739
Done!

[2021-04-27 13:02] rish-singhal commented on #1738
Done

[2021-04-27 14:08] OjusWiZard commented on #1760
Duplicate of #370

[2021-04-27 14:08] #1760 closed

[2021-04-27 14:19] OjusWiZard commented on #1754
Duplicate of #362

[2021-04-27 14:19] #1754 closed

[2021-04-27 14:40] Mugdha-Hazra commented on #1738
Hello @rish-singhal sir, I think this is an important question and this should definitely be added in the Algo-Tree and I will start working on it as soon as I get assigned!! as I am a part of GSSoC'21, so I would like to implement this in c++.

[2021-04-27 14:41] #44 closed

[2021-04-27 14:44] OjusWiZard commented on #1455
Don't do it in C

[2021-04-27 14:46] OjusWiZard commented on #1734
Duplicate of #1455

[2021-04-27 14:46] #1734 closed

[2021-04-27 14:55] OjusWiZard commented on #1721
Duplicate of #44

[2021-04-27 14:55] #1721 closed

[2021-04-27 15:04] Shraddha13Jain commented on #559
@rudrakshi99 @plazzy99 @tarun26091999 please review the PR#1769

[2021-04-27 15:04] CSAURABH commented on #911
@yasharth291 sir Please assign this issue to me

[2021-04-27 15:57] ArchishmanSengupta commented on #1455
alright

[2021-04-27 16:16] Mugdha-Hazra commented on #1722
Hello @OjusWiZard  @aaadddiii @anubhavitis @veenit1802 @ssaksham @malavikarajeshvikraman, I think this is an important question and this should definitely be added in the Algo-Tree and I will start working on it as soon as I get assigned!! as I am a part of GSSoC'21, so I would like to implement this in c++.

[2021-04-27 16:41] anishsingh42 commented on #1090
I can work on this using python.
@Rohan27s @rish-singhal  please assign  me this issue.

[2021-04-27 16:46] Mugdha-Hazra commented on #1764
Hello @aaadddiii @anubhavitis @veenit1802 @ssaksham @malavikarajeshvikraman @rish-singhal, I think this is an important question and this should definitely be added in the Algo-Tree and I will start working on it as soon as I get assigned!! as I am a part of GSSoC'21, so I would like to implement this in Java

[2021-04-27 16:58] SAY-droid427 opened #1777 "Infix to Postfix conversion in C++"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.
I want to add the code for conversion of an expression from infix to postfix using stacks in C++

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
An infix expression: a+b
A postfix expression : ab+
I want to write the algorithm

[2021-04-27 16:59] SAY-droid427 commented on #1777
@nakul-19 @raksha009 @plazzy99 Please assign this issue to me so that I can start working on it

[2021-04-27 17:01] SAY-droid427 opened #1778 "Moore's voting algorithm"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.
I want to write the Moore's voting algorithm for finding out the maximum element in O(log n) time complexity.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Instead of O(n^2) time complexity, reduce the time complexity of find

[2021-04-27 17:02] SAY-droid427 commented on #1778
@plazzy99 @raksha009 Please assign this issue to me

[2021-04-27 17:05] Mugdha-Hazra opened #1779 "Finding index of the first non-repeating character in a string."
Finding the first character which is non-repeating in a string. The String S contains many non-repeating characters, but we have to print the index of the first non-repeating character present in the string. Print −1 if there is no non-repeating character.
example:
**sample input**            --------------->                       **sample output**
hello                  --------------->

[2021-04-28 02:19] AparnaJuhi opened #1783 "Finding intersection in a Y-shaped Linked list"
**Is your feature request related to a problem? Please describe.**
In this problem, we will find the intersection point of a Y-shaped Linked list.

**Describe the solution you'd like**
I will solve this problem using pointers.

**Do you want to work on it**
Yes, I want to work on it in C++

[2021-04-28 04:31] Srishti013 commented on #1764
Hi,
I am a GSSOC'21 participant, I would like to solve this issue in python. Please assign it to me.

[2021-04-28 04:32] Srishti013 commented on #1762
Hi,
I am a GSSOC'21 participant, I would like to solve this issue in python. Please assign it to me.

[2021-04-28 04:32] Srishti013 commented on #1761
Hi,
I am a GSSOC'21 participant, I would like to solve this issue in python. Please assign it to me.

[2021-04-28 04:33] Srishti013 commented on #1759
Hi,
I am a GSSOC'21 participant, I would like to solve this issue in python. Please assign it to me.

[2021-04-28 04:33] Srishti013 commented on #1752
Hi,
I am a GSSOC'21 participant, I would like to solve this issue in python. Please assign it to me.

[2021-04-28 04:34] Srishti013 commented on #1727
Hi,
I am a GSSOC'21 participant, I would like to solve this issue in python. Please assign it to me.

[2021-04-28 04:35] Srishti013 commented on #1778
Hi,
I am a GSSOC'21 participant, I would like to solve this issue in python. Please assign it to me.

[2021-04-28 04:35] Srishti013 commented on #1777
Hi,
I am a GSSOC'21 participant, I would like to solve this issue in python. Please assign it to me.

[2021-04-28 04:35] Srishti013 commented on #1779
Hi,
I am a GSSOC'21 participant, I would like to solve this issue in python. Please assign it to me.

[2021-04-28 05:00] nancy0119 opened #1784 "GSSOC- Print Linked List"
**Is your feature request related to a problem? Please describe.**
The problem is-To print a LinkedList. It will make it more functional.

**Describe the solution you'd like**
The code will print the LinkedList in a very efficient manner.

**Do you want to work on it**
I'm a GSSOC participant.  I will be using ** java ** for adding the code.

I want to work on it with my full dedication. Please as

[2021-04-28 05:49] Srishti013 commented on #1784
Hi,
I am a GSSOC'21 participant, I would like to solve this issue in C++. Please assign it to me.

[2021-04-28 06:48] #1682 closed

[2021-04-28 07:31] U-c0de commented on #1713
@rish-singhal @rudrakshi99 @nakul-19 @Rohan27s

Please assign me this

[2021-04-28 07:32] U-c0de commented on #1702
@rish-singhal  Please assign me this in C++

[2021-04-28 07:33] U-c0de commented on #1698
@Rohan27s @rish-singhal

Please assign me this issue in C++

[2021-04-28 08:56] U-c0de commented on #1761
I am a GSSOC'21 participant, I would like to solve this issue in JAVA. Please assign it to me.

@OjusWiZard

[2021-04-28 08:57] U-c0de commented on #1762
Please assign me this issue so that I can solve it in Java. @OjusWiZard @rish-singhal

[2021-04-28 08:58] U-c0de commented on #1759
@OjusWiZard  I would like to solve this issue in Java.

[2021-04-28 12:15] Pushpit07 opened #1791 "Implement Prim's Minimum Spanning Tree Algorithm using C++"
**Is your feature request related to a problem? Please describe.**
Prim's algorithm takes a weighted, undirected, and connected graph and finds the minimum spanning tree of it. It takes a graph as an input and outputs the sum of the lengths that will constitute the minimum spanning tree.

**Describe the solution you'd like**
I would like to write the algorithm to find out a minimum spanning tree u

[2021-04-28 12:16] Pushpit07 commented on #1791
Please assign this to me under gssoc 21

[2021-04-28 13:55] soukarsha122 opened #1792 "Finding the n th Tetrahedral number"
**Is your feature request related to a problem? Please describe.**
A tetrahedral number, or triangular pyramidal number, is a figurate number that represents a pyramid with a triangular base and three sides, called a tetrahedron. In this problem we are going to find the nth Tetrahedral number.

**Describe the solution you'd like**
Input: n=1
Output: 1    // This is the first Tetrahedral number

In

[2021-04-28 13:56] tarun26091999 commented on #559
link it here

[2021-04-28 14:15] krishna-NIT commented on #1715
already at 1231 so, comment there and close this issue so, that mentors will not be disturbed

[2021-04-28 17:45] shubhii0206 opened #1798 "Minimum Increment to Make Array Unique"

[2021-04-28 17:45] #1798 closed

[2021-04-28 17:49] shubhii0206 opened #1799 "Minimum Increment to Make Array Unique"
**Is your feature request related to a problem? Please describe.**
Given an array containing duplicates too, find minimum number of steps to increment array elements to make each arr[i] unique.

**Describe the solution you'd like**
I want to add a cpp code in which every element in the sorted array would be atleast greater than 1 from its previous element.

**Do you want to work on it**
c++

[2021-04-28 18:12] shubhii0206 commented on #1799
@tarun26091999 Sir please assign this issue to me.

[2021-04-29 00:15] shallanidevi commented on #1727
I am a GSSOC'21 participant and i would like to work on this issue in C++.
I will write a neat code for this issue in C++.
Please assign this issue to me.

[2021-04-29 00:55] shallanidevi commented on #1743
I am  a GSSOC'21 participant and want to work on this #1743 issue in C++. I will write a neat code for this issue in C++.
@aaadddiii , @anubhavitis , @veenit1802 , @ssaksham , @malavikarajeshvikraman
Please assign this issue to me.

[2021-04-29 02:05] krishna-NIT commented on #847
@OjusWiZard @Op-panda @raksha009 I have made an pr for java, put @Op-panda has closed the issue, please open it. Please review my pr.

[2021-04-29 05:02] btanisha commented on #47
@tarun26091999 i have already done this one pull request #1600
It has not been merged yet. do let me know about any changes that I have to make

[2021-04-29 05:05] codeakki opened #1801 "Maximum Topology Short in C++ under Gssoc21"
It is an important Cp Topic that is very useful
For example, consider the tree below:

                      2
            1                  3
The sorted list of pairs is ((2,2),(1,3),(1,1)).

[2021-04-29 05:25] Srishti013 commented on #1791
Hii,
I am a GSSOC'21 participant. I would like two solve this issue in python. Please assign it to me.

[2021-04-29 05:26] Srishti013 commented on #1792
Hii,
I am a GSSOC'21 participant. I would like two solve this issue in python. Please assign it to me.

[2021-04-29 05:27] Srishti013 commented on #1799
Hii,
I am a GSSOC'21 participant. I would like two solve this issue in python. Please assign it to me.

[2021-04-29 05:43] #1801 closed

[2021-04-29 05:49] #1683 closed

[2021-04-29 06:09] #1684 closed

[2021-04-29 06:18] khusheekapoor opened #1803 "Tri-automorphic Number in Java"
**Is your feature request related to a problem? Please describe.**
The program will check whether the number input by the user is tri-automorphic or not.

**Describe the solution you'd like**
A number n is a tri-automorphic number if 3n^2 ends in n.

**Do you want to work on it**
I would like to work on this issue using Java as a GSSoC'21 participant under the Number Theory category.

[2021-04-29 06:40] Masters-Akt commented on #415
I would also like to implement it in C++, Java, or C#. Please reassign it to me for any of these three languages.

[2021-04-29 06:45] Srishti013 commented on #1803
Hii,
I am a GSSOC'21 participant. I would like two solve this issue in C++. Please assign it to me.

[2021-04-29 06:53] Masters-Akt commented on #1803
I would like to implement it in python, C, C++, Java. Please assign me in any of these languages.

[2021-04-29 06:54] Masters-Akt commented on #1799
I would like to implement it in C, C++, Java, Python. Please assign it to me for any of these languages.

[2021-04-29 06:55] Masters-Akt commented on #1784
I would like to implement it in C, C++, Java, Python. Please assign it to me for any of these languages.

[2021-04-29 06:56] Masters-Akt commented on #1777
I would like to implement it in C, C++, Java, Python. Please assign it to me for any of these languages.

[2021-04-29 06:58] Masters-Akt commented on #1742
I would like to implement it in C, C++, Java, Python. Please assign it to me for any of these languages.

[2021-04-29 06:59] Masters-Akt commented on #1738
I would like to implement it in C, C++, Java, Python. Please assign it to me for any of these languages.

[2021-04-29 08:14] Srishti013 commented on #1261
This problem is already in the repo in C++. So, is there some other language I can solve this issue in?

[2021-04-29 08:30] Srishti013 opened #1809 "Stock Span Problem(C++)"
Is your feature request related to a problem? Please describe.
Stock Span Problem
Explanation : Stock span is defined as the number of days passed between the current day and the first day before today when price was higher than today.

Describe the solution you'd like
A simple and concise approach which is implemented using Stack, it is somewhat as finding max on the left.

Do you want to work on

[2021-04-29 08:51] shubhidua commented on #1809
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 08:51] shubhidua commented on #1799
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 08:51] Srishti013 opened #1810 "Balanced Bracket Problem(PYTHON)"
Is your feature request related to a problem? Please describe.
Balanced Bracket Problem
Explanation :- To check if the expression is balanced i.e. closing brackets and opening brackets match up well.

Describe the solution you'd like
It will be an iterative solution in which loop will iterate over each character of expression, if opening brackets encountered then simply push in stack, if closing b

[2021-04-29 08:59] U-c0de commented on #1722
@OjusWiZard @Rohan27s @rish-singhal  assign this to me

[2021-04-29 09:03] shubhidua commented on #1792
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:04] shubhidua commented on #1791
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:05] shubhidua commented on #1779
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:05] shubhidua commented on #1778
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:06] shubhidua commented on #1777
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:10] shubhidua commented on #1701
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:10] shubhidua commented on #1698
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:10] shubhidua commented on #1690
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:10] shubhidua commented on #1687
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:11] shubhidua commented on #1675
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:12] shubhidua commented on #1637
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:12] shubhidua commented on #1603
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:13] shubhidua commented on #1581
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:14] shubhidua commented on #1551
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:14] shubhidua commented on #1544
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:15] shubhidua commented on #1540
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:15] shubhidua commented on #1524
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:16] shubhidua commented on #1515
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:16] shubhidua commented on #1511
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:16] shubhidua commented on #1506
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:16] shubhidua commented on #1505
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:17] shubhidua commented on #1503
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:17] shubhidua commented on #1501
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:17] shubhidua commented on #1490
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:18] shubhidua commented on #1473
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:18] shubhidua commented on #1456
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:18] shubhidua commented on #1455
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:18] shubhidua commented on #1447
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:19] shubhidua commented on #1426
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:19] shubhidua commented on #1438
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:19] shubhidua commented on #1424
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:19] shubhidua commented on #1416
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:21] shubhidua commented on #1408
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:22] shubhidua commented on #1406
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:22] shubhidua commented on #1399
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:22] shubhidua commented on #1396
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:24] shubhidua commented on #1355
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:24] shubhidua commented on #1349
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:24] shubhidua commented on #1346
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:24] shubhidua commented on #1344
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:25] shubhidua commented on #1319
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:25] shubhidua commented on #1317
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:26] shubhidua commented on #1310
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:27] shubhidua commented on #1306
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:28] shubhidua commented on #1268
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:28] shubhidua commented on #1265
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:28] shubhidua commented on #1260
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:30] shubhidua commented on #1135
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:30] shubhidua commented on #1110
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:31] shubhidua commented on #1109
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:31] shubhidua commented on #1057
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:32] shubhidua commented on #1018
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:33] shubhidua commented on #955
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:33] shubhidua commented on #926
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:34] shubhidua commented on #906
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:34] shubhidua commented on #905
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:35] shubhidua commented on #897
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:35] shubhidua commented on #893
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:35] shubhidua commented on #885
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:37] shubhidua commented on #794
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:41] shubhidua commented on #537
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:42] shubhidua commented on #442
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 09:44] shubhidua commented on #364
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-29 10:46] #1231 closed

[2021-04-29 11:55] tarun26091999 commented on #50
@rohansharma4050 do it in java
c++ is already present in the folder.

[2021-04-29 12:02] Srishti013 opened #1812 "Toeplitz Matrix(C++)"
This issue will provide a solution to the problem of finding whether a given matrix is Toeplitz matrix or not. I will solve it in C++. Please assign this issue to me.

[2021-04-29 12:02] Rohan27s commented on #1698
@shubhidua first solve earlier issues that you are assigned on

[2021-04-29 12:35] shubhidua commented on #1698
@Rohan27s okay

[2021-04-29 12:54] U-c0de commented on #1750
@rish-singhal  check the pull request

[2021-04-29 12:56] U-c0de commented on #1698
@Rohan27s  assign me this

[2021-04-29 12:58] U-c0de commented on #1679
@ Rohan27s @rish-singhal
Assign me this in Python

[2021-04-29 16:43] aaadddiii opened #1818 "Reverse a queue"
**Is your feature request related to a problem? Please describe.**
Reverse a queue using stack

**Describe the solution you'd like**
Reverse a queue using stack , This a classic problem in data structures

**Do you want to work on it**
I would like to implement this in c++
please assign me this issue as part of GSSOC 21

[2021-04-29 16:43] aaadddiii commented on #1818
Please assign it to me . @nakul-19 @raksha009 @plazzy99 @tarun26091999 @rish-singhal

[2021-04-29 16:46] aaadddiii opened #1819 "prefix to postfix"
**Is your feature request related to a problem? Please describe.**

prefix to postfix in c++

**Describe the solution you'd like**
prefix to postfix is a classic problem in data structures, It is also an application of stack

**Do you want to work on it**
I would like to implement this in C++.
Please assign me this issue as part of GSSOC `21

[2021-04-29 16:47] aaadddiii commented on #1819
Please assign it to me . @nakul-19 @raksha009 @plazzy99 @tarun26091999 @rish-singhal

[2021-04-29 16:50] aaadddiii opened #1820 "painting fence problem"
**Is your feature request related to a problem? Please describe.**
problem statement :
Given a fence with n posts and k colors, find out the number of ways of painting the fence such that at most 2 adjacent posts have the same color.

**Describe the solution you'd like**
This is a classic problem in dynamic programming

**Do you want to work on it**
I would like to implement this in c++
Please ass

[2021-04-29 16:50] aaadddiii commented on #1820
Please assign it to me . @nakul-19 @raksha009 @plazzy99 @tarun26091999 @rish-singhal

[2021-04-29 18:37] madhvi02 opened #1822 "Binomial Coefficient"
Ques : Given two integers n and r, find nCr. Since the answer may be very large, calculate the answer modulo 109+7.
Try to solve this with the help of Pascal Triangle approach
Space Complexity :O(r);

I would like to contribute in C++. @tarun26091999 Sir please assign this to me.

[2021-04-29 19:28] jyoti-anjaly opened #1823 "Maximum Subarray Sum in Circular Array"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.
Hello, I am GSSOC'21 participant and I want to work on this issue. And I want to write an efficient program to find the sum of maximum sum subarray in Circular Array.
Can you please assign this to me?

**Describe the solution you'd like**
A clear and concise description of wha

[2021-04-30 04:42] khusheekapoor commented on #1818
I would like to contribute a code in Java to solve this problem as a GSSoC''21 participant.

[2021-04-30 05:16] Prerna-07 opened #1824 "Largest BST Subtree in Java"
**Is your feature request related to a problem? Please describe.**
Function to find the root of largest sub-tree which is a BST. Also, find the number of nodes in that sub-tree.

**Describe the solution you'd like**
A simple and concise approach which is implemented using class which will help in solving the problem.

**Do you want to work on it**
Yes, I am a GSSOC'21 participant I would like to s

[2021-04-30 05:17] Prerna-07 commented on #1824
Please assign it to me . @nakul-19 @raksha009 @plazzy99 @tarun26091999 @rish-singhal @yasharth291 @Rohan27s @rudrakshi99

[2021-04-30 08:38] radhikaaojha commented on #1645
I am GSSOC'21 particiapnt and would love to contribute to this problem .Please Assign the issue to me.

[2021-04-30 08:40] radhikaaojha commented on #1505
I am a GSSOC'21 participant and would love to contribute to the above problem in c++.Please assign it to me.

[2021-04-30 08:44] radhikaaojha commented on #1311
I  am a GSSOC'21 participant and would love to contribute my part to this problem by implementing it using CPP.
Please assign me the issue.

[2021-04-30 10:45] #1715 closed

[2021-04-30 12:55] Kavs-123 commented on #747
hey, @IShahnawazShaikh
can I work on this issue?

[2021-04-30 14:53] rish-singhal commented on #1743
@shallanidevi it is already assigned for C++

[2021-04-30 14:53] rish-singhal commented on #1743
@U-c0de done

[2021-04-30 15:07] shallanidevi commented on #1743
I want to work on this #1743 issue in Java and i  will write a neat code for it.
@yasharth291
Please assign this issue to me.

[2021-04-30 16:07] Prerna-07 opened #1826 "Stack To Queue Adapter in Java"
**Is your feature request related to a problem? Please describe.**
The class should mimic the behaviour of a Queue and implement FIFO semantic.

**Describe the solution you'd like**

list of functions that are written in the class :
 1. add -> Accepts new data if there is space available in the underlying array or  print "Queue overflow" otherwise.
 2. remove -> Removes and returns value according

[2021-04-30 16:07] Prerna-07 commented on #1826
Please assign it to me . @nakul-19 @raksha009 @plazzy99 @tarun26091999 @rish-singhal @yasharth291 @Rohan27s @rudrakshi99

[2021-04-30 16:13] U-c0de commented on #1819
Please assign it to me in JAVA . @nakul-19 @raksha009 @plazzy99 @tarun26091999 @rish-singhal

[2021-04-30 16:13] U-c0de commented on #1820
Please assign it to me in Python . @nakul-19 @raksha009 @plazzy99 @tarun26091999 @rish-singhal

[2021-05-01 04:26] kanisshka opened #1834 "K Sorted Arrays"
**Is your feature request related to a problem? Please describe.**
Merge K Sorted Arrays

**Describe the solution you'd like**
It is a program to merge k sorted arrays and it is also an application of Heap.

**Do you want to work on it**
C++

[2021-05-01 04:27] kanisshka commented on #1834
@Rohan27s
Plz assign me this issue.

[2021-05-01 05:21] Prerna-07 commented on #1826
Please assign it to me . @nakul-19 @raksha009 @plazzy99 @tarun26091999 @rish-singhal @yasharth291 @Rohan27s @rudrakshi99

[2021-05-01 08:48] Rajashri14 commented on #1562
I want to work on this issue. Please assign this issue to me.

[2021-05-01 08:49] Rajashri14 commented on #1538
Please assign this issue to me.

[2021-05-01 09:25] Maskgirl opened #1839 "Threaded Binary tree in Python"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.
I would like to give the algorithm of the threaded binary tree

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
I have seen threaded binary tree algorithm is available only for C++ language that's why I want to explain it in pyt

[2021-05-01 10:27] #660 closed

[2021-05-01 10:57] shallanidevi commented on #1818
I would like to work on this issue in Python.please assign #1818 issue to me

[2021-05-01 11:02] shallanidevi commented on #1823
I want to work on this #1743 issue in python.
@yasharth291
Please assign this issue to me.

[2021-05-01 11:27] khusheekapoor commented on #810
Hey. I am unable to provide an efficient solution for this problem, hence unassigning myself.

[2021-05-01 11:28] khusheekapoor commented on #812
Hey. I am unable to provide an efficient solution, hence unassigning myself.

[2021-05-01 11:30] khusheekapoor opened #1840 "Unique Number in Java"
**Is your feature request related to a problem? Please describe.**
The program will check whether the number input by the user is unique or not.

**Describe the solution you'd like**
A Unique Number is the difference between a number formed of n consecutive digits and its reverse.

**Do you want to work on it**
I would like to work on this issue using Java as a GSSoC'21 participant under the Numbe

[2021-05-01 12:58] Srishti013 commented on #1820
Please assign this to me in Java.

[2021-05-01 13:24] Srishti013 commented on #1840
Please assign this to me in C++.

[2021-05-01 13:24] Srishti013 commented on #1839
Please assign this to me in C++.

[2021-05-01 13:26] Srishti013 commented on #1826
Please assign this to me in C++.

[2021-05-01 13:26] Srishti013 commented on #1824
Please assign this to me in C++.

[2021-05-01 13:27] Srishti013 commented on #1822
Please assign this to me in Python.

[2021-05-01 13:29] Srishti013 commented on #1717
@rish-singhal can you please add the level of the question too.

[2021-05-01 13:37] #84 closed

[2021-05-01 15:32] khusheekapoor commented on #1812
I will like to work on this using Java as a GSSoC'21 participant. Please assign it to me! Thanks.

[2021-05-01 15:33] khusheekapoor commented on #1822
Please assign this to me in Java. Thanks.

[2021-05-01 15:42] #51 closed

[2021-05-01 15:53] tarun26091999 commented on #1152
issue is open in c++.

[2021-05-01 16:37] madhvi02 opened #1843 "Path with Maximum Gold"
In a gold mine grid of size m x n, each cell in this mine has an integer representing the amount of gold in that cell, 0 if it is empty.

Return the maximum amount of gold you can collect under the conditions:

Every time you are located in a cell you will collect all the gold in that cell.
From your position, you can walk one step to the left, right, up, or down.
You can't visit the same cell mor

[2021-05-01 16:39] madhvi02 commented on #1843
@tarun26091999  sir.
I am a GSSOC'21 participant. please assign this issue to me . I would like to code in  C++.

[2021-05-01 17:58] HimanshiMetta commented on #1152
Can I get any issues that are open in python as well?

On Sat, 1 May, 2021, 9:24 pm Tarun Yadav, ***@***.***> wrote:

[2021-05-02 05:55] Shubham56-droid commented on #1818
I would  like  to work on this  reverse  a  queue  in c++

[2021-05-02 07:10] ShrutiKhatri826 commented on #1784
Hi, I would like to work on this in cpp/c language as a part of GSSOC'21. Would you please assign it to me? Hoping for a positive and an early response.

[2021-05-02 08:13] khusheekapoor opened #1847 "Polygonal Number in Java"
**Is your feature request related to a problem? Please describe.**
This program generates the first n polygonal numbers with input number of vertices.

**Describe the solution you'd like**
A polygonal number is the number of equally spaced dots needed to draw a polygon.

**Do you want to work on it**
I would like to work on this issue using Java as a GSSoC'21 participant under the Number Theory ca

[2021-05-02 08:17] khusheekapoor commented on #1764
Hello. I would like to work on this using java. Please assign it to me. Thanks!

[2021-05-02 08:33] vanshikachokhani opened #1848 "Connected components in a graph"
**Is your feature request related to a problem? Please describe.**
Find the connected components in a graph.

**Describe the solution you'd like**
I will use dfs traversal on a graph to find the connected components

**Do you want to work on it**
I am a Gssoc21 participant and will contribute the code in C++.

[2021-05-02 11:57] vanshikachokhani commented on #1848
Please assign me this issue.

[2021-05-02 12:53] Prerna-07 opened #1849 "Knights Tour Problem"
**Is your feature request related to a problem? Please describe.**
Function to calculate and  print all configurations of the chess board representing the route of knight through the chess board.

**Describe the solution you'd like**
A clear and concise Solution using backtracking .

**Do you want to work on it**
Yes, I am a GSSOC'21 participant I would like to solve it in Java.

[2021-05-02 12:54] Prerna-07 commented on #1849
Please assign it to me . @nakul-19 @raksha009 @plazzy99 @tarun26091999 @rish-singhal @yasharth291 @Rohan27s @rudrakshi99

[2021-05-02 13:00] Prerna-07 opened #1850 "Merge K Sorted Lists using Heap in Java"
**Is your feature request related to a problem? Please describe.**
The function is expected to merge k sorted lists to create one sorted list.

**Describe the solution you'd like**
A clear and concise Solution implemented using Priority Queue

**Do you want to work on it**
Yes, I am a GSSOC'21 participant I would like to solve it in Java.

[2021-05-02 13:00] Prerna-07 commented on #1850
Please assign it to me . @nakul-19 @raksha009 @plazzy99 @tarun26091999 @rish-singhal @yasharth291 @Rohan27s @rudrakshi99

[2021-05-02 14:20] U-c0de opened #1851 "Time Coversion"
**Describe the solution you'd like**
(Given a time in 12-hour AM/PM format, convert it to military (24-hour) time.)

**Do you want to work on it**
Yes I want to code in C++

@Rohan27s @rish-singhal @tarun26091999 Assign this to me

[2021-05-02 17:17] kanisshka opened #1852 "K-ARY HEAP"
**Is your feature request related to a problem? Please describe.**
K-ary heaps are a generalization of binary heap(K=2) in which each node have K children instead of 2. Just like binary heap

**Describe the solution you'd like**
There are Two approaches to handle this:
Min k-ary heap
Max k-ary heap

**Do you want to work on it**
C++

[2021-05-02 20:50] dsrao711 opened #1855 "Chocolate Distribution Problem"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.
- Would like to add Python solution for chocolate distribution problem
- Link to the question : https://practice.geeksforgeeks.org/problems/chocolate-distribution-problem3825/1

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

C

[2021-05-02 20:50] dsrao711 commented on #1855
Please assign me this issue as a GSSOC 21 participant

[2021-05-02 21:28] rohitsigar commented on #1851
Please Assign me this issue I can write in Java @Rohan27s, @rish-singhal, @tarun26091999

[2021-05-02 21:29] rohitsigar commented on #1850
Please assign it to me. @nakul-19 @raksha009 @plazzy99 @tarun26091999 @rish-singhal @yasharth291 @Rohan27s @rudrakshi99 , I am a GSSOC'21 participant I would like to solve it in C++

[2021-05-02 21:30] rohitsigar commented on #1849
Please assign it to me. @nakul-19 @raksha009 @plazzy99 @tarun26091999 @rish-singhal @yasharth291 @Rohan27s @rudrakshi99, I am a GSSOC'21 participant I would like to solve it in C++

[2021-05-02 21:31] rohitsigar commented on #1848
Please assign me this issue, I am a Gssoc21 participant and will contribute the code in Java.
 @nakul-19 @raksha009 @plazzy99 @tarun26091999 @rish-singhal @yasharth291 @Rohan27s @rudrakshi99

[2021-05-02 22:32] #59 closed

[2021-05-03 05:43] Srishti013 commented on #1855
Please assign this to me in C++

[2021-05-03 05:44] Srishti013 commented on #1851
Please assign this to me in Java

[2021-05-03 05:44] Srishti013 commented on #1851
Please assign this to me in python

[2021-05-03 07:08] #1852 closed

[2021-05-03 07:34] Srishti013 commented on #1849
Please assign this to me in Python

[2021-05-03 07:34] Srishti013 commented on #1847
Please assign this to me in C++.

[2021-05-03 07:36] Srishti013 commented on #1843
Please assign this to me in Python.

[2021-05-03 15:56] version0chiro opened #1859 "Binary Tree to BST using C++"
**Is your feature request related to a problem? Please describe.**
Given a Binary Tree, convert it to Binary Search Tree in such a way that keeps the original structure of Binary Tree intact.

Example 1:

#### Test Case 1:
- Input:
              1
            /   \
           2     3

- Output:
              2
            /   \
           1    3

**Describe the solution you'd like**
Traverse the b

[2021-05-03 16:32] Myself-Rohit-Dey opened #1860 "Abbreviation of a person’s name."
**Is your feature request related to a problem? Please describe.**
I want to add a program to show the abbreviation of a name.

**Describe the solution you'd like**
Input: Avul Pakir Jainulabdeen Abdul Kalam
Output: A.P.J.A.K

**Do you want to work on it**
I would like to implement this in c++
Please assign me this issue as part of GSSOC '21.

[2021-05-03 16:33] Myself-Rohit-Dey commented on #1860
Please assign it to me. @nakul-19 @raksha009 @plazzy99 @tarun26091999 @rish-singhal. and also suggest me to which directory to put it in.

[2021-05-03 17:16] AdityaRaj-ar opened #1861 "Multiple of Three"
**Is your feature request related to a problem? Please describe.**
 Consider a very long K-digit number N with digits d0, d1, ..., dK-1 (in decimal notation; d0 is the most significant and dK-1 the least significant digit). This number is so large that we can't give it to you on the input explicitly; instead, you are only given its starting digits and a way to construct the remainder of the number

[2021-05-03 17:16] riddhij16 opened #1862 "Tarjan's Algorithm"
**Is your feature request related to a problem? Please describe.**
Hi.. I am a participant at GSSOC'21.

I would like to contribute code for Tarjan's Algorithm for Strongly connected components, and important concepts like Articulation points and find the no. of bridges as applications for the same.

**Do you want to work on it**
I would like to contribute code in C++
Please assign me this issue.

[2021-05-03 17:17] AdityaRaj-ar commented on #1861
Please assign this issue to me. I am a participant of GSSOC'21 and I really want to contribute to it. So I request mentors to assign this issue to me with a GSSOC label.
Thank you

[2021-05-03 17:19] riddhij16 commented on #1862
Please assign it to me . @nakul-19 @raksha009 @plazzy99 @tarun26091999 @rish-singhal

[2021-05-04 06:32] #1247 closed

[2021-05-04 09:16] Srishti013 commented on #1862
Please assign this to me in Python

[2021-05-04 09:17] Srishti013 commented on #1861
Please assign this to me in Python

[2021-05-04 09:17] Srishti013 commented on #1860
Please assign this to me in Python

[2021-05-04 12:41] vanshikachokhani commented on #95
@plazzy99 I want to work on this issue in C++. Please assign it to me.

[2021-05-05 06:50] mp3730 opened #1867 "Add two numbers represented by linked lists."
Topic: Linked list
Problem:
We are given two numbers represented by two linked lists of different sizes, n & m, respectively. Now we need to return a linked list showing the sum of both list numbers.
Example:
Input:
  n=3
  Linked_list1 : 2 1 3
  m=4
  Linked_list4 : 4 1 6 2
Output :
  4 3 7 5

**Do you want to work on it**

**Yes**, I would like to work on this issue in  C++ language.

Please ass

[2021-05-05 12:17] ainy-123 opened #1869 "vertical order traversal of binary tree using c++"
Topic : Binary Tree
Problem:
Given a binary tree A consisting of N nodes.
Return a 2-D array representing the vertical order traversal of A .

For Example :
Input Tree :
           1
         /   \
        2     3
       / \      \
      4   5     7
Output Array:
[
    [4],
    [2],
    [1, 5],
    [3],
    [7]
 ]
**Do you want to work on it**
Yes ,I want to work on this issue using c++ language.

[2021-05-05 12:43] Rajashri14 commented on #1580
I would like to contribute to above issue. Please assign this issue to me.

[2021-05-06 05:16] Rohan27s commented on #1764
@Srishti013 @khusheekapoor done

[2021-05-06 05:48] khusheekapoor commented on #1764
Thank you @Rohan27s !

[2021-05-06 06:51] #1752 closed

[2021-05-06 07:03] Srishti013 commented on #1735
@OjusWiZard please review my pr.

[2021-05-06 07:04] Srishti013 commented on #1201
@rish-singhal  please review my pr.

[2021-05-06 07:05] Srishti013 commented on #1660
@rish-singhal please review my pr.

[2021-05-06 07:16] Srishti013 commented on #1033
@Rohan27s  please review my pr

[2021-05-06 09:18] Tejal18 commented on #1660
@rish-singhal  I created a PR #1873 , Please do review it . Thanks .

[2021-05-06 12:24] tarun26091999 commented on #1839
issue is present at #232 you can ask there.

[2021-05-06 12:24] #1839 closed

[2021-05-06 12:37] tarun26091999 commented on #1850
issue present at #1834 you can ask there

[2021-05-06 12:37] #1850 closed

[2021-05-06 12:44] tarun26091999 commented on #1860
this is not any standard algorithm. It's just a string manipulation question.

[2021-05-06 12:44] #1860 closed

[2021-05-06 13:29] Srishti013 commented on #232
Please assign this to me in python

[2021-05-06 14:15] Srishti013 commented on #1867
Please assign this to me in python

[2021-05-06 14:53] Prerna-07 commented on #1834
Please assign it to me i would like to solve it in java . @nakul-19 @raksha009 @plazzy99 @tarun26091999 @rish-singhal @yasharth291 @Rohan27s @rudrakshi99

[2021-05-06 15:21] Aparna-Sakshi commented on #1834
Please assign me this issue. I would like to work on this issue in python. @nakul-19 @raksha009 @plazzy99 @tarun26091999 @rish-singhal @yasharth291 @Rohan27s @rudrakshi99

[2021-05-06 15:33] U-c0de commented on #1743
@rish-singhal  Assign me in JAVA

[2021-05-06 16:13] Aparna-Sakshi opened #1874 "Polygon Triangulation"
**Is your feature request related to a problem? Please describe.**
Polygon Triangulation :
Triangulating a polygon means partitioning it into triangles. Triangulating a polygon is an important pre-processing step for many algorithms. The polygon is given as an n X 2 array of coordinates of its vertices in clockwise cyclic order.

**Describe the solution you'd like**
The algorithm does the triangul

[2021-05-06 16:16] Aparna-Sakshi commented on #1874
Kindly assign this issue to me. @aaadddiii @anubhavitis @veenit1802 @ssaksham @malavikarajeshvikraman

[2021-05-06 16:38] Prerna-07 commented on #1834
@Rohan27s Thank you sir.

[2021-05-06 18:44] Srishti013 commented on #1874
Please assign this to me in python

[2021-05-06 18:45] Srishti013 commented on #1869
please assign this to me in python

[2021-05-06 18:53] Aparna-Sakshi commented on #1834
Thanks @Rohan27s

[2021-05-07 04:09] U-c0de commented on #1851
@Rohan27s @rish-singhal @tarun26091999 Assign this to me in C++

[2021-05-07 04:09] U-c0de commented on #1867
Assign me this in JAVA

[2021-05-07 04:10] U-c0de commented on #1869
please assign this to me in java

[2021-05-07 04:10] U-c0de commented on #1874
Please assign this to me in java

[2021-05-07 09:23] raksha009 commented on #7
Plz specify language and the codes you would like to implement.

[2021-05-07 12:05] U-c0de commented on #1820
Please assign it to me in Python . @nakul-19 @raksha009 @plazzy99 @tarun26091999 @rish-singhal

[2021-05-07 15:22] Bhumika2409 commented on #1826
Please assign this to me in C language

[2021-05-07 15:40] gargijs opened #1881 "Median of two sorted arrays"

[2021-05-07 15:42] gargijs commented on #1881
I want to work on this under GSSOC21.So please add label of GSSOC21 and assign it to me

[2021-05-07 15:47] ritmojs opened #1882 "Trapping Rain Water"
**Is your feature request related to a problem? Please describe.**
A problem based on array Data Structure

**Describe the solution you'd like**
I want to add efficient solution of O(n) complexity.

**Do you want to work on it**
Yes I want to work on this. Please assign this to me under GSSOC21

[2021-05-07 15:48] ritmojs commented on #1882
Please assign it to me. And add GSSOC21 label.

[2021-05-07 16:20] rudrakshi99 commented on #1261
You can open issues for other algo which is not present.

[2021-05-07 17:05] Mugdha-Hazra opened #1884 "Substring Start End Same"
**Is your feature request related to a problem? Please describe.**

_eg_
**Input : prepby
output : 7**

 
**Do you want to work on it**
I wanted to implement it using c++

Hello @OjusWiZard @aaadddiii @anubhavitis @veenit1802 @ssaksham @malavikarajeshvikraman @rish-singhal, I think this is an important question and this should definitely be added in the Algo-Tree and I will start working on it as

[2021-05-08 09:46] siddharth-bhatnagar opened #1885 "Reach A Number"
**Is your feature request related to a problem? Please describe.**
Statement: Starting from zero, count the minimum number of steps required to reach a value on the number line. At ith step, the current value can be decremented or incremented by i.

**Describe the solution you'd like**
A function that calculates the minimum number of steps required to reach the number and outputs the value to the

[2021-05-08 09:53] siddharth-bhatnagar opened #1886 "First Missing Positive"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Do you want to work on it**
I want to implement this in Java.
I am a participant in GSSOC'21. Please assign it to me @anubhavitis @aaadddiii @veenit1802 @ssaksham @malavikarajeshvikraman
Thanks!

[2021-05-08 10:11] pranita736 commented on #1882
I want to work on this in Python. Please assign this to me under GSSOC21

[2021-05-08 10:22] Bhumika2409 commented on #1885
Please assign this to me in c++

[2021-05-08 10:24] pranita736 commented on #1742
I want to work on this in Python. Please assign this to me under GSSOC21

[2021-05-08 11:08] khusheekapoor opened #1887 "Fermat Number in Java"
**Is your feature request related to a problem? Please describe.**
A fermat number can be defined by the formula - 2^2^k +1

**Describe the solution you'd like**
This program gives the user the first n fermat numbers.

**Do you want to work on it**
I would like to work on this issue using Java as a GSSoC'21 participant under the Number Theory category.

[2021-05-08 13:18] Srishti013 commented on #1881
Please assign this to me in C++.

[2021-05-08 13:18] Srishti013 commented on #1882
Please assign this to me in C++.

[2021-05-08 13:19] Srishti013 commented on #1884
Please assign this to me in python.

[2021-05-08 13:19] Srishti013 commented on #1885
Please assign this to me in python

[2021-05-08 13:20] Srishti013 commented on #1886
Please assign this to me in C++

[2021-05-08 15:36] Bhumika2409 opened #1888 "Young Tableau"
**Is your feature request related to a problem? Please describe.**
The methods to insert, delete and replace in the Young Tableau which is matrix such that the entries of each row are sorted from left to right and the entries of each column are sorted from top to bottom

**Do you want to work on it**
I would like to implement the code in C++.

[2021-05-08 15:45] U-c0de commented on #1851
@plazzy99 Assign me this in C++

[2021-05-08 16:23] vanshikachokhani opened #1889 "Largest Rectangular area in Histogram"
**Is your feature request related to a problem? Please describe.**
Find the largest rectangular area in a Histogram.

**Describe the solution you'd like**
O(N) complexity solution using stacks in C++.

**Do you want to work on it**
I am a Gssoc21 participant and will code the solution in C++.

@plazzy99  Please assign the issue to me.

[2021-05-08 16:25] vanshikachokhani commented on #370
@OjusWiZard I would like to work on this issue in C++. Please assign it to me.

[2021-05-08 18:24] Srishti013 commented on #1889
Please assign this issue to me in python.

[2021-05-08 19:21] Sarthak-9 opened #1891 "Remove duplicates in Linked List using Hashing"
**Is your feature request related to a problem? Please describe.**
An algorithm that removes duplicates from an unsorted linked list using hashing by reducing its time complexity.

**Describe the solution you'd like**
Removing duplicates using hashing reduces the time complexity and works best for an unsorted linked list.

**Do you want to work on it**
Yes, I am a GSSOC'21 participant and would li

[2021-05-08 19:36] tarun26091999 commented on #162
@Amit366 link your PRs to this issue so that we can see them here.

[2021-05-08 19:39] tarun26091999 commented on #162
@Vansh-Gupta4 raise separate PR for both minimum and maximum, and also implement the most optimized approach only.

[2021-05-08 19:44] tarun26091999 commented on #1261
@budhirajamadhav do it soon as we have to unaasign you

[2021-05-08 20:44] tarun26091999 commented on #857
@GarimaKhare15 do it soon

[2021-05-09 01:44] srisatya1197 commented on #299
@anjul2000 Can you once check this code:
#include <iostream>
#include <cstdlib>
#include <cmath>
using namespace std;

// A Queue Node (Queue is implemented using Doubly Linked List)
typedef struct QNode
{
    QNode *prev, *next;
    unsigned pageNumber;
} QNode;

// A Queue (A FIFO collection of Queue Nodes)
typedef struct Queue
{
    unsigned count;
    unsigned numberOfFrames;
    QNode *front,

[2021-05-09 03:58] Srishti013 commented on #1891
Please assign this to me in python.

[2021-05-09 04:38] U-c0de commented on #1743
@Rohan27s @rish-singhal Assign me in JAVA

[2021-05-09 10:11] Maskgirl commented on #232
https://github.com/Algo-Phantoms/Algo-Tree/issues/1839#issuecomment-833480451
would like to do it in python

[2021-05-09 10:44] neha07kumari opened #1893 "Median of Running Stream"
**Is your feature request related to a problem? Please describe.**
Problem statement: Median of Running stream

**Describe the solution you'd like**
 The median of running stream will be solved using heaps in C++.

**Do you want to work on it**
I will solve this problem using C++.

[2021-05-09 10:45] neha07kumari commented on #1893
Please assign it to me . @nakul-19 @raksha009

[2021-05-09 10:48] neha07kumari opened #1894 "Subarray with Palindromic Concatenation"
**Is your feature request related to a problem? Please describe.**
Problem statement: Subarray with Palindromic Concatenation

**Describe the solution you'd like**
 For a given array and an integer K, we need to check if any subarray of size K exists in the array such that concatenation of elements form a palindrome.

**Do you want to work on it**
I will solve this problem using C++.