[2021-01-24 10:52] shreyanspoddar opened #2 "Factorial code in java"
Factorial code in java.
Please assign this issue to me

[2021-01-24 11:33] #2 closed

[2021-01-24 11:40] shreyanspoddar opened #4 "Gcd code in java"
GCD code in java.
Please assign this issue to me

[2021-01-26 03:41] Siddhant-K-code opened #6 "Graph Algorithms"
- [ ] BFS
    - [ ] C++
    - [ ] Java
    - [ ] Python
- [ ] DFS
    - [ ] C++
    - [ ] Java
    - [ ] Python

[2021-01-26 03:42] Siddhant-K-code commented on #6
Can I work on `BFS & DFS in C++`

[2021-01-26 08:42] rudrakshi99 commented on #6
@Siddhant-K-code The algorithm is already included. I have updated the link in readme. You can check [here](https://github.com/Algo-Phantoms/Algo-Tree/blob/main/Graph/readme.md) but you can work on any other issue.

[2021-01-26 08:45] #6 closed

[2021-01-26 10:29] Siddhant-K-code commented on #6
Can I implement Shortest Path or Other Graph Algorithms like Dijkstra algorithm, Backtracking?

[2021-01-26 10:39] rudrakshi99 commented on #6
@Siddhant-K-code Yes, you can. Firstly, create an issue and link your PR with it when you will get assigned.

[2021-01-26 11:13] Siddhant-K-code opened #7 "Graph Algorithms"
- [ ] Dijkstra
    - [ ] C++
    - [ ] Java
    - [ ] Python
- [ ] Kruskal
    - [ ] C++
    - [ ] Java
    - [ ] Python
- [ ] Topological Sort
    - [ ] C++
    - [ ] Java
    - [ ] Python
- [ ] Prim
    - [ ] C++
    - [ ] Java
    - [ ] Python

[2021-01-26 11:14] Siddhant-K-code commented on #7
Can I Implement the Above algorithms in C++?

[2021-01-26 11:45] rudrakshi99 commented on #7
@Siddhant-K-code Also Update the link of your code in the Readme of the related algorithm which you will implement.

[2021-01-26 15:16] OjusWiZard opened #8 "Tower of Hanoi"
The Tower of Hanoi problem in C++

[2021-01-26 18:54] #8 closed

[2021-01-26 19:54] tarun26091999 opened #10 "kadane's Algo"
I want to contribute Kadane's algorithm in cpp.

[2021-01-26 19:59] tarun26091999 commented on #10
ok

[2021-01-27 08:04] OjusWiZard opened #12 "Quicksort"
The repo seems to be missing the Quicksort algorithm in C++

[2021-01-27 08:08] OjusWiZard opened #13 "Heapsort"
I wanna add the Heapsort algorithm too in C++

[2021-01-27 08:36] rudrakshi99 commented on #12
@OjusWiZard Yes, you can work on this algorithm and update the link in the [Algorithm/Searching_Sorting](https://github.com/Algo-Phantoms/Algo-Tree/tree/main/Algorithm/Searching_Sorting).

[2021-01-27 09:26] rudrakshi99 commented on #12
@OjusWiZard Nice :+1:

[2021-01-27 09:26] #12 closed

[2021-01-27 13:53] rudrakshi99 opened #15 "Add test cases"
Add atleast one extra test case in each code.

[2021-01-27 13:55] rudrakshi99 opened #16 "Add test cases"
Add atleast one extra test case in each code.

[2021-01-27 13:55] #16 closed

[2021-01-27 14:13] #10 closed

[2021-01-27 15:27] #13 closed

[2021-01-31 19:19] Ayan-10 commented on #7
I can implement these in java. Can I do that ? @rudrakshi99

[2021-01-31 19:32] Ayan-10 opened #18 "Factorial, Fibonacci, BFS, DFS and many more in java"
I can write existing C++ code in Java. Please assign me.

[2021-02-01 17:34] sayantan1413 opened #21 "Longest Common Subsequence (DP)"
I can implement the Longest common Subsequence as an approach to Dynamic Problem solution in both C++ and Java. Please assign me the issue.

[2021-02-03 08:25] vedant-jain03 commented on #21
I have done what You wanted
My pull request in your section
please merge it with your main file If you have no conflicts with that.

[2021-02-08 12:36] avijit1999 commented on #4
GCD code in java
Please assigned this to me.
I will do it by using Euclidean  algorithn

[2021-02-08 14:40] mu593 opened #25 "DIJSKTRA, KRUSKAL CODE I can write code in java and python .Please assign me."

[2021-02-08 16:31] RuchiGitHu commented on #18
Good Evening,
Please let me know little more about this issue and send me a link of github repo for this link.
I also want to add java code in array folder....

[2021-02-09 10:27] IShahnawazShaikh commented on #4
I would like to work on this issue please assign to me @rudrakshi99
will Implement for different Time Complexity.

[2021-02-09 11:34] avijit1999 commented on #4
@rudrakshi99 mam , I made a pull request .
Accept it and marge it.

[2021-02-10 08:39] anubhavitis opened #27 "Readme of Backtracking, Number Theory and String incomplete."

[2021-02-10 12:18] #27 closed

[2021-02-10 15:58] sujoy-coder opened #29 "Linked List in python"
I want to add linked list program in python. Please assign it to me.

[2021-02-10 16:13] pranjalshikhar opened #30 "7 questions in LCS(Dynamic Programming)"
I can implement in C++

1. Longest Common Subsequence
2. Print Longest Common Subsequence
3. Longest Common Substring
4. Shortest Common Subsequence
5. Print Shortest Common Subsequence
6. Minimum no. of ways of insertion and deletion to convert string A to string B.
7. Longest Palindromic Subsequence

[2021-02-10 18:18] hitblunders opened #33 "Python code for arrays"
Can I work on this?

[2021-02-12 14:21] mohdarif8299 commented on #4
I would like to work on this issue.
Please Assign it to me. @rudrakshi99

[2021-02-14 18:11] deep3072 opened #35 "Special Algorithms"
Can I work on Sieve of Eratosthenes, KMP algorithm and Mo’s algorithms?

[2021-02-15 04:48] Meghag5 opened #36 "Implementation of Queue using Stack"
In this algorithm we will use two stack to implement queue.

[2021-02-15 04:48] Meghag5 commented on #36
Please assign it to me and add tags to this issue.

[2021-02-15 12:55] avijit1999 opened #37 "GCD"
I can add a suitable java program to all c++ program.
Please assign me @rudrakshi99 .

[2021-02-15 13:24] TidbitsJS opened #38 "Hash in JS"
### Hashing in JS
Goal is to create a hash table in JavaScript which will have following things -
1. Insert item
2. Find item
3. Display all items

### Motivation
Purpose is to help people get better at JavaScript and DS & Algorithms

### Event
Participating as a part of GSSOC

[2021-02-15 13:24] rudrakshi99 commented on #37
@avijit1999 please mention the specific program of c++ on which you want to work.

[2021-02-15 13:26] TidbitsJS commented on #38
Assign this to me & I will create PR immediately

[2021-02-15 13:33] avijit1999 commented on #37
@rudrakshi99
I wanted to work on at first "insertion _at_end.cpp" program

[2021-02-15 13:37] rudrakshi99 commented on #38
@TidbitsJS We don't accept PRs in JS. You can contribute in Java, C++, or python.

[2021-02-15 13:40] TidbitsJS commented on #38
Okay :)

[2021-02-17 08:38] tanyarajhans opened #39 "All graph algorithms in C++ and Java."
**Task**: Can implement all graph algorithms like Floyd-Warshall, Dijkstra, Prim's MST in C++ and Java.

**Motivation**: I am efficient in Problem Solving using C++ and Java and have solved more than 800 problems on various online judges like GeeksforGeeks, LeetCode, HackerRank etc. You can check my profile here:

https://leetcode.com/tanyarajhans7/
https://auth.geeksforgeeks.org/user/tanyarajhans

[2021-02-17 13:11] tanyarajhans commented on #39
Please assign this issue to me.

[2021-02-18 06:19] tina-alex-leslie commented on #29
I want to help with this. Please assign this to me.

[2021-02-18 06:25] abhijeet010304 commented on #21
I want to complete this task please assign it to me as a part of GSSOC- 21.

[2021-02-18 06:26] abhijeet010304 commented on #4
I want to complete this task please assign it to me as a part of GSSOC- 21.

[2021-02-18 06:32] abhijeet010304 commented on #39
I want to complete this task please assign it to me as a part of GSSOC- 21.
I am an ACM-ICPC Regionalist 2019 , specialist @codeforces and 5 Start @codechef.

[2021-02-18 06:37] samfubuki commented on #39
Will be able to implement all the graph algorithms in C++ . I have solved lots of problems at geeksforgeeks and hackerrank and even implemented these algorithms in questions like these at GeeksForGeeks. My Profiles
GeeksForGeeks - https://auth.geeksforgeeks.org/user/axelshaun127/profile
Hackerrank - https://www.hackerrank.com/axelshaun127

I would be able to implement the code of Graph algorithms

[2021-02-18 06:39] abhijeet010304 commented on #15
Hey I want to work on it I can add test cases efficiently involving all corner cases and TLE cases. Please assign it to me as a part of  GSSOC - 21

[2021-02-18 06:40] abhijeet010304 commented on #7
Hey I want to implement all those algorithms , I can contribute codes in Java and Python. Please assign it to me as a part of GSSOC 21

[2021-02-18 06:41] samfubuki commented on #21
I can complete this task as a part of GSSOC-21 . I have implemented this before . Kindly assign me this task as a part of  GSSOC 21

[2021-02-18 08:14] suyashi912 commented on #37
Hey,
I would love to complete this task assigned under the mentorship of GSSoc'21. I am proficient in programming in various languages including Java and c++. I promise to deliver on time in case this task in assigned to me. Thanks :)

[2021-02-18 08:15] suyashi912 commented on #21
Hey,
I would love to complete this task assigned under the mentorship of GSSoc'21. I am proficient in programming in various languages including Java, c++ and python. I promise to deliver on time in case this task in assigned to me. Thanks :)

[2021-02-18 16:17] noob-26 opened #42 "Backtracking"
Can I work on Backtracking problems like Sudoku solver, N Queens and finding all subsets?

[2021-02-18 17:27] debanjan-2002 opened #44 "Brian Kernighan's Algorithm (Count no of Set Bits)"
Sir,
I have made an extensive C++ file for Brian Kernighan's algorithm. I have explained the intuition and idea of the algorithm briefly.
I have made a pull request regarding the same. Please review my request and if you feel that it is worth it, then please merge it.
Link to PR- https://github.com/Algo-Phantoms/Algo-Tree/pull/43
@plazzy99
@rudrakshi99
@nakul-19

I have been selected for GSSOC'21,

[2021-02-18 19:18] WaderManasi opened #45 "LinkedList Deletion Operation"
### Deletion Operations in LinkedList
- Deletion of first node in linkedlist
- Deletion of last node in linkedlist
- Deletion of intermediate node in linkedlist
### Event :
Gssoc'21

Can you assign the above task to be written in CPP and Java?

[2021-02-19 06:38] ganesspandian2 opened #46 "Kadane Algorithm in Java"
Hello,
At first, I like to implement Kadane Algorithm in Java.

[2021-02-19 08:27] debanjan-2002 opened #47 "Sieve of Eratosthenes algorithm"
Sir,
I would like to add Sieve of Eratosthenes algorithm in the algorithm section. I make very brief explained C++ code following the code of conduct.
To confirm you can see the Pull Request, that I made by adding Brian Kernighan's algorithm (yet to be reviewed by you). I have made that in a very informative way. Please review that and if you think my work is worth it, then please assign "Sieve of

[2021-02-19 13:31] debanjan-2002 commented on #44
Sir,
I have added SIEVE OF ERATOSTHENES code in C++. I have written it briefly, explaining each and every step and also added some test cases. It would be really nice of you if you review my pull request. Also, previously I had added BRIAN KERNIGHAN'S algorithm, which is yet to be reviewed by you. It would be really nice of you if you check my PR and if you think it is worth it, then consider merg

[2021-02-19 17:54] suyashi912 opened #50 "Knapsack in java and python"
Hello,
I would like to implement knapsack algorithm (dynamic programming) in python and Java languages.

Event :
GSSoC'21

Please assign me to the above task :)

[2021-02-19 19:33] sukritidawar opened #51 "Search in Sorted Rotated Array"
Given an integer array, and an element x, find the index of the element in O(log n) time.
Integer array is sorted in ascending order, but it is rotated at some pivot.
Example:
Input: arr[] = {5, 6, 7, 8, 9, 10, 1, 2, 3}, x = 3
Output: 8

[2021-02-19 19:33] sukritidawar commented on #51
I want to work on this issue in C++

[2021-02-20 03:28] abhikjain360 opened #52 "add a `.clang-format` for C++ code for consistent styling"
Some PRs might not pass the checks if people somewhere by mistake forget to follow the styling. Also there are currently no documentation on correct syling. Using `.clang-format` will also allow automated styling instead of manually fixing stuff.

Note that once we fix a styling, we will need to apply it to all existing C++ code.

[2021-02-20 04:19] Vish-07 commented on #42
Heyy!! I would love to do bactracking problems of rat maze, color filling algorithm, n queens problem under mentorship of GSSOC'21. Will you please assign this task to me?

[2021-02-20 04:21] Vish-07 commented on #36
Hey!!! I have implemented queue using stack before, and would love to do this task under mentorship of GSSOC'21. Will you please assign this task to me?

[2021-02-20 07:57] #46 closed

[2021-02-21 03:54] pawki07 opened #53 "Add Minimum Cost Path in C++"
Hello,
I would like to add the code for Minimum Cost Path under the DP section. Please assign this to me. I would do my best.

[2021-02-21 04:03] pawki07 opened #54 "Add Bubble Sort Algorithm in C++"
Hello,
I would like to add bubble sort algorithm in the sorting section. Please assign it to me. I would do my bets.

[2021-02-21 04:05] pawki07 opened #55 "Add bucket sort and counting sort"
Hello,
I would like to add bucket sort and counting sort in C++. Please assign this issue to me. I would do my best!

[2021-02-21 04:50] Shalvi-Singhal opened #56 "Add Selection sort algorithm in C++"
Hello,
I would like to add Selection Sort algorithm in the sorting section. Please assign this task to me.

[2021-02-21 07:25] #52 closed

[2021-02-21 07:26] tina-alex-leslie commented on #56
Hello,
I would like to add the Selection Sort algorithm in the C++. Please assign this task to me.

[2021-02-21 07:27] tina-alex-leslie commented on #54
Hello,
I would like to add bubble sort algorithm in the sorting section. Please assign it to me.

[2021-02-21 08:31] Subhangini commented on #56
Please assign this issue to me .I would like to work on it.

[2021-02-21 08:32] Subhangini commented on #54
Please assign this issue to me .I would like to work on it.

[2021-02-21 08:35] Subhangini commented on #45
Please assign this issue to me .I will write the code in C++.

[2021-02-21 08:51] Subhangini opened #57 "Add Factorial function without recursion using C++"
I would like to work on this issue .Please assign it o me.

[2021-02-21 08:54] Subhangini opened #58 "Add circular queue in C++"
I would like to work on this issue.

[2021-02-21 09:05] Subhangini opened #59 "Add Queue implementation using linked list in c++"

[2021-02-21 09:07] nandini040 commented on #59
I would like to work on this issue . Please assign it to me.

[2021-02-21 09:17] nandini040 opened #60 "Add Doubly linked list in c++"
I would like to work in this issue.

[2021-02-21 09:23] Subhangini commented on #60
Please assign this issue to me .I will also add the implementation to reverse Doubly linked list

[2021-02-21 11:04] iamartyaa commented on #56
Sir
I would like to work on this issue . I have read the guidelines for making a contribution and will abide by them . I am actively contributing to GeeksforGeeks & Codeforces community and so I can explain the intuition &  idea of the algorithm efficiently.
Please assign the issue to me .

I have been selected for GSSOC'21, and I am really interested in Algorithms , so I would like to contribute

[2021-02-21 11:05] iamartyaa commented on #54
Sir
I would like to work on this issue . I have read the guidelines for making a contribution and will abide by them . I am actively contributing to GeeksforGeeks & Codeforces community and so I can explain the intuition & idea of the algorithm efficiently.
Please assign the issue to me .

I have been selected for GSSOC'21, and I am really interested in Algorithms , so I would like to contribute i

[2021-02-21 11:09] iamartyaa commented on #45
Ma'am
I would like to work on this issue . I have read the guidelines for making a contribution and will abide by them .
I am actively contributing to GeeksforGeeks & I am proficient in C++ . Please assign this issue to me .

I have been selected for GSSOC'21, and I am really interested in Data Structures & Algorithms , so I would like to contribute in this amazing repository.
Regards
Amartya Yada

[2021-02-21 11:14] iamartyaa commented on #47
Sir,
I would like to work on this issue . I have read the guidelines for making a contribution and will abide by them . I am actively contributing to GeeksforGeeks & Codeforces community .  I can give detailed explanation of the algorithm in both C++ & Python.
Please assign this issue to me .

I have been selected for GSSOC'21, and I am really interested in Algorithms , so I would like to contribu

[2021-02-21 13:36] iamartyaa commented on #60
I would like to work on this issue . I have read the guidelines for making a contribution and will abide by them . I am actively contributing to GeeksforGeeks & Codeforces community and so I can explain the intuition & idea of Data Structures efficiently.
Please assign thus issue to me . I will add doubly linked list in c++ .

I have been selected for GSSOC'21, and I am really interested in Algori

[2021-02-21 15:30] mu593 opened #61 "Code for Insertion Sort in c++"

[2021-02-21 15:33] garvitraj commented on #47
Hello Sir
 I would love to work on this issue. I have read the guidelines for making a contribution and will Strictly follow them I am actively contributing to HackerRank & Codeforces community and I m a 3-star coder at hackerrank and 4star in java and python. I can give a detailed explanation of the algorithm in both Java & Python.
Would Request you to please assign this issue to me.

[2021-02-21 15:38] mu593 commented on #61
#61 please assign me this issue.

[2021-02-22 06:50] rohitsigar commented on #51
please assign this task to me,   I have experience of writing blogs on DSA and competitive programming.
I am selected as a Mentee at GirlScript Summer of Code and this project really excites me so I would love to contribute to such an amazing repo.
@rudrakshi99
@nakul-19
@plazzy99

[2021-02-22 13:43] sakshi2707 commented on #57
I would like to work on this. Please assign me this

[2021-02-22 14:48] sukhpreet-singh1 commented on #61
if no one is working on this issue, can you  please assign me for this issue ?

[2021-02-22 14:49] sukhpreet-singh1 commented on #59
can you please assign me this issue?

[2021-02-22 14:50] sukhpreet-singh1 commented on #54
i would like to solve this issue please assign me this issue

[2021-02-22 14:51] sukhpreet-singh1 commented on #55
can you please assign me this issue?i would love to solve this issue

[2021-02-22 15:51] sathvikareddykadukuntla168 opened #63 "add bit level radix sort in C++"
hey,I want to add bit level radix sort in c++ ; Assign me this issue; I am very good at dsa and can contribute to this issue as a part of GSSOC'21

[2021-02-22 16:04] sathvikareddykadukuntla168 opened #64 "add insertion sort with worstcase timecomplexity of O(nlogn) for the number of comparisions"
hey,I want to add insertion sort with worstcase timecomplexity of O(nlogn) for the number of comparisions in c++ because the already present code has n^2 comparisons as worst-case ; Assign me this issue; I am very good at dsa and can contribute to this issue as a part of GSSOC'21

[2021-02-22 16:10] sathvikareddykadukuntla168 commented on #58
hey, I can add circular queue implementation using singly linkedlist in c++ ; Assign me this issue; I am very good at dsa and can contribute to this issue as a part of GSSOC'21

[2021-02-22 16:14] sathvikareddykadukuntla168 opened #65 "add memory and time efficient stack data structure to store heterogeneous data with all functionalities"
hey,I want to add memory and time efficient stack data structure to store heterogeneous data (like ex: int or char or float in same stack) with all functionalitiesin of stack in c++ ; Assign me this issue; I am very good at dsa and can contribute to this issue as a part of GSSOC'21

[2021-02-22 17:54] sathvikareddykadukuntla168 opened #66 "add min.swaps for BT to BST conversion in Java"
hey, I want to add min.swaps for BT to BST conversion algorithm and code in java ; I have previously worked on it and will be grateful to work on same under mentors of GSSOC'21 and develop the code even better. Assign it to me.

[2021-02-22 17:57] sathvikareddykadukuntla168 opened #67 "Add topological sort in Java"
hey,I want to add topological sort in Java ; Assign me this issue; I am very good at dsa and can contribute to this issue as a part of GSSOC'21

[2021-02-22 18:00] sathvikareddykadukuntla168 opened #68 "Add min edges need to be removed for making BFS=DFS in java"
hey, I want to add min edges need to be removed for making BFS=DFS in java; I have previously worked on it and will be grateful to work on same under mentors of GSSOC'21 and develop the code even better. Assign it to me.

[2021-02-22 18:05] sathvikareddykadukuntla168 opened #69 "B-Tree in Java"
hey, I want to add B-Tree functionalities in java; Assign it to me, I am good at dsa and have prior experience working on this.
#GSSOC'21

[2021-02-22 18:10] sathvikareddykadukuntla168 opened #70 "Betweenness-centrality of all nodes in java"
hey, I want to add calculation of betweenness-centrality of all nodes in a graph in java ; I have prior experience working on this and will be grateful to work under mentors of GSSOC'21 and develop the code even better. Assign it to me

[2021-02-23 04:36] rohansharma4050 commented on #50
Hello I am a GSSoc'21 participant and would like to work on this issue in Java and python. Can you assign this to me

[2021-02-23 05:15] pawki07 commented on #54
I have made a pull request here #71 . Pleas have a look @nakul-19

[2021-02-23 10:10] IdealisticINTJ commented on #4
I would like to work on this. Please assign this to me, under GSSoC '21.

[2021-02-23 10:33] IdealisticINTJ commented on #57
I would like to work on this issue. Please assign this to me, under GSSoC '21.

[2021-02-23 10:34] IdealisticINTJ commented on #54
I would like to work on this. I would like to contribute to this, under GSSoC '21.

[2021-02-23 18:18] Siddhartha1999 commented on #61
I want to work on this issue...Please assign it to me

[2021-02-23 18:19] Siddhartha1999 commented on #58
I want to work on this issue...

[2021-02-23 18:23] Siddhartha1999 commented on #39
I want to work on this issue....
Got some interesting perceptions about the solutions...

Please assign it to me

[2021-02-24 04:51] yogitasaini commented on #51
Please assign this issue  to me in java

[2021-02-24 06:47] anshu-30 commented on #25
I would like to contribute my C++ code for solving this issue.

[2021-02-25 07:49] sonaliBedade commented on #55
I am interested in solving this issue. Would you please assign it to me so that I can start working on it?

[2021-02-26 02:45] kunal299 commented on #61
@mu593 will u plz assign this issue to me as a part of Gssoc.

[2021-02-27 13:28] noviicee commented on #36
I wish to contribute to this issue by adding code for implementation of queue using stack in python. Can you assign it to me..??
I am also a participant of GSSOC'21.
Will be waiting for a response.

[2021-02-27 13:34] noviicee opened #77 "Add implementations of B-tree as well as BST in python. Add varieties of more operations which can be performed on a B-Tree as well as BST."
I wish to contribute to this project by adding implementations of both B-tree as well as BST in python.
I will also add some more operations which can be performed on a B-Tree as well as BST in python as well.
I am currently a participant in the GSSOC'21.
Will be waiting for your response :)

[2021-02-27 13:42] noviicee opened #78 "Adding more DS codes and algorithms in Python."
I see that currently this project has no codes corresponding the Python programming language.
I have good knowledge of Python  programming language as well as fair knowledge of  DS in Python.
I can easily code for Arrays, Stacks, Queues, Linked-List as well as Trees in Python.
I am trying to learn more as well.
Will be glad to make some decent code contributions for all those topics on DSA in pyth

[2021-02-27 17:27] Amulya310 commented on #57
I would like to work on this issue. Please assign this to me, under GSSoC '21.

[2021-02-27 17:29] Amulya310 commented on #60
I would like to work on this issue . Please assign this to me, under GSSoC '21.

[2021-02-27 17:32] Amulya310 commented on #61
I would really like to work on this issue and contribute to this amazing repository .Kindly consider assigning this to me under GSSoC'21.

[2021-02-27 17:34] Amulya310 commented on #63
I would really like to work on this issue and contribute to this amazing repository and learn more about it. Please assign this to me, under GSSoC '21.

[2021-02-27 17:37] Amulya310 commented on #59
I would really like to work on this issue and contribute to this amazing repository. I have prior knowledge about queues as well as linked list ,so ,kindly consider assigning  this to me under GSSoC '21.

[2021-02-27 17:39] Amulya310 commented on #54
I am quite interested in learning , implementing and bettering algorithms .So please consider assigning this issue to me under GSSOC'21 .

[2021-02-27 17:42] Amulya310 commented on #53
I am quite interested in learning , implementing and bettering algorithms .So please consider assigning this issue to me under GSSOC'21 .

[2021-02-27 17:44] Amulya310 commented on #7
I am quite interested in learning , implementing and bettering algorithms .So please consider assigning this issue to me under GSSOC'21 .

[2021-02-27 17:45] Amulya310 commented on #36
I would really like to work on this issue and contribute to this amazing repository. I have prior knowledge about queues as well as stack,so ,kindly consider assigning this to me under GSSoC '21.

[2021-02-28 01:37] jahnavi0105 opened #79 "Add Array Operations"
Hi
I find that array operations are not implemented. I have a piece of good knowledge on dsa. I can easily implement array operation(Insertion at the middle, Insertion at the end, Deletion at the beginning, Deletion at the middle, Deletion at the end) in c++. I would be happy to make my pull request for this.
I am currently a GSSOC'21 Participant.
Will you please assign these to me.

[2021-02-28 04:59] jahnavi0105 opened #80 "Add Circular Linked List"
Hi
I see that the Circular linked list is not been implemented. I have sound knowledge of dsa. I can easily code circular linked list implementation(Insertion, Deletion, and Traversal) in c++. I would be happy to make a pr on this.
I am currently a participant of GSSOC'21
Will you please assign this to me.

[2021-02-28 07:16] ChetasShree commented on #33
I am GSSoC'21 Participant. I would like to work on this issue. Please assign it to me. I will solve it in python

[2021-02-28 07:17] ChetasShree commented on #29
I am GSSoC'21 Participant. I would like to work on this issue. Please assign it to me. I will solve it in python

[2021-02-28 09:11] sunidhi1999-c commented on #80
Hi sir/mada,  Circular linked list is not been implemented. I have good knowledge of dsa. I can easily code circular linked list implementation(Insertion, Deletion, and Traversal) in c++. I would be happy to make a pull request  on this.
I am currently a participant of GSSOC'21.I am 2 star codechef and attend coding contests available online when I'm free.
Will you please assign this to me.

[2021-02-28 09:15] sujal111 opened #81 "Remove Duplicates in a Sorted Linked List"

[2021-02-28 09:15] sunidhi1999-c commented on #56
Hi sir,
I have knowledge on sorting and I have been selected for GSSOC'21, and I am really interested in Algorithms , so I would like to contribute in this amazing repository.I am passionate to contribute to open source ,so it would be great to do the pull request.
Thanks .
Sunidhi.

[2021-02-28 09:15] sujal111 opened #82 "Remove Duplicates in an Unsorted Linked List"

[2021-02-28 09:16] sujal111 opened #83 "Spiral Print of Matrix"

[2021-02-28 09:17] sujal111 opened #84 "Transpose of a Matrix in C++"

[2021-02-28 09:17] sujal111 opened #85 "Height of a Binary Tree"

[2021-02-28 09:18] sujal111 commented on #84
Allow me to work on this issue

[2021-02-28 09:18] sunidhi1999-c commented on #53
I have been selected for GSSOC'21, and I am really interested in Algorithms , so I would like to contribute in this amazing repository.I can contribute for this ,I am 2 star codechef candidate and would be great to contribute to open source programs like this one.

[2021-02-28 09:19] sujal111 commented on #85
Allow me to work on this issue

[2021-02-28 09:19] sujal111 commented on #81
Allow me to work on this issue in C++

[2021-02-28 09:21] sunidhi1999-c commented on #18
I have been selected for GSSOC'21, and I am really interested in Algorithms , so I would like to contribute in this amazing repository.I can contribute for this ,I am 2 star codechef candidate and would be great to contribute to open source programs like this one. I can write these articles if given a chance.
Thanks.
Sunidhi,
3rd year,CSE at NMAMIT,Nitte,Karnatak

[2021-02-28 09:22] sunidhi1999-c commented on #63
I have been selected for GSSOC'21, and I am really interested in Algorithms , so I would like to contribute in this amazing repository.I can contribute for this ,I am 2 star codechef candidate and would be great to contribute to open source programs like this one. I can write these articles if given a chance.
Thanks.
Sunidhi,
3rd year,CSE at NMAMIT,Nitte,Karnatak

[2021-02-28 09:24] jahnavi0105 opened #86 "Add Matrix Multiplication"
Hi pls assign this to me. I  would be happy to make a pull request on this .I  would like to implement in cpp.

[2021-02-28 09:24] sunidhi1999-c commented on #84
I have been selected for GSSOC'21, and I am really interested in Algorithms , so I would like to contribute in this amazing repository.I can contribute for this ,I am 2 star codechef candidate and would be great to contribute to open source programs like this one. I can write these articles if given a chance.
Thanks.
Sunidhi,
3rd year,CSE at NMAMIT,Nitte,Karnatak

[2021-02-28 09:24] sunidhi1999-c commented on #86
I have been selected for GSSOC'21, and I am really interested in Algorithms , so I would like to contribute in this amazing repository.I can contribute for this ,I am 2 star codechef candidate and would be great to contribute to open source programs like this one. I can write these articles if given a chance.
Thanks.
Sunidhi,
3rd year,CSE at NMAMIT,Nitte,Karnatak

[2021-02-28 09:25] sunidhi1999-c commented on #82
I have been selected for GSSOC'21, and I am really interested in Algorithms , so I would like to contribute in this amazing repository.I can contribute for this ,I am 2 star codechef candidate and would be great to contribute to open source programs like this one. I can write these articles if given a chance.
Thanks.
Sunidhi,
3rd year,CSE at NMAMIT,Nitte,Karnatak

[2021-02-28 09:25] sunidhi1999-c commented on #67
I have been selected for GSSOC'21, and I am really interested in Algorithms , so I would like to contribute in this amazing repository.I can contribute for this ,I am 2 star codechef candidate and would be great to contribute to open source programs like this one. I can write these articles if given a chance.
Thanks.
Sunidhi,
3rd year,CSE at NMAMIT,Nitte,Karnatak

[2021-02-28 09:26] sunidhi1999-c commented on #79
I have been selected for GSSOC'21, and I am really interested in Algorithms , so I would like to contribute in this amazing repository.I can contribute for this ,I am 2 star codechef candidate and would be great to contribute to open source programs like this one. I can write these articles if given a chance.
Thanks.
Sunidhi,
3rd year,CSE at NMAMIT,Nitte,Karnatak

[2021-02-28 09:27] sunidhi1999-c commented on #35
I have been selected for GSSOC'21, and I am really interested in Algorithms , so I would like to contribute in this amazing repository.I can contribute for this ,I am 2 star codechef candidate and would be great to contribute to open source programs like this one. I can write these articles if given a chance.
Thanks.
Sunidhi,
3rd year,CSE at NMAMIT,Nitte,Karnatak

[2021-02-28 09:27] sunidhi1999-c commented on #30
I have been selected for GSSOC'21, and I am really interested in Algorithms , so I would like to contribute in this amazing repository.I can contribute for this ,I am 2 star codechef candidate and would be great to contribute to open source programs like this one. I can write these articles if given a chance.
Thanks.
Sunidhi,
3rd year,CSE at NMAMIT,Nitte,Karnatak

[2021-02-28 09:33] jahnavi0105 opened #87 "Add String Searching Algorithms"
Hi
I see that string searching algorithms(Brute-Force algorithm, Knuth-Morris-Pratt algorithm, Boyer-Moore algorithm, Robin-Karp algorithm)  are not been implemented. I have good knowledge of them. I would like to implement them in c++. I am a participant in GSSOC'21. I would be happy to make a pull request on this. Will you pls assign this to me.

[2021-02-28 09:39] jahnavi0105 opened #88 "Add BST Traversals"
Hi
I see that Binary search tree traversals(Inorder, Preorder, Postorder) are not implemented. I can implement them in c++. I am a participant in GSSOC'21. I would be happy to make a PR on this. Will you pls assign this to me.

[2021-02-28 16:44] mehak2323 opened #89 "Stack operations"
I would like to work on the stack operations mentioned below in C++.
1. count(): It returns the total number of elements available in a stack.
2. change(): It changes the element at the given position.
3. display(): It prints all the elements available in the stack.
I'm a participant of GSSOC 21, and would like to be assigned this issue :)

[2021-03-01 02:25] maanpatel2492 commented on #61
Hey,I can work on this issue.Assign me.

[2021-03-01 03:10] maanpatel2492 commented on #87
I would like to solve this issue today.
(under GSSOC21)

[2021-03-01 03:12] maanpatel2492 commented on #86
I would like to solve this issue today.
(under GSSOC21)

[2021-03-01 03:13] maanpatel2492 commented on #83
I would like to solve #83 today.
(under GSSOC21)

[2021-03-01 04:55] prateek-jpg opened #90 "add Linked-List Operation in java"
Hi,
Please allow me to add my own linked-list in java which will perform 3 functions:
1.add()-add element to the linked-List
2.remove()-remove an element to linked-list
3.peek()-return the last element in linked-list
4.size()-count the number of node in linked-list
5.print()-print all the nodes

[2021-03-01 05:12] minig-tech commented on #79
I would like to work on this issue. Will you please assign it to me.

[2021-03-01 05:14] minig-tech commented on #81
I would like to work on this issue. Will you please assign it to me.

[2021-03-01 05:15] minig-tech commented on #82
I would like to work on this issue. Will you please assign it to me.

[2021-03-01 05:20] minig-tech commented on #87
I would like to work on this issue. Will you please assign it to me. I am a participant in GSSOC'21.

[2021-03-01 05:49] AkanshaUniyal commented on #54
Respected sir,
I would be privileged to write this algorithm in JAVA @nakul-19 . Please assign me this under GSSOC'21

[2021-03-01 05:56] AkanshaUniyal opened #91 "Remove the duplicacy from a word"

[2021-03-01 06:00] AkanshaUniyal commented on #91
@rudrakshi99I would like to solve this issue in JAVA. Please assign this to me under GSSOC'21.

[2021-03-01 06:06] chehak123 commented on #91
Hi, i want to contribute as a participant of gssoc'21

[2021-03-01 06:06] chehak123 commented on #79
Hi, i want to contribute as a participant of gssoc'21

[2021-03-01 06:06] chehak123 commented on #80
Hi, i want to contribute as a participant of gssoc'21

[2021-03-01 06:07] chehak123 commented on #81
Hi, i want to contribute as a participant of gssoc'21

[2021-03-01 06:07] chehak123 commented on #83
Hi, i want to contribute as a participant of gssoc'21

[2021-03-01 06:08] chehak123 commented on #84
Hi, i want to contribute as a participant of gssoc'21

[2021-03-01 06:09] chehak123 commented on #90
Hi, i want to contribute as a participant of gssoc'21

[2021-03-01 06:09] chehak123 commented on #89
Hi, i want to contribute as a participant of gssoc'21

[2021-03-01 06:09] chehak123 commented on #61
Hi, i want to contribute as a participant of gssoc'21

[2021-03-01 11:18] RhuthuHegde commented on #80
Can I work on this, under gssoc 21?

[2021-03-01 11:19] RhuthuHegde commented on #7
Can I implement these in C++ under gssoc 2021?

[2021-03-01 11:20] RhuthuHegde commented on #45
Can I work on this issue, under gssoc'21?

[2021-03-01 11:21] RhuthuHegde commented on #91
Can I work on this issue in c++ and python, under gssoc'21?

[2021-03-01 11:34] RhuthuHegde commented on #78
Can I work on this issue, under gssoc'21?

[2021-03-01 11:35] RhuthuHegde commented on #60
Can I work on this issue, under gssoc'21?

[2021-03-01 16:55] kanak22 commented on #88
I can implement them in c. I am a participant in GSSOC'21. Kindly assign it to me.

[2021-03-01 16:59] AkanshaUniyal commented on #84
Hello! I want to write this algorithm in JAVA under GSSOC'21

[2021-03-02 06:14] Avnish5 commented on #82
I have been selected for GSSOC 2021 and i wanted to contribute here.
I had very strong understanding of DSA.
Kindly assign it to me...

[2021-03-02 06:16] Avnish5 commented on #59
Kindly assign this task to me.
I had very strong understanding of DSA.

[2021-03-02 06:20] Avnish5 commented on #57
I had very strong understanding on dsa.I am aslo selected as a participant in GSSOC 2021.
Kindly assign this task to  me

[2021-03-02 06:22] Avnish5 commented on #58
hey, I can add circular queue implementation using singly linkedlist in c++ ; Assign me this issue; I am very good at dsa and can contribute to this issue as a part of GSSOC'21

[2021-03-02 09:12] Srishti20022 commented on #15
Hi, I would also like to contribute to Algo-tree by adding test cases which would ensure full coverage of code.
It would be great if it could be assigned to me as a part of GSSOC - 21

[2021-03-02 09:14] janhavitripurwar opened #94 "Detect cycle in undirected graph using bfs and dfs"
Hello,
I am GSSOC'21 participant.
I will explain the question , approach, code, time complexity, space complexity.
The code will be quite simple to understand .
Also 3 test cases will be provided for each.
Please assign this issue to me .

[2021-03-02 09:25] Srishti20022 commented on #91
Hello, I would also like to work to this issue on java, c++ or python. It would be great if this issue could be assigned to me under GSSOC - 21.

[2021-03-02 09:29] nakul-19 commented on #54
@tina-alex-leslie  @Subhangini @iamartyaa @sukhpreet-singh1 @IdealisticINTJ @Amulya310  please always mention the language you would use to work on the issue.

[2021-03-02 09:29] janhavitripurwar commented on #94
@rudrakshi99 I  would like solve this issue in C++. Please assign this issue to me.

[2021-03-02 09:32] nakul-19 commented on #51
@rohitsigar please mention the language you would use.

[2021-03-02 09:32] sukhpreet-singh1 commented on #54
I can do in C++,python,c,Java,javascript,c#

[2021-03-02 09:36] iamartyaa commented on #54
@nakul-19
Sir I will be using C++ , Python & Java to work on this issue .

[2021-03-02 09:37] janhavitripurwar opened #95 "Bipartite Graph"
Hello,  @rudrakshi99 @nakul-19 @plazzy99
I am GSSOC'21 participant.

What I will include -: (suggest if something needs to be added)
1. What is Bipartite Graph
2. Two coloring problem
3. Bipartite Graph test

I will explain the question , approach, code, time complexity, space complexity, along with some images for clear understanding and examples for the theory.
The code will be quite simple to u

[2021-03-02 09:38] nakul-19 commented on #54
@sukhpreet-singh1 please provide the code in Python and @iamartyaa in Java.

[2021-03-02 09:53] janhavitripurwar opened #96 "Dfs and Bfs on 2d grid"
Hello,  @rudrakshi99 @nakul-19 @plazzy99
I am GSSOC'21 participant.

What I will include -: (suggest if something needs to be added)
1. dfs on 2d grid (theory ,example and code)
2. Find number of islands(dfs on 2d grid problem )
3. bfs on 2d grid(theory, example and code)
4. Min and max moves to reach target by knight(bfs on 2d grid problem)
5. language used for coding - cpp

[2021-03-02 09:53] janhavitripurwar commented on #96
I will explain the question , approach, code, time complexity, space complexity, along with some images for clear understanding and examples for the theory.
The code will be quite simple to understand .
Also 3-4 test cases will be provided for each.
Please assign this issue to me  @rudrakshi99

[2021-03-02 11:07] rudrakshi99 commented on #83
@sujal111 mention the language in which you want to code.

[2021-03-02 11:12] prateek-jpg opened #98 "Reversing a string using stacks"
for example-prateek
output-keetarp

[2021-03-02 11:13] prateek-jpg commented on #98
@rudrakshi99 I would like to solve this issue in JAVA. Please assign this to me under GSSOC'21.

[2021-03-02 11:14] rudrakshi99 commented on #82
@sujal111 mention the language in which you want to code.

[2021-03-02 11:16] prateek-jpg opened #99 "Counting sort in java"
Hi please assign me this task under GSSOC'21 and I would using counting sort for solving the issue which will also handle the elements that are repeated.

@rudrakshi99 I would like to solve this issue in JAVA. Please assign me this task.

[2021-03-02 11:23] Avnish5 commented on #82
I wanted to code in c++

[2021-03-02 11:27] Avnish5 commented on #89
Kindly assign this task to me.
I am selected as a participant in GSSOC 2021.
I can the code and function which you mentioned in c++.

[2021-03-02 11:28] #38 closed

[2021-03-02 11:31] rudrakshi99 commented on #42
@noob-26 mention the language in which you want to add the code.

[2021-03-02 11:41] noob-26 commented on #42
C++

[2021-03-02 11:52] rudrakshi99 commented on #85
@sujal111 mention the language in which you want to code.

[2021-03-02 11:59] rudrakshi99 commented on #21
@suyashi912 add the code in python.

[2021-03-02 12:11] noob-26 commented on #42
I want to contribute to this repo as part of GSSoC 2021. So should I make the PR after 8th March, when the coding period starts?

[2021-03-02 12:13] rudrakshi99 commented on #42
@noob-26 Yes so that your point will be counted in GSSoC.

[2021-03-02 12:15] ahmed-shameem commented on #85
Hello,
Please assign me this task. I am a GSSoC'21 participant. I can add the solution in c++.

[2021-03-02 12:24] noob-26 commented on #42
Thanks a lot for the help.

[2021-03-02 12:42] rudrakshi99 commented on #86
@jahnavi0105 mentions the language also.

[2021-03-02 12:43] rudrakshi99 commented on #85
@sujal111 mention the language in which you want to add the code.

[2021-03-02 12:44] rudrakshi99 commented on #81
@sujal111 mentions the language also.

[2021-03-02 12:48] rudrakshi99 commented on #61
Already added in the repo. Check [this](https://github.com/Algo-Phantoms/Algo-Tree/blob/main/Code/C%2B%2B/insertion_sort.cpp)

[2021-03-02 12:48] #61 closed

[2021-03-02 12:49] ahmed-shameem commented on #36
Hi,
Please assign this task to me. I am a GSSoC'21 participant. I can solve the problem in c++.

[2021-03-02 12:51] rudrakshi99 commented on #36
@Meghag5 please mentions the language in which you want to add the code apart from c++.

[2021-03-02 12:51] ahmed-shameem commented on #81
Hi,
Please assign this task to me. I am a GSSoC'21 participant. I can solve the problem using c++.

[2021-03-02 12:52] rudrakshi99 commented on #36
@ahmed-shameem code is already implemented in c++. check [this](https://github.com/Algo-Phantoms/Algo-Tree/blob/main/Code/C%2B%2B/queue_using_stacks.cpp)

[2021-03-02 12:52] #36 closed

[2021-03-02 13:01] ahmed-shameem commented on #89
Hi,
Please assign this task to me. I am a GSSoC'21 participant. I can solve the problem using c++.

[2021-03-02 13:02] ahmed-shameem commented on #88
Hi,
Please assign this task to me. I am a GSSoC'21 participant. I can solve the problem using c++. I will be adding BFS and DFS (Preorder, Inorder and Postorder) traversals using iterative as well as recursive way.

[2021-03-02 13:03] ahmed-shameem commented on #83
Hi,
Please assign this task to me. I am a GSSoC'21 participant. I can solve the problem using c++.

[2021-03-02 13:03] ahmed-shameem commented on #82
Hi,
Please assign this task to me. I am a GSSoC'21 participant. I can solve the problem using c++.

[2021-03-02 13:04] ahmed-shameem commented on #79
Hi,
Please assign this task to me. I am a GSSoC'21 participant. I can solve the problem using c++.

[2021-03-02 13:05] ahmed-shameem commented on #51
Hi,
Please assign this task to me. I am a GSSoC'21 participant. I can solve the problem using c++.

[2021-03-02 13:05] ahmed-shameem commented on #47
Hi,
Please assign this task to me. I am a GSSoC'21 participant. I can solve the problem using c++.

[2021-03-02 13:05] ahmed-shameem commented on #45
Hi,
Please assign this task to me. I am a GSSoC'21 participant. I can solve the problem using c++.

[2021-03-02 13:06] ahmed-shameem commented on #30
Hi,
Please assign this task to me. I am a GSSoC'21 participant. I can solve the problem using c++.

[2021-03-02 13:10] ahmed-shameem commented on #85
Hi,
Please assign this task to me. I am a GSSoC'21 participant. I can solve the problem using Java too.

[2021-03-02 13:31] rohitsigar commented on #51
@nakul-19 sir I will do it in c++ as well as in java with valuable comments.

[2021-03-02 13:37] rohitsigar commented on #98
@rudrakshi99 I would love to work on this issue by writing good quality code in c++. please assign it to me

[2021-03-02 14:46] avijit1999 opened #103 "LinkList Deletion"
Delete node(s) in  a LinkList having a specific value

[2021-03-02 14:50] avijit1999 commented on #103
@rudrakshi99 please assign me

[2021-03-02 16:21] Deadbullfrog05 opened #106 "binary search implementation"
i wish to add a full documentary on binary search.

[2021-03-02 16:21] ahmed-shameem opened #107 "Deletion of a node from BST"

[2021-03-02 16:22] ahmed-shameem commented on #107
@rudrakshi99 Please assign this task to me. I am a GSSoC'21 participant. I can add the solution in c++.

[2021-03-02 16:36] noob-26 opened #109 "Adding Graph Algorithms - Prim and Bellman Ford in C++"
I want to add the Prim and Bellman-Ford algorithm implemented in C++

[2021-03-02 17:22] CSAURABH opened #112 "Remove the duplicates from sorted array in C++."
Example:-
Input  : arr[] = {1, 2, 2, 3, 4, 4, 4, 5, 5}
Output : arr[] = {1, 2, 3, 4, 5}

[2021-03-02 17:22] CSAURABH commented on #112
@rudrakshi99 I would like to solve this issue in C++. Please assign this to me under GSSOC'21.

[2021-03-02 17:58] manishaag7 commented on #85
Can I solve this using C++?

[2021-03-02 18:19] XZANATOL opened #113 "Linked list types"
I would like to work on this under the mentorship of GSSOC21.

# Details
* Stating the difference between Single, Double, and Circular linked lists and how we can implement them.
* Explaining how we can search through each type.

I can code using Python, and C++.

[2021-03-03 02:48] sujal111 commented on #85
I am gonna do it in Python

[2021-03-03 02:49] sujal111 commented on #83
I want to solve it in Python

[2021-03-03 02:49] sujal111 commented on #81
I want to do it in CPP

[2021-03-03 08:57] XZANATOL commented on #112
I would like to work in this too using Python
#GSSOC21

[2021-03-03 09:11] XZANATOL opened #123 "Adding more recursion applications"
I can add more recursion examples to illustrate more its importance.

* Greatest common factor (GCD) of two numbers.
* Printed triangles (Can add many examples but I will stick with a simple one)

Code will be well commented to easily follow the code flow with adding test cases and Time-Space complexity.

#GSSOC21

[2021-03-03 09:28] Rutuja-Kolte commented on #107
Hey!
I am interested in implementing deletion of a node from BST using python, can you please assign it to me

[2021-03-03 09:41] diptendunandi opened #124 "Add Sorting Algorithms"
- [x] C++
    - [ ] Bubble Sort
    - [ ] Insertion Sort
    - [ ] Selection Sort
    - [ ] Merge Sort
    - [ ] Quick Sort
 - [x] Java
    - [x] Bubble Sort
    - [x] Insertion Sort
    - [x] Selection Sort
    - [ ] Merge Sort
    - [ ] Quick Sort
- [x] Python
    - [ ] Bubble Sort
    - [ ] Insertion Sort
    - [ ] Selection Sort
    - [ ] Merge Sort
    - [ ] Quick Sort

[2021-03-03 11:28] rohitsigar commented on #124
@diptendunandi please assign this task to me, I have experience writing blogs on DSA and competitive programming.
I am selected as a Mentee at GirlScript Summer of Code and this project really excites me so I would love to contribute to such an amazing repo.
I will do it in C++

[2021-03-03 13:43] yashikajotwani12 commented on #124
Please Assign me this. I have practiced this before , I am a beginner in contributing so please  assign me this , i would probably do it.

[2021-03-03 13:45] manishaag7 commented on #113
I would like to do it in c++.

[2021-03-03 13:45] manishaag7 commented on #123
I would like to work on it using C++.

[2021-03-03 13:47] yashikajotwani12 commented on #85
please Assign me this , I would love to do it in C++.

[2021-03-03 13:49] yashikajotwani12 commented on #81
Please assign me this I would like to do this in c++.

[2021-03-03 13:52] yashikajotwani12 commented on #106
@rudrakshi99 Please assign me this , I would write the most easy and understandable theory on binary search and would also code the implementation part for the same in c++.

[2021-03-03 13:54] yashikajotwani12 commented on #109
I Want to add Prim and Bellman-Ford algorithm in C++. Please assign me this  i would love to contribute in this.

[2021-03-03 13:57] vedant-jain03 commented on #64
I am participant in GSSOC 21 and I am also good at Data structures and Algorithm in C++. And I think that I can work on this issue. So just assign me this issue so that I can work in this.

[2021-03-03 14:01] vedant-jain03 commented on #45
Hello sir/mam,
I have gone through your problem statement.
And as a participant of GSSOC21 and I am also good at Data Structures and Algorithm I have also have pull request in this existing project and I love this project.
This same question I have done in Leetcode as well and I know the main Algorithm behind this.
Looking forward to your reply.!!!:)

[2021-03-03 14:06] yashikajotwani12 commented on #109
@nakul-19 Please assign me this issue . I want to contribute , I am a Gssoc'21 participant and I would add theory as well as implementation , with proper comments so that understanding it would be easy.

[2021-03-03 14:32] nakul-19 commented on #109
@yashikajotwani12  we really appreciate your interest in working on this issue, but the issues are assigned to those who comment first.

[2021-03-03 15:17] Shreyash41 opened #127 "Implementing Stack Concepts"
Hey there, I would like to Implement multiple Stack Concepts using C++ Language.
Here is some stuff that I would like to add :
1. Stock Span Problem
2. Balanced Parenthesis.
3. Largest Rectangular Area in Histogram.
4. Infix to Prefix Conversion.

I would like to contribute as a participant of GSSOC'21.

[2021-03-03 16:27] Manzee1609 commented on #45
I would like to work on this issue, under gssoc'21.
I have implemented the same thing as a part of my college assignment, so I am very well aware with the logic and code.

[2021-03-03 16:29] Manzee1609 commented on #103
I would like to work on this issue, I have implemented same thing in my college assignment.

[2021-03-03 17:06] soukarsha122 commented on #124
Please assign me this. I am very much willing to participate on this issue...

[2021-03-03 17:08] soukarsha122 commented on #112
I would like to work on this issue. I am a beginner and am very much interested to work on this using C++.

[2021-03-04 01:03] Shashi2001 commented on #112
i want to work on this issue using c++ under GSSOC'21.

[2021-03-04 02:18] Shreyash41 commented on #127
@nakul-19 Hey there, I would like to contribute to this please assign it to me.

[2021-03-04 02:59] vanshikachokhani opened #128 "Rotation of a 2d matrix by 90 degree clockwise"
Hello @rudrakshi99 @nakul-19  @plazzy99
I am a GSSoC21 participant.

What I want to contribute : (suggest if something needs to be added)
 1. Algorithm to rotate a 2d matrix by 90 degrees in clockwise direction
 2. My language of code will be C++
 3. The code will be commented for easy understanding
 4. Also the code will include 2-3 testcases

[2021-03-04 03:00] vanshikachokhani commented on #128
I will explain the code, time complexity and space complexity of my approach.
Please assign me this issue @rudrakshi99

[2021-03-04 03:20] CSAURABH commented on #112
@nakul-19 Please assign me this issue. I want to contribute, I am a Gssoc'21 participant.

[2021-03-04 03:53] Nik-09 commented on #128
Hello @rudrakshi99 @nakul-19 @plazzy99 I am GSSoC21 participant..
I want to work on this issue by Python language.
Thanks.

[2021-03-04 03:55] Nik-09 commented on #127
Hello @nakul-19 @plazzy99 I would like to work on this issue as GSSoC participant.
My language of work is python. please assign me .
Thanks.

[2021-03-04 04:03] Nik-09 commented on #7
@rudrakshi99 I want to implement this these algorithm in python language.
Please assign me .
Thanks.

[2021-03-04 04:05] soukarsha122 commented on #128
Hello I want to solve this issue under gssoc 21

[2021-03-04 04:16] plazzy99 commented on #127
@Shreyash41 please mention the language in which you are going to contribute

[2021-03-04 05:07] jahnavi0105 opened #130 "Add evaluation of postfix expression"
Hi
I would like to implement evaluation of postfix expression using stack data structure in cpp . will you pls assign this to me. I would be happy to contribute.

[2021-03-04 05:37] RritikaG commented on #128
Hello @rudrakshi99 @nakul-19 @plazzy99
I am a GSSoC21 participant.
I would like to contribute in this issue :-
Algorithm to rotate a 2d matrix by 90 degrees in clockwise direction
My language of code will be java.

[2021-03-04 05:40] RritikaG commented on #130
Hello @rudrakshi99 @nakul-19 @plazzy99
I am a GSSoC21 participant.

I want to contribute in this #130 isssue  ie.
Add evaluation of postfix expression
My language of code will be Java

[2021-03-04 08:43] pri1311 commented on #86
Would like to add Strassen's multiplication in c++

[2021-03-04 08:46] pri1311 opened #134 "Add fractional knapsack under greedy algo"
I would like to implement this algorithm in c++

[2021-03-04 11:42] vanshikachokhani opened #136 "Intersection Node of two Linked Lists"
Hello @rudrakshi99 @nakul-19 @plazzy99
I am a GSSoC21 participant.

What I want to contribute : (suggest if something needs to be added)
1. Naive and optimized approach for finding the intersection node of two linked lists
2. My code will be in C++
3. The code will be commented for easy understanding
4. Also the code will include 2-3 testcases

[2021-03-04 11:44] vanshikachokhani commented on #136
I will explain the space and time complexity of both the approaches.
@rudrakshi99 @nakul-19 @plazzy99 please assign me this issue

[2021-03-04 14:23] harshbhalala-04 commented on #124
I would like to work on this issue using c++, I am a GSSOC'21 participant. Please assign me this issue.

[2021-03-04 14:23] harshbhalala-04 commented on #136
I would like to work on this issue, I am a GSSOC'21 participant. Please assign me this issue.

[2021-03-04 14:23] harshbhalala-04 commented on #112
I would like to work on this issue using c++, I am a GSSOC'21 participant. Please assign me this issue.

[2021-03-04 14:24] harshbhalala-04 commented on #103
I would like to work on this issue using c++, I am a GSSOC'21 participant. Please assign me this issue.

[2021-03-04 14:25] harshbhalala-04 commented on #80
I would like to work on this issue using c++, I am a GSSOC'21 participant. Please assign me this issue.

[2021-03-04 14:25] harshbhalala-04 commented on #60
I would like to work on this issue using c++, I am a GSSOC'21 participant. Please assign me this issue.

[2021-03-04 14:27] yashikajotwani12 commented on #124
I can do the same in python as well as c++.
please assign me this issue @nakul-19

[2021-03-04 14:28] yashikajotwani12 commented on #124
I can do this in python as well as c++.
Please assign me this issue. @nakul-19

[2021-03-04 14:29] harshbhalala-04 commented on #56
I would like to work on this issue using c++, I have knowledge of sorting algorithms so I feel that I am able to contribute to this issue. I am also a GSSOC'21 participant. Please assign me this issue.

[2021-03-04 14:30] harshbhalala-04 commented on #89
I would like to work on this issue using c++, I am a GSSOC'21 participant. Please assign me this issue.

[2021-03-04 14:33] yashikajotwani12 commented on #134
Please assign me this issue . I can code it in C++ as well as in python. I would Describe it with proper implementation and theory.

[2021-03-04 14:35] yashikajotwani12 commented on #77
Please Assign me this issue . I can code it in Python As well as C++. I would add perfect implementations. @rudrakshi99

[2021-03-04 14:37] yashikajotwani12 commented on #25
please assign me this issue I can code it in Python . I will write the whole implementation process.

[2021-03-04 14:39] yashikajotwani12 commented on #45
Please Assign me this issue I can code it in python. I am a gssoc'21 participant.

[2021-03-04 15:20] Meghna180401 commented on #83
I would like to provide a JAVA solution for issue #83 as a part of GSSOC'21.

[2021-03-04 16:01] Meghna180401 commented on #136
I would like to provide a solution for this problem in JAVA as a GSSOC'21 participant.
@rudrakshi99 @nakul-19 @plazzy99 Kindly assign me this issue.

[2021-03-04 16:10] Meghna180401 opened #137 "Check whether a given binary tree is a Binary Search Tree"
I would like to implement the solution to check if a binary tree is a Binary Search Tree in Java.
I would include test cases,complexities as well as the detailed algorithmic explanation for the same and also the common approach which leads to wrong answers.
@rudrakshi99 @nakul-19 @plazzy99 Kindly assign this to me as a part of GSSOC'21.

[2021-03-04 16:59] nandini040 commented on #60
I am working on this issue @harshbhalala-04 . You can go for some other one :)

[2021-03-04 17:02] nandini040 commented on #59
Can we  create PR before 8 march (for gssoc  )

[2021-03-05 03:41] Aastha26-lab opened #139 "Target Sum Subsets in java using Dynamic Programming"
Hello @rudrakshi99 @nakul-19 @plazzy99
I am a GSSoC21 participant.

What I want to contribute :
1) Optimized approach for Target Sum Subsets
2) My code will be in java
3) Both time and space complexity will be explained.
4) The code will be commented for easy understanding, including 2 test cases

Please assign this issue to me.

[2021-03-05 03:43] Aastha26-lab commented on #124
Hello @rudrakshi99 @nakul-19 @plazzy99
I am a GSSoC'21 participant.

I would like to work on this issue in Java. Please assign this issue to me.

[2021-03-05 03:52] Aastha26-lab opened #140 "To find number of Coin Change Combinations (using dp)"
Hi please assign me this task under GSSOC'21 and I would be using dp which will ensure the lowest time complexity and makes an efficient approach.

@rudrakshi99 I would like to solve this issue in JAVA. Please assign me this task.

[2021-03-05 04:33] Subhangini commented on #58
working on it.

[2021-03-05 04:36] Subhangini commented on #59
working on this , will complete it soon

[2021-03-05 05:45] RhuthuHegde commented on #124
can I work on this issue under gssoc'21?

[2021-03-05 06:05] gayatri517 opened #142 "Reverse a Linked List"
Given a linked list, the task is to reverse it.
I want to work on this issue in C++. I will provide 2 testcases as comments in the code.
I will also add comments to ensure it is well understood by others.

I am a participant of GSSOC'21 please assign this issue to me @rudrakshi99
Thank you.

[2021-03-05 06:07] yogitasaini commented on #124
Please , assign this issue to me in java under gssoc'21

[2021-03-05 06:09] yogitasaini commented on #99
please , this task to me in java under gssoc'21

[2021-03-05 06:10] yogitasaini commented on #79
please assign this task to me in java under gssoc'21

[2021-03-05 06:12] yogitasaini commented on #56
please, assign this task to me in java under gssoc'21 participate

[2021-03-05 06:13] yogitasaini commented on #54
I could Ito solve this issue in java .Please assign it to me under gssoc'21

[2021-03-05 06:20] muthuannamalai12 opened #143 "Graph Traversal Algorithms"
Graphs are a powerful and versatile data structure that easily allows you to represent real-life relationships between different types of data (nodes). Graphs are one of the most difficult topics of data structure.
I would love to work on Breadth-First Search (BFS) and Depth-First Search (DFS) Graph traversal algorithms in python as a part of Girl Script Summer Of Code. @rudrakshi99 @nakul-19 @pla

[2021-03-05 06:22] muthuannamalai12 opened #144 "Add BST Traversals"
Hi
I see that Binary search tree traversals(Inorder, Preorder, Postorder) are not implemented. I can implement them in C. I am a participant in GSSOC'21. I would be happy to make a PR on this. Will you pls assign this to me.

[2021-03-05 06:33] zenithexpo commented on #136
I would like to contribute to the same Problem statement in Python.

[2021-03-05 06:37] pinkuchoudhury69 commented on #124
Hello @rudrakshi99 @nakul-19 @plazzy99
I am a GSSoC'21 participant.
I would like to work on this issue in Python as well as Java.
It would be really great if you assign this issue to me.
Hoping for a good outcome from your side.

[2021-03-05 07:14] pinkuchoudhury69 opened #145 "Implement Stack and Queue using deque in python"
** ** I WANT TO IMPLEMENT STACK AND QUEUE USING DEQUE IN LINKEDLIST USING PYTHON ** **
## The reason behind this is that it would be easier for all the readers to grasp three concepts from just a few lines of code in python ##

** The work will contain :-
1. Implementing stack using Deque
2. Implementing Queue using Deque
3. User input
**

[2021-03-05 07:18] pinkuchoudhury69 commented on #145
Hello @rudrakshi99 @nakul-19 @plazzy99
I am a GSSoC'21 participant.
I would like to work on this issue.
It would be really great if you assign this issue to me.
Hoping for a good outcome from your side.

[2021-03-05 10:36] yashikajotwani12 commented on #142
I want to take this issue in python . I would probably implement it  , I am a Participant in Gssoc'21 . and please assign me this issue. @nakul-19 .

[2021-03-05 10:39] yashikajotwani12 commented on #144
I can do this in C++ . please assign me this issue. I would implement it in the best way.

[2021-03-05 10:40] yashikajotwani12 commented on #143
I can implement it in c++. Assign me for this.

[2021-03-05 10:45] yashikajotwani12 commented on #130
I want to contribute in this issue. i would implement it in c or python . Please assign me this issue.

[2021-03-05 10:47] Aastha26-lab commented on #142
I would love to work on this issue in Java. I am a Gssoc'21 participant. @nakul-19 sir pls assign me this issue.

[2021-03-05 10:48] yashikajotwani12 commented on #140
I would love to code it in c++. please assign me this issue. I would code it with proper implementation.

[2021-03-05 10:49] yashikajotwani12 commented on #91
I can work on this issue using c++. please assign me this issue @rudrakshi99 .

[2021-03-05 11:41] XZANATOL opened #146 "Insertion at start"
In the Array/Readme.md file there are links to the "Insertion at start" algorithm for files built in Java and Python. But they link to 404 page. I have checked the code folder for these files and found out that they don't exist.

I would like to add the Python algorithm, and I can update the Readme.md link for it if I am allowed to.

# Details
* Will add test cases.
* Code will be commented to mak

[2021-03-05 12:43] mu593 commented on #25
I assign you,

On Thu, 4 Mar 2021 at 20:07, Yashika Jotwani <notifications@github.com>
wrote:

[2021-03-05 13:58] Aastha26-lab commented on #140
@nakul-19 pls assign this issue

[2021-03-05 14:08] 1vivekanand commented on #144
Hello @rudrakshi99 @nakul-19 @plazzy99
I am a GSSOC'21 participant
I would like to contribute in this issue : BST Traversal
My language of code will be java. I can implement this by both recursive as well as iterative method and with proper comment for better understanding.
I will also add 2-3 testcases for better understanding

[2021-03-05 14:16] 1vivekanand commented on #44
Hello @rudrakshi99 @nakul-19 @plazzy99
I am a GSSOC'21 participant
I would like to contribute in this issue : Brian Kernighan's Algorithm
My language of code will be java with proper comment for better understanding.
I will add 2-3 testcases.
I will explain the time and space complexity of my approach

[2021-03-05 19:45] ShubhamGupta577 opened #147 "Implement bucket sort"
## Main feature
Bucket Sort is a sorting technique that sorts the elements by first dividing the elements into several groups called buckets. The elements inside each bucket are sorted using any of the suitable sorting algorithms or recursively calling the same algorithm.
* Use **Scatter-gather approach**.
* Best case time complexity- **O(n+k)**
* Worst case time complexity-**O(n^2)**

Keypoints o

[2021-03-05 19:46] ShubhamGupta577 commented on #147
I want to implement it in C++ and C. Please assign me this.

[2021-03-06 05:41] shawavisek35 opened #148 "Subset Sum Algorithm using Dynamic Programming"
Hello @rudrakshi99 @nakul-19 @plazzy99
I am a GSSoC21 participant.

What I want to contribute :

Optimized approach for Subset Sum Algorithm using Dynamic programming
My code will be in C++
The code will be commented for easy understanding, including 2 test cases
Please assign this issue to me.

[2021-03-06 05:47] shawavisek35 opened #149 "Equal Sum Partition using Dynamic Programming in C++"
Hello @rudrakshi99 @nakul-19 @plazzy99
I am a GSSoC21 participant.

What I want to contribute :

Optimized approach for Equal Sum Partition Algorithm using Dynamic programming
My code will be in C++
The code will be commented for easy understanding, including 2 test cases
Please assign this issue to me.

[2021-03-06 06:04] Aastha26-lab commented on #139
@nakul-19 sir pls assign this issue to me.. I am eager to work on it

[2021-03-06 06:57] vanshikachokhani opened #150 "Job Sequencing Problem"
Hello @rudrakshi99 @nakul-19 @plazzy99
I am a GSSoC21 participant.

What I want to contribute : (suggest if something needs to be added)
1. Greedy approach for finding the maximum profit and maximum no of jobs that can be performed.
2. My code will be in C++
3. The code will be commented with cmplete explanation of the approach for easy understanding
4. Also it will include 2-3 test cases.

[2021-03-06 06:58] vanshikachokhani commented on #150
Please assign me this issue @rudrakshi99 @nakul-19 @plazzy99

[2021-03-06 07:01] nikitajuneja1 commented on #103
Hi, I have implemented all types of operations on the Linked list. Please assign this issue to me. I am a GSSOC'21 participant.

[2021-03-06 07:03] nikitajuneja1 commented on #112
I would love to contribute to solving the problem, I am a GSSOC'21 participant. Please assign it to me. Will try my best.

[2021-03-06 07:04] nikitajuneja1 commented on #124
I would love to contribute to solving the problem, I am a GSSOC'21 participant. Please assign it to me. Will try my best.

[2021-03-06 07:05] nikitajuneja1 commented on #134
Hi, please assign this issue to me. I will code in C++ and with proper comments. Will try my level best.

[2021-03-06 07:06] nikitajuneja1 commented on #143
I would love to contribute to solving the problem, I am a GSSOC'21 participant. Please assign it to me. Will try my best. I can implement it in C, C++, Java and Python.

[2021-03-06 07:08] nikitajuneja1 commented on #142
I would love to contribute to solving the problem, I am a GSSOC'21 participant. Please assign it to me. I will try my best and provide proper comments for better understanding.

[2021-03-06 07:09] nikitajuneja1 commented on #150
I would love to contribute to solving the problem, I am a GSSOC'21 participant. Please assign it to me. I will try my best and provide proper comments and implement different test cases for better understanding.

[2021-03-06 07:09] vanshikachokhani opened #151 "Job Scheduling Problem"
Hello @rudrakshi99 @nakul-19 @plazzy99
I am a GSSoC21 participant.

What I want to contribute : (suggest if something needs to be added)
1. Dynamic Programming approach to find the maximum profit when the start and end time of jobs is given and their respective profit.
2. My code will be C++.
3. The code will be commented with complete explanation of the approach for easy understanding
4. Also it

[2021-03-06 07:09] vanshikachokhani commented on #151
@rudrakshi99 @nakul-19 @plazzy99 Please assign me this issue

[2021-03-06 07:09] nikitajuneja1 commented on #86
I would love to contribute to solving the problem, I am a GSSOC'21 participant. Please assign it to me. I will try my best and provide proper comments and implement different test cases for better understanding.

[2021-03-06 07:10] nikitajuneja1 commented on #85
I would love to contribute to solving the problem, I am a GSSOC'21 participant. Please assign it to me. I will try my best and provide proper comments and implement different test cases for better understanding. I will code in Python as specified.

[2021-03-06 07:11] nikitajuneja1 commented on #57
I would love to contribute to solving the problem, I am a GSSOC'21 participant. Please assign it to me. I will try my best and provide proper comments and implement different test cases for better understanding.

[2021-03-06 07:13] nikitajuneja1 commented on #53
I would love to contribute to solving the problem, I am a GSSOC'21 participant. Please assign it to me. I will try my best and provide proper comments and implement different test cases for better understanding. I will use traveling salesperson algorithm for the same and will compare it with other algorithms as well.

[2021-03-06 07:29] nikitajuneja1 opened #152 "Perform operations on Linked list"
Hi,
Given a linked list, I will implement the program in C++ or JAVA with proper comments and test cases involving operations like:- - - [ ] Printing the elements
- [ ] Inserting and deleting the node at the beginning, end, or at nth position
- [ ]  Reverse a linked list
- [ ] Sort a linked list
I am a GSSOC'21 participant and I want to gain a better understanding and implementation of data struct

[2021-03-06 09:43] plazzy99 commented on #7
go ahead with python implementation

[2021-03-06 09:43] plazzy99 commented on #7
Go ahead with java implmentation

[2021-03-06 09:47] plazzy99 commented on #136
Go ahead @Meghna180401 and @zenithexpo with java and python respectively

[2021-03-06 09:50] plazzy99 commented on #144
@muthuannamalai12 we only accept code in C++, Java, Python

[2021-03-06 09:52] plazzy99 commented on #44
Link your pull request to this issue by using #<issue_no.>

[2021-03-06 10:00] plazzy99 commented on #124
always mention the language in which you want to contribute

[2021-03-06 10:03] plazzy99 commented on #124
Always remember to mention the language in which you wanted to contribute.

[2021-03-06 10:04] muthuannamalai12 commented on #144
@plazzy99 Can I do it in python

[2021-03-06 10:04] nikitajuneja1 commented on #124
@plazzy99  I will implement these algorithms in Cpp and Java.

[2021-03-06 10:06] plazzy99 commented on #150
Mention the language

[2021-03-06 10:08] plazzy99 commented on #124
It is now assigned to others you can work on other issue

[2021-03-06 10:08] nikitajuneja1 commented on #150
@nikitajuneja1 I will implement the code in c++ and java.

[2021-03-06 10:09] plazzy99 commented on #150
Go ahead with java as C++ already assigned.

[2021-03-06 10:12] debanjan-2002 commented on #44
SIR,
I HAVE LINKED THE PR.
Please review it. I have written a brief code.
Regards,
Debanjan Poddar

[2021-03-06 10:18] muthuannamalai12 commented on #147
I want to implement it in java. Kindly assign it to me

[2021-03-06 10:46] apmit2704 opened #154 "Selection Sort and Bubble Sort"
Hi,
I am GSSOC'21 participant

Here's what I want to add in the repo:
  - Selection Sort Algorithm
  - Bubble Sort Algorithm

My code will be in C++ with proper comment and 2 test cases.
Please assign me this issue.
Happy contributing:)

[2021-03-06 10:50] apmit2704 commented on #154
@rudrakshi99 @nakul-19 @plazzy99 please assign me this issue

[2021-03-06 10:52] plazzy99 commented on #143
go ahead with java

[2021-03-06 10:56] plazzy99 commented on #154
The above issue has been already raised

[2021-03-06 10:56] #154 closed

[2021-03-06 11:17] apmit2704 commented on #152
@nakul-19 @plazzy99 @rudrakshi99 please assign me this issue. I will add 2 test cases in each.

[2021-03-06 11:22] apmit2704 opened #155 "Transpose of a matrix(2D array)"
Hi,
I am GSSOC'21 participant

Here's what I want to add to this amazing repo:
 -Given a 2D array, find its transpose

My code will be in C++ with proper comments and test cases.
@rudrakshi99 @nakul-19 @plazzy99 please assign me this issue

[2021-03-06 11:25] apmit2704 opened #156 "Matrix Multiplication"
Hi,
I am a GSSOC'21 participant.

I want to add matrix multiplication in the Number Theory folder under Algorithms.
My code will be in C++ with proper comments and test cases.
@nakul-19 @rudrakshi99 @plazzy99 please assign me this issue.

[2021-03-06 11:30] yashikajotwani12 commented on #144
When we have to make PR for a particular issue to be counted in GSSOC , please help me with this @plazzy99 .

[2021-03-06 11:43] yashikajotwani12 commented on #152
please assign me this issue in python or c++. i will implement it in proper ways.

[2021-03-06 11:45] yashikajotwani12 commented on #151
please assign me this issue . i would love to code it in python. @plazzy99

[2021-03-06 11:45] yashikajotwani12 commented on #150
I would code it in python , please assign me this issue @plazzy99 .

[2021-03-06 11:56] yashikajotwani12 commented on #155
I would love to code it in python , with proper implementation and theory , please assign me this issue.@plazzy99

[2021-03-06 11:58] vedant-jain03 commented on #156
I know the basics of Matrix and I am also have knowledge of DSA using C++ language.
Please assign me this issue so that I can work further on this @nakul-19 @rudrakshi99 @plazzy99
I am also GSSOC 2021 participant

[2021-03-06 11:59] yashikajotwani12 commented on #82
I would code it in python , please assign me this issue @rudrakshi99 .

[2021-03-06 12:00] vedant-jain03 commented on #155
I can add Transpose of matrix in java
Please assign me this issue so that I can go further on this.
@plazzy99

[2021-03-06 12:00] pinkuchoudhury69 commented on #145
Thanks a lot for assigning the task to me
Can I get an idea of when to submit

On Sat, Mar 6, 2021, 15:18 Vatsal kesarwani <notifications@github.com>
wrote:

[2021-03-06 12:02] vedant-jain03 commented on #134
I would love to fix this issue. I will provide a good description in every line so that code is easy to understand I can write code in C++

[2021-03-06 12:02] vedant-jain03 commented on #113
I would love to fix this issue. I will provide a good description in every line so that code is easy to understand I can write code in C++

[2021-03-06 12:04] vedant-jain03 commented on #123
I would love to fix this issue. I will provide a good description in every line so that code is easy to understand I can write code in C++.

[2021-03-06 12:06] vedant-jain03 commented on #107
I would love to fix this issue. I will provide a good description in every line so that code is easy to understand I can write code in C++
I can do this task very easy and I will write the correct flow and good code which have average Time and space complexity.
Please assign me this issue

[2021-03-06 12:10] vedant-jain03 commented on #33
I would love to fix this issue. I will provide a good description in every line so that code is easy to understand I can write code in
python
I can do this task very easy and I will write the correct flow and good code which have average Time and space complexity.
Please assign me this issue

[2021-03-06 12:40] soukarsha122 opened #157 "Checking if a number is a prime number or not"
Hello @nakul-19  @rudrakshi99 @plazzy99
I am a GSSOC '21 participant.

I wish to contribute a C++ code for the following problem:
Find if a number is a prime number or not.

My code will have comment lines to make it explanatory and understandable to everyone.
I will be very happy if I am assigned this issue and allowed to work on this.

[2021-03-06 12:41] maanpatel2492 commented on #157
I would like to work on this issue.
(under GSSOC21)

[2021-03-06 12:52] ChetasShree commented on #142
I want to solve this issue using python...
Please assign this issue to me under GSSOC 21 ,using python language.
Looking forward to contribute here...

[2021-03-06 13:50] shawavisek35 commented on #149
hey @plazzy99, I have a small question.
Should I start working on this issue or I have to wait for the GSSOC coding period to start as it is starting from 8th of March?

[2021-03-06 14:30] krishna-NIT commented on #155
Hi,
I am GSSOC'21 participant

Here's what I want to add to this amazing repo:
-Given a 2D array, find its transpose

My code will be in JAVA with proper comments and test cases.
@rudrakshi99 @nakul-19 @plazzy99 please assign me this issue for JAVA

[2021-03-06 14:35] krishna-NIT commented on #157
Hi,
I am GSSOC'21 participant

My code will be in JAVA with proper comments and test cases.
@rudrakshi99 @nakul-19 @plazzy99 please assign me this issue

[2021-03-06 14:38] krishna-NIT commented on #156
I am a GSSOC '21 participant.

I wish to contribute a JAVA code for this issue:

My code will have comment lines to make it explanatory and understandable to everyone.
I will be very happy if I am assigned this issue and allowed to work on this.

[2021-03-06 14:42] krishna-NIT commented on #87
I am a GSSOC '21 participant.

I wish to contribute a JAVA code for this issue:

My code will have comment lines to make it explanatory and understandable to everyone.
I will be very happy if I am assigned this issue and allowed to work on this.

[2021-03-06 14:42] krishna-NIT commented on #81
I am a GSSOC '21 participant.

I wish to contribute a JAVA code for this issue:

My code will have comment lines to make it explanatory and understandable to everyone.
I will be very happy if I am assigned this issue and allowed to work on this.

[2021-03-06 14:42] krishna-NIT commented on #82
I am a GSSOC '21 participant.

I wish to contribute a JAVA code for this issue:

My code will have comment lines to make it explanatory and understandable to everyone.
I will be very happy if I am assigned this issue and allowed to work on this.

[2021-03-06 15:18] Amit366 commented on #157
Hi,
I am GSSOC'21 participant

I will code in C.
@rudrakshi99 @nakul-19 @plazzy99 please assign me this issue

[2021-03-06 15:19] Amit366 commented on #142
I want to solve this issue using C.
Please assign this issue to me under GSSOC 21 ,using C language.

[2021-03-06 15:20] Amit366 commented on #156
I want to solve this issue using C..
Please assign this issue to me under GSSOC 21 ,using C language.
 @nakul-19 @rudrakshi99 @plazzy99

[2021-03-06 15:22] Amit366 commented on #112
Can I work on this issue using Java?
I am a GSSOC partiocipant.

[2021-03-06 15:23] Amit366 commented on #87
Can I implement this issue using Java? I am a GSSOC participant.

[2021-03-06 19:22] sudipg4112001 opened #161 "Largest Rectange Area (Histogram)"
I would like to code using stack for finding the largest area available. Here, I would input a set of heights of a building and a  number of buildings available.Then, find the largest area available or vacant.
I am a participant of GSSOC'21

[2021-03-07 05:21] yogitasaini commented on #124
please , assign this task to me in java under GSSOC'21 as participate

[2021-03-07 05:22] yogitasaini commented on #112
please assign this task to me in java under GSSOC'21 as participate

[2021-03-07 05:24] yogitasaini commented on #57
please assign this task to me in java under GSSOC'21

[2021-03-07 05:25] yogitasaini commented on #51
please, this task to me in java under GSSOC'21

[2021-03-07 05:26] yogitasaini commented on #18
Please assign this task to me java under GSSOC'21

[2021-03-07 06:49] Subhangini commented on #57
@yogitasaini  you can create a new issue for java , if its not raised already

[2021-03-07 06:54] krishna-NIT commented on #161
I am a GSSOC '21 participant.

I wish to contribute a JAVA code for this issue:

My code will have comment lines to make it explanatory and understandable to everyone.
I will be very happy if I am assigned this issue and allowed to work on this.

[2021-03-07 06:59] sudipg4112001 commented on #161
Yeah, we can work together same thing demonstrated in two different languages sounds good, because I would preferably do in C++ or python

[2021-03-07 07:01] sudipg4112001 commented on #161
@plazzy99 @rudrakshi99 please assigned. If you like the idea

[2021-03-07 08:06] yogitasaini commented on #157
please assign this task to me in java under GSSOC'21

[2021-03-07 08:07] yogitasaini commented on #156
please assign this task to me in java under GSSOC'21

[2021-03-07 08:08] yogitasaini commented on #152
please assign this task to me in java under GSSOC'21

[2021-03-07 08:09] yogitasaini commented on #151
please assign this task to me in java under GSSOC'21

[2021-03-07 08:27] yogitasaini commented on #90
please assign this task to me in java under GSSOC'21

[2021-03-07 08:28] yogitasaini commented on #81
please assign this task to me in java under GSSOC'21

[2021-03-07 09:45] apmit2704 opened #162 "Kth minimum/maximum element in an array"
Hi,
I am a GSSOC'21 participant.
I want to add the various solutions of finding the Kth smallest/largest element in an array. A simple and straightforward that everyone probably knows is simple sorting that takes O(N log N) time.  I will discuss the various implementations in linear time complexity.
* My code will be in C++
* I will add proper test cases explaining every approach to the problem

C

[2021-03-07 10:13] vidhya001 opened #163 "Two-Pointer-Algorithms (3Sum)"
Hi,
I am a GSSOC'21 participant.
2 pointer algorithm is one approach that can solve some standard problems like 3 sum problem, rainwater tapping problem etc.
I found that in algorithms there is no Two-Pointer-Algorithm so I want to add the 2 pointer algorithm concept and solution to 3Sum problem i.e if Given array nums of n integers, are their elements a, b, c in nums such that a + b + c = 0 and f

[2021-03-07 10:13] vidhya001 commented on #163
please assign this issue to me

[2021-03-07 10:46] vidhya001 opened #164 "Top K Frequent Elements"
Hi,
I am a GSSOC'21 participant.I wanted to add an efficient approach to get top K frequent elements in a non-empty array of integers
My code will be in C++ and  i will add Sufficient test cases and explanation to make it understand easily

Please assign this issue to me @nakul-19 @rudrakshi99 @plazzy99

[2021-03-07 10:47] vidhya001 commented on #164
Could you please assign this issue to me
Thank you

[2021-03-07 11:14] apmit2704 opened #165 "move all negatives to one side of the array"
Hi,
I am a GSSOC'21 participant.
Given an array of positives and negatives, we have to move all negatives to left side of array.
There are two approach to solve this problem:
- Partition approach of QuickSort
- Two Pointer approach
Both the solution take linear time.
My code will be in C++
I will add proper test cases explaining every approach to the problem
Please assign me this issue @nakul-19 @

[2021-03-07 11:16] AnjaliSrivastava722 commented on #123
Would like to demonstrate some string problems like trim the string of white spaces, remove a character x from the string, also printing all subsequences  of a particular string
in C++ using recursion. Will add comments as well please assign this issue to me.

[2021-03-07 11:18] AnjaliSrivastava722 commented on #112
I would like to solve this in C++ using properties of XOR in O(N) time complexity please assign issue to me.

[2021-03-07 12:39] bitaashna opened #166 "Printing Longest Common Subsequence using dp"
An algorithm to print longest common subsequence
I would like to contribute to it as a GSSoC'21 participant.
My code will be in C++ with proper comments and test cases.
@nakul-19 @rudrakshi99 @plazzy99 please assign me this issue.

[2021-03-07 12:42] bitaashna opened #167 "length of Shortest common Supersequence and print it using DP"
An algo to print the length and sequence using DP.
I would like to contribute as a part of GSSoC'21 .
can you please assign it to me.

[2021-03-07 12:46] bitaashna opened #168 "Peak Element using Binary Search in C++"
An algo to find peak element
I would like to contribute as a part of GSSoC'21 .
My code will be in C++ with proper comments and test cases.
@nakul-19 @rudrakshi99 @plazzy99 please assign me this issue.

[2021-03-07 12:52] bitaashna opened #169 "No. of times a sorted array is rotated using Binary search in C++"
I would like to contribute as a part of GSSoC'21 .
can you please assign it to me.

[2021-03-07 13:16] vedant-jain03 commented on #162
Hello
I am GSSOC21 PARTICIPANT
And I can code this issue in C++,python and C along with line comments and best time complexity.
Please assign me this issue.

[2021-03-07 13:17] vedant-jain03 commented on #168
Hello
I am GSSOC21 PARTICIPANT
And I can code this issue in C++, C along with line comments and best time complexity.
Please assign me this issue.

[2021-03-07 13:17] vedant-jain03 commented on #167
Hello
I am GSSOC21 PARTICIPANT
And I can code this issue in C++, C along with line comments and best time complexity.
Please assign me this issue.

[2021-03-07 13:17] vedant-jain03 commented on #166
Hello
I am GSSOC21 PARTICIPANT
And I can code this issue in C++ along with line comments and best time complexity.
Please assign me this issue.

[2021-03-07 13:18] vedant-jain03 commented on #165
Hello
I am GSSOC21 PARTICIPANT
And I can code this issue in C++, C along with line comments and best time complexity.
Please assign me this issue.

[2021-03-07 13:20] vedant-jain03 commented on #163
Hello
I am GSSOC21 PARTICIPANT
And I can code this issue in C++, C along with line comments and best time complexity.
Please assign me this issue.

[2021-03-07 13:21] vedant-jain03 commented on #142
Hello
I am GSSOC21 PARTICIPANT
And I can code this issue in C++, C,python along with line comments and best time complexity.
Please assign me this issue.

[2021-03-07 13:21] vedant-jain03 commented on #169
Hello
I am GSSOC21 PARTICIPANT
And I can code this issue in C++, C along with line comments and best time complexity.
Please assign me this issue.

[2021-03-07 13:41] soukarsha122 opened #170 "Converting a binary string to its equivalent decimal"
Hello @nakul-19 @rudrakshi99 @plazzy99  I would like to implement a code in C++ that takes input a binary string from the user and display the equivalent decimal of the binary.
Example:
Input: "101101"
Output: 45
( The inverted commas are used to denote that it is a string )
I would like to contribute this as a part of GSSOC 21
and would be very happy if you assign me this issue.

[2021-03-07 15:12] yogitasaini opened #171 "Add functions in String"

[2021-03-07 15:17] AnjaliSrivastava722 commented on #171
I can add inbuilt string functions like strcmp, strlen, strcpy in C++ and also other string functions in Java with comments and illustrations.Please assign this issue to me.#GSSOC21

[2021-03-07 15:18] yogitasaini commented on #171
Hi,
Please allow me to add my own String in java which will perform these functions:
1. length()-length of string
2. String substring
3. boolean contains
4. boolean equal
5. boolean empty
6. boolean concat
7. String replace
8. String[] split
I am a participant of GSSoC'21 and would like to contribute in this repo

[2021-03-07 18:11] gayatri517 commented on #142
@nakul-19 @plazzy99 @rudrakshi99 kindly review this issue and please assign it to me. I want to work on this code in C++ as a participant of GSSOC'21.

[2021-03-07 18:21] DEEPIKA-SUK commented on #83
I am a participant of GSSOC 2021. I want to contribute to this issue and work on the same. Please could you assign me this issue as a part of GSSOC 2021. I would like to provide solution in c++.
Thank you.

[2021-03-07 18:21] DEEPALI-SUK commented on #83
I want to work on this issue and want to contribute to this. I am a participant of GSSOC 2021. Please could you assign me this issue as a part of GSSOC 2021. I will implement in C++.
Thank you.

[2021-03-07 19:00] lucifer2502 commented on #166
Hello , I am a GSOCC21 participant &  would like to contribute to this issue. MY code will be in C++ with proper comments explanation and best complexity.

[2021-03-07 19:01] lucifer2502 commented on #168
Hello , I am a GSOCC21 participant & would like to contribute to this issue.
MY code will be in C++ with proper comments explanation and best complexity.

[2021-03-07 19:01] lucifer2502 commented on #157
Hello , I am a GSOCC21 participant & would like to contribute to this issue.
MY code will be in C++ with proper comments explanation and best complexity.

[2021-03-07 19:05] lucifer2502 commented on #163
Hello , I am a GSOCC21 participant & would like to contribute to this issue.
 MY code will be in C++ with proper comments, explanation and best complexity.

[2021-03-07 19:05] lucifer2502 commented on #152
Hello , I am a GSOCC21 participant & would like to contribute to this issue.
MY code will be in C++ with proper comments explanation and best complexity.

[2021-03-07 19:08] lucifer2502 commented on #107
Hello , I am a GSOCC21 participant & would like to contribute to this issue.
MY code will be in C++ with proper comments explanation and best complexity.

[2021-03-07 20:54] krishmurarka opened #174 "LCA OF TWO NODES IN A GENRIC TREE IN C++"
I would like to implement the solution to find the LCA of two nodes in a Generic tree in c++.
with proper comments and best time and space complexity.

please assign me this issue as a part of  GSSOC 2021.

[2021-03-08 03:38] deepthiteki commented on #155
Hi @plazzy99 ,
I would like to contribute to this issue under GSSOC'21
I can implement it in C++, Java and Python.
Kindly, assign this to me so that I can start working on this

[2021-03-08 04:00] msbuddhu commented on #147
I want to implement it in Python. Please assign this task to me.

[2021-03-08 04:44] AnjaliSrivastava722 commented on #127
I would like to add solutions to stock span and balanced paranthesis problems in Java with test cases .Please assign this issue to me.#GSSOC21

[2021-03-08 06:46] Akash20x opened #176 "Sudoku Solver"
I would like to implement the solution to find the sudoku solver in python.
with proper comments.

please assign me this issue as a part of GSSOC 2021.

[2021-03-08 06:55] vanshikachokhani opened #177 "Jump Game"
What I want to contribute:
1.Find the minimum number of jumps to reach the end of array if each element in the array represents the maximum jump length at that position assuming that it is always possible to reach the end of array.Initially we are positioned to start index of the array.
2.My code will be in C++.
3. The code will consist of complete explanation of my approach and will be commented

[2021-03-08 07:00] zenithexpo opened #178 "Kadane's Algorithm in Python"
I would like to contribute implementation in Python  with proper comments.
Please assign me this issue as a part of GSSOC 2021.

[2021-03-08 07:17] aish2002 opened #179 "Applications of Stack"
Hi, I am a GSSOC'21 Participant .I can implement the following **Applications of Stack** in C++, Java and Python.

1. Expression evaluation.(Postfix, Infix and Prefix)
2. Check parenthesis matching in an expression.
3. Conversion of one form of expression to another.

Kindly assign this issue to me.

[2021-03-08 07:18] ChethanaPradeep opened #180 "Wiggle Sort"
Hello!
I am a GSSOC'21 participant. I would like to add a provision to do Wiggle Sort in Java, C++ , and Python.
Here, given an unsorted array nums, result would be reordering it such that nums[0] < nums[1] > nums[2] < nums[3]....

Eg)
Input: nums = [1, 3, 2, 2, 3, 1]
Output: One possible answer is [2, 3, 1, 3, 1, 2].

Kindly assign this issue to me

[2021-03-08 07:21] Aleena-Ashraf opened #181 "To find the excess elements in one of the two arrays entered by the user using C++"
I am a selected GSSOC'21 participant. I would like to work on an issue where two unsorted or sorted array is given by the user.
C++ lang is implemented.
Please assign this to me :)

[2021-03-08 10:08] itsIapetus opened #183 "Egg Drop Problem [GSSoC - 2021]"
I would like to add the egg drop problem under dp in C++
Please assign it to me, thanks.

[2021-03-08 10:12] krishna-NIT commented on #165
I am a GSSOC '21 participant.

I wish to contribute a JAVA code for this issue:

My code will have comment lines to make it explanatory and understandable to everyone.
I will be very happy if I am assigned this issue and allowed to work on this.

[2021-03-08 10:45] krishna-NIT commented on #162
I am a GSSOC '21 participant.

I wish to contribute a JAVA code for this issue:

My code will have comment lines to make it explanatory and understandable to everyone.
I will be very happy if I am assigned this issue and allowed to work on this.

[2021-03-08 10:53] rudrakshi99 commented on #157
This code is already present in our repo.

[2021-03-08 11:06] ireneelizabethsabu opened #185 "Heap Sort in Java"
Hi,
I am a GSSOC'21 participant. I would like to contribute the heap sort algorithm in java.
Kindly assign this issue to me.

[2021-03-08 11:18] soukarsha122 opened #186 "Finding determinant of a n*n matrix"
Hello @nakul-19 @rudrakshi99 @plazzy99 I would like to implement  a C++ code that takes a n*n matrix and prints its determinant.
My code will include comment lines and test cases .
I will be  very  happy  if you assign this issue to me .

[2021-03-08 11:18] Amanduttbhagat commented on #177
Hello,
I am a GSSoC 2021 Participant and would like contribute to Jump Game in Java
kindly assign me the issue

[2021-03-08 11:29] Amanduttbhagat commented on #186
Hello,
I would like to contribute to this issue in Java
kindly assign me the issue

[2021-03-08 11:31] RuchiGitHu commented on #18
Hi @rudrakshi99. Please assign this issue for solving Factorial and fibonacci code in java.
I am looking forward to contribute here...
Thanks in advance.

[2021-03-08 11:32] Amanduttbhagat commented on #147
Hello,
I would like to contribute to this issue in Java
kindly assign me the issue

[2021-03-08 11:37] aaadddiii opened #187 "Application of linked List (polynomail Addition , Multiplication)"
Hi,
I would like to implement an application of linked list , polynomial addition and multiplication.
I am a participant of GSSoC'21 and would like to contribute in this repo.

[2021-03-08 11:45] Amanduttbhagat commented on #99
Hello,
Please assign me this issue, I would be using Radix Sort in Java

[2021-03-08 12:31] sssash18 opened #189 "Cycle detection in linked list"
Implementation of hare and tortoise algorithm to detect cycle in linked list.

[2021-03-08 12:32] sssash18 commented on #189
I would like to implement it as part of GSSOC 2021 for C++

[2021-03-08 12:34] sumitsantape30 commented on #165
I would like to contribute implementation in Java with proper comments using two pointer approach.
Please assign me this issue as a part of GSSOC 2021.

[2021-03-08 12:35] sumitsantape30 commented on #164
I would like to contribute implementation in Java with proper comments.
Please assign me this issue as a part of GSSOC 2021.
@nakul-19 @rudrakshi99 @plazzy99

[2021-03-08 12:38] sumitsantape30 commented on #142
I can code this issue in Java, along with line comments & time complexity.
Please assign me this issue.
I am GSSOC21 PARTICIPANT.

[2021-03-08 12:40] sumitsantape30 commented on #136
I would like to code it in JAVA, please assign me this issue. I am GSSOC21 participant.

[2021-03-08 12:41] iamvs-2002 opened #190 "Add Sorting Algorithms in C"
Kindly allow me to add various sorting algorithms such as:
Bucket Sort
Merge Sort
Quick Sort
Insertion Sort
Selection Sort
etc.
in C language.

[2021-03-08 12:41] Amit366 commented on #166
Hello
I am GSSOC21 PARTICIPANT

Can I work on this using Java??

[2021-03-08 12:43] sumitsantape30 commented on #4
I would like to code it in JAVA, please assign me this issue. I am GSSOC21 participant

[2021-03-08 12:43] Amit366 commented on #162
Hello
I am GSSOC21 PARTICIPANT

Can I code it using python??

[2021-03-08 12:43] ankitasantape commented on #189
Please assign this problem to me I would like to implement it under GSSOC 2021 using java

[2021-03-08 12:44] ankitasantape commented on #185
Kindly assign this problem to me I would like to implement it under GSSOC 2021 using java

[2021-03-08 12:46] tarun26091999 commented on #190
our organization doesn't allow C language. Go through the guidelines once.

[2021-03-08 12:48] iamvs-2002 commented on #190
Ohh okay.

[2021-03-08 12:48] ankitasantape commented on #156
Kindly assign this issue to me I would like to implement it under GSSOC 2021 using java.

[2021-03-08 12:49] ankitasantape commented on #149
Kindly assign this issue to me I would like to implement it under GSSOC 2021 using java.

[2021-03-08 12:49] ankitasantape commented on #151
Kindly assign this issue to me I would like to implement it under GSSOC 2021 using java.

[2021-03-08 12:50] ankitasantape commented on #139
Kindly assign this issue to me I would like to implement it under GSSOC 2021 using java.

[2021-03-08 12:50] ankitasantape commented on #107
Kindly assign this issue to me I would like to implement it under GSSOC 2021 using java.

[2021-03-08 12:51] ankitasantape commented on #95
Kindly assign this issue to me I would like to implement it under GSSOC 2021 using java.

[2021-03-08 12:51] dhruvinfo28 opened #191 "Deletion in a linked list"
Would like to contribute in the C++ codebase by adding an algorithm for deletion in a singly linked list under GSSOC2021.
Please assign me.

[2021-03-08 12:52] ankitasantape commented on #67
Kindly assign this issue to me I would like to implement it under GSSOC 2021 using java.

[2021-03-08 12:53] ankitasantape commented on #21
Kindly assign this issue to me I would like to implement it under GSSOC 2021 using java.

[2021-03-08 12:54] iamvs-2002 commented on #156
Kindly assign the issue to me.
I'll implement the same in time complexity lesser than O(n^3).

[2021-03-08 12:54] ankitasantape commented on #18
Kindly assign this issue to me I would like to implement it under GSSOC 2021 using java.

[2021-03-08 12:55] Vansh-Gupta4 commented on #155
i like to contribute to this project ...my code will be in java with proper comments and test cases

[2021-03-08 12:55] Vansh-Gupta4 commented on #113
i like to contribute to this project ...my code will be in java with proper comments and test cases

[2021-03-08 12:56] iamvs-2002 commented on #86
Kindly allow me to implement the same in Java.

[2021-03-08 12:56] Vansh-Gupta4 commented on #83
i like to contribute to this project ...my code will be in java with proper comments and test cases

[2021-03-08 12:57] sumitsantape30 commented on #186
Hello,
I would like to contribute to this issue in C++
kindly assign me the issue, I'm GSSoC21 participant.

[2021-03-08 12:57] Vansh-Gupta4 commented on #191
i like to contribute to this project ...my code will be in java with proper comments and test cases

[2021-03-08 12:57] Vansh-Gupta4 commented on #179
i like to contribute to this project ...my code will be in java with proper comments and test cases

[2021-03-08 12:57] Vansh-Gupta4 commented on #170
i like to contribute to this project ...my code will be in java with proper comments and test cases

[2021-03-08 12:58] AnjaliPatle opened #192 "Level Order Traversal of Binary Tree"
I'd like to work ok this as a participant of GSSOC'21. Kindly assign it to me.

[2021-03-08 12:59] sumitsantape30 commented on #183
I would like to work on this issue in python
Please assign it to me, I'm GSSOC21 participant, thanks

[2021-03-08 12:59] avijit1999 commented on #103
I wanted to do it in java

[2021-03-08 12:59] Vansh-Gupta4 commented on #128
i like to contribute to this project ...my code will be in java with proper comments and test cases

[2021-03-08 12:59] dhruvinfo28 opened #193 "Reversing a linked list"
Would like to add an algorithm for reversing a given linked list in C++. Please assign this to me under gssoc2021.

[2021-03-08 13:00] sumitsantape30 commented on #178
Can I solve this issue using JAVA? I'm GSSOC21 participant

[2021-03-08 13:00] Vansh-Gupta4 commented on #81
i like to contribute to this project ...my code will be in java with proper comments and test cases

[2021-03-08 13:01] Vansh-Gupta4 commented on #47
i like to contribute to this project ...my code will be in java with proper comments and test cases

[2021-03-08 13:02] Vansh-Gupta4 commented on #183
i like to contribute to this project ...my code will be in java with proper comments and test cases

[2021-03-08 13:03] sumitsantape30 commented on #163
Hello , I would like to contribute to this issue using JAVA. I am a GSOCC21 participant.
Please assign me this.

[2021-03-08 13:05] ireneelizabethsabu commented on #88
Hi,
I am a GSSoC'21 participant. I would like to contribute the recursive and iterative (Preorder,Postorder,Inorder) tree traversals in Java.Kindly assign this to me.

[2021-03-08 13:07] tarun26091999 commented on #192
Go ahead with C++.

[2021-03-08 13:09] vedant-jain03 commented on #193
I'd like to work ok this as a participant of GSSOC'21. Kindly assign it to me.

[2021-03-08 13:11] vedant-jain03 commented on #189
I want to work on this issue. I can code it in Python with correct comments and code flow Please assign me this project in python

[2021-03-08 13:12] vedant-jain03 commented on #193
I can write this code in C,C++,python and java Please assign me this project

[2021-03-08 13:13] srishti-13 commented on #189
Hello, I am from GSSoC 2021, I would like to contribute to this issue. Could you assign me this? I will implement it in C++

[2021-03-08 13:15] vedant-jain03 commented on #91
I can work in this project using C,C++ and python as well using a good code flow and commented lines. Please assign me this issue
@rudrakshi99

[2021-03-08 13:16] srishti-13 commented on #192
Hello.....I would like to contribute to this issue as a part of GSSoC 2021. Could you please assign this to me? I will implement this in C++

[2021-03-08 13:17] #190 closed

[2021-03-08 13:19] tarun26091999 commented on #192
C++ is already assigned. You can do it in Java or Python

[2021-03-08 13:21] srishti-13 commented on #191
Hello.....I would like to contribute to this issue as a part of GSSoC 2021. Could you please assign this to me? I would implement this in C++ and will cover all the Cases.

[2021-03-08 13:21] yogitasaini opened #195 "Reverse of an array"
I would like to work on this task .Please assign it to me in java under GSSOC'21.

[2021-03-08 13:21] Vansh-Gupta4 commented on #186
i like to contribute to this project ...my code will be in java with proper comments and test cases

[2021-03-08 13:21] Vansh-Gupta4 commented on #185
i like to contribute to this project ...my code will be in java with proper comments and test cases

[2021-03-08 13:22] Vansh-Gupta4 commented on #164
i like to contribute to this project ...my code will be in java with proper comments and test cases

[2021-03-08 13:22] Vansh-Gupta4 commented on #161
i like to contribute to this project ...my code will be in java with proper comments and test cases

[2021-03-08 13:24] Vansh-Gupta4 commented on #142
i would like to contribute to this project ...my code will be in java with proper comments and test cases

[2021-03-08 13:26] Vansh-Gupta4 commented on #127
Hey there, I would like to Implement multiple Stack Concepts using C++ Language.
Here is some stuff that I would like to add :
Stock Span Problem
Balanced Parenthesis.
Largest Rectangular Area in Histogram.
Infix to Prefix Conversion.

I would love to contribute in this ...i will do it using java

[2021-03-08 13:28] Pranjal9999999 commented on #195
I would like to work on this issue in c++,as a GSSOC'2021 participant.

[2021-03-08 13:28] Vansh-Gupta4 commented on #106
I am GSSoC participant ...would love to contribute in this..
I would add all theory and implementation of BST ..as i have thorough knowledge of it..as i have studied it many times through different courses...

[2021-03-08 13:30] Vansh-Gupta4 commented on #45
Hello sir/mam,
I have gone through your problem statement.
And as a participant of GSSOC21 and I am also good at Data Structures and Algorithm I have also have pull request in this existing project and I love this project.
This same question I have done in Leetcode as well and I know the main Algorithm behind this.
Looking forward to your reply.!!!:)

[2021-03-08 13:30] Pranjal9999999 opened #196 "Rotation of an array in anticlockwise direction 90 degrees."

[2021-03-08 13:31] Pranjal9999999 commented on #196
I would like work on this issue as a participant under GSSOC'2021.

[2021-03-08 13:37] DevilAJ commented on #195
I would like to work on this issue in Python.

[2021-03-08 13:39] Shreyash41 commented on #127
@plazzy99 @nakul-19  Sir Since this is for GSSoC'21 it would be really nice if any mentor could add a GSSOC'21 label for this issue to avoid confusion.

[2021-03-08 13:39] DevilAJ commented on #192
I would like to work on this algorithm in java.

[2021-03-08 13:42] DevilAJ commented on #178
I would like to work on it in c++

[2021-03-08 13:47] DevilAJ opened #198 "Peak value in an Array"
I am a GSSOC '21 participant.

I wish to contribute a C++ code for the following problem:
Find a Peak element in an Array

My code will have comment lines to make it explanatory and understandable to everyone.
I will be very happy if I am assigned this issue and allowed to work on this.

[2021-03-08 13:47] shruti012002 commented on #191
Hello.....I would like to contribute to this issue as a part of GSSoC 2021. Could you please assign this to me? I would do this in C++ and fulfill all the necessary requirements.

[2021-03-08 13:48] shruti012002 commented on #195
I would like to work on this using  c++,as a GSSOC'2021 participant.

[2021-03-08 13:51] varshakr1298 commented on #179
I would like to contribute applications of stack in C++
Infix to Postfix
Evaluation of Postfix expression
Creating expression tree
Balancing symbols

[2021-03-08 13:53] DevilAJ commented on #168
I would like to do Java version on this code.
I am a GSSOC '21 participant.
My code will have comment lines to make it explanatory and understandable to everyone.
I will be very happy if I am assigned this issue and allowed to work on this.

[2021-03-08 13:54] krishna-NIT commented on #198
I am a GSSOC '21 participant.

I wish to contribute a JAVA code for this issue:

My code will have comment lines to make it explanatory and understandable to everyone.
I will be very happy if I am assigned this issue and allowed to work on this.

[2021-03-08 13:54] krishna-NIT commented on #196
I am a GSSOC '21 participant.

I wish to contribute a JAVA code for this issue:

My code will have comment lines to make it explanatory and understandable to everyone.
I will be very happy if I am assigned this issue and allowed to work on this.

[2021-03-08 13:54] krishna-NIT commented on #195
I am a GSSOC '21 participant.

I wish to contribute a JAVA code for this issue:

My code will have comment lines to make it explanatory and understandable to everyone.
I will be very happy if I am assigned this issue and allowed to work on this.

[2021-03-08 13:54] krishna-NIT commented on #186
I am a GSSOC '21 participant.

I wish to contribute a JAVA code for this issue:

My code will have comment lines to make it explanatory and understandable to everyone.
I will be very happy if I am assigned this issue and allowed to work on this.

[2021-03-08 13:55] sohini3062 opened #199 "Merge Sort Java + Quick Sort Java"
I am a GSSOC '21 participant.

I wish to contribute these two sorting algorithm with comments and clear explanation as these are quite hard to understand at times from basic level.

[2021-03-08 13:55] krishna-NIT commented on #170
I am a GSSOC '21 participant.

I wish to contribute a JAVA code for this issue:

My code will have comment lines to make it explanatory and understandable to everyone.
I will be very happy if I am assigned this issue and allowed to work on this.

[2021-03-08 13:57] krishna-NIT commented on #199
I am a GSSOC '21 participant.

I wish to contribute a JAVA code for this issue:

My code will have comment lines to make it explanatory and understandable to everyone.
I will be very happy if I am assigned this issue and allowed to work on this.

[2021-03-08 14:00] dhruvinfo28 opened #200 "Kahn's Algorithm"
I would like to contribute this algorithm in C++. The algorithm is for topological sorting and also ensures that the directed graph doesn't have a cycle.
@nakul-19 @rudrakshi99 @plazzy99 @tarun26091999 kindly assign this to me under GSSOC.

[2021-03-08 14:01] chhavi18387 commented on #196
Greetings!
I'm participating in Gssoc'21. I'd like to contribute to this problem by coding its C++ solution. Please assist it to me.
Thanks

[2021-03-08 14:01] sakshi2707 commented on #189
Hello, I am from GSSoC 2021, I would like work on  this issue. Could you assign me this? I will implement it in python

[2021-03-08 14:02] sakshi2707 commented on #192
Please assign me this task. I will work in Python

[2021-03-08 14:03] sakshi2707 commented on #178
Hello, I am from GSSoC 2021, I would like to contribute to this issue. Could you assign me this? I will implement it in c++/Java

[2021-03-08 14:06] sakshi2707 commented on #84
Hello, I am from GSSoC 2021, I would like to contribute to this issue. Could you assign me this? I will implement it in C++

[2021-03-08 14:07] aish2002 opened #201 "Linked List (no. of nodes and nth node from the end)"
I am a GSSOC'21 participant and I can implement the following operations on a linked list  in C++ and Java.

1. Count the no. of nodes
2. Find the nth node from the end of a  linked list

[2021-03-08 14:07] sakshi2707 commented on #137
Hello, I am from GSSoC 2021, I would like to contribute to this issue. Could you assign me this? I will implement it in Java/c++

[2021-03-08 14:08] sakshi2707 commented on #156
Hi,
I am a GSSOC'21 participant.

I want to add matrix multiplication in the Number Theory folder under Algorithms.
My code will be in C++/JAVA with proper comments and test cases.
@nakul-19 @rudrakshi99 @plazzy99 please assign me this issue.

[2021-03-08 14:09] sakshi2707 commented on #163
Hi,
I am a GSSOC'21 participant.

My code will be in JAVA with proper comments and test cases.
@nakul-19 @rudrakshi99 @plazzy99 please assign me this issue.

[2021-03-08 14:10] sakshi2707 commented on #200
Hi,
I am a GSSOC'21 participant.

My code will be in JAVA with proper comments and test cases.
@nakul-19 @rudrakshi99 @plazzy99 please assign me this issue.

[2021-03-08 14:10] pallavidhere23 commented on #201
Hello,I would like to contribute to this issue .I am participant @ GSSOC' 2021.Please assign me this issue.

[2021-03-08 14:10] sakshi2707 commented on #198
Hi,
I am a GSSOC'21 participant.
My code will be in C++/JAVA/PYTHON with proper comments and test cases.
@nakul-19 @rudrakshi99 @plazzy99 please assign me this issue.

[2021-03-08 14:11] sakshi2707 commented on #199
Hi,
I am a GSSOC'21 participant.

My code will be in C++ with proper comments and test cases.
@nakul-19 @rudrakshi99 @plazzy99 please assign me this issue.

[2021-03-08 14:12] sakshi2707 commented on #180
Hi,
I am a GSSOC'21 participant.

I want to add matrix multiplication in the Number Theory folder under Algorithms.
My code will be in JAVA with proper comments and test cases.
@nakul-19 @rudrakshi99 @plazzy99 please assign me this issue.

[2021-03-08 14:13] sakshi2707 commented on #171
Hi,
I am a GSSOC'21 participant.

My code will be in JAVA with proper comments and test cases.
@nakul-19 @rudrakshi99 @plazzy99 please assign me this issue.

[2021-03-08 14:14] sakshi2707 commented on #201
Hi,
I am a GSSOC'21 participant.

My code will be in C++ and Java with proper comments and test cases.
@nakul-19 @rudrakshi99 @plazzy99 please assign me this issue.

[2021-03-08 14:15] sakshi2707 commented on #196
Hi,
I am a GSSOC'21 participant.

My code will be in JAVA with proper comments and test cases.
@nakul-19 @rudrakshi99 @plazzy99 please assign me this issue.

[2021-03-08 14:21] plazzy99 commented on #144
you can raise now

[2021-03-08 14:21] Radhika025 commented on #191
I would like to work on this issue as a part of GSSoC 2021 and would like to contribute to this issue using C++.

[2021-03-08 14:29] plazzy99 commented on #169
C++ already assigned and C not accepting

[2021-03-08 14:32] kshittijagrawal commented on #201
Hey there!
I'd like to contribute to the project. I want to address and fix this issue. My implementation will be in python with a clean code and documentation. Kindly provide me with this issue.
I'm also a GSSOC'21 participant.

[2021-03-08 14:33] kshittijagrawal commented on #198
Hey there!
I'd like to contribute to the project. I want to address and fix this issue. My implementation will be in python with a clean code and documentation. Kindly provide me with this issue.
I'm also a GSSOC'21 participant.

[2021-03-08 14:34] arnab031 commented on #191
I would like to solve this issue as a part of GSSoC 2021 in python. I would be thankful to you if you please assign me this issue.

[2021-03-08 14:34] TanviDeore commented on #187
I would like to work on this issue as a participant in GSSOC'21.

[2021-03-08 14:35] kshittijagrawal commented on #81
Hey there!
I'd like to contribute to the project. I want to address and fix this issue. My implementation will be in python with a clean code and documentation. Kindly provide me with this issue.
I'm also a GSSOC'21 participant.

[2021-03-08 14:35] kshittijagrawal commented on #83
Hey there!
I'd like to contribute to the project. I want to address and fix this issue. My implementation will be in python with a clean code and documentation. Kindly provide me with this issue.
I'm also a GSSOC'21 participant.

[2021-03-08 14:36] plazzy99 commented on #152
go ahead with java

[2021-03-08 14:36] plazzy99 commented on #152
go with python

[2021-03-08 14:36] plazzy99 commented on #152
assigned java

[2021-03-08 14:37] kshittijagrawal commented on #86
Hey there!
I'd like to contribute to the project. I want to address and fix this issue. My implementation will be in python with a clean code and documentation. Kindly provide me with this issue.
I'm also a GSSOC'21 participant.

[2021-03-08 14:38] SwarnimaShishodia commented on #195
Hey I would like to work in it. I will solve the problem using C++ and Python

[2021-03-08 14:38] arnab031 commented on #124
I would like to implement these algorithm in python as a part of GSSoC 2021. I would be thankful to you if you please assign me this.

[2021-03-08 14:38] kshittijagrawal commented on #161
Hey there!
I'd like to contribute to the project. I want to address and fix this issue. My implementation will be in python with a clean code and documentation. Kindly provide me with this issue.
I'm also a GSSOC'21 participant.

[2021-03-08 14:39] plazzy99 commented on #177
make sure point 3 is meet

[2021-03-08 14:39] SwarnimaShishodia commented on #196
Hi I am GSSOC participant, I would like to solve this problem and I can solve using Python and C++ both.

[2021-03-08 14:42] pallavidhere23 commented on #199
I am a GSSOC'2021 participant. Please assign me this work.I am good at C++,C,Java and python.Also good at algorithm and data structures.I will write programmes with detailed explanation and proper commenting.

[2021-03-08 14:43] SwarnimaShishodia commented on #140
Hey I would like to contribute using C++

[2021-03-08 14:43] pallavidhere23 commented on #195
I am a GSSOC'2021 participant. Please assign me this work.I am good at C++,C,Java and python.Also good at algorithm and data structures.I will write programmes with detailed explanation and proper commenting.

[2021-03-08 14:43] pallavidhere23 commented on #193
I am a GSSOC'2021 participant. Please assign me this work.I am good at C++,C,Java and python.Also good at algorithm and data structures.I will write programmes with detailed explanation and proper commenting.

[2021-03-08 14:44] pallavidhere23 commented on #192
I am a GSSOC'2021 participant. Please assign me this work.I am good at C++,C,Java and python.Also good at algorithm and data structures.I will write programmes with detailed explanation and proper commenting.

[2021-03-08 14:44] pallavidhere23 commented on #189
I am a GSSOC'2021 participant. Please assign me this work.I am good at C++,C,Java and python.Also good at algorithm and data structures.I will write programmes with detailed explanation and proper commenting.

[2021-03-08 14:44] pallavidhere23 commented on #191
I am a GSSOC'2021 participant. Please assign me this work.I am good at C++,C,Java and python.Also good at algorithm and data structures.I will write programmes with detailed explanation and proper commenting.

[2021-03-08 14:45] pallavidhere23 commented on #178
I am a GSSOC'2021 participant. Please assign me this work.I am good at C++,C,Java and python.Also good at algorithm and data structures.I will write programmes with detailed explanation and proper commenting.

[2021-03-08 14:45] TanviDeore commented on #176
I would like to work on this issue as a participant in GSSoC'21

[2021-03-08 14:45] pallavidhere23 commented on #167
I am a GSSOC'2021 participant. Please assign me this work.I am good at C++,C,Java and python.Also good at algorithm and data structures.I will write programmes with detailed explanation and proper commenting.

[2021-03-08 14:46] pallavidhere23 commented on #152
I am a GSSOC'2021 participant. Please assign me this work.I am good at C++,C,Java and python.Also good at algorithm and data structures.I will write programmes with detailed explanation and proper commenting.

[2021-03-08 14:46] pallavidhere23 commented on #136
I am a GSSOC'2021 participant. Please assign me this work.I am good at C++,C,Java and python.Also good at algorithm and data structures.I will write programmes with detailed explanation and proper commenting.

[2021-03-08 14:47] pallavidhere23 commented on #112
I am a GSSOC'2021 participant. Please assign me this work.I am good at C++,C,Java and python.Also good at algorithm and data structures.I will write programmes with detailed explanation and proper commenting.

[2021-03-08 14:47] pallavidhere23 commented on #106
I am a GSSOC'2021 participant. Please assign me this work.I am good at C++,C,Java and python.Also good at algorithm and data structures.I will write programmes with detailed explanation and proper commenting.

[2021-03-08 14:48] pallavidhere23 commented on #59
I am a GSSOC'2021 participant. Please assign me this work.I am good at C++,C,Java and python.Also good at algorithm and data structures.I will write programmes with detailed explanation and proper commenting.

[2021-03-08 14:50] Subhangini commented on #59
@pallavidhere23  I am working on this issue you can go for some other one:)

[2021-03-08 14:55] arnab031 commented on #144
I would like to solve this issue as a part of GSSoC 2021 in python. I would be thankful to you if you please assign me this issue. @plazzy99 @rudrakshi99

[2021-03-08 14:56] arnab031 commented on #200
I would like to solve this issue as a part of GSSoC 2021 in python. I would be thankful to you if you please assign me this issue. @plazzy99 @nakul-19 @rudrakshi99

[2021-03-08 15:05] #191 closed

[2021-03-08 15:13] robin025 opened #202 "pyhton algorithms with all documentations"
Hi, @rudrakshi99 @nakul-19  @plazzy99
I am a GSSOC'21 participant.
I would like to contribute to this project in python language with all major algorithms with all documentation.
I shall be very thankful to you if you please assign me this issue and soon will generate my PR

[2021-03-08 15:20] poojitha2002 opened #203 "two_sum.java"
`
/*

Problem statement:  Given an array of integers and an integer target, return indices of the two numbers such that they add up to target.

You may assume that each input would have exactly one solution, and you may not use the same element twice.

You can return the answer in any order.

*/

import java.util.*;
public class MyClass {

    // This is the function which finds the two indices, w

[2021-03-08 15:23] Aarushi3113 commented on #198
Hey,
I am Aarushi, a GSSOC'21 participant .
I would like to resolve and contribute to this issue .
My code will be written in C++, Python and JAVA by keeping the guidelines in mind with proper documentation.
Kindly assign me this issue @nakul-19 @rudrakshi99 @plazzy99 .
Would be happy to work on this issue.

[2021-03-08 15:27] simarjeet30 commented on #195
Hey I am a GSSOC 21 participant ,I can work in C , C++ , python. Please assign me this work.
I can even provide you with Iteration of it:
1) I will initialize start and end indexes as start = 0, end = n-1
2) Then I will use a  loop to swap arr[start] with arr[end] and change start and end as follows :
start = start ++, end = end  --.

[2021-03-08 15:43] Kedar-S opened #204 "BFS Java implementation"
I would like to add the Java implementation for BFS algorithm with a detailed explanation.
[GSSoC]

[2021-03-08 15:53] Naman-12911 commented on #178
Hello, I am a participant of girls scripts summer of code. I can solve this algorithm in python please assign mei this algorithm.

[2021-03-08 15:53] Kedar-S opened #205 "Algorithm to find if a graph is bipartite"
Java implementation for the algorithm to find if a graph is Bipartite with a full explanation of its concept and implementation details would be added.

I would like to do the Java implementation please.
[GSSoC]

[2021-03-08 15:59] ritikasharma99 commented on #178
Hi I am GSSOC participant. I would like to work on it in Java.

[2021-03-08 16:00] himali08 commented on #195
Hey i am a GSSOC 21 participant ,I can work in C  and C++. I am looking forward to work on this.

[2021-03-08 16:01] shivangi-04 commented on #171
Hi, I would like to contribute to this issue as a GSSOC'21 participant.

[2021-03-08 16:03] shivangi-04 commented on #164
Hi, I would like to contribute to this project as a GSSOC'21 participant.
My code will be in C++, with comments to make it easy to understand.

[2021-03-08 16:05] shivangi-04 commented on #162
Hi, I'm a GSSOC'21 participant.
I would like to contribute to this issue.
My code will be in c++ with comments to make it eay to understand.

[2021-03-08 16:08] neha030 commented on #195
I am GSSOC'21 participant , I want to work on the in C++ code.
I have good understanding about C and C++ language..so I request , to please assign me the work.
The code will be properly indented with proper comments and description.

[2021-03-08 16:09] himali08 commented on #152
hey I am a GSSOC 2021 participant and I am looking forward to work on this

[2021-03-08 16:13] himali08 commented on #107
Hey I am a GSSOC 2021 participant and I am looking forward to work on this in C and C++

[2021-03-08 16:16] himali08 commented on #83
hey I am a GSSOC 21 participant and I am looking forward to work on this in C and C ++language

[2021-03-08 16:24] debanjan-2002 commented on #44
Sir I have made the changes as stated by you and have made a new pull request.
Link to PR #208
It fixes this issue.
Fixes - #43
Regards,
Debanjan Poddar

[2021-03-08 16:25] neha030 commented on #189
I am a GSSOC'S participant and would like to work on the issue .
I have a good understanding about C and C++ language , thus want to implement hare and tortoise algo in C++ language.
The code will be properly indented with proper comments and description.

[2021-03-08 16:29] Radhika025 commented on #179
As a GSSoC participant, I would like to contribute and implement different applications of stack in C++

[2021-03-08 16:34] Radhika025 commented on #162
I am a GSSoC participant and would like to contribute to this issue in C++

[2021-03-08 16:34] neha030 commented on #174
I am a GSSOC'S 2021 participant and want to work on the issue.
I have a good understanding about C and C++ language and want to provide a C++ solution.
The code will be properly indented with proper comments and description.

[2021-03-08 16:34] SAY-droid427 opened #211 "Add code for unbounded knapsack using dynamic programming"
I would like to add the code for unbounded knapsack using dynamic programming in C++. Please assign me this issue so that I can work on it under GSSOC'21

[2021-03-08 16:35] sg-iitg commented on #136
Hey, I am a GSSOC'21 participant. I would like to contribute the C++ code for this problem statement. I will make sure that the code is easy to understand and is commented properly. Please assign this issue to me. Thankyou!

[2021-03-08 16:36] SAY-droid427 opened #212 "Largest element to the left algorithm in C++"
I would like to add the code for finding the largest element to the left in C++. Please assign me this issue.

[2021-03-08 16:37] SAY-droid427 commented on #205
I would like to do the C++ implementation to find out whether a graph is bipartite or not. please assign me this issue.

[2021-03-08 16:39] sg-iitg commented on #192
Hey, I am a GSSOC'21 participant.  I would like to contribute the code of this problem statement in C language. Please assign this issue to me. Thankyou!

[2021-03-08 16:44] neha030 commented on #193
I am GSSOC'21 participant , I want to work on the in C++ code.
I have good understanding about C and C++ language..so I request , to please assign me the work.
The code will be properly indented with proper comments ,description and best time complexity .

[2021-03-08 16:49] sg-iitg commented on #145
I am GSSOC'21 participant. I would like to contribute the C++ code for this problem statement. Please assign the issue to me. Thankyou!

[2021-03-08 16:50] neha030 commented on #45
I am GSSOC'21 participant , I want to work on the in C++ code.
I have good understanding about C and C++ language..so I request , to please assign me the work.
The code will be properly indented with proper comments and description.
I will provide the code in all the deletion cases with best time complexity.

[2021-03-08 16:52] sg-iitg commented on #166
I am GSSOC'21 participant. I would like to contribute the python solution for this problem statement. Please assign the issue to me. Thankyou!

[2021-03-08 16:55] neha030 commented on #82
I am GSSOC'21 participant , I want to work on the in C++ code.
I have good understanding about C and C++ language..so I request , to please assign me the work.
The code will be properly indented with proper comments, description and best time complexity.

[2021-03-08 16:55] sg-iitg commented on #51
I am a GSSOC'21 participant. I would like the contribute the python code for this problem statement. Please assign this issue to me. Thankyou!

[2021-03-08 16:56] neha030 commented on #83
I am GSSOC'21 participant , I want to work on the in C++ code.
I have good understanding about C and C++ language..so I request , to please assign me the work.
The code will be properly indented with proper comments and description.

[2021-03-08 16:57] Anurag-bhatia opened #215 "Adding more Sorting algorithms"
Sorting algorithms are very intresting and also vey useful , So i want to add more sorting algorithms like bubble sort, bucket sort, count sort, shell sort, radix sort.

I woukd like to add these algorithms in the code in C++  language . kindly assigned me as a part of GSSOC '21.

[2021-03-08 17:01] sg-iitg commented on #177
I am a GSSOC'21 participant. I would like to contribute the python code for this problem statement. I will make sure the code is easily understandable and commented properly.  Please assign this issue to me. Thankyou!

[2021-03-08 17:05] CSAURABH opened #216 "Find Union and Intersection of two sorted arrays"
Example:-
Input : arr1[] = {1, 3, 4, 5, 7}
        arr2[] = {2, 3, 5, 6}
Output : Union : {1, 2, 3, 4, 5, 6, 7}
         Intersection : {3, 5}
I would like to solve this problem using C++.

[2021-03-08 17:06] CSAURABH commented on #216
@nakul-19 Please assign me this issue. I want to contribute, I am a Gssoc'21 participant.

[2021-03-08 17:15] sayantan1413 opened #217 "Balanced Bracket Problem in stack"
I want to implement the balanced bracket problem in stack using C++ programming language in O(n) time complexity.

[2021-03-08 17:25] raksha009 commented on #193
@dhruvinfo28 go ahead with C++
@vedant-jain03 go ahead with python
@pallavidhere23 go ahead with Java

[2021-03-08 17:26] 1vivekanand commented on #44
Sir, I have Made the PR #218
it fixes the issue #44
Regards.
Vivekanand Bhardwaj

[2021-03-08 17:29] krishna408 opened #220 "Minimum number of deletions to make a string palindrome"
**An algorithm to find the minimum no of deletion of characters from the string so that the resultant string becomes a palindrome using dynamic programming approach.**
_Please assign it to me_
@anubhavitis
@dheerajkotwani
 @tarun26091999
@todi-2000 @geekquad

[2021-03-08 17:31] nidhi-08 opened #221 "Sorting Algorithms in Java"
There are 5 sorting algorithms in CPP in the sorting folder. I want to add all the Java codes for them.
Also I want to add a few other sorting algorithms like Sleep Sort, Shell Sort, Radix Sort.

Please assign this to me as a part of GSSOC'21

[2021-03-08 17:34] nidhi-08 opened #222 "Searching Algorithms in Java"
There are no searching algorithms under the Algorithm/Searching_Sorting folder. I would like to add a few searching algorithms in Java.
Request you to assign it to me as a part of GSSOC'21

[2021-03-08 17:37] imsushant12 opened #224 "Adding more Sorting Algorithms"
Hello, @rudrakshi99 @nakul-19 @plazzy99 , I am a GSSOC'21 participant.

I wish to contribute **some sorting algorithm** with comments and clear explanation-
1. Bubble Sort
2. Bubble Sort with improved time complexity
3. Selection Sort
4. Iterative Merge Sort
5. Shell Sort
6. Count Sort
7. Radix Sort

My code will be in **C++** with proper comments and test cases.

[2021-03-08 17:37] gayatri517 opened #225 "Phone Keypad Problem"
I want to add the phone keypad problem in C++(recursion).
Please assign it to me.
I am a participant of GSSOC'21.

[2021-03-08 17:38] krishna-NIT commented on #221
I am a GSSOC '21 participant.

I wish to contribute a JAVA code for this issue:

My code will have comment lines to make it explanatory and understandable to everyone.
I will be very happy if I am assigned this issue and allowed to work on this.

[2021-03-08 17:39] Vansh-Gupta4 commented on #222
I am a GSSOC '21 participant.

I wish to contribute a JAVA code for this issue:

My code will have comment lines to make it explanatory and understandable to everyone.
I will be very happy if I am assigned this issue and allowed to work on this.

[2021-03-08 17:39] krishna-NIT commented on #216
I am a GSSOC '21 participant.

I wish to contribute a JAVA code for this issue:

My code will have comment lines to make it explanatory and understandable to everyone.
I will be very happy if I am assigned this issue and allowed to work on this.

[2021-03-08 17:40] nidhi-08 opened #226 "Add DP problems"
Dynamic Programming has only CPP codes. I would like to add the Java codes for Kadane's Algorithm and Knapsack

[2021-03-08 17:40] krishna-NIT commented on #198
I am a GSSOC '21 participant.

I wish to contribute a JAVA code for this issue:

My code will have comment lines to make it explanatory and understandable to everyone.
I will be very happy if I am assigned this issue and allowed to work on this.
assign me this issue @nakul-19 @rudrakshi99 @plazzy99 .

[2021-03-08 17:41] Vansh-Gupta4 commented on #225
i want to do this ...i have done this in java ...plz assign it to me..i am gssoc participant

[2021-03-08 17:42] Vansh-Gupta4 commented on #216
I am a GSSOC '21 participant.

I wish to contribute a JAVA code for this issue:

My code will have comment lines to make it explanatory and understandable to everyone.
I will be very happy if I am assigned this issue and allowed to work on this.

[2021-03-08 17:43] Vansh-Gupta4 commented on #156
I am a GSSOC '21 participant.

I wish to contribute a JAVA code for this issue:

My code will have comment lines to make it explanatory and understandable to everyone.
I will be very happy if I am assigned this issue and allowed to work on this.

[2021-03-08 17:43] Vansh-Gupta4 commented on #139
I am a GSSOC '21 participant.

I wish to contribute a JAVA code for this issue:

My code will have comment lines to make it explanatory and understandable to everyone.
I will be very happy if I am assigned this issue and allowed to work on this.

[2021-03-08 17:43] imsushant12 opened #227 "Deletion of node in linked list"
Hello, @rudrakshi99 @nakul-19 @plazzy99 , I am a GSSOC'21 participant.

I wish to contribute deletion of starting, end and specific position node from singly linked list , doubly linked list and circular linked list with proper comments and clear explanation-

Please assign me this issue ,my code will be in C++ with proper comments and test cases.

[2021-03-08 17:44] Vansh-Gupta4 commented on #130
I am a GSSOC '21 participant.

I wish to contribute a JAVA code for this issue:

My code will have comment lines to make it explanatory and understandable to everyone.
I will be very happy if I am assigned this issue and allowed to work on this.

[2021-03-08 17:44] Vansh-Gupta4 commented on #25
I am a GSSOC '21 participant.

I wish to contribute a JAVA code for this issue:

My code will have comment lines to make it explanatory and understandable to everyone.
I will be very happy if I am assigned this issue and allowed to work on this.

[2021-03-08 17:44] Vansh-Gupta4 commented on #18
I am a GSSOC '21 participant.

I wish to contribute a JAVA code for this issue:

My code will have comment lines to make it explanatory and understandable to everyone.
I will be very happy if I am assigned this issue and allowed to work on this.

[2021-03-08 17:46] nidhi-08 opened #228 "Add Russian Peasant Algorithm"
I would like to add the Java code for the Russian Peasant Algorithm.
Please assign this to me as a part of GSSOC'21

[2021-03-08 17:49] imsushant12 opened #229 "Queue implementation using Circular Linked List"
Hello, @rudrakshi99 @nakul-19 @plazzy99 , I am a GSSOC'21 participant.

I wish to contribute **Implementation of Queue using Circular Linked List** (enqueue , dequeue and traversal) with proper comments and clear explanation-

Please assign me this issue ,my code will be in **C++** with proper comments and test cases.

[2021-03-08 17:49] Vansh-Gupta4 commented on #148
I am a GSSOC '21 participant.

I wish to contribute a JAVA code for this issue:

My code will have comment lines to make it explanatory and understandable to everyone.
I will be very happy if I am assigned this issue and allowed to work on this.

[2021-03-08 17:50] Vansh-Gupta4 commented on #140
I am a GSSOC '21 participant.

I wish to contribute a JAVA code for this issue:

My code will have comment lines to make it explanatory and understandable to everyone.
I will be very happy if I am assigned this issue and allowed to work on this.

[2021-03-08 17:50] nidhi-08 opened #230 "Add Flood-fill Algorithm DP"
I want to add the flood-fill algorithm code in Java under the dp folder.

[2021-03-08 17:52] Vansh-Gupta4 commented on #163
I am a GSSOC '21 participant.

I wish to contribute a JAVA code for this issue:

My code will have comment lines to make it explanatory and understandable to everyone.
I will be very happy if I am assigned this issue and allowed to work on this.

[2021-03-08 17:52] Vansh-Gupta4 commented on #162
I am a GSSOC '21 participant.

I wish to contribute a JAVA code for this issue:

My code will have comment lines to make it explanatory and understandable to everyone.
I will be very happy if I am assigned this issue and allowed to work on this.

[2021-03-08 17:52] Vansh-Gupta4 commented on #193
I am a GSSOC '21 participant.

I wish to contribute a JAVA code for this issue:

My code will have comment lines to make it explanatory and understandable to everyone.
I will be very happy if I am assigned this issue and allowed to work on this.

[2021-03-08 17:53] Vansh-Gupta4 commented on #181
I am a GSSOC '21 participant.

I wish to contribute a C++ code for this issue:

My code will have comment lines to make it explanatory and understandable to everyone.
I will be very happy if I am assigned this issue and allowed to work on this.

[2021-03-08 17:53] Vansh-Gupta4 commented on #230
I am a GSSOC '21 participant.

I wish to contribute a JAVA code for this issue:

My code will have comment lines to make it explanatory and understandable to everyone.
I will be very happy if I am assigned this issue and allowed to work on this.

[2021-03-08 17:53] Vansh-Gupta4 commented on #229
I am a GSSOC '21 participant.

I wish to contribute a JAVA code for this issue:

My code will have comment lines to make it explanatory and understandable to everyone.
I will be very happy if I am assigned this issue and allowed to work on this.

[2021-03-08 17:54] Vansh-Gupta4 commented on #227
I am a GSSOC '21 participant.

I wish to contribute a JAVA code for this issue:

My code will have comment lines to make it explanatory and understandable to everyone.
I will be very happy if I am assigned this issue and allowed to work on this.

[2021-03-08 17:54] Vansh-Gupta4 commented on #226
I am a GSSOC '21 participant.

I wish to contribute a JAVA code for this issue:

My code will have comment lines to make it explanatory and understandable to everyone.
I will be very happy if I am assigned this issue and allowed to work on this.

[2021-03-08 17:54] Vansh-Gupta4 commented on #224
Hello, @rudrakshi99 @nakul-19 @plazzy99 , I am a GSSOC'21 participant.

I wish to contribute some sorting algorithm with comments and clear explanation-

Bubble Sort
Bubble Sort with improved time complexity
Selection Sort
Iterative Merge Sort
Shell Sort
Count Sort
Radix Sort
My code will be in JAVA with proper comments and test cases.

[2021-03-08 17:55] Vansh-Gupta4 commented on #221
I am a GSSOC '21 participant.

I wish to contribute a JAVA code for this issue:

My code will have comment lines to make it explanatory and understandable to everyone.
I will be very happy if I am assigned this issue and allowed to work on this.

[2021-03-08 17:55] Vansh-Gupta4 commented on #217
I am a GSSOC '21 participant.

I wish to contribute a JAVA code for this issue:

My code will have comment lines to make it explanatory and understandable to everyone.
I will be very happy if I am assigned this issue and allowed to work on this.

[2021-03-08 17:55] Vansh-Gupta4 commented on #216
I am a GSSOC '21 participant.

I wish to contribute a JAVA code for this issue:

My code will have comment lines to make it explanatory and understandable to everyone.
I will be very happy if I am assigned this issue and allowed to work on this.

[2021-03-08 17:56] Vansh-Gupta4 commented on #215
Sorting algorithms are very intresting and also vey useful , So i want to add more sorting algorithms like bubble sort, bucket sort, count sort, shell sort, radix sort.

I woukd like to add these algorithms in the code in Java language . kindly assigned me as a part of GSSOC '21.

[2021-03-08 17:57] imsushant12 opened #231 "Stack Implementation using Linked List and Static Array"
Hello, @rudrakshi99 @nakul-19 @plazzy99 , I am a GSSOC'21 participant.

I wish to contribute Implementation of **Stack using Linked List and Static Array** with proper comments and clear explanation-

Please assign me this issue ,my code will be in **C++** with proper comments and test cases.

[2021-03-08 17:58] soukarsha122 commented on #228
I would love to contribute in this issue.  My language of code will be C++. Please assign this issue to me.

[2021-03-08 18:00] imsushant12 opened #232 "Adding Threaded Binary Tree"
Hello, @rudrakshi99 @nakul-19 @plazzy99 , I am a GSSOC'21 participant.

I wish to contribute "Threaded Binary Tree Implementation" with proper comments and clear explanation-

Please assign me this issue ,my code will be in **C++** with proper comments and test cases.

[2021-03-08 18:03] imsushant12 opened #233 "Adding Unrolled Linked List"
Hello, @rudrakshi99 @nakul-19 @plazzy99 , I am a GSSOC'21 participant.

I wish to contribute "Implementation of Unrolled Linked List" with proper comments and clear explanation-

Please assign me this issue ,my code will be in **C++** with proper comments and test cases.

[2021-03-08 18:07] imsushant12 opened #234 "Adding Zig Zag Array"
Hello, @rudrakshi99 @nakul-19 @plazzy99 , I am a GSSOC'21 participant.

I wish to contribute "Print Zig Zag Array" using Sorting as well as using flag, with proper comments and clear explanation-

Please assign me this issue ,my code will be in **C++** with proper comments and test cases.

[2021-03-08 18:12] Yukti-1 opened #235 "Longest Common Subsequence"
I want to add the algorithm to

- Find length of the longest common subsequence using Dynamic Programming.
- Print the longest common subsequence

Language - C++ and Python

May I be assigned this issue?  ( Under GSSOC'21 )
@nakul-19 @anubhavitis @geekquad @plazzy99

[2021-03-08 18:16] imsushant12 opened #236 "Adding AVL Tree Implementation"
imsushant12 commented 14 minutes ago
Hello, @rudrakshi99 @nakul-19 @plazzy99 , I am a GSSOC'21 participant.

I wish to contribute "AVL Tree Implementation" with proper comments and clear explanation-

Please assign me this issue ,my code will be in **C++** with proper comments and test cases.

[2021-03-08 18:16] jatinjain29 commented on #166
Hello, I am a GSSOC'21 participant and I would like to contribute Java code for the algorithm to find  Longest Common Subsequence. Shall I work on this issue?

[2021-03-08 18:18] imsushant12 opened #237 "Doubly Ended Queue (Dequeue) Implementation"
imsushant12 commented 14 minutes ago
Hello, @rudrakshi99 @nakul-19 @plazzy99 , I am a GSSOC'21 participant.

I wish to contribute "Implementation of Doubly Ended Queue" using Array with proper comments and clear explanation-

Please assign me this issue ,my code will be in **C++** with proper comments and test cases.

[2021-03-08 18:21] Naman-12911 commented on #216
I am participant of GSSOC'21 .
I want contribute code for this issue.
I solves this question in past.
please assign me this issue

[2021-03-08 18:28] plazzy99 commented on #235
Refer issue no. #166

[2021-03-08 18:28] #235 closed

[2021-03-08 18:32] plazzy99 commented on #166
#21
refer

[2021-03-08 18:32] #166 closed

[2021-03-08 18:38] Amit366 commented on #167
Can I solve it using Java?

[2021-03-08 18:38] Adrenalinerush07 commented on #136
I am a GSSoC'21 participant.
I assure you I can handle this issue as I am extremely good at DSA, problem-solving, and C++.

It would be really great if you assign this issue to me.
Hoping for a good outcome from your side.

[2021-03-08 18:39] Adrenalinerush07 commented on #144
I am a GSSoC'21 participant.
I assure you I can handle this issue as I am extremely good at DSA, problem-solving, and C++.

It would be really great if you assign this issue to me.
Hoping for a good outcome from your side.

[2021-03-08 18:39] Adrenalinerush07 commented on #150
I am a GSSoC'21 participant.
I assure you I can handle this issue as I am extremely good at DSA, problem-solving, and C++.

It would be really great if you assign this issue to me.
Hoping for a good outcome from your side.

[2021-03-08 18:40] Adrenalinerush07 commented on #145
I am a GSSoC'21 participant.
I assure you I can handle this issue as I am extremely good at DSA, problem-solving, and C++.

It would be really great if you assign this issue to me.
Hoping for a good outcome from your side.

[2021-03-08 18:41] Adrenalinerush07 commented on #147
I am a GSSoC'21 participant.
I assure you I can handle this issue as I am extremely good at DSA, problem-solving, and C++.

It would be really great if you assign this issue to me.
Hoping for a good outcome from your side.

[2021-03-08 18:42] Adrenalinerush07 commented on #124
I am a GSSoC'21 participant.
I assure you I can handle this issue as I am extremely good at DSA, problem-solving, and C++.

It would be really great if you assign this issue to me.
Hoping for a good outcome from your side.

[2021-03-08 18:42] samar08 opened #238 "DP and Graph related problems"
Hi, I'm a GSSOC 2021 participant. Please assign me this issue. I will update proper code in java as well as python with proper comments and code structure.

[2021-03-08 18:43] Adrenalinerush07 commented on #51
I am a GSSoC'21 participant.
I assure you I can handle this issue as I am extremely good at DSA, problem-solving, and C++.

It would be really great if you assign this issue to me.
Hoping for a good outcome from your side.

[2021-03-08 18:44] Adrenalinerush07 commented on #200
I am a GSSoC'21 participant.
I assure you I can handle this issue as I am extremely good at DSA, problem-solving, and C++.

It would be really great if you assign this issue to me.
Hoping for a good outcome from your side.

[2021-03-08 18:44] Adrenalinerush07 commented on #189
I am a GSSoC'21 participant.
I assure you I can handle this issue as I am extremely good at DSA, problem-solving, and C++.

It would be really great if you assign this issue to me.
Hoping for a good outcome from your side.

[2021-03-08 18:44] Adrenalinerush07 commented on #177
I am a GSSoC'21 participant.
I assure you I can handle this issue as I am extremely good at DSA, problem-solving, and C++.

It would be really great if you assign this issue to me.
Hoping for a good outcome from your side.

[2021-03-08 18:45] Adrenalinerush07 commented on #169
I am a GSSoC'21 participant.
I assure you I can handle this issue as I am extremely good at DSA, problem-solving, and C++.

It would be really great if you assign this issue to me.
Hoping for a good outcome from your side.

[2021-03-08 18:49] Vansh-Gupta4 commented on #196
I am a GSSOC '21 participant.

I wish to contribute a JAVA code for this issue:

My code will have comment lines to make it explanatory and understandable to everyone.
I will be very happy if I am assigned this issue and allowed to work on this

[2021-03-08 18:50] Vansh-Gupta4 commented on #199
I am a GSSOC '21 participant.

I wish to contribute a JAVA code for this issue:

My code will have comment lines to make it explanatory and understandable to everyone.
I will be very happy if I am assigned this issue and allowed to work on this

[2021-03-08 18:50] Vansh-Gupta4 commented on #201
I am a GSSOC '21 participant.

I wish to contribute a JAVA code for this issue:

My code will have comment lines to make it explanatory and understandable to everyone.
I will be very happy if I am assigned this issue and allowed to work on this

[2021-03-08 18:51] Suvraneel commented on #237
@rudrakshi99 @plazzy99
I'm a GSSOC'21 paticipant/CA.
I've already started PRs pertaining to few other issues...
I wish to contribute to this issue (in CPP) with ample comments, clean indentation, & standard outputs to test cases.

[2021-03-08 18:51] Vansh-Gupta4 commented on #237
I am a GSSOC '21 participant.

I wish to contribute a JAVA code for this issue:

My code will have comment lines to make it explanatory and understandable to everyone.
I will be very happy if I am assigned this issue and allowed to work on this

[2021-03-08 18:51] Vansh-Gupta4 commented on #236
I am a GSSOC '21 participant.

I wish to contribute a JAVA code for this issue:

My code will have comment lines to make it explanatory and understandable to everyone.
I will be very happy if I am assigned this issue and allowed to work on this

[2021-03-08 18:51] Vansh-Gupta4 commented on #234
I am a GSSOC '21 participant.

I wish to contribute a JAVA code for this issue:

My code will have comment lines to make it explanatory and understandable to everyone.
I will be very happy if I am assigned this issue and allowed to work on this

[2021-03-08 18:52] Vansh-Gupta4 commented on #231
I am a GSSOC '21 participant.

I wish to contribute a JAVA code for this issue:

My code will have comment lines to make it explanatory and understandable to everyone.
I will be very happy if I am assigned this issue and allowed to work on this

[2021-03-08 18:52] Vansh-Gupta4 commented on #238
I am a GSSOC '21 participant.

I wish to contribute a JAVA code for this issue:

My code will have comment lines to make it explanatory and understandable to everyone.
I will be very happy if I am assigned this issue and allowed to work on this

[2021-03-08 18:52] Vansh-Gupta4 commented on #233
I am a GSSOC '21 participant.

I wish to contribute a JAVA code for this issue:

My code will have comment lines to make it explanatory and understandable to everyone.
I will be very happy if I am assigned this issue and allowed to work on this

[2021-03-08 18:53] Vansh-Gupta4 commented on #221
I am a GSSOC '21 participant.

I wish to contribute a JAVA code for this issue:

My code will have comment lines to make it explanatory and understandable to everyone.
I will be very happy if I am assigned this issue and allowed to work on this

[2021-03-08 18:53] Vansh-Gupta4 commented on #211
I am a GSSOC '21 participant.

I wish to contribute a JAVA code for this issue:

My code will have comment lines to make it explanatory and understandable to everyone.
I will be very happy if I am assigned this issue and allowed to work on this

[2021-03-08 19:09] Himanshu16Singh opened #240 "Radix Sort which works for negative numbers also"
Hey, Can I make PR for radix sort, which works for negative numbers also ?

[2021-03-08 19:17] Nkap23 opened #241 "Modular Exponentiation"
Modular exponentiation is used to compute pow(n1,n2)%mod (n1^n2%mod) in log(n2) time!

This algorithm computes pow(n1,n2) in log(n2). The normal algorithm would take O(n2) times. This O(n2) is not feasible when n2 is larger than 10^7 or 10^8. So this algorithm is a must when dealing with large numbers!

I believe this algorithm is one of the basic yet one of the most used algorithms used. I want t

[2021-03-08 19:25] jainstuti commented on #124
Hi, I can contribute to writing any of these algorithms in c++. I will write the code with proper comments ans conventions mentioned in the readme. Please assign this to me as a part of gssoc21

[2021-03-08 19:27] Nkap23 opened #244 "Kadane's Algorithm"
Kadane's Algorithm (also called Maximal Subarray sum algorithm) is one of the most basic Dynamic Programming Algorithms. It is used to find a subarray with a maximum sum. The normal algorithm would take O(n^2) time (where n is the size of an array), but when optimized with Dynamic Programming, the time complexity reduces to O(n).
So Kadane's Algorithm is an efficient way to calculate maximal subar

[2021-03-08 19:40] anushka00 commented on #178
Hi, I am a gssoc'21 participant and want to contribute in this  great project. I'll write the code  in compliance to all the noted guidelines with proper comments .  I would like to work on this issue.

[2021-03-08 19:42] anushka00 commented on #124
Hi, I am a gssoc'21 participant and want to contribute in this  great project. I'll write the code  in compliance to all the noted guidelines with proper comments .  I would like to work on this issue. I will write all sorting algorithms in C++ .

[2021-03-08 19:43] yashika03 commented on #193
I am a GSSOC'21 participant. I want to contribute a C++ code for this issue. Please assign me this work

[2021-03-08 19:46] anushka00 commented on #157
Hi, I am a gssoc'21 participant and want to contribute in this  great project. I'll write the code  in compliance to all the noted guidelines with proper comments .  I will write the code in C++ with proper comments. Looking forward to work on this issue.

[2021-03-08 19:48] yashika03 commented on #157
I am a GSSOC'21 participant and would like to contribute a C++ code for this issue. Please assign this issue to me.

[2021-03-08 19:53] yashika03 commented on #144
I am a GSSOC'21 participant. I would like to contribute C++ code to this issue. Please assign this issue to me.

[2021-03-08 19:54] yashika03 commented on #136
I am a GSSOC'21 participant and would like to contribute C++ code for this issue. Please assign this issue to me.

[2021-03-08 20:09] yashika03 commented on #51
I am a GSSOC'21 participant and would like to contribute C++ code to this issue. Please assign me this issue.

[2021-03-08 20:29] Mahima0405 opened #246 "Count set bits"
Add algorithms for counting the total number of setbits using 2 different approaches of bitmasking.
(in C++).  I would like to contribute to this problem as a part of GSSOC'21. Please assign me this question and I promise to give a clean, understandable, and readable code with comments and corresponding test cases.
I request the mentors to assign me this question:
@tarun26091999

[2021-03-08 20:32] Mahima0405 opened #247 "Binary_search_Classic_question_(Aggressive Cows)"
Add a classic problem of Binary_search which enables the learners get an idea of how and where to apply binary search algorithm in reality. (in C++). I would like to contribute to this problem as a part of GSSOC'21. Please assign me this question and I promise to give a clean, understandable, and readable code with comments and corresponding test cases.
I request the mentors to assign me this ques

[2021-03-08 20:43] Mahima0405 opened #248 "Tree_Traversal_Algorithms"
The various Tree traversal algorithms such as BFS, DFS , Level-order Traversal,  which are very important for being able to work with  Trees .I would like to contribute to this problem as a part of GSSOC'21. Please assign me this question and I promise to give a clean, understandable, and readable code with comments and corresponding test cases.

[2021-03-08 20:46] Mahima0405 opened #249 "Sieve_Of_Eratosthenes"
This code has not yet been added to the folder and I would like to add this code which again forms the building blocks for basic knowledge in number theory. Being an optimized approach to finding prime numbers it has a few developmental steps which can be covered step by step and if not then direct code is also a good start to learn optimization.  I would like to contribute to this problem as a pa

[2021-03-08 20:52] Suvraneel commented on #127
@plazzy99  @rudrakshi99
I'd love to submit the C++ solution to the above problems (in multiple time complexities for stock span - > O(n^2) & O(n))
Please assign me all these problems in C++ under GSSOC '21. Thanks

[2021-03-08 20:56] Kedar-S opened #250 "Types of LinkedLists - Implementation"
I will implement Singly LL, Doubly LL, Circular LL, Circular Doubly LL with all the basic operations: InsertAtFirst(), InsertAtLast(), deleteFirst(), deleteLast().

I can also maintain an index in all of these Linked Lists so that operations like insertAtIndex() and deleteAtIndex() could be used.

All implementations would be in Java.

[GSSoC]

[2021-03-08 21:05] Vansh-Gupta4 opened #251 "balanced paranthesis"

[2021-03-08 21:29] raksha009 commented on #193
Heyy, sorry but the issue is already completely assigned. Plz look for other issues :)

[2021-03-09 01:27] khushi123456789 commented on #192
I am  GSSOC'2021 participant. I am good at C++,C.Please assign this issue to me.
 Thankyou!

[2021-03-09 01:29] khushi123456789 commented on #180
hii,
I am  GSSOC'2021 participant. I am good at C++,C. Please assign this issue to me.
 Thankyou!

[2021-03-09 01:30] khushi123456789 commented on #177
I am  GSSOC'2021 participant. I am good at C++,C.Please assign this issue to me.
 Thankyou!

[2021-03-09 01:31] khushi123456789 commented on #167
I am  GSSOC'2021 participant. I am good at C++,C.Please assign this issue to me.
 Thankyou!

[2021-03-09 01:33] khushi123456789 commented on #157
I am  GSSOC'2021 participant. I am good at C++,C.Please assign this issue to me.
 Thankyou!

[2021-03-09 01:33] khushi123456789 commented on #152
I am  GSSOC'2021 participant. I am good at C++,C.Please assign this issue to me.
 Thankyou!

[2021-03-09 01:35] khushi123456789 commented on #144
I am  GSSOC'2021 participant. I am good at C++,C.Please assign this issue to me.
 Thankyou!

[2021-03-09 01:35] khushi123456789 commented on #124
I am  GSSOC'2021 participant. I am good at C++,C.Please assign this issue to me.
 Thankyou!

[2021-03-09 01:35] khushi123456789 commented on #103
I am  GSSOC'2021 participant. I am good at C++,C.Please assign this issue to me.
 Thankyou!

[2021-03-09 01:36] khushi123456789 commented on #51
I am  GSSOC'2021 participant. I am good at C++,C.Please assign this issue to me.
 Thankyou!

[2021-03-09 01:56] krishna-NIT commented on #251
Hi,
I am GSSOC'21 participant

My code will be in JAVA with proper comments and test cases.
@rudrakshi99 @nakul-19 @plazzy99 please assign me this issue

[2021-03-09 01:57] krishna-NIT commented on #234
Hi,
I am GSSOC'21 participant

My code will be in JAVA with proper comments and test cases.
@rudrakshi99 @nakul-19 @plazzy99 please assign me this issue

[2021-03-09 02:07] vedant-jain03 commented on #251
Hello I can do this issue using cpp and python please assign me this issu I will use commented code flow

[2021-03-09 02:07] vedant-jain03 commented on #250
Hello I can do this issue using cpp and python please assign me this issu I will use commented code flow

[2021-03-09 02:08] vedant-jain03 commented on #248
Hello I can do this issue using cpp and python please assign me this issu I will use commented code flow

[2021-03-09 02:08] vedant-jain03 commented on #244
Hello I can do this issue using cpp and python please assign me this issu I will use commented code flow

[2021-03-09 02:58] yashikajotwani12 commented on #249
I would  to give the implementation in C, C++ or python.
please assign me this issue.

[2021-03-09 02:59] sb2356-iiitr opened #254 "[GSSoC'21]Insertion_and_Deletion_from_Array"
As of now, only the code for _inserting at beginning_ of array has been added.
I wish to add few more codes for _insertion (in the middle)_ and _deletion of elements_ from an array.
My code will be in C++ and I promise to provide a clean code with proper comments and test cases.
Requesting the admins to assign this issue to me as part of **GSSoC 2021**.

[2021-03-09 03:08] Naman-12911 commented on #177
I am a participant of GSSOS  please assign me this issue I can solve it easily .
I am a cpp programer.

[2021-03-09 03:19] yashikajotwani12 commented on #238
I would love to code it in cpp or python , with proper code and explanation . please assign me this issue @plazzy99 .

[2021-03-09 03:20] yashikajotwani12 commented on #231
I would love to contribute this in cpp or python, please assign me this issue.

[2021-03-09 03:21] yashikajotwani12 commented on #229
I would love to contribute this in python , please assign me this issue , i would code it with proper implementation .

[2021-03-09 03:23] yashikajotwani12 commented on #227
I would love to code and explain it in cpp or python , please assign me this issue .

[2021-03-09 03:25] yashikajotwani12 commented on #237
I wish to contribute it in python , please assign me this issue . I would code it with proper implementation .

[2021-03-09 03:29] sohini3062 opened #255 "Add LinkedList Reversal Java"
GSSoC 2021 participant.
I will like to add Reversal of LinkedList in java and will use clear and concise code with explanations

[2021-03-09 03:46] harshsinha03 commented on #124
I am GSSOC'2021 participant. I am good at python and i already have all the sorting programs ready with me in python.
Please assign this issue to me.
Thankyou!

[2021-03-09 04:00] MukulKolpe commented on #51
Hey, I am GSSOC'21 participant. Can you please assign these issue to me? My preferred language is Java.

[2021-03-09 04:04] Swetha126 commented on #152
I am a GSSOC'21 participant.
I am looking forward to working on C and C++ in this project

[2021-03-09 04:26] bhupesh1618 commented on #178
Hi, I am gssoc'21 participant. I want to work on this issue with my skills in python.

[2021-03-09 04:28] imsushant12 commented on #250
I wish to contribute to this issue with proper comments and clear explanation-

Please assign me this issue, my code will be in C++ with proper comments and test cases.

[2021-03-09 04:30] imsushant12 commented on #248
I wish to contribute to this issue with proper comments and clear explanation-

Please assign me this issue ,my code will be in C++ with proper comments, indentation  and test cases.

[2021-03-09 04:36] Vishal-Singh-1996 commented on #136
I am a gssoc'21 participant and would like to contribute code for this issue in java. Please assign this issue to me.

[2021-03-09 04:42] himali08 commented on #254
hey I am a GSSOC'21 participant and i am looking forward to work on this in C and C++

[2021-03-09 04:44] himali08 commented on #157
hey I am a GSSOC'21 participant and I am looking forward to work on this in C and C ++.

[2021-03-09 04:50] machine-sg commented on #254
I am a GSSOC' 21 participant and I wish to work on this . My code will be in C++.

[2021-03-09 04:53] machine-sg commented on #220
Hey I am GSSOC'21 participant and I wish to work on this. I want to code in in C++

[2021-03-09 04:54] machine-sg commented on #200
I am a GSSOC'21 participant and I want to work on this . I would like to code in C++.

[2021-03-09 04:56] machine-sg commented on #183
Hi, I am GSSOC'21 participant. I wish to work on this and my code will be in C++. Ho[e to work on this.

[2021-03-09 04:56] aditiaggarwal28 commented on #254
Hi, I am a GSSOC'21 participant and my code will be in c++ and python. Please assign this task to me.

[2021-03-09 04:57] machine-sg commented on #212
I am a GSSOC'21 participant and I wish to work on this using C++. Hope to hear back from you .

[2021-03-09 04:59] aditiaggarwal28 commented on #251
Hi, I am GSSOC'21 participant. Requesting the admins to assign this issue to me.
I can do this in both CPP and python and I will report this issue using proper comments and test cases.

[2021-03-09 04:59] majestic-rahul commented on #254
hi, ia m GSSOC'21 participant and would like to contribute to this issue and provide the efficient solution .
please kindly assign this issue to me.
I'll be coding in C++.

[2021-03-09 04:59] machine-sg commented on #148
I am a GSSOC'21 participant and I wish to work on this using C++. Hope to hear back from you .
Thank you .

[2021-03-09 05:00] ShreyaGautamm commented on #224
Hello maintainers. I am a GSSOC'21 participant.
i wish to contribute Bubble Sort Algo in C++ with clear explanations. Please assign it to me.

[2021-03-09 05:01] machine-sg commented on #137
I am a GSSOC'21 participant and I wish to work on this using C++. Hope to hear back from you .
Thank you .

[2021-03-09 05:01] aditiaggarwal28 commented on #249
I am a GSSOC'21 participant and requesting the admins to assign this issue to me. I will provide a clean code with proper comments and optimized code for calculating prime numbers using this method. I can solve this issue using both languages CPP and python.

[2021-03-09 05:01] machine-sg commented on #128
I am a GSSOC'21 participant and I wish to work on this using C++. Hope to hear back from you .
Thank you .

[2021-03-09 05:01] machine-sg commented on #96
I am a GSSOC'21 participant and I wish to work on this using C++. Hope to hear back from you .
Thank you .

[2021-03-09 05:01] rk05-lenavo commented on #254
Hi!!
I am interested in this project Please assign this project to me under GSSOC '21

[2021-03-09 05:02] machine-sg commented on #94
I am a GSSOC'21 participant and I wish to work on this using C++. Hope to hear back from you .
Thank you .

[2021-03-09 05:03] machine-sg commented on #50
I am a GSSOC'21 participant and I wish to work on this using C++. Hope to hear back from you .
Thank you .

[2021-03-09 05:03] rk05-lenavo commented on #227
Hi!!
I am interested in this project . I wish to contribute C++ code for this issuePlease assign this project to me under GSSOC '21

[2021-03-09 05:03] majestic-rahul commented on #248
hey, i would love to resolve this issue and i can provide you recursive tree traversal methods ,please assign me this issue

[2021-03-09 05:05] machine-sg commented on #178
I am a GSSOC'21 participant and I wish to work on this using C++. Hope to hear back from you .
Thank you .

[2021-03-09 05:05] rk05-lenavo commented on #251
Hi!!
I am interested in this project. I would like to contribute C++ code in this issue. Please assign this project to me under GSSOC '21

[2021-03-09 05:06] machine-sg commented on #255
I am a GSSOC'21 participant and I wish to work on this using C++. Hope to hear back from you . I will give some testcases with proper explanation too.
Thank you .

[2021-03-09 05:07] machine-sg commented on #247
I am a GSSOC'21 participant and I wish to work on this using C++. Hope to hear back from you . I will give some testcases with proper explanation too. Also I'll add other questions as well which will be solved using this same approach.
Thank you .

[2021-03-09 05:08] machine-sg commented on #244
I am a GSSOC'21 participant and I wish to work on this using C++. Hope to hear back from you . I will give some testcases with proper explanation too. I'll also add other problems which will be solved based on this concept.
Thank you .

[2021-03-09 05:08] machine-sg commented on #246
I am a GSSOC'21 participant and I wish to work on this using C++. Hope to hear back from you . I will give some testcases with proper explanation too.
Thank you .

[2021-03-09 05:09] Vishal-Singh-1996 commented on #192
I want to write this code in Java

[2021-03-09 05:09] machine-sg commented on #225
I am a GSSOC'21 participant and I wish to work on this using C++. Hope to hear back from you . I will give some testcases with proper explanation too.
Thank you .

[2021-03-09 05:10] machine-sg commented on #204
I am a GSSOC'21 participant and I wish to work on this using C++. Hope to hear back from you . I will give some testcases with proper explanation too.
Thank you .

[2021-03-09 05:11] machine-sg commented on #203
I am a GSSOC'21 participant and I wish to work on this using C++. Hope to hear back from you . I will give some testcases with proper explanation too.
Thank you .

[2021-03-09 05:12] Alleny244 commented on #255
Hello
I am a GSSOC'21 participant
I would like to contribute in this issue
I can implement this code in java with proper comment for better understanding.
I will also add 2-3 testcases for better understanding

[2021-03-09 05:12] Alleny244 commented on #237
Hello
I am a GSSOC'21 participant
I would like to contribute in this issue
I can implement this in java with proper comment for better understanding.
I will also add 2-3 testcases for better understanding

[2021-03-09 05:14] Alleny244 commented on #185
Hello
I am a GSSOC'21 participant
I would like to contribute in this issue
I can implement this  in java and with proper comment for better understanding.
I will also add 2-3 testcases for better understanding

[2021-03-09 05:16] Vishal-Singh-1996 commented on #255
I would Like to do this in javA

[2021-03-09 05:16] Vishal-Singh-1996 commented on #255
pls assign it to me

[2021-03-09 05:18] Vishal-Singh-1996 commented on #250
I want to implement In java these problem

[2021-03-09 05:19] Vishal-Singh-1996 commented on #240
I would like to implement this problem in java

[2021-03-09 05:26] Abhinaba006 commented on #248
I will like to work on this issue, I am a gssoc participant 2021, Please assign me this.

[2021-03-09 05:28] Abhinaba006 commented on #238
I am a gssoc 21 participant, I will like to work on this issue

[2021-03-09 05:28] Adrenalinerush07 opened #261 "Insertion sort in Linkedlist"
Hello, @rudrakshi99 @nakul-19 @plazzy99.
I am a GSSoC'21 participant. (Discord username - KartikJaiswal#6870)

I wish to contribute to the implementation of Insertion sort of Linked List with proper comments and clear explanation.

Please assign me this issue, my code will be in C++ with proper comments and test cases.
I assure you I can handle this issue as I am extremely good at DSA and problem-

[2021-03-09 05:30] Abhinaba006 commented on #226
I am a GSSOC 21 participant, I will like to work on this project, please assign me this

[2021-03-09 05:30] Adrenalinerush07 opened #262 "Merge Sort in Linkedlist"
Hello, @rudrakshi99 @nakul-19 @plazzy99.
I am a GSSoC'21 participant. (Discord username - KartikJaiswal#6870)

I wish to contribute Implementation of the Merge sort of Linked List with proper comments and clear explanation.

Please assign me this issue, my code will be in C++ with proper comments and test cases.
I assure you I can handle this issue as I am extremely good at DSA and problem-solving

[2021-03-09 05:31] Adrenalinerush07 opened #263 "Sorting binary Linkedlist"
Hello, @rudrakshi99 @nakul-19 @plazzy99.
I am a GSSoC'21 participant. (Discord username - KartikJaiswal#6870)

I wish to contribute Implementation of sorting a binary LinkedList with proper comments and clear explanation.

Please assign me this issue, my code will be in C++ with proper comments and test cases.
I assure you I can handle this issue as I am extremely good at DSA and problem-solving i

[2021-03-09 05:34] Adrenalinerush07 opened #264 "[GSSOC'21] Sorting K sorted doubly Linkedlist"
Hello, @rudrakshi99 @nakul-19 @plazzy99.
I am a GSSoC'21 participant. (Discord username - KartikJaiswal#6870)

I wish to contribute Implementation of sorting K sorted doubly Linkedlist with proper comments and clear explanation.

Please assign me this issue, my code will be in C++ with proper comments and test cases.
I assure you I can handle this issue as I am extremely good at DSA and problem-so

[2021-03-09 05:38] Vishal-Singh-1996 commented on #261
I would like to create this problem in Java also

[2021-03-09 05:39] Vishal-Singh-1996 commented on #262
I would like to solve these problem in java

[2021-03-09 05:39] Vishal-Singh-1996 commented on #263
I would like to solve these problem in java pls assign it to me also

[2021-03-09 05:42] Vishal-Singh-1996 opened #266 "gssoc'21 want to create check prime or not"
I would like to create this program in java or python also

[2021-03-09 05:49] machine-sg opened #268 "[GSSOC'21] Disjoint set union find"
Hello, I am GSSOC' 21 participant. I want to add disjoint set union find algorithm with example and explanations. I wish  to code in C++.  Please assign me this issue. Hope to hear you .

[2021-03-09 05:51] machine-sg commented on #266
Hi, I am GSSOC'21 participant. I wish to work on this using C++. Hope to hear you .Please assign me this.

[2021-03-09 05:51] Himanshu16Singh commented on #240
And I would like to implement it in c++

[2021-03-09 05:52] machine-sg commented on #255
Hi, I am GSSOC'21 participant. I wish to work on this using C++. Hope to hear you .Please assign me this.

[2021-03-09 05:52] machine-sg commented on #249
Hi, I am GSSOC'21 participant. I wish to work on this using C++. Hope to hear you .Please assign me this.

[2021-03-09 05:52] Suvraneel commented on #248
I wish to contribute & resolve this issue with proper indentation, comments & sample I/O in C++.
Kindly assign me these issues under GSSOC '21

[2021-03-09 05:53] Vishal-Singh-1996 commented on #266
@machine-sg go for it

[2021-03-09 05:54] Suvraneel commented on #185
I wish to contribute & resolve this issue with proper indentation, comments & sample I/O in C++.
Kindly assign me this issue under GSSOC '21.

[2021-03-09 05:54] machine-sg opened #269 "[GSSOC'21] Kruskal's Algorithm"
Hello, I am a GSSOC'21 participant and I want to add the code of this algorithm. My code will be in C++. I will also give some other examples which will be solved using this algorithm with proper explanation. Please assign me this. Hope to hear you.
Thank you .

[2021-03-09 05:55] matrix2131 opened #270 "Sliding Windom Maximum Problem"
I would like to add sliding window maximum problem in the heap section(in c++). My code will contain proper explanation of the problem and test cases. I request you to assign me this problem.

[2021-03-09 05:56] Suvraneel commented on #229
I wish to contribute & resolve this issue with proper indentation, comments & sample I/O in C++.
Kindly assign me these issues under GSSOC '21

[2021-03-09 05:56] Vishal-Singh-1996 commented on #220
I want to code in Java pls assign it to me
@anubhavitis
@dheerajkotwani
@tarun26091999
@todi-2000 @geekquad

[2021-03-09 05:56] Suvraneel commented on #224
I wish to contribute & resolve this issue with proper indentation, comments & sample I/O in C++.
Kindly assign me these issues under GSSOC '21.

[2021-03-09 05:58] Suvraneel commented on #205
I wish to contribute & resolve this issue with proper indentation, comments & sample I/O in C++.
Kindly assign me these issues under GSSOC '21

[2021-03-09 05:58] matrix2131 opened #272 "[GSSOC'21]Huffman Encoding"
I would like to add Huffman encoding problem in Greedy algorithms. Please assign me this problem.

[2021-03-09 05:59] Suvraneel commented on #216
I wish to contribute & resolve this issue with proper indentation, comments & sample I/O in C++.
Kindly assign me these issues under GSSOC '21

[2021-03-09 06:00] srishti-13 commented on #266
Hey I would like to contribute to this issue as a part of gssoc 2021. Could you please assign this issue to me ? I will implement this in c++

[2021-03-09 06:01] Suvraneel commented on #272
@rudrakshi99
I wish to contribute & resolve this issue with proper indentation, comments & sample I/O in C++.
Kindly assign me these issues under GSSOC '21...

[2021-03-09 06:03] Vishal-Singh-1996 commented on #266
@srishti-13 yeah go for it

[2021-03-09 06:06] majestic-rahul commented on #264
Hello, @rudrakshi99 @nakul-19 @plazzy99.
I am a GSSoC'21 participant.
i would love to resolve this issue in c++ language. please,assign this to me

[2021-03-09 06:06] aditiaggarwal28 commented on #236
I want to contribute to this issue. I'm already familiar with AVL tree implementation and I would like to contribute in c++. I will write proper comments and try to make the code as optimized as possible.

[2021-03-09 06:06] machine-sg commented on #266
Okay.
Thank you.

On Tue, 9 Mar 2021 at 11:23, Vishal Singh <notifications@github.com> wrote:

[2021-03-09 06:07] aditiaggarwal28 commented on #236
I am GSSOC'21 participant. Requesting admins to assign this issue to me.

[2021-03-09 06:09] Suvraneel commented on #187
@tarun26091999
[C++]
I wish to contribute & resolve this issue with proper indentation, comments & sample I/O in C++.
Kindly assign me these issues under GSSOC '21

[2021-03-09 06:25] suyashi912 commented on #50
Hey I have created a pull request for this issue. Please approve it :)

[2021-03-09 06:27] kushal13112001 commented on #266
Hi, I am GSSOC'21 participant. I wish to work on this using Python. Hope to hear you .Please assign me this.

[2021-03-09 06:27] suyashi912 commented on #262
Hello,
I would like to implement merge sort of linked list the Python programming language.

Event :
GSSoC'21

Please assign me to the above task :)

[2021-03-09 06:27] manastole03 commented on #262
I am having experience in Java. I would like to solve this problem .

Please assign this task to me.
Thank-you.

[2021-03-09 06:28] kushal13112001 commented on #254
Hi, I am a GSSOC'21 participant and my code will be in python. Please assign this task to me.

[2021-03-09 06:29] suyashi912 commented on #270
Hello,
I would like to implement Sliding Windom Maximum Problem in the Java programming language.
I would write proper comments explaining the code, test cases and time and space complexities.

Event :
GSSoC'21

Please assign me to the above task :)

[2021-03-09 06:31] kushal13112001 commented on #192
Hey, I am a GSSOC'21 participant. I would like to contribute the code of this problem statement in Pyhton language. Please assign this issue to me.

[2021-03-09 06:34] kushal13112001 commented on #157
Hey, I am a GSSOC'21 participant. I would like to contribute the code of this problem statement in PYTHON language. Please assign this issue to me.

[2021-03-09 06:34] manastole03 opened #276 "Factorial using Recursion"
I am Manas GSSOC 2021 participant want to contribute Recursion algorithm for Factorial in Java programming language.
Assign this task to me :)

[2021-03-09 06:36] Amit366 commented on #169
Can I solve it using Java?

[2021-03-09 06:36] kushal13112001 commented on #91
Hey, I am a GSSOC'21 participant. I would like to contribute the code of this problem statement in PYTHON language. Please assign this issue to me.

[2021-03-09 06:37] kushal13112001 commented on #85
Hey, I am a GSSOC'21 participant. I would like to contribute the code of this problem statement in PYTHON language. Please assign this issue to me.

[2021-03-09 06:38] guruc-134 commented on #251
I would like to implement the above question in Python, I will write neat and clean code
please assign me this issue under GSSoC 2021

[2021-03-09 06:39] guruc-134 commented on #269
I would like to implement the above question in Python, I will write neat and clean code
please assign me this issue under GSSoC 2021

[2021-03-09 06:39] Amit366 commented on #220
Can I solve it using python? @tarun26091999
@anubhavitis

[2021-03-09 06:39] guruc-134 commented on #266
I would like to implement the above question in Python, I will write neat and clean code
please assign me this issue under GSSoC 2021

[2021-03-09 06:40] manastole03 opened #279 "[GSSOC'21] Heap Class"
I am Manas Tole GSSOC 2021 participant.
I want to contribute in Heap data structure.
 I will code Heap Class program in Java programming language including :
1)Max-heap
2)Min-heap

Please assign this task to me :)

[2021-03-09 06:40] kushal13112001 commented on #276
Hey, I am a GSSOC'21 participant. I would like to contribute the code of this problem statement in PYTHON language. Please assign this issue to me.

[2021-03-09 06:40] suyashi912 opened #280 "[GSSOC'21]Subset Sum Problem(Dp)"
I would like to work on the following problem in c++
Subset Sum Problem :  Given a set of non-negative integers, and a value of required sum, we need to determine if there is a subset of the given set with sum equal to given sum.
I would also add comments explaining the code, test case and time and space complexities.

Event :
GSSoC'21

Please assign me to the above task :)

[2021-03-09 06:42] guruc-134 commented on #249
I would like to implement the above question in Python, I will write neat and clean code
please assign me this issue under GSSoC 2021

[2021-03-09 06:43] guruc-134 commented on #268
I would like to implement the above question in Python, I will write neat and clean code
please assign me this issue under GSSoC 2021

[2021-03-09 06:43] kushal13112001 commented on #280
Hey, I am a GSSOC'21 participant. I would like to contribute the code of this problem statement in PYTHON language. Please assign this issue to me.

[2021-03-09 06:46] kushal13112001 commented on #201
Hey, I am a GSSOC'21 participant. I would like to contribute the code of this problem statement in PYTHON language. Please assign this issue to me.

[2021-03-09 06:48] manastole03 commented on #280
Hey, I am Maas a GSSOC'21 participant. I would like to contribute the code of this problem statement in Java language.
 Please assign this issue to me :)

[2021-03-09 06:52] divya1509 commented on #244
Hey, I am Divya, a GSSOC'21 participant and I wish to work on this issue in the JAVA language. I will provide a neat and well explanatory code for the issue with certain test cases. Please assign this issue to me.

[2021-03-09 06:56] divya1509 commented on #174
Hey, I am Divya, a GSSOC participant and I want to work on this issue in the Java language. I will provide a neat and well explanatory code for this using some example test cases as well. Please assign me this issue.
Thank you

[2021-03-09 07:00] divya1509 commented on #85
Hey, I am Divya, a GSSOC'21 participant and I want to work on this issue in the Java language. I will provide a neat and well explanatory code for this using some example test cases as well. Please assign me this issue.
Thank you

[2021-03-09 07:03] divya1509 opened #282 "ZigZag Level Order Traversal of a Generic Tree"
Hey, I am Divya, a GSSOC'21 participant and I want to work on this issue in the Java language. I will provide a neat and well explanatory code for this using some example test cases as well. Please assign me this issue.
Thank you

[2021-03-09 07:03] EkjotKaur opened #283 "[GSSOC'21] Sorting algorithms"
I would like to contribute on different sorting algorithms in C++
Namely:

1. Bubble sort
2. Insertion sort
3. Selection sort
4. Merge sort
5. Quick sort

[2021-03-09 07:05] cicada3006 commented on #283
hey! I want to work on this , could you please assign me @EkjotKaur

[2021-03-09 07:07] Sanju-github002 commented on #280
Hello ! I am Sanju a GSSOC'21 participant. I want to contribute in this problem with C++. please assing this problem to me.

[2021-03-09 07:12] tarun26091999 commented on #241
go ahead with CPP

[2021-03-09 07:16] guruc-134 commented on #254
I would like to implement the above question in Python, I will write neat and clean code
please assign me this issue under GSSoC 2021

[2021-03-09 07:22] tarun26091999 commented on #200
@plazzy99 check the PR for Java.

[2021-03-09 07:26] nagasrihith608 opened #284 "Elaboration and questions on strings in different languages."
I want to elaborate on the understanding of strings in various languages like c/c++ java and python, would like to explain the differences and uses and also give code with example questions.

Please assign this issue to me under GSSOC'21

[2021-03-09 07:28] tarun26091999 commented on #187
do it in C++.

[2021-03-09 07:28] tarun26091999 commented on #187
which language you want to work in?

[2021-03-09 07:29] tarun26091999 commented on #187
you can use Java or Python. C++ is already assigned.

[2021-03-09 07:29] manastole03 opened #285 "[GSSOC'21] String Algorithm"
Hey, I am Manas Tole a GSSOC'21 Participant. I am having experience in java Coding as well as I am doing Competitive coding in the java programming language.
I want to contribute the below mentioned algorithm in Java Programming language :

1)Program to find that String palindrome.
2)Program for String reversal .
3)Program to remove Duplicates from string.
4)Program for String rotation .
5)Program

[2021-03-09 07:42] Swetha126 commented on #283
Hey I am a part of GSSOC'21 and would like to contribute the following :
 Bubble sort (C++ and Python)
 Insertion sort (C++ and Python)
 Merge sort (C++ and Python)
 Quick sort (C++ and Python)
 Selection sort (C++)
 Time sort (Python)
Please assign me this issue

[2021-03-09 07:44] tarun26091999 commented on #244
do it in java.

[2021-03-09 07:44] tarun26091999 commented on #244
do it in python.

[2021-03-09 07:45] tarun26091999 commented on #244
@majestic-rahul @machine-sg the C++ code is already present in the repo.

[2021-03-09 07:51] anjali7786 commented on #276
Hi, I am a GSSoc;21 participant and I would like to work on this issue in C++ language. Please assign this issue to me

[2021-03-09 07:56] btanisha commented on #283
Hey, I'm a GSSOC participant. I'd like to contribute by providing codes of the following algos in C++, python as well as Java:
Quick sort
Merge sort
Heap sort
Counting sort
Radix sort
Bucket sort
Selection sort
Insertion sort
Bubble sort

Please assign this to me.

[2021-03-09 08:00] btanisha commented on #170
Hey, I'm a GSSOC participant and i wish to contribute to this in C++ and/or Python.

[2021-03-09 08:04] btanisha commented on #47
Hey, I'm a GSSOC participant and I'm quite familiar with this problem and I'm confident that I'll be able to do it with proper explanation and clean code. Please assign this to me. I'll be able to solve it in C++ and/or Python.

[2021-03-09 08:05] Swetha126 commented on #124
Hey I am a GSSOC'21 participant.
I can code proficiently in C,C++ and Python with appropriate comments.
Please assign me this issue

[2021-03-09 08:11] EkjotKaur commented on #124
Hey I am a GSSOC'21 participant.
I would like to contribute on following sorting algorithms

1. Heap Sort
2. Shell Sort
3. Count sort
4. Radix sort
5. Bucket sort

Please asign me this issue @tarun26091999

[2021-03-09 08:15] Swetha126 commented on #285
Hey I am a GSSOC'21 participant
I would like to implement the following in C++  :
1) Palindrome
2) Count the number of occurences
3) Count the vowels and consonants
4) Swapping two strings
5) Return the maximum occuring character in the string
6) Reverse of a string
7) Find the first non-repeating character in the string
8) Anagram
9) Count words in the given string
10) Lexicographic rank of a str

[2021-03-09 08:22] Nkap23 commented on #244
Okay

[2021-03-09 08:22] Priya730 commented on #249
Hey! I would like to work on this issue in JAVA. Kindly assign it to me.

[2021-03-09 08:22] Mahima0405 commented on #250
Hello, I also wish to work on this question and can provide a well commented and clean code in C++. Plesae assign me this question.

[2021-03-09 08:29] Mahima0405 opened #291 "Diameter of a Tree"
Being a participant of GSSOC'21 , I would like to contribute to this question , giving all possible solution with comments and proper explanation. I can provide the code in C++.
I request the mentors to assign me this question:
@tarun26091999

[2021-03-09 08:31] SavneetKaur01 commented on #266
Under GSSoc 21, can you please assign me this issue. I want to work on it using Python language.

[2021-03-09 08:33] Esha-Sherring commented on #144
I would like to solve this issue in c++

[2021-03-09 08:33] SavneetKaur01 commented on #254
I want to work on the above issue using Python under GSSoc 21, please assign me the same.

[2021-03-09 08:33] SavneetKaur01 commented on #254
I want to work on the above issue using Python under GSSoc 21, please assign me the same.

[2021-03-09 08:34] guruc-134 commented on #291
I would like to implement the above question in Python, I will write neat and clean code
please assign me this issue under GSSoC 2021

[2021-03-09 08:35] guruc-134 commented on #280
I would like to implement the above question in Python, I will write neat and clean code
please assign me this issue under GSSoC 2021

[2021-03-09 08:38] Nkap23 commented on #241
Thank you for assigning. I followed the contributions rules and made a PR for the code!
https://github.com/Algo-Phantoms/Algo-Tree/pull/293

Request you to review it!

[2021-03-09 08:55] ansi22 commented on #285
Hello,
My name is Ritika Verma, GSSOC'21 participant.
I am C++ enthusiast and I do problem solving as well in the same.
I want to implement following algorithms in C++:

1. String Rotation
2. Subsequences of a given string
3. Permutation of a given string
4. Splitting binary substring into 2 substring having equal no. of 0's and 1's
5. Word wrap problem
6. Edit distance problem
7. Balanced Paranth

[2021-03-09 08:56] aromal17 opened #294 "Reverse Lookup algorithm for 1D array"
- As a GSSOC participant, I would like to add the **Reverse Lookup algorithm and its code in C++ for a 1D array**.
- It is a highly efficient algorithm which significantly reduces the computation time for problems involving subarray sums.

Kindly assign this issue to me as I would like to provide a clear explanation and clean code for the same.

[2021-03-09 08:57] Aditya7494 commented on #266
I am a GSSOC'21 participent and i want to contribute on this issue.
Can you please assign it to me?

[2021-03-09 09:01] Aditya7494 commented on #262
I am a GSSOC'21 participant and i want to contribute on applying merge sort on linked list in java.
Can you please assign it to me?

[2021-03-09 09:04] ShrutiKhatri826 commented on #254
Hi, I am GSSOC'21 participant. I wish to work on this using C++. Please assign me this issue. Hope to hear from you.

[2021-03-09 09:06] Aditya7494 commented on #142
I am a GSSOC'21 participant and i would like to solve the problem reverse a linkedlist in java programming language.
Can you please assign it to me?

[2021-03-09 09:06] ShrutiKhatri826 commented on #266
Hi, I am GSSOC'21 participant. I wish to work on this using C++. Please assign me this issue. Hope to hear from you.

[2021-03-09 09:09] Aditya7494 commented on #203
I am a GSSOC'21 participant and i want to solve target sum problem using java programming language.
Can you please assign it to me?

[2021-03-09 09:09] ShrutiKhatri826 commented on #250
I wish to contribute to this issue with proper comments, clear explanation resulting in a clean code. My code will be in C++ with proper comments and test cases. Please assign me this issue, Hope to hear from you soon!

[2021-03-09 09:12] ShrutiKhatri826 commented on #248
I wish to contribute to this issue with proper comments, clear explanation and proper indentation resulting in a clean code. My code will be in C++. Please assign me this issue, Hope to hear from you soon!

[2021-03-09 09:13] ShrutiKhatri826 commented on #237
I wish to contribute to this issue with proper comments, clear explanation and proper indentation resulting in a clean code. My code will be in C++. Please assign me this issue, Hope to hear from you soon!

[2021-03-09 09:14] ShrutiKhatri826 commented on #234
I wish to contribute to this issue of printing "Zig-Zag" Array with proper comments, clear explanation and proper indentation resulting in a clean code. My code will be in C++. Please assign me this issue, Hope to hear from you soon!

[2021-03-09 09:16] ShrutiKhatri826 commented on #229
I wish to contribute to this issue with proper comments, clear explanation and proper indentation resulting in a clean code. My code will be in C++. Please assign me this issue, Hope to hear from you soon @rudrakshi99 @nakul-19 @plazzy99

[2021-03-09 09:17] ShrutiKhatri826 commented on #227
I wish to contribute to this issue with proper comments, clear explanation and proper indentation resulting in a clean code. My code will be in C++. Please assign me this issue, Hope to hear from you soon @rudrakshi99 @nakul-19 @plazzy99

[2021-03-09 09:19] divya1509 commented on #291
Hey, I am Divya, a GSSOC'21 participant and I want to work on this issue in the Java language. I will provide a neat and well explanatory code for this using some example test cases as well. Please assign me this issue.
Thank you

[2021-03-09 09:19] ShrutiKhatri826 commented on #202
I wish to contribute to this issue with proper comments, clear explanation and proper indentation resulting in a clean code using python language as a part of GSSOC'21 Participant.

Please assign me this issue, Hope to hear from you soon @rudrakshi99 @nakul-19 @plazzy99

[2021-03-09 09:21] ShrutiKhatri826 commented on #195
I am a GSSOC'21 Participant and I wish to contribute to this issue with proper comments, clear explanation and proper indentation resulting in a clean code.
My code will be in C++.
Please assign me this issue, Hope to hear from you soon!

[2021-03-09 09:22] ShrutiKhatri826 commented on #187
I wish to contribute to this issue with proper comments, clear explanation and proper indentation resulting in a clean code. My code will be in python. Please assign me this issue, Hope to hear from you soon!

[2021-03-09 09:23] ShrutiKhatri826 commented on #183
I wish to contribute to this issue with proper comments, clear explanation and proper indentation resulting in a clean code. My code will be in C++. Please assign me this issue, Hope to hear from you soon!

[2021-03-09 09:24] ShrutiKhatri826 commented on #179
I wish to contribute to this issue with proper comments, clear explanation and proper indentation resulting in a clean code. My code will be in C++. Please assign me this issue, Hope to hear from you soon!

[2021-03-09 09:25] Mitali-laroia opened #295 "Strassen Multiplication"
As a GGSOC'21 participant I would like to contribute to the project by adding an algorithm for strassen multiplication in a matrix. Kindly assign this issue to me. @todi-2000

[2021-03-09 09:26] ShrutiKhatri826 commented on #157
I wish to contribute to this issue with proper comments, clear explanation and proper indentation resulting in a clean code. My code will be in C++. Please assign me this issue, Hope to hear from you soon @rudrakshi99

[2021-03-09 09:34] Sakshi0401 commented on #254
Hi, I am GSSOC'21 participant. I wish to work on this using C++. Please assign me this issue.

[2021-03-09 09:35] sru123p commented on #279
Hello,
I am sruthi, GSSoC 2021 participant. I want to contribute the C++ code for implementation of heap data structure.
I will make sure the code is clean and also I will write comments to make it more understandable. Please assign this task to me.

[2021-03-09 09:39] Yash1256 opened #296 "For Implementation of Manacher’s Algorithm Algorithm in C++"
- As a GSSOC 2021 participant, I would like to add the Manacher’s Algorithm in Strings Section of the Code, and it's code will be in C++.
- It is a highly efficient algorithm which significantly reduces the computation time for problems involving finding Longest Palindromic Substring in a Given String.

Kindly assign this issue to me, I assure you that I will provide a clear explanation and clean

[2021-03-09 09:46] YashPaste opened #299 "LRU cache Implementation using Doubly Linked List & HashMaps in C++"
I would like to add code for the **implementation of LRU Cache** which will be submitted in C++ with proper comments and an explanation of the solution.
-> The LRU caching scheme is to remove the least recently used frame when the cache is full and a new page is referenced which is not there in the cache.

[2021-03-09 09:47] sru123p opened #300 "Complete set of Graph Algorithms in c++"
Hello,
I am sruthi, GSSOC 2021 participant. When I got started with graphs I found it difficult to understand various problems in graphs. Now after so many days of practice I understood the intuition behind every algorithm.
So I would like you contribute the problem set of graph algorithms(graph traversals, bfs, dfs,connect graphs, shortest paths, topological sorting, directed and weighted graphs,

[2021-03-09 09:47] Aarti002 commented on #261
hello everyone myself Aarti one of the participant of GSSoC'21 .
I would love to do this issue in python or c++.
Please assign  this issue to me.
Thank u!!

[2021-03-09 09:47] MukulKolpe commented on #266
Hey, I am a GSSOC'21 participant. Can you please assign this issue to me? I can work on it with Java.

[2021-03-09 09:49] Aarti002 commented on #262
hello everyone myself Aarti one of the participant of GSSoC'21 .
I would love to do this issue in python or c++.
Please assign this issue to me.
Thank u!!

[2021-03-09 09:49] Aarti002 commented on #263
hello everyone myself Aarti one of the participant of GSSoC'21 .
I would love to do this issue in python or c++.
Please assign this issue to me.
Thank u!!

[2021-03-09 09:50] Aarti002 commented on #266
hello everyone myself Aarti one of the participant of GSSoC'21 .
I would love to do this issue in python or c++.
Please assign this issue to me.
Thank u!!

[2021-03-09 09:52] Aarti002 commented on #269
hello everyone myself Aarti one of the participant of GSSoC'21 .
I would love to do this issue in c++.
Please assign this issue to me.
Thank u!!

[2021-03-09 09:53] vabhv1903 opened #301 "convert a integer into binary string"
i would like to work on  it  in C++ language under GSSoc'21

[2021-03-09 09:59] Aarti002 commented on #285
hello everyone myself Aarti one of the participant of GSSoC'21 .
I  would try my best to do all kind of string algorithms in anyone of these language either in python or in c++.
Please assign this issue to me.
Thank u!!

[2021-03-09 10:00] typicalrobot opened #302 "Would like to work on Stack , Array, Algorithm, Linked List"
My contributions would be for C++, consider assigning me this (GSSoC 21')

[2021-03-09 10:06] ritesh1731 commented on #301
I would like to contribute to this issue under GSSOC21. Can you please assign it to me?

[2021-03-09 10:09] codDoc98 commented on #263
hello assigners, am another participant of gssoc'21 please let me have this project.
I am so new to open source and inexperienced that these programming codes seem like only thing i can pull off .
Please assign me this and i'll implement it using java.

[2021-03-09 10:13] kratika19 opened #305 "Would work on stack, queue, linked lists"

[2021-03-09 10:29] bitaashna commented on #167
@nakul-19 @plazzy99 @rudrakshi99 can you please review it. I have pushed the code in another branch.
my code are in a folder named shortest_common_supersequence.

[2021-03-09 10:37] Vansh-Gupta4 commented on #195
I am a GSSOC '21 participant.

I wish to contribute a JAVA code for this issue:

My code will have comment lines to make it explanatory and understandable to everyone.
I will be very happy if I am assigned this issue and allowed to work on this.

[2021-03-09 10:39] Vansh-Gupta4 opened #308 "Balanced Paranthesis"

[2021-03-09 10:41] Vansh-Gupta4 commented on #308
import java.util.Scanner;

public class BalancedParenthesis {
    public static void main(String[] args) throws Exception {
        Scanner s = new Scanner(System.in);
    String str = s.next();
    Stack stack = new Stack();
    boolean ans = isBalanced(str,stack);
		if(ans == true){
        System.out.println("Yes");
    }
		else{
        System.out.println("No");
    }
}

    public static bool

[2021-03-09 10:41] #308 closed

[2021-03-09 10:41] aish2002 commented on #89
I am a GSSOC'21 participant. I can implement the count() and display() operations on stack in java

[2021-03-09 10:50] dhruvinfo28 commented on #193
@raksha009  I'm on it. Thankyou for assigning me!

[2021-03-09 11:04] NithishKumar2000 opened #310 "I would like to Work on stack element insertion, deletion and finding the maximum element using C++ and C as a part of GSSOC 2021"

[2021-03-09 11:14] Ananya88 opened #311 "[GSSOC'21] Adding to the Questions section of Bit Manipulation under algorithms"
Hey !!
I am interested in this project as GSSOC '21 participant .
And I would add some of the solved questions/examples for bit masking like  clear range of bits, counting set bits , generate subsets using bit-masking.

Please assign me with this issue .Thanks.

[2021-03-09 11:14] srisatya1197 commented on #291
I want to contribute to Height and Diameter of a Tree issue. Please assign me this task as a part of GSSoC'21

[2021-03-09 11:14] Vish-github opened #312 "Sort in O(N) time"
Say we are given an array of integers in the range 0-9 or 0-100 .
i can write a C++ code to sort the array in linear time O(N) .
Please assign me this issue.  @tarun26091999  @rudrakshi99 @Siddhant-K-code  [ I'm a Gssoc21 Participant ]

[2021-03-09 11:16] srisatya1197 commented on #300
I want to contribute to this issue. Please assign me this task as a part of GSSoC'21

[2021-03-09 11:17] srisatya1197 commented on #299
I want to contribute to LRU cache Implementation using Doubly Linked List & HashMaps in C++ issue. Please assign me this task as a part of GSSoC'21

[2021-03-09 11:20] chitrasingla opened #314 "[GSSOC'21] Adding more DP problems"
Hi !!
I am interested in this project as GSSOC '21 participant.
And I would add some of the solved questions/examples for DP like coin change, rod cutting, unbounded knapsack.

Please assign me with this issue.
Thanks.

[2021-03-09 11:20] rohank2502 opened #315 "Concept of POINTER !!"
I will like to add content regarding concept of POINTER !! I will make sure that the content will be begineer friendly. I will  add my own notes in my own words not copied from any other sources. I will also make sure that code will run perfectly and also make use of comments so that new students will understand the particular concepts easily !!